[2021-01-31 16:02] akasolace commented on #840
ok I see the issue, I will fix this one shortly and let you know ...

[2021-01-31 16:19] DavidatorusF commented on #875
@wsbrenk

training -> prediction

![image](https://user-images.githubusercontent.com/45043004/106390293-f8575400-63e7-11eb-9095-09a4dcf7f5db.png)

before we only saw the prediction according to the forecast of future training

displaying everything is nice but being able to select the ones you really want to see would be cool

[2021-01-31 18:09] DavidatorusF commented on #875
@wsbrenk  I'm so confused... I become old...

Preferences->Training->Display skill downs did the trick

[2021-01-31 18:09] #875 closed

[2021-01-31 18:59] wsbrenk commented on #875
@DavidatorusF this is what I wish to you: to become very old - I am old;-)

[2021-01-31 20:01] akasolace commented on #840
@manfredberner actually I see now you have a connection error. Are you using HO! behind a proxy. Could it be that your firewall is blocking HO from accessing internet ?

[2021-01-31 21:33] manfredberner commented on #840
No firewall, proxy. With HO 3 all is good.

[2021-01-31 22:09] akasolace commented on #840
You have this error after you put the security code ?

[2021-02-01 06:35] manfredberner commented on #840
Yes

[2021-02-01 08:59] akasolace commented on #795
might be closed by training refactoring (see 7f91540834a18c8be13e4d53df640ae6f2be95f3)

[2021-02-01 09:07] akasolace commented on #840
@manfredberner really I can't reproduce.
I just downloaded HO-5.0.3392.0-portable-win-DEV-JRE,  I launched it put my security code and I was good to go.
The only thing that is different on my system is that I have Java 15.0.1 installed (https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk-15.0.2%2B7/OpenJDK15U-jre_x86-32_windows_hotspot_15.0.2_7.msi).
In theory this should not

[2021-02-01 09:17] akasolace commented on #840
@wsbrenk @tychobrailleur I just realized we are still using scribe 1.3.0 which has been release in 2011. Are we holding this one for any particular reason or should we try to bum the version see if it makes connection to HT more reliable .... (personally I never encountered issue but maybe latest version provide more information about connection time out issue). What do you think ?

[2021-02-01 12:07] tychobrailleur commented on #840
Yes, I remember upgrading, and then reverting again during the Java 11 upgrade – I believe this was because of Java modules issues, which we finally solved.

I can look into upgrading this lib again (it was working fine after the upgrade), but IMHO the issue at hand here is unrelated.

[2021-02-01 12:16] manfredberner commented on #840
I installed java 15.0.1 but that didn't help. To be clear: Security code works. But downloading works only with many, many errors.

[2021-02-01 12:33] akasolace commented on #840
@tychobrailleur I actually did the upgrade just after my last message as I recalled it was modules related.

Yes I also doubt it will help

[2021-02-01 16:15] akasolace commented on #836
duplicate of #795

[2021-02-01 16:15] #836 closed

[2021-02-01 16:16] akasolace commented on #874
duplicate of #795

[2021-02-01 16:16] #874 closed

[2021-02-01 16:19] akasolace commented on #250
@wsbrenk could be nice to look at this issue before 5.0 release. Do you want to give it a shot ?

[2021-02-01 16:21] akasolace commented on #682
@wsbrenk is there still something you want to do with this ticket ?

[2021-02-01 19:57] manfredberner commented on #840
it finally worked with 3407. thank you

[2021-02-01 20:03] wsbrenk commented on #682
@akasolace not in this release i think. prio is lower than youth ticket.

and I still have the ambition to realize the graphical Drag&Drop feature, if i could get support on that  - in ui programming i'm still a bloody beginner.

[2021-02-01 20:05] wsbrenk commented on #682
on this ticket and on my very first project concerning special event prediction, there is zero feedback from the community. this is a pity;-)

[2021-02-01 20:16] wsbrenk commented on #250
@akasolace i could do - but i think we changed something that could have make it better already. we added the handling of skill lost estimation. maybe the values are better today.

[2021-02-02 08:59] akasolace commented on #682
I am wondering how many users are using the man marking orders. Since I play HT, I never used it and I only saw once one of my opponent use it against me ....

[2021-02-02 09:03] akasolace commented on #250
to be honest I don't even know where/how those training formula are coded.
We can also leave this for the future after 5.0 ....

[2021-02-02 09:05] akasolace commented on #682
generally I think it is fun to develop HO! this is why I am doing it .... if it was for recognition I would have stopped a while ago :-)

[2021-02-02 09:30] wsbrenk commented on #682
I agree with you in principle, and I have to say that the feedback from the HO community is much more euphoric and enthusiastic than that in the real profession, where i invest a lot more effort. i agree with you, it is all about the fun, but the difference is always remarkable.

concerning non feedback to special events - it was a joke.

[2021-02-02 09:42] wsbrenk commented on #250
@akasolace i will check those formulas and will try to record the differences of their results in comparison to the existing ones in our logs. So we could check which one we want to use for the future.
don't know if i will get that today (my year number increments again), but at the end of this week we should have it done.

[2021-02-02 11:10] akasolace commented on #250
@wsbrenk sure there is no rush and happy birthday :-) !

[2021-02-02 16:47] #840 closed

[2021-02-03 10:32] #782 closed

[2021-02-03 15:20] akasolace commented on #868
@poteus could you please share your database here that I could do some testing ?

[2021-02-03 15:45] wsbrenk commented on #250
Training | Age | Skill | Full | Partly | Osmosis | current Formula | proposed Formula | difference
-- | -- | -- | -- | -- | -- | -- | -- | --
Torwart | 34 | 15 | 90 | 0 | 0 | 0,112953671 | 0,103553404 | 0,0094
Verteidigung | 23 | 7 | 90 | 0 | 0 | 0,20173751 | 0,192310674 | 0,0094
Verteidigung | 20 | 6 | 90 | 0 | 0 | 0,240192045 | 0,232531357 | 0,0077
Verteidigung | 19 | 5 | 90 | 0 | 0 | 0,28301784

[2021-02-03 15:50] wsbrenk commented on #250
on average, the current formula makes 0.006 training points more per week than the proposed one

[2021-02-03 15:53] wsbrenk commented on #250
thanks

[2021-02-03 15:56] akasolace commented on #250
Fairly similar, I tend to believe there are much more backup on the other formula than in HO! one.
At least I received many feedback on the forum telling me so .

[2021-02-03 16:07] #250 closed

[2021-02-03 17:17] poteus commented on #868
https://drive.google.com/file/d/1ZoWDXnOms3QA2Qxs-x2Q-kkmCy7WCAFE/view?usp=sharing

[2021-02-03 17:43] akasolace commented on #832
@wsbrenk I reopened this ticket as I can see it again today. Wheather information are correct for my upcoming league game but null for my upcoming division tournament game.
You have been the one developing that part maybe you can have a look ...

[2021-02-03 17:43] akasolace commented on #832
@wsbrenk I reopened this ticket as I can see it again today. Wheather information are correct for my upcoming leagure game but null for my upcoming division tournament game.

[2021-02-03 17:44] #866 closed

[2021-02-03 17:45] akasolace commented on #868
thank you

[2021-02-03 17:46] akasolace commented on #842
@elmero1 sorry but this issue has never been reported by someone else and we can't reproduce it. Hence we gonna close it for the time being.

[2021-02-03 17:47] #842 closed

[2021-02-03 18:19] wsbrenk commented on #832
@akasolace i'm no longer a friend of division battles, so i can not reproduce this issue.

looking at OnlineWorker.downloadMatchData, i found my comment from last year saying that in division battle match details the arena id is set to 0. if that is still the case, there is no chance to retrieve weather infos, i think.
could you try to verify this?

XMLMatchdetailsParser.readArena should init aren

[2021-02-03 19:45] akasolace commented on #832
yes this is the issue I guess:

[code]

[2021-02-03 19:49] akasolace commented on #868
@poteus actually can I ask you to share with me your db folder ... I would like to check couple of things and the hrf won't be sufficient ... You can also send me the link via HTmail if you want to keep it confidential.

Thank you

[2021-02-03 19:50] poteus commented on #868
So the folder with all the hrf?

Alexis Rivera
Math - STEM - Robotics

On Wed, Feb 3, 2021 at 1:49 PM akasolace <notifications@github.com> wrote:

[2021-02-03 20:37] akasolace commented on #868
no the folder with the database, normally called /db if you haven't renamed it.

[2021-02-03 20:44] poteus commented on #868
Check the folder I shared with you. I added the folder "db2".
Let me know if I can do anything else.

Bon courage!

Alexis Rivera
Math - STEM - Robotics

On Wed, Feb 3, 2021 at 2:37 PM akasolace <notifications@github.com> wrote:

[2021-02-04 07:51] akasolace commented on #868
Merci

[2021-02-04 10:23] akasolace commented on #868
@poteus actually a very last thing before I can start looking at it, can you share a screenshot from HT of your upcoming game ?
Thank you

[2021-02-04 13:49] poteus commented on #868
[image: Screen Shot 2021-02-04 at 7.48.52 AM.png]

Alexis Rivera
Math - STEM - Robotics

On Thu, Feb 4, 2021 at 4:23 AM akasolace <notifications@github.com> wrote:

[2021-02-04 14:05] akasolace commented on #868
@poteus I see the name of the attachment but not the attachment itself. Maybe it does not work to add attachement to GitHub ticket via mail ....

[2021-02-04 14:26] poteus commented on #868
![Screen Shot 2021-02-04 at 7 48 52 AM](https://user-images.githubusercontent.com/20169360/106906350-af8eec00-66c2-11eb-8832-cba48a8e5955.png)

My mistake... :)

[2021-02-04 14:50] akasolace commented on #868
The db you sent me is for the team Golden Bots and the screenshot for team Starlite ...

[2021-02-04 14:59] poteus commented on #868
![Screen Shot 2021-02-04 at 8 58 41 AM](https://user-images.githubusercontent.com/20169360/106910815-3776f500-66c7-11eb-9c4c-96a5e0f19eb9.png)

OMG!! What a mess! Sorry bud.

[2021-02-04 15:58] akasolace opened #884 "[BUG] remove Time shift in preferences"
Remove current time offset functionality in preference (quite broken). Introduce time zone or system default selection.
Change code accordingly e.g.  Basics.parseHattrickDate  should have something like

[code]

code example for the listing of all zonesID:
https://mkyong.com/java8/java-display-all-zoneid-and-its-utc-offset/

[2021-02-05 07:45] akasolace commented on #868
hi @poteus if I understood correctly your HT-mail, you have been tested the latest dev version 5.0.3410 and:
     - you still have incorrect display of match time ?  Both in match tab and lineup tab? I made some check on match tab, it seemed fixed so I assumed it will be fixed also on Lineup tab ...
     - You are able to send Lineup correctly? tbh, I am a bit confused here I thought I still had t

[2021-02-05 09:23] wsbrenk commented on #825
sorting is done

[2021-02-05 12:01] wsbrenk commented on #884
@akasolace Internal time representation should be a unique, not changeable one. for now it is the hattrick time zone (CEST). Only the displays should be configurable for the users. we should spent a basics.formatDateTime method to handle this uniquely for all usages.

[2021-02-05 12:28] lv913 opened #888 "Start HO 4.1 without using HO.exe"
Hi, I need to use the portable version without starting it through HO.exe, as my laptop has a protection enabled against untrusted exe files.
In the older versions it was possible to launch manually JRE and start HO.jar.
Can you suggest a way to do the same in HO 4.1?

[2021-02-05 13:01] akasolace commented on #888
@lv913 can't you bypass the restriction i.e authorizing Windows to open this .exe? Otherwise I don't know but I can look into this ...

[2021-02-05 13:02] akasolace commented on #884
@wsbrenk  yes I was talking about the display using the function `parseHattrickDate ()`

[2021-02-05 13:33] datatramp commented on #795
With todays training update, the errors in HO! 5DEV are still there.
I run stable HO! 3.0 with no issues, everything as expected
and parallel HO! 5.0 DEV r3407 in seperate directory and its own db on Win10 pro 64bit latest build.

After downloading training update with HO!5.0DEV,
some players with substitution in games did not receive (correct) training improvement,
a during game injured Player di

[2021-02-05 13:51] lv913 commented on #888
No unfortunately I don't have control over the security suite...
What does exactly the exe file? Is it a wrapper for launching the HO.jar with some parameters?

[2021-02-05 14:24] akasolace commented on #795
@datatramp are you using the latest DEV r3410 ?

[2021-02-05 14:30] akasolace commented on #888
yes

[2021-02-05 14:30] wsbrenk commented on #884
@akasolace i'm not sure if parseHattrickDate is used only for displaying purpose.

[2021-02-05 14:34] akasolace commented on #888
if you want to give it a try I suggest you to look at the script in the Unix portable release....

[2021-02-05 14:37] akasolace commented on #884
ah ok so I will introduce a `parseHattrickDate(Boolean localDatetime)`

[2021-02-05 14:44] wsbrenk commented on #795
i will debug this

[2021-02-05 14:44] datatramp commented on #795
No this report is for r3407, did not check for yesterdays new r4310 version.
How do I proceed?
Just update with HO! update feature with current issues in r3407, or should I delete and have a fresh r4310 and go from there /draw fresh update from hattrick?

[2021-02-05 15:23] akasolace commented on #884
@wsbrenk actually, what I would like to do is:
   - keep timestamp only for db storage and hrf
   - in all other case use ZonedDateTime

I think we could even have a class witch hold the 3 informations:
    - timestamp, ht and localdatetime  hence there will be no confusion, we know what we get ....

[2021-02-05 16:14] wsbrenk commented on #795
i'm debugging

[2021-02-05 16:18] lv913 commented on #888
Ok it worked launching the following command:

`E:\Documenti\HO-4.1-win>E:\Documenti\HO-4.1-win\jre\bin\java.exe -classpath "E:\Documenti\HO-4.1-win\.install4j\i4jruntime.jar;E:\Documenti\HO-4.1-win\.install4j\launcher9f1a8bf3.jar;E:\Documenti\HO-4.1-win\*;E:\Documenti\HO-4.1-win\prediction" install4j.core.HOLauncher`

The only issue appears to be with .install4j\launcher9f1a8bf3.jar, which exists

[2021-02-05 16:55] akasolace commented on #884
@wsbrenk I started work on this ....  https://github.com/akasolace/HO/tree/feature/884

[2021-02-05 17:56] akasolace commented on #888
I never really looked into this. Glad you achieved what you wanted.

[2021-02-05 17:56] #888 closed

[2021-02-05 18:33] wsbrenk commented on #795
poor man cup matches are the problem, they are not loaded for training calculation

[2021-02-05 18:55] wsbrenk commented on #884
@akasolace in my opinion the only case, where we should use other timezone than CEST is the display purpose. if we calc durations or compare DateTimes, we have to use one defined internal time zone. in germany we say: otherwise you'll come into devil's kitchen.

[2021-02-05 18:57] wsbrenk commented on #795
@datatramp thanks a lot for providing your database.

[2021-02-05 19:42] akasolace commented on #884
@wsbrenk we need for display and for #872 ...

[2021-02-05 20:36] #795 closed

[2021-02-05 22:11] akasolace commented on #868
@poteus  I changed the timezone on my PC to test it and it works for me:

![image](https://user-images.githubusercontent.com/1136496/107094568-862ba880-6807-11eb-9ece-d5304fa77cbb.png)

![image](https://user-images.githubusercontent.com/1136496/107094577-8af05c80-6807-11eb-9834-be8dd5f189d2.png)

[2021-02-05 22:18] #868 closed

[2021-02-05 22:18] #872 closed

[2021-02-05 22:21] akasolace opened #891 "[FEATURE] Let users select a time zone different than local system for display"
Remove current time offset functionality in preference (quite broken). Introduce time zone or system default selection.

[2021-02-06 16:14] NaTakk3422 commented on #853
So, when is the solution available? Can I get a beta to test?

[2021-02-07 16:44] akasolace commented on #853
yes you can test a dev version

[2021-02-08 09:19] wsbrenk opened #895 "[BUG] Last match column can not be sorted by match date"
in player overview table i was used to order by match date. with the new merged information the order is given by the rating value. I would like to have two different columns, one showing the rating of last match and another one showing the match date.

[2021-02-08 10:17] #860 closed

[2021-02-11 14:48] akasolace opened #902 "[BUG] refactoring Training calculation methodology"
- [x] add trainerSkill to TPW vectors

 - [x] update trainingManager with history timespan (input from @wsbrenk)
   - [x]  next week training loaded at start
   - [x]  last 7 weeks loaded at start (stored in training manager and displayed in training tab
   - [x]  in training tab offer the user the possibility to load the full history (no game needed)
   - [x] subskill recalculate also offer 2 sea

[2021-02-11 15:01] akasolace opened #903 "[BUG] trainweekmanager"
private static final Instant m_NextTrainingDate = HOVerwaltung.instance().getModel().getXtraDaten().getTrainingDate().toInstant()

in trainweekmanager will crash for freshinstall

[2021-02-11 20:13] akasolace opened #905 "[BUG] store trainer level information inside VEREIN table"
**Describe the bug**
 - [ ] change VEREIN table
 - [ ] recreate the history during db update to new version
 - [ ] in the future ensure that parsing player xml will add an entry inside VEREIN
 - [ ] use that time serie in trainingWeekInformation

[2021-02-12 08:09] NaTakk3422 commented on #853
ok, tested with the 5.0 DEV. There it is working! Can I update from DEV to a later stable version?

[2021-02-12 08:26] akasolace commented on #853
@NaTakk3422 yes this will be possible. However, I advise you to be very careful if you use a dev version. We are doing some heavy changes at the moment and I can't guarantee that a dev version will not break everthing. You should always keep backup of your data when using dev version.

[2021-02-12 08:26] #853 closed

[2021-02-13 23:42] aristodemos2008 opened #909 "[BUG] java error expanding download filter"
**Describe the bug**
I get a java error when I expand the tree in the download filter

**To Reproduce**
Steps to reproduce the behavior:
1. Press F11
2. Expand "current matches"
3. Expand "integrated matches"
4. Mouse hover the download window

**Screenshots**
[java error](https://www.screencast.com/t/VXsjAHpAIou)

**Platform information:**
 - OS: Windows
 - Version HO-4.1.3310.2-portable-win-JRE

[2021-02-14 09:27] wsbrenk commented on #903
FutureTrainingTable is broken. it uses TraininPerWeek, especially deleted methods

[2021-02-14 11:03] wsbrenk commented on #903
FutureTrainingTable changed (same structure as TRAINING).
DBUpdater data migration needs to be done.

Statistics need refactoring of TrainingPerWeek usage.

[2021-02-14 11:30] wsbrenk commented on #903
statistic could get the week list with
select min(hrf_id) from hrf group by  100*YEAR(datum)+WEEK(datum)

[2021-02-14 13:47] thwkmst opened #913 "[BUG] TeamAnalyzer/Manual: subsequent analysis only after result has been emptied"
**Describe the bug**
In the TeamAnalyzer/Manual: You have to empty the result before you can analyze a new game selection.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'TeamAnalyzer'
2. Select 'Manual'
2. Select one or more games
3. Click 'Analyze' -> all is fine
4. Now select an additional game
5. Click 'Analyze' -> doesn't work
6. (You have to unselect all games, then click 'Analy

[2021-02-14 15:02] wsbrenk commented on #903
HTSkillID versus PlayerSkill should be refactored too

[2021-02-15 13:27] akasolace opened #918 "[BUG] dev artefacts might update DBversion (to be checked)"
1. check/set db is version 4.0
2. launch HO dev (not from IDE but from packaged app)
3. ensure db version is still 4.0 after closing HO

[2021-02-16 09:10] ericm78 opened #919 "[BUG]"
**Describe the bug**
On 10 February I played my first match in the Sapphire Cup. Although the match is shown in the matches tab, no training is calculated. The competition player did get an update.
I double checked the formation, but it is a normal 3-5-2, so nothing special.

**To Reproduce**
Play a match in the Sapphire Cup and see if training gets updates

**Screenshots**
If applicable, add scre

[2021-02-16 09:24] akasolace commented on #919
hello @ericm78 this is know bug, that has been fixed for the upcoming 5.0 release.

[2021-02-16 09:24] #919 closed

[2021-02-16 09:30] ericm78 commented on #919
Hi @akasolace
Ah ok, next time I will spend more time going through the log...
Thanks for the quick answer

[2021-02-17 07:44] akasolace opened #921 "[FEATURE] Possibility to switch team without restarting HO!"

[2021-02-21 10:43] wsbrenk opened #923 "[FEATURE] new version of chpp file players available"
CHPP - Changelog
2021-01-19
players - 2.5
Added Output: TransferListed
Removed Output: TransferListed

TransferListed is changed fom Integer to Boolean

[2021-02-21 10:50] wsbrenk commented on #923
Removed class XMLPlayerParser. It is not used anymore.
Years ago the function was replaced by constructor of Player(Properties).

[2021-02-22 13:41] akasolace commented on #923
closed by #924

[2021-02-22 13:41] #923 closed

[2021-02-22 13:46] #903 closed

[2021-02-22 13:47] #902 closed

[2021-02-22 16:53] gescobita opened #928 "[BUG] Provide 32 bits installer"
**Describe the bug**
Hi, when I try to install the last version of HO, it send me this messagee
"The version of this file is not compatible with the version of windows you're running. Check your computer's system information to see whether you need an x86 or x64 version of the program."

I have tried to install both with JRE and without and am getting the same error message.

**Platform informatio

[2021-02-22 18:25] akasolace commented on #928
@gescobita  I will shortly release some 32bits artefacts (next week ? ) , I will et you try and provide feedback...

cheers

should be closed by 119f620f85e57a491c0cbfe1bfc55894a16b027e

[2021-02-23 14:05] akasolace commented on #629
@RenosG without news on this issue and no database to investigate I will close this issue.
Please feel free to reopen it if still valid

[2021-02-23 14:05] #629 closed

[2021-02-23 14:09] akasolace commented on #913
@thwkmst thank you for reporting the issue, I could reproduce it, I will have a look at is shortly

[2021-02-23 21:19] tychobrailleur commented on #909
This seems to happen with a darklaf theme when the whole checkbox node `CheckedNode` in the `CheckBoxTree` is not fully visible in the panel, and it tries to render the "hint popup" (i.e. a tooltip displaying the full text above the component).  Scrolling the panel sideways exhibits the same issue on the entries that are cutoff on the left at the top.

(There is a similar issue reported for JMeter

[2021-02-23 21:37] tychobrailleur commented on #909
NPE occurs when `CellHintPopupListener` tries to retrieve `CheckBoxTree` parent as it renders the popup component, it doesn't seem to be set correct as it is `null`.

Probably not related but the following warning also appears:

[code]

[2021-02-23 21:48] tychobrailleur commented on #909
`com.github.weisj.darklaf.ui.tree.DarkTreeUI` creates the popup listener when the component is being created, when the tree has not been added to a container yet, and therefore has no parent.  Not sure why the reference doesn't get the parent later, it could be the tree is a copy of the actual component.  Still digging.

[2021-02-24 07:36] #913 closed

[2021-02-24 07:38] akasolace commented on #909
@tychobrailleur great that you have been already looking into it. So if I understand correctly it is a Darklaf issue and it works as expected under Nimbus, correct?

[2021-02-24 09:51] akasolace commented on #833
@wsbrenk what do you think we need to do here?  We don't really do anything related to world cup in HO!, no ?

[2021-02-24 10:01] akasolace commented on #825
@wsbrenk should this one be considered done?

[2021-02-24 10:03] akasolace commented on #367
@wsbrenk is there still a lot to do on the Youth module ?

[2021-02-24 10:05] akasolace commented on #891
to be done together with #884

[2021-02-24 10:23] akasolace opened #931 "[BUG] move Preference -> Misc -> Future Weeks to Preference -> Modules -> Training"
![image](https://user-images.githubusercontent.com/1136496/108986739-c063c980-7692-11eb-9ba5-4d610a836371.png)

[2021-02-24 10:26] akasolace opened #932 "[BUG] useless entries in Preferences -> General"
Check whether or not the following entries are used ? Should they be removed / moved / better described ?

![image](https://user-images.githubusercontent.com/1136496/108986915-f99c3980-7692-11eb-9a5c-cdb2f104dd41.png)

[2021-02-24 14:33] akasolace commented on #884
@poteus if you could try this one when new artefacts are release (later this week) ... thank you !

[2021-02-24 14:35] akasolace commented on #868
@poteus as a follow up to this ticket, I know allow user to set timeZone in preference in case not correctly detected by the System.
If you could try new DEV artefacts (to be released later this week) to ensure that all works correctly for you, thank you

[2021-02-24 14:40] tychobrailleur commented on #909
Yes.  I haven't figured out yet if this was due to some funky logic on our side in `CheckBoxTree`, I'll see if I can recreate a smaller repro to isolate.

[2021-02-24 16:51] #815 closed

[2021-02-24 18:19] wsbrenk commented on #825
Skill editor is one leftover TODO. could be a candidate for an extra ticket

[2021-02-24 18:20] wsbrenk commented on #833
to be honest - i have no idea if there are any users working with HO an national teams and what they expect concerning this new format. and i think this kind of matches are ignored by HO.

[2021-02-24 19:43] tychobrailleur commented on #909
I have a [small repro](https://gist.github.com/tychobrailleur/8bc41e4adc930a2aad1f4ed159df369d) of the issue with darklaf, the issue occurs when a custom `TreeCellRenderer` is used.  I will submit a bug report to the darklaf project.

In the meantime I found a far from perfect workaround which prevents the NPE, but does not fully show the expected text, I'll submit a PR.

[2021-02-24 23:55] DavidatorusF commented on #827
@cr0ssw1nd
do you still have this problem ?
I haven't... it's working for my 3 teams...

[2021-02-25 07:24] #884 closed

[2021-02-25 07:24] #891 closed

[2021-02-25 09:38] akasolace opened #935 "[BUG] multiples issues in training module following refactoring"
Issues also existing in 4.1:

  - editing future training line one by one seems to affect correctly training recap **but not bottom left table**
 -  doing a set all seems to affect correctly both

@wsbrenk do we really want to display training projection in bottom left ? if yes I guess we need to rename this table, "training history" does not seem appropriate if it also show the future => maybe so

[2021-02-25 14:32] weisJ commented on #909
To give some context about this warning. The warning is due to an transparency issue with the X11 window implementation of the jdk. Heavyweight popups disable double-buffering, which results in forced opaque windows on some desktop managers (e.g. Gnome).

[2021-02-25 14:41] akasolace commented on #909
@weisJ see you fixed it already, this is great !   Any ETA for v2.5.6 ?

[2021-02-25 14:46] tychobrailleur commented on #909
Thanks for the context Jannis – I don't have any concern at this stage with these warnings, I just logged it in case it became relevant for my analysis.

And thanks once again for the prompt help on this, truly appreciated.

[2021-02-25 18:24] wsbrenk commented on #935
i agree with proposed renamings

[2021-02-26 14:59] akasolace commented on #834
@wsbrenk It has been reported only once, I am not sure what we can do here .... I think we can just close this issue, what do you think ?

[2021-02-26 18:48] wsbrenk commented on #834
i think it should be fix by https://github.com/akasolace/HO/commit/7b681fa0d62837e494478197f1819e6f68b69a62

[2021-02-26 21:32] wsbrenk commented on #367
@akasolace some ui beautifying by ui experts. the skill editor is an extra ticket. could all be done in new tickets, i think.

[2021-02-26 23:00] #834 closed

[2021-02-26 23:02] #367 closed

[2021-02-27 06:59] wsbrenk commented on #833
I am convinced that it could have a huge advertising impact if we could work together with some national team coaches.
perhaps we are surpassing the youthclub in the annual chpp applications ranking;-)

[2021-02-27 09:51] akasolace commented on #833
yeah I am just not sure what we can offer really. But the way I understand it, it is potentially more a new feature than a bug fixe so maybe the ticket is for another release and not for 5.0, right ?

[2021-02-27 10:23] akasolace commented on #928
@gescobita could you please try the 32 bits installers ?

[2021-02-27 10:34] wsbrenk commented on #833
@akasolace confirmative

[2021-02-27 15:14] tychobrailleur commented on #895
I have started work on this to separate rating and last match date in the Squad table.
https://github.com/tychobrailleur/HO-t/commit/78e48f8dc646848ef6b6cf76cdf8591f05a13aed

Some more work is needed to fix sorting, and restore last match date in player overview.

[2021-02-28 09:11] wsbrenk opened #939 "[FEATURE]Youth handle top3 skills"
at arrival of youth players, the scout mentions information of up to 2 skills (current/start skill level and one maximum reachable/potential of hopefully other skill).
these skills are selected from the 3 highest potentials.
with further information from trainer's training reports it is possible to conclude to potentials of other skills.

SkillInfoColumn should mark the top3 skills

[2021-02-28 11:57] wsbrenk commented on #939
![image](https://user-images.githubusercontent.com/11821502/109417556-71849f80-79c4-11eb-80fd-687719d02c05.png)

top3 skill are marked by a black frame around the skill bar

[2021-02-28 18:08] akasolace commented on #895
@tychobrailleur ok cool

[2021-02-28 19:12] zigmond opened #941 "[BUG] New player on the Team bug"
4.0 r2736

When I buy a new player, when I click on him on the squad tab I get
    java.lang.NullPointerException

When I try to put him in the lineup tab
It won't even me close the error box and I have to end the process from task manager
The player will stop causing am error only after his first match with the team (league/cup/Friendly) not tournament or ladder
java.lang.NullPointerException
	at

[2021-02-28 19:35] gescobita commented on #928
Hi, I've tried with (HOSetup-32bits-5.0.3436.0-DEV-JRE.exe) and gives me the same error that in the original post.

After I tried with (HOSetup-32bits-5.0.3436.0-DEV.exe) and it shows me this ""The install4j wizard could not find a Java(TM) Runtime Environment on your system"

I downloaded the Zip files, but I don't know how to use them, and I failed to understand the info on Documentation. sorry

[2021-03-01 08:22] akasolace commented on #941
@zigmond  thank you for reporting this bug. I will try to reproduce.

[2021-03-01 08:24] zigmond commented on #941
Diolch :)
If there is anything else I can do, let me know please :)

Zig

On Mon, 1 Mar 2021 at 08:23, akasolace <notifications@github.com> wrote:

[2021-03-01 08:34] akasolace commented on #941
if you have a database where the bug you described is still present, you can share it ....

[2021-03-01 08:35] zigmond commented on #941
Please remind me where .

On Mon, 1 Mar 2021 at 08:34, akasolace <notifications@github.com> wrote:

[2021-03-01 08:36] zigmond commented on #941
Is it the latest HRP ?

On Mon, 1 Mar 2021 at 08:35, Avi <aviarna@gmail.com> wrote:

[2021-03-01 08:38] zigmond commented on #941
HRF I mean

On Mon, 1 Mar 2021 at 08:36, Avi <aviarna@gmail.com> wrote:

[2021-03-01 08:39] akasolace commented on #941
no it would be a database folder (to be shared for example via https://wetransfer.com/ or similar service)

[2021-03-01 08:41] akasolace commented on #941
next time you buy a player, if that causes the same issue you can share your db before it get fixed by the player playing a game.

[2021-03-01 08:45] zigmond commented on #941
Using that link, hopefully being sent to you now

*Samuel Ockenhouse
<https://stage.hattrick.org/Club/Players/Player.aspx?playerId=457077732&BrowseIds=391207719,412734944,416870217,425468052,433729785,442333238,456081439,388476785,411345454,413745038,414804531,416334710,416922135,420250867,427600947,428839776,434671929,434401090,455970527,457003806,458285446,458491398,456739974,458060679,458403033

[2021-03-01 08:54] zigmond commented on #941
It says it was sent, please let me know if you got it/anything else I can do

On Mon, 1 Mar 2021 at 08:45, Avi <aviarna@gmail.com> wrote:

[2021-03-01 08:56] akasolace commented on #941
sent to me how ?   I guess you need to copy / paste the link in this chat ...

[2021-03-01 08:59] zigmond commented on #941
Files sent to
notifications@github.com
1 item, 313 MB in total ・ Expires on 8 March, 2021
Thanks for using WeTransfer. We'll email you a confirmation as soon as your
files have been downloaded.

Recipients
notifications@github.com
Download link
https://we.tl/t-YvnbFY5JsL
1 item

db
Folder・7 items

Message
[BUG] New player on the Team bug (#941)

On Mon, 1 Mar 2021 at 08:56, akasolace <notification

[2021-03-01 08:59] zigmond commented on #941
Hope that's the one... :)

On Mon, 1 Mar 2021 at 08:59, Avi <aviarna@gmail.com> wrote:

[2021-03-01 10:35] akasolace opened #942 "[BUG] add header to hattid request"
As requested by Harrid owner:

[code]

[2021-03-01 20:22] #939 closed

[2021-03-02 18:56] akasolace opened #945 "[BUG] Lineup setting panel not updated anymore when selecting new game"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-02 18:57] akasolace opened #946 "[BUG] initilialize value of future training editor if all entries similar"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-02 19:27] #945 closed

[2021-03-02 20:17] #942 closed

[2021-03-02 20:22] akasolace opened #949 "[BUG] Hattid value not displayed anymore in League module"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-03 13:52] #827 closed

[2021-03-03 14:04] akasolace commented on #928
@gescobita try to install the JRE (https://github.com/AdoptOpenJDK/openjdk15-binaries/releases/download/jdk-15.0.2%2B7/OpenJDK15U-jre_x86-32_windows_hotspot_15.0.2_7.msi)
and try again to use the version HOSetup-32bits-5.0.3436.0-DEV.exe, let me know how it goes ...
thank you

[2021-03-03 14:12] akasolace commented on #928
@gescobita there was a bug with HOSetup-32bits-5.0.3436.0-DEV-JRE.exe that I just fixed ( I think).
In case you can't install the JRE on your PC please wait until I produce new artefacts with JRE included.

If you download a zip including JRE you just need to launch the program HO.exe, if you downloaded a zip without JRE you need to install if by yourself (see link in post above) and then you can

[2021-03-03 14:21] akasolace commented on #941
@zigmond I tried with latest version and I can't reproduce ( can you please give it a try with https://github.com/akasolace/HO/releases/tag/dev) ....

[2021-03-03 14:29] zigmond commented on #941
Which of the assets ? :)

On Wed, 3 Mar 2021 at 14:22, akasolace <notifications@github.com> wrote:

[2021-03-03 14:37] akasolace commented on #941
if you are in windows 10 and I imagine 64bit version, I suggest you to test using:
HO-5.0.3436.0-portable-win-DEV-JRE.zip

[2021-03-03 14:53] zigmond commented on #941
Can't
get an error of couldn't load main class :(

On Wed, 3 Mar 2021 at 14:37, akasolace <notifications@github.com> wrote:

[2021-03-03 16:23] akasolace commented on #941
This is strange, I just try it:  download it, unzip enter the folder and launch HO.exe, works just fine for me ....

[2021-03-03 16:25] zigmond commented on #941
Yes, it just stuck on load latest data for about 15 minutes until I am fed
up and "killing" it from task manager :(

On Wed, 3 Mar 2021 at 16:23, akasolace <notifications@github.com> wrote:

[2021-03-03 16:31] akasolace commented on #941
so you mean that: you can launch HO! but you can't do download new data, right ?
Can you please be super precise otherwise it is difficult to figure out what is going on ....

[2021-03-03 16:36] zigmond commented on #941
Yes, sorry, at first it said couldn't load main class, but that, I guess
was due to permissions that needed to be ticked :)

Then came the load latest dat, gave it 15 minutes and at the end it on task
manager ...

On Wed, 3 Mar 2021 at 16:32, akasolace <notifications@github.com> wrote:

[2021-03-03 16:58] akasolace opened #951 "[BUG] some statistics graphs are broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-03 17:08] akasolace commented on #941
can you please tell me exactly what you are doing cause I can't reproduce.
I am doing the following:
   1. download HO with JRE portable version
   2. launch it (all good ) and close it
   3. copy your db folder
   4. launch HO!   (it launches ok ... conversion of the databasae takes 2-3 minutes because you skipped some version and there is a lot of conversion happening)

![image](https://user-ima

[2021-03-03 17:20] zigmond commented on #941
java.lang.NullPointerException: Cannot invoke
"core.training.TrainingWeekManager.getTrainingList()" because
"this.recentTrainings" is null
at core.training.TrainingManager.getRecentTrainings(TrainingManager.java:71)
at core.model.HOModel.storeTrainingsSinceLastDownload(HOModel.java:629)
at core.net.DownloadDialog.startDownload(DownloadDialog.java:337)
at core.net.DownloadDialog.actionPerformed(Dow

[2021-03-03 17:25] Coachalex1983 commented on #852
No ii haven't find any solution :-/
It's so bad...
I've a windows 10 in 32 bits and 2004 version.
I don't find any options on authorization of unsigned software.
I''ve looking on the net but i don't find any issues....

[2021-03-03 17:47] zigmond commented on #941
Update

Managed to get it working, had to put d/b from 3.0 as 4.0 crashed it, but,
it does work, and the crashing due to player that hasn't played seemed to
be fixed. hoever
clicking on the training tab get an error
java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0
at
java.base/jdk.internal.util.Preconditions.outOfBounds(Preconditions.java:64)
at
java.base/jdk.internal.util.P

[2021-03-03 19:47] akasolace commented on #852
You need to select the 32bits version

[2021-03-03 20:09] akasolace opened #952 "[BUG] team captain and set piece taker are always in nit best suited position"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-03 20:14] akasolace opened #953 "[BUG] inclide trustore in upgrade of portable app ....."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-04 15:44] #953 closed

[2021-03-04 15:47] akasolace opened #954 "[BUG] Future trainings might be lost during upgrade (to be checked)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-04 16:04] #951 closed

[2021-03-04 17:07] gescobita commented on #928
I installed JRE and after that installed HO!, I opened it and started to use it, I got the CHPP code and download my team info, after that I closed it and when I opened it again it show me the next message:
![imagen_2021-03-04_110158](https://user-images.githubusercontent.com/79470364/110000545-09da9700-7cd9-11eb-9daf-4fa7e359d758.png)

I uninstalled and reinstalled, but the message stills shows.

[2021-03-04 19:58] akasolace commented on #928
@gescobita I will try to reproduce

[2021-03-05 02:02] datatramp commented on #954
Not sure if bug is related, therefore I post here in comments first before opening seperate report:

I upgraded my HO!5.0 Dev to latest 3551 Built.
I downloaded from Hattrick after training went through and Training was not processed in HO!5 built 3551 at all, week 8 still shows at "future trainings"
In "Squad" table, no improvements were shown though weeks matches were downloaded.

I run parallel

[2021-03-05 02:17] datatramp opened #955 "[BUG] column "Last match" in "Squad" Tab sorts by Player´s stars, not match date"
Minor issue: In "Squad" Tab, column "Last match" is not sorted by last match, but sorted by Player´s star rating when you click on it.
That´s not intuitive ;)
Maybe rename it in "Rating" like it was in HO!3 or put stars and last match date in seperate columns.
**Platform information:**
 - OS: Win10 pro
 - Version HO!5 Dev 3551

[2021-03-05 02:22] datatramp commented on #955
nevermind already mentioned in #895

[2021-03-05 02:22] #955 closed

[2021-03-05 06:41] martinminaric opened #956 "[BUG]"
Hi guys,

When I open HO(v. 4.1) and try to go to the Team Analyzer module this is what pops-up:

![image](https://user-images.githubusercontent.com/80089982/110077260-1e289d80-7d86-11eb-89e0-71fe9083b626.png)

This is the whole error description:
java.lang.NullPointerException
	at module.teamAnalyzer.ui.lineup.FormationPanel.displayBothTeams(FormationPanel.java:60)
	at module.teamAnalyzer.ui.line

[2021-03-05 08:46] akasolace commented on #956
@martinminaric could you please check if your error also happen with the latest dev version.
please backup your database before testing it (I also suggest you to test using a portable version it would be easier not to get mixed up)

[2021-03-05 14:15] tychobrailleur commented on #124
@akasolace Yes, I think it can be closed.  As far as I remember, the only outstanding table was the one in Training (cf. https://github.com/akasolace/HO/issues/124#issuecomment-561217067), the others being addressed with the “three-way click.”

With all the recent changes to Training, and the current issues on master with Training tab, I will left this aside.

[2021-03-05 14:29] tychobrailleur commented on #77
Does it matter if both are included in two different columns?  Sounds like the easiest solution for this to me.

[2021-03-05 14:34] #946 closed

[2021-03-05 14:38] #895 closed

[2021-03-05 14:39] #124 closed

[2021-03-05 14:46] akasolace commented on #77
I think it concerns only columns  Agreeability, Aggressiveness and Honesty. I think we can simply export for those 3 columns both text and numerical values like "balanced(4)" and leaving the remaining unchanged

[2021-03-05 14:59] akasolace commented on #941
@zigmond  I just tried again with the database you share with me.
Using latest dev version. I copy your db and launch HO!
As said above first launch takes approx 2 minutes (lot of items conversion) but then it works well. Also clicking on the training table is just fine:

![image](https://user-images.githubusercontent.com/1136496/110132263-471f5180-7dcb-11eb-86a6-426b9051daf6.png)

I really can't

[2021-03-05 15:01] akasolace opened #958 "database size increase during upgrade 4.0 -> 5.0"
There is one thing however which is suprising and that I dont like is the size increase of your db during the upgrade
which almost quadrupled (database example available here: https://we.tl/t-YvnbFY5JsL):

![image](https://user-images.githubusercontent.com/1136496/109843320-3647d200-7c4b-11eb-855d-41cdf2d0eb7f.png)

_Originally posted by @akasolace in https://github.com/akasolace/HO/issues/941#iss

[2021-03-05 16:07] tychobrailleur commented on #77
Exactly.  So I am thinking adding an extra 3 columns holding those values as number would not be a big deal, and would allow people to sort on this values.

[2021-03-05 16:41] akasolace commented on #77
yes either one additional column or as I suggested above only one column numeric + text  (that will also allow sorting) ...

[2021-03-05 21:04] pivsxii opened #959 "[BUG] Cannot send the feedback"
**Describe the bug**
When i try to send the feedback an error appearing

**To Reproduce**
Steps to reproduce the behavior:
1. Place the same orders both on HO and Hattrick website
2. Click on "Ricaricare" (italian for Reload)
3. Click on "Invia" (italian for Send)
4. See error

**Screenshots**
![immagine](https://user-images.githubusercontent.com/2829627/110173198-8c10ab80-7dfe-11eb-9345-2463d759f

[2021-03-06 08:22] wsbrenk opened #960 "[BUG]download does not update training lists"
consequence: training effect is not calculated after download.

reproduce:

* press f11
* verify if past training and future training lists in training panel are updated correctly
* verify if training progress is displayed on player overview

[2021-03-06 08:57] akasolace commented on #960
I made a commit for this last week but then you also made a commit for the same thing so I told you I will let you decide how to deal with it. I noticed the function I created in training manager is never called ... happy to help if you want me to ...

[2021-03-06 10:13] zigmond commented on #941
Thank you!
Sadly, I can still confirm that the training tab brings this
java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0
at
java.base/jdk.internal.util.Preconditions.outOfBounds(Preconditions.java:64)
at
java.base/jdk.internal.util.Preconditions.outOfBoundsCheckIndex(Preconditions.java:70)
at
java.base/jdk.internal.util.Preconditions.checkIndex(Preconditions.java:248)
at jav

[2021-03-06 12:51] akasolace commented on #960
@wsbrenk to clarify, I expect this should work as follow:
your function calculate subskill should look whether or not trainingmanager.recentTrainings has entries.
if no -> pass,  if yes -> subskill are updated then at the end of your function you should call updateHistoricalTrainings()

[2021-03-06 12:58] akasolace commented on #960
lookimng at the function recalcSubskills()  (https://github.com/akasolace/HO/blob/1fd0aa76ecd05e1801cf2c9f37049e76e53d1b91/src/main/java/core/model/HOVerwaltung.java#L116)

I am confused because it seems you are not even using trainingManager.recentTrainings .....

[2021-03-06 13:57] akasolace commented on #960
Applying the above, I get this:

- before download:

![image](https://user-images.githubusercontent.com/1136496/110207630-100d7680-7e85-11eb-9723-430e547d0eaa.png)

![image](https://user-images.githubusercontent.com/1136496/110207642-23b8dd00-7e85-11eb-9508-87d22164c558.png)

We can see that training 05.03 is nowhere .... is it what we want ?

- after download:

![image](https://user-images.github

[2021-03-06 13:58] akasolace opened #961 "[BUG] first line is missing in future training"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-06 13:58] #960 closed

[2021-03-06 13:59] akasolace commented on #959
@pivsxii this feature is currently not supported ...

[2021-03-06 13:59] #959 closed

[2021-03-06 14:01] akasolace commented on #954
yes that has been fixed in latest dev ... I will release artefacts shortly ....

[2021-03-06 14:01] #954 closed

[2021-03-06 16:05] wsbrenk commented on #961
@akasolace please have a look on my pr - future training was fine in my tests

[2021-03-06 16:50] martinminaric commented on #956
Hi akasolace,

i have tried to install the newest version(
https://github.com/akasolace/HO/releases/tag/4.1), but there is no
difference.

Is there another update that I should install?

Thanks a lot.

Best regards,

Martin

On Fri, 5 Mar 2021 at 09:46, akasolace <notifications@github.com> wrote:

--
S pozdravom,

Martin Minarič

[2021-03-06 20:54] #961 closed

[2021-03-06 20:57] akasolace commented on #956
can you share your db folder as a zip using for example https://fromsmash.com/

[2021-03-07 10:37] datatramp opened #963 "[BUG] Past Training cannot be edited"
**Describe the bug**
After upgrading HO!5 Dev to latest build 3552
Past Training week 8 shows/calculates  wrong Training Type (short passes, should be scoring) and cannot be edited.

Previous edited training weeks from earlier HO!5 Dev builds are still marked blue and show with mouseover info.

I downloaded a new update from hattrick and did a subskill recalculation in Training tab, but it changed

[2021-03-07 10:47] datatramp commented on #963
P.S. Thanks for your ongoing work on this project!
5.0 will be really useful and nice Look&Feel from User perspective when the glitches are sorted out! Great improvements!

[2021-03-07 18:06] #963 closed

[2021-03-08 09:08] akasolace commented on #928
@gescobita if I understand correctly, you made a fresh install of HO!. Then you managed to do your first download. However after closing HO! and reopening it (2nd time) you got the error message above, right ?

[2021-03-08 09:10] akasolace opened #968 "Fresh install of DEV artefacts throws DB error on second launch"
I installed JRE and after that installed HO!, I opened it and started to use it, I got the CHPP code and download my team info, after that I closed it and when I opened it again it show me the next message:
![imagen_2021-03-04_110158](https://user-images.githubusercontent.com/79470364/110000545-09da9700-7cd9-11eb-9daf-4fa7e359d758.png)

I uninstalled and reinstalled, but the message stills shows.

[2021-03-08 09:11] #928 closed

[2021-03-08 09:11] akasolace commented on #968
@gescobita if I understand correctly, you made a fresh install of HO!. Then you managed to do your first download. However after closing HO! and reopening it (2nd time) you got the error message above, right ?

[2021-03-08 09:13] akasolace commented on #941
@zigmond I tried again and I can't reproduce. Can you share with me the database with which you have this error because I can't reproduce the bug with the database you shared with me on top of this message ....

[2021-03-08 09:39] zigmond commented on #941
Sent. I hope

On Mon, 8 Mar 2021 at 09:14, akasolace <notifications@github.com> wrote:

[2021-03-08 09:40] zigmond commented on #941
Files sent to
notifications@github.com
1 item, 1.19 GB in total ・ Expires on 15 March, 2021
Thanks for using WeTransfer. We'll email you a confirmation as soon as your
files have been downloaded.

Recipients
notifications@github.com
Download link
https://we.tl/t-VtDkpfSb0Y
1 item

DB HO-5.0.3551.0-portable-win-DEV-JRE
Folder・6 items

Message
[BUG] New player on the Team bug (#941- Training Tab Err

[2021-03-08 11:42] akasolace commented on #941
so I just try again with the db you just shared with me and again I can't reproduce:

![image](https://user-images.githubusercontent.com/1136496/110316882-a4094a80-800b-11eb-8c2d-85132357992e.png)

![image](https://user-images.githubusercontent.com/1136496/110316903-ad92b280-800b-11eb-8025-ff7d3a57c831.png)

[2021-03-08 11:43] zigmond commented on #941
Probably a problem at my end :(
Thank you for trying :)

On Mon, 8 Mar 2021 at 11:42, akasolace <notifications@github.com> wrote:

[2021-03-08 12:04] akasolace commented on #941
yes this is strange ... don't see how using the same version and the same database can produce different results ...

[2021-03-08 12:21] akasolace commented on #918
I can't reproduce

[2021-03-08 12:21] #918 closed

[2021-03-08 12:25] zigmond commented on #941
i just ffound another error now
java.lang.NullPointerException
at
module.playerOverview.SpielerDetailPanel.setLabels(SpielerDetailPanel.java:368)
at
module.playerOverview.SpielerDetailPanel.setSpieler(SpielerDetailPanel.java:275)
at
module.playerOverview.SpielerUebersichtsPanel.setPlayer(SpielerUebersichtsPanel.java:56)
at core.gui.HOMainFrame.setActualSpieler(HOMainFrame.java:292)
at
module.playe

[2021-03-08 12:31] akasolace commented on #941
If this bug (crash when putting player of NT in lineup) also exist with latest dev version please open a new ticket (I am not sure if you meant it is not on DEV version or if you did not tested it).  I will close this one  as it is becoming too mixed up.
Thank you for reporting those issues.

[2021-03-08 12:31] #941 closed

[2021-03-08 12:33] zigmond commented on #941
I will open a new one in a minute, but, just to be clear. It crushes on 4,
but, it is working fine on Dev 5 :)

On Mon, 8 Mar 2021 at 12:31, akasolace <notifications@github.com> wrote:

[2021-03-08 12:36] zigmond opened #969 "[BUG]Trying to put palers in any slot in the line up players that are part of the NT"
i just ffound another error now
java.lang.NullPointerException
at module.playerOverview.SpielerDetailPanel.setLabels(SpielerDetailPanel.java:368)
at module.playerOverview.SpielerDetailPanel.setSpieler(SpielerDetailPanel.java:275)
at module.playerOverview.SpielerUebersichtsPanel.setPlayer(SpielerUebersichtsPanel.java:56)
at core.gui.HOMainFrame.setActualSpieler(HOMainFrame.java:292)
at module.playe

[2021-03-08 12:37] akasolace commented on #941
ah ok so please don't open a ticket ... we are now only focusing on 5.0 release which hopefully should not come in too much time (at least a working beta)

[2021-03-08 12:38] zigmond commented on #941
Sorry, too late, opened one, please close it :)

On Mon, 8 Mar 2021 at 12:37, akasolace <notifications@github.com> wrote:

[2021-03-08 14:37] akasolace opened #970 "[BUG] at start error key not found in UserConfigurationTable"
[Error]   UserConfigurationTable: parameter spielerUebersichtsPanel_horizontalRightSplitPane is not stored in UserConfigurationTable

[2021-03-08 15:01] #952 closed

[2021-03-09 16:58] akasolace opened #972 "[BUG] add weatherBonus on all prediction files"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-03-09 19:32] datatramp commented on #963
Does closed issue mean it was dealt with?
Because I updated to Build 3555 and editing Training still not possible.

[2021-03-09 19:59] akasolace commented on #963
yes it was dealt with ... it will be available in next builds ... later this week I guess

[2021-03-10 08:30] akasolace commented on #932
closed by f743ec52aed99c002cf8554dcd4985aa44827720

[2021-03-10 08:30] #932 closed

[2021-03-10 14:37] #343 closed

[2021-03-11 21:25] wsbrenk opened #975 "[BUG] training panels are cpu intensive"
changing several times between training panel and prediction panel costs a lot of  cpu time:

![image](https://user-images.githubusercontent.com/11821502/110856930-8b718c80-82b8-11eb-9bd5-9b8c3df80bcf.png)

[2021-03-12 07:38] dominiquelee opened #976 "[BUG] Extra-time messes up training"
After a cup match with extra-time, some players won't get full training. They will either get osmosis training (if they played the 120 minutes) or no training at all (if they are subbed off).

Here's the cup match from this week: https://www.hattrick.org/Club/Matches/Match.aspx?matchID=674042640
[9059-2021-03-12.hrf.txt](https://github.com/akasolace/HO/files/6128295/9059-2021-03-12.hrf.txt)
[db_us

[2021-03-12 07:42] akasolace commented on #975
I flagged this as regression as I imagined it is the case.
I haven't done any test myself....

[2021-03-12 07:43] akasolace commented on #976
@dominiquelee any chances to check if this still happen with 5.0 dev version ?

[2021-03-12 08:04] dominiquelee commented on #976
@akasolace 5.0 r3555 is even stranger:
- it had the same subskills the first time I started it (coming from the db)
- I downloaded a new .hrf with 4 months of matches
- I hit Subskill recalculation, there's literally not a single subskill value now, all values are 11,00, 12,00, 13,00 and so on.

[2021-03-12 12:29] akasolace commented on #976
actually that is normal (the version you just tried had an issue with subskill recal). I will release new artefacts really shortly and I will ask you to test again.

[2021-03-12 12:31] martinminaric commented on #956
Hi,

thank you for your support. As I was not sure what do you mean by db, I am
sending you the link for the whole folder:

https://fromsmash.com/8HOuS4~WwF-dt

I wish you a plesant day.

Best regards,

Martin

On Sat, 6 Mar 2021 at 21:57, akasolace ***@***.***> wrote:

--
S pozdravom,

Martin Minarič

[2021-03-12 14:49] akasolace commented on #956
@martinminaric 2 thigs:

you can try with the development version https://github.com/akasolace/HO/releases/tag/dev

you should send me the folder db which is located in your case in %appdata% / HO

[2021-03-12 17:33] martinminaric commented on #956
Hi,

this is the message I get when I open team analyzer in the dev version.

Thanks  for your help.

[image: image.png]

On Fri, 12 Mar 2021 at 15:49, akasolace ***@***.***> wrote:

--
S pozdravom,

Martin Minarič

[2021-03-13 10:58] wsbrenk commented on #976
@akasolace current pr includes a fix for that

[2021-03-13 13:33] HTSirEbi opened #978 "Issue in HO Import"
Hi,

When download in HO I receice error message all the time. I reeive data in the end, but download is interrupted several times by error popup

adding my db here. Also attached errors I received during last load.

Guess its temporary on HT side, as errors seems to vary.

CHeers
Sir_ebi
[ho-issue.docx](https://github.com/akasolace/HO/files/6134846/ho-issue.docx)
[database.log](https://github.com

[2021-03-13 16:52] wsbrenk commented on #978
@HTSirEbi download itself worked fine with new dev version
@akasolace a lot of npe in new TrainingManager on fresh database instance (upgraded from HO V4)

[2021-03-14 09:02] wsbrenk commented on #978
today i restored HO V4.1 and started with the provided database. Downloading worked fine. the result shows that @HTSirEbi could only download one single match. my start reloaded all the other matches (see fetch date):

![image](https://user-images.githubusercontent.com/11821502/111062952-66de0600-84ac-11eb-96bf-669daa9a8c9a.png)

[2021-03-14 09:40] wsbrenk commented on #975
to many FutureTrainingManagers were created

[2021-03-14 20:38] wsbrenk opened #979 "[BUG]MatchDetailsTable primary key MatchID is no longer unique"
since we store youth matches in MatchDetailsTable matchId (pk) is no longer unique.

The combination sourcesystem/matchid is unique

[2021-03-15 15:53] akasolace commented on #956
if you want to share a picture, you can't do that per email, you need to reply directly on GitHub ....

[2021-03-15 15:56] #975 closed

[2021-03-15 15:56] #976 closed

[2021-03-15 15:56] #978 closed

[2021-03-15 15:56] #979 closed

[2021-03-15 21:55] wsbrenk opened #980 "[BUG]skill downs on monday are not handled correctly"
if my player drops skill on monday, the subskill remains on 0.

Subskill should be set to 0.99 instead.

[2021-03-16 08:38] akasolace commented on #980
closed by #981

[2021-03-16 08:38] #980 closed

[2021-03-16 08:55] akasolace opened #982 "[BUG] NPE on fresh install first launch"
**Describe the bug**
NPE on fresh install first launch

@wsbrenk this is cause by #977 changes on TrainingWeekManager.getNextTrainingDate()

![image](https://user-images.githubusercontent.com/1136496/111281815-a25c0a00-863d-11eb-93ba-64cc499e8171.png)

[2021-03-16 18:35] wsbrenk commented on #982
I wonder what I might have broken. I think the situation hasn't changed from the previous solution because getNextTrainingDate executes exactly the same commands as the constructor before. I'll investigate it.

[2021-03-16 20:12] wsbrenk commented on #968
it is the DBConfigVersion which is not saved in new created database. restart load a value DBConfigVersion=0 which is too old.

[2021-03-16 20:30] gescobita commented on #968
Thanks. How may I do that???

Thank you in advance.

[2021-03-16 22:33] wsbrenk commented on #968
Sorry - i wanted to address it to @akasolace. We need to fix this and provide a new dev version. Pull request is in preparation.

[2021-03-17 09:17] mistermax80 commented on #583
@akasolace How are you, why do you want move the server towards anvil server? In php I made all.

Bye Bye

[2021-03-17 16:56] martinminaric commented on #956
This is the message I get when I try to open team analyzer in the dev version.

Thanks

![image](https://user-images.githubusercontent.com/80089982/111506664-23a0c300-874a-11eb-942b-e6944f731502.png)

[2021-03-18 13:16] #968 closed

[2021-03-18 13:16] #982 closed

[2021-03-18 13:20] akasolace commented on #583
Thing is I really don't know anything about PHP and the framework you used.
I received some errors message on the server and I was completely stuck.
Also as I was not sure how much you would remain involve with the project ....

[2021-03-18 13:54] akasolace opened #984 "[BUG] skill drop"
hello @wsbrenk ,

I just downloaded some data and looking at the subskill evolution since the preivous data (between 7th and 18th of March). The upside looks good but I am surprised by the downside of my older player.

![image](https://user-images.githubusercontent.com/1136496/111637448-b9dff200-87f9-11eb-8625-7006e823fceb.png)

![image](https://user-images.githubusercontent.com/1136496/111637476-

[2021-03-18 18:41] wsbrenk commented on #984
@akasolace could you check if there is a message in the log file concerning this player?

[2021-03-18 18:52] wsbrenk commented on #984
the HO calculation does not take into account, that skill drops only happens on monday. i guess that the training calculation for last friday assumes that target skill of skill drop is inadequate and not passable. Later would be the case if you downloaded on friday yielding to skill 6.0. then a next download on monday would give what you expected: 5.99

[2021-03-19 13:41] akasolace commented on #984
Here is the log file ....
[HO-2021-03-19.log](https://github.com/akasolace/HO/files/6171444/HO-2021-03-19.log)

[2021-03-19 13:42] akasolace commented on #984
it seems skilled dropped is calculated multiple times ...
![image](https://user-images.githubusercontent.com/1136496/111789364-59b48300-88c1-11eb-913d-182dbb74bb60.png)

[2021-03-19 18:15] wsbrenk commented on #984
looks strange: Playmaking before calculation is 5.31, decrement is approx 0.1, so new value should be around 5.21.
i have no idea, why HO has the info, that playmaking value is 5.31.

(the Log output is not well formatted - i will change that!)

[2021-03-19 18:23] wsbrenk commented on #984
ah yes - before d2f1772ea171acc66e69358a753ddf5a338b9c08 the skill was simply reduced by one without adjusting the sub.
so now i would say the week before 7th your player had reached playmaking value 6.31
you downloaded after skill drop on monday HO reduced to 5.31 (nowaday he won't do that anymore)
next download calculates with that wrong start value.

One question is left for me - why does HO di

[2021-03-20 09:04] wsbrenk commented on #984
Since skill gains in training, but their losses will be published on Monday, we could take that into account by treating the time from training to Monday differently than the days after.

the current solution works best, if the user downloads after monday only, since than both effects in hattrick are over (training and skill down).

[2021-03-20 09:29] wsbrenk commented on #984
in https://github.com/wsbrenk/HO/commit/6c64c6d470dc74501141b9ed3496abedc91f8f6f i proposed an idea (TODOs), how we could handle this.

[2021-03-22 09:51] akasolace commented on #984
closed by #985

[2021-03-22 09:51] #984 closed

[2021-03-23 13:24] dominiquelee opened #987 "[BUG] "Past trainings" imported from .hrf tend to be shifted by one week"
On a fresh update, the past trainings are filled from existing .hrf but are wrong by one week
![image](https://user-images.githubusercontent.com/1204726/112152235-5f240d00-8be2-11eb-99f5-acb18ced050e.png)
Here, I did a defending training on the 1/1 but it was reported as done on the 1/8.

I believe that's because for someone that only downloads one .hrf by week (on the training day), the only .hrf

[2021-03-24 22:09] wsbrenk commented on #987
I'm afraid the software has no real chance to decide for sure which training is the right one if before the training date training A was set and then training B. It could be both A correct, as well as B or even C, depending on what happened in the meantime in hattrick. At the moment, the algorithm chooses A. If this is incorrect, the user must correct it manually. A more complex investigation due

[2021-03-24 22:19] dominiquelee commented on #987
It's clear that there's no perfect solution, but I'd argue that choosing the training of the following week might be correct more often for most people. I believe most people do their weekly sync immediately after the training rather than immediately before the training (though obviously, that's a big baseless hypothesis).

[2021-03-25 18:18] wsbrenk commented on #987
@dominiquelee i agree, and i think that could be changed easily. Let us wait on @akasolace who should decide which way we should go.

[2021-04-02 06:44] koef6 opened #989 "[BUG]"
**Describe the bug**
HRF file lists incorrect player on Leftwinger position in [lineup]. It is listed in substInsideMid

**To Reproduce**
Steps to reproduce the behavior:
1. Download team data
2. open HRF file
3. Scroll down to [Lineup]'
4. Check for LeftWinger position; it appears to be the Leftwinger for the [Lastlineup]

**Platform information:**
 - OS: Windows
 - Version 4.1 (just upgraded fro

[2021-04-02 15:01] wsbrenk commented on #989
i cannot reproduce this.

[2021-04-04 09:25] wsbrenk commented on #987
changed method is not only called on db upgrading, but also each time when HO downloads hattrick's data.

current solution gives errors on sequence:   Change training type - Training Date - HO download => download selects previously selected training type

proposed solution gives errors on sequence Training Date - Change training type - HO download => download selects future training type

which o

[2021-04-05 10:42] wsbrenk commented on #825
![image](https://user-images.githubusercontent.com/11821502/113565874-073acc80-960c-11eb-97df-eef626429030.png)

for weeks I have been tormenting myself with layouts and other ui aspects. I am not satisfied yet, but that is the situation at the moment.

[2021-04-07 16:26] #987 closed

[2021-04-07 20:42] akasolace commented on #825
it looks really nice ...

[2021-04-09 12:18] dominiquelee opened #992 "[BUG] In Lineup, ratings for right and left defences are inverted"
In the lineup simulation, the ratings for right and left defences are inverted
![lineup](https://user-images.githubusercontent.com/1204726/114178385-f35dd600-993d-11eb-94c0-a448fc535c06.gif)
In this gif, we can see that when I play with Gustedt's orders (the left wingback), it's the right defence rating that's impacted. When I add a left winger, the left attack is correctly updated, but it's once

[2021-04-09 13:52] koef6 commented on #989
Sorry, neither could I; must be mistaken
Just slight side note: The LeftWinger in [lastlineup ]has a capital more  then in Leftwinger in [lineup].
But hardly would call that a bug more like suggestion

[2021-04-10 09:30] wsbrenk opened #993 "[BUG]result display of extra time is wrong"
HO5.0-3557

![image](https://user-images.githubusercontent.com/11821502/114265251-15b02c00-99f0-11eb-9d9f-3296d13e1c46.png)

display should be a.e. instead of a.p.

[2021-04-10 09:43] wsbrenk opened #994 "[BUG]training calculation: missing set pieces skill sub"
HO5.0-3557:
![stdsub](https://user-images.githubusercontent.com/11821502/114265569-c9fe8200-99f1-11eb-8c4e-8a019df0dc0b.jpg)

only full skill ups are displayed - trained subskills should be displayed too

[2021-04-10 10:15] wsbrenk commented on #994
situation abbove is the first start of HO after upgrading to version 5.0.
even running recalc 7 weeks does not change the displayed standard skills.

but after restarting HO and running recalc again everything is fine:
![stdsub2](https://user-images.githubusercontent.com/11821502/114266351-29f72780-99f6-11eb-8a70-068b88c3fb27.jpg)

[2021-04-10 17:57] wsbrenk opened #995 "[BUG]NPE invoking league table"
HO 5.0-3557

java.lang.NullPointerException: Cannot invoke "java.util.Map.keySet()" because "hatStatsMax" is null
	at module.series.statistics.DataDownloader.fetchLeagueStatistics(DataDownloader.java:63)
	at module.series.SeriesPanel.initLeagueStatsData(SeriesPanel.java:67)
	at module.series.SeriesPanel.initialize(SeriesPanel.java:39)
	at core.gui.comp.panel.LazyImagePanel.callInitialize(LazyImage

[2021-04-10 21:19] MaSedlacek commented on #525
I'd like to help with this one but not sure if I understand the issue well.
My understanding is that column `userPos` of table `SpielerNotizenTable` is supposedly redundant and shall be removed.
But `getSpielerUserPosFlag`/`setSpielerUserPosFlag` are still used and the column seems to store the value of the user's selection.
Do you mean something different? Or am I missing something?

[2021-04-11 07:48] wsbrenk commented on #994
i have no idea what leads to this error in the upgrade process

[2021-04-11 07:50] wsbrenk commented on #995
#996 only repairs the npe exception. statistics are still not downloaded from alltid web site.

[2021-04-11 08:44] wsbrenk commented on #993
bug is fixed. to repair wrong results in display, user needs to reload those matches:

![image](https://user-images.githubusercontent.com/11821502/114297751-d0a0fe00-9ab2-11eb-88fd-3ed42681b3c4.png)

[2021-04-12 11:59] #989 closed

[2021-04-12 16:01] agusmba commented on #641
Hi @akasolace did you get any feedblack from HT regarding this possibility?

[2021-04-18 13:32] MaSedlacek commented on #470
@akasolace @murko69
Hey guys,
Is this the implementation you expected?

![hto_filter_matches_location](https://user-images.githubusercontent.com/53978029/115147338-c9519580-a05a-11eb-91c3-4d5cebed6082.gif)

[2021-04-18 21:57] murko69 commented on #470
@MaSedlacek That looks amazing

[2021-04-19 07:53] dominiquelee opened #998 "[BUG] In Matches, own goals are given to the wrong team"
**Describe the bug**
In Matches, own goals are not properly reported in the main table
![image](https://user-images.githubusercontent.com/1204726/115200189-3b29ed80-a0f4-11eb-831a-08166d0893c3.png)

Here's the match in Hattrick: https://www.hattrick.org/goto.ashx?path=/Club/Matches/Match.aspx?matchID=671245002

**To Reproduce**
In Matches, open a match with an own goal. The score will be correct i

[2021-04-20 18:29] MaSedlacek commented on #470
@murko69
Great, thanks for swift feedback.
I'll finish the feature in this way then.

[2021-04-27 17:41] wsbrenk commented on #998
this is the info from hattrick: "there is indeed a bug here but not related to chpp, it's also on the website.
they will look deeper in it, seems not easy :)"

[2021-04-27 21:04] wsbrenk opened #999 "[BUG]NPE loading ImageIcon of team 1159698 (0 byte jpg file)"
22:39:38 [Error]   core.util.ExceptionHandler: java.lang.NullPointerException: Cannot invoke "java.awt.Image.getProperty(String, java.awt.image.ImageObserver)" because "image" is null
22:39:38 [Error]   core.util.ExceptionHandler: java.desktop/javax.swing.ImageIcon.<init>(ImageIcon.java:240)
22:39:38 [Error]   core.util.ExceptionHandler: core.gui.theme.ThemeManager.getClubLogo(ThemeManager.java:18

[2021-04-27 21:13] wsbrenk commented on #999
don't know why download didn't work. this is the correct logo:
![1159698](https://user-images.githubusercontent.com/11821502/116313560-36c59a80-a7ae-11eb-9bd6-125b9cf2227b.jpg)

[2021-04-28 09:30] Adito5393 opened #1001 "[FEATURE] Search bottom 3 divisions of a country for bot teams"
**Is your feature request related to a problem? Please describe.**
Every season **Series swapping** is available, however, there is no automated way of searching and finding out which series contains bot teams! Before I used to see [here](http://ht.alergromania.ro/data/bot-teams-by-series/) but the owner did not update the DB for a long time already.

**Describe the solution you'd like**
I think w

[2021-04-29 18:19] wsbrenk commented on #998
i'm implementing a verfication which checks if matchdetails values of the end result are equal to the counting of the goals in match events. if not all goals are moved to the last match part (second half, extra time or penalty contest).

[2021-04-29 22:48] wsbrenk commented on #825
![image](https://user-images.githubusercontent.com/11821502/116627538-99a16800-a94d-11eb-8852-7908d99828a5.png)

now I am reasonably satisfied with the ui. It was a hard piece of work and I learned a lot about java's layout manager

[2021-04-30 12:12] chauriber commented on #100
I'm sorry I didn't see your reply. I got them by copying directly from ht site. They are colored icons. HT has changed the icons pack to just black. Now I have upgraded to latest stable release and I'm happy to see you updated the icons. Cheers.

[2021-05-01 09:18] wsbrenk opened #1003 "[FEATURE] authorize youth player unlockskills"
![image](https://user-images.githubusercontent.com/11821502/116777727-39561780-aa6e-11eb-8688-c6683ad2b10b.png)

	public String downloadYouthPlayers(int youthteamId) throws IOException {
		String url = htUrl + "?file=youthplayerlist&version=" + VERSION_YOUTHPLAYERLIST +"&actionType=unlockskills&showScoutCall=true&showLastMatch=true&youthTeamID=" + youthteamId;
		return getCHPPWebFile(url);
	}

set

[2021-05-01 09:34] wsbrenk commented on #1003
scopy manage_youthplayers is needed

[2021-05-02 08:04] wsbrenk opened #1004 "[BUG]youth view blocks the application"
starting HO5-3560 inits youth view with random column order. Arranging them, blocks the application.

[2021-05-02 11:14] wsbrenk opened #1007 "[BUG]Training view shows wrong season numbers"
![image](https://user-images.githubusercontent.com/11821502/116811193-3b8ca480-ab48-11eb-9061-dc00d7dce42a.png)

Die erste Runde der Saison 78 findet am 08.05.2021 18:00 statt.

Version: HO5.0-r3562

[2021-05-02 11:15] wsbrenk commented on #1007
recent training and future training tables are showing the wrong season numbers

[2021-05-02 11:26] wsbrenk commented on #1007
the first download (F11) after HO upgrade does repair the numbers.

[2021-05-02 12:49] wsbrenk opened #1008 "[BUG]HO internal update (help->update) does not work"
started HO 5.0 r3557
help->update gives

![image](https://user-images.githubusercontent.com/11821502/116813720-7517dc80-ab55-11eb-9fd4-b30912f8b5e7.png)

clicking "Ja" (Yes) gives:

![image](https://user-images.githubusercontent.com/11821502/116813707-64fffd00-ab55-11eb-8069-53d6c6376756.png)

output.log:
 [Info]    HO: VERSION: 5.0   versionType:  DEV   RevisionNumber: 3557
 [Info]    HOVerwaltun

[2021-05-02 15:21] akasolace commented on #1008
You are using a portable version ?

[2021-05-02 16:19] wsbrenk commented on #1008
this is the link i used: https://github.com/akasolace/HO/releases/download/dev/HOSetup-5.0.3562.0-DEV-JRE.exe

[2021-05-05 20:58] wsbrenk commented on #825
dark look and feel version of youth module:

![image](https://user-images.githubusercontent.com/11821502/117208306-43bd3c00-adf5-11eb-8fc9-c220d287c1b4.png)

label color of skill values are to light

[2021-05-07 11:25] wsbrenk commented on #998
info from hattrick: the event 125 has been fixed and old matches too

[2021-05-11 10:15] wsbrenk opened #1011 "[BUG]TrainingRecapTable looses scroll position on table refresh"
if future training plan is changed, the recap table is completly reconstructed, including resetting the scroll position.

Table should stay on selected positions (future training week), when their training priorities are changed.

[2021-05-11 11:04] #1011 closed

[2021-05-11 11:04] #956 closed

[2021-05-11 11:07] akasolace commented on #993
@wsbrenk  this also can be closed  ?

[2021-05-11 11:16] wsbrenk commented on #998
@akasolace yes - and even if the hattricks will reintroduce this error, it should be handled by the commits.

[2021-05-11 11:17] wsbrenk commented on #993
@akasolace yes

[2021-05-11 13:58] #992 closed

[2021-05-11 13:59] #998 closed

[2021-05-11 14:01] akasolace commented on #1001
This could be done but outside of HO!, maybe the developer of Alltid would be interested in developing this feature.. I believe he has already all the data ....

[2021-05-11 14:01] #1001 closed

[2021-05-11 14:36] #995 closed

[2021-05-11 15:23] wsbrenk commented on #825
@akasolace skill editors are in place - this ticket could be closed

[2021-05-11 15:35] wsbrenk commented on #1004
@akasolace this is done

[2021-05-11 16:40] #825 closed

[2021-05-11 16:41] #1003 closed

[2021-05-11 16:48] akasolace opened #1016 "[FEATURE] update design of about window"
Redo about windows:

 - Remove text about icons
 - Change logo

@wsbrenk  what do you think ?

![image](https://user-images.githubusercontent.com/1136496/117853978-4f8f7f00-b289-11eb-841b-be50ce00d486.png)

[2021-05-11 18:12] akasolace opened #1019 "[BUG] deactivated entry in Preferences, release channels"
**Describe the bug**
either remove or implement this feature

![image](https://user-images.githubusercontent.com/1136496/117864420-1230ee80-b295-11eb-83d9-320b2b65d436.png)

[2021-05-11 20:16] poteus opened #1021 "[BUG] NPE when youth player exits without any information about his top 3 skills"
**Describe the bug**
A clear and concise description of what the bug is.
When I try to download the data from HT, I receive an Error message stating "File is corrupt".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'File'
2. Click on 'Download'
3. Click again on 'Download'
4. See error: "File is corrupt"

**Screenshots**
Screenshot added of the error.
![Screen Shot 2021-05-11 at 3 06

[2021-05-11 23:07] wsbrenk commented on #1021
@poteus could you check, if there is a log file in %APPDATA%/HP/logs with info about this error?

[2021-05-12 02:19] poteus commented on #1021
I found the error files...

First file: error.log
[error.log](https://github.com/akasolace/HO/files/6462997/error.log)

2nd file: HO-2021-05-11.log
[HO-2021-05-11.log](https://github.com/akasolace/HO/files/6462998/HO-2021-05-11.log)

[2021-05-12 05:55] akasolace commented on #1021
@wsbrenk it seems this is an error in youth module

[2021-05-12 09:17] wsbrenk commented on #1021
@poteus youth module has problem with a youth player without any information about the top 3 skills. One or two of them should be reported by the scout, at scouting date. For the moment i have no idea, why these information is not available.

I will send a fix that handles the symptom  (no crash, when trying to find other top3 skills). But i'm not sure if there other unexpected situations concerni

[2021-05-12 10:05] wsbrenk commented on #781
@akasolace i think this ticket is closed with Milestone 5.0. So why don't relink it to 5.0? Only the backport wasn't carried out.

[2021-05-12 10:52] aristodemos2008 opened #1023 "[BUG] experience not displayed"
In the squad tab the experience sublevels are not displayed in the player details

Steps to reproduce the behavior:
1. Go to squad tab
2. Click on 'adjust subskils
3. Change value of experience
4. Experience always show 00 sublevel

 - OS: Windows
 - Version 4.1.3310.2

[2021-05-12 11:07] akasolace commented on #1021
should be closed by #1022,  @poteus / @wsbrenk can you please check whether or not latest release fix that issue ?

[2021-05-12 11:14] akasolace commented on #781
so I just close it .. and we will tell users to upgrade

[2021-05-12 11:14] #781 closed

[2021-05-12 13:26] poteus commented on #1021
![Screen Shot 2021-05-12 at 8 24 11 AM](https://user-images.githubusercontent.com/20169360/117982324-843c1e80-b2fb-11eb-8512-9177a271040f.png)
![Screen Shot 2021-05-12 at 8 24 29 AM](https://user-images.githubusercontent.com/20169360/117982335-8605e200-b2fb-11eb-94b1-2d2f37080f7d.png)

@akasolace Still error.
@wsbrenk Yes, the error began after I started my youth squad. I do not remember import an

[2021-05-12 15:54] wsbrenk commented on #1021
@poteus could you again deliver the logs from latest download?

[2021-05-12 16:25] poteus commented on #1021
There logs were made from my work computer (IOS). The previous logs were from my home computer (Windows).

[error.log](https://github.com/akasolace/HO/files/6467571/error.log)
[HO-2021-05-12.log](https://github.com/akasolace/HO/files/6467572/HO-2021-05-12.log)

[2021-05-12 17:43] wsbrenk commented on #1021
@poteus thanks - i never could test youth module with fresh youth team, that has players that were not scouted.
Hopefully the next pull request will fix it - next dev version from @akasolace when he is back from long weekend, i hope.

[2021-05-12 18:29] poteus commented on #1021
No problem.
Not in a hurry.  I will keep uploading the log files once we have the ew
pull...

Thanks for the hard work.

Alexis Rivera
Math - STEM - Robotics

On Wed, May 12, 2021 at 12:44 PM wsbrenk ***@***.***> wrote:

[2021-05-12 19:06] wsbrenk opened #1025 "[BUG]national players names are not displayed"
Feedback from Hattrick forum:

hi
I'm the new BC for Surinam and i'm trying to get the National Team in HO

I managed to get the players in but I don't see there names (I do see there skills)

wich would make it difficult to do anything

how do I make it so that I see there names also?

tnx
Stan

[2021-05-12 19:17] wsbrenk commented on #1025
@stan i think i found the error.

i see 2 ways testing it:
 *  if you trust me, you could upload your HO-db of your national team and i will use it to debug.
 * otherwise i create a pull request and @akasolace could include it in the next dev-version of HO5. Then we need you to test my changes.

[2021-05-13 20:15] MaSedlacek commented on #470
Hi @akasolace,
A couple of things to finish. I might work on in this weekend but not sure I'll finish it completely.
Is there a deadline so you can easily include the feature in the next release?

[2021-05-14 08:49] akasolace commented on #470
Hello,
Ideally, I would like to release the beta version in June.
If you can submit your PR at some point next week that would be perfect.
Also, let me know if you can/want to tackle one of the remaining open ticket for 5.0 milestone.
Cheers

[2021-05-14 08:50] akasolace commented on #1023
should be fixed by #1026

[2021-05-14 10:31] wsbrenk commented on #1025
@akasolace didn't get the database until now - so no chance to debug it. Please verify my pull request and we should ask the trainer to test it.

[2021-05-14 10:41] wsbrenk commented on #1025
same as #629

[2021-05-14 11:51] StanMarsh1 commented on #1025
he he
finally I got in

my situation looks exactly like the one you just discribed

so far I've done the following

I set up the NT in HO
tried to download but nothing happens
because I saw the hfr I thought to try and import wich works for the half (I don't see the names and I can't make a lineup)

now i'm even unable to download
even after removing the second account nothing happens
I tried to r

[2021-05-14 14:34] akasolace commented on #1025
should be fixed by #1028

[2021-05-14 17:20] chauriber opened #1029 "[BUG] Missing training for wednesday match."
Hi. Today's update of ho data did not recognize past wednesday secondary cup match as training. Checked lineup and training options. Only past sunday match has the +xx to the players skill values. I'm on 4.1 since 2 or 3 weeks.

[2021-05-14 17:33] weisJ commented on #909
Sorry for the long delay regarding the the version. I was busy with by thesis the last few weeks and didn’t have much time. I still want to finish some last cleanup tasks before releasing the next version, but that should probably be done sometime next week, so I’ll be able to release the next version then.

[2021-05-14 18:12] wsbrenk commented on #1029
same as #795

this should be fixed in HO 5

[2021-05-14 18:17] tychobrailleur commented on #909
No worries at all, thesis is far more important! Hope it is going well! 😉
I'll keep an eye out for the new release.

[2021-05-15 01:57] poteus commented on #1021
Still same error.
![Screenshot 1](https://user-images.githubusercontent.com/20169360/118344886-80c0b700-b4f6-11eb-9c32-331d36de4473.png)
![Screenshot 2](https://user-images.githubusercontent.com/20169360/118344888-828a7a80-b4f6-11eb-96de-753da629dbd3.png)
![Screenshot 3](https://user-images.githubusercontent.com/20169360/118344890-84543e00-b4f6-11eb-9a76-672525c22eef.png)
![Screenshot 4](https://u

[2021-05-15 08:29] wsbrenk commented on #1021
the changes of commit 1e107c0bf9d81ecb07b704ce7d5a65bd396535c8 are not part of 3566er version. Please test again with next upcoming dev version.

[2021-05-15 10:42] akasolace commented on #909
Thanks for the update and all the best with the thesis !!

[2021-05-15 13:11] StanMarsh1 commented on #1025
[db_BC-2021-05-10.zip](https://github.com/akasolace/HO/files/6487367/db_BC-2021-05-10.zip)
[db_BC-2021-05-11.zip](https://github.com/akasolace/HO/files/6487368/db_BC-2021-05-11.zip)
[db_BC-2021-05-12.zip](https://github.com/akasolace/HO/files/6487369/db_BC-2021-05-12.zip)
[db_BC-2021-05-14.zip](https://github.com/akasolace/HO/files/6487376/db_BC-2021-05-14.zip)
[db_National Team-2021-05-14.zip](ht

[2021-05-15 13:15] StanMarsh1 commented on #1025
hi
sorry it took a bit longer then I wanted
first the registraton on this site took a long time
then for some reason windows doesn't let me see "appdata"
and the indexing wasn't set right which makes searching difficult

any way I hope these are the files yu are looking for
the first 3 are off course from the national team
the second three also (I was trying some things)
the last three are of my t

[2021-05-15 14:36] tychobrailleur opened #1030 "[BUG] IndexOutOfBoundsException after changing number of training weeks in Preferences"
**Describe the bug**
When in the Training, changing the Number of Training Weeks in the Training tab in Preferences, the following exception is thrown:

[code]

Note that once application is stopped and restarted, the exception goes away.

This happens on `HEAD` of `master`.

**To Reproduce**
Steps to reproduce the behavior:
1. Start HO
2. Go to `Training` tab
3. Open `Preferences`, go to `Trainin

[2021-05-15 22:42] StanMarsh1 commented on #1025
huh
I'm trying to upload a new zip file but I'm unable to attach a file

[2021-05-15 22:45] StanMarsh1 commented on #1025
[db_BC-2021-05-15.zip](https://github.com/akasolace/HO/files/6488372/db_BC-2021-05-15.zip)

[2021-05-15 22:47] StanMarsh1 commented on #1025
succes lol

so I made a new name so that I had to get authorization again
that's why there is only one zip
I'm assuming it makes a new one next day

[2021-05-16 07:34] MaSedlacek commented on #470
Hi,
PR created, kindly check.

I guess I can have a look at #1016 and #1019, those seem easy.
The other unassigned tasks seem to be connected to the changes introduced in features for 5.x
I'd like to contribute more yet I can't promise much for 5.0 - prefer to be outside in spring/summer months :)

Thanks.

[2021-05-16 11:08] wsbrenk commented on #1030
i could only handle it with making the prefence change forcing a HO restart.

[2021-05-16 14:23] StanMarsh1 commented on #1025
i'm trying to attach the files so far no succes

not that the are any bigger the two I have right now are 19 kb in size

[2021-05-16 14:34] StanMarsh1 commented on #1025
[db_BC-2021-05-15.zip](https://github.com/akasolace/HO/files/6489377/db_BC-2021-05-15.zip)
[db_BC-2021-05-16.zip](https://github.com/akasolace/HO/files/6489378/db_BC-2021-05-16.zip)

[2021-05-16 17:08] akasolace commented on #1030
should be fixed by #1033

[2021-05-16 17:14] akasolace commented on #470
should be fixed by #1032,  @murko69  thank you for testing (especially filter for games on neutral grounds)

[2021-05-16 17:16] akasolace commented on #470
@MaSedlacek  thank you again for your contribution,  I agree #1016 and #1019 are nice pick.
To have them assign to you, just comment 'take' in the issue

[2021-05-16 17:17] akasolace commented on #1029
@chauriber yes this will be fixed in 5.0, you can give it a test using the DEV version ....

[2021-05-16 17:18] #1029 closed

[2021-05-16 17:21] akasolace commented on #1021
hi @poteus, I just released new dev artefacts (5.0.3568) that contains the fix. Please test this one and let me know if it fixes your issues.  Cheers

[2021-05-16 18:52] wsbrenk commented on #1025
names of players are downloaded and stored in an hrf file.
 hrf file is not imported automatically.
 I hope i can change that too.

[2021-05-16 18:53] akasolace commented on #1025
@wsbrenk is this one supposed to be fixed or does it requires more work ?

[2021-05-16 20:37] MaSedlacek commented on #1019
take

[2021-05-16 20:37] MaSedlacek commented on #1016
take

[2021-05-16 21:26] wsbrenk commented on #1025
@akasolace the workflow download nt data to hrf file + import hrf file separatly is fixed. I find this too cumbersome and i don't like it so much that it only works that way at the moment.

i will try to refresh player overview automatically and would be glad if someone could support, since i'm not sure that this manual import of nt-hrf was the intended workflow.

Progress will be slow down the ne

[2021-05-16 21:40] wsbrenk commented on #1008
@akasolace just tested upgrade 3566 to 3568
* deleted reg-entry Computer\HKEY_CURRENT_USER\SOFTWARE\JavaSoft\Prefs\485
* started help->update
* update OK
* deleted reg-entry is back again

[2021-05-17 07:01] akasolace commented on #1025
I will need some clarification as I am not sure I follow,
my understanding was that for both NT and normal database, the workflow is:
  `data download -> hrf creation -> model creation from hrf`

Is it not the case for NT database or do you want to change the workflow ?

[2021-05-17 07:02] akasolace commented on #1008
@wsbrenk  ok so I guess we can close this issue... thank you for testing !

[2021-05-17 15:59] poteus commented on #1021
@akasolace @wsbrenk
It seems to be working on my IOS MacBook Pro.
I will check tonight on my Windows computer (I thought I had a connection error).

[2021-05-17 17:05] wsbrenk commented on #1025
@akasolace your correct: this workflows runs automatically in case of our normal teams
in case of nt teams i had to import the created hrf with FILE->Import hrf file.

[2021-05-17 19:29] MaSedlacek commented on #1016
@akasolace @wsbrenk
Hei guys,
Are there any official CHPP logos other than [the one used](https://wiki.hattrick.org/wiki/File:Chpp_logotype.gif)?
I didn't find any.

The logo looks fine in my HTO but I use the default skin.
![image](https://user-images.githubusercontent.com/53978029/118545318-b95ecb80-b756-11eb-9b6b-f9d843d2f97d.png)
I guess the white pixels visible in the darker skin are the thin

[2021-05-17 19:38] akasolace commented on #1025
ah ok this is strange ... is it intentional or is it a bug ?
I dont even see where in the code the distinction is made between NT and non NT regarding this ...

[2021-05-17 19:44] akasolace commented on #1016
no, I can't find any.
We can simply replace it with HO! logo.

[2021-05-17 23:05] wsbrenk commented on #1025
@akasolace if (UserManager.instance().getCurrentUser().isNtTeam()) {

[2021-05-18 03:06] poteus commented on #1021
From my Windows box...

![Screenshot 1](https://user-images.githubusercontent.com/20169360/118584133-ea8dca80-b75b-11eb-8946-ee7bea1215bc.png)
![Screenshot 2](https://user-images.githubusercontent.com/20169360/118584135-ebbef780-b75b-11eb-9ba8-1d1c74e04cf2.png)
![Screenshot 3](https://user-images.githubusercontent.com/20169360/118584140-ed88bb00-b75b-11eb-8ddb-8fba1f03047f.png)
[error.log](https:/

[2021-05-18 05:07] akasolace commented on #1025
Ok thank you

[2021-05-18 06:24] akasolace commented on #1021
@poteus using version 3568 gives different results whether you are using it on windows (bug above) or macOS (working well) ?

[2021-05-18 06:26] akasolace opened #1038 "[BUG] can't download new data"
![Screenshot 1](https://user-images.githubusercontent.com/20169360/118584133-ea8dca80-b75b-11eb-8946-ee7bea1215bc.png)
![Screenshot 2](https://user-images.githubusercontent.com/20169360/118584135-ebbef780-b75b-11eb-9ba8-1d1c74e04cf2.png)
![Screenshot 3](https://user-images.githubusercontent.com/20169360/118584140-ed88bb00-b75b-11eb-8ddb-8fba1f03047f.png)
[error.log](https://github.com/akasolace/HO

[2021-05-18 06:28] akasolace commented on #1038
@poteus I created the bug ticket on your behalf, in my view this is a different issue than #1021 (@wsbrenk I think you agree)
Could you please just confirms you also experience that issue from macOS.
Also could you share your database here, thank you.

[2021-05-18 06:29] akasolace commented on #1019
should be fixed by #1037

[2021-05-18 09:05] akasolace commented on #1030
hello @tychobrailleur could you check if this has been fixed in latest dev version and we can close the issue, thank you

[2021-05-18 09:15] tychobrailleur commented on #1030
Will do ASAP

[2021-05-18 10:28] aristodemos2008 opened #1039 "[FEATURE] change the order of orders"
In the "lineup" -> "match orders" sometimes I have several orders in the same minute and I can't change the order by which they are processed.

There should be buttons to change the order of the orders. Maybe move up and move down buttons of the selected order. Also add numbers before each order to identify them.

[2021-05-18 13:23] poteus commented on #1038
Confirmed, the bug only appears on my Windows box.

Which database do you need?

![Screen Shot 2021-05-18 at 8 22 58 AM](https://user-images.githubusercontent.com/20169360/118658738-471bd480-b7b2-11eb-9d5f-267b565c75a4.png)

[2021-05-18 17:56] murko69 commented on #470
Just downloaded the DEV-version and will try to find the time to test drive this one after the weekend, when I have a week off work!

[2021-05-18 18:58] tychobrailleur commented on #1038
Intriguing, that game ([matchid=20955045]) does not involve Team ID 27090, which would explain the error.

[2021-05-18 19:04] tychobrailleur commented on #1030
I am not sure I get what the behaviour is supposed to be?  From what @wsbrenk's comment, I was expecting a restart, but I am not?  I am just being prompted to restart.

[2021-05-18 19:07] poteus commented on #1038
I thought the same thing. Then I thought that it could be a game that one of my player played before I purchased it...
I have not check that yet tho.

[2021-05-18 19:10] poteus commented on #1038
Hum, probably not... The game was in 2004, between 2 bots.

[2021-05-18 19:13] tychobrailleur commented on #1038
I guess you could delete the game from the Matches list. :-)

[2021-05-18 19:25] MaSedlacek commented on #1016
OK.
Do you mean the logo itself of the splashsreen logo?
The logo could work at the same position if made a bit smaller
![image](https://user-images.githubusercontent.com/53978029/118710978-4c633880-b81f-11eb-811b-a39563e17d57.png)

The splashscreen could work at the bottom of the panel.
![image](https://user-images.githubusercontent.com/53978029/118711059-66048000-b81f-11eb-90e1-d0f4dc44d924.png)

[2021-05-18 21:18] wsbrenk commented on #1030
@tychobrailleur that's my poor english. the prompt to restart was intended. the changed number of training weeks is only set after ho restart.

[2021-05-18 22:04] poteus commented on #1038
I do not know how to do that tho...

[2021-05-18 22:34] tychobrailleur commented on #1030
Ah gotcha!  All good then, thanks for the fix!

[2021-05-19 08:56] akasolace commented on #1016
@MaSedlacek or we can also keep the CHPP logo but with a white background as on HT website.
Also, I would suggest to include a link to HO website: https://akasolace.github.io/HO/

What do you think?

[2021-05-19 09:00] akasolace commented on #1038
I can't check now but I notice this is an hto integrated game not a regular one ....
what surprises me is that HO behave differently on Windows and on MacOS, you have the same database for both ?
You can put here the zip file highlighted in your screenshot, I will try to have a look later today ...

[2021-05-19 09:00] #1030 closed

[2021-05-19 09:02] akasolace commented on #1023
@aristodemos2008 could you please check this issue is fixed in latest dev version ?

[2021-05-19 12:29] MaSedlacek commented on #1016
@akasolace
Background image - great, [this one](https://wiki.hattrick.org/images/3/36/Chpp_logotype.gif) should have white background, it could work fine.
Link to HO website - agree too.
I'll post a screenshot here once ready. Probably only next week, won't have time in the rest of this week.

[2021-05-19 13:04] poteus commented on #1038
2 different databases...

Windows database
[db_Starlite-2021-05-18.zip](https://github.com/akasolace/HO/files/6508911/db_Starlite-2021-05-18.zip)

IOS database
[db_Starlite-2021-05-19.zip](https://github.com/akasolace/HO/files/6508908/db_Starlite-2021-05-19.zip)

[2021-05-19 14:21] aristodemos2008 commented on #1023
I've copied my DB to the DEV HO-5.0.3568.0. Updated team from HT. Experience sublevels are displayed correctly. Thank you.

[2021-05-19 14:59] #1023 closed

[2021-05-19 15:03] akasolace commented on #1038
indeed there is no such game in htointegrated system ...

[2021-05-19 15:04] akasolace commented on #1038
so there are 2 things:
 1. understand why your HO is trying to download a non-existing match
 2. ensure error 51 does not crash HO!

[2021-05-19 16:52] akasolace opened #1040 "[FEATURE] Database cleanup => hto integrated entries"
Database cleanup tool should offer:
  - an option to delete "Own unofficial game" (e.g. ladder, tournament...)
  - a line incorrect entries (remove all selected by default)

The last option would check if game in matchKurzInfo really exists (based on matchID, fix entries)and delete non existing game

[2021-05-19 16:54] akasolace commented on #1038
@poteus I have no idea where those ghost games are coming from.... I can't find trace of them in HT. In that case I think the simpler is to delete them manually as per the screenshot below.
You might have to delete couple of them.

I created #1040 to facilitate such tasks in the future.
Meanwhile I will close this ticket as it is not really a bug. The real bug was to get those entries in the first

[2021-05-19 17:20] akasolace commented on #1019
@MaSedlacek in case of manual check of new version the message box "you have the latest version" is fine but in case o background check I would not display that message but only the message in case there is effectivly a new vesion.

[2021-05-20 13:01] MaSedlacek commented on #1019
@akasolace I agree, good catch. I'll fix and provide update

[2021-05-20 18:16] wsbrenk commented on #1025
![image](https://user-images.githubusercontent.com/11821502/119028390-af7fd700-b9a7-11eb-87ad-a871ae393153.png)

Download worked for the first time - view is refreshed automatically showing no players anymore, which is correct since Stan removed all his NT players.
The refresh took very long. I think there are things in MatchAndLineupSelectionPanel that can not handle a nt team refresh.

[2021-05-20 18:20] MaSedlacek commented on #1019
@akasolace
Pull request with an update created. There are 2 commits.
The second commit is refactoring only. Looks like a lot of changes but I just broke the code into smaller methods.
I also commented out an unreachable part - I believe it can be needed somewhere. Feel free to uncomment or delete.

[2021-05-20 20:59] wsbrenk commented on #1025
TODOs:
* display of nt download info (text area) is not displayed
* check performance of view refresh after nt download

[2021-05-21 07:50] akasolace commented on #814
@wsbrenk  I fixed it

before:

![image](https://user-images.githubusercontent.com/1136496/119102084-f1496580-ba19-11eb-8215-a0e5d2558a07.png)

now:
![image](https://user-images.githubusercontent.com/1136496/119102159-01614500-ba1a-11eb-8ab1-8f6656f06076.png)

[2021-05-21 08:05] akasolace commented on #814
should be fixed by #1043
@wsbrenk  as you opened this ticket, I let you close it if solution is fine for you ...

[2021-05-21 17:28] wsbrenk commented on #814
@akasolace looks promissing - i will test it tomorrow

[2021-05-21 21:23] wsbrenk commented on #814
![image](https://user-images.githubusercontent.com/11821502/119199530-8769a400-ba8b-11eb-949b-4577fcdae3a6.png)

goalkeeper tagged injured - well done!

[2021-05-21 21:25] #1008 closed

[2021-05-21 22:20] StanMarsh1 commented on #1025
hi
so today i put back 26 players and I wanted to download them to see what I had to play with
but to my surprise I wasn't able to download
Do I need to make a completly new team or....

[2021-05-22 06:49] akasolace commented on #814
Still something wrong on your screenshot. Names of your player correctly displayed but the ones of your opponent still have old format ...

[2021-05-22 08:07] wsbrenk commented on #1025
@StanMarsh1 as i wrote in ht-mail. please wait until @akasolace created the next dev version of HO5 and then try again to download your new team data. since ho5 needs new chpp-authorization i then need again your nt database if i should further debug with your team data. Thanks

[2021-05-22 09:29] akasolace commented on #1025
New dev artefacts have been produced yesterday.
@wsbrenk upgrade from 4.0 does not work for NT database ?

[2021-05-22 11:53] wsbrenk commented on #1025
@akasolace upgrade should work same way as for normal teams. first download with new version will ask for a new authorization of HO, since the new scope "manage_youth" is added.

[2021-05-22 16:52] wsbrenk commented on #1038
@akasolace did you check if sourcesystem of those matches was hattrick? Maybe those matches were from the youth team?!

[2021-05-22 17:34] akasolace commented on #1025
@wsbrenk ok I will release new artefacts in the weekend. I will try to complety finalize #814 by then

[2021-05-22 17:37] akasolace commented on #1038
@wsbrenk I did check it was not a youth match .... I have no idea where those entries came from ...

[2021-05-23 09:28] wsbrenk opened #1045 "[BUG]team attitude should have value NORMAL and combo box disabled in secondary cup match lineups"
HO 5 r3574

![image](https://user-images.githubusercontent.com/11821502/119255064-fd6c2900-bbb9-11eb-8ae2-caf9c459e342.png)

[2021-05-23 09:53] wsbrenk commented on #1045
@akasolace concerning beautifying lineup display for german string lengths: what do you think about placing the match selection view above the goalkeeper box? together with the team icon view.  there is enough free space (green stripes).

[2021-05-23 15:20] #1045 closed

[2021-05-23 16:17] #814 closed

[2021-05-23 18:02] wsbrenk commented on #1025
new players with names are displayed.

* training panel gives npe
* matches are not shown (downloaded)

[2021-05-23 19:48] akasolace commented on #1025
Sounds all broken for national teams ...

[2021-05-24 09:57] wsbrenk commented on #1025
@StanMarsh1 @akasolace i think
* prio 1 should be matches download
* prio 2 team analyzer (opponent matches download)
do you agree?

i see no chances to calc players training effects (subskills) with reasonable effort.

[2021-05-24 15:41] akasolace commented on #1025
@wsbrenk I agree, I don't think training is very relevant for NT teams. I think we should indeed focus on match download and team analyzer. I am not sure of the work required, if it is small we can put this for 5.0 otherwise we put this for 6.0.

[2021-05-25 06:39] akasolace commented on #1025
@wsbrenk also more generally, I think that all new features should go automatically to milestone 6.0 but "bugs" ticket will go in for 5.0.  I will let you create the tickets and we decide afterward.  But meanwhile, is this ticket #1025 closed ?

[2021-05-25 22:31] wsbrenk commented on #1025
@akasolace i will create 2 new tickets concerning NT features. so this one could be closed.

[2021-05-25 22:34] wsbrenk opened #1048 "[BUG]NT team matches are not displayed in match module"
match module should display NT team matches of player's own team and it's opponent teams.

[2021-05-25 22:36] wsbrenk opened #1049 "[FEATURE] team analyzer should support NT teams"
As a NT coach i would like to investigate opponent teams and their lineups of finished matches.

[2021-05-26 08:05] akasolace commented on #470
@murko69  have you had time to test it ?

[2021-05-26 08:07] akasolace commented on #999
closed with #1000

[2021-05-26 08:07] #999 closed

[2021-05-26 08:08] akasolace commented on #1021
@poteus @wsbrenk I think I can close this ticket, can you please both confirm ?

[2021-05-26 08:09] akasolace commented on #1007
@wsbrenk should we close this ticket considering the issue fix itself on first data download ? what do you think?

[2021-05-26 08:11] akasolace commented on #994
@wsbrenk should we also close this one if the bug get fixed on restart / data download ?

[2021-05-26 12:51] poteus commented on #1021
I erased the match in question. Issue solved.

On Wed, May 26, 2021 at 3:08 AM akasolace ***@***.***> wrote:

[2021-05-26 13:43] #1021 closed

[2021-05-26 21:14] wsbrenk commented on #1048
![image](https://user-images.githubusercontent.com/11821502/119732108-1275e000-be78-11eb-9568-08b72998a6f1.png)

match short info is downloaded - lineups are next step

[2021-05-26 21:33] wsbrenk commented on #1048
here is the lineup:

![image](https://user-images.githubusercontent.com/11821502/119734140-d1cb9600-be7a-11eb-9d82-b988d631a44b.png)

[2021-05-26 21:47] wsbrenk commented on #1007
@akasolace if you don't have a quick solution for that issue, i confirm to close it. should be a minor problem. maybe again a week 16 issue.

[2021-05-26 21:48] wsbrenk commented on #994
@akasolace yes - i confirm

[2021-05-27 05:02] #994 closed

[2021-05-27 08:53] #1048 closed

[2021-05-27 08:56] akasolace commented on #1007
@wsbrenk thing is I could not reproduce it.
We can wait for week 16, see if the problem occurs again. I will create a tag week 16, then we will know which issue to look at when time comes ...

[2021-05-27 14:03] tychobrailleur commented on #909
That would be my suggestion, yes.  It must have been released some time today, right? I checked this morning and it wasn't there.

[2021-05-27 18:39] wsbrenk commented on #1049
teamanalyzer uses the following chpp files
* matchesArchive.xml
* players.xml

they need to be replaced by nt-version of those files.

[2021-05-28 10:24] akasolace commented on #909
@tychobrailleur it is available now ...

[2021-05-28 15:54] wsbrenk opened #1051 "[BUG]team analyzer does not show shecialties of own team players"
![image](https://user-images.githubusercontent.com/11821502/120010670-b4fba380-bfdd-11eb-93a7-d9dd59960ff6.png)

[2021-05-28 15:54] akasolace commented on #1016
hello @MaSedlacek I am planning to make the first alpha release of 5.0 this weekend. If you could push your commit for this ticket by then that would be great ...

[2021-05-28 17:47] wsbrenk opened #1052 "[FEATURE]Support for U21-Teams"
![image](https://user-images.githubusercontent.com/11821502/120022891-53dbcc00-bfed-11eb-9711-fb486e017054.png)

Column Nationalteam should support 3 values
* null (default)
* NT
* U21

[2021-05-28 18:13] akasolace opened #1053 "[BUG] Error on download"
![image](https://user-images.githubusercontent.com/1136496/120025544-1c6f1e80-bff1-11eb-94e4-76c0d11c4c27.png)

![image](https://user-images.githubusercontent.com/1136496/120026426-5b51a400-bff2-11eb-90a1-ba16a81cde92.png)

[2021-05-28 18:16] akasolace commented on #1053
same bug as reported by @poteus  #1038  (no idea how I ended up with this wrong entry during data download ....

[2021-05-28 18:22] akasolace commented on #1038
I just experienced that bug (see #1038)

[2021-05-28 19:13] akasolace commented on #1053
@wsbrenk I can't ind any reference to that game. I never faced that opponent.
The match report mentions some of my newly acquired players. It seems to me this is  a bug on CHPP site ....

[2021-05-28 19:17] akasolace commented on #1053
I reported the bug on HT forums

[2021-05-28 19:43] akasolace commented on #1053
@wsbrenk also I noticed that downloading new data cause download of lineups for all game in matkurzinfo table,  should ze not li,it this to most recent game or even do lazy doznload of lineup ?

[2021-05-29 05:17] wsbrenk commented on #1038
match 20955045 from 2004 is not the correct SourceSystem=htointegrated but hattrick

[2021-05-29 05:44] wsbrenk commented on #1038
the given url looks like the nt lineup download in NthrfConvertXml2Hrf.java. should not happen in none national teams!

[2021-05-29 11:30] wsbrenk commented on #1053
![image](https://user-images.githubusercontent.com/11821502/120068632-ec239080-c081-11eb-9134-92279cd97463.png)

this tournament matches are no longer given by match archive. this gives the errors.

[2021-05-29 11:55] wsbrenk commented on #1053
@akasolace i haven't played tournament matches for quite a long time. Could you please check if you find out how long those matches are kept in ht match archive?

my first guess is, that i don't reload those matches if they are older than one year.

[2021-05-29 12:29] wsbrenk commented on #1053
are you sure, if really ALL matches details/highlights were reloaded or not only a maximum of 10 each time you start your HO?

[2021-05-29 15:35] akasolace commented on #1053
Just to understand the issue ... you are saying that tournament games are simply dropped from ht ? In that case I still don't understand why March details shows wrong match date ....

[2021-05-29 16:04] wsbrenk commented on #1053
my assumption is probably wrong. I have just found tournament games from 2016 in the archive. Maybe matches were stored as htoIntegrated matches which weren't htointegrated, wrong match type or anything like this.

most of the changes of my pr should help to store with correct sourceSystem. the isObsolet method should be modified - if we know what kind of wrong matches were in the database.

[2021-05-29 18:28] akasolace commented on #1053
the fake entry in my db, says the game was played the 2021-05-23 17:26:52 and I got a match report

[2021-05-29 18:30] akasolace commented on #1053
it really seems a bug from CHPP

[2021-05-29 18:38] akasolace commented on #1053
![image](https://user-images.githubusercontent.com/1136496/120081373-9ff64180-c0bd-11eb-99da-bdab9d47d5b5.png)

![image](https://user-images.githubusercontent.com/1136496/120081379-a8e71300-c0bd-11eb-99be-b9970d2c52b2.png)

here it is:
![image](https://user-images.githubusercontent.com/1136496/120081407-cd42ef80-c0bd-11eb-9f35-901eeabb8177.png)

[2021-05-29 18:40] akasolace commented on #1053
and it seems that all info of the game are in the db:
![image](https://user-images.githubusercontent.com/1136496/120081437-fb283400-c0bd-11eb-8ba5-baeb788f53c5.png)

![image](https://user-images.githubusercontent.com/1136496/120081443-04b19c00-c0be-11eb-83be-cdaff606376e.png)

HO! shoud not try to download those data again ... something wrong here also on HO! side ...

[2021-05-29 21:24] MaSedlacek commented on #1016
@akasolace
Sorry, finally finished this. Credits removed, CHPP logo with white background added, HO link added.
Looks fine to me, didn't test on different themes.

[2021-05-29 21:41] wsbrenk commented on #1053
@akasolace could it be, that hasUnsureWeatherForecast is not working as expected on those games, causing the ONlineWorker to download those matches again?
should return false on matches that are finished.

[2021-05-30 07:23] akasolace commented on #1053
Might be
When I got time I will investigate

[2021-05-30 07:49] wsbrenk commented on #1053
Thesis: the bugs that are fixed in my current pr (download with wrong source system) have led in recent weeks to the fact that matches that are actually HtoIntegrated have been loaded as a hattrick source system (totally outdated game reports). We have saved these and now they lead to the observed errors.

[2021-05-30 08:22] wsbrenk commented on #1053
@akasolace another point: even if isObsolet is not in line with the hattrick rules, I think we could introduce it as a HO rule. who might be interested in hto matches that are older than one year?!

[2021-05-30 09:50] datatramp opened #1056 "[BUG] Players show different skill increase starting from same level after playing in training position in same game"
**Describe the bug**
After first time training defending last week with my key players in a Saphir cup game [matchID=678872142] (https://www.hattrick.org/Club/Matches/Match.aspx?matchID=678872142)
player Henning Schram gained from assumed 4.00 -> 4.29 after 90 min
player Fynn Legendorff gained from assumed 4.00 -> 4.34 after 89 min
player Frank-Ullrich Moll gained from assumed 5.00 -> 5.29 after 8

[2021-05-30 10:55] wsbrenk commented on #1056
I guess Legendorff has still been calculated as a 21-year-old

[2021-05-30 11:46] datatramp commented on #1056
then level 4 base increase would be the same as increasing from level 5 (Schram/Moll) ? that is wrong.

[2021-05-30 12:29] wsbrenk commented on #1056
i see - have to check that - thanks!

[2021-05-30 18:39] wsbrenk commented on #1056
@datatramp found a bug concerning minutes counting. please check if that repairs your issue with next dev version - thanks.

[2021-05-30 20:52] datatramp commented on #1056
ok I will check with upcoming training update when next dev build is available. Thx for your work!

[2021-05-30 21:10] wsbrenk commented on #1056
you could run recalc subskills (7 weeks) to correct the numbers.

[2021-05-31 09:46] akasolace opened #1059 "[BUG] selecting some games in match module throws error"
wait closing of #1058 before investigating this one ...

[2021-05-31 10:24] #1038 closed

[2021-05-31 10:24] #1059 closed

[2021-05-31 10:31] akasolace commented on #470
@MaSedlacek not sure what happened and when but I just check it to see whether or not I could close it and it is completly broken

[2021-05-31 10:51] #1016 closed

[2021-05-31 11:11] MaSedlacek commented on #470
@akasolace Do you mean the layout is broken or whole statistics tab is broken? I can have a look in the evening.

[2021-05-31 11:41] akasolace opened #1061 "[BUG] exclude last Lineup not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2021-05-31 11:42] akasolace commented on #1016
@MaSedlacek I thematized the color of the link ...

[2021-05-31 12:08] #1019 closed

[2021-05-31 12:21] akasolace opened #1062 "[BUG] error when downloading new data"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1136496/120192406-6f2c1e80-c21b-11eb-8998-fbc0d5b932fa.png)

**To Reproduce**
blank db, download new data ....

[2021-05-31 12:26] #909 closed

[2021-05-31 12:27] akasolace commented on #470
nothing is displayed ...

[2021-05-31 17:31] MaSedlacek commented on #470
I don't know what's happening after the build but it looks fine when I ran the app locally - even when running from the current upstream master. Any further info available?

[2021-05-31 18:41] akasolace commented on #470
@MaSedlacek  you are saying looks fine when ran from IDE but fails when using built apps ?

[2021-05-31 19:49] MaSedlacek commented on #470
@akasolace Looks fine when ran from IDEA. I didn't try using built apps. Shall I try? Is there a how to run using built apps?

[2021-05-31 21:34] wsbrenk commented on #1053
Sorry - but this change crashed my database:

 [Error]   JDBCAdapter: JDBCAdapter.executeQuery : java.sql.SQLSyntaxErrorException: column is referenced in: PUBLIC.PK_MATCHID in statement [ALTER TABLE MATCHDETAILS DROP COLUMN SourceSystem]
Statement: ALTER TABLE MATCHDETAILS DROP COLUMN SourceSystem
java.sql.SQLSyntaxErrorException: column is referenced in: PUBLIC.PK_MATCHID in statement [ALTER TAB

[2021-05-31 21:54] wsbrenk commented on #1053
youth matches have no entry in MatchKurzInfo

youthtraining.matchid
 - matchdetails.matchid, matchdetails.sourcesystem=1
 - matchlineup.matchid, matchlineup.sourcesystem=1 (matchlineup.matchtyp=100, 106)
 - matchhighlights.matchid, matchhighlights.sourcesystem=1
 - matchlineupteam.matchid, matchlineupteam.sourcesystem=1
 - matchlineupplayer.matchid, matchlineupplayer.sourcesystem=1
 - matchsubstit

[2021-06-01 06:45] akasolace commented on #470
I will need to investigate then ...

[2021-06-01 06:48] akasolace commented on #1053
Actually I realized yesterday it requires an even bigger refactoring. There are plenty of errors because of current implementation. I will match MatchType 1 to 1 with HT.
I will add function getMatchIcon directly into match object. I will be careful with youthMarch treatment.

[2021-06-02 15:06] akasolace opened #1064 "[FEATURE] improvement TS prediction"
from an HT user on the forum:

How accurate is the TS predictor ? Is there a way to get the calculations behind (formula) ?
Is it possible to add some lines to see when is the mid-week match and a line for each TS levels please ?

[2021-06-02 19:33] wsbrenk opened #1065 "[BUG]match order tactic is not uploaded to hattrick"
HO match lineup set  tactic to Weitschüsse  (long shot)
send lineup
verify in Hattrick (tactic is normal)

![image](https://user-images.githubusercontent.com/11821502/120541434-2a0a1700-c3ea-11eb-881a-77666797aae7.png)

[2021-06-03 17:21] datatramp commented on #1056
I updated to Build 3600 and did a recalc subskills (7 weeks). It looks fine now, good work!
![Screenshot 2021-06-03 191748](https://user-images.githubusercontent.com/64270318/120685992-cc84d180-c4a0-11eb-9e60-32635accc0b9.JPG)

[2021-06-03 20:35] #1056 closed

[2021-06-04 13:59] datatramp commented on #1062
Same error here today with build 3600.
Download lasted unusually long, about 3 minutes, my Tool NetSpeedMonitor says 60MB were downloaded, 3MB uploaded.
When the download reached its end, java.lang Stack Overflow error showed up.

After restart HO!5 Dev, The "failed" HRF showed up in list.

In Squad Tab overwiew all form, skillup etc. changes showed up, however all recorded subskill progress in sk

[2021-06-04 14:16] akasolace commented on #1062
@datatramp the latest dev build is known to be broken.   I will release a new version (possibly tonight).
I hope that you are using a stable version in parallel or that you have at least a backup of a database which is like 2 weeks old. Because the previous dev build would have had damaged the db structure.

[2021-06-04 15:04] datatramp commented on #1062
yeah i am using seperate directory with ho!3.0 stable own db since forever ;)
HO!Dev just to help you guys and try new features!

[2021-06-04 17:40] akasolace commented on #1062
still exists with latest build

[2021-06-04 17:42] akasolace commented on #1062
![image](https://user-images.githubusercontent.com/1136496/120842281-c9571780-c56c-11eb-9bd8-fbfa4d250740.png)

[Error]   Lineup: getUpcomingMatch: java.lang.NullPointerException: Cannot invoke "core.model.enums.MatchType.isOfficial()" because the return value of "core.model.match.MatchKurzInfo.getMatchType()" is null

[Error]   OnlineWorker: Error fetching Match: 678802250

revert to last 10

[2021-06-05 06:45] wsbrenk commented on #1065
yesterday it worked with same HO version!? need to find out, how to reproduce this.

[2021-06-05 18:19] wsbrenk opened #1070 "[BUG]League - only the first in table is displayed"
![image](https://user-images.githubusercontent.com/11821502/120901466-5f597380-c63b-11eb-9c16-7bea760927c4.png)

[2021-06-05 20:57] wsbrenk commented on #1070
Now it is fine again - i think the (alltid) internet site had trouble. Couldn't we try to get the formula for those 5 columns. isn't it trouble enough to handle error on chpp side?

[2021-06-05 21:58] wsbrenk opened #1072 "[BUG]performance issue in team analyzer"
feedback from hattrick user:

Currently I run the 5.0 DEV (r3564)

If you want to update the games of the opponent in the Teamanalyzer, it takes a very long time - certainly over 30 seconds - until the HO starts with the download. During this time, the update button is dark gray, it looks a little as if the HO has hung up. After that, everything runs without problems.

[2021-06-06 07:50] wsbrenk commented on #1072
table TA_PLAYER contains players from week number 1.362.571. some housekeeping function should remove them.

[2021-06-06 08:00] wsbrenk commented on #1051
linked with #814

[2021-06-06 15:42] #1051 closed

[2021-06-06 15:42] #1072 closed

[2021-06-06 15:44] #1061 closed

[2021-06-06 15:46] akasolace commented on #470
@MaSedlacek I don't get it... I wanted to look into this but it seems to work just fine now ....

[2021-06-06 17:04] wsbrenk commented on #1053
@akasolace the missing matches are back again: Great job!

![image](https://user-images.githubusercontent.com/11821502/120933338-0270c280-c6fa-11eb-9b2d-f23fb0eb2885.png)

[2021-06-06 19:34] akasolace commented on #1053
@wsbrenk not sure it is all fixed so I leave the ticket open for the time being .. but we should be getting closer to first beta ...

[2021-06-06 20:12] MaSedlacek commented on #470
@akasolace
Glad to hear it works fine in the end. I was afraid I messed something up with git :)

[2021-06-07 06:26] wsbrenk opened #1075 "[BUG]NPE after Youth download"
after download no players are displayed
after HO restart this message appears

![image](https://user-images.githubusercontent.com/11821502/120969145-194efd80-c76a-11eb-9756-55f937ad0447.png)

[2021-06-07 18:51] wsbrenk commented on #1075
20:23:12 [Error]   core.HO: Launched from IDE otherwise there is a bug !
20:23:35 [Error]   core.db.UserConfigurationTable: parameter matchLocation is not stored in UserConfigurationTable
20:23:36 [Info]    core.model.HOVerwaltung: language used for interface is: Deutsch
20:23:37 [Info]    core.gui.HOMainFrame: This is HO! version 0.0 DEV (r0), have fun!
20:23:37 [Info]    core.gui.HOMainFrame: Op

[2021-06-07 18:57] wsbrenk commented on #1075
getSpieler4Matches uses MatchLineup.MatchDate which is not available anymore.

[2021-06-07 19:31] wsbrenk commented on #1075
this is from player analysis:

21:30:56 [Error]   core.db.JDBCAdapter: JDBCAdapter.executeQuery : java.sql.SQLSyntaxErrorException: user lacks privilege or object not found: MATCHLINEUP.MATCHDATE
Statement: SELECT DISTINCT MATCHLINEUPPLAYER.MatchID, MATCHLINEUPPLAYER.MatchID, MATCHLINEUPPLAYER.Rating, MATCHLINEUP.MatchDate, MATCHLINEUP.HeimName, MATCHLINEUP.HeimID, MATCHLINEUP.GastName, MATCHLINEU

[2021-06-07 19:55] wsbrenk opened #1077 "[BUG]player analysis shows no matches anymore"
![image](https://user-images.githubusercontent.com/11821502/121079918-10e2db00-c7db-11eb-9989-df31403cca0e.png)

[2021-06-08 06:24] #1075 closed

[2021-06-08 06:25] akasolace commented on #1077
@wsbrenk we might find couple of hiccups following matchType refactoring ...

[2021-06-08 16:41] #1077 closed

[2021-06-08 18:40] akasolace commented on #1053
duplicate of #1062

[2021-06-08 18:40] #1053 closed

[2021-06-08 19:24] akasolace opened #1079 "[Improvement] Training module"
I think those tabs are difficult to read, I would suggest the folllowing:

The following tab should only be about training history, I would even rename it historic:
I would show player development in there as of table in tab prediction but just for the history

![image](https://user-images.githubusercontent.com/1136496/121244468-30433c00-c89f-11eb-91e2-703529e843e7.png)

Then on tab prediction,
 I

[2021-06-08 19:28] akasolace opened #1080 "[BUG] training wrong value displayed for new player"
I just bought a player,

As expected in HT, I have no information about skills development

![image](https://user-images.githubusercontent.com/1136496/121245175-ffafd200-c89f-11eb-8ddf-5033d8a6fd75.png)

In HO!  it shows:

![image](https://user-images.githubusercontent.com/1136496/121245238-15bd9280-c8a0-11eb-928b-8c75fe8b8dbe.png)

whereas in reality it has PM = 3 and Scoring = 16  (values correc

[2021-06-08 20:39] wsbrenk commented on #1080
@akasolace do you mean the values given in training development of ...?
these values are expected skill changes in the future.

[2021-06-09 06:47] akasolace commented on #1080
I thought training development was past training (I think display can really be clarified see #1079 ).
Still,  I bought the player with skill 16 in scoring and HO! tells me that in 2 days his skill will drop to 16 (which is also incorrect).

[2021-06-09 07:08] wsbrenk commented on #1080
Still, I bought the player with skill 16 in scoring and HO! tells me that in 2 days his skill will drop to 16 (which is also incorrect).

i confirm clarification of the display. currently it is done by different colors. black letters for past skill ups, colored letter for future skill ups. Bad tagging of selected player is a problem of the dark mode.

Could you debug, why your new player shows a s

[2021-06-09 08:22] akasolace commented on #1080
no I purchased my player with skill 16, also HO! forecast a loss o skill from 17 to 16 to happen in 2 days ... (not in the past)

[2021-06-09 08:26] akasolace commented on #1080
I just updated HO! and still the same issue  (squad tab is good but Training tab predict a fake skill drop )

![image](https://user-images.githubusercontent.com/1136496/121319818-ded19600-c90c-11eb-8b26-7071ad82bc0a.png)

![image](https://user-images.githubusercontent.com/1136496/121319993-09bbea00-c90d-11eb-95cb-681d72c708f4.png)

![image](https://user-images.githubusercontent.com/1136496/1213199

[2021-06-09 08:27] akasolace commented on #1080
actually I just noticed plenty of players have that bug ...

[2021-06-09 15:37] wsbrenk commented on #1080
@akasolace I suspect that we mistakenly do not specify the target skill, but the initial skill on skill drops.

Since HO assumes subskill 0 for new players, it is propable that the skill drops in the near future.

[2021-06-09 15:57] akasolace commented on #1080
My understanding is that skill drops only occur or player above 27 (not the case here).
Also HO does not really report a skill drop here, my player is at 16 and HO! says skill drop to occur tomorrow to get to level 16 (and tomorrow is not even a Monday when skill drop occurs).
So here it is really all wrong ....
However I put all this to HO 6.0 because I think this panel deserve a big refresh (not

[2021-06-09 18:53] wsbrenk commented on #1080
what I suspect is that your player dropped to 15,999, and in the display it was rounded up again to 16

[2021-06-09 21:00] akasolace commented on #1080
then maybe we should not use the nb of decimal from user preference for rounding but more for truncating ... it might be less confusing across the app. What do you think ?

[2021-06-09 21:11] wsbrenk commented on #1080
i tried to check my assumption - i can't find any rounding issue up to now.

you should try to debug FuturePlayer.previewPlayer to find the reason for the skill drop and it's wrong display

[2021-06-10 11:03] adrimorales1 opened #1082 "[BUG] Java error Training at HRF update"
**Describe the bug**
Java error in HRF update

![image](https://user-images.githubusercontent.com/44621053/121514248-16fbd600-c9ec-11eb-9e8c-9ec1e4006ac2.png)

**Platform information:**
 - OS: Windows 10
 - Version 5.0 r3650

[2021-06-10 22:13] wsbrenk opened #1083 "[BUG]icons of secondary cup match types are gone"
![image](https://user-images.githubusercontent.com/11821502/121603876-cf0b9c00-ca49-11eb-9c6b-f40b4b8108cf.png)

[2021-06-12 06:49] eljardinero4 opened #1086 "[BUG]wrong rating values"
1. the simulated rating values in the setup page are very much lower than in reality
2. in the past I was able to see whole team in the same page...

![hattrick bug](https://user-images.githubusercontent.com/84559255/121767786-dec6d580-cb5a-11eb-8fcb-2eee312bcd41.JPG)

 - Windows 10
 - Version 5.0 DEV (r3566)

[2021-06-12 08:28] #1082 closed

[2021-06-12 08:38] akasolace commented on #1086
@eljardinero4  normally difference are always below 1, Are you takling about much more bigger difference ?

[2021-06-12 11:03] eljardinero4 commented on #1086
Yes I'm talking about bigger differences, e.g. MF rating: HO says armselig(min) while in HT it's brillant (tief)...
but the number in HO for the same rating is 9.24...

[2021-06-13 15:07] wsbrenk commented on #1086
![image](https://user-images.githubusercontent.com/11821502/121812843-b7126300-cc69-11eb-8828-629a178bf5a3.png)

text represantation match rating numbers and differences to previous linup setting is displayed again

[2021-06-13 15:33] wsbrenk commented on #1079
![image](https://user-images.githubusercontent.com/11821502/121813505-939ce780-cc6c-11eb-8285-c3fae39acabc.png)

in nimbus the selection is not invisible. i vote against removing player development table. Changing some display aspects would be welcome:

* change training priority colums to an combobox instead of popup menu
* development table should display other skill arrows (maybe same as in ser

[2021-06-19 13:59] wsbrenk opened #1089 "[FEATURE] hattrick changed experience increase for new match types"
from unwritten manual:

<html>
<body>
<br style="color: rgb(0, 0, 0); font-family: Roboto, Verdana, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: 0.2px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-strok

[2021-06-19 14:10] wsbrenk commented on #1089
TrainingPerPlayer.addExperienceIncrease needs an update:
* LEAGUE is OK
* QUALIFICATION is OK
* CUP is OK
* Challenger CUP is missing!
* FRIENDLYNORMAL is OK
* INTFRIENDLY is OK
* MASTERS is OK
* WM Matches of national team players are changed
* Continental competition is new
* NATIONALFRIENDLY 2d->1d

[2021-06-20 08:47] wsbrenk commented on #1089
there is a bug in TrainingPerPlayer.addExperienceIncrease! the experience minutes are limited to 90 minutes per week. this is wrong, if unwritten manual is correct: concerning experience the 90 minutes limit counts only per match.

[2021-06-20 15:51] wsbrenk commented on #1089
chpp file=worldcup seems to include the information, needed for decision of national team players' experience increase

[2021-06-20 21:26] wsbrenk commented on #1083
many places now shows correct cup icons, but team analyzer still left to do:

![image](https://user-images.githubusercontent.com/11821502/122688850-e81d0580-d21e-11eb-8890-36ea71cf4085.png)

[2021-06-21 20:12] wsbrenk commented on #1083
team analyzer now displays correct icons:
![image](https://user-images.githubusercontent.com/11821502/122822001-d2bae080-d2dd-11eb-9f35-2b9a89b85415.png)

[2021-06-21 20:24] wsbrenk commented on #1083
* special events module
* statistics arena panel

[2021-06-24 07:22] #1083 closed

[2021-06-27 14:07] wsbrenk commented on #1089
info from HT-Tasos concerning tournament ids of contenental competitions:

I will update the Docs as soon as possible, but you can get them now from here

4894807,U21 Friendlies
4878492,U21 Africa Cup
4878490,U21 America Cup
4878493,U21 Asia-Oceania Cup
4878483,U21 Europe Cup
4892615,U21 Nations Cup
4891573,U21 Wildcard Rounds
4892549,U21 World Cup

5001311,Wildcard Rounds
5001315,World Cup
500127

[2021-06-27 14:32] wsbrenk commented on #1089
hattrick tournamentId is stored in MatchKurzInfo.matchcontextId!

[2021-06-27 14:45] wsbrenk commented on #1070
it still happens from time to time

[2021-07-03 21:31] wsbrenk commented on #1052
U21 coaches can use HO by setting Nation team to true. No separate setting is necessary.

[2021-07-03 21:31] #1052 closed

[2021-07-04 07:40] wsbrenk commented on #1049
![image](https://user-images.githubusercontent.com/11821502/124377361-dbcb8a80-dcab-11eb-9dc0-76ce63692879.png)

team analyzer loaded national team matches

[2021-07-04 08:47] wsbrenk commented on #1070
i think these rating information is available in chpp file teamdetails too.
hatstats formula is part of the MatchDetails class.

[2021-07-04 11:26] wsbrenk commented on #1070
idea/plan:

* change table VEREIN
  * add column team_id
  * change primary key (hrf_id, team_id)
* download powerrating of foreign teams and save them in changed VEREIN table
* get hatstats from MatchDetails
* get Powerrating from table VEREIN

future ideas/plans:
* add combobox choice to series history view to show rating developments instead of position history

[2021-07-04 20:54] wsbrenk commented on #1070
the bad thing, storing power rating with match details, is that it could be overwritten by later downloads of match details with ratings not belonging to the match date time. an alternative would be storing power rating of foreign team in table VEREIN.

[2021-07-08 17:54] wsbrenk commented on #1070
new idea/plan:
* create table MatchTeamratings
  * matchid, matchtyp, teamid, fans, div ratings from chpp:teamdetails
* which is created when Matchdetails are created the first time after match end
* which is not updated, when Matchdetails are updated

[2021-07-10 10:40] wsbrenk commented on #1070
currently an update of MatchDetails deletes all Match table entries of the match and creates new ones.
We need a tag, that distinguishes those updates from deletes that perform database housekeeping.

[2021-07-11 12:30] wsbrenk commented on #1070
Team ratings of each opponent team are stored in matchteamratings.
=> power rating can be toggled between avg<->max

Prospects for further improvements:
* add further rating values (fan club size, last login date or other values from teamdetails chpp file)
* show trend/history of those statistics (alternative to position history view)

[2021-07-11 13:04] wsbrenk commented on #1065
i think we could close this one - never saw it again.

[2021-07-16 16:19] wsbrenk commented on #1065
Today, on friday after downloading the training, i found that the HO lineup doesn't show tactic long shot, whereas lineup in hattrick is still showing long shot correctly.

[2021-07-17 06:07] wsbrenk opened #1094 "[BUG]NPE in Player.calcSubskills"
HO-dev5.0.3650

java.lang.NullPointerException: Cannot invoke "core.training.TrainingPerWeek.skillDropDayIsBetween(java.time.Instant, java.time.Instant)" because the return value of "core.training.TrainingManager.getNextWeekTraining()" is null
	at core.model.player.Player.calcSubskills(Player.java:2426)
	at core.model.HOModel.calcSubskills(HOModel.java:513)
	at core.net.DownloadDialog.startDownloa

[2021-07-17 06:32] wsbrenk opened #1095 "[BUG] wrong specialty in youth academy"
feedback from wettnetzer:

wettnetzer
Moin. Mir ist grad ein kleiner Fehler im HO (in der neusten dev) im Internat aufgefallen. Aufgrund des SEs hier (119372013) in Minute 32 wurde Achim Rössert im HO als Köpper markiert. Er war jedoch der Flankengeber, der Köpper ist Folko Sautner.

I just noticed a small error in the HO (in the latest dev) in the youth module. Due to the SEs here (119372013) in

[2021-07-17 07:02] wsbrenk commented on #1094
same as #1082

[2021-07-17 07:06] wsbrenk commented on #1094
fix is not released (with ho 3650)

merge was done after release of 3650

[2021-07-17 07:06] #1094 closed

[2021-07-20 12:12] akasolace commented on #1095
closed by #1096

[2021-07-20 12:12] #1095 closed

[2021-07-21 10:13] Asterus48 opened #1097 "[BUG]Training"
**To Reproduce**
Steps to reproduce the behavior:
1. Click on Training
2. See error "Cannot invoke "core.training.WeeklyTrainingType.getTrainingSkillPartlyTrainingPositions()" because "tt" is null"

**Screenshots**
(https://i.postimg.cc/zX6tBmDW/Schermata-2021-07-21-alle-11-57-29.png)

**Platform information:**
 - OS:  macOS
 - Version (5.0 DEV r3650)

**Additional context**
details

java.lang.Nul

[2021-07-23 11:29] wsbrenk commented on #1065
issue was a missing refresh after lineup download

[2021-07-23 16:37] wsbrenk commented on #1080
skill losses only begin at the age of 28 years. This is what i found today. As far as i can see, this was changed about  3 years ago.

[2021-07-27 20:30] peppermil opened #1101 "[BUG] writing arabic"
As the only team, the wages in HO of the team in kuwait are not normal writing - but writing in arabic. but it's not only the wages

- site statistic / arena the income total are in arabic
- site transfer / the total is in arabic
- site misc /the overview "this week" and "previus Week" is in arabic

see the pictures here

![BUG Zahl_0](https://user-images.githubusercontent.com/88058929/127222979-6

[2021-07-28 07:07] wsbrenk commented on #1101
CurrencyUtils.getLeagueCurrencyFormater should get an option to override the league settings by a user configuration

[2021-07-30 08:21] peppermil commented on #1101
In HO version 3.0, the numbers are all written normally - also not in arabic. only the currency symbol is in arabic.

[2021-07-30 09:11] wsbrenk commented on #1101
curious:
release notes "wages/prices are formatted as team local currency as opposed to host system currency (bug #93)"
was part of the 1.436 release

[2021-07-31 08:01] #1089 closed

[2021-08-01 13:38] wsbrenk commented on #1079
linked with #124

[2021-08-01 13:42] #1065 closed

[2021-08-01 13:43] #1070 closed

[2021-08-01 13:44] #1049 closed

[2021-08-01 20:32] wsbrenk commented on #1101
hattrick displays currency in CHF. So currency will be determined by user's first team's league, not by second or third teams.

[2021-08-03 16:08] cmeury commented on #811
I still have this problem; version 4.1.3310.2 on MacOS 11.5. Also, preferences do not seem to get saved either. Should I open a new issue for this?

[2021-08-03 20:28] wsbrenk commented on #1101
store countryId of first team together with currencyRate in XTRAData (and Module_configuration), to select CurrencyFormat.

[2021-08-12 15:43] Asterus48 opened #1114 "[BUG] An error has occurred during startup"
**Describe the bug**
I have installed the 5.0 DEV version for MacOS, both the version, with or without Java, after the installation without errors the error appears when HO is launched.

**To Reproduce**
1. Click on the HO icon
2. Error in the title
3. java.lang.ClassNotFoundException: core.HOLauncher
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:606)
	at j

[2021-08-12 17:32] #1080 closed

[2021-08-12 17:36] #1086 closed

[2021-08-13 07:17] adrimorales1 commented on #1114
Same error

OS: Windows
Version: Windows 11 Pro  22000.132

[2021-08-14 07:59] eljardinero4 commented on #1086
this wasn't fixed...

[2021-08-14 09:45] wsbrenk commented on #1086
![image](https://user-images.githubusercontent.com/11821502/129441868-b589f1a9-ab86-424d-be46-2eb3e2b791dc.png)

this is displayed in my r3672 (HO-Dev release). The skill names are looking correct, or not?

what do i see wrong?

[2021-08-14 09:49] wsbrenk commented on #1086
if your point is the discrepance to the hattrick values, did you check the values at minute 0?:
![image](https://user-images.githubusercontent.com/11821502/129442094-b905b701-e5b8-4402-bbf0-3d16da40fe80.png)

only these should correspond to hattricks values.

[2021-08-14 09:55] wsbrenk opened #1115 "[BUG] NPE in Rating chart"
**Describe the bug**

NPE on Rating chart in lineup panel

HO 5.0.3672-dev

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lineup
2. Click on 'show rating chart....'
2. Click on 'combined chart'
4. See error
ava.lang.NullPointerException: Cannot invoke "java.util.Hashtable.get(Object)" because "this.mapDI" is null
	at module.lineup.ratings.RatingChartData.getMidfield(RatingChartData.ja

[2021-08-14 20:56] wsbrenk commented on #1114
@tychobrailleur if i compare the artefacts in https://github.com/akasolace/HO/releases/tag/v5.0.3673-dev and the latest in https://github.com/akasolace/HO/releases/tag/dev i see a quite big difference in the size of the artefacts. Could it be, that the latest run did something wrong?

[2021-08-14 22:03] Cold-Burn opened #1117 "[BUG] Some players don't contribute to formation ratings."
**Describe the bug**
Some players don't contribute to formation ratings.

Somehow the player has something that prevents HO to consider its contribution.
In the past 1.437 was only affecting one player but randomly.
Then I updated to 2.1, it fixed to one specific player for a while, on the past week the issue become to happen to two players.
I have updated to the HO-4.1.3310.2-portable-win-JRE, sa

[2021-08-15 06:52] Asterus48 commented on #1114
the two cases are different, after the error with the previous version I uninstalled v5.0.3673-dev and reinstalled 4.1, when a new 5.0.3703-dev. was released, I tried to reinstall it and the new error appeared , now uninstalled again waiting for it to work better

[2021-08-15 07:32] wsbrenk commented on #1114
Thanks for that information - To confirm: Both new dev-releases did not start on your mac?

@adrimorales1: same on windows?

my own 3673-installation (HOSetup-5.0.3672.0-DEV-JRE.exe) on windows works fine!

[2021-08-15 07:42] Asterus48 commented on #1114
the two cases are different, after the error with the previous version I uninstalled v5.0.3673-dev and reinstalled 4.1, when a new 5.0.3703-dev. was released, I tried to reinstall it and the new error appeared , now uninstalled again waiting for it to work better

no, the previous 3672 - DEV start fine, the error is on training
    Click on Training
    See error "Cannot invoke "core.training.Week

[2021-08-15 09:07] eljardinero4 commented on #1086
I just installed the latest version but I can't open HO any more, I'm getting below error message. What do I need to do?![Unbenannt](https://user-images.githubusercontent.com/84559255/129473264-43f4042b-6f5f-4ca4-bee0-c6dd54922102.JPG)

[2021-08-15 09:16] wsbrenk commented on #1117
@Cold-Burn: Could you please check if there are suspicuous entries in your log file  in folder %APPDATA%/HO/logs

[2021-08-15 09:24] wsbrenk commented on #1086
@eljardinero4 could you please check with this version: https://github.com/akasolace/HO/releases/tag/v5.0.3673-dev

PLEASE BE CAREFUL USING DEV_RELEASE - never without backup of your previous installation including db folders.

[2021-08-15 09:29] wsbrenk commented on #1114
this bug is in r3650 (#1097) - should be fixed in HOSetup-5.0.3672.0-DEV-JRE.exe

[2021-08-15 09:43] Asterus48 commented on #1114
ok, tnx

[2021-08-15 10:20] Cold-Burn commented on #1117
I'm not sure what to search for so please check the following:
[HO-2021-08-14.log](https://github.com/akasolace/HO/files/6987930/HO-2021-08-14.log)

![imagem](https://user-images.githubusercontent.com/88949554/129475127-958410af-d8c5-44c5-8261-aee0eb61ea6e.png)

The player that usually fails to contribute to formation ratings is Áskell Halldórsson (445327399).

[2021-08-15 11:52] wsbrenk commented on #1117
Although there are errors included, these are no real errors ;-(

[2021-08-15 12:53] Cold-Burn commented on #1117
Surely there is an error somewhere.
What files do you need? error.log or output.log?

I made more tests on lineup calculation please check below what happens:
baseline
![imagem](https://user-images.githubusercontent.com/88949554/129479091-0db4ade5-8315-4299-ab3b-b5425c40755c.png)

Changing Áskell to Huertas - result Áskell is contributing
![imagem](https://user-images.githubusercontent.com/8894955

[2021-08-15 13:02] Cold-Burn commented on #958
Hello.

Reporting that on updating from 2.1 to HO-4.1.3310.2-portable-win-JRE database has increased 6.2 times.

[2021-08-15 13:22] wsbrenk commented on #1117
I didn't want to contradict you. The errors in the log are not real errors.

[2021-08-15 14:33] wsbrenk opened #1118 "[BUG] wrong ratings in team analyzer"
HO-dev 5.0.3672

![ratingerror](https://user-images.githubusercontent.com/11821502/129481993-34b150fb-d34a-49ef-bf47-a268846457f5.jpg)

[2021-08-15 20:00] eljardinero4 commented on #1086
Now it works, thanks a lot!

[2021-08-16 16:54] wsbrenk commented on #1086
#1118

[2021-08-21 12:50] wsbrenk commented on #1114
@tychobrailleur:  the HO.jar file is missing in installation folder.

[2021-08-21 20:57] wsbrenk commented on #1114
#1121 fixed this

[2021-08-21 20:58] #1114 closed

[2021-08-22 16:46] #1118 closed

[2021-08-22 17:18] #1115 closed

[2021-08-22 17:22] wsbrenk commented on #1101
@peppermil if you want, you could try to test it with the currently released DEV-version 5.0.3729

But be careful - never use a DEV version without backup of your database and program folders

[2021-08-23 21:53] wsbrenk opened #1129 "[FEATURE] lineup suggestions"
feedback from german forum:

Dimuscio
Thank you.
Takes a little getting used to. Can't you get the line-up page in so that it fits completely into the window?

Liberinha
Is it possible that in the line-up the goalkeeper is at the bottom and the strikers at the top? I don't like this wrong one at all (because the outsiders are also on the wrong side) and don't understand why you do that at all - ma

[2021-08-23 22:13] wsbrenk commented on #1129
![image](https://user-images.githubusercontent.com/11821502/130526141-e4779e85-509c-48a1-95d6-9110b05eaa08.png)

[2021-08-23 22:14] wsbrenk commented on #1129
team ratings on the right needs to be swapped accordingly.

[2021-08-24 17:59] poteus opened #1130 "[BUG] Apache Cup - Game download bug"
**Describe the bug**
Bug appears when downloading first cup game from the Apache Cup.

**To Reproduce**
Steps to reproduce the behavior:
1. Click in "Download"
2. Look at screenshots for errors
![Screen Shot 2021-08-24 at 12 57 54 PM](https://user-images.githubusercontent.com/20169360/130666327-a7bb9908-7b08-490d-b170-1132ca834722.png)
![Screen Shot 2021-08-24 at 12 58 03 PM](https://user-images.g

[2021-08-24 18:05] poteus commented on #1130
version: HO 5.0 Dev (r3729)

Sorry for double post...

[2021-08-24 19:38] poteus commented on #1130
Update.

When downloading data for my "normal" team (non apache league), I was also unable to download the practice match I played vs. my apache league team.
I guess that's why we have 2 error messages, one for each match.

[2021-08-24 21:44] murko69 commented on #470
@MaSedlacek @akasolace

Sorry to comment on a closed issue, but I've had a handful of months going without any computer at home and played the game with mobile :)
Computer died in the end of May before I really could test this!
Didn't want to install dev. on my work computer but now I did that anyway and have a few questions about the feature "Neutral ground"

Checking my league games I have a tot

[2021-08-26 06:35] Asterus48 opened #1132 "[BUG] Cannot invoke "java.sql.Timestamp.getTime() because "ts" is null"
This message appears only with the third team

1. After the launch of HO on "Prepare to show"
2. java.lang.NullPointerException: Cannot invoke "java.sql.Timestamp.getTime()" because "ts" is null
	at java.sql/java.sql.Timestamp.compareTo(Timestamp.java:427)
	at module.youth.YouthTrainingViewTableModel.lambda$initData$0(YouthTrainingViewTableModel.java:85)
	at java.base/java.util.TimSort.countRunAnd

[2021-08-27 18:29] #1132 closed, assigned to wsbrenk

[2021-08-28 11:43] wsbrenk opened #1135 "[FEATURE] Automated DEV Release next steps"
my latest changes were
* start the action on push to the master branch
* selection of the release tag/channel is done by the settings in build.gradle and published in version.properties and github tag
* build number is determined by the github run number (no longer by gradle run number)

if other maintainer @akasolace or @tychobrailleur agree with this approach, we should remove release-beta and r

[2021-08-28 18:42] wsbrenk commented on #1135
#1136 enabled the poeditor pull task

[2021-08-28 19:43] wsbrenk commented on #1135
to check if the translation workflow is OK, we should change/edit some translations and verify that a new build will include them.

@akasolace please enable me to do that. i think i requested an account.

[2021-08-29 09:24] akasolace commented on #1117
@Cold-Burn  @wsbrenk I do not understand the issue here,  what exactly make you think that one player is not contributing ?

[2021-08-29 11:24] wsbrenk commented on #1117
we have got this one #992

[2021-08-29 11:27] wsbrenk commented on #1117
since the rating panel is completly redesigned, i don't know if this issue still exists?

[2021-08-29 12:45] wsbrenk commented on #1135
![image](https://user-images.githubusercontent.com/11821502/131250752-29b0ea5a-7a17-41cf-a4fd-5ead9ec6860e.png)

this dialog shows the latest language keys i introduced. I would like to translate them in poeditor and verify if the next dev release will include this translations.

[2021-08-29 12:52] wsbrenk commented on #1117
@Cold-Burn could you investigate if the bug still exists in the current version (https://github.com/akasolace/HO/releases/tag/dev)? Since it is developer version please don't use it without backups of your database and program directories of your current HO installation.

[2021-08-29 12:58] wsbrenk commented on #1129
![image](https://user-images.githubusercontent.com/11821502/131251083-5ef0da8d-62fa-43f9-b8bd-a40cf82be8c3.png)

today i saw, that position tactics like "defensive" or "to the middle" are also displayed by little red arrows. Their direction needs to be toggled too.

[2021-08-29 13:30] #1129 closed

[2021-08-29 13:45] wsbrenk commented on #1117
![image](https://user-images.githubusercontent.com/11821502/131252540-10061c84-7ffa-4b53-bd41-c8bf2f742e36.png)

![image](https://user-images.githubusercontent.com/11821502/131252534-84462b15-235e-4cb6-9849-848185d9d93a.png)

Suspicious:
left central midfielder has negative impact on ratings of the right side. right central midfielder on the opposite side.

[2021-08-29 13:57] Cold-Burn commented on #1117
Last formation calculated Áskell has contributed to formation ratings. HO-4.1.3310.2-portable-win-JRE
I will keep an eye out because from my previous findings, behaviour seems to depend on other players in formation.

Regarding your pictures its very strange your findings.
Even considering that you go from a "invalid" formation 5-3-1 to a "valid" formation 5-4-1.

[2021-08-29 14:05] wsbrenk commented on #1117
@Cold-Burn maybe this is an effect of overcrowding - but i'm really not sure!

[2021-08-29 18:19] akasolace commented on #1117
from lineup simulation in HT,

default lineup:

![image](https://user-images.githubusercontent.com/1136496/131261179-1f4cdeea-36ec-49c1-9470-dd74511a738a.png)

adding a cd player weaker than other defender has negative impact because of overcrowding

![image](https://user-images.githubusercontent.com/1136496/131261190-95711b1a-e5a5-4222-978f-cfe3f9843b1d.png)

[2021-08-30 21:12] shaft86 opened #1146 "Dont't work "Analyze" in the "TeamAnalyzen" tab[BUG]"
**Describe the bug**
When click "Analyze" don't show the match archive for opponent team.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Team Analyzer
2. Click on Update -> Select the opponent team -> Click Analyze -> Don't show the match archive.
3. Scroll down to '....'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/89811241/131406039-e1ff0b06-05cd-

[2021-08-30 22:13] wsbrenk commented on #1135
@akasolace my translations didn't arrive in latest dev-release;-(

[2021-08-30 22:17] wsbrenk commented on #1146
@shaft86 : Did you push the "Update"-Button before "Analyze". Update will download the matches of your selected opponent.

[2021-08-31 15:27] fisero commented on #1146
Same problem at my side. What helps -> delete databaze -> C:\Users\username\AppData\Roaming\HO
And than load all data from web again. Propably some error after update?

[2021-08-31 18:56] wsbrenk commented on #1146
if you have a backup of your old databases you could upload this backup. We could try to debug then.

[2021-08-31 19:04] shaft86 commented on #1146
Thxxxx. I resolved.

[2021-08-31 19:23] wsbrenk commented on #470
neutral tagged matches no longer count as home or away match.

[2021-09-01 15:01] murko69 commented on #470
Sounds logic!

And neutral matches are only cup games (national and extra cups [emerald etc], round for 'last 64' or something) ladders and tournaments right?...
Also adding the possible neutral ground in friendlies to the above...

But I also have 13 league games and 1 qualifying game that somehow is put on 'neutral ground' accordning to HO.
I'm guessing the 'tag' is fetched with Hattrick data bu

[2021-09-01 17:47] wsbrenk commented on #1146
@shaft86 did you also delete your db  - or were you able to download data if you first select the opponent, then update/download and at last Analyze?

[2021-09-01 18:06] wsbrenk commented on #470
HO looks if arenaID is neither home team's arena nor away team's.  i only know this from hto matches (tournament ...).
the arenaId of the matches are stored in the HO database (Matchdetails and MATCHKURZINFO). the opponents arena id is not stored in the database. so it would be difficult to check if the algorithm is OK.

[2021-09-02 18:43] wsbrenk commented on #1135
changing the gradle build order doesn't help.

@akasolace is there some kind of commit in poeditor required?

[2021-09-03 15:27] akasolace commented on #1135
@wsbrenk I think I know what is going on   but I dont know how to fix it ...

[2021-09-04 09:19] wsbrenk commented on #1135
@akasolace added some logging to build.gradle:

Deleting build and execution files ....
...
Hangul(Korean).properties 104821 1630746402657
Deutsch.properties 97504 1630746402657
Indonesian.properties 24340 1630746402661
...

Note: Some input files use or override a deprecated API.

Note: Recompile with -Xlint:deprecation for details.

Note: Some input files use unchecked or unsafe operations.
Note

[2021-09-04 09:35] wsbrenk commented on #1135
Heureka - got it:

![image](https://user-images.githubusercontent.com/11821502/132089906-4dea9c69-7151-4416-b427-6875ca9e4eed.png)

processResources.dependsOn poeditorPull
was the solution

[2021-09-04 09:43] wsbrenk commented on #1135
what's left to do is some cleanups:

* remove unused -beta and -stable action files
* remove logging and other unused parts from the build.gradle
  * task printVersion
  * latest*.html
  * ...

[2021-09-04 12:08] murko69 commented on #470
Investigating a bit further about these strange 'neutral league games'.
I've realized that all 13 of my listed league games somehow played on Neutral ground is all really away games.
All of my 473 played home games in the league are correct in HO thus telling me these are away games.

When choosing the radio button 'Neutral'  on league games I count 13 games.
Moving to the tab 'Matches' I'd hope t

[2021-09-04 12:21] murko69 commented on #470
Here's [another one](https://www.hattrick.org/goto.ashx?path=%2FClub%2FMatches%2FMatch.aspx%3FmatchID%3D278534430) of the 13.
I had one game using 4-3-3, winning 5-0 so I found that one pretty quick aswell.

[2021-09-04 12:49] murko69 commented on #470
Sorry... I'm back :)
Found an error in DEV-version when chosing 'show my secondary cup matches'
I get a list of all my 2093 matches (league, cup, friendly, qualifcation)

Also.... But I think I just misundestood this.
Chosing "Show my Secondary Cup matches" should of course show only the ones from 'emerald, sapphire, ruby and consolation cup)
Chosing "Show my Cup games" gets me of list of all cup

[2021-09-04 14:24] wsbrenk commented on #1135
The compile configuration has been deprecated for dependency declaration. This will fail with an error in Gradle 7.0. Please use the implementation configuration instead. Consult the upgrading guide for further information:
at build_1tr20zv7oux82mxdcl5x0juch$_run_closure2.doCall(C:\Users\wolfgang\Documents\HO\build.gradle:33)

at build_1tr20zv7oux82mxdcl5x0juch$_run_closure11$_closure33.doCall(C:\

[2021-09-04 14:43] akasolace commented on #470
confirmed

[2021-09-05 12:59] akasolace commented on #470
@murko69 I will let you check with latest build ...

[2021-09-05 15:59] murko69 commented on #470
Didn't find any updates via 'search for updates' in app so I updated manually

HO now shows 53 matches for me under 'Show My Secondary Cup matches'.
That's still to many eventhough it's closer than yesterday :)

If I check the TAB 'matches' I can see 17 games in there with issues. Don't recognize the icon used but 16 of them are National Cup games from my seasons 76, 77, 78
There is also a Seconda

[2021-09-05 17:26] wsbrenk commented on #1135
the log of the action claims

 found 1 releases to delete
👍🏼  all releases deleted successfully!

but there are a lot of releases, which are not deleted

[2021-09-05 20:56] wsbrenk commented on #470
@murko69: what happens if you reload this match?

![reload](https://user-images.githubusercontent.com/11821502/132141190-69e55615-27d5-4e35-aec2-630a3f86a9ed.jpg)

[2021-09-05 21:37] murko69 commented on #470
Duh, never thought about checking that :)
Did that now on the Sapphire-game with faulty icon - Nothing (other than being reloaded) happened

Maybe removing first and then try to re-download?

Will try that before I go to sleep

[2021-09-05 21:44] murko69 commented on #470
That did the trick actually - deleting them first and then re-download 'old games' (oldest faulty game was from october 2020 so not that much was needed).

Now I have 37 games listed under "Secondary Cups" and that's 100% correct :)

Thank you!

[2021-09-06 15:04] akasolace commented on #470
ok sounds good
@wsbrenk  however it is strange that reload does not do the same as delete + reload

[2021-09-06 15:11] akasolace commented on #1135
how do you delete release ?
also is it not too much to build release on each commit ?

[2021-09-06 16:04] murko69 commented on #470
Just to verify I did it correct.
1. Pressed the reload button (the one on the left) on a marked game
2. Waited
3. Waited some more
4. Restarted HO

Games was still there in the faulty presence!
So I did this instead:
1. Marked all faulty (17) matches
2. Deleted them
3. Pressed F11 and re-downloaded matches and checked box for 'old matches' with a date old enough to cover the games in question

I'm

[2021-09-06 16:21] murko69 commented on #470
Adding two request about this or atleast a discussion about them.

1. Do you think a third option (mentioned it earlier) for cups would be logic/useful?
Today:
"Show my cup games" = National + Secondary Cups
"Show my Secondary cup games" = Secondary Cups only

I think it would make sence to also have
"Show my National cup games" = National Cup games only

How do you feel about that?

And...
2,
On

[2021-09-06 17:08] wsbrenk commented on #1135
each commit on master. for the moment i'm quiet happy with that, but

we could use another "standard"-develop branch with is NOT released
or we change the builder to run on a release branch

[2021-09-06 17:08] wsbrenk commented on #1135
the delete is done by some github action plugin which i do not know

[2021-09-08 12:20] peppermil commented on #1101
thank you - it worked good

[2021-09-08 12:21] peppermil commented on #1101
ups sorry

[2021-09-08 12:51] peppermil opened #1172 "[BUG]Transfer Tab - wrong season"
In the transfer overview, the global season is listed. if you select the individual season, the season of the local season is added. There is no possibility to enter the global season

Global season 78
Swiss season 66

I discovered this in version 4.1 as well as in DEF version 5. In the old version HO 3.0 the season is correct.

![BUG_Transfer_all season](https://user-images.githubusercontent.com/

[2021-09-08 17:40] wsbrenk commented on #1101
many thanks for your feedback

[2021-09-08 17:40] #1101 closed

[2021-09-08 21:00] wsbrenk commented on #1172
@peppermil could you check if seasonoffset is correctly stored in your basic table

in dev version you can start sql editor with debug -> sql-editor
copy the command
select * from  BASICS
to the text field and execute the statement by pushing F5 or the correspondig button
![image](https://user-images.githubusercontent.com/11821502/132584490-f6a7998b-24c7-4f1c-8440-26c8d6efea15.png)

@akasolace in

[2021-09-09 09:46] peppermil commented on #1172
i have 2 entries, but i dont know which one is the right one
- 0
- (null)

![Screenshot 2021-09-09 113230](https://user-images.githubusercontent.com/88058929/132661741-79270f65-9377-4544-9961-7e8ad13bbeeb.jpg)
![Screenshot 2021-09-09 113319](https://user-images.githubusercontent.com/88058929/132661765-1c6d112f-29e4-455c-8690-4c7ccad7ade2.jpg)

from the second team

![Screenshot 2021-09-09 113900](

[2021-09-09 15:30] akasolace commented on #1172
@peppermil  could you share your db here ?

[2021-09-09 18:01] wsbrenk commented on #1172
SeasonOffset is the problem: if switzerland is 12 seasons behind sweden the value 12 is expected in downloads after end of 2019. Prior downloads should show (null).

[2021-09-09 19:29] akasolace commented on #1172
yes, I checked xml from hattrick and it shows correct value:

[code]

[2021-09-09 20:37] wsbrenk commented on #1172
@akasolace colors are not optimal for nimbus theme:

![image](https://user-images.githubusercontent.com/11821502/132759117-ca06d1d7-f6dc-4ac2-bc06-72fd2e9067c7.png)

[2021-09-09 20:41] wsbrenk commented on #1172
@akasolace is this number stored in your basic table. tbh i expected a positive number. i fear, if we are ready to get a non zero offset we could have a sign problem. but i have no chance to debug this with my german teams.

[2021-09-10 16:51] wsbrenk commented on #1172
Not necessarily - the download on 2021-08-21 23:00 was a download of my team and it shows a season offset of (1), which is wrong for my german league. All other downloads are showing the correct value 0. I had the idea that this might be an error on ht side, which might explain our week 16 problem which arrises from time to time.

The values 0 in @peppermil database are definitely another error -

[2021-09-10 20:00] peppermil commented on #1172
@akasolac > if you tell me - where the DB is - yes

[2021-09-10 20:33] wsbrenk commented on #1172
@peppermil on windows systems you find them in %APPDATA%/HO. one of the zip-files would be great.

[2021-09-10 21:08] peppermil commented on #1172
[https://1drv.ms/u/s!AjKUl1nPppPXjZkoo_aC4WluRFiHJg?e=sIAvgt](url)

[2021-09-10 21:54] wsbrenk commented on #1172
thank you

[2021-09-10 22:12] wsbrenk commented on #1172
first download on my side stores correct offset value:

![image](https://user-images.githubusercontent.com/11821502/132922990-337cb146-c5ae-499b-a515-60a57add5a80.png)

[2021-09-10 22:30] wsbrenk commented on #1172
fixing sign error in HTCalendar.getHTSeason gives this:

![image](https://user-images.githubusercontent.com/11821502/132924173-7176bfa1-bcbf-4544-834c-0832f091342e.png)

after reloading all your transfers. Up to now i have no idea, why your downloads gives season offset of 0 and not the correct -13.

[2021-09-10 22:47] wsbrenk commented on #1172
@peppermil could you check your hrf-files, if they show the correct season offset:

[basics]
application=HO
appversion=0.0
date=2021-09-11 00:03:11
season=66
seasonOffset=-13
...

[2021-09-11 07:55] peppermil commented on #1172
yes, it is

[basics]
application=HO
appversion=4.1
date=2021-09-11 09:44:13
season=66
seasonOffset=-13
matchround=3

[2021-09-11 10:21] wsbrenk commented on #1172
very strange  - i don't find anything that could explain your wrong values stored in your database. I would now check for errors in your runtime environment.  is there anything suspicious in your log files after you downloaded data (%APPDATA%/HO/logs)?

[2021-09-11 10:47] wsbrenk opened #1175 "[BUG] HO installation needs manual creation of %APPDATA%/HO"
feedback from forum of an user that downloaded HO and failed on starting it:

However, while trying to open it, I receive an error message in which the sentence "Could not create the database folder." is written.

[2021-09-11 11:10] wsbrenk commented on #1135
last runs successfully deleted previous dev-releases. => Problem solved.

[2021-09-11 11:14] wsbrenk commented on #1135
@tychobrailleur , @akasolace : How do you see the runner's complaint about gradle 7.0 incompatibility?

The compile configuration has been deprecated for dependency declaration. This will fail with an error in Gradle 7.0. Please use the implementation configuration instead. Consult the upgrading guide for further information:
at build_1tr20zv7oux82mxdcl5x0juch$_run_closure2.doCall(C:\Users\wolfgan

[2021-09-11 11:34] peppermil commented on #1172
hi
of the first, thank you for your efforts ;)

I also find it also very strange, especially since it worked for you.

Here are my logs
https://1drv.ms/u/s!AjKUl1nPppPXjZknL7tVntSPDsaRxQ?e=ErvYgI

[2021-09-11 15:02] wsbrenk commented on #1172
got it! Please test again with current 5.0 dev version.

error was repaired in https://github.com/akasolace/HO/commit/e5b46c4743916acfd626d4ca3fb45c726441b7f3#diff-1476fe820e5d82ea5a462531f38a5824c9f5c98f618e37ef2376ad0cba9e40ab
 Basics(Properties) seasonOffset->seasonoffset

[2021-09-12 12:07] wsbrenk opened #1181 "match module improvements"
Adding two requests about this or at least a discussion about them.

1. Do you think a third option (mentioned it earlier) for cups would be logic/useful?
Today:
"Show my cup games" = National + Secondary Cups
"Show my Secondary cup games" = Secondary Cups only

I think it would make sense to also have
"Show my National cup games" = National Cup games only

How do you feel about that?

And...
2,
O

[2021-09-12 12:10] wsbrenk opened #1182 "match module reload does not change the match type of wrong downloads"
Duh, never thought about checking that :)
Did that now on the Sapphire-game with faulty icon - Nothing (other than being reloaded) happened

Maybe removing first and then try to re-download?

That did the trick actually - deleting them first and then re-download 'old games' (oldest faulty game was from october 2020 so not that much was needed).

Now I have 37 games listed under "Secondary Cups" an

[2021-09-12 12:11] wsbrenk commented on #470
2 new tickets created - close this one.

[2021-09-12 12:11] #470 closed

[2021-09-12 12:37] wsbrenk commented on #1007
https://github.com/akasolace/HO/issues/1172#issuecomment-915567055

[2021-09-12 12:43] peppermil commented on #1172
when i make a update in the DB from 4.1 - was wrong (whit the version HOSetup-5.0.3773.0-DEV-JRE)

![Screenshot 2021-09-12 094028](https://user-images.githubusercontent.com/88058929/132987731-abf2ecc2-c9d3-4e8e-a782-2703458da210.jpg)

when i startet with a new DB - was 1 player not correct (whit the version HOSetup-5.0.3773.0-DEV-JRE)

![Screenshot 2021-09-12 112955](https://user-images.githubuser

[2021-09-12 22:31] wsbrenk commented on #1172
transfers with fired players were not updated in database

[2021-09-13 21:16] #1172 closed

[2021-09-18 11:51] #1135 closed

[2021-09-18 12:03] #1175 closed

[2021-09-18 19:00] wsbrenk opened #1192 "[BUG] Update confirmation dialog shows wrong release notes"
![image](https://user-images.githubusercontent.com/11821502/133905745-91fa3232-4595-4c5b-8250-d150713a1a58.png)

[2021-09-18 19:18] wsbrenk commented on #779
1st beta is created

[2021-09-19 15:10] #1192 closed

[2021-09-23 18:23] manguz opened #1199 "[FEATURE] Numeric Values in Statistic tab"
Hi, first of all, thank you very much for keeping alive this tool. I'd like to thank everyone envolved.
My simple request is if you can add numeric values near the dots in the new statistic tab.
New tab is great, but I really can't understand much like I used to with V4.

Cheers

[2021-09-25 14:48] wsbrenk opened #1200 "[BUG] unique index violation"
23:22:25 [Error]   core.db.JDBCAdapter: JDBCAdapter.executeUpdate : java.sql.SQLIntegrityConstraintViolationException: integrity constraint violation: unique constraint or index violation; SYS_PK_11004 table: MATCHTEAMRATING
Statement: INSERT INTO MATCHTEAMRATING (MatchID,MatchTyp,TeamID,FanclubSize,PowerRating,GlobalRanking,RegionRanking,LeagueRanking,NumberOfVictories,NumberOfUndefeated) VALUES(

[2021-09-25 15:52] #1200 closed

[2021-09-25 15:55] wsbrenk opened #1202 "[BUG] dev-channel is not updated if newer beta version exists"
release channel is set do "dev"
newer beta version is released
update dialog of HO presents this newer version
pushing update gives

![image](https://user-images.githubusercontent.com/11821502/134777710-595eb2cb-207a-40c3-9d74-2bd2e6f7985e.png)

[2021-09-26 12:00] wsbrenk commented on #1202
not successful: dev-channel does not download beta-3794

[2021-09-29 17:22] wsbrenk commented on #1202
again not successful - but release-channel is changed and a second try will update correctly

[2021-10-02 13:00] wsbrenk commented on #1202
dev channel succecfully upgrades to beta 3799

[2021-10-02 13:00] #1202 closed

[2021-10-05 20:19] wsbrenk commented on #779
@akasolace there is a translator who wants to get permission of poeditor access

[2021-10-06 07:11] Fresty76 opened #1213 "[BUG] Youth tab not working in Beta 3800"
The Youth tab only shows one player and a half after downloading data. I downloaded the file HOSetup-5.0.3800.1-BETA-JRE.exe
I also use the dev versions 3796 and the tab works well.

I try to attach the logs created today:
[error.log](https://github.com/akasolace/HO/files/7291540/error.log)
[HO-2021-10-06.log](https://github.com/akasolace/HO/files/7291541/HO-2021-10-06.log)
[output.log](https://gi

[2021-10-06 11:55] HOTester opened #1214 "[BUG] Training Application Tab not working"
**Describe the bug**
1. On the training tab under the training functions tab, no training development is shown
2. On the Prediction tab under the training functions tab, no predictions are shown after updating future training
3. On the Analyzer tab, nothing is shown in the graph or the Training development pane
4. On the Effect tab, nothing is shown here either,

**To Reproduce**
Steps to reproduc

[2021-10-09 08:07] wsbrenk opened #1217 "[BUG] Lineup Panel Layout"
Feedback from HT forum:

But my labtop has 1920x1080, and I use scaling with 125%. The lineup tab is rubbish. Putting scaling to 100%, it still doesn't fit completely.

I like 125%, and sadly it looks like HO5 is absolutely not suited for that.

[2021-10-09 11:27] DavidatorusF opened #1218 "[BUG] IFA"
**Describe the bug**
IFA module stay empty

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International Friendly Analyser'
2. Click on 'update'
3. See error (mean nothing happen)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Linux]
 - Version Ubuntu 20.04

It's probably du to Apache league; no need to see this league/

[2021-10-09 15:23] #1062 closed

[2021-10-09 21:02] wsbrenk commented on #1214
@HOTester sorry up to now i have no good idea about the reason of that issue.

could it be, you changed the training settings?
![image](https://user-images.githubusercontent.com/11821502/136673660-f1792071-6333-4eee-b4d0-8896135b3835.png)

for me it would be easiest if you could upload your HO database here (zip-file in %APPDATA%/HO/db). Then I could hopefully easily find the cause in the debugger

[2021-10-10 07:08] HOTester commented on #1214
Please find attached the DB

[db_user-2021-10-09.zip](https://github.com/akasolace/HO/files/7317026/db_user-2021-10-09.zip)

[2021-10-10 13:45] wsbrenk commented on #1214
these are the settings from your database:

![image](https://user-images.githubusercontent.com/11821502/136698387-cc0550d3-ba68-4c7d-83c3-c774db1439b6.png)

[2021-10-10 16:39] HOTester opened #1223 "[BUG] Error in LineUp Editor"
**Describe the bug**
In the right hand side on the Lineup tab, an overview of the teams strength is shown.
There is a bar at the top, where you can select the minute in the game that you want to analyse.
The 80th minute is listed twice.
![image](https://user-images.githubusercontent.com/92029826/136704906-a7707545-ed8b-4687-bd59-de931817d2cc.png)

When pressing the second one, the following java.l

[2021-10-10 16:49] wsbrenk opened #1224 "[BUG]HO3 can not update to current beta HO5"
feedback from HT forum:

New, clear HO 5.0 is working fine, but when I try to update my old 3.0 version an error appears: "java.io.FileNotFoundException: https://akasolace.github.io/HO/release_notes(stable).html" and nothing happens. I tried dev, beta and stable release channel.

here is the log file:
[Error] core.net.MyConnector: Download Error
HTTP Response Code: 404
java.lang.RuntimeException:

[2021-10-10 16:52] #1214 closed

[2021-10-10 20:31] wsbrenk commented on #1224
22:21:18 [Info] core.gui.HOMainFrame: This is HO! version 3.0, have fun!
22:21:18 [Info] core.gui.HOMainFrame: Operating system found: Windows 10 on x86 (10.0)
22:21:18 [Info] core.gui.HOMainFrame: Using java: 1.8.0_281 (Oracle Corporation)
22:21:39 [Error] core.net.MyConnector: Download Error
HTTP Response Code: 404
java.lang.RuntimeException: Download Error
HTTP Response Code: 404
at core.net.My

[2021-10-10 21:11] wsbrenk commented on #1224
public static String get_HO_zip_download_url(String full_version, double version, String versionType) {
        if (versionType == "DEV") {
            return "https://github.com/akasolace/HO/releases/download/dev/HO_" + full_version + ".zip";
        } else {
            String ver = Double.toString(version);
            return "https://github.com/akasolace/HO/releases/download/" + ver + "/HO_" +

[2021-10-11 06:44] nobelp opened #1226 "[BUG] Startup Error"
**Describe the bug**
after clicking on the icon of HO the "Plugins" load but at some point it stops and the error message below appears.
the application will not open.

**To Reproduce**
Start the application by "Load latest Data" it will crash.
in the Windows Sandbox itself I can reinstall the application every time and use it without errors.
But in the main interface of Windows 11 I can't get the

[2021-10-13 11:59] tychobrailleur opened #1233 "[BUG] Country ID selected as League ID, causing incorrect league details (incl. currency)"
**Describe the bug**
HO uses the Country ID (here 16) as the League ID (Ireland is 21, https://www85.hattrick.org/World/Leagues/League.aspx?LeagueID=21), see extract from HRF:

[code]

It saves it in XTRADATA, causing for example the wrong currency to be picked:

[code]

<img width="718" alt="Screen Shot 2021-10-13 at 13 01 17" src="https://user-images.githubusercontent.com/114285/137128589-7c33bc

[2021-10-14 21:06] wsbrenk opened #1236 "[BUG] wrong Counterattackrating calculation beyond divine"
Feedback from HT forum (11.10.2010 03:01, HO 1.4):

Counterattackrating calculation beyond divine is bugged. 4 defs give me 17.27 but after adding the 5th wich adds 5.03 when adding him in a 4 def lineup HO tells me 19.73 instead of 22.30. It has been like this in all versions. Would be nice to fix that.

I think the same happens with AOW and AIM around divine +2

[2021-10-15 06:26] steffanots commented on #1223
take

[2021-10-15 23:13] wsbrenk opened #1237 "[BUG]NPE on HO start"
not all players are displayed

01:08:41 [Error]   core.db.JDBCAdapter: JDBCAdapter.executeQuery : java.sql.SQLException: java.lang.NullPointerException: Cannot read field "nNext" because "<local2>" is null
Statement: SELECT * FROM BASICS WHERE Datum >='1970-01-01 01:00:00.0' ORDER BY Datum DESC
java.sql.SQLException: java.lang.NullPointerException: Cannot read field "nNext" because "<local2>" is n

[2021-10-16 11:55] wsbrenk commented on #1237
reason was a corrupt database - fixed it by restoring an old one.

[2021-10-16 11:55] #1237 closed

[2021-10-16 13:10] wsbrenk commented on #1224
left to do:

* create tag 5.0 containing HO_5.*.zip
* update HO/docs/latestbeta.html with correct version value

[2021-10-17 13:50] DavidatorusF commented on #1218
https://snipboard.io/sli4xV.jpg

apache league don't have to be took in count in flag numbers and coolness

@wsbrenk thanks for your work

[2021-10-17 14:24] DavidatorusF commented on #779
@akasolace I'm still out :/
I haven't really follow what you've done since the last time I'm spoken to you, at the beginning of the pandemic...

[2021-10-18 07:23] wsbrenk opened #1242 "[FEATURE] Allow users to edit colors ...."
Feedback from peppermill at HT forum:

Squad:
Can you take another color here for dark green, green and blue is hard to distinguish

![image](https://user-images.githubusercontent.com/11821502/137686230-e58c5e39-0a2d-4ecc-b469-5c919902f87d.png)

[2021-10-18 07:26] wsbrenk opened #1243 "[BUG] make the window/league chart flexible"
Feedback from peppermill at HT-forum:

League details:
Can you make the window/league chart flexible here as well?
Also not all ratings of the teams are shown

![image](https://user-images.githubusercontent.com/11821502/137686620-9a83ae47-e469-4344-8325-6866cc54e65f.png)

[2021-10-18 07:28] wsbrenk opened #1244 "[BUG] Match panel displays wrong ratings"
Feedback from peppermill at HT-Forum:

Matches:
Here the ratings are not displayed correctly - I would like to have such ratings - my opponent probably also;)

![image](https://user-images.githubusercontent.com/11821502/137686842-04aab78c-aefc-4bcb-b6d2-09632b9b27a2.png)

[2021-10-18 07:29] wsbrenk opened #1245 "[BUG] Past trainings are indicated as undefined"
Feedback from peppermill at HT-Forum:

Training:
No progress display in Training predition at forecast, also the global season is displayed and not the country season (picture 4)
Past trainings are indicated as undefined

![image](https://user-images.githubusercontent.com/11821502/137687060-341a7f3d-df8e-45a8-ab98-337da0ea8260.png)

[2021-10-18 07:32] wsbrenk opened #1246 "[BUG] revenue issues are displayed only after a download!"
Feedback from peppermill at HT-forum:

Misc:
The revenue issues are displayed only after a download!

[2021-10-18 07:38] wsbrenk commented on #1245
#1214 should fix progress issue

@peppermill could you please check if your training settings have wrong training factors as documented in #1214?

[2021-10-18 07:40] wsbrenk commented on #1245
@peppermill: Concerning past training: did you upgrade your existing database or did you start a new instance?

[2021-10-19 11:29] wsbrenk commented on #1245
fixed country season of future skillups

[2021-10-20 07:49] #1218 closed, assigned to wsbrenk

[2021-10-20 11:52] #1224 closed

[2021-10-24 15:44] #1243 closed, assigned to wsbrenk

[2021-10-24 15:45] #1244 closed, assigned to wsbrenk

[2021-10-24 21:38] #1246 closed, assigned to wsbrenk

[2021-10-26 07:37] MGShamai opened #1254 "[BUG] When i try to upload my lineup I get Error 6"
**Describe the bug**

On lineup tab I prepare whole team and when I try to upload it I get next error:

	at core.net.MyConnector.setMatchOrder(MyConnector.java:405)
	at core.net.OnlineWorker.uploadMatchOrder(OnlineWorker.java:792)
	at module.lineup.lineup.MatchAndLineupSelectionPanel.uploadLineupToHT(MatchAndLineupSelectionPanel.java:475)
	at module.lineup.lineup.MatchAndLineupSelectionPanel.lambd

[2021-10-26 10:29] #1254 closed, assigned to wsbrenk

[2021-10-28 15:37] #1233 closed, assigned to wsbrenk

[2021-10-29 10:21] wsbrenk opened #1255 "[BUG] TrainingWeekManager.createTrainingListFromHRF fails when daylight saving time changes take place during the upcoming training week"
![training](https://user-images.githubusercontent.com/11821502/139418983-811b95be-64ae-4a75-acd6-4dd7daabeb77.jpg)

[2021-10-29 12:14] kmhil opened #1257 "Subskill recalculation not showing any training prediction"
**Describe the bug**
When I click the Subskill recalculation button, the Training prediction doesn't show anything at all

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Training' tab
2. Click on 'Subskill recalculation'
3. Go to 'Prediction' sub tab
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/93383413/139432160-3717782a-a470-4908-995d-e0c7148c6333

[2021-10-30 08:33] wsbrenk commented on #1257
@kmhil could you provide me with your database - otherwise I can't reproduce the problem.  (upload one of your zips in %APPDATA%/HO/db)

[2021-10-31 09:17] wsbrenk commented on #1245
similar issue: #1257

[2021-10-31 09:20] wsbrenk commented on #1245
the new training [formula](//www87.hattrick.org/Forum/Read.aspx?t=17024376&v=4&a=1&n=5) is still not used in all places (especially prediction is still calculated with old one).

user configurable factors are part of the old formula. Question is, if they are still useful?

[2021-10-31 17:00] kmhil commented on #1257
@wsbrenk sure! there it is:
[db_user-2021-10-29.zip](https://github.com/akasolace/HO/files/7449289/db_user-2021-10-29.zip)

[2021-10-31 19:14] HOTester opened #1258 "[BUG] No training progress shown on Squad Tab after download"
**Describe the bug**
When getting the training updates, no training progress are shown. Only skillups.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Squad Tab
2. Click F11 to download abd save hrf file
3. No sub-skill progress shown, only skillups.

**Screenshots**
![image](https://user-images.githubusercontent.com/92029826/139598059-0dc3f300-3fad-4c26-9df9-11f03884ac03.png)

**Platf

[2021-10-31 19:23] HOTester opened #1259 "[BUG] No data populated on Youth Tab"
**Describe the bug**
When data has been downloaded on the Squad Tab, and you press F12 to open the Youth Tab, no data is displayed.
You need to press F11 on the Youth Tab again to download the Youth data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Squad Tab
2. Click on F11 to download team data and save HRF file
![image](https://user-images.githubusercontent.com/92029826/139598209

[2021-10-31 23:02] wsbrenk commented on #1257
![image](https://user-images.githubusercontent.com/11821502/139604135-0d1b294c-f373-4c8e-96f6-3a4cd8b46402.png)

[2021-10-31 23:03] wsbrenk commented on #1257
setting all factores to 0 gives this:

![image](https://user-images.githubusercontent.com/11821502/139604159-638b47bf-0694-45dd-9fc6-aecc082caa68.png)

[2021-10-31 23:09] wsbrenk commented on #1257
same as #1214

[2021-10-31 23:09] #1257 closed

[2021-11-01 08:34] #1223 closed

[2021-11-01 15:15] wsbrenk commented on #1245
now Schum's formula is the only used formula for adults training

[2021-11-01 16:21] wsbrenk commented on #779
release notes completed

[2021-11-01 16:23] #1255 closed

[2021-11-01 22:57] wsbrenk commented on #1258
@HOTester sorry - i cannot reproduce this with my teams. Could you provide your database backup zip files (%APPDATA%/HO/db)? maybe the debugger could show, what is going wrong in your case!?

[2021-11-01 23:01] wsbrenk commented on #1245
training user config parameters shown above are no longer used.

will be removed in one of the next versions or replaced by coefficients of Schum's formula

[2021-11-02 14:06] HOTester commented on #1258
[db.zip](https://github.com/akasolace/HO/files/7461295/db.zip)

[2021-11-02 17:54] wsbrenk commented on #1258
same as #1255

@HOTester when you repair (edit) the past training values of your latest training week and recalc your subskills the values will be displayed.

next change of daylight saving time will hopefully download correct training values (next year).

[2021-11-02 20:19] HOTester commented on #1258
@wsbrenk can you please guide me to understand how to repair (edit) the past training values?
Thanks

[2021-11-02 22:08] wsbrenk commented on #1258
[HVB-1967 (JAVA version_ 15.0.2) 2021-11-02 23-04-28.zip](https://github.com/akasolace/HO/files/7464246/HVB-1967.JAVA.version_.15.0.2.2021-11-02.23-04-28.zip)
Please look this video

[2021-11-03 09:23] HOTester commented on #1258
Thank you so much - that was a lot of effort!

[2021-11-03 09:31] #1258 closed

[2021-11-05 13:30] cipt2001 opened #1263 "[BUG] Cannot invoke "java.sql.Timestamp.after(java.sql.Timestamp)" because the return value of "module.youth.YouthTraining.getMatchDate()" is null"
**Describe the bug**
When opening the Youth tab I only see one player there, and when I try to select another line in the table I get the following error:
Cannot invoke "java.sql.Timestamp.after(java.sql.Timestamp)" because the return value of "module.youth.YouthTraining.getMatchDate()" is null

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Youth tab
2. Click on any line in the Player

[2021-11-06 09:12] wsbrenk commented on #1263
@cipt2001 could you please upload the log of the session?

[2021-11-06 09:14] #1226 closed

[2021-11-06 15:17] wsbrenk opened #1264 "[BUG] HatStat change of match orders are no longer updated on editing"
![image](https://user-images.githubusercontent.com/11821502/140614643-69b7f82d-c41c-4686-896d-8d4d2dd27554.png)

[2021-11-07 10:06] wsbrenk opened #1266 "[BUG] changing coach type has no effect on ratings"
Feedback from HT forum: in the beta changing coach type has no effect on ratings

[2021-11-07 10:07] wsbrenk opened #1267 "[FEATURE] Lineup-Simulation workflow"
Feedback from HT forum:

Match page with always all options available and working instead of being greyed out would be nice

- [x] increase hight of right panel to screen hight
- [x] layout of rating panel
- [x] rating panel change layout of hatstat, loddarstat, tactic and formation
- [x] new copy button in rating panel
- [x] move rating prediction type selection from rating panel to rating settin

[2021-11-07 10:33] #1264 closed

[2021-11-08 11:13] cipt2001 commented on #1263
[logs.tar.gz](https://github.com/akasolace/HO/files/7496483/logs.tar.gz)
Attached all the logs in logs/. The latest entry is using the new r3831 build.

[2021-11-08 21:29] cipt2001 commented on #1263
I believe this was the first time I was trying to open the Youth tab. Could it be related to the fact that I originally had a HO4 database?
I just tried to start with a clean database, import the latest HRF and everything looks good now in the Youth tab.

Here is the database with problems:
[db_user-2021-11-08.zip](https://github.com/akasolace/HO/files/7500248/db_user-2021-11-08.zip)

[2021-11-08 22:50] wsbrenk commented on #1263
match details of your match on 06.03.2021 are missing in your database. Don't know how this could happen.
next version can handle this.

[2021-11-09 15:47] cipt2001 commented on #1263
Looks fixed in r3832, thanks!

[2021-11-09 18:50] #1263 closed

[2021-11-12 16:27] wsbrenk opened #1270 "[BUG] weather changes to unknown when i send the match order"
weather forecast is shown when i download after training (friday)
when i send the match order it changes to unknown

[2021-11-12 22:33] #1270 closed

[2021-11-14 12:55] wsbrenk opened #1272 "[BUG] Youth player overview: update progress last match"
when changing training settings in youth module, the overview does not update column "progress last match"

[2021-11-14 13:53] #1245 closed

[2021-11-14 13:53] #1259 closed

[2021-11-14 13:54] #1266 closed

[2021-11-14 16:31] wsbrenk opened #1277 "[RLS] 6.0"
** Release Process:**
 - [x] create release branch
 - [x] update release note in [HO](src/main/resources/changelog.md) (up to date before BETA)
 - [x] terminate DEV Q&A, create 1st BETA
 - [x] announce it both to translators and on HT forum
 - [x] finish release_notes and HT forum announcement  @DavidatorusF
 - [x] terminate BETA Q&A
 - [x] update release note in HO (up to date before STABLE)
 - [

[2021-11-14 16:33] #779 closed

[2021-11-14 16:34] #1272 closed

[2021-11-14 16:36] wsbrenk opened #1278 "[FEATURE] Upgrade dependencies"
implementation 'com.github.scribejava:scribejava-core:8.3.1'
    implementation 'org.hsqldb:hsqldb:2.6.1'
    implementation 'com.google.code.gson:gson:2.8.9'
    implementation 'com.squareup.okhttp3:okhttp:4.9.2'
    implementation 'com.squareup.okhttp3:okhttp-tls:4.9.2'
    implementation 'com.squareup.okhttp3:logging-interceptor:4.9.2'
    implementation 'com.github.weisj:darklaf-core:2.7.3'

[2021-11-16 05:37] wsbrenk commented on #1267
Another user; "The negative feedback for me is the lineup tab huge and in my opinion with a wrong layout."

[2021-11-18 18:58] #1278 closed

[2021-11-18 23:11] wsbrenk opened #1281 "[BUG]Initial rating calculation does not take trainer type into account"
when ho is started the lineup module does not show correct ratings if the trainer type is not a neutral one.

After changing this trainer type in the lineup simulator, the ratings are calculated correctly.

[2021-11-20 14:15] wsbrenk commented on #1281
matchorders downloads wrong coachModifier value (error in hattrick?)

[2021-11-21 12:30] peppermil commented on #1267
It's the same for me, I liked the old lineup tab (HO4) better - more compact layout.

[2021-11-21 12:43] peppermil opened #1282 "[BUG] HO5 / wrong MISC Tab"
when i make an update, the revenue crowd is missing

Yesterday home game:

![Screenshot 2021-11-21 134058](https://user-images.githubusercontent.com/88058929/142762243-e70facf4-125d-4e74-8296-9f5365d82a23.jpg)

in HO5:

![Screenshot 2021-11-21 133825](https://user-images.githubusercontent.com/88058929/142762244-17036b30-3239-4ac4-bfee-32b7e40e0d38.jpg)

[2021-11-21 13:16] wsbrenk commented on #791
should be fixed in HO5

[2021-11-21 13:16] #791 closed

[2021-11-21 13:26] wsbrenk commented on #1267
![image](https://user-images.githubusercontent.com/11821502/142763713-c013009d-e516-4659-9af5-be53485ff1a6.png)

[2021-11-21 22:28] peppermil commented on #1282
in the second team was the same error - no revenue crowd

[2021-11-22 18:16] #1282 closed

[2021-11-22 21:08] peppermil commented on #1267
yes that would be great ;)

[2021-11-23 16:51] Volker-brdb opened #1284 "[BUG]HO5 doesn't start"
**Describe the bug**
HO5 does not start

**To Reproduce**
Steps to reproduce the behavior:
Download HOSetup-5.0.3836.2-JRE.exe
Install HOSetup-5.0.3836.2-JRE.exe
Start HO.exe

**Screenshots**
java.lang.UnsupportedClassVersionError: core/HOLauncher has been compiled by a more recent version of the Java Runtime (class file version 59.0), this version of the Java Runtime only recognizes class file ve

[2021-11-23 16:53] Volker-brdb commented on #1284
tried version without JRE HOSetup-5.0.3836.2 ...same result

[2021-11-23 16:56] Volker-brdb commented on #1284
ok, my fault :-) issue solved

[2021-11-23 17:24] wsbrenk opened #1285 "[BUG]Upgrade problems HO4->HO5"
Feedback from HT forum:

User could not upgrade from HO4

Another one  could not upgrade from HO3

[2021-11-23 17:26] wsbrenk commented on #1285
maybe the database migration stucks or it tooks really long

[2021-11-23 18:41] wsbrenk commented on #1281
chpp ticket is created

[2021-11-25 21:44] wsbrenk commented on #1281
currently downloads are fine (StyleOfPlay=-10 for defensive trainer type)

[2021-11-27 13:41] wsbrenk commented on #678
classes are removed

functions are replaced by HTDatetime

[2021-11-27 14:57] #678 closed

[2021-11-28 14:13] wsbrenk commented on #1267
progress report:
![image](https://user-images.githubusercontent.com/11821502/143770949-c71c9ce4-cf2f-45ca-b5c0-245547f7bd4d.png)

[2021-11-28 22:24] wsbrenk commented on #1267
colored dots instead of borders:
![image](https://user-images.githubusercontent.com/11821502/143788524-9aa5eb2a-c461-4f06-b76a-4e672c7f2251.png)

[2021-11-29 18:21] wsbrenk commented on #1281
StyleOfPlay=0 again (since two days)

[2021-12-01 15:06] cipt2001 opened #1288 "[FEATURE] HTMS potential/current ability columns in the Squad module"
From HT forum: It would be nice to have the player HTMS potential and current ability columns in the Squad panel.

Current code from Foxtrick (GPL 3 license): https://github.com/minj/foxtrick/blob/master/content/information-aggregation/htms-points.js#L194

[2021-12-01 18:50] wsbrenk commented on #1281
answer from HTs:

[2021-12-03 12:10] datatramp opened #1289 "After fresh install, Matches module, In Tab Matches, HatStats(me) and HatStats(opp) show switched Team HatStats, only in home games [BUG]"
Edit: After reloading matches of last 4 months, HatStats shown in columns show in correct column! Weird ....

In HO5 Build 3836 after fresh install (not upgrade)
in Matches module, in Tab Matches,
HatStats(me) and HatStats(opp) show switched Team HatStats, only in home games.

**To Reproduce**
I fresh installed HO5 today in separate directory from my ongoing HO3 and made a first authentification a

[2021-12-06 11:31] Cotisso commented on #1267
Could you please add back the setting where we can save the line ups?
In my opinion it is very important.
Thx, have a great day!

[2021-12-06 19:25] wsbrenk commented on #1267
Load/Store panels should do that job - i'm working on it.

[2021-12-08 01:20] AchimGrube opened #1290 "[BUG] endless loading after reopening"
**Describe the bug**
HO won't stop loading at step 'prepare to show' and takes up to 4 GB ram. It works again if i delete the database and copy a backup, but as soon as i close and reopen HO another time, the same bug appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Delete db folder content
2. Copy db backup into db folder
3. Start HO
4. Close HO
5. Start HO again
6. See error

**Pla

[2021-12-08 09:38] FlorianWerndl opened #1291 "[BUG] CHPP token and preferences not saved on macOS"
**Describe the bug**
After setting up a new MBP with M1 Chip I installed HO Version 5 (HO-5.0.3836.2-JRE.dmg).
Every time HO starts, settings are discarded and I need to add CHPP token again to download team information.

<img width="396" alt="Bildschirmfoto 2021-12-08 um 10 33 10" src="https://user-images.githubusercontent.com/2530954/145184391-c67a8e3a-990c-4fd0-90cb-6467ce0f5e82.png">

**Platfo

[2021-12-08 18:15] wsbrenk commented on #1290
could you please provide your backup?

[2021-12-09 02:13] AchimGrube commented on #1290
[db_singleUser-2021-12-4.zip](https://github.com/akasolace/HO/files/7681710/db_singleUser-2021-12-4.zip)

[2021-12-09 18:28] wsbrenk commented on #1290
19:21:32 [Error]   core.HO: Launched from IDE otherwise there is a bug !
19:21:47 [Info]    core.db.DBUpdater: updateDBv300() successfully completed
19:21:48 [Error]   core.db.UserConfigurationTable: parameter spielerUebersichtsPanel_horizontalRightSplitPane is not stored in UserConfigurationTable
19:21:48 [Info]    core.model.HOVerwaltung: language used for interface is: Deutsch
19:21:48 [Error]

[2021-12-09 18:59] wsbrenk commented on #1290
looks like a bug in special events module:

![image](https://user-images.githubusercontent.com/11821502/145458741-6882c461-ce57-4b23-8215-05a367c112be.png)

[2021-12-10 01:42] timeout972 commented on #842
same problem with French
File->Preferences->Language English->French ->Save ->restart HO -> HO display is English
Mac OS 12.0.1 HO Version 5.0.3836.2 (5.0.3836.2)
<img width="450" alt="Capture d’écran 2021-12-09 à 21 35 42" src="https://user-images.githubusercontent.com/66527541/145502780-1397bfb8-29b6-42e2-99c0-9b8686d44736.png">
<img width="451" alt="Capture d’écran 2021-12-09 à 21 35 33" sr

[2021-12-12 10:47] wsbrenk commented on #1290
db update of the HO5 seems to cause the problem. debugger shows 38 entries in the config table before starting the update. at the end there are 32 and the table seems to be corrupted.

[2021-12-12 11:41] wsbrenk commented on #1290
Now I see that HO5 upgrade is probably not the reason. Even before the update, not 38 entries are loaded from the table, but only 32.

[2021-12-12 15:07] wsbrenk commented on #1290
now i found the number 38 in HO3 database.script file in index of config table.
SET TABLE PUBLIC.MODULE_CONFIGURATION INDEX '1701063 0 38'

dumping the rows in the debugger only shows 32 rows.
i think the HO3 database files are corrupted.

[2021-12-12 16:23] datatramp opened #1292 "[BUG] Is HO! affected by the ongoing log4j issue?"
German link
[https://www.bsi.bund.de/SharedDocs/Cybersicherheitswarnungen/DE/2021/2021-549032-10F2.pdf?__blob=publicationFile&v=6](url)

A serious log4j vulnerability has been recently discovered, possibly affecting systems with Java based programs,
making systems potentially open for malware injections, even if the program is not active itself.

I have only german coverage, but sec internet is fu

[2021-12-12 22:50] wsbrenk commented on #1292
as long as I am involved in the development of the HO, log4j is not part of the HO. this applies to versions from HO2.1 to HO5.0.

i searched in git history of older versions and did not find any hint to log4j includes in HO software.

install4j is a module to install the HO. i do not find any log4j jar there either.

[2021-12-18 19:16] wsbrenk opened #1293 "[BUG]Download power rating only of one team per match"
![image](https://user-images.githubusercontent.com/11821502/146653221-b7bdf283-1b3c-4d71-b342-63fab07e4e07.png)

[2021-12-19 10:01] wsbrenk opened #1295 "[BUG] Problems after HO-Upgrade 4->5"
Feedback from HT-Forum:

I downloaded HO 5.0 a couple of days ago, upgrading from HO4. I was cautious as I have lost data in previous upgrades, but this time all seemed to go well at first. I have three teams. Two seem fine in new HO5, but one of them has some issues in HO5.

For this one team:
- Each time I open HO, the players' ages are, e.g. "17[up arrow] 193(25)", average 192.9, but when I dow

[2021-12-19 10:08] wsbrenk commented on #1295
to reproduce this, it would be great it the user would provide the database of this team (zip-backup in %APPDATA%/HO/db* ). Last backup of HO4 would be perfect.

[2021-12-19 17:29] wsbrenk commented on #1267
the following database tables have been removed

* AUFSTELLUNG (info will be added to MATCHLINEUPTEAM table)
* POSITIONEN (info will be added to MATCHLINEUPPLAYER table)
* MATCHORDER (info will be added to MATCHLINEUPPLAYER table)