[2020-04-21 21:02] #188 closed

[2020-04-21 21:06] akasolace commented on #459
is your issue is only there with "Exclude Last Lineup" checked ? Or do you always have less than 10 players aligned while removing all restrictions?

[2020-04-21 21:54] tychobrailleur commented on #459
(apologies, totally unrelated to this, but am I right in saying you use a JGoodies skin, @AchimGrube ?  We were considering removing them in later releases, but if people do actually use them, we should keep them...)

[2020-04-21 21:59] tychobrailleur opened #461 "[eFEAT] put last match information in both squad and Lineup tables"
**Is your feature request related to a problem? Please describe.**

For friendlies, I want to make sure I am not overlooking a player that hasn't played recently, and therefore hasn't received training.  It'd be good to add the last played date as a column in the Lineup table (the training indicator is great, but I still would like to know how long some players have not played,  they could be prim

[2020-04-22 07:00] akasolace commented on #461
@tychobrailleur for my info is that an info available by hrf direclty or should it be calculated ?

[2020-04-22 10:14] akasolace commented on #388
@tychobrailleur @wsbrenk @pierpaolocira @mistermax80    latest dev version (r2708) is 3.0 alpha. If you could give it a try in the coming days and check against the release notes.
If all ok, I will release the beta version next week.

[2020-04-22 11:20] tychobrailleur commented on #461
I am not sure whether it is in the HRF, but according to CHPP docs it can be found in playerdetails as part of the `LastMatch` field.

[2020-04-22 13:13] akasolace commented on #461
@tychobrailleur sorry was a typo I meant CHPP...

[2020-04-23 19:14] AchimGrube commented on #459
@akasolace The issue happens no matter if "Exclude Last Lineup" is checken or not. But I'd say after some testing, the issue itself is that HO did save some selected players in the history and won't change that selection, no matter what I do.

@tychobrailleur I just found it a nice skin, you don't have to keep it just for me :D

[2020-04-24 07:00] akasolace opened #462 "[eFEAT] imrpoved error message when trying to save to a location without right access"
Lot of users are confused by this message.

We might make it more transparent by displaying something like ... "not authorized to save file to /path/to/blabla"  ....

![image](https://user-images.githubusercontent.com/1136496/80183758-b3f18900-8609-11ea-9b4c-df73e016c341.png)

[2020-04-24 07:01] akasolace commented on #459
@AchimGrube not sure what the error is ... can you share your database with us, we will try to reproduce it ....

[2020-04-24 15:01] datatramp opened #463 "[eFEAT] Allow manual adjustment of experience level (similar to other skills)"
After some years I reinstalled HO! again for my team. After downloading my latest .hrf I found I **cannot edit the experience rating** of my players, I only got the full levels from Hattrick, no sub levels are shown. I have no old .hrf files.
Same issue with new bought players from transfer market.

I would like to edit the experience data of my players manually.
I kept offline track of recent XP

[2020-04-24 15:28] velikodsky opened #464 "[eBUG] Too high HatStats and LoddarStats in TeamAnalyzer"
**Describe the bug**
HatStats in TeamAnalyzer is almost 4 times greater than those in Matches Analyzer (or Matches) for the same match. LoddarStats in TeamAnalyzer is almost 4 times greater than it must be as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'TeamAnalyzer'
2. Select own team
3. Click 'Analyze'
4. See HatStats and LoddarStats in the table of matches
5. Go to 'Matche

[2020-04-25 10:55] wsbrenk commented on #286
progress for today (morning):

![grafik](https://user-images.githubusercontent.com/11821502/80278029-736e3a00-86f3-11ea-8222-1d8735d067f9.png)

- training history table shows icons
- sub skill values are displayed in both tables (history and recap). .00 sub skills are definatly unrealistic for skill drops

further possible improvements:
- the first 3 colums of recap table are not resizable in fore

[2020-04-25 11:58] tychobrailleur opened #465 "[eBUG] Lag in displaying selected row in PlayerOverviewTable"
**Describe the bug**
When selecting a player in `SpielerUebersichtNamenTable`, the row for the same player is also selected in `PlayerOverviewTable` (and vice-versa).  There is a however a noticeable between the moment the player is selected in one, and the moment when it is selected in the other, which is even more obvious in dark mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2020-04-25 14:16] akasolace commented on #286
@akasolace @tychobrailleur: any other idea i should do?

@wsbrenk looks good to me as it is really ....

[2020-04-25 14:28] akasolace commented on #465
@tychobrailleur I can't reproduce it ....

![aaaaa](https://user-images.githubusercontent.com/1136496/80282445-d53d9c80-8711-11ea-9a7a-ba38b00679a0.gif)

[2020-04-25 14:44] tychobrailleur commented on #85
A bit of an update here as well: good progress, it is starting to look great.  I have done a bit of refactoring on the `ThemeManager` which handles all the theming aspect now (before some of it was spread out in other places), and removed JGoodies (for now – still nothing definitive)

![Screenshot 2020-04-25 at 15 10 46](https://user-images.githubusercontent.com/114285/80282622-5a24b800-870a-11ea-

[2020-04-25 14:48] tychobrailleur commented on #465
It is there, but not as pronounced: for example when you select Zbigniew, the row of details is select, and a fraction of second later, his name is selected.

I think darklaf is causing a paint performance issue, making the problem even worse, I'll see if there is a way to mitigate.

[2020-04-25 14:50] tychobrailleur commented on #286
Yeah, same here – I am not entirely sure what the issue is, if any.

[2020-04-25 18:07] AchimGrube commented on #459
[db_singleUser-2020-4-25.zip](https://github.com/akasolace/HO/files/4533665/db_singleUser-2020-4-25.zip)

When I start HO using this DB, following players are selected for Auto-Lineup. When I change that to any other selection (others, everyone, noone) and restart HO, it's the same players again as if I didn't change anything.
![ho_bug1](https://user-images.githubusercontent.com/12234126/80287075-

[2020-04-25 18:58] akasolace commented on #85
@tychobrailleur  it is such a change after having known HO! for so many years !

the out of sync column when scrolling across is only affecting player overview or all tables?

[2020-04-25 19:04] akasolace commented on #465
yes indeed, I did not see it in first place.
When the row selection change:  highlight is updated as well as player details. Maybe player details is populated first which could explain the time lag... Obviously it does not explain why this is so much visible with darklaf

[2020-04-25 19:12] akasolace commented on #459
@AchimGrube I have never used those check boxes before (did not really noticed them before :-) )

FYI, personally I am only playing with squad letter to do those selection.  Usually what I do, after my league game, I import my game assigned the player aligned to the team A. Then I use the assistant by ignoring player with Team A.

But as those check boxes exist, I will check whether or not they ar

[2020-04-25 19:22] tychobrailleur commented on #85
All tables.

[2020-04-25 19:42] #286 closed

[2020-04-26 08:23] wsbrenk commented on #461
@tychobrailleur According to the chpp documentation, this information should also be available in the players file, which is already downloaded by HO. We could add those information to the database and to the player overview panel.

[2020-04-26 09:20] wsbrenk commented on #464
@akasolace i want to select #66 as my next work. There may be interference with this ticket.

[2020-04-26 09:24] tychobrailleur commented on #85
A few more screens (training not quite finished):

![Screenshot 2020-04-26 at 10 21 12](https://user-images.githubusercontent.com/114285/80303382-e6d18380-87a7-11ea-9425-852cbc7aaefc.png)

![Screenshot 2020-04-26 at 10 21 20](https://user-images.githubusercontent.com/114285/80303384-eb963780-87a7-11ea-9c72-82604874ed8a.png)

![Screenshot 2020-04-26 at 10 21 31](https://user-images.githubuserconten

[2020-04-26 10:09] akasolace commented on #463
closed by #467

[2020-04-26 10:09] #463 closed

[2020-04-26 10:11] akasolace commented on #464
@wsbrenk  #66 is a big one for 4.0.  This one is a quick fix for 3.0, I was planning to do it the coming days but I haven't started, if you want you can assign it to yourself.

[2020-04-26 10:15] akasolace commented on #85
let me know which one are problematics ....

@tychobrailleur  @wsbrenk  do we want to keep all those modules or should we get rid of some of them ?

[2020-04-26 10:44] tychobrailleur commented on #85
I think we should keep them as much as possible, unless some of them are too much of a maintenance headache.

[2020-04-26 11:00] tychobrailleur commented on #85
@akasolace Here are the major ones, these should cover roughly 90–95% of what we need:

- The jerseys on Squad (and other tabs):
![Screenshot 2020-04-26 at 11 39 09](https://user-images.githubusercontent.com/114285/80305112-c3f89c80-87b2-11ea-9989-f7b7bdfe44e6.png)

- The buttons in `SpielerDetailPanel`:
![Screenshot 2020-04-26 at 11 39 13](https://user-images.githubusercontent.com/114285/80305402

[2020-04-26 11:11] weisJ commented on #85
As for the icons there are some mechanisms in Darklaf that ensure icons best match the current theme.
You can either use a set of dark/light icons or even use colours of the theme for some parts of the icon (`svg` only).
Everything relevant is handled by the `IconLoader` class.

List of properties that are ensured to exist in any theme:

https://github.com/weisJ/darklaf/blob/master/theme/src/main/

[2020-04-26 11:32] tychobrailleur commented on #85
Thanks @weisJ . Most of the icons are png / gif, but this would definitely be handy (@akasolace would converting them to svg be an option, do you think?). In any case I think the icons could do with a bit of cleanup. ;-)

[2020-04-26 11:37] tychobrailleur commented on #85
For sh*ts and giggles, here is what it looks like with Solarized Light:

![Screenshot 2020-04-26 at 12 35 20](https://user-images.githubusercontent.com/114285/80306310-7b44e180-87ba-11ea-8d85-b4358346344c.png)

Truly great stuff, @weisJ

[2020-04-26 16:18] wsbrenk commented on #464
@akasolace i will try to get #66 working. but by the way, i do not find any button that lets me assign to an issue, are there some privileges missing?

[2020-04-27 19:55] #464 closed

[2020-04-28 12:23] steffanots opened #469 "[eBUG] HRFs import not working on 3.0 ..."
I have bug message on start.
![start log](https://user-images.githubusercontent.com/64475678/80486517-969b2280-895b-11ea-9e8d-be0e43d07d26.jpg)
I can't load any match.  My matches tab is empty. I can't load match in leage.
![load match log](https://user-images.githubusercontent.com/64475678/80486612-c4806700-895b-11ea-8f20-bdbf0d14fd16.jpg)

**Platform information:**
 - OS: Windows
 - Version 3.0

[2020-04-28 12:30] akasolace commented on #469
@steffanots there is clearly an issue with your db, you upgraded from 2.2 ?

[2020-04-28 13:22] akasolace commented on #469
@steffanots could you paste here a link to your database ?

[2020-04-28 13:47] steffanots commented on #469
No I don't
I loaded hrf files in 3.0 version.

[db.zip](https://github.com/akasolace/HO/files/4546099/db.zip)

[2020-04-28 13:49] steffanots commented on #469
Just a note :
 had a problem with matches in  2.1 version. After 2.1 version I use dev2,2.

[2020-04-28 13:51] akasolace commented on #459
@AchimGrube I confirm the bug, now I am not sure if we should we fix that bug or remove that functionality. The assistant should already consider, the team selection, the last lineup, the best position first, the advance injured/suspended ... it is clearly prone to errors. Could you find a process without that checkbox?

@wsbrenk  @tychobrailleur   what do you think ?

[2020-04-28 13:54] akasolace commented on #469
@steffanots  could you try to delete 3.0 database.  Copy inside a copy of your 2.1 or 2.2 database and start HO again.

[2020-04-28 15:06] steffanots commented on #469
I delete db as you told me. Than I copy only from 2,2 version. Now, I have matches. :)
Hrf files look ok at first sight. Maybe one of them has no some property or wrong property.

[2020-04-28 15:26] akasolace commented on #469
@steffanots  ok cool but this confirm me that we might need to drop HRF and just rely on the db...

[2020-04-28 19:00] tychobrailleur commented on #459
I don't really use that feature, other than to exclude the coach and certain old players, which makes me think there can be some use to it.

The list of selected players should be the initial input before applying all the other criteria, IMHO (if it's not how it works currently).

[2020-04-28 19:02] murko69 opened #470 "[eFEAT] break up statistics on module Matches"
First of all, thanks a million for Beta 3.0 with the option to uncheck unwanted game types to download.
Also thanks for previously adding a few more options (secondary cup games and qualifying games) under module Matches.

Now I'm looking at the very same module again and I realize I would like to break up the statistics even more.
Looking at my stats (**the screenshot**) I can tell I have 1952 pl

[2020-04-28 19:14] tychobrailleur commented on #469
I am torn on that one: I like the idea of the HRF files, because they are text-based, and I know people tend to keep them around.  But if they are not backward-compatible, there's not much point...

I wonder if this is a feature that could be moved into some sort of optional module, somehow.

[2020-04-28 19:29] Dillotu opened #471 "[eBUG] Loading issue Matches and Matches Analyzer"
Hi everyone

Thanks for the new 3.0 beta I love the new League details

I have an issue with the tabs Matches and Matches Analyzer it takes from 3 to 4 minutes to load and during this time HO is stuck.

**To Reproduce**
As requested I attached my db.  (it looks to big to be attached here I'm going to share in google drive )

**Platform information:**
 - OS: W10
 - Version all version I copy the db

[2020-04-28 20:02] akasolace opened #472 "[eBUG] NPE in Match tab"
from HO forum

![image](https://user-images.githubusercontent.com/1136496/80532005-c833de00-899b-11ea-86db-c9ff448063ea.png)

[2020-04-28 20:10] akasolace commented on #469
@tychobrailleur  to be think about but I don't see how easily support this ...

[2020-04-28 20:14] akasolace commented on #459
@tychobrailleur   At the moment it is very erratic. I made some test, it works until it does not and after that it stays broken. I haven't look at the code and I have no idea how easy or difficult it would be to fix it. I just wanted whether or not we want to fix it but it seems that it is being used ... so we will need to fix it.

[2020-04-28 20:15] akasolace commented on #462
due to other problems on hrf #469  we might decide to drop her file support which would automatically close that issue.

[2020-04-28 20:29] murko69 opened #473 "[eBUG] unwanted match types re-downloaded (automatically?)"
**Describe the bug**
After Beta 3.0 that introduced the possibility to uncheck unwanted match types to download, the very same matches I didn't want was downloaded automatically(?) when visiting module Match Analyzer.

**To Reproduce**
1. If you have for instance a recently played a HTO-integraded game, delete that one or more from your matches tab. (I think the bug works on all recent played game

[2020-04-28 20:44] akasolace commented on #473
@murko69 I guess you clicked analzed on an opponment and has a result had few non official games downloaded, right?

[2020-04-28 21:01] wsbrenk commented on #473
@murko i had a look to the source and i think you are right. the match analyzer starts a match archive download of the analyzed team. this function does not use the new filter settings.

in my ho the match analyzer module is deactivated. i never used it;-(
is it expected that the match analyzer should use the same filter settings as the normal download?

[2020-04-28 21:17] murko69 commented on #473
IMO it should use the same filter settings. If a user opts-out of a certain match type at download, he might still get it if/when using match analyzer and that seems wrong.

[2020-04-28 21:31] wsbrenk commented on #473
@murko69 @akasolace the easiest solution would be to disable the storing of downloaded matches by the  match analyzer

[2020-04-28 21:33] wsbrenk commented on #473
the team analyzer uses the same download function with parameter store=false. ta uses it's own filter settings to reduce the match list.

[2020-04-28 22:15] tychobrailleur commented on #471
The DB version is 300 (LastConfUpdate = 1.436)
When getting to the Matches tab, there are lots of errors in the logs like:

[code]

and
[code]
`EVENT_INDEX` is missing from `MATCHHIGHLIGHTS`, but it contains the `MATCH_EVENT_ID` column, so this logic in `updateDBv26` would not have executed:

[code]

[2020-04-28 23:13] tychobrailleur commented on #471
Once the issues in the db are fixed, the slowness is indeed massive in `SpielePanel`: when ` MatchesTable(UserParameter.instance().spieleFilter)` is called, and even worse `MatchesOverviewTable(UserParameter.instance().spieleFilter)`

Tracing down, it seems to come from `MatchesOverviewQuery#setMatchesOverviewRow` called multiple times over 6.9k matches (which isn't that big...).  I'll investigate

[2020-04-29 07:24] tychobrailleur commented on #471
I have added two indices to the database, and this drastically sped up the loading of the Matches tab.  It takes 10–15s to load the tab (as opposed to 4–5 min before) now, I'll see if I can improve further.

@Dillotu has this tab always been this slow to load?  Or is it with the new version?  Also, I am noticing it takes an awfully long time to exit HO, is that also the case for you?

[2020-04-29 07:30] akasolace commented on #471
@tychobrailleur  thanks for looking into it   ... I don't understand how the db could have had "MATCH_EVENT_ID" and not "EVENT_INDEX".... you have any clue ?

[2020-04-29 07:31] akasolace commented on #471
@Dillotu you upgraded from 1.437 to 3.0 directly ?

[2020-04-29 07:34] akasolace commented on #473
@wsbrenk so you are saying currently TA use same download function but with `store=false` which is what we want. Does it mean the parameter is not respected as the games are stored anyway?

[2020-04-29 07:40] akasolace commented on #472
@wsbrenk @DavidatorusF  I would like to look into this one, for sure solving the NPE error.
I never really used that functionality so I am not sure of what was the intended behaviour. For past game, simulation is done on actuals ratings that is ok. For future games, only the button for simulation is activated so I guess this was intentional but how the simulation was supposed to work without knowi

[2020-04-29 07:54] tychobrailleur commented on #471
Yeah, it's an odd one, but it could be due to the history of the DBUpdater changes, and which successive versions of HO Dillotu used.

[2020-04-29 08:06] Dillotu commented on #471
Hey Guys

Thank you of you job on the db.

If I'm not wrong the first version used was the 1.436 then I only copied the previous DB in the new version.  I'm using the same DB in the 1.437, 2,x , 3.x.

[2020-04-29 08:36] steffanots commented on #469
I know I'm not part of your team, but as a programmer and gamer (HT and FM) I can tell you that it's no problem to remove files, but if they keep my history and you don't give me any other way to see it then it's a big mistake.
Keeping compatibility is an art of programming but also necessary to continue HO.
I have been playing HT since 2007 and stopped in 2016 because some 'software engeener' is

[2020-04-29 09:08] akasolace commented on #469
It is just that if database is corrupted re-importing all HRF files will not do the trick (I think this functionality has been broken for years). In theory it is possible to introduce versioning of HRF file along versioning of database and ensuring import of HRF can be made over a long period but it would be a lot of work. I suggest we focus on having more reliable database backup (more than 3? on

[2020-04-29 11:16] steffanots commented on #469
True.

I cloned a project. I standard problems.
Gradle project not worked on 14 so I took 12. After that can't compile ... move sdk to 8.
Finally I start HO. :)

[2020-04-29 15:06] akasolace commented on #469
Gradle project not worked on 14 so I took 12. After that can't compile ... move sdk to 8.
Finally I start HO. :)

@steffanots  cool,  let me know if you pick up an issue to work on !

[2020-04-29 16:09] steffanots commented on #469
I need a time to introduce in code. After that I will let you know.

[2020-04-29 17:43] DavidatorusF commented on #472
@akasolace
for upcoming matches, users have to set himself the opponent's ratings
by default, they was set to the minimum

![image](https://user-images.githubusercontent.com/45043004/80628431-9da45c80-8a51-11ea-8df1-2018a7724f6b.png)

[2020-04-29 19:17] akasolace commented on #472
@DavidatorusF  and for own team I guess it is rating from current lineup ... if so it is very easy to restore that functionality

[2020-04-29 19:42] wsbrenk commented on #473
@akasolace the parameter in OnlineWorker is respected. The MatchAnalyzer uses store=true.

[2020-04-29 19:59] akasolace commented on #473
@wsbrenk  ok sorry I misread team analyser and match analyser ... so yes I guess passing store=false is the way to go ...

[2020-04-29 20:02] wsbrenk commented on #473
there are 3 situations, that download ALL matches without filtering:

CHeck Old matches in normal DownloadDialog (store=true)
![grafik](https://user-images.githubusercontent.com/11821502/80641105-aa7e7b80-8a64-11ea-85a5-bd75df68e729.png)

TeamAnalyzer Update Button, uses it's own filter (store=false), matches are filtered and stored afterwards:
![grafik](https://user-images.githubusercontent.com/1

[2020-04-29 20:39] tychobrailleur commented on #471
I have got great results for the Matches tab now, it now loads in a few seconds.

@akasolace This requires db updates that should be executed on top of 3.0.0 changes.   How do you suggest to proceed for versioning?  For now I set `DBVersion` to 3.0.1, and [execute updates](https://github.com/tychobrailleur/HO/commit/b07969f7987e3f56c82473595ddcec67c00e9fd1#diff-be5eddbfd52e7bbe49a040ee766f288eR102

[2020-04-30 07:52] akasolace commented on #473
Yes I think so considering how slow it is to get the tab activated.

@wsbrenk @wsbrenk   but more generally I don't see what MatchAnalyzer really brings compare to TeamAnalyzer. It is a bit more visual but there are no additional information. Is it really a module we need to keep? What do you think ?

[2020-04-30 08:00] akasolace commented on #471
yes I think this make sense for versioning as a patch for 3.0

you refer to this  ?

[2020-04-30 08:56] tychobrailleur commented on #471
I am referring to this in Dillotu's bug report:

[2020-04-30 09:01] akasolace commented on #471
for this  is it true also for recently downloaded game or only for old ones ?

[2020-04-30 10:28] #472 closed

[2020-04-30 11:53] akasolace commented on #469
@tychobrailleur @steffanots @wsbrenk    I just had a look at what exactly HRF files contains.
It is actually only data about players, staff, economy and few more things but nothing about matcches. Hence, the HRF files might not be broken.

@steffanots  when you reported the bug. You simply had downloaded 3.0 and imported your hrf files ?  After that you had an error when trying to download new dat

[2020-04-30 12:00] akasolace commented on #469
I made a quick test,

1) launch new 3.0 without DB
2) Import HRF files
3) try to import / download match   =>  this does not work !

@steffanots  I think this is what you expereinced.

[2020-04-30 16:55] wsbrenk commented on #473
@akasolace I would be for it, maybe you start a question in hattrick (umfrage) whether this is still used. (same with hrf files and experience viewer)

![grafik](https://user-images.githubusercontent.com/11821502/80737602-0fdd7580-8b14-11ea-9078-7f06ad0df1e0.png)

[2020-04-30 17:05] wsbrenk commented on #469
@akasolace the question is, if it is broken since 1.437 or only since 2.0. I think a lot of users are still using the old version and if we kill there backup method we could have problems with their acceptance.
on the other hand we should introduce a new and better backup concept that not only stores the last 3 db dumps.

[2020-04-30 17:15] akasolace commented on #473
@wsbrenk I have been looking at it again and it seems really useless. I can ask on HO forum but then it is not really up to us anymore ...

[2020-04-30 17:18] akasolace commented on #469
I don't know really.  I will have a look, see how easy/difficult it is to fix it, and then we decide what we do ...

[2020-04-30 17:40] wsbrenk commented on #469
@akasolace concerning backup concept: i would suggest to keep backup of
- last season
- last month
- last week
- last 3 sessions

[2020-04-30 17:44] wsbrenk commented on #469
concerning hrf support. I think we have to keep this hrf-table to select the date of comparison. And if we will keep the delete button, some kind of restore would be good.

![hrf](https://user-images.githubusercontent.com/11821502/80741953-ce9c9400-8b1a-11ea-9e61-447a22bd34e0.png)

[2020-04-30 17:50] wsbrenk commented on #473
@akasolace OK, then i will remove the match analyzer - it is a long weekend this time, should be a nice job.

[2020-04-30 17:55] tychobrailleur commented on #469
Totally agree with that, not much point in speculating. :-)

As I mentioned earlier, I do see some value in the HRF files, so we could maintain the HRF stuff in a separate project (incl the HRF Explorer) as a set of tools.

If we however remove them from HO, we need to keep track of download dates to be able to show what @wsbrenk is showing above – I don't if this is done today or not, I have not

[2020-04-30 18:10] tychobrailleur commented on #471
Hmmm, ok.  I think right this doesn't work because of the old non-nullable columns still lying around (`GASTTORE` / `HEIMTORE`), so I'll fix that.  The db has nearly 7,000 matches though – what's the best to download them all?

Re. the slow shutdown, this is caused by a call to `SHUTDOWN COMPACT` which takes a long time.  I was toying with the idea of changing this to `SHUTDOWN` (see [manual](http

[2020-04-30 18:31] tychobrailleur commented on #473
The calls could be made asynchronous, the same way I have done it for the Promotion manager, but I am in favour in removing it: its look and feel is out of place, and not really useful.

The one thing I use it for is to see tactics and formations used by opponents – that would be nice to see that at a glance in Team Analyzer.

[2020-04-30 20:00] akasolace commented on #469
@tychobrailleur @wsbrenk  ok lets keep it

I cleaned a bit the HRF section but this particular bug has in the end nothing to do with HRF but is caused by that commit  abff7bcaa13a63c3b6deef43ac4188514509350e

So the database in 3.0 is broken for everyone not upgrading his database

[2020-04-30 20:29] #469 closed

[2020-04-30 20:33] akasolace commented on #471
I won't do that really,  if he needs to look at a match report of an old game he can just redownload it on demand...

I would also be tempted to do a normal shutdown,   not sure what is the benefice of compact, what is the size of its database, mine is less than a MB ..

[2020-04-30 20:37] akasolace commented on #473
yes I think this module is useless but that some part of it should be implemented in matches (details HatStats def/attck/mid ) and the remaining in Team analyser (tactics, formation)

[2020-04-30 21:27] wsbrenk commented on #473
@akasolace good plan. who will take the photos of the match analyzer to describe the features for ticket no 2?

[2020-05-01 07:08] akasolace opened #475 "[eBUG] confusion about date used for comparison for Average TSI, Age, Salary, ....."
Follow up of skills and TSI for individual player is done between last data and the one selected in compare HRF table. However for the global data (Average TSI, Age, Salary, ..... ) it is a different behaviour (not sure what is being used for comparison).

We can see in the example below

![0N7Eh0AQI0](https://user-images.githubusercontent.com/1136496/80788974-fa576280-8b8a-11ea-8cd1-6539643a991f.

[2020-05-01 07:13] akasolace opened #476 "[eFEAT] recover selected functionalities of removed Match Analyzer module"
include selected functionalities of Match Analyzer module into:
  - matches module  (details HatStats def/attack/mid )
  - Team analyser (tactics, formation) => actually already there

Anything else?

![image](https://user-images.githubusercontent.com/1136496/80789215-9a14f080-8b8b-11ea-830c-b38673da238a.png)

[2020-05-01 07:14] akasolace opened #477 "[eFEAT] removal of Match Analyzer module"
Selected functionalities will be recovered as part of #476

[2020-05-01 07:15] akasolace commented on #473
This issue will be tackle by #476 and #477

[2020-05-01 07:18] akasolace opened #478 "[RLS] 4.0"
**Tracking PRs and Issues**

[Open PRs](https://github.com/akasolace/HO/pulls?q=is%3Aopen+is%3Apr+milestone%3A4.0)
[Open Issues](https://github.com/akasolace/HO/issues?q=is%3Aopen+is%3Aissue+milestone%3A4.0)

** Release Process:**
 - [x] create release branch @akasolace
 - [x] update release note in [HO](src/main/resources/changelog.md) (up to date before BETA)
 - [x] terminate DEV Q&A, create 1st

[2020-05-01 07:22] akasolace commented on #5
@pierpaolocira  I was cleaning old issues and I found this one which is link or even similar to #372
So in case, I also assigned it to you for the day you will be able to tackle those ...

[2020-05-01 07:59] wsbrenk commented on #471
@tychobrailleur i think you have to add your improvements not only to DbUpdater but also to the creation of the database tables in the corresponding Table classes (MatchesKurzInfoTable, ...), isn't ist?

[2020-05-01 08:16] steffanots commented on #469
Yes

I try to reproduct and I saw an error in Lineup.
Can I try to solve the problem of importing HRF files?

[2020-05-01 08:29] wsbrenk commented on #473
@akasolace i think here is one point left. downloading the old matches in the DownloadDialog will still load all matches. i would like to introduce the new FilterSettings to this download function.

[2020-05-01 08:50] tychobrailleur commented on #471
Ah yes, you're right.  Good catch, thanks a lot!

[2020-05-01 09:13] akasolace commented on #469
Can I try to solve the problem of importing HRF files?

@steffanots  I think it is now solved on master branch. If you still have an issue could you please share here the problematics HRF files (i.e the ones you can't import).

[2020-05-01 09:17] akasolace commented on #473
@wsbrenk ok I did not know the filters were not applied to download all games...

[2020-05-01 09:30] steffanots commented on #469
I'm sorry to say, but the problem persists.
I need to add that I took a team on 3 round this season.
[hrfs.zip](https://github.com/akasolace/HO/files/4563195/hrfs.zip)

[2020-05-01 10:35] akasolace commented on #469
@steffanots  ok there is another bug
in some of your hrfs files (he most ancients) you have some attitude parameters without values I don't know how this could be caused but I will fix this
`installning=`

[2020-05-01 11:43] wsbrenk commented on #473
@akasolace i've got a problem testing my  changes since all my hto matches are no longer in hattricks match archive. i deleted them from my test database, did a reload of old matches and was happy that they weren't reloaded when filter was setted accordingly. then i tried to reload them and that didn't work.
Should i commit my changes and anyone of you is able and willing to test that for me, or s

[2020-05-01 11:55] steffanots commented on #469
I saw this when I said "the problem persists."
Maybe you could give me a BUG with small priority for start.
I'm a team leader but I'm a beginner here. :)

[2020-05-01 12:05] wsbrenk commented on #473
Filtering of "official matches" works as expected. I will create a pull request.

[2020-05-01 12:10] akasolace commented on #469
@steffanots I will look at open bug tickets and selects some that I think could be a good introduction to HO! development...

[2020-05-01 12:12] akasolace commented on #238
@tychobrailleur should we close this one or is there other thing you want to do here ?

[2020-05-01 12:21] akasolace commented on #469
@steffanots I think #461 could be a good start.  What do you think?
You can also join us on Slack. There is not a lot of activity but we still discuss on it couple of time a week.
https://join.slack.com/t/ho-tle6272/shared_invite/zt-d8hl9bnl-NRE1_TIwMfFVDco6TuJLwg

[2020-05-01 12:38] akasolace commented on #473
closed by 2967caa

[2020-05-01 13:13] #473 closed

[2020-05-01 15:02] akasolace opened #484 "[eFEAT] "better" display of columns in Squad Tab"
Maybe we could have important information more easily visible, for example
   - move Leadership and XP  between SP and GK column
   - move the column TSI (and maybe wages and last game #461) to the left (between age and best position ?)
    - column Positioned (should we keep it ? should we change the name?)
    - best position should we move it to the right between the skills and the position rat

[2020-05-01 15:10] akasolace opened #485 "[eFEAT] include Last rating information into player panel and make it a link to match report"
Open points:

 - [x] include last match information in player details
 - [ ] remove Rating information
 - [ ] replace ball icon with corresponding match type
 - [ ] update release notes and changelog

![image](https://user-images.githubusercontent.com/1136496/81501746-351f7000-92da-11ea-9722-14803140376e.png)

IDEA: rename Rating into  "Last rating" which gives also the date of the last game (#461

[2020-05-01 15:11] akasolace opened #486 "[eBUG] remove code relating to training block"
remove  code relating to training block (no longer a feature of HT)
![image](https://user-images.githubusercontent.com/1136496/80815881-b6864c80-8bce-11ea-8395-b7a65852dbbe.png)

[2020-05-01 19:31] #477 closed

[2020-05-01 19:33] akasolace commented on #471
@tychobrailleur I think we can close this one, right ?

[2020-05-02 08:55] tychobrailleur commented on #471
I am closing this one:
- Matches tab should load much faster in the next release,
- Shutdown should also be fast,
- Matches Analyser will be removed,
- For missing highlights, as per @akasolace , matches need to be downloaded again as needed.

Thanks for sharing your db @Dillotu , that was really helpful!

[2020-05-02 08:55] #471 closed

[2020-05-02 09:10] tychobrailleur commented on #484
All good proposals. One thing re. “Positioned” (other than its translation should be fixed), it is currently lined up (pun intended) for the new jersey icon:

![Screenshot 2020-05-02 at 10 02 16](https://user-images.githubusercontent.com/114285/80859976-900ef280-8c5c-11ea-9cf8-30d75e6d94b1.png)

(We should add some tooltip on those jerseys, I don't it's obvious to anyone what the colours mean)

[2020-05-02 10:15] Dillotu commented on #471
Thank you for you time

Looking forward to the new version!

[2020-05-02 12:20] akasolace commented on #484
+1 for the tooltip, we might also simply remove the column title ...

[2020-05-02 15:16] wsbrenk commented on #66
![grafik](https://user-images.githubusercontent.com/11821502/80868037-3af0d200-8c98-11ea-91b7-63a97cd5cc42.png)

my idea is to add an extra row "adjusted" beneath the average row ("Durchschnitt"), when the user changes the opponents ratings in the MatchPredictionPanel. This row could be selected when user changes his lineup to simulate again with his adjusted match ratings.

[2020-05-02 15:52] akasolace commented on #66
@wsbrenk ok yes and how would the reset be done?
   - in the simulation we decide average or adjusted ?
   - in team analyser a button to reset adjusted to average ?
   - in team analyser a button to toggle adjusted row
   - ...

[2020-05-02 18:43] datatramp opened #488 "[eBUG] no matches data after download"
After downloading with a fresh installed HO! 3.0 r2716 I see only my Team Players but no matches at all in tab "matches" and match analyzer .

All boxes in download procedure (download filter >current matches / >series data / >Team data) are checked before download. I can see the download bar animation but no matches show up afterwards.

Same happens when I try to download a specific match or down

[2020-05-02 18:53] akasolace commented on #488
this is a known bug (it is mentioned in the announcement on HT  forum) it will be fixed in the second beta.

[2020-05-02 18:53] #488 closed

[2020-05-02 19:46] tychobrailleur commented on #475
@akasolace Is it possible this was just after a new download?

[2020-05-03 00:08] wsbrenk commented on #66
@akasolace as long as the opponent team is not changed no reset is needed, i think.
if opponent team is changed the "adjusted" row will disappear, until the ratings of the new opponent team is adjusted. then the new adjusted ratings will be added to the list.

[2020-05-03 08:36] akasolace commented on #475
@tychobrailleur  yes I confirm this is just after download. If I close HO! and then reopen it, it is then display as expected.

[2020-05-03 08:37] akasolace commented on #66
@wsbrenk ok sounds good !

[2020-05-03 10:54] amoll1910 opened #489 "[eBUG] In "Best Position" I cannot select "Coach" anymore"
**Describe the bug**
In combobox "Best Position", I cannot select "Coach" anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tab "Squad"
2. Select a player
3. Click on combobox "Best Position"
4. The entry "Coach" is not listed anymore

**Screenshots**
![NoCoachBestPosition](https://user-images.githubusercontent.com/64730829/80912388-efdcca80-8d3c-11ea-8b9f-909f059da561.jpg)

**P

[2020-05-03 12:05] tychobrailleur opened #490 "[eBUG] Error saving player in the db with an apostrophe in the surname"
**Describe the bug**
A player whose surname has an apostrophe cannot be saved in the db (e.g. O'Kennedy):

[code]

**To Reproduce**
Steps to reproduce the behavior:
0. Your team must have a player whose surname has an apostrophe
1. Download the details of players

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: macOS
 - Version HEAD ma

[2020-05-03 12:29] akasolace commented on #490
@tychobrailleur this one is annoying and needs to be fixed before next beta. Do you take care of it? If you want I can do it if you ok to share your db. Let me know ...

[2020-05-03 13:03] tychobrailleur commented on #490
I can take care of it, hopefully later today.

[2020-05-03 13:18] akasolace commented on #490
ok perfect

[2020-05-03 16:24] amoll1910 opened #492 "[eBUG] Win32 Installer says unknown Author"
**Describe the bug**
When trying to start Win32 installer, I get warning from Microsoft Defender SmartScreen. Unknown author.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute Win32-installer HO_3.0.1.2716_Win32_Installer.exe

**Screenshots** (german)
![InstallNoAuthor](https://user-images.githubusercontent.com/64730829/80919532-b91da900-8d6a-11ea-86f6-e6e2899b6467.jpg)

**Platform inf

[2020-05-03 17:04] tychobrailleur commented on #465
That one is a tricky one: the `ListSelectionEvent` triggered updates the other table in `Squad`, but also in `Lineup` , which each one in turn causes `setPlayer` to be called each time.

There seems to be indeed some ordering whereby `Lineup` tables are set first, and `Squad` next, but swapping would cause a similar issue in the `Lineup` tab, I would imagine...

More experiment needed here.

[2020-05-03 18:09] akasolace commented on #492
@amoll1910 you got the warning but you still decide to run it, correct ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-03 19:18] akasolace commented on #490
closed by #493

[2020-05-03 19:18] #490 closed

[2020-05-03 19:21] #475 closed

[2020-05-03 19:26] akasolace commented on #465
sounds like a tough one ....
I am surprised lineup and squad interact one with another. I don't see why this is required...

[2020-05-03 19:43] #486 closed

[2020-05-04 07:30] tychobrailleur commented on #238
No, all good here.  I think my changes covered all your initial requirements, so I'll close.

[2020-05-04 07:30] #238 closed

[2020-05-04 07:58] MrGespant opened #496 "[eBUG] Matches - null pointer exception"
**Describe the bug**
Whenever I try to get to the tab "Matches" it throws null pointer exception

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Matches'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/10485419/80946111-9bddee80-8ded-11ea-8f51-ffab55db4cf9.png)

**Platform information:**
 - OS: Windows
 - Version (including build number): 2.100

[2020-05-04 08:32] akasolace commented on #496
@MrGespant  hello, could you please check your issue still exist in 3.0 BETA 2 (released today).
We are about to release this new version and we are focusing bug hunting on this upcoming release.

thank you

[2020-05-04 09:05] akasolace opened #497 "[eFEAT] find a way to automatize league reset at beginning of new season"
At the moment the new league prediction will require a manual league reset just after the last game of the season, we need to make this automatic:
    1) disable the feature if not 14 games have been played (remove the option to overwrite this)
    2) if week 1 send a command to reset leagues?

[2020-05-04 09:07] akasolace commented on #459
@AchimGrube can you please check if you still have this issue with the latest build version 3.0.1.2725 ?
Thank you

[2020-05-04 09:09] akasolace commented on #343
This will be done when #336 is complete

[2020-05-04 09:20] MrGespant commented on #496
Yeah, works it like a charm. Thanks ;-)

[2020-05-04 10:02] akasolace commented on #496
@MrGespant ok great I close the issue then

[2020-05-04 10:02] #496 closed

[2020-05-04 11:31] dominiquelee opened #498 "[eBUG][3.0 Beta 2] Subskill recalculation fails to update trained players"
I deleted the db folder and started anew by importing the .hrf.
Even after "Subskill recalculation", the only subskills I see are those that come from old players regressing. The trained youngsters all only show their last full level gain.

**Screenshots**
![image](https://user-images.githubusercontent.com/1204726/80961452-4ca6b680-8e0b-11ea-9a39-26d9b0c9ce86.png)
The two youngsters that just uppe

[2020-05-04 11:32] akasolace commented on #498
@dominiquelee  thank you for reporting it.
Could you please put a zip of your db in the ticket.

[2020-05-04 11:34] akasolace commented on #498
@wsbrenk  again a subskill recalculation issue (like 2 out of 3 bugs reports on HO). I think you are the most knowledgable on this issue. Would you mind having a look?

[2020-05-04 11:46] dominiquelee commented on #498
Here you go: [db_singleUser-2020-5-4.zip](https://github.com/akasolace/HO/files/4574395/db_singleUser-2020-5-4.zip)

[2020-05-04 12:39] akasolace commented on #498
thank you

[2020-05-04 13:08] Dillotu opened #499 "[eBUG] The position arrows are reversed in League details"
**Describe the bug**
In the League details the arrows red and green are reversed red for who took the position and green for the one who has lost it

**Screenshots**
https://paste.pics/8V4TI

**Platform information:**
 - OS: [Windows 10]
 - Version HO_3.0.1.2725

[2020-05-04 14:40] #499 closed

[2020-05-04 15:42] amoll1910 commented on #492
Yes, this is correct. I can continue.
After this my virus scanner (Panda Dome) alerts me with W32/Exploit.gen. Seems to be a false positive caused by missing signature as well (when googling this I found some similar issues).

As said, I already solved this yesterday by using zip for installing. This worked nice also for today's update r2725. So I close this here.

[2020-05-04 15:42] #492 closed

[2020-05-04 16:05] Dillotu opened #501 "[eFEAT] Check Box Yes/No SkillDrops"
Hi Team

It could be possible to set a check box to see or not the SkillDrops in the Training tab >> Prediction?

Thanks

[2020-05-04 16:31] akasolace commented on #489
This was removed by mistake but we have to decide if we want to restore this possibility or not (I do not really see the purpose of this)
The only result of this is I guess to make sure the player is not selectionable by auto lineup (right @amoll1910 ? )   if that is the case I suggest to make it cleaner and to remove "coach" by "can't play" and that would be linked to the checkboxes in lineup tab

[2020-05-04 17:38] wsbrenk commented on #489
@akasolace i use it, only to classify my players. As far as i know, it is only a display feature.

[2020-05-04 17:49] wsbrenk commented on #498
@akasolace i can try it

[2020-05-04 18:27] wsbrenk commented on #498
@dominiquelee your database does not contain any match. Did you try download old matches?

![grafik](https://user-images.githubusercontent.com/11821502/80999851-9a401500-8e45-11ea-846a-341bc7774ab6.png)

[2020-05-04 21:28] dominiquelee commented on #498
It"s indeed working way better with the old matches in. I thought they would already be embedded in recent .hrf.
Apologies for having missed this easy fix.

[2020-05-04 21:28] #498 closed

[2020-05-04 21:52] wsbrenk commented on #498
@dominiquelee  no problem

[2020-05-04 22:37] wsbrenk commented on #501
![grafik](https://user-images.githubusercontent.com/11821502/81020145-7641fb00-8e68-11ea-8705-2f7355d11f17.png)

Displaying skill drops in trainings prediction can now be turned off.

[2020-05-05 07:26] akasolace commented on #501
@wsbrenk wow that was quick, was not expecting a fix before 4.0
well done !

[2020-05-05 07:28] #501 closed

[2020-05-05 07:34] akasolace opened #503 "[eFEAT] Remove Player Experience Viewer"
I think the honour should be yours @wsbrenk

[2020-05-05 13:14] amoll1910 commented on #489
"can't play" instead of "coach" is nice and describes it even better for my purposes.
Then the player would not appear at training estimation as well (this was one reason why I marked some players as "coach").

[2020-05-05 15:10] AchimGrube commented on #459
Sorry, I didn't find the time earlier. I'll check it out next days and give you feedback.

[2020-05-05 17:26] wsbrenk opened #504 "[eBUG] NPE on Update"
in Hattrick forum murko wrote:

I'm currently on BETA 3.0 r2716
When I click help=>search for updates I get an java.lang.NullPointerException error

java.lang.NullPointerException
	at tool.updater.UpdateController.compareToCurrentVersions(UpdateController.java:197)
	at tool.updater.UpdateController.check4update(UpdateController.java:33)
	at core.gui.HOMainFrame.actionPerformed(HOMainFrame.java:408

[2020-05-05 17:30] wsbrenk commented on #504
https://akasolace.github.io/HO/lateststable.html gives http error 404

[2020-05-05 17:59] akasolace commented on #504
My bad

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-05 18:00] akasolace commented on #504
I removed GitHub page earlier ... did not recall this was used to serve those html

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-05 18:00] akasolace commented on #504
I will fix it ASAP

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-05 20:38] #504 closed

[2020-05-06 09:31] #459 closed

[2020-05-06 09:45] #388 closed

[2020-05-06 12:34] akasolace opened #505 "[eBUG] Module Evil Card is broken"
@wsbrenk @tychobrailleur   Should we repair it or is it also a candidate for removal?  I personally never used it ...

[2020-05-06 17:50] wsbrenk opened #506 "[eBUG] One player can not occupy more than one substitute slot"
Dillotu wrote in Hattrick forum:

Hi

In Lineup >>> Substitutes we cannot set the same player in two or more positions
Add any other context about the problem here.

[2020-05-06 19:54] steffanots commented on #485
I'm not sure this is true
Rating is last training match. You can see here.
![image](https://user-images.githubusercontent.com/64475678/81222106-0fe1e780-8fe4-11ea-92d2-7b9ae9d93a2d.png)

[2020-05-06 20:00] akasolace commented on #506
@wsbrenk this was also a limitation in 2.X right?  Is it a change in HT or was it broken in HO for super long?  Also I guess this should go in a quick 3.1 release, what do you think?

[2020-05-06 20:09] akasolace commented on #485
You mean rating is currently last training match so ignoring non offical game wheras Last Match Rating considers those non official game, right ?  If this is correct we  might want to change this and only keep last rating behaviour ..

[2020-05-06 20:20] wsbrenk commented on #506
@akasolace I am afraid that I have made this error with issue #299 in february

[2020-05-06 21:13] steffanots commented on #485
LastMatch in player.xml is last match in HT. I think it's an irrelevant type of match (As I was testing I also saw a preparation match). I will test duel and preparation match tommorow.

[2020-05-06 21:16] tychobrailleur commented on #505
I'd be in favour of removing it.

[2020-05-06 21:19] steffanots commented on #461
Last match is last match in HT. I think it's an irrelevant type of match (league, cup, friendly, duel or preparation). I don't know that we want this.
I add last match into Player Detail with link on match.
I add columns into players tab and lineup tab.
I add property into english.properties.

Because I have problem with loading matches (create repo with bug) , I need help.
I need master and my br

[2020-05-06 21:21] tychobrailleur commented on #485
The match report in Team Analyser, right?

[2020-05-07 05:57] steffanots commented on #485
No, tab Matches.

[2020-05-07 07:26] akasolace commented on #485
@steffanots I still don't get what are the difference in rating in your example ... 4 grey stars vs 4.5 gold stars...

![image](https://user-images.githubusercontent.com/1136496/81266168-929a8f00-9044-11ea-9488-c5f14ce339d7.png)

[2020-05-07 07:27] akasolace commented on #485
Yes I was also thinking a link to the match tab as it is a played game ...

[2020-05-07 08:20] steffanots commented on #485
Example from picture:
My player Veselinovic on last match (league) has 1,5 star and 4 star in last training week.
Gray stars is for league match, gold star for cup/friendly match.
This code is on german so maybe wsbrenk worked on. :)
![Untitled](https://user-images.githubusercontent.com/64475678/81270585-3edf7400-904b-11ea-8f97-32b3b1f6616c.png)

[2020-05-07 08:45] akasolace commented on #485
@steffanots I see. It looks broken to me. What I would suggest is to simplify/clarify it as follow:
   - we get rid of rating
   - we get rid of grey / yellow star
   - in last match we will have:
         - yellow stars from last game (the avg rating not the rating at the end)
         - the clickable icon indicating the match type (league, friendly, cup, whatever ...)
         - the date

This w

[2020-05-07 08:53] steffanots commented on #485
Fine be me.
So, I will add this

[2020-05-07 09:03] akasolace commented on #485
I add icon of ball but if you agree I' ll add this

Yes I saw, you put a ball icon nut I think replacing it with the match type give an additional piece of information right away and more clearly than the stars color

Yes correct one column in squad tab and one in lineup tab. In the code there are example of third click sort if needed.

[2020-05-07 09:20] akasolace opened #508 "[Backport] 506"
Backport resolution of #506 to branch 3.X

**Additional information**
Add any other context about the problem here.

[2020-05-07 11:59] titico60 opened #509 "[BUG] No players in the team"
**Describe the bug**
It only happens with my second team.

Every time I open HO, my players are missing.

Then, I download the data and they show up.

If I try to download a previous HRF, the players disappear again...

**Screenshots**

![HO](https://user-images.githubusercontent.com/64963460/81291793-6261e900-9062-11ea-846d-578f11ab1a36.jpg)

[db2.zip](https://github.com/akasolace/HO/files/459275

[2020-05-07 12:06] akasolace commented on #509
@titico60 did you had that bug already in 2.X ?

[2020-05-07 12:07] akasolace opened #510 "[Backport] #509"
Backport resolution of #509 to branch 3.X

[2020-05-07 12:14] titico60 commented on #509
No.

With 2.0 all matches were missing, but that problem was solved when I updated to 3.0.

[2020-05-07 12:46] akasolace commented on #5
@pierpaolocira the way I see it this is a duplicate of #372 so I am closing this one. If you disagree you can reopen it ...
cheers

[2020-05-07 12:46] #5 closed

[2020-05-07 12:49] akasolace commented on #65
I put the milestone to backlog/someday for 2 reasons:
   - moving to java 11 might solve it
   - limited user feedback on this one
After a while we could simply decide to remove it

[2020-05-07 12:55] steffanots commented on #485
After I played duel match and pripare match I looked at xml and didn't get those matches as last match. I will try to catch xml after local update at 16:30.

[2020-05-07 13:08] akasolace commented on #461
It is is linked to #485

[2020-05-07 14:08] #506 closed

[2020-05-07 14:18] akasolace commented on #508
closed by 594369df7758c2d35851c16b65e1524ec2f5892e

[2020-05-07 14:18] #508 closed

[2020-05-07 21:00] wsbrenk commented on #509
db is two weeks old. it does not contain spieler table columns LastName, FirstName and Nickname, but the dbversion is set to 301.

[2020-05-08 18:07] wsbrenk commented on #509
to fix this, we could introduce the next patch version with dbversion incremented to 302, where the SpielerTable update is done again.

[2020-05-08 21:20] titico60 commented on #509
That would be great, tks ;)

[2020-05-08 22:43] pierpaolocira commented on #5
I do confirm... it's the same, although the final location is different. Here it is proposed to put it into the Application folder, but it doesn't sound as a good idea because it might be lost/overwritten easily (and MacOs uses another default location for such kind of information, which is what I used in 372, i.e. "application support"). It's a pity I have no time for proper testing, because it's

[2020-05-09 18:22] fjrn opened #512 "Sub-level recalculation error"
When requesting HO to Recalculate sublevels or Recalculate sublevels (7 weeks), the following error occurs:
java.lang.NullPointerException
![java lang NullPointerException](https://user-images.githubusercontent.com/64761641/81481744-92e38780-9208-11ea-8880-9360d4184cb9.JPG)

**Additional information**
![Error](https://user-images.githubusercontent.com/64761641/81481571-89a5eb00-9207-11ea-950e-d8ee

[2020-05-09 18:26] fjrn commented on #512
Obrigado pela atenção. Se precisar de mais informações, eu estou a disposição.

[2020-05-09 20:04] akasolace commented on #509
@wsbrenk  do you have any idea how he could end up with such a database in the first place?

[2020-05-10 00:19] wsbrenk commented on #509
@akasolace i remember we had a time with an exception in dbupdater and I wasn't entirely blameless. maybe the db was created before and such an update did break it.
it would be even worse if there was another error in the update routine. Last time it was the cleanup loop that deleted foreign seasons from the DB. Maybe there is another hole. we should put it to the end of the update routine.

[2020-05-10 00:46] wsbrenk commented on #509
after @titico60 updated to this patch, he needs to download again, before he could see his players again. I couldn't test this.

[2020-05-10 10:57] akasolace commented on #336
@wsbrenk @tychobrailleur @DavidatorusF I created new prediction ratings. Complicated tasks, it seems to me that it improves the current situation but would be nice if you could also test it.
For the test, it is important to look versus HT a t=0 discarding weather events (if any). And making sure same parameters are used (location, style of play .....) In case you test it against lineup simulator (

[2020-05-10 11:00] akasolace commented on #509
closed by 120247a

[2020-05-10 11:00] #509 closed

[2020-05-10 11:01] akasolace commented on #510
need to backport commit: 120247a

[2020-05-10 11:05] #510 closed

[2020-05-10 11:06] #465 closed

[2020-05-10 11:08] akasolace commented on #5
@pierpaolocira I do agree we need proper testing first.  That would be a very nice improvement so really looking forward to it ...

[2020-05-10 14:15] akasolace commented on #485
@steffanots I tested it and it seems to work fine ... well done !
Looks all implemented except the icon type instead o the ball. Could you do that last one to close that ticket?

My previous remark about 3 clicks sorting belong to #461 I will put it there

[2020-05-10 14:17] akasolace commented on #461
#485 introduced the following:

![image](https://user-images.githubusercontent.com/1136496/81501601-9561e200-92d9-11ea-9a92-17a716526d4f.png)

Current ticket is for including these information inside both Lineup and Squad tables replacing existing Rating information

This would summarize all in we want in a single place. In the column, I guess we could here also introduce 3 clicks sort (date defau

[2020-05-10 14:22] akasolace commented on #485
@steffanots I summarized open point on first thread https://github.com/akasolace/HO/issues/485#issue-610799870

I will release first 4.0 artefacts when this ticket is closed

[2020-05-11 17:41] fjrn opened #514 "[eBUG] manage local vs HT time zone"
Even after updating the time difference in preferences and restarting HO, the country's local time is not updated.

![TimeHT](https://user-images.githubusercontent.com/64761641/81593147-63ae5100-9395-11ea-980d-cb0a62b4f602.JPG)

[2020-05-11 17:53] akasolace commented on #514
Can you put a screenshot of the match tab from HT ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-11 19:19] fjrn commented on #514
It is in Portuguese, if you need it I can send it in English.

![Match_HT](https://user-images.githubusercontent.com/64761641/81602474-0f11d280-93a3-11ea-8bbf-07b851265e8f.JPG)

[2020-05-11 20:08] akasolace commented on #514
@fjrn ok thank you, last thing, could you also join a copy of your db in the ticket.

[2020-05-11 20:11] akasolace commented on #512
@fjrn  a copy of your db would help looking at this issue ... thank you

[2020-05-11 21:39] fjrn commented on #514
Sorry, but I don't know what this information is.
Can you guide me, please?

[2020-05-12 07:50] akasolace commented on #514
If you can copy your db folder from HO, then zip it and paste it here as an attachment.

[2020-05-12 18:53] fjrn commented on #514
Please see if this is the information you want.

[db.zip](https://github.com/akasolace/HO/files/4617821/db.zip)

[2020-05-12 18:56] fjrn commented on #512
[db.zip](https://github.com/akasolace/HO/files/4617841/db.zip)

[2020-05-13 12:52] #514 closed

[2020-05-13 17:19] tychobrailleur commented on #497
This is indeed currently the case, and by default the option is disabled.  One we're happy everything is ok this season, we can remove it for next season.

Yes.  There is already an endpoint for this (we used it for testing when developing the Promotion manager feature); I think this endpoint should not be made available to everyone (i.e. to HO).  Ideally it should be password-protected, and calle

[2020-05-13 18:57] akasolace commented on #497
closed on the server

[2020-05-13 18:57] #497 closed

[2020-05-14 07:59] akasolace commented on #485
I merged your PR but it does not work for me ....

![image](https://user-images.githubusercontent.com/1136496/81908479-90e34500-95c9-11ea-9983-a3e5c326ec2a.png)

[2020-05-14 08:02] akasolace commented on #485
closed by 3e0b4e2a107e3eca7cc6dc6572f1573259e2da77

[2020-05-14 08:02] #485 closed

[2020-05-14 08:06] akasolace commented on #124
@tychobrailleur is there really something to be done here or should we simply close this one ?  your call ... :-)

[2020-05-14 08:07] akasolace commented on #505
@wsbrenk an opinion on this one ?

[2020-05-14 18:04] tychobrailleur opened #516 "[BUG] NPE when selecting a player in the Lineup tab on brand new setup"
**Describe the bug**
An NPE is raised when clicking on the dropdown menu for players in the Lineup tab when starting HO with a brand new database, after the first download.

The same problem arises when selecting a player in the Squad tab.

[code]

After closing the initial NPE error dialog, multiple other ones appear, which is probably one per player.

**To Reproduce**
Steps to reproduce the beha

[2020-05-14 18:12] tychobrailleur commented on #516
In `SpielerDetailPanel`, `info` is null:

[code]

At that point there isn't any match in the db:

[code]

[2020-05-14 18:16] tychobrailleur commented on #516
I don't understand why matches were not downloaded on the first download.  Doing a download again solves the problem.

So two things to address:
- Handle the null check in `SpielerDetailPanel`
- Find the root cause as to why the first download doesn't download matches.

[2020-05-14 18:24] akasolace commented on #516
According to @steffanots this issue also exist in 3.0

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-14 18:24] akasolace commented on #516
At least the issue on lineup tab

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-14 18:35] tychobrailleur commented on #516
Ok, that's quite likely.

Looking into this, the first time we download everything, team id is still set to 0, so downloads in `DownloadDialog#startDownload` are not happening.  The second time, team id is set, all good.

[2020-05-14 18:43] tychobrailleur commented on #516
It seems to be a known “behaviour”:
cf. https://github.com/akasolace/HO/blob/master/src/main/java/core/net/DownloadDialog.java#L279

So as I mentioned above, we at least need to add a null check, but I am wondering if we should also address that issue.

[2020-05-14 18:51] akasolace commented on #516
looking the blame this comment has been there for ever ... can't think of a reason why it behaves like this ...

[2020-05-14 19:04] tychobrailleur commented on #516
It suggests it's something to do with training... I have swapped downloading the HRF details and match download, and this fixes the problem.  This may have unintended consequences so let's keep an eye on this, but with a brand new db it works great – great thing is that League Details are also populated without having to download again.

[2020-05-14 19:26] steffanots commented on #516
I can add a check anyway.
I wonder how this would behave on the player we buy!? I'll buy a player soon so I'll try. There will probably be a bug. :)
I can add a check anyway.

[2020-05-14 19:36] adicomdotir opened #518 "[BUG] Don't run on linux ubuntu"
It stays on during loading
Message "prepare to show"

Ubuntu version 18.04
Java version 1.8.0_242
HO version HO-3.0.2.2728

[2020-05-14 19:59] wsbrenk commented on #505
Never used it too.

[2020-05-14 20:51] tychobrailleur commented on #516
I have already added one in the PR: https://github.com/akasolace/HO/pull/517

It'd be worth checking how this behaves.

[2020-05-15 07:35] #516 closed

[2020-05-15 11:06] wsbrenk opened #520 "[BUG]experience sub calculation does not work if players got not at least osmose training"
i'm training keepers since 3 weeks and only they are getting experience subs

![grafik](https://user-images.githubusercontent.com/11821502/82044011-daf12700-96ac-11ea-9519-ddce67c2ba4f.png)

[2020-05-15 12:42] murko69 opened #521 "[FEATURE] Promotion Status more visible"
End of season, Hattrick makes this:
![Screenshot](https://user-images.githubusercontent.com/12071221/82050570-a4b9a480-96b8-11ea-942c-58b0edc8e4fb.png)
The color makes it 'pop-out' a bit. Otherwise users tend to miss information.

IMO this area needs to pop-out more than it does today:
![57caadc7ee86724dc28b36c6bec4aa88](https://user-images.githubusercontent.com/12071221/82051260-d4b57780-96b9-11e

[2020-05-16 08:47] #520 closed

[2020-05-16 11:48] akasolace opened #523 "[FEATURE] HOserver improve performance and reliability"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-05-16 16:46] akasolace opened #525 "[Code Cleaning] remove column Spielberechtigt from SPIELERNOTIZ table"
Since closing of #489, the mentioned column is redundant with the column USERPOS
USERPOS = 101 mean false otherwise it means true,
removing this column means some refactoring in different places

[2020-05-17 17:34] akasolace opened #526 "[BUG] Help -> online documentation should point to read the docs"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-05-17 17:35] akasolace opened #527 "[BUG] Help report a bug shoud point to https://github.com/akasolace/HO/issues/new/choose"
https://github.com/akasolace/HO/issues/new/choose

[2020-05-17 18:44] #489 closed

[2020-05-18 07:21] tychobrailleur commented on #461
Correct – the Lineup tab is where this piece of info would be the most useful to me.

In the table it would probably make more sense to separate those details in their own column to be able to sort ascending/descending on each of them.

[2020-05-18 08:10] akasolace commented on #461
@tychobrailleur this is why I suggested 3 click sort ...

what do you think, you still prefer 3 differents columns ?

[2020-05-18 08:31] tychobrailleur commented on #106
I have been pulling my hair on this one over the weekend.  One of the difficulties I am facing here is that most of the plugins packaging for osx use jpackage, which is available for java 14, but used to be available for 11 from there: https://jdk.java.net/jpackage/ – which is now a broken link.

There are some artefacts lying around that can be found from there: https://mail.openjdk.java.net/pipe

[2020-05-18 08:38] tychobrailleur commented on #461
As far as I understand 3-click sort, it works by sorting on a main value _v_ ASC, then _v_ DESC (or vice-versa), and then another value _w_ (ASC) on the third click.  So you'd only be able to sort on one value asc and desc + another value in a fixed direction.

[2020-05-18 08:41] akasolace commented on #526
closed by 3ff3801ee810c0ab169a57cdda929ffbd63973d5

[2020-05-18 08:41] #526 closed

[2020-05-18 08:41] akasolace commented on #527
closed by 3ff3801ee810c0ab169a57cdda929ffbd63973d5

[2020-05-18 08:41] #527 closed

[2020-05-18 08:42] akasolace commented on #461
yes you are right

[2020-05-18 08:45] akasolace commented on #106
yes it sounds good to me. I think we will need to have compiliation option to ensure compatibility with jdk11 as I think it is still the std on a lot of Linux distribution.

[2020-05-19 07:11] akasolace commented on #106
I agree lets go straight to java 14, question is do we do it for 4.0 or for next release ?

[2020-05-19 07:24] tychobrailleur commented on #106
For the next one.  This requires a lot of changes: gradle version 6, some of the deps including scribe.

Modules also load resources differently, I need that problem in intellij.

[2020-05-19 07:29] tychobrailleur commented on #106
You can have a glimpse of the change on my (broken) branch tychobrailleur:java-11

[2020-05-19 07:40] akasolace commented on #106
ok so we leave it for 5.0

[2020-05-19 07:52] akasolace commented on #309
I think all Special Events are now included, @DavidatorusF do you see something to be changed or added? The problem I see are more GUI related:
    - the lines height which are not automatically adjusting to the match event icon height
    - maybe we can remove columns Match-ID and the 2 columns with the black arrow
    - we could also merge Match Date and icon and make the icon clickable to match

[2020-05-19 12:41] akasolace opened #530 "[FEATURE] create a new overview Tab to be used as main tab instead of Lineup"
We might have a new starting tab for HO! one similar to the club overview in HT plus additional information:
     - club logo
     - club details (fans, TS, confidence, ...)
     - cup and ladder information
     - staff information
     - training information
     - finance information
     - new power rating
     - some other information (and delete misc module)

we might make some of those info

[2020-05-19 16:50] tychobrailleur commented on #530
I really like this idea! we could also display upcoming matches, and some HO news, new versions of HO available, etc.

[2020-05-19 19:41] akasolace commented on #530
@tychobrailleur for your info I did it as a proof of concept: the overview tab has just 2 stupid labels but:  it is using JavaFX panel inside main HO interface (both java 11) and using Scene Builder ! which is a breeze compare to manually doing GUI interface !
It took me 1h30 out of which I wasted 1h15 because of missing dll under windows ... so I am very surprised how easy it was. It all looks to

[2020-05-19 20:31] DavidatorusF commented on #518
@adicomdotir

On ubuntu, there's two way, choose the one you want

1. Via the HO.deb / rpm
◦ Install the file via your software library

2. Via the .zip
◦ Extract the downloaded file
◦ Launch the HO.sh
▪ if necessary, right click on HO.sh> property> permissions> check "allow file execution as a program".
▪ click on a folder -> edit (in the menu) -> preferences -> behavior -> executable text file -

[2020-05-20 15:47] adicomdotir commented on #518
The first way didn't work for me
But the second way worked
Thanks

[2020-05-20 15:47] #518 closed

[2020-05-21 19:11] yaute74 opened #531 "[eBUG] Bad error message when db is lock"
**Describe the bug**
Bad error message when the database is lock by another process

**To Reproduce**
Steps to reproduce the behavior:
1. Start HO (don't close it)
2. Start another time HO
3. Error message is: 'Fatal database error. Exiting HO! You should restore the db-folder from backup or delete that folder.'

[2020-05-21 19:40] #505 closed

[2020-05-22 09:05] #531 closed

[2020-05-22 21:13] akasolace opened #533 "[BUG] add support for new leagues"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-05-22 23:29] homarques opened #534 "[BUG] java.lang.NullPointerException"
**Describe the bug**
When the application is started by the command java -jar Ho.jar the following exception occurs:
java.lang.NullPointerException

**To Reproduce**
java -jar HO.jar
**Platform information:**
 - OS: macOS Catalina 10.15.4
 - Version: HO_3.0.2.2728.zip
 - Java: java 14.0.1
 -JRE: 8u

[HO-2020-05-22.log](https://github.com/akasolace/HO/files/4670748/HO-2020-05-22.log)

[2020-05-23 07:24] tychobrailleur commented on #534
Hi @homarques thanks for the report!  HO does not support java 14 yet, this is something I am currently working on (see #106 targeted for 5.0).  For now java 8 is the way to go!

[2020-05-23 11:31] tychobrailleur commented on #106
Right, update on this: I can package the app as a `pkg` and `dmg`, and it runs fine (a few hardcoded changes here and there that will need to be addressed, in particular the path to db, i.e. #372 needs to be fixed – it looks like the behaviour changed on OSX, `/db` now points to the root path `/db`, which makes more sense).

Biggest problem now is IntelliJ: no resource in `src/main/resources` get

[2020-05-23 13:37] akasolace commented on #106
@tychobrailleur Is there a branch I can pull and test ?  See if the error is specific to macOS or more general?

[2020-05-23 16:09] tychobrailleur commented on #106
It is on my [java-14](https://github.com/tychobrailleur/HO/tree/java-14) (which is also my java-11 branch, but that was getting confusing).

[2020-05-24 19:27] yaute74 opened #537 "[eBUG] Friendly not appear in TeamAnalyzer"
**Describe the bug**
When we have two friendly match in the same week (week-end/middle-week) we cannot see the friendly match of the week-end.

_In the source code, to fill the combo we use:_

[code]
 We load the combo with:
[code]
 So if we have friendly match the week-end and no frienldy schedule for the middle of the week we see the match
 **But if the match is schedule we don't see the week-en

[2020-05-29 18:46] #533 closed

[2020-05-29 18:56] tychobrailleur commented on #534
Closing as HO is in the process of migrating to java 14.

[2020-05-29 18:56] #534 closed

[2020-05-30 10:57] Sturzbach opened #539 "[BUG] Training Plugin - Analyser and Effekt tab"
**Describe the bug**
There is a bug, which invalidates trainings data since Update to Version 3.0 i Think.
In a old Database everything is alright and the Data are shown with correct entries for Season and week. But then I import data now, the Acutal data are shown as of the season before.
This is the fact in Tab Training / Analyse and Effect.

The result is i think it does not caslculate the trai

[2020-05-30 16:02] wsbrenk commented on #66
progress report: it was a hard fight until i understood what is happening where. so i did a little refactoring of the code and i hope other developers confirms that it will get easier to understand. currently the ui looks like this - there is a new "adjusted" row after simulation was run with changed rating or tactic values.
![grafik](https://user-images.githubusercontent.com/11821502/83333148-6ff

[2020-05-31 13:35] akasolace commented on #106
closed by f99fa5f0ce0886777a16c1ab03177e3b78d07ddf

[2020-05-31 13:35] #106 closed

[2020-05-31 13:37] akasolace commented on #66
@wsbrenk I followed this one from far... but thank you for the status update !

[2020-05-31 13:41] akasolace commented on #336
I will close this one and reopen if required due to negative feedback

[2020-05-31 13:41] #336 closed

[2020-05-31 13:47] akasolace commented on #462
@yaute74 maybe you can look at this one as I think it is only specific to Linux ... I am not 100% sure but I think the issue is that on Linux by default HO! tries to store hr files in a restricted directory ( / ?) and throws an error but without a correct error message. Couple of discussion relates that issue on the forum ...

[2020-05-31 13:49] akasolace commented on #461
hi @steffanots are you planning to also take care of this one which also relates to last match ?

[2020-06-01 14:39] #462 closed

[2020-06-03 09:28] #309 closed

[2020-06-03 09:31] akasolace commented on #539
@wsbrenk  I assigned it to you as you are the most experienced with that part of the code.
I let you check whether or not we have an issue here and what should be the appropriate labels and milestone...

[2020-06-03 09:42] akasolace opened #547 "[FEATURE] clickable match link open ht website"
@steffanots while you are at it, for consistency the behaviour should be the same as in the special event modules (shift click opens in browser):
     - player details
     - overview / lineup tab #461

[2020-06-03 15:53] akasolace opened #548 "[BUG] build and test artefacts made using install4j"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-06-03 21:12] tychobrailleur commented on #65
The font size can be adjusted in preferences:

![Screenshot 2020-06-03 at 22 08 26](https://user-images.githubusercontent.com/114285/83689359-d0101f00-a5e6-11ea-80c3-e16c6616889d.png)

![Screenshot 2020-06-03 at 22 09 40](https://user-images.githubusercontent.com/114285/83689445-f59d2880-a5e6-11ea-9f55-0b8dc9302745.png)

This should work across all themes on the master branch.

Does this help?

[2020-06-04 08:24] akasolace commented on #65
for some this was not working ... I think it was a java error that should be fixed by the recent bump in version ...

[2020-06-04 16:19] akasolace opened #550 "[BUG] change update functionality from 4.0 onward"
**Describe the bug**

Ideally 4.0 will request fresh install.  From 4.0 onward there would be 2 zips on the servers:
    - if update from linux -> get unix zip
    - if update from windows -> get windows zip

update zip wont be store on the serve in order to force users to do fresh install.

update logic should be implemented before release:
   - [x] HOLauncher should be ok but should be tested

[2020-06-05 15:45] Dergelbe opened #551 "[BUG] HO not opening - database crashed?"
**Describe the bug**
capitaineFro requested to open an issue for this thing here:

Database crashes on opening HO. You can find the error message attached as screenshot.
[error](https://www.bilder-upload.eu/bild-ae4851-1590646753.jpg.html)

When trying to open HO the 2nd time after this, the opening procedure stops at "inizialize database"

[database](https://www.file-upload.net/download-14107131/

[2020-06-05 19:31] akasolace commented on #551
@Dergelbe  Thank you or opening a ticket and sharing your database. However as explained in the forum what would help is a version of your db which is not corrupted ...  do you have any copy prior to this one ?

![image](https://user-images.githubusercontent.com/1136496/83915542-c0721100-a773-11ea-9663-675399be941b.png)

[2020-06-06 09:37] theobserver opened #554 "[FEATURE]"
HO is actively maintained now, yet people do not know about it. At the [Hattrick Wiki ](https://wiki.hattrick.org/wiki/Helper_application) it states that Hattrick Organizer last update was at 30. November 2009.

**We should inform the HO community that HO is alive and kicking** by adding the new HO active status in Hattrick Wiki .

Thank you for your time reading this.

[2020-06-06 10:58] Dergelbe commented on #551
no, i don´t have a copy before that. i would have the old .hrf but i don´t know if there are helpful

[2020-06-06 14:13] akasolace commented on #551
you have all the hrfs files ?

[2020-06-06 14:35] akasolace commented on #554
@theobserver yes please, updating the wiki would be welcome !

[2020-06-06 21:05] akasolace commented on #551
the hrfs  https://workupload.com/file/hxxygzz9QX6

[2020-06-06 21:18] wsbrenk commented on #512
db contains only one single training. subskill recalculation seems to skip the very first training.

with current master i could not reproduce the npe

[2020-06-06 21:22] wsbrenk commented on #539
currently i could not reproduse this effect, but i remember that i saw it some days ago. i guess it is a week 16 effect.

[2020-06-07 09:57] akasolace commented on #539
ok lets look again at this one on week 16 then ...

[2020-06-07 10:00] akasolace commented on #512
@wsbrenk just to clarify is it that we can't reproduce the error or that the error only occur if user tries to recalculate subskill when there is only one training in the database ?

[2020-06-07 10:27] akasolace commented on #551
@Dergelbe importing the hrfs files seems to work ... have you tried yourself ?
Just delete the db folder. Launch HO! then select files importing hrs files, you go to your folders (ctr+a to select them all)  ... click ok and then apply to all ...
The only thing that will be missing are the games but you can download them from file download -> old   ...

@wsbrenk can you remind me/us the difference

[2020-06-07 14:23] wsbrenk commented on #551
@akasolace file=leaguefixtures is the chpp file read by old series data
file=matchesarchiv is read if old matches is selected.

[2020-06-07 14:34] wsbrenk commented on #512
@akasolace i could not reproduce the npe given by @fjrn. i think we still did repare it the last weeks. wasn't there another ticket concerning "getAufstellung"?!

what i saw, was that there is still another bug which happens if only one single training is in the database and all stored hrfs are after the trainings date. Then NO recalculation is done.

[2020-06-07 21:15] akasolace commented on #551
ok thank you !

[2020-06-07 21:55] wsbrenk commented on #512
![grafik](https://user-images.githubusercontent.com/11821502/83980902-8e9aaf00-a919-11ea-93be-a7fa900c8a6f.png)

recalculation is done now also on trainings that took place before the first hrf was loaded.

i did introduce a lazy loading option to HOModel, since a lot of stuff was loaded by HOVerwaltung.loadModel which is not needed by the recalculation method.

[2020-06-08 04:11] fjrn commented on #512
Thank you for your service.
I can't interpret the error report, so I can't comment on the error. I believe that the proposed improvement will increase the yield.
The sub-level recalculation is working perfectly

[2020-06-08 04:12] #512 closed

[2020-06-08 08:14] akasolace commented on #66
might be implemented by ebc278f

@wsbrenk I will let you close the issue once tested and confirmed to work

[2020-06-08 08:23] akasolace opened #558 "[FEATURE] create database repair tool"
Plenty of users have database in more or less corruption state. One of the symptom to recognize corrupted database is the constant presence of .backup file and non updated .data

It appears the corruption mostly come from the introduction of new non null field in the database.
Previous rows had no entries and the dbupdater is not tackling this correctly. The dbupdater should have introduce default

[2020-06-08 08:36] akasolace commented on #551
I will close this issue which is specific and will be treated in a more general one in #558

[2020-06-08 08:36] #551 closed

[2020-06-08 08:50] akasolace commented on #537
should be closed by da4f3a4

[2020-06-08 16:43] wsbrenk commented on #558
@akasolace is the dbupdater the only reason of corrupted database. If so i would suggest to introduce save db update methods which do those checks you propose.

in the past i very often observe that my database get corrupted when HO terminates in an unforeseen way - programm errors or maybe power failure. do you see any chance to attack those corruptions too?

[2020-06-08 17:38] wsbrenk commented on #66
@akasolace, @ArneGloe  we should try to get the author of the ticket for a test when a new dev version is in place

[2020-06-08 17:41] wsbrenk commented on #66
@akasolace i recognize that i worked longer than a month on this ticket - i'm really tired of this;-)

[2020-06-08 17:57] wsbrenk commented on #431
#520 could be the fix concerning experience failure

[2020-06-08 18:12] wsbrenk commented on #431
tried to reproduce with v3.0:

on 6.5.2020 my team had a penalty shot out in a friendly match and Wilbert Pander entered in minute 90 for Pit Drexler.

Situation in HO before training is:
![wpbeforetraining](https://user-images.githubusercontent.com/11821502/84065193-3cfb2e80-a9c4-11ea-8fdd-4b3201c84576.png)

situation on 8.5 (after training) is:

![wpaftertraining](https://user-images.githubuserc

[2020-06-08 18:15] wsbrenk commented on #431
@dominiquelee could you try to verify if this is still an issue in v3. are the training effects OK if you run a recalc of the subskills?

[2020-06-08 18:30] tychobrailleur commented on #558
@akasolace Do you see this as a standalone tool, or a tool that's part of HO?  If the former, I'll create a new project under the `ho-dev` org.

It's difficult; I think – it's the nature of hsqldb.  It only writes the data file upon shutdown.  We could possibly increase the frequency of backups but this would not get rid of the issue entirely (cf. http://www.hsqldb.org/doc/2.0/guide/dbfiles-app.ht

[2020-06-08 21:29] wsbrenk commented on #558
@tychobrailleur concerning backup we discussed earlier that it could be a good idea to hold some backup for a longer time ( maybe one for a week and another one for a season). by this way we could handle errors which were undetected for the last 3 session (which could be a real short period).

[2020-06-08 22:03] wsbrenk opened #561 "[FEATURE] Game results should be given with information about extra time or penalty shoot out"
Game results of cup rule games in game panel (and maybe teamanalyzer) should be include information about extra time or penalty shoot out.

In german it would be
2:1 n.V. (nach Verlängerung), means after extra time
or
5:3 n.E. (nach Elfmeterschießen), means after penalty shoot out

today i had to search very long for a extra time game;-)

[2020-06-09 06:43] ArneGloe commented on #66
@wsbrenk: thanks for your work! Really appreciate it.
I'm happy to test it as soon as I can. Do you want me to do anaything specific?
@akasolace: also to you thanks for your work. Fantastic to see how the project revived the good old HO.

[2020-06-09 06:54] akasolace commented on #558
Yes as mentioned already I also think we will never avoid neither recover database corrupted by abrupt shutdown (like power outage). The solution should be to give more control to the user for database backup.

I think it will be part of HO as I would like to avoid duplicated code for database logic. However  I am not 100% sure of what the final deliverable should do. What I did so far is a dump o

[2020-06-09 06:57] akasolace commented on #561
hi @wsbrenk can you precise what you have in mind? At the moment these information are in the game report, where else do you want them ?

[2020-06-09 07:15] akasolace commented on #66
thank @wsbrenk for the work, that was a big one !

@ArneGloe I will let you know as soon as we have new artefacts that you can test. We have made some heavy changes on the build system and it might take some time before we are back up and running ...

[2020-06-09 17:01] wsbrenk commented on #561
![grafik](https://user-images.githubusercontent.com/11821502/84177644-6b8c0e80-aa83-11ea-8ef7-12bfed9a7623.png)

in the selected line of list of matches should the result be changed to "4:5 n. E."

[2020-06-09 18:52] akasolace commented on #561
ok I see, what does it look like on the tabs highlight and match summary ?

[2020-06-09 20:44] wsbrenk commented on #561
could be everywhere the same - teamanalyzer too

[2020-06-10 06:42] akasolace commented on #561
ok .... it is just that I thought I did it in the highlights tab but I might be wrong

[2020-06-11 06:02] akasolace commented on #503
closed by #562

[2020-06-11 06:02] #503 closed

[2020-06-11 06:03] akasolace commented on #372
@pierpaolocira I will take it over ...

[2020-06-11 06:05] akasolace commented on #202
@tychobrailleur @wsbrenk @yaute74  do you think this is something we want to do ?

[2020-06-11 06:08] akasolace opened #564 "[FEATURE] change instalation folder on Linux"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-11 06:09] akasolace opened #565 "[FEATURE] make update available on macOS platform"
@tychobrailleur  I will ask you for testing when I am ready

[2020-06-11 06:10] akasolace opened #566 "[BUG] repair artefacts build process following transition to install4j"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-06-11 06:19] tychobrailleur commented on #565
Of course!

[2020-06-11 12:29] akasolace opened #567 "[BUG] repair update feature on windows and linux"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-06-11 16:51] pierpaolocira commented on #372
@akasolace very sorry but I am working too hard since the CoVid situation has started... and when I finish to work I have no mental energy to properly deal with this.
As mentioned I wanted to make sure that it works properly on Mac and didn't introduce any regression with Win/Linux/Zip distributions (and when working from the IDE)...
If you like I can push the related code on my fork... if we are

[2020-06-11 17:12] pierpaolocira commented on #202
Hello... I did something alike for my company few years ago, because it was in line with Oracle guidelines.
This was just a .EXE (with a budle of libraries in subfolders) to be launched without the need to install/configure any JRE (and, even better, without generating conflicts with any already existing JRE on the host machine).

Accordingly to Oracle and what I have read (and experienced), in my

[2020-06-11 17:55] akasolace commented on #372
@pierpaolocira no worry,   that's ok I think I have a solution already https://github.com/akasolace/HO/releases/tag/dev

[2020-06-12 07:25] akasolace commented on #202
@pierpaolocira we will propose both ....

[2020-06-12 07:33] tychobrailleur opened #569 "[FEATURE] Clicking on a match in Player Analysis should bring to the Match report"
**Is your feature request related to a problem? Please describe.**

No, it is a UX enhancement.

**Describe the solution you'd like**
When clicking on a match in the Matches tab of the Player Overview module, this should bring to the Match report in the Matches module:

![Screenshot 2020-06-12 at 08 28 52](https://user-images.githubusercontent.com/114285/84477007-deb1a280-ac86-11ea-9d88-f65abd1ca7

[2020-06-12 07:37] akasolace commented on #569
and for consistency  shift+click open HT website  (this is linked to #547)

[2020-06-12 08:01] akasolace commented on #66
@ArneGloe  hello you can test using https://github.com/akasolace/HO/releases/tag/dev
if you are on windows I suggest you to test using HO-4.0.0.2948-win-DEV-JRE.zip
In any case please recall it is a dev version and that you should backup your db.

[2020-06-12 08:02] akasolace commented on #537
@yaute74 If I understand correctly we won't be able to test this one before end of the season break, right ?

[2020-06-12 08:07] akasolace commented on #66
@wsbrenk I made some test myself and it looks pretty neat !

[2020-06-12 10:26] tychobrailleur commented on #569
Thanks, I have corrected from ctrl-click to shift-click.

[2020-06-12 12:22] ArneGloe commented on #66
I just downloaded the 4.0 version and played around a little bit.
@wsbrenk that's exactly what I have been looking for. Really cool feature. Thanks again
@akasolace I also played around with the rating prediction. With the new rating prediction type, team confidence has no effect on my attack ratings. There might be a problem. The prediction of the defense ratings improved a lot though.

[2020-06-12 17:23] akasolace commented on #66
@ArneGloe  thanks or the tests and the feedback .... I will check that

[2020-06-12 17:24] akasolace opened #570 "new rating prediction: attack ratings ignores team confidence"
I just downloaded the 4.0 version and played around a little bit.
@wsbrenk that's exactly what I have been looking for. Really cool feature. Thanks again
@akasolace I also played around with the rating prediction. With the new rating prediction type, team confidence has no effect on my attack ratings. There might be a problem. The prediction of the defense ratings improved a lot though.

_Original

[2020-06-12 18:10] yaute74 commented on #537
@akasolace for the bug yes.
But I modify other thing that we can test during the season

[2020-06-12 20:11] akasolace commented on #537
yes I just had a look and it seems all good to me. Really nice adjustments. I think we can close the issue but I that is ok with you ....

[2020-06-12 22:18] steffanots commented on #461
As far as I understand you think you need to add 3 columns (date, match and rating).
I think that there should be one column and the varieties according to the date of the match. When the date is clicked, it is already a type of match and I think that sorting by rating does not make sense

[2020-06-13 08:05] wsbrenk commented on #431
#522 did some changes on minutes calculation concerning subskills

[2020-06-13 08:23] wsbrenk commented on #431
@akasolace found this in MatchStatistics.getMatchEndMinute

...
			MatchEventID me = MatchEventID.fromMatchEventID(hls.get(i).getiMatchEventID());
			if (me == MatchEventID.MATCH_FINISHED){endMinute = hls.get(i).getMinute();}
			else if ((me == MatchEventID.RED_CARD_2ND_WARNING_NASTY_PLAY	||
					  me == MatchEventID.RED_CARD_2ND_WARNING_CHEATING ||
					  me == MatchEventID.RED_CARD_WITHOUT_WARNI

[2020-06-13 08:30] wsbrenk commented on #431
as first approach i added INJURED_AFTER_FOUL_AND_NO_REPLACEMENT_EXISTED

[2020-06-13 08:33] wsbrenk commented on #431
next is KEEPER_INJURED_FIELD_PLAYER_HAS_TO_TAKE_HIS_PLACE should be handled like a substitution

[2020-06-13 09:15] wsbrenk commented on #431
isInjured() || isRedCard() will do the job?!

[2020-06-13 10:38] dominiquelee commented on #431
Sorry for the delay, here's the db:
[db_singleUser-2020-6-11.zip](https://github.com/akasolace/HO/files/4774431/db_singleUser-2020-6-11.zip)

[2020-06-13 13:11] wsbrenk commented on #431
@dominiquelee thanks a lot - i found a bug. I have to check whether this is responsible for your ticket.

[2020-06-13 17:03] tychobrailleur commented on #558
I have an initial version of such tool there:
https://github.com/tychobrailleur/hodb-repair

For now transitions are [limited](https://github.com/tychobrailleur/hodb-repair/blob/master/src/main/java/io/github/hodev/dbrepair/App.java#L126), I'll expand as I get test databases to verify.

[2020-06-13 17:32] #202 closed

[2020-06-13 17:32] #566 closed

[2020-06-13 17:32] #372 closed

[2020-06-13 17:32] #548 closed

[2020-06-13 17:32] #564 closed

[2020-06-13 18:10] akasolace opened #572 "[BUG] error for users using fatcow icons"
**Describe the bug**
As reported by davidatorus,  upgrade to 4.0 fails for users using fatcows : icons removal should be treated !

[2020-06-13 18:24] yaute74 commented on #537
it's ok for me

[2020-06-13 19:12] akasolace commented on #537
closed by da4f3a4

[2020-06-13 19:12] #537 closed

[2020-06-13 19:13] akasolace commented on #570
take

[2020-06-13 21:59] DSwissK opened #573 "[BUG] NullPointerException when clearling lineup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lineup'
2. Click on 'Clear Lineup' (red button bottom right)
3. See error :
java.lang.NullPointerException
	at module.lineup.Lineup.UpdateLineupWithMatchOrder(Lineup.java:2013)
	at core.rating.RatingPredictionManager.setLineupEvolution(RatingPredictionManager.java:1

[2020-06-14 07:59] #431 closed

[2020-06-14 08:04] akasolace commented on #558
ok great. Do you see it as a standalone tool or to be incorporated in HO somehow?

[2020-06-14 10:18] elmero1 opened #575 "Where can I find the Installer?"
Where can I find the Installer?

[2020-06-14 12:25] tychobrailleur commented on #575
Hi @elmero1 , you should find the right installer for your platform at the bottom of the release page:

https://github.com/akasolace/HO/releases/tag/3.0

[2020-06-14 12:27] tychobrailleur commented on #558
It could potentially be both: for now it is standalone, but it could be added as a dependency to the app too.
When you get a chance, would you mind sharing your “broken” database with me so I can test the tool on it?  Thanks a mil.

[2020-06-14 12:30] wsbrenk commented on #561
it is quite difficult to get this information. one way could be the special events, already stored in HO database. another option could be to add match details file information about "FinishedDate" and or "AddedMinutes".
next i will investigate how the special events were downloaded and check if it is a good idea to copy infos about extra time to the MAtCHKURZINFO or MATCHDETAILS table(s).

[2020-06-14 14:29] elmero1 commented on #575
Great, thanks for your feedback!

[2020-06-14 15:27] #575 closed

[2020-06-14 16:43] akasolace commented on #558
@tychobrailleur here it is:   https://send.firefox.com/download/61b6c78d6dc83466/#A3YLM4NJgF9awWaay2ylzg

[2020-06-15 15:38] steffanots commented on #461
take

[2020-06-15 15:39] steffanots commented on #547
teke

[2020-06-15 15:39] steffanots commented on #569
take

[2020-06-15 16:35] #570 closed

[2020-06-15 16:36] akasolace commented on #569
@steffanots  it should be without the quote otherwise it is interpreted as quote block ...

[2020-06-15 16:37] akasolace commented on #547
@steffanots  it should be without the quote otherwise it is interpreted as quote block ...

[2020-06-15 16:39] akasolace commented on #573
hi @DSwissK , are you still experiencing the issue?
could you please attached a copy of your db folder to the ticket.
Thank you

[2020-06-15 19:38] steffanots commented on #569
I try take, 'take', "take"

[2020-06-15 19:40] steffanots commented on #569
I finish link to match tab but I can find any code with link to ht website!
do we have any code?

[2020-06-15 19:59] akasolace commented on #569
@steffanots look here  https://github.com/akasolace/HO/blob/d4abaa7df667a1e3908c3f8c68b4b528257d6d1d/src/main/java/module/specialEvents/Match.java#L151

[2020-06-16 06:40] akasolace commented on #572
hello @tychobrailleur  I think this could be treated as part of darklaf light/dark icons ... what do you think?

[2020-06-16 16:15] akasolace commented on #66
@ArneGloe this has been fixed(#570)

[2020-06-16 16:15] #66 closed

[2020-06-16 16:20] tychobrailleur commented on #572
Sorry, @akasolace would you have more context on this?  Where are the fatcow icons used?  It sounds like their usage is platform-dependent? And what is the error encountered?

[2020-06-16 16:32] akasolace commented on #572
@tychobrailleur actually until now this was an additional set of icons available in /themes.
I removed those extra icons as they were unmaintained (lots of icons were missing) and I don't think we have the resources to offer this. To my surprise at least one user was still using those icons despite having a terrible experience. Hence he encountered an error while testing 4.0.  I think this is a ve

[2020-06-16 16:43] tychobrailleur commented on #572
@yaute74 is the icon virtuoso, so I am happy to look into this, with his help (& the community's)! ;-)

I still don't understand where those icons were used, though:

Where are these icons being configured?  I have never come across a place where you could select your own icons, is it in the old themes formerly loaded through a zip file?

[2020-06-16 17:04] wsbrenk commented on #561
Again this is a tricky thing. Whereas loading the information from the highlights was quite easy the display part is pretty violent. There are at least 4 different classes that are holding the number of goals and the way to MatchKurzinfo or MatchDetails is quite far.

The panel that uses the MathDetails is the player analysis panel:

![grafik](https://user-images.githubusercontent.com/11821502/848

[2020-06-16 17:48] tychobrailleur commented on #558
Thanks a lot, I came across an issue with my code where Windows line end were not handled, so it is now fixed.
This seems to work now: I ran the tool, and got a db that I could use with HO 4.0

So next step is to try to integrate the tool with HO.  The export functionality also works, it exports the DB as SQL inserts in a zip, but will not solve cross-version issues, we may need to export to a neu

[2020-06-16 19:07] akasolace commented on #572
yes. I think (never used it) the icons were unziped and used instead of default one. @DavidatorusF could maybe tell us more about it ... possibly he was the only user of those icons ;-)

[2020-06-16 19:10] akasolace commented on #561
@wsbrenk maybe we can get this from CHPP directly. If not and e need to parse it, lets do it once and stored in appropriate place. Again, as said above, have you check the match summary? I think the info is displayed in there, no ?  I will have a look tomorrow ...

[2020-06-16 19:12] akasolace commented on #558
@tychobrailleur  ok cool !  There is a user on the forum who apparently has major db issue following 3.0 upgrade. I asked him to open a ticket on GH with a copw of its db, it will ba another good test for your new tool

[2020-06-16 19:17] yaute74 commented on #572
@akasolace so maybe we will have a problem, no ? if we rename the files (.png -> .svg) ?
And think it will not work as now we use SVG icons.

[2020-06-16 20:12] akasolace commented on #572
you mean fatcow? but we are dropping it .... or is it something else?

[2020-06-16 20:36] yaute74 commented on #572
ok great, I misunderstand

[2020-06-16 20:44] wsbrenk commented on #561
@akasolace As a first attempt, I took over the information in the MatchDetails and thus achieved the display shown. I think I would better put them into the MatchKurzInfo and use them in the desired displays.

[2020-06-17 05:22] wsbrenk commented on #537
![grafik](https://user-images.githubusercontent.com/11821502/84858147-e00a1300-b06a-11ea-8fa7-48650c1fe5d5.png)

neither the mouse over highlighting nor the colored tagging of the next opponent is visible in the new version. was that intended. grafik shows v3 situation.

[2020-06-17 06:45] akasolace commented on #537
hi @wsbrenk  colored tagging of the next opponent has been replaced by @yaute74 with match icons and I think this is much clearer, don't you think?

I don't see what you are referring to. Can you give some details please ?

Cheers

[2020-06-17 08:09] akasolace commented on #554
@theobserver  is it user the user para_para ? I see the page on wiki has been recently been updated but there are still plenty of inaccurate informations. Let me know if I can help you in the process ...

[2020-06-17 08:19] theobserver commented on #554
I do not see any update on the page. Please provide the link of the page you are looking at. Also ,at the link i provided at the start of this thread i have no writes to edit or i cannot find how i could get the rights to edit something in the hattrick wiki. Excuse my lame English. Regards.

[2020-06-17 08:40] akasolace commented on #554
@theobserver  ok cool

If I look on https://wiki.hattrick.org/index.php?title=Hattrick_Organizer&action=history I see some changes on the 27 May and 14 June 2020 by user Para Para

[2020-06-17 08:42] akasolace commented on #554
@akasolace I see it 3 ways

1) you update the wiki
2) in the wiki you simply point to the documentation in https://ho.readthedocs.io/en/latest/  and you help develop the documentation in readthedocs
3) we do both

I would have personally a preference for option 2) but happy to have your opinion on this,.

[2020-06-17 09:06] theobserver commented on #554
There is much information for HO newcomers which can be re-used in your documentation [here](https://wiki.hattrick.org/wiki/Hattrick_Organizer) and [here](https://hattrick.fandom.com/wiki/Main_Page)

I will see if i can bring it to your documentation and then point all links so there is a central place . Right now it is scattered all around the web from previous changes from developers and volunte

[2020-06-17 11:08] akasolace commented on #554
yes ideally in the end all should be centrralized here https://ho.readthedocs.io/en/latest/

[2020-06-17 16:50] weisJ commented on #572
If you choose to fully move to dark/light icons I would be happy to help you migrate them. I have seen that you are already using some svg icons. It should be noted that painting the `SVGIcon` directly provided by svgSalamander is rather slow. I would advise to use
[code]

[2020-06-17 16:57] wsbrenk commented on #537
@akasolace @yaute74 the colored (red) line showed the next opponent. if that is now done by the order of the lines (first line is next opponent), that is really better then. the other point i wanted to show by the picture above. see the gray (selected) line in the combo box. in the new version this line is as gray as the background and no longer recognizable. since i'm old and short-sighted i miss

[2020-06-17 18:20] yaute74 commented on #537
@wsbrenk yes normally the order must correspond to the order of the matches

[2020-06-17 18:23] akasolace commented on #572
Hi @weisJ, thank you for proposing your help ... it is not a topic I am directly involved with but I am sure @tychobrailleur will appreciate this :-)

[2020-06-17 18:27] akasolace opened #581 "[BUG] New League Prediction (error in league structure)"
Warning about this... Spain V.238 and V.239 have not consecutive IDs... It jumps from 5751 to 5754
And new leagues...

Saint Vincent and the Grenadines | 157 | 258519 | 258520 | 258524
Belize | 158 | 258540 | 258541 | 258545
Madagascar | 159 | 258561 | 258562 | 258566
Botswana | 160 | 258582 | 258583 | 258587

[2020-06-17 18:30] akasolace commented on #537
@wsbrenk  which theme are you using ?  with darklaf themes it is super visible :

![image](https://user-images.githubusercontent.com/1136496/84935691-5d6c6c80-b0d9-11ea-9b48-e3b7cd0a374d.png)

[2020-06-17 18:32] akasolace opened #582 "[BUG] Fix LS tactic valuation"
- [ ] step 1  using community formula
 - [ ] step 2 using server to collect data to derive better formula ....

[2020-06-17 18:44] akasolace commented on #582
Tactic Level = 1.66*SC + 0.55*SP - 7.6
SC = Outfield players average scoring.
SP = Outfield players average set pieces.

Penalty on LS:
- Midfield: -5%
- Attack: -2,7%

[2020-06-17 18:57] steffanots commented on #547
I don't understand where it is necessary to have a link to a hattrick

[2020-06-17 19:30] tychobrailleur commented on #461
I am not sure I understand what you mean here?

I can think of a situation where I would sort by rating to order players in the same position, and check out which ones have performed better.

I am happy to have one column for now with 3-click sort, we can re-visit later if this is not enough.

[2020-06-17 19:45] akasolace commented on #547
@steffanots you mean where or why ?

[2020-06-17 20:00] akasolace opened #583 "[BUG] move feedback plugin to anvil server"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-06-17 20:16] Dillotu opened #584 "[BUG] Fatal database error"
Hi guys

HO does not start anymomre.

Error message Fatal database error
You should restore the db-folder from backup or delete that folder.

If I click OK I have the option to set the last 3 db in the list

14/06
15/06
17/06

No one works.

I also tried to replace the db manually in the folder from the zip file with no luck unfortunately.

Can you please let me know how can I recover the DB?

Tha

[2020-06-17 20:28] wsbrenk commented on #561
![grafik](https://user-images.githubusercontent.com/11821502/84946931-b5ab6a80-b0e9-11ea-89ca-c6236665587d.png)

@akasolace @tychobrailleur what do you think about that? Are the abbreviations a.e. and a.p. correct for after extension and after penalties?

[2020-06-17 20:36] wsbrenk commented on #537
@akasolace  settings tells skin is nimbus - do you mean that? i'm not a friend of dark screens, sorry.

[2020-06-17 20:49] timeout972 commented on #573
Bonjour,

same problems

Platform information:
OS: Macos 10.13 and Macos 10.15
Version 3.000

[database.log](https://github.com/akasolace/HO/files/4795052/database.log)

[2020-06-18 06:23] akasolace commented on #584
@tychobrailleur might be a good test for your new db tool?

[2020-06-18 06:29] akasolace commented on #561
@wsbrenk usually the regular score is indicated and next to it extra information, for example:
    -   0-0
    -   0-2  (extra-time)
    -   0-0  (2-4 on penalites)

[2020-06-18 06:32] akasolace commented on #537
yes this is what I meant, might be a display issue with Nimbus.  If it generalized we might want to open a ticket for this.

[2020-06-18 06:33] akasolace commented on #573
@timeout972  could you share your db please ?

[2020-06-18 06:36] akasolace opened #586 "[BUG] Select File->Preference throws a NPE"
**Describe the bug**
Select File->Preference throws a NPE

**To Reproduce**
Select File->Preference

**Screenshots**

![image](https://user-images.githubusercontent.com/1136496/84986292-a0acf680-b13e-11ea-9f8a-b32ce5f825d1.png)

**Platform information:**
 - OS: Windows
 - Version: 4.0 r2946

[2020-06-18 09:41] johari75 opened #587 "[BUG] missing several players in "prediction" tab of trainings"
**Describe the bug**
I´m missing several players in the "prediction" tab of trainings.
In the the overview of the "training" tab there are all players available.
I set the "Futur Trainings" for 32 weeks. (I also tried 48 weeks without success)
I´m using HO since several years in different versions. So I had a lot of .hrf files imported.
I found out that the amount of players in the "prediction" ta

[2020-06-18 09:54] steffanots commented on #547
Where and what :)
Player or match?

[2020-06-18 10:41] theobserver commented on #554
Hi,
i edited some links to show to the new Ho and Ho manual. I also kept the old links mentioned above. Would you like me to add the above links to your manual too?

[2020-06-18 12:02] CesIAapprentice opened #589 "java.lang.NoClassDefFoundError: okhttp3/OkHttpClient$Builder"
Machine : Linux 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2 (2020-04-29) x86_64 GNU/Linux
Installer : https://github.com/akasolace/HO/releases/download/3.0/HO-3.0.2.2728.deb

Hi, I get this error when clicking on 'League details' (or so, I've got it in Spanish) :

java.lang.NoClassDefFoundError: okhttp3/OkHttpClient$Builder
	at module.series.promotion.HttpDataSubmitter.initializeHttpsClient(HttpDataSu

[2020-06-18 17:47] tychobrailleur opened #590 "[BUG] “DB is too old” error after restarting in dev"
**Describe the bug**

I have a consistent issue in /development/ when copying a database.

The first execution is ok:

[code]

When stopping and restarting the app, I get the following issue:

![Screenshot 2020-06-18 at 18 22 24](https://user-images.githubusercontent.com/114285/85052451-d8dd2500-b190-11ea-81f6-92d8c6719a49.png)

Looking into the db, the `DBVersion` is gone:

[code]

hsqldb `databa

[2020-06-18 18:21] tychobrailleur commented on #586
I have a fix for this, but the colours set in the preferences are not persisted.

We have two options:
- Either we remove entirely the colour selection panel in the preference panel, and let themes handle those colours,
- Or persist colours in userconfiguration table.

Any preference @akasolace ?

[2020-06-18 18:37] #569 closed

[2020-06-18 18:39] akasolace commented on #547
the idea is to implement shift+click => open HT website

![image](https://user-images.githubusercontent.com/1136496/85059284-b1438800-b1a3-11ea-9049-64b1b01f4f51.png)

[2020-06-18 18:40] akasolace commented on #586
@tychobrailleur what do you think ?   Personnaly I would rather remove colours in userconfiguration table...

[2020-06-18 18:44] tychobrailleur commented on #584
In the first of the three DBs:

[code]

which is quite weird. Same with the last.
Without `DBVersion` in `userconfiguration`, the app will not start.

[2020-06-18 18:47] akasolace opened #591 "[BUG] move log folder for installed app"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-06-18 18:48] akasolace commented on #584
how on earth could that be missing ?

[2020-06-18 18:49] akasolace commented on #590
@tychobrailleur  I just tried with my master branch I can't reproduce ....

[2020-06-18 19:40] nhpenab opened #592 "I CAN'T DOWNLOAD TEAM AND LEAGUE DATA"
Hello, I downloaded ho 3.0 again and when I download it, it shows me ... access denied access error ... what do I do? Thank you
then I have to close the program and when I open it my team appears but the league or anything else does not appear
Editado el 17-06-2020 20.10 por nhpenab.

IN ADDITION IT ASKS ME FOR EACH URL I WANT TO DOWNLOAD DATA
![image](https://user-images.githubusercontent.com/671

[2020-06-18 19:43] nhpenab commented on #592
now it is worse after entering the url code it is blocked and does not download anything
help me please

[2020-06-18 19:44] nhpenab commented on #592
![image](https://user-images.githubusercontent.com/67122426/85065108-3c0b8f00-b172-11ea-8fb8-4e6f93fbda72.png)

[2020-06-18 21:14] tychobrailleur commented on #590
This happens to me when trying with the davidatorus db: unpack the db into the db folder (making sure it doesn't get overwritten), start, stop, and start again.

[2020-06-18 21:52] tychobrailleur commented on #584
No idea, also odd is that `transferTypePane_splitPane` is 302, like the version – maybe a coincidence...

I have changed the repair tool to add the `DBVersion`, the app now starts, but then goes into loop:

[code]

Cause by `MyConnector`:

[code]

it looks the `HOMainFrame` instance method calls itself before the constructor completes, which means the null check is always false in the `instance()`

[2020-06-18 23:01] tychobrailleur commented on #584
I have created a PR for 3.x to address the infinite loop in the constructor, but that still doesn't explain how the `USERCONFIGURATION` table got into that state where virtually all rows disappeared.  Did something happen to HO on 14th June, @Dillotu ?  Did you upgrade version or something?

In the meantime, here is a link to a fixed db: https://send.firefox.com/download/fd55f03eb4ddedd2/#lfjYDhr_

[2020-06-19 06:22] akasolace commented on #590
ok I will try again ...

[2020-06-19 06:27] akasolace commented on #590
1st start

![image](https://user-images.githubusercontent.com/1136496/85103225-8d655e00-b206-11ea-879c-d3fbc8be6718.png)

I select 1srt user and it loads normally
![image](https://user-images.githubusercontent.com/1136496/85103261-a0782e00-b206-11ea-8007-1837c6190df6.png)

I close the app

2nd start, it also loads normally

![image](https://user-images.githubusercontent.com/1136496/85103299-aff777

[2020-06-19 06:29] akasolace commented on #590
I have the following json file:

`[
  {
    "teamName": "davidator",
    "dbName": "db",
    "backupLevel": 3,
    "isNtTeam": false
  },
  {
    "teamName": "davidakaria",
    "dbName": "db2",
    "backupLevel": 3,
    "isNtTeam": false
  },
  {
    "teamName": "HTLStest",
    "dbName": "db3",
    "backupLevel": 3,
    "isNtTeam": false
  }
]`

[2020-06-19 08:26] tychobrailleur commented on #592
Hi @nhpenab , not sure I understand the problem exactly.  Have you followed the steps in the installation instructions here: https://github.com/akasolace/HO/wiki/Installing-HO#English ?  They explain the OAuth flow with screenshots.

If this doesn't help you, let us know the exact steps you're following.

[2020-06-19 08:31] tychobrailleur commented on #590
Ok, so maybe this is due to how I run the app in dev?

To test this:
- I decompress the db zip into `./db/`
- I run `core.HO` in IntelliJ

In particular I don't get the window prompting for selecting the db.

It's probably a dev env thing, but I want to get to the bottom of this because:
- I want the DBUpdater to be reliable in all environments,
- The behaviour whereby `DBVersion` disappears is wh

[2020-06-19 09:01] akasolace commented on #590
This is not sufficient, you might have a look at the doc which I am preparing

https://ho.readthedocs.io/en/latest/installing_ho.html#how-to-upgrade-from-ho-3-0-to-ho-4-0

[2020-06-19 09:03] akasolace commented on #592
@nhpenab which OS are you using?  Which version of HO?  Installed or standalone?  How are you launching HO ?

[2020-06-19 09:04] akasolace commented on #592
I think it is a write access failure.  This would be definitly fixed in 4.0 ....

[2020-06-19 09:46] akasolace commented on #554
@theobserver  thank you. What I would suggest is:

  - remove the [4]  and change the link from  https://wiki.hattrick.org/wiki/Hattrick_Organizer  to https://akasolace.github.io/HO/

  - https://wiki.hattrick.org/wiki/Hattrick_Organizer   make it a simple page which simply redirect to  https://akasolace.github.io/HO/    (in case someone endup there by google search)

   - add missing documentatio

[2020-06-19 09:48] akasolace commented on #589
@tychobrailleur   @yaute74  could one of you take care of this one ?

[2020-06-19 09:51] akasolace commented on #587
@wsbrenk  maybe we want to rethink which players are displayed and/or highlited in the prediction tab.  What do you think ?

[2020-06-19 10:07] steffanots commented on #547
I create link on shift+click

[2020-06-19 10:10] akasolace commented on #586
@tychobrailleur
more generally, I don't really like those colours, maybe we want to remove that ....
First of all it is absolutly no clear what they mean and also they are redundant with Status column.  Only missing icons is tranfert listed but we can simply add this one and get rid of the colours, what do you think ?

[2020-06-19 10:15] akasolace opened #594 "remove player information ?"
Do we want to keep this ?

![image](https://user-images.githubusercontent.com/1136496/85122130-5acb5d80-b226-11ea-83fd-e7fd0d70f9c8.png)

[2020-06-19 10:16] akasolace commented on #547
@steffanots perfect

[2020-06-19 10:20] akasolace opened #596 "[FEATURE] add transert listed status icon"
Trnasfert liste player are indicated by green light in HO! We might want to use an icon indicator like in HT! and then remove the unclear colors indication  cf  #586

![image](https://user-images.githubusercontent.com/1136496/85122596-1ab8aa80-b227-11ea-99a4-534f94378d80.png)

![image](https://user-images.githubusercontent.com/1136496/85122524-fbba1880-b226-11ea-9259-82d0a278efb6.png)

[2020-06-19 10:24] tychobrailleur commented on #589
Is that problem present with the `deb` package with the new 4.0 installer?

[2020-06-19 10:40] tychobrailleur commented on #586
Sorry, missed that one: I was favouring not making those colours configurable, and add them to theme, but I wouldn't miss them.

[2020-06-19 10:46] akasolace commented on #554
@theobserver  can you give me your team ID in HT ?  thank you

[2020-06-19 12:33] akasolace commented on #596
@yaute74  @tychobrailleur

icon can be copied from here into the /gui folder:
https://github.com/akasolace/HO/blob/master/src/main/resources/img/icons/official/icomoon/SVG/transferlisted.svg

I am not sure how to load SVG icon and it seems to be still an open topic ....

You will see that some of the icons which are currently png format can be found in this folder under an svg format ...

[2020-06-19 12:43] zigmond opened #597 "[BUG]Former Coach click on him and an Error Occured"
**Describe the bug**
I changed, left the old one in the squad, when I click on him on squad tab I get an error occured
Copid from the log details

java.lang.NullPointerException
	at module.playerOverview.SpielerDetailPanel.setLabels(SpielerDetailPanel.java:368)
	at module.playerOverview.SpielerDetailPanel.setSpieler(SpielerDetailPanel.java:275)
	at module.playerOverview.SpielerUebersichtsPanel.set

[2020-06-19 14:00] akasolace commented on #597
can you please put here a copy of your db ?  thank you

[2020-06-19 14:03] zigmond commented on #597
Thank you

I Attach the current hrf, I hope that is what you mean, if not, let me know
please :)

Diolch

Zig

On Fri, 19 Jun 2020 at 15:01, akasolace <notifications@github.com> wrote:

[2020-06-19 14:13] akasolace commented on #597
@zigmond  I would prefer if you:
      - make a copy your db folder
      - make a zip of the db copy
      - use https://send.firefox.com/ to share it
      - paste the link here

Thank you

[2020-06-19 14:19] zigmond commented on #597
Hope this is what you are asking for, if not, please let me know
Diolch :)
https://send.firefox.com/download/e99b3e81e27ec7a6/#6IC9QhaLPrRitz2T0QwUog

Zig

On Fri, 19 Jun 2020 at 15:14, akasolace <notifications@github.com> wrote:

[2020-06-19 14:21] #547 closed

[2020-06-19 14:24] akasolace commented on #597
perfect thank you !

[2020-06-19 16:36] wsbrenk commented on #587
@akasolace we can do so. the current version should list all players that will get skill ups during the period that is analyzed, if configured as shown by @johari75 .
if skill downs should be displayed too, the list could be a little longer.
Another chance to include further players to the forecast list, will be to change their position in the player overview list, so that they are no longer handl

[2020-06-19 16:42] nhpenab commented on #592
[image: image.png]

Well the truth is I think I have done all the steps well .. Every time I
want to download new data from the team and the league asks me again for
the URL ... is that normal?

El vie., 19 jun. 2020 a las 4:04, akasolace (<notifications@github.com>)
escribió:

[2020-06-19 16:44] nhpenab commented on #592
I enter the URL and it stays thinking ...... it does nothing and won't let
me press "download"

El vie., 19 jun. 2020 a las 11:41, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-19 16:46] nhpenab commented on #592
[image: image.png]

finally ... now I press "save" and this appears ....

El vie., 19 jun. 2020 a las 11:43, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-19 16:49] nhpenab commented on #592
I pressed "accept" and apparently everything was fine ... I don't know

El vie., 19 jun. 2020 a las 11:46, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-19 19:05] timeout972 commented on #573
Bonjour,
[db copie.zip](https://github.com/akasolace/HO/files/4806306/db.copie.zip)

[2020-06-19 21:57] Dillotu commented on #584
Hi Thank you very much
The BD works properly it's amazing !!!

To be honest I don't remeber what happened with the 14/06 DB maybe, but I'm not sure, the system restarted when HO was open

Cheers

[2020-06-20 12:33] wsbrenk opened #599 "[FEATURE]Enable automatic upgrade from HO! 3.0 to HO! 4.0"
i read the doc "How to upgrade from HO! 3.0 to HO! 4.0" and would like to have an automatic upgrade process. I took a quick look at the refactoring of the user class - good job.
if the change from xml to json is the only reason for the manual upgrade steps then i want to make the suggestion to read the base user infos from the existing xml file if the json is not yet in place. This could either be

[2020-06-20 12:37] wsbrenk commented on #599
btw: shouldn't we mention the gson library in the dependencies chapter of https://github.com/akasolace/HO ?

[2020-06-20 12:42] akasolace commented on #584
@tychobrailleur I let you close the issue if you think it is all done ....

[2020-06-20 12:49] wsbrenk commented on #587
Currently it is intended that player with no skillups or -downs are NOT listed in the forecast
by  configuration the skilldown display can be suppressed - only players with skillups are listed
green means the player receives training on primary position (e. g. inner midfield when playmaking is selected)
yellow means the player receives training on secondary position ( e. g. winger when playmaking

[2020-06-20 12:55] akasolace commented on #599
It will not be the only difficulty:
    -  the location of the db is also modified
    -  the installation folder is modified
    -  plus lot of changes made via the post install script

I really don't see how to make automatic upgrade from 3.0 to 4.0.

What can be done, might be a database importer. I mean user do fresh install of 4.0 and then we create an entry like `File -> Import DB`  The user

[2020-06-20 12:56] akasolace commented on #599
Yes good point I think we can do that ...

[2020-06-20 12:59] akasolace commented on #587
@wsbrenk  what you described above make sense and I would like it but this is not what I observe

You can see that in my case the player highlited are selected by their best position instead of the training they receive.   Is it not the case for you ?

![image](https://user-images.githubusercontent.com/1136496/85202404-8160c580-b306-11ea-9599-522d1d5837bf.png)

[2020-06-20 13:46] #582 closed

[2020-06-20 13:48] akasolace commented on #592
@nhpenab  is it fixed?  should we close this issue ?

[2020-06-20 15:36] wsbrenk commented on #587
@akasolace I am surprised that your wingers are not marked in yellow. i guess you are training playmaking. inner midfielder will get full trainings-> green (HOColorName.PLAYER_SKILL_SPECIAL_BG). the training speed of winger should give yellow (PLAYER_SKILL_BG). see module\training\ui\TrainingRecapTable.java line 78.

[2020-06-20 16:04] wsbrenk commented on #587
@akasolace i found the error
it should look like this:
![grafik](https://user-images.githubusercontent.com/11821502/85206179-80d52880-b320-11ea-85f4-71e97900a084.png)

[2020-06-20 17:55] #584 closed

[2020-06-20 19:18] akasolace commented on #587
@wsbrenk in your exemple it seems color is still based on "best position", no?
It should be based on training received .... or am I missing something?

[2020-06-20 20:17] #573 closed

[2020-06-21 08:42] wsbrenk commented on #587
@akasolace you are right. color is made by the maximum trainingspeed the player will get during the analyzed future. and this is directly depending from best position selection.

in a former version the average speed was used to select the color. there was a user and i had the same observation, that when you change the trainings in your future plan very often, you would only get uncolored lines.

[2020-06-21 08:52] akasolace commented on #587
I think selection should be made from last trained position no?

Le dim. 21 juin 2020 à 10:42, wsbrenk <notifications@github.com> a écrit :

[2020-06-21 08:55] wsbrenk commented on #587
@akasolace No, not the former training position is used, but the future planed trainings. here you get the ticket, that introduced the last change on this: #296

[2020-06-21 09:04] akasolace commented on #587
Using future plan training make sense. The issue is the player selection:
using best position in not good. I think we can:
  - use last position ?
  - let HO user decide? How ?

How is it done in HT ?

Le dim. 21 juin 2020 à 10:55, wsbrenk <notifications@github.com> a écrit :

[2020-06-21 10:02] wsbrenk commented on #561
@akasolace here is my current solution:
![grafik](https://user-images.githubusercontent.com/11821502/85221699-44eca280-b3b6-11ea-8525-e04a94246a49.png)

discussion please:
- isn't there an abbreviation of extra-time and on penalties? Long version seems to long for me.
- currently i use the duration of the match (last minute from match events) to decide if it is extra-time (duration > 110 minutes)

[2020-06-21 10:11] wsbrenk commented on #587
there is a team view that gives duration to the next skill up for each player getting full training
![grafik](https://user-images.githubusercontent.com/11821502/85221912-f4764480-b3b7-11ea-98b3-2d5dc5c1ebaa.png)

or a player view showing all skillups depending on selectable training an position (full training, secondary trainining, osmose training)

there is no overview showing all weeks and all p

[2020-06-21 10:15] wsbrenk commented on #594
I use it occasionally to classify my training candidates

[2020-06-21 10:44] akasolace commented on #587
@wsbrenk   I think we need to decide what we want to do. HT! offers 3 differents functionalities:
 - HT training planner
 - HT team training estimation
 - HT player training estimation

At the moment we have a mix of those functionalities and it is quite confusing. I think we need to decide, either we implement one of this functionality or all of them but I don't think we can have it all in a sing

[2020-06-21 10:45] akasolace commented on #594
how do you do it exactly ? You are using an icons for your wingers and anothers for your IM training ?

[2020-06-21 10:48] akasolace commented on #594
if we keep the functionality we might have more clear icons and maybe infobull text like:
    - full trainee
    - 50% trainee
    - future coach
    - transfer listed
    - ...

[2020-06-21 11:54] tychobrailleur commented on #572
I am working on removing the player status colours to finally close this one out, and I am wondering if we should totally remove the colours: in Lineup we do need to know the status of the player (injured, suspended, etc.), and we can hardly add extra icons in the player position view, so wondering if we should not keep colours at least there?  WDYT, @akasolace @wsbrenk @yaute74 ?

[2020-06-21 12:02] tychobrailleur commented on #590
I am going to close this one out if this happens for no one else, I will reopen if I get more details on it.

[2020-06-21 12:02] #590 closed

[2020-06-21 13:00] steffanots commented on #461
![image](https://user-images.githubusercontent.com/64475678/85225236-efbd8a80-b3cf-11ea-9123-19df1882845d.png)

[2020-06-21 13:14] steffanots commented on #461
rating, type and date?

My thinking is sorting by type is unnecessary because what am I going to compare the grade, what if the form, condition and/or skill have changed in a week?
Example, picture up and marker player and player above

[2020-06-21 13:18] wsbrenk commented on #561
![grafik](https://user-images.githubusercontent.com/11821502/85225497-111f7600-b3d2-11ea-8427-9adfbb713bd7.png)

@tychobrailleur i introduced your suggestion to use language sensitive result separators. in your example, you used spaces around the dash. i got it working with the trailing space but the leading one was discarded from the property. Do you have a solution for that?

next i will try to

[2020-06-21 13:43] wsbrenk commented on #561
now i learned how to introduce leading spaces in java properties (\ ).
@akasolace is that a problem for the translation workflow?

[2020-06-21 13:55] akasolace commented on #572
@tychobrailleur good point that we need that information in Lineup view .... maybe we can stick the status icons in there ... in small next to the name ... maybe we can remove the trikot there to make some space (it is some work I agree)

[2020-06-21 13:57] akasolace commented on #461
@steffanots  just to be sure you are proposing just to rank by match date, right ?

[2020-06-21 13:59] akasolace commented on #561
@wsbrenk  I guess it might be,  can't we handle the space thing in Java instead of property file ? We will have more control. I mean we can't be sure translators will do it correctly ...

[2020-06-21 14:24] wsbrenk commented on #594
@akasolace i will give you an insight of my hattrick voodoo;-)

first part of my classification is done by the groups A to F
A: trainees in league matches
B: trainees in friendly or cup matches
C: osmose player in league matches
D: osmose player in other matches
E: transfer listed
F: oldies and bank

trainer icon for current and future trainers (Good leadship)
extreme green smily trainees with lon

[2020-06-21 14:28] wsbrenk commented on #561
@akasolace i think this would be the better solution. it has only one handicap, if there are languages that don't want spaces around there separator.

[2020-06-21 14:31] steffanots commented on #461
Yes, column is the last match.

[2020-06-21 14:38] wsbrenk commented on #587
@akasolace you are right. but i'm not a friend of hts training planer. so bad, that i forgot it already;-)

the overview given by hos forecast table is great i think. the only thing that i'm missing is the selection of individual training positions for each trainee (primary, secondary would be enough).

[2020-06-21 18:17] akasolace commented on #594
ok, I see ....
what about we let the user customize it. We introduce couple of recognizable icons and the user can edit the description in preference which will then be displayed in infobulle ?
Could be something to be develop down the road after 4.0 ... what do you think ?

[2020-06-21 18:20] akasolace commented on #587
@wsbrenk just to make sure I understand correctly. We keep as it is but we  let user select which player recevies full training and which one receive partial training and we remove osmose training.  If this is waht you have in mind it sounds good to me. It will fixes a lot of complaints of users not happy with the player selection in that tab

[2020-06-21 18:22] akasolace commented on #561
even miscrosoft office does not allow such customization :-)  I think we can go ahead :-)

[2020-06-21 18:23] akasolace opened #605 "@wsbrenk I agree. This is not directly link to this specific commit but we need to have a common approach for this. I mean which process if dbupdater raise an exception. This should be a ticket we need to discuss at some point ..."
@wsbrenk I agree. This is not directly link to this specific commit but we need to have a common approach for this. I mean which process if dbupdater raise an exception. This should be a ticket we need to discuss at some point ...

_Originally posted by @akasolace in https://github.com/akasolace/HO/pull/604_

[2020-06-21 18:30] akasolace commented on #461
@steffanots   fine for me  (I can aslo see advantages to the simple sort rule)

[2020-06-21 18:43] akasolace commented on #85
@tychobrailleur  we need to decide what we want to do with other themes? Nimbus, system, classic ...
Nimbus we can keep but I think the others two are really broken. Also we need to see how many themes we can reallistically support.
The way I see it, tell me if you agree, is the following: we are supporting one main theme (the one for which @yaute74  id doing some icons, not sure which one it is t

[2020-06-21 18:47] wsbrenk commented on #605
if there is a possibility to save the database  (backup) before starting the update i would suggest to do it and rollback to it whenever any inner update routine fails (throws an exception).

adding or changing colums etc. should throw exception when not successful. the new version can not work without it.
removing columns should not throw exception when not successful, since the new version can w

[2020-06-21 18:57] wsbrenk commented on #594
@akasolace great luxury

i would dispense on them if i get the detailed training plan option for each individual player in the training forecast;-)

[2020-06-21 19:07] akasolace commented on #605
I think this is done automatically

this should be feasible

[2020-06-21 19:08] akasolace commented on #605
removing columns should not throw exception when not successful, since the new version can work with it.

I agree with that

[2020-06-21 19:17] tychobrailleur commented on #85
That's my plan: keep Nimbus, and remove system & classic.
I still see NImbus as the main theme, and the dark icons, as you mentioned, won't apply to that theme.

[2020-06-21 20:02] nhpenab commented on #592
NO
MIREN AHORA

[image: image.png]

[image: image.png]

El sáb., 20 jun. 2020 a las 8:48, akasolace (<notifications@github.com>)
escribió:

[2020-06-21 20:03] nhpenab commented on #592
NOW IT DOESN'T EVEN OPEN

El dom., 21 jun. 2020 a las 15:02, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-21 20:06] nhpenab commented on #592
[image: image.png]

El dom., 21 jun. 2020 a las 15:02, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-21 20:27] akasolace commented on #85
ok perfect ... I did not know nimbus could also use the svg icons I thought it was darklaf specific ....

[2020-06-21 21:16] tychobrailleur commented on #592
Hi @nhpenab, we cannot see the images you posted on Github, so we have no idea what your actual problem is.  We suspect this may be a write access failure, but you are not providing us with enough details for us to help you.

I would also appreciate if you could please refrain from “shouting” at us in all caps – this is not helpful.

[2020-06-21 21:33] wsbrenk opened #606 "[BUG] clicking on HO-icon in Hattrick gives Page not found (404)"
it is linked to https://github.com/akasolace/HO/releases/tag/stable/

our last release is tagged tag_stable

[2020-06-21 22:06] nhpenab commented on #592
excuse me I don't know English and I have to use the translator and that's
the size of the letters. At no time do I intend to yell at them

El dom., 21 jun. 2020 a las 16:16, Sébastien Le Callonnec (<
notifications@github.com>) escribió:

[2020-06-21 22:08] nhpenab commented on #592
I have sent them images ... and apparently they are sent without problems

El dom., 21 jun. 2020 a las 17:05, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-21 22:09] nhpenab commented on #592
pity I don't know how else to explain ...

El dom., 21 jun. 2020 a las 17:07, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-21 22:10] nhpenab commented on #592
Can you give me a personal email from one of you to send you the
information, to see if they look good out there?

El dom., 21 jun. 2020 a las 17:08, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-21 22:12] nhpenab commented on #592
please don't get mad at the size of the lyrics ... it would be very
wasteful to have to rewrite what the translator translated

El dom., 21 jun. 2020 a las 17:10, Nestor peña (<nhpenab@gmail.com>)
escribió:

[2020-06-21 22:32] nhpenab commented on #592
El jue., 18 de junio de 2020 14:41, github-actions[bot] <
notifications@github.com> escribió:

[2020-06-22 06:55] akasolace commented on #592
@nhpenab please look at this post directly in GH and not through your emails you will realize how unclear this thread is. Also, you will be able to attach the pictures correctly.

[2020-06-22 16:05] steffanots commented on #461
LastMatch column (date + rating) order by date, rating

[2020-06-22 16:05] steffanots commented on #461
Resolve bug on PlayerDetailPanel ... clear add before set last match info

[2020-06-22 18:19] yaute74 commented on #85
@akasolace  I use Solarized Light on my side and test also with Dracula, I don't use other themes.

[2020-06-22 18:34] akasolace commented on #85
same here I use Solarized Light  and sometime test Solarized and Darcula

[2020-06-22 18:58] akasolace commented on #606
closed by https://github.com/minj/foxtrick/pull/1662

[2020-06-22 18:58] #606 closed

[2020-06-22 19:25] akasolace opened #608 "[FEATURE] remove printer icon in squad tab and replace by a button that reset all player teams information"
remove printer icon in squad tab and replace by a button that reset all player teams information

![image](https://user-images.githubusercontent.com/1136496/85327154-be77b400-b4ce-11ea-89ff-e4367e1a1f96.png)

[2020-06-22 19:41] akasolace opened #609 "[FEATURE] additional links to player rows in lineup and squad tab"
as a follow up of #461 the idea is to make row in lineup / squad tab clickable

    1) full row but match column  (shift click   opens HT link to the player)
    2) in match column similar behaviour as player details (double click opens match tab,  shift + click opens HT)

[2020-06-23 09:44] akasolace opened #610 "[BUG] remove last rating columns in squad and lineup tab"
as a follow up of #461 we need to remove last rating columns in squad and lineup tab (now duplicated information with last match)

[2020-06-23 09:50] akasolace commented on #461
@tychobrailleur this is merged into master. IF you can check whether or not we can close this issue ....
I created #609  and #610 which are related and have not been tackled yet. We could treat them with separate PRs

@steffanots  thank you for the PR

[2020-06-23 11:16] steffanots commented on #610
Since I added column LastMatchRating and now delete for display the Rating column, I have a problem with the configuration of the columns.
Are we doing a reset or are we going to update something?
Line code line 133 in UserColumnsTable will do job, but it not nice code.

[2020-06-23 11:17] steffanots commented on #610
I create a branch feat_610 and i push the code, but i didn't PR until somebody see the code.

[2020-06-23 13:32] akasolace commented on #610
@steffanots for this you can open a PR and mark it as draft (it means your code is not ready but you want early code review)

[2020-06-23 16:39] akasolace commented on #461
@steffanots  I just tested it and I don't see anything ...

![image](https://user-images.githubusercontent.com/1136496/85430761-da3b9280-b580-11ea-8440-8c903c2e4fd4.png)

[2020-06-23 19:05] yaute74 commented on #597
somebody download the db ? the link has expired :(

[2020-06-23 19:09] akasolace commented on #461
Next steps before closing the issue:

 - [ ] the new column need to be visible by default otherwise users won't find about it
 - [ ] add links to player rows in lineup and squad tab (#609)
 - [ ] I would put the new column on the left (maybe after best position)  (can be done as part of  #484)
 - [ ] remove rating column (to be tackled by #610)

[2020-06-23 19:11] akasolace commented on #597
@yaute74 let me check

[2020-06-23 19:35] yaute74 opened #612 "[BUG] In lineup tab, no more highlight for selected players"
**Describe the bug**
In version 4.0, In lineup tab, no more highlight for selected players

**Screenshots**
What we have in 3.0
![image](https://user-images.githubusercontent.com/34601782/85449569-3231c380-b598-11ea-97a7-b2cc9901c94e.png)

**Additional context**
it's due to commit https://github.com/akasolace/HO/commit/183455aa1066ca6160f52045e5ddd957d4b65126

This part in src/main/java/core/gui/c

[2020-06-23 19:35] yaute74 commented on #612
@tychobrailleur can you have a look ? I don't want to break you modification.

[2020-06-23 19:36] yaute74 opened #613 "[BUG]"
Error

[2020-06-23 19:37] #613 closed

[2020-06-23 19:57] zigmond commented on #597
If not, let me please know I'll zip it again and send a link :)

Diolch!

Zig

On Tue, 23 Jun 2020 at 20:11, akasolace <notifications@github.com> wrote:

[2020-06-23 20:11] tychobrailleur commented on #612
Sure, will do!

[2020-06-23 22:11] #612 closed

[2020-06-24 03:18] timeout972 commented on #573
Bonjour,

After updating my database everything works again!!!
Thank you for this work

[2020-06-24 17:31] akasolace opened #615 "[BUG] error fetching data for secondary cup"
**Describe the bug**

CHPP error during match download .....  @yaute74  I think you experienced this one also, right ?

![image](https://user-images.githubusercontent.com/1136496/85604000-2d7d1600-b651-11ea-8875-e4212a7cca96.png)

[2020-06-24 17:34] akasolace commented on #592
@nhpenab  what about here :-) :    https://github.com/akasolace/HO/issues/592#issuecomment-648943744

[2020-06-24 17:45] akasolace commented on #615
actually this was fixed by 3a412191deca078dbce903cfe1341491c4813f64 (side effect)
@steffanots  you see it was worth it to directly modify is official

[2020-06-24 17:46] #615 closed

[2020-06-24 19:48] yaute74 commented on #597
The database seem to by corrupt (I also try the backup):
![image](https://user-images.githubusercontent.com/34601782/85620419-0c71f080-b664-11ea-9a54-337da19e8506.png)
is the second time we have this problem...
@akasolace do you make some tests on your side ?
@zigmond do you have a backup of your hrf ?

[2020-06-24 20:10] akasolace commented on #597
@yaute74 no and my PC is now on a box so I won't touch HO for almost 2 weeks I guess ....
@zigmond you said you still have a working DB under 2.1?
@yaute74 if that is the case it is easy to convert it for 3.0 we know what caused the bug....We wil lstill have to implement the solution inside HO! (at the enf of the list of @tychobrailleur)

[2020-06-24 20:13] akasolace commented on #597
@yaute74  I guess the title of the issue is not correct ... it is a data corruption.  This happens upgrading from 2.0 to 3.0 when some null entries were not converted to default value before index creation

[2020-06-24 20:15] nhpenab commented on #592
[Errores ho.docx](https://github.com/akasolace/HO/files/4827701/Errores.ho.docx)

[2020-06-24 20:22] nhpenab commented on #592
this is what appears as an error and does not leave april ho

[2020-06-24 20:42] nhpenab commented on #592
enel gmail me llegaban losmensajesen ingles y me tocaba traducir y aqui todo esta en español

[2020-06-24 21:02] nhpenab commented on #592
ho abrio alcance a descargar  los datos del equipo y  no volvio a abrir  y  cuando bajaba los datos aparecia esto : https://github.com/akasolace/HO/issues/592#issuecomment-646269604

[2020-06-25 06:11] yaute74 commented on #597
At start @zigmond had two problems:
- null pointer on coach
- performance issue with update

On his side he can start HO with his database, not me.

@akasolace so when can do nothing for that ?

[2020-06-25 06:37] akasolace commented on #597
That part I don't understand.... @zigmond the db you shared with us, you can open it in 3.0?  Or do you kept your 2.1 install which is still working?

We have no solution for db which reach that level of corruption, we can't even open them. For other db which are corrupted -  easy to recognize because the .data is stuck to date of upgrade and only the .backup is updated.  Those dbs are I think at

[2020-06-25 14:43] akasolace opened #616 "[BUG] loyalty bonus"
change from loyalty/20  to (loyalty-1)/19

[2020-06-25 14:44] akasolace opened #617 "[FEATURE] reimplment match simulation result from MC to closed formula"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-25 18:27] yaute74 commented on #597
ok thank for the info

[2020-06-25 18:57] zigmond commented on #597
I can't open 4.0.
I tried to copy the database from 2.1 that is working to 4.0 and still no
joy with 4.0

Zig

On Thu, 25 Jun 2020 at 19:27, yaute74 <notifications@github.com> wrote:

[2020-06-25 19:56] yaute74 commented on #597
@zigmond  If you have the db in version 2.1, it could be interesting to do some migration tests. Can you share it ?

[2020-06-25 20:01] akasolace commented on #597
Yes definitely ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-25 20:02] zigmond commented on #597
https://send.firefox.com/download/f35d6066b84dfb47/#Cz1zpxcCACn81YjhSiBoYA

Diolch :)

On Thu, 25 Jun 2020 at 20:56, yaute74 <notifications@github.com> wrote:

[2020-06-26 12:58] Lactoo opened #618 "[BUG] layout issue in case of multiple screens"
I don't know if this is a bug or a feature request. Anyway, to me it feels like a bug, as I did not have the same issue in HO 1.

When I start HO 3.0 the layout is a bit weird. It has full screen height, but is very narrow.

I can then full screen it and adjust the windows.

The the "player name" and "player details" windows are very narrow and to the left. I then adjust the windows to how I like

[2020-06-26 15:49] akasolace commented on #618
The issue still exist on master branch

[2020-06-26 16:00] #616 closed

[2020-06-26 16:02] akasolace commented on #608
could be treated as part of #579

[2020-06-26 16:31] akasolace commented on #618
I just had a quick look. I haven't found the issue et but something look really broken in method load of userconfigurationtable.java

[2020-06-26 17:24] tychobrailleur commented on #618
Is there a remote chance this could be the cause of these weird issues disappearing from `USERCONFIGURATION`, sometimes causing the app to refuse to start?

[2020-06-26 18:08] akasolace commented on #618
@tychobrailleur  so I know why I observe this on master  ....because of updateDBv400
I have to check if I have this on 3.0

[2020-06-26 18:28] tychobrailleur commented on #618
OK.  The deletes in `updateDBv400` are supposed to reset the divider location, is this causing a problem for you on master?

[2020-06-26 18:32] akasolace commented on #618
no, it is just that I did not noticed that commit in first place. Recently I saw that this parameter was not saved so when I saw that bug ticket I thought this was related but it was not the case => I will change the status of this issue to "information needed" because in fact I can't reproduce it

However the good this is that looking at it I come across a really dirsty piece of code that I fixed

[2020-06-26 18:33] akasolace commented on #618
@Lactoo  I cannot reproduce could you please share your DB ?

[2020-06-26 18:36] tychobrailleur commented on #589
@yaute74 @akasolace I don't know if either of you can point me to the right direction: when I build the `deb` package locally and inspect the `data.tar.gz` in it, I see no dependency added to it.  Looking at the released `deb`, I do indeed see the deps, and I can also see that the okhttp dep is missing.

My expectation would be that all the gradle deps would be automatically copied in the package,

[2020-06-26 18:49] akasolace commented on #589
@tychobrailleur  @yaute74  first user to ever report this error so I am not sure we should bother to much actually ....

[2020-06-26 18:50] akasolace commented on #589
@CesIAapprentice  can you confirm you are still experiencing this issue ?

[2020-06-26 19:04] yaute74 commented on #589
I am not on a debian linux distribution, but no error on my side with the last package

[2020-06-27 06:21] Lidegand commented on #618
It happens the same to me. I am using also two screens and HO opens in right screen two (not the main one). Screenshots shared by reporter show exactly the same I can see in my computer. What I can add is that as I have more than 1 team, when I execute HO, team selection dropdown appears on left screen (the main one) and with correct size. Then, it opens on right screen and very narrow

Windows 7

[2020-06-27 06:52] Lactoo commented on #618
How do I share a DB? :)

[2020-06-27 08:23] wsbrenk commented on #587
@akasolace, @tychobrailleur:  exactly. what do you think of a combo box in each cell that allows you to select the training position (primary, secondary) for either the selected week or all further weeks

[2020-06-27 11:00] yaute74 opened #622 "[BUG] HO 4.0: Exception at start on Linux"
**Describe the bug**
Exception at start on linux

**To Reproduce**
Start HO:

[code]

**Platform information:**
 - OS: Linux
 - Version 4.0

[2020-06-27 12:46] noujazeg opened #623 "[BUG] no training reported?"
Hello,

HO didn't report any training last friday. Concrete: my trainees didn't get any better in their skill i'm training (defending). Nevertheless they all got a higher TSI, so I suspect they did get their training after all. All players did play, although one match was a walkover, because the opponent didn't lineup a full team.

These are the 2 matches in which my 10 trainees played:

https://w

[2020-06-27 16:05] wsbrenk commented on #623
first match is a walkover match
second one is saphir cup

[2020-06-27 16:28] akasolace commented on #618
you zip your db folder and share it via mozilla send or something equivalent ....

[2020-06-27 16:32] akasolace commented on #587
@wsbrenk you mean one combox next to each player to select full or partial training ? It is also how I see it personnaly

[2020-06-27 16:45] noujazeg commented on #623
yes, but players receive training in matches like that as well.

[2020-06-27 18:18] wsbrenk commented on #623
@noujazeg i know - I just wanted to write down what the reason for the error you found might be

but as far as i know, there is no experience increase in case of walkover, isn't?

[2020-06-27 18:24] wsbrenk commented on #587
@akasolace no i'm thinking of one combo box in each cell of the table. the user is able to select the position of each week and player individually if he wants.

further could some constraints be considered, that tooks into account the maximum number of trainees allowed on each training positions per week

[2020-06-27 18:44] wsbrenk commented on #623
#306 could solve the training of the saphir cup match

[2020-06-27 19:05] noujazeg commented on #623
ah, thanks then.

i don't know about the latter, but it would be sad as i probably have 4 walkover matches this season.

[2020-06-27 21:59] akasolace commented on #623
@wsbrenk @noujazeg  sounds like this ticket can be closed; what do you think ?

[2020-06-28 00:40] wsbrenk commented on #623
@akasolace i'm not sure if we handle walkover matches correctly

[2020-06-28 06:46] Lactoo commented on #618
[db-zup BUG618.zip](https://github.com/akasolace/HO/files/4841797/db-zup.BUG618.zip)

Here is my DB-fil. Hope thats what you looking for.

[2020-06-28 08:05] wsbrenk commented on #623
► When you play against a Walkover team, you will win 5-0, get the formation experience and training for the full 90 min and the TS will be affected as usual (PIC, Normal, MOTS). There is no gain of Experience for your players, though.

it is from https://www83.hattrick.org/Forum/Read.aspx?t=17308544&n=18&v=0

[2020-06-28 17:20] wsbrenk commented on #561
![grafik](https://user-images.githubusercontent.com/11821502/85953675-7b0bc280-b972-11ea-9582-f7f336634921.png)

the topic is really a challenge. Since the update of the highlights is very time-consuming, it happens bit by bit. In the graphic above you can see the result display as requested by @akosolace and below a preliminary display (2-1 a.e.) that will be corrected by future downloads.

there

[2020-06-28 17:36] wsbrenk commented on #561
It looks like hsqldb can only add columns one by one. that is really bad, since on my database the update took many minutes.

[2020-06-29 22:09] wsbrenk commented on #623
i could reproduce that in walkover matches HO will calc NO training and NO experience. The later is OK.

[2020-06-30 11:25] Sciaqquazza opened #624 "Configurable Training Period"
I would like to suggest allowing training period to be set up for a number of days greater than the single season.
Thanks in advance, regards
Uccio

[2020-06-30 16:31] wsbrenk commented on #624
@Sciaqquazza Files -> Settings -> Various -> Future Weeks

do you mean that?

[2020-07-01 22:45] nhpenab commented on #592
please

[2020-07-01 22:45] nhpenab commented on #592
Errores ho.docx

[2020-07-03 08:02] PecataM opened #625 "[BUG] Can not see the next opponent at Rubin-Cup"
**Describe the bug**

In the Drop-Down Menu in "Тeam analysis" I can not see the next opponent for the Rubin Cup.

[2020-07-03 16:17] tychobrailleur commented on #625
Is that something you've seen before, @wsbrenk?

[2020-07-03 16:29] tychobrailleur commented on #624
Can we close this, @Sciaqquazza ?

[2020-07-03 17:26] tychobrailleur commented on #592
The error I am seeing in the document is an OutOfMemoryError, when loading the app, which is somewhat peculiar.

Have you tried to fully reinstall HO?  Would you be able to share your db so we can have a look (not sure where on Windows it resides, as I am on Mac)?

[2020-07-03 20:43] wsbrenk commented on #625
@yaute worked on that last

[2020-07-03 20:59] wsbrenk commented on #605
found UserTransaction. Would that be a good idea to handle that.
additionally we need some message box when the updates tooks a longer time

[2020-07-04 10:21] aristodemos2008 opened #626 "[BUG] Evil Card"
**Describe the bug**
I receive a java error when I open the Evil Card tab in HO 3.0. The tab remains empty after the error.

java.lang.NullPointerException
	at core.db.MatchHighlightsTable.getMatchHighlightsByTypIdAndPlayerId(MatchHighlightsTable.java:137)
	at core.db.DBManager.getMatchHighlightsByTypIdAndPlayerId(DBManager.java:1304)
	at module.evilcard.gui.PlayersTableModel.generateData(PlayersT

[2020-07-04 11:04] tychobrailleur commented on #626
Thanks @aristodemos2008! This bug was previously reported (#505), and this feature will be removed in 4.0.  I am going to close this.

[2020-07-04 11:04] #626 closed

[2020-07-04 11:05] tychobrailleur commented on #625
Would you be able to share your db with us @PecataM so we can try to replicate?

[2020-07-04 16:18] miloszatko commented on #625
[db_singleUser-2020-7-4.zip](https://github.com/akasolace/HO/files/4873158/db_singleUser-2020-7-4.zip)

I have the same problem

[2020-07-04 16:27] miloszatko commented on #625
![image](https://user-images.githubusercontent.com/20202008/86516820-fa424000-be23-11ea-9709-f936ade644e9.png)

Only next league match is showed in drop down menu.

[2020-07-04 20:57] tychobrailleur commented on #625
This seems to be working on master:

![Screenshot from 2020-07-04 21-49-29](https://user-images.githubusercontent.com/114285/86520804-5ca93980-be40-11ea-97fc-d3f35bb763a3.png)

[2020-07-05 11:37] tychobrailleur commented on #625
I have cherry-picked the relevant commit and created a PR to the 3.x release branch.  This should be fixed in the next 3.x release.

[2020-07-05 11:38] tychobrailleur commented on #624
Will close for now, please reopen if this doesn't address your issue.

[2020-07-05 11:38] #624 closed

[2020-07-09 21:26] wsbrenk commented on #587
new database table futurePlayerTraining is ready. FutureTrainingsManager calculation is changed. Since there is no entry in the new table, the results of the training forecast are unchanged.

Now i need a good idea how to implement the editing of the individual future training plans. my very first idea was to add combo boxes to the cells of the training forecast overview table. can someone tell me

[2020-07-10 05:58] akasolace commented on #587
@wsbrenk I am not sure I got it right,
  1. it would be a combobox next to each player ?

I imagine either we can select multiple training (trining plans) or only one (simple training forecast).  For the full training plan, I imagine we would need possibility to do things like:
   2.  PM Full Training for 8 weeks and then Pass for the remaing of the period

For the forecast I imagine we would only

[2020-07-10 18:05] tychobrailleur commented on #618
Thanks @Lactoo.  That's a strange one: I can see when starting the app that it is indeed all squished, which is normal given the parameters stored in the db:

[code]

But here I can resize the window, change the different dividers, quit, and the dimensions get saved.
The problem might be caused by the screen position (`1912`), when the width is saved, the following is calculated:

[code]

I am not

[2020-07-11 07:46] #561 closed

[2020-07-11 08:27] wsbrenk commented on #587
@akasolace your suggestion to select the training weeks is the most comfortable solution i think. if someone could help me to implement it would be really great. to make sure we mean the same thing, here's a picture:
![trainingsplan](https://user-images.githubusercontent.com/11821502/87220055-0583f700-c361-11ea-880d-e3331e7d7647.png)

what we need is some kind of selection on the forecast table ce

[2020-07-11 08:29] tychobrailleur commented on #586
Can this be closed @akasolace , now that the status colours have been removed?

[2020-07-12 09:34] RenosG opened #629 "[BUG] NT names"
When I download the database for the NT, I can't see the names of the players

**To Reproduce**
Steps to reproduce the behavior:
1. Open HO 3.0
2. Select NT Database
3. Click on File>Download
4. Press Start
5. Save hrf file in database folder
6. Press OK
7. Click on File>Import from HRF
8. Select saved hrf file and press open
9. Press yes on confirmation popup window
10. See error

**Screenshots**

[2020-07-12 10:07] tychobrailleur commented on #572
This one should be fixed now that the old theming has been removed.

[2020-07-12 13:09] nandorcode opened #631 "[BUG] Windows cannot find javaw.exe"
When I try to launch the program I get this error message: "Windows cannot find javaw.exe..."
![image](https://user-images.githubusercontent.com/68189531/87246967-6de0e000-c416-11ea-8f1c-9ee5c3f23b02.png)

 - OS: [Windows]
 - Version
Microsoft Windows 10 Home (64-bit)
1903 (10.0.18362)

[2020-07-12 13:42] #631 closed

[2020-07-12 14:08] nandorcode commented on #631
I had to update the Java version.

[2020-07-12 18:20] wsbrenk commented on #587
a little bit is working already:

![grafik](https://user-images.githubusercontent.com/11821502/87253620-1164db80-c47d-11ea-85e4-a8b0423a8e93.png)

[2020-07-13 06:08] #586 closed

[2020-07-13 06:12] akasolace commented on #572
@tychobrailleur I am reopening it as I am not sure this one has been closed really.
I will do some tests first ....

[2020-07-13 06:23] akasolace commented on #587
@wsbrenk  on your screenshot, I do not see where you select the training plan for individual players ....

I thought the plan was not to rely on best position anymore but on user selection of full training / partial training / ......  is it not how it works ?

We will have to restrict this,  HO will need to be make aware this is not possible ....

agree this could be a nice addition

I do not see

[2020-07-13 13:38] aristodemos2008 opened #632 "[BUG] man marking order"
**Describe the bug**
When I download a match with a man marking order and then try to upload it returns an error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lineup'.
2. Open "Upload/Download".
3. Select match and click on "Download lineup".
4. Click on "Upload lineup".

**Screenshots**
error message
![2020-07-13_1425](https://user-images.githubusercontent.com/67824966/87310771-509

[2020-07-13 14:09] akasolace commented on #632
unfortunatly man marking is not yet supported by CHPP but what you described is a bug ....
it should give a propwer warning instead of throwing an error.

[2020-07-13 14:40] aristodemos2008 commented on #632
The man marking order only shows in the HO list if I have 4 substitutions planned in HT. Usually I have 5 and then the man marking does not show up in the list.

[2020-07-13 14:56] aristodemos2008 opened #633 "[BUG] error uploading substitution"
**Describe the bug**
After downloading a formation from HT the same can't be uploaded due to an error in a substitution.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lineup'.
2. Open "Upload/Download".
3. Select match and click on "Download lineup".
4. Click on "Upload lineup".

**Screenshots**
![2020-07-13_1548](https://user-images.githubusercontent.com/67824966/87319169-2f841780-

[2020-07-13 18:56] tychobrailleur commented on #589
Checking the `deb` package from the release, okhttp jar is indeed missing, I have created a PR that copies project dependencies into the package for 3.x release.

[2020-07-13 19:14] wsbrenk commented on #587
for the lazy users i want to keep this function as it is. so when no individual training is planned, the calculation still uses the best position or the user's position settings.

[2020-07-14 05:59] akasolace commented on #587
@wsbrenk  I think this leads to incorrect behaviour most of the time,  I would suggest for lazzy user to rely on the players who received last training, what do you think ?

[2020-07-14 16:51] wsbrenk commented on #587
Not sure, i understand you correctly. Currently I'm used to set the trainings priority by the best position of the players. i can set them in the player overview. I would not like that a player will loose this setting when he is injured for a week or because of another reason, he could not play on a training position.

i set the number of future weeks to the maximum (80 weeks), to plan the whole h

[2020-07-14 18:25] akasolace commented on #587
I take the point ...

[2020-07-15 06:15] akasolace commented on #596
@tychobrailleur  I don't have players on sale at the moment so I can't test it but I think you closed this one if I am not mistaken ....

[2020-07-15 06:18] akasolace commented on #591
@yaute74  @tychobrailleur   can you tell me where the logs are at the moments (i.e error.log and output.log) under Linux / macOS and where they should be moved.
In windows they are in the same folder level as /db in roaming.

I think it is only applicable for the installed version of HO because it should works well for zip folder.

[2020-07-15 08:45] tigro7 commented on #587
Hi! I'm here from the HO forum.
Glad to know that i'm not the only one who had this idea :)
I would really like to have the possibility to choose which player of the team will get the training in a selected week, so:
you can choose it in the table, or you can choose it when you set the future trainings...

[2020-07-15 09:08] akasolace commented on #622
linked to #591

[2020-07-15 09:08] akasolace commented on #622
@yaute74  this was when launched from installed app right ?

[2020-07-15 09:52] akasolace opened #635 "[BUG] Lineups folder not found in installed version of 4.0"
@wsbrenk  @tychobrailleur @yaute74 @DavidatorusF

I will work on this one but I would need some of your inputs ....

**Windows**
   - installed:  %appdir%/HO   => db/, user.json, error.log, output.log   **no lineup folder**
   - zip ??

**Linux**
   - installed:  ??
   - zip ??

**Mac**
   - installed:  ??
   - zip ??

Do you think we need this folder ?  Do we need this Actual.dat file ? Is it not

[2020-07-15 11:20] akasolace commented on #592
@nhpenab are you still experiencing problem or should we close this issue ?

[2020-07-15 11:22] akasolace commented on #558
@tychobrailleur have you tried your tool with db from #597 ?

[2020-07-15 11:27] akasolace commented on #599
@wsbrenk @tychobrailleur @DavidatorusF @yaute74  is it something we want to offer or do we leave it up to the user to do it manually ?    if we create this functionality I think it should be integrated with #558 (repair db),  something like:
    - 1) file | repair db -> repair the db
    - 2 ) file | import -> read the user.xml or user.json and put the db in thre right place
    - 3) file import +

[2020-07-15 18:51] wsbrenk commented on #635
Windows environment

- Application Data Folders:
	Most applications store their settings in the Application Data folders at C:\Users\username\AppData\, by default.
	Each Windows user account has its own Application Data folders, so each Windows user account can have its
	own application data and settings if programs use this folder.
	There’s also the ProgramData folder. This folder has most in com

[2020-07-15 19:17] nhpenab commented on #592
EL PROBLEMA SIGUE ...  ya deje de tratar....  la verdad ud no me ayudaron les he enviado todos lo que me aparece al inentar ingresar y nada

[2020-07-15 19:30] akasolace commented on #635
@wsbrenk  sorry my question was not clear, I just wanted to confirm which folder are created and where on the different platform ... I put the info for windows installed HO!,  I need help for macOS and Linux. Wanted to make sure this lineup folder is missing everywhere ...   Otherwise what about the second part of the question  `Do you think we need this folder ?  Do we need this Actual.dat file ?

[2020-07-15 19:32] #592 closed

[2020-07-15 20:13] tychobrailleur commented on #635
On Mac:

- installed:

[code]

I cannot see the Lineups folder, not even under the `/Applications/HO` folder.

- zip (using unix zip):

[code]

and under the unzipped folder:

[code]

[2020-07-15 20:22] tychobrailleur commented on #635
If I understand this file correctly, it saves any potential lineup you may have come up with?

![Screenshot from 2020-07-15 21-21-33](https://user-images.githubusercontent.com/114285/87592118-3c4f6980-c6e1-11ea-83c5-4d7d88092250.png)

I don't believe we persist that in the DB, right?

[2020-07-15 20:32] tychobrailleur commented on #622
I don't believe `error.log` / `output.log` are duplicates of what is under `logs/`, I think they are log files generated during installation, whereas logs under `logs/` are created by HO logger.

I'd put the logs in the one place (`logs/`) as they tend to accumulate after a while.

[2020-07-15 20:36] tychobrailleur commented on #558
I don't believe I have — and it appears that Firefox Send is in maintenance as we speak.

[2020-07-15 20:37] tychobrailleur commented on #597
@yaute74 You don't happen to have @zigmond 's db?  Firefox Send seems to be AWOL at the minute.

Go raibh maith agat! (=

[2020-07-15 22:03] wsbrenk commented on #635
@tychobrailleur they are stored in the database (table aufstellung). actual and last lineup automatically each download and the user can store his edited lineup too, giving them any name.

[2020-07-15 22:13] wsbrenk commented on #599
@akasolace what do you think about a dialog box when database is initialized which asks for the destination of an old user.xml or user.json?

[2020-07-16 05:30] tychobrailleur commented on #635
But I don't believe this is what it is: here you can save your own lineups, even the ones you have not submitted, and give them names, like "4-4-2" or "CA". That wouldn't get stored in the db, right?

[2020-07-16 05:51] akasolace commented on #622
is it the case under macOS? Under Windows it seems they capture all that would be printed hence they capture all information from HOLogger ....

[2020-07-16 05:59] akasolace commented on #599
I updated my comment above to take this in consideration

[2020-07-16 06:08] akasolace commented on #635
in my case, what is strange is that I can't find the lineup folde anywhere but still the functionality seems to works

I also see that I have an actual and last lineup,maybe only those 2 are automatically updated during download and also sotred in the database while other are only stored in the text file (it is odd because it is the only exemple of information not stored in the database but in a s

[2020-07-16 06:39] tychobrailleur commented on #635
Weird indeed.  It should be created in the current working dir: https://github.com/akasolace/HO/blob/master/src/main/java/module/lineup/LineupPositionsPanel.java#L188

[2020-07-16 08:37] wsbrenk commented on #635
@tychobrailleur @akasolace lineups are stored in database table AUFSTELLUNG

[2020-07-16 08:40] wsbrenk commented on #635
i do not find any button to export lineups. are you sure this function is still called anywhere?

[2020-07-16 09:03] akasolace commented on #635
Yes, I just check and I can confirm this, so I don't understand what this linuep folder is used for ....

[2020-07-16 09:03] akasolace commented on #635
when you decide to save the lineup or load a linup the lineup folder is created

[2020-07-16 10:32] akasolace commented on #635
@wsbrenk  @tychobrailleur  I might be wrong but it seems to me all those operations are useless. I will try to remove this on a branch and see what happens ...

[2020-07-16 10:43] akasolace commented on #635
@wsbrenk @tychobrailleur I did it and made some test, I don't see any side effect for the moment

[2020-07-16 14:02] akasolace commented on #622
@tychobrailleur I want to treat this one, but I have a doubt for macOS at the moment the error.log file should be created in
`${installer:sys.appdataDir}\HO\error.log`  not sure if this is the right place, is it at the same level as the db ? If it is, I could simply replace it with `${installer:sys.appdataDir}\HO\logs\error.log `

[2020-07-16 14:15] akasolace commented on #622
@yaute74 @DavidatorusF @tychobrailleur @wsbrenk  could you test if it is fixed in latest artefacts (4.0.0.3010)
the aim is to have all logs in a logs folder at the same level as the db folder. Hence it is specific to instalation type (zip/install) and platform (win/linux/macOS).  I will submit PR based if I got positive feedback.

[2020-07-16 14:18] #625 closed

[2020-07-16 14:18] #589 closed

[2020-07-16 14:22] akasolace commented on #618
@Lactoo  can you test if latest dev version is fixing this issue ? PLEASE do not upgrade or touch your exisintg install, just test using the zip version on a copy of your db.  Dev Version is still highly UNSTABLE and might break your db so just work on a copy ...

[2020-07-16 18:20] yaute74 commented on #622
@akasolace I do a test with the install 4.0.0.3010.
I always have an exception at start:

[code]

But I have a log in ~/.ho/logs

[2020-07-16 18:36] yaute74 commented on #597
@tychobrailleur  I have only this https://drive.google.com/file/d/1FLB5JmW6qlz1dMucKhTWTgaW-AEPgjAu/view?usp=sharing

[2020-07-16 18:37] yaute74 commented on #591
@akasolace on linux in 3.0 and 4.0 logs are in ~/.ho.logs

[2020-07-16 21:51] akasolace commented on #622
@yaute74 ok I will work a bit more then...

[2020-07-16 21:52] #635 closed

[2020-07-16 21:53] akasolace commented on #622
this is linked to #591

[2020-07-17 12:05] akasolace commented on #622
@yaute74  ok I think version 3013 is fine if you can confirm it (I made test in my VM).
@tychobrailleur  can you please it also good for macOS
then I will do the PR that closes both #622 and #591

[2020-07-17 13:16] #591 closed

[2020-07-17 13:16] #622 closed

[2020-07-17 13:28] akasolace commented on #572
@tychobrailleur I tested this one with @DavidatorusF db, the good thing is that it does not throws anymore an error because of fatcows icons but I just realized there are still some player colors.

Actually I do not see at all what was liste in #619     any idea ?

![image](https://user-images.githubusercontent.com/1136496/87791141-18f00000-c842-11ea-8567-150aacbb7266.png)

![image](https://user-i

[2020-07-17 17:21] wsbrenk commented on #587
![grafik](https://user-images.githubusercontent.com/11821502/87813274-dd652e00-c861-11ea-814b-74d18c77ffa1.png)

individual training plan is edited by selecting weeks with left mouse and popmenu which is created by right mouse click. i don't know if users are able to find this feature.

now training prios that are not possible on selected training type are disabled. see picture, where i train goal

[2020-07-17 17:52] tychobrailleur commented on #572
Yes, it looks like e2772ea5e50d38ae27499945304f535f484165ed reverted those changes.

[2020-07-17 17:55] tychobrailleur commented on #591
I believe I answered in another ticket.  Let me know if you need anything else on this.

[2020-07-17 18:06] tychobrailleur commented on #622
Sure:

[code]
👍

[2020-07-17 20:33] wsbrenk commented on #572
@tychobrailleur feel free to revert the revert again. but there was a npe i send on 28th june on slack. we thought that it could be introduced by the mentioned commit.

[2020-07-17 21:16] tychobrailleur commented on #572
No worries.  (=

The NPE was caused by a change around groups, if I remember correctly. I'll have a look tomorrow.

[2020-07-18 06:59] Lactoo commented on #618
Where do I find this version?

Also, something to add. When I close HO 3.0 on my main screen, it does not do all the funny buisness and forget the settings. It's only when I close it on my secondary screen.

If I open on main screen, and then drag it to my secondary screen it forgets all the settings while dragging. It's really very odd.

[2020-07-18 08:20] tychobrailleur commented on #618
You can find it here: https://github.com/akasolace/HO/releases/tag/dev

Great, this confirms my assumption, and hopefully [this fix](https://github.com/akasolace/HO/pull/630) should address the problem (the description explains the actual issue, if you're interested).

[2020-07-21 07:00] MrMela opened #641 "[FEATURE] Lineup Upload by Copy-Paste"
Is there any chance to implement Lineup Copy-Paste such as in "hattrick youthclub"?

![immagine](https://user-images.githubusercontent.com/68583400/88022756-23571600-cb30-11ea-984b-b0105e316af7.png)

This would make usability much better for non-supporters

[2020-07-21 17:58] tychobrailleur commented on #641
Just so we are clear, you would want a similar copy-paste feature for the Senior Team, right?

@akasolace From what I see this generates javascript that needs to be executed in the browser to set the lineup on the UI (the "simple version"), how kosher is that from a CHPP perspective?

[2020-07-21 18:03] tychobrailleur commented on #597
I tried the repair tool, but it fails because the db is prior to version 3.0.

I was not planning to migrate across versions, but one thing I can do is to add an option that repairs using the same schema as the source schema (if it can be recovered).  Migration would then be left to HO.

[2020-07-21 20:55] wsbrenk commented on #641
what is the advantage over Lineup -> Send lineup HO to HT?

[2020-07-22 06:30] MrMela commented on #641
The advantage is (if CHPP allows it) that it could work also for non supporters, as it does for youth team.

My proposal is btw not to replace the function, but to add this additional option. Of course "Send Lineup" is much more efficient.

[2020-07-22 06:39] akasolace commented on #641
@MrMela it is an interesting new feature but as mentioned by @tychobrailleur we need to check whether or not it complies with CHPP developer license agreement. There is  a good chance it gets approved if HT-YC has been using it for a long time but best to check first .....

[2020-07-23 18:22] yaute74 commented on #622
@akasolace it's ok now, no more exception, good job :+1:
I have two logs in _~/.ho_ _HO-2020-07-23.log_ and _error.log_

[2020-07-23 18:48] akasolace commented on #622
ok perfect ...
HO-2020-07-23.log  is the  historical log, the other one is the redirected stderr

[2020-07-24 13:14] rivoluzione opened #642 "[BUG] Click on Reset Formation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-07-24 13:20] akasolace commented on #642
@rivoluzione can you give more information ?  This is happening when reseting lineup? Is it the first time it happened ? Is there anythig specific with this lineup you are aware of ?

[2020-07-24 13:57] piratenfuerimmer opened #643 "[BUG] java.lang.NoClassDefFoundError: okhttp3/OkHttpClient$Builder"
This java error popped up after my brand new installation, running ho for the first time.
![ho-error](https://user-images.githubusercontent.com/68741966/88397418-3a835580-ce07-11ea-84bf-aebdd85a85e8.png)
Despite the error, ho seems to be running fine - I haven't been able to find anything that doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ho
2. Click on League details t

[2020-07-24 15:26] tychobrailleur commented on #643
Hi @piratenfuerimmer, thanks for reporting; this seems to be a duplicate of https://github.com/akasolace/HO/issues/589 that will be fixed in the next release.

[2020-07-26 09:07] akasolace opened #644 "[BUG] changelog cannot be retrieved"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Help -> Changelog

[2020-07-26 21:25] wsbrenk opened #645 "[BUG] NPE starting special events panel"
java.lang.NullPointerException
	at module.specialEvents.table.EventTypeTableCellRenderer.getTableCellRendererComponent(EventTypeTableCellRenderer.java:30)
	at java.desktop/javax.swing.JTable.prepareRenderer(JTable.java:5741)
	at java.desktop/javax.swing.plaf.synth.SynthTableUI.paintCell(SynthTableUI.java:679)
	at java.desktop/javax.swing.plaf.synth.SynthTableUI.paintCells(SynthTableUI.java:576)
	a

[2020-07-27 06:34] #587 closed

[2020-07-27 06:34] #623 closed

[2020-07-27 09:41] Egomadsen opened #646 "[BUG] Java error when download"
**Can't download HRF**
It is only with my primary team.
Secondary and HI have no problems.

Error pop-up with this:

Error
An error occurred.
java.lang.NullPointerException
Details (See below)

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'F11'
2. Click on 'download'
3. See error

**Screenshots**
![billede](https://user-images.githubusercontent.com/68848210/88527154-2ef97f80-cffd-11e

[2020-07-27 11:25] akasolace commented on #567
@tychobrailleur @yaute74 @wsbrenk  fyi I am looking at this issue along #550 and #565  but it is a tricky one. I have solution for some use case but not for macOS and Windows install app. I will try to rethink the update procedure from scratch and ditch  HOLauncher .... I am not yet sure how to achieve it but I will try and I will keep you posted ....

[2020-07-27 16:50] akasolace opened #647 "[BUG] NPE at core.gui.theme.ThemeManager.getAvailableThemeNames"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
File -> Option

**Screenshots**
![image](https://user-images.githubusercontent.com/1136496/88568915-f75cf880-d039-11ea-8a72-bc8923820c97.png)

[2020-07-27 16:50] akasolace commented on #647
@tychobrailleur is it a bug you experience also ?

[2020-07-27 16:53] akasolace commented on #645
@wsbrenk  this one is supposed to be closed by ca1de75dc768f102ea7fea4a55f6430cca2136b8 , right ?

[2020-07-27 18:12] tychobrailleur commented on #647
Nope, it isn't.  The `FarbPanel` has been removed in the #639 PR to solve a similar issue though.

[2020-07-27 18:41] akasolace commented on #647
ah ok so maybe once this PR is merged and I rebase to master the issue might be gone ... would be nice because I need to access the preference panel to continue work on the update functionality and I don't feel looking at another issue at the moment :-)

[2020-07-27 18:56] wsbrenk commented on #645
yes, merged it by accident. should be a merge request - sorry! it was to late

[2020-07-27 19:07] akasolace commented on #645
ok no pb, I close the issue then

[2020-07-27 19:07] #645 closed

[2020-07-27 19:11] #643 closed

[2020-07-27 19:14] akasolace commented on #642
/remind me to close issue if no update in 1 week

[2020-07-27 19:16] akasolace commented on #646
@Egomadsen it looks like a specific match order set in HT is causing the error? could you try to find out which order is that? which match order have you set recently in HT that could cause the issue? I assume it is something unusual ....

[2020-07-27 19:35] wsbrenk commented on #646
this one should be fixed with #573. @yaute74 did repair it.

[2020-07-27 19:42] wsbrenk commented on #642
same as #573: Exception when clean a lineup with new behaviour #603

[2020-07-27 19:54] akasolace commented on #646
@Egomadsen it should have been fixed in 4.0

[2020-07-27 19:54] #646 closed

[2020-07-27 19:55] akasolace commented on #642
@rivoluzione it should have been fixed in 4.0

[2020-07-27 19:57] #572 closed

[2020-07-27 19:58] #618 closed

[2020-07-27 20:07] wsbrenk commented on #632
new order type 4 is man marking:

downloaded a lineup with man marking in place:

      <PlayerOrder>
        <PlayerOrderID>0</PlayerOrderID>
        <MatchMinuteCriteria>-1</MatchMinuteCriteria>
        <GoalDiffCriteria>-1</GoalDiffCriteria>
        <RedCardCriteria>-1</RedCardCriteria>
        <SubjectPlayerID>444593266</SubjectPlayerID>
        <ObjectPlayerID>421945637</ObjectPlayerID>

[2020-07-28 06:20] akasolace commented on #124
@tychobrailleur is it still something you want to have a look at ? Doesn't sound a big one but @mistermax80 has been struggling on this one and @yaute74 seemed to think it was not a quick fix ... let me know

[2020-07-28 06:21] akasolace commented on #632
@wsbrenk  I saw that in the xml but it was not listed in the api documentation, I asked the officials but they had no information (I guess you can follow the discussion on HT forum).  I haven't tested it but yes maybe it works and only the documentation is incomplete... worth to give it a try

[2020-07-28 09:17] tychobrailleur commented on #596
This one should now be addressed, with #639
![Screenshot from 2020-07-28 10-16-22](https://user-images.githubusercontent.com/114285/88645002-8a8a4280-d0bb-11ea-9d02-901e81526771.png)

[2020-07-28 10:37] akasolace commented on #596
closed by #639

[2020-07-28 10:37] #596 closed

[2020-07-28 10:39] akasolace commented on #633
@wsbrenk maybe you can look at it afer #632 as they may be related ...

[2020-07-28 10:54] akasolace commented on #597
@tychobrailleur if I understand corrctly,  the db of @zigmond is functional under 2.1 but breaks if he upgrades to 4.0.
We don't know if:
    - the db is corrupted but still functioning in 2.1 but the upgade to 4.0 makes it non functioning
    - the db is sane but upgrading to 4.0 breaks it

Your DB repair tool cannot work on the 2.1 db (it assumes table definition from 4.0)

Is that correct ?

[2020-07-28 16:28] akasolace commented on #647
closed by #639

[2020-07-28 16:28] #647 closed

[2020-07-28 16:29] wsbrenk commented on #632
@akasolace maybe i will see the surprise when i send those match orders back to HT.

[2020-07-28 16:32] akasolace opened #648 "[BUG] Release Channels Panel, darklaf related ?"
**Describe the bug**
Display error

**To reproduce**

File -> Preference -> Release channels

[2020-07-28 16:34] wsbrenk commented on #633
@akasolace OK

[2020-07-28 17:15] tychobrailleur commented on #597
To clarify:

- The db version set in the current db is 2.1
- It is corrupt – the telltale sign is usually an OOME such as:

[code]
- I have changed the repair tool to add a `current` option to import in the same schema.  This re-imported most of the data of the corrupt db into a new db (except data from the corrupt table, the repair tool cannot do anything about this)
- HO 4.x starts ok with the "

[2020-07-28 17:41] tychobrailleur commented on #648
Yes, more than likely: this doesn't happen with Nimbus.  I am creating a PR.

[2020-07-28 17:43] tychobrailleur commented on #581
AFAICT this is a server-side change, is the code available somewhere?

[2020-07-28 18:03] #648 closed

[2020-07-28 18:16] zigmond commented on #597
Just copied my current DB from 2.1 to 4.0 and launched it, it did start,
updated the DB, took again more than 5 minutes to update, still same
problem with the former coach.

Just to update you guys

Thanks

Zig

On Tue, 28 Jul 2020 at 18:24, Sébastien Le Callonnec <
notifications@github.com> wrote:

[2020-07-28 18:17] akasolace commented on #597
@tychobrailleur ok so the inital db was already corrupted, and he was using 2.1, so nothing bad we did recently.
Your tool seems to do a very good job and then HO migrates it correcty to 4.0 which is perfect. The thing I would like to clarify is the conversion of null values. If I understand correctly your tool would do it when repairing a db but HO needs also to implement it, right ?
I mean assum

[2020-07-28 18:19] akasolace commented on #581
is it ? my bad sorry

I need to import the repo into github .... on my todo list  :-)

[2020-07-28 18:22] tychobrailleur commented on #521
I have made a first pass at this, I need to do more testing to make sure things get displayed properly for everything that gets displayed there.

![Screenshot from 2020-07-28 19-12-04](https://user-images.githubusercontent.com/114285/88705459-79672300-d107-11ea-8dc2-fd70f032ee1e.png)
![Screenshot from 2020-07-28 19-11-30](https://user-images.githubusercontent.com/114285/88705461-79ffb980-d107-11ea

[2020-07-28 18:28] akasolace commented on #521
seems good like this ... but a big fat red font would have also do the trick I guess .... as you prefer

[2020-07-28 18:35] tychobrailleur commented on #597
Yes, sorry Zig, I don't think that particular issue has been fixed yet. 😃

@akasolace the db tool is not that smart (yet?), I need to explicitly tell what column in what version of the db needs to be "de-nullified."  Quite feasible, this would require more work.

[2020-07-28 18:35] koolbeer opened #650 "Unable to load my team"
**Describe the bug**
When I download the update every week the teams that appears is not my team

**Platform information:**
 - OS: [Windows 10]

[2020-07-28 19:47] akasolace commented on #597
maybe we can be brutal and denullify all values ... but we might suffer side effects ...

[2020-08-01 09:52] tychobrailleur opened #651 "[BUG] SSL error when Promotion manager connecting to Anvil server"
**Describe the bug**
When the promotion manager tries to connect to the server, the following error is thrown:
[code]
The app cannot connect to the server, and the feature is broken.

This seems to be caused by 919b2abc46c5be317cafc12d1b999b497b99a49f which removed the trust store holding the Anvil TLS cert chain

**To Reproduce**
Steps to reproduce the behavior:
1. Go to League Details
2. Observe

[2020-08-01 13:35] tychobrailleur commented on #650
Hi @koolbeer, could you give us more details?  Are you saying you are seeing someone else's team in HO?  Have you tried to move your database, and re-download your details?

[2020-08-01 19:25] koolbeer commented on #650
Hello guys,

Thanks for your message.

It's not someone else's team that I'm receiving.

When I see my team (Santo André Koll), like this http://prntscr.com/tsed6l everything is ok.

The problem is that on the window/separator SERIES I cannot see my team, seems to be another division, that's what I see http://prntscr.com/tsefv4

Once more thanks for your message and all efforts to solve the proble

[2020-08-02 09:56] wsbrenk commented on #632
today i succeeded in sending a man marking match order to Hattrick. This was the result:

<?xml version="1.0" encoding="utf-8"?>
<HattrickData>
  <FileName>matchorders.xml</FileName>
  <Version>3.0</Version>
  <UserID>1757369</UserID>
  <FetchedDate>2020-08-02 11:52:03</FetchedDate>
  <MatchID>663472286</MatchID>
  <IsYouth>False</IsYouth>
  <MatchData OrdersSet="True" />
</HattrickData>

the man

[2020-08-02 10:06] wsbrenk commented on #632
![grafik](https://user-images.githubusercontent.com/11821502/89120603-f7387f00-d4b7-11ea-9548-cfe9e3217617.png)

- kind of order is missing (easy)
- icon of order is missing (not so easy for me)
- name of opponent player is missing (the right challenge for me)
- view to edit man marking with opponent team members to select from (!!!!)

[2020-08-02 13:52] wsbrenk commented on #632
![grafik](https://user-images.githubusercontent.com/11821502/89124500-b7818f80-d4d7-11ea-8a2d-f93b365a16e6.png)

1st and 3rd point of the list are done. there is still a slightly discrepancy in the opponents player name.
2nd point a new icon name is implemented showing to the same icon than the substitution. this has to be replaced when a new icon is available.

Now i need good ideas for the 4th p

[2020-08-02 18:34] tychobrailleur commented on #650
Well that´s a strange one for sure.  Any chance you could share your database with us, so we could have a look at what is going on?  Thanks a mil.

[2020-08-03 09:09] koolbeer commented on #650
Hello Sébastien,

You mean this file: db_singleUser-2020-8-1.zip ?

Merci

koolbeer

De: Sébastien Le Callonnec [mailto:notifications@github.com]
Enviada: domingo, 2 de agosto de 2020 19:34
Para: akasolace/HO
Cc: koolbeer; Mention
Assunto: Re: [akasolace/HO] Unable to load my team (#650)

Well that´s a strange one for sure. Any chance you could share your database with us, so we could have a look

[2020-08-03 17:09] wsbrenk opened #654 "[FEATURE] new icon for man marking match orders"
match orders overview shows icons for different kind of match orders (substitution, change behaviour). we need a new icon for man marking orders. more info see #632

[2020-08-03 17:32] zigmond commented on #597
Hi Guys
Just bought a new player (well, he is old, 39) and again, on HO! V 4 I get
the same, as soon as I click on him, can't even change the information for
him on the rolldown for Best Position

java.lang.NullPointerException
at
module.playerOverview.SpielerDetailPanel.setLabels(SpielerDetailPanel.java:368)
at
module.playerOverview.SpielerDetailPanel.setSpieler(SpielerDetailPanel.java:275)
at
mo

[2020-08-03 20:28] tychobrailleur commented on #632
This is pretty awesome @wsbrenk really excited about this!

[2020-08-03 20:30] tychobrailleur commented on #632
For 4th point would reusing the Matches tab view be a possibility to select the man to mark?

[2020-08-03 21:10] wsbrenk commented on #632
![manmarkingOrder](https://user-images.githubusercontent.com/11821502/89227524-221cf300-d5de-11ea-94a9-4fad0a7993ca.png)

Currently teamanalyzers team view is my favorite. a 4th button in SubstitutionOverview could start the team analyzer and some drag+drop action could create the man marking match order. But i don't have any idea how to implement that - up to now.

[2020-08-03 21:25] tychobrailleur commented on #632
Sorry that's exactly the view i had in mind

[2020-08-05 06:08] wsbrenk commented on #633
@akasolace @tychobrailleur cherry picking the commit above could easily repair this bug in release 3 patch branch.

[2020-08-05 17:52] wsbrenk commented on #632
@tychobrailleur great - do you have a good idea how to do it, would you like to take over this part? this is completely new territory for me.

[2020-08-05 18:07] wsbrenk commented on #654
found one HO\src\main\resources\img\icons\official\HTwebsite\svg\manmark.svg, but i don't know how to use it.

[2020-08-06 15:34] tychobrailleur commented on #632
I can give it a try.  Do you have a branch for this specific piece of work?

[2020-08-06 17:33] wsbrenk commented on #632
@tychobrailleur this is the branch https://github.com/wsbrenk/HO/tree/%23632manmarking
#632manmarking

since i merged a very old branch where i once started the man marking feature, there are a lot of commits which are no longer of interest and they will disappear (hopefully) when i will rebase this branch.

[2020-08-06 17:36] wsbrenk commented on #632
@tychobrailleur another idea: since the bug part of this issue is done, i could create a pull request and we will handle the feature part in an extra ticket. what do you think?

[2020-08-06 18:09] tychobrailleur commented on #632
ok, works for me.  I can work on my own branch once this is merged then.

[2020-08-07 07:15] emi65 opened #656 "[BUG] Open CHPP url doesn't open any url"
Hi
I'm just installed HO 3.0

It is a new installation
When I push "download" I need CHPP authorization
A windows with OPEN URL is openend but in the field there is not any url and the button doesn't open URL in order to
get CHPP auth

How can I get CHPP auth ?
thanks
Emilio

[2020-08-07 11:06] tychobrailleur commented on #650
Hi @koolbeer, sorry for the delay in responding to you; if you could possibly zip up the `database.*` files under the `db/` folder, that would be great.  If not, the above one should also do.

[2020-08-07 14:33] Crip1 opened #657 "[BUG]"
**Describe the bug**
Under the lineup tab, the lineup tool, start assistant, since loading HO3.0, my top IM does not get selected for any position.    When I select the player pull-down for any of the IM positions, he is the first listed player, and I can manually add him to the lineup tool.

While I have my sequence set to MID-DE-FOR, the only other filter box selected is Consider form.     I hav

[2020-08-07 20:48] koolbeer commented on #650
db_singleUser-2020-7-9.zip
<https://drive.google.com/file/d/1mGzuZ2orm0B1WZHqKqDxTy0-fAApX-e5/view?usp=drive_web>
 db_singleUser-2020-7-28.zip
<https://drive.google.com/file/d/11-CGxIhOSFOIrAYPXbWiTfJR5B6lvgHL/view?usp=drive_web>
 db_singleUser-2020-8-1.zip
<https://drive.google.com/file/d/1nZJQGUnN1mnSATpw6VcZV_mxV09umOKm/view?usp=drive_web>
Hello Sébastien,
Attached the requested files
Thanks fo

[2020-08-08 14:10] tychobrailleur commented on #650
Ok, so it looks you're seeing details about your old league (V.102) in the series tab for season 63.
Which is odd because your team is correctly set in league IV.12:

[code]

[2020-08-08 14:30] tychobrailleur commented on #650
The entry for the current season in `SPIELPLAN` is wrong:

![Screenshot from 2020-08-08 15-17-46](https://user-images.githubusercontent.com/114285/89712704-69aed080-d98a-11ea-948c-8f0fba8ac919.png)

It corresponds with download of HRF 71 in July 9th.

The code is supposed to update the `SPIELPLAN` row when downloading data from Hattrick, but it seems an exception is thrown that prevents from doing

[2020-08-08 15:04] wsbrenk commented on #650
![grafik](https://user-images.githubusercontent.com/11821502/89713551-b699a380-d998-11ea-9f47-1fdd69bc06a4.png)

@tychobrailleur isn't the user able to select the correct fixtures (see above). Please have a look on the updateDBv300. there i wanted to delete the league plans which were not from the user's own team. maybe you'll find the error there.

[2020-08-08 15:15] tychobrailleur commented on #650
Something seems to be different on the 3.x release branch in that the season 63 / V.102 league is not showing in the series dropdown, and the following download fixes the problem, whereas in the released version, the problem persists (season 63 / V.102 league shows, the correct one doesn't one).

[2020-08-08 15:16] tychobrailleur commented on #650
Ah thanks for the hint, that might be why I am seeing a difference release vs. branch.

[2020-08-08 17:07] tychobrailleur commented on #650
Thanks a lot @wsbrenk, that was it: the 3.0.2 release was made prior to that change, it seems (looking at the source code [here](https://github.com/akasolace/HO/archive/3.0.zip).

Would you remember the rationale for this change?  The download dialog allows for other series to be downloaded, but are we only supposed to see our own spielpläne in the dropdown?

In any case, I am going to spend a bit

[2020-08-08 17:15] tychobrailleur commented on #650
@koolbeer Would you be able to download [this db](https://drive.google.com/file/d/1asSOeH6UL7ezKLaA-0KNc8N1JY4cdYYp/view?usp=sharing) and see if this is better for you?

[2020-08-08 18:10] wsbrenk commented on #650
@tychobrailleur i never downloaded otherones leagues and found one for each season of my hattrick career when i went up one league. i think it was an error in the last downloads of the season first the plan of the acient and after that for the next season.

[2020-08-09 09:44] #632 closed

[2020-08-09 09:44] #633 closed

[2020-08-09 11:07] wsbrenk commented on #657
@Crip1 it is not easy to reproduce this issue. uploading your db would be one option.
in your decription you mentioned that only the form filter option was selected and the order the position should be set. Could it be, that above the order selection an group (a,b,c,d,f) is selected or deselected, which does not match with your missed players?

[2020-08-09 14:55] Crip1 commented on #657
The Listbox Group filter and “Not” boxes above are not selected.   In fact, the player in question is listed as part of Group A, and the other players in Group A all get selected for the lineup.   (I use Group A to identify who I normally intend for League match, 100% PM Training, Group B is League Match 50% PM Training, Group C is Friendly/Cup 100% PM, Group D is Friendly/Cup 50% PM)

Once I put

[2020-08-09 15:05] Crip1 commented on #657
Never mind, I just figured out the problem.      In the list of players below the onfield lineup in the lineup up tool, there is a column between the Age and Best Position fields.   This was deselected for the player in question.      Putting a checkmark into this field solved the problem.

Case Closed!

Thanks for the response.

From: wsbrenk <notifications@github.com>
Sent: August 9, 2020 7:08 A