[2019-06-10 15:05] akasolace opened #143 "[eBUG] lateststable.html should be read from stable branch"
**Describe the bug**
lateststable.html should be read from stable branch instead of master branch that would facilitate release of hotfixe

[2019-06-10 20:06] akasolace commented on #132
closed by 7b999a6

[2019-06-10 20:06] #132 closed

[2019-06-11 19:22] akasolace opened #145 "[eBUG] extrasub improve substitutions"
**Describe the bug**
wingback and extra subs are not in the list

[2019-06-11 19:24] akasolace opened #146 "[eFEAT] List of players listed in subs dropbox:"
Following a remark made by @DavidatorusF on Slakc:

1) we keep as is
2) we remove player already on the field
3) same as 2) but with combo box for user to choose what he wants
4) we visually indicate player already on the field (different color/background)
5) other ideas ....

[2019-06-11 19:41] DavidatorusF commented on #146
I vote for 2) ^^

my mind ...
normal users set the lineup before the subs
have players on the field in subs dropox can introduce a mistake for the lineup as, if the user choose one af those, he remove him from the field... if the user don't take care at this, he can send an uncomplete lineup.
on HT, their dropbox include only the 3 best suggestions...

[2019-06-12 06:56] akasolace commented on #146
@DavidatorusF thing is that in HT they don't have team. Personally I start with the field player then label them for example team A. Then I do the subs and personally I like to compare rating value between subs and player on the field as it make me sometime change my mind.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-12 06:56] akasolace commented on #146
Hence I vote for 4)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-12 21:57] #145 closed

[2019-06-13 08:00] akasolace commented on #146
following slack discussion , let go for option 4.

can be treated same time as #133

[2019-06-13 08:00] akasolace commented on #133
#146 can be dealt had the same time

[2019-06-14 12:19] konved commented on #141
p3 is done.
see [my i18n-plurals branch](https://github.com/konved/HO/tree/i18n-plurals)

[2019-06-14 16:09] jaguarsbc opened #148 "[eBUG] HO fails at launch."
**Describe the bug**
A clear and concise description of what the bug is. same issue as many, it wont open. Error obtaining URL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![HOdev screen shot](https://user-images.githubusercontent.com/51830604/

[2019-06-14 17:01] konved commented on #141
Russian
![p22y71d](https://user-images.githubusercontent.com/12294658/59523349-78b30380-8eea-11e9-9b95-1e9e7fcd74f8.jpg) ![p38y56d](https://user-images.githubusercontent.com/12294658/59523350-794b9a00-8eea-11e9-9440-1d14f6cab384.jpg)
French
![p28y83d-fr](https://user-images.githubusercontent.com/12294658/59525408-ac445c80-8eef-11e9-8b3b-903101f621a9.jpg) ![p34y1d-fr](https://user-images.githubuser

[2019-06-15 07:04] akasolace commented on #141
@konved nice !
I also suggest that I modify PoEditor to not export not translated term.  It should not change anything behaviour wise, because HO automatically revert to English if term not available in requested language.
In the future however, that would allow to change directly translation in properties files and import them back in PoEditor. What we could not do yesterday for example.

What do

[2019-06-15 07:06] akasolace commented on #148
@yaute74 could you take care of this one ?

[2019-06-15 20:56] yaute74 opened #149 "[eBUG] ho don't start with deb package"
ho don't start with deb package
correction #102 was not in stable version

[2019-06-15 21:40] yaute74 commented on #148
@akasolace ok I will have a look tomorrow

[2019-06-17 19:28] akasolace opened #153 "[eBUG] sorting table by squad is super slow"
**Describe the bug**
sorting table by squad is super slow and I don't think it was the case before.
other columns sorting is much more reactice.

same behaviour in both tabs Squad and Lineup

**Platform information:**
 - OS: Windows
 - Version DEV 2.0 r1213

[2019-06-17 19:30] akasolace commented on #148
@jaguarsbc can you please check if latest release r1213 fixes your issue.

[2019-06-17 19:31] #149 closed

[2019-06-17 19:33] akasolace commented on #27
@brokenelevator hello do you want me to do this or are you doing it?

[2019-06-17 21:43] jaguarsbc commented on #148
i tried this one and it didn't work either. HO_2.0.0.1213_Win32_Installer.exe

[2019-06-17 21:44] jaguarsbc commented on #148
exact same response as described earlier

[2019-06-18 06:21] yaute74 commented on #148
@jaguarsbc can we see the stacktrace (as in your first message) ?
I want to check the line number.

[2019-06-18 06:23] yaute74 commented on #153
@akasolace I will check on linux if I have the same behaviour

[2019-06-19 16:15] jaguarsbc commented on #148
how would i go about that, im not good with technical stuff, sorry

[2019-06-19 19:02] yaute74 commented on #148
@jaguarsbc I need the same thing you add in 'Additional context' when you create the issue.
Thanks

[2019-06-19 19:08] yaute74 commented on #153
@akasolace I don't reproduce your problem.

[2019-06-19 21:19] jaguarsbc commented on #148
14:00:00 [Info]    core.gui.HOMainFrame: This is HO! version 2.0 r1213, have fun!
14:00:00 [Info]    core.gui.HOMainFrame: Operating system found: Windows 10 on x86 (10.0)
14:00:00 [Info]    core.gui.HOMainFrame: Using java: 1.8.0_211 (Oracle Corporation)
14:00:05 [Error]   module.lineup.Lineup: no match to determine location
14:00:05 [Error]   module.lineup.Lineup: no match to determine location

[2019-06-19 21:21] jaguarsbc commented on #148
15:02:36 [Info]    core.gui.HOMainFrame: This is HO! version 2.0 r1213, have fun!
15:02:36 [Info]    core.gui.HOMainFrame: Operating system found: Windows 10 on x86 (10.0)
15:02:36 [Info]    core.gui.HOMainFrame: Using java: 1.8.0_211 (Oracle Corporation)
15:02:40 [Error]   module.lineup.Lineup: no match to determine location
15:02:40 [Error]   module.lineup.Lineup: no match to determine location

[2019-06-20 06:23] yaute74 commented on #148
@jaguarsbc it's not the same error.

When you have the message box, for CHPP validation, instead of click on 'open url' button, can you copy/paste the url in your browser manually. It's seam to have problem to open the url in your browser.

[2019-06-20 06:45] akasolace commented on #153
@yaute74 ok just to be sure I was referring to the column which holds squad information (A,  B, ... F )

[2019-06-20 06:45] akasolace commented on #153
anyone else can share feedback?

[2019-06-20 08:57] brokenelevator commented on #153
same thing happens to me. also I got a huge lag on load. possibly same reason because I have squad information on default sorting.

[2019-06-20 10:49] yaute74 commented on #153
@akasolace you are right, I reproduce the the problem.
I will have a look on it.

[2019-06-20 11:10] yaute74 commented on #153
@akasolace After a quick look, it's in RatingPredictionManager.java.
Maybe @akasolace  you'll be more efficient than me, as you work on it.

[2019-06-20 11:26] yaute74 commented on #153
I think the problem come from here:
To sort we call now getLineup() (before  getAufstellung()) and getLineup() call setRatings() who take a lot of time.

[2019-06-20 12:57] akasolace commented on #153
@yaute74 ah ok, thank you for finding this.
So the getLineup call should be replaced by getLineupWithoutRatingRecalc()
I suspect we will find similar issues somewhere else in the code

[2019-06-20 13:11] akasolace opened #154 "[eBUG] performance impact of forcing .dat parsing at each call of _calcPlayerStrength ()"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2019-06-20 13:50] akasolace commented on #148
@yaute74  I was curious and I looked at https://github.com/akasolace/HO/blob/master/src/main/java/core/util/BrowserLauncher.java

it looks awful. I guess that at the time no library existed for opening browser in java.

Now I believe we should use https://docs.oracle.com/javase/8/docs/api/java/awt/Desktop.html instead
or something equivalent.

It might indirectly solve a lot of related issue.  Wha

[2019-06-20 18:29] yaute74 commented on #148
@akasolace maybe we can simplify it and a button 'copy url' and a message like 'past the url in your browser' we would avoid bugs.
What do you think ?

[2019-06-20 19:16] akasolace commented on #153
I actually fixed some of those issues in my last commit eea9fd3

@yaute74  I will let you do the commit and close that issue as you found the origin of the bug, ok for you ?

[2019-06-21 02:40] jaguarsbc commented on #148
Im down with what you think works best, after all your the expert an im wayyyy out of my league :D Let me know what you need me to do

[2019-06-21 06:15] yaute74 commented on #148
@jaguarsbc it works when you copy manually the URL ?

[2019-06-21 06:19] yaute74 commented on #153
@akasolace I don't understand. Your modifications solve the problem ?
If it's the case my commit is not necessary :)

[2019-06-21 06:57] akasolace commented on #153
@yaute74 no it solved a smilar problem with unecessary rating calculation. Hence  I had to replace getLineup  by getLineupWithoutRatingRecalc

[2019-06-21 06:57] #153 closed

[2019-06-21 06:59] akasolace commented on #148
@yaute74  why not. It might simplify to code base with an unnecessary functionality.
 @brokenelevator  @konved @DavidatorusF @mistermax80  any opinion on the matter ?

[2019-06-21 07:12] akasolace opened #156 "[eFEAT] replace version number by git commit hash to simplify build identification"
maybe something like this can be of use

https://github.com/palantir/gradle-git-version

[2019-06-21 09:24] akasolace commented on #131
closed by a66126a

[2019-06-21 09:24] #131 closed

[2019-06-21 12:21] cheilson opened #158 "[eBUG] Error when removing player from penalty takers"
I get an error when removing a player from penalty takers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to penalty takers
2. Click on remove all
3. Click on auto add, HO also adds subs amongst the 11 best takers.
4. Uncheck show subs and show others
5. Remove a sub from the 11, end this occurs:

java.lang.IllegalArgumentException: Row index out of range
at javax.swing.JTable.boundRow(U

[2019-06-22 09:50] jaguarsbc commented on #148
i dont know how to go about copying the URL manually, im a bit lost

[2019-06-22 11:06] DavidatorusF commented on #148
@jaguarsbc

Click on "open url" and a link appears just below the button while opening a hattrick page in your browser (if this page does not open, copy and paste the link in the browser)

 select the code then CTRL + C to copy it and CTRL + V to paste it

[2019-06-22 13:10] brokenelevator commented on #156
I don't know how this will look in action but it is a nice idea.

[2019-06-22 13:19] brokenelevator commented on #148
@akasolace no. I'm ok with both approaches. Is there a place in HO that we need to launch the browser from HO? If not, I'd scrape it and go with copy url button.

[2019-06-22 13:28] jaguarsbc commented on #148
so what would it be that i need to copy and paste, hattrick.org?

[2019-06-22 13:31] DavidatorusF commented on #148
@jaguarsbc

if this page does not open after click on the button, yes... copy and paste the link in the browser

The link looks like this: https: // chpp.hattrick.org/oauth/authorize.aspx.…

Enter your login details as requested, Hattrick will give you a code Copy the code into hattrick organizer

the little trick: select the code then CTRL + C to copy it and CTRL + V to paste it

[2019-06-22 13:58] jaguarsbc commented on #148
its not letting me do any of that. it tells me problems with creating connection. So when i skip to try and get the HO authorization and try to click no "open URL" nothing comes up.

[2019-06-22 14:04] DavidatorusF commented on #148
hummm... nothing appear...

can you look if your security software are uptodate
and your java too

Sometimes it is needed to uninstall older java versions first https://www.java.com/en/download/faq/remove_olderversions.xml
then install it again https://www.java.com

[2019-06-22 14:10] jaguarsbc commented on #148
i did that as well before asking for help last week. Also shut down my  my anti virus to make sure there wasn't any interference, I run Kaspersky

[2019-06-22 14:13] jaguarsbc commented on #148
im running Version 8 Update 211

[2019-06-22 14:22] DavidatorusF commented on #148
I don't understand why your link don't appear...
I let you with the HO developers, they have more knowledge than me

a workarround is to run HO on an other computer, get the authorisation, then copy/paste the folder db on your own computer

[2019-06-22 14:23] jaguarsbc commented on #148
might have to do it on my ipad if that works but thanks for your help!

[2019-06-22 14:24] DavidatorusF commented on #148
there's no java on ipad... you can't run HO on it

[2019-06-22 14:26] jaguarsbc commented on #148
sucks for me i guess :(

[2019-06-22 14:35] DavidatorusF commented on #148
hummm...

where do you have install ho ?

nice to install it in C
c:\ho or c:\game\ho

[2019-06-22 14:37] jaguarsbc commented on #148
yes in C

[2019-06-23 15:58] jaguarsbc commented on #148
I think it started to work now, I updated my Kaspersky total security from 2019 to 2020 and I was able to go through the connection and retrieved the password to upload my team to HO. It is uploaded and I will see if im able to upload the matches during the week. thank you guys for your help

[2019-06-23 16:34] DavidatorusF commented on #148
yeahhh... I'm not crazy ^^
security software update was the solution

[2019-06-23 16:42] jaguarsbc commented on #148
Lol, I found that out when my data base for my anti virus software was not updating, so i went through all the process of reaching out to them and reinstalling it with the new version (which i wondered why it didn't do it automatically) but first thing after that was to try HO and it worked!

[2019-06-23 19:19] akasolace commented on #148
ok fine then
so I will close the ticket

[2019-06-23 19:19] #148 closed

[2019-06-23 19:20] akasolace commented on #158
anyone can confirm that bug ?

[2019-06-23 20:40] yaute74 commented on #158
@akasolace yes I reproduce it

[2019-06-24 07:51] akasolace commented on #158
@yaute74 ok thanks for confirming it ... so I put that one to be fixed for 2.0 release ...

[2019-06-24 19:01] akasolace commented on #112
I decided to include it in 2.0 as it deteriorate the lineup tool experience

[2019-06-26 20:49] akasolace opened #159 "[eFEAT] delete FAKTOREN"
to be check but following work on formula,

FAKTOREN should be deletable

[2019-06-27 15:49] akasolace opened #160 "[eFEAT] List of players listed in dropdown for Lineup"
**Is your feature request related to a problem? Please describe.**
I am working on improved formula rating for players. What we will have in HO when this is done is the evaluation of each player per position as a % to perfect fit.

**example:**
player A:  IM  50 %  ,  WI 40 %
player B:  IM   37 %  , WI 38%
....

Considering this dropdown menu in Lienup should be smarter than simply listing the pla

[2019-06-27 16:30] brokenelevator commented on #160
Well, I like the percentage idea. It is nice. What will be the baseline though?

About the other thing I would say no. Who are we to tell who is better fit? So the graying or starring is just...no.
I do get your point but we do not set priorities, managers do. I for one believe that player A is better fit for wing not only because the 2% difference in wing but also higher IM. Sure if I have vacanc

[2019-06-27 20:29] akasolace commented on #160
@brokenelevator I am not saying not to show them, but just to show them in a smarter way than decreasing formula for that position.
There are 2 different information available: who is best for a position and what is the best position for a given player. At the moment only info 1 is used in the dropbox which often display player not in a smart way.
To be discussed with maybe concrete example.

[2019-06-27 20:35] #112 closed

[2019-06-28 11:56] akasolace opened #161 "[eFEAT] Lineup tab improve overall rating information"
As an extra step of #27, we should have **Loddar and Hatstats** in the top right section just below the sector ratings.  Those values would also be **updated with change on the timeline** or if clock are selected

![image](https://user-images.githubusercontent.com/1136496/60904440-5acf8900-a273-11e9-9765-0b116552c0e5.png)

Then we will remove them from the panel below, it will be a better usage of

[2019-06-28 12:09] akasolace commented on #160
@brokenelevator  I made some test ranking player by best position fit is also confusing.

If the user decide to play with let say a Forward TW, he would like HO to indicate the player for that position. But if he hesitate he would like to see what order will contribute most.  It is not possible to achieve both by displaying a single value.

Hence I do not know what to do, indicate both ?
e.g playe

[2019-06-28 12:11] akasolace opened #162 "[eBUG] issue sending match order with latest dev"
the bug happens if set first some backup players and then remove them.
The lineup object does not get updated. The player removed remains listed.

[2019-06-28 15:36] #162 closed

[2019-06-29 09:02] brokenelevator commented on #160
@akasolace First of all I don't like the term smart. It is go to term if people want to make choices for you. I usually turn smart features off.
I only see one.
Best for position is when you have the highest sum of contributions on that position.
Best for a player is when you have the highest sum of contributions on a position.
We have a 'best position' field. It could become a dropdown if someone

[2019-06-29 10:47] akasolace commented on #160
@brokenelevator wow that was a long message. I disagree with you but whatever. HO is an assistant manager it mainly help people do best lineup. At the moment the assistant use absolute performance to place player and this is not optimal. It should use relative performance per position which is what a human would do to maximize overall performance.  Again in my opinion not value are interesting but

[2019-06-29 13:07] brokenelevator commented on #160
@akasolace I think there is a difference between help (providing data) and help (deciding). I think HO should provide data but I guess if people want HO to take their place I'm also cool with that.

Can you elaborate on the absolute/relative difference you see? because I don't.
Either I'm not human or I have no idea how HO works right now. I think combined(all sectors) and separated(to each sector

[2019-06-29 15:19] akasolace commented on #160
@brokenelevator  it is done as follow, for a given player and position/match order we compute the added rating to each sectors assuming normal coach, normal attitude, nomal TS, confidence, .... and no penalty due to 2nd or 3 player on central position.
Hence for each triplet (player, position, MO) we got 7 ratings contribution.
A single rating is obtained by applying the formula used on HT for ran

[2019-06-30 12:20] brokenelevator commented on #160
@akasolace so that is how it works. I like my idea better but I'm hardly an expert.

The relative if through the roof then. The relative contribution would then prefer all 20 player for Forward instead of one also with all 20 but 0 GK. Same could apply to different positions but I'm unsure about DEF contribution in ATT. Shooting contribution in DEF or GK. Sum of team skills is used at times. Like

[2019-07-01 08:23] akasolace opened #163 "[eFEAT] Improve Lineup Assistant manager"
Current algorithm is far from being optimal.
See if it feasible to have a real optimization in acceptable time <5s ?

@brokenelevator  I mean optimization as per current spec. For sure it does not intend to do more than simply maximizing total overall rating.

[2019-07-01 08:24] akasolace opened #164 "[eBUG] feedback panel throw error in latest dev"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2019-07-01 16:41] #164 closed

[2019-07-01 18:38] akasolace opened #165 "[eBUG] remove star rating in lineup tab"
**Describe the bug**
star rating is broken and I do not think it is something look after. Hence, I suggest to remove it from the lineup tab.

 In the future, if someone has an idea on how to fix it, it might require a lot of analysis we could put it back.

[2019-07-06 06:42] mistermax80 opened #166 "v 2.0 1256 doesn't start on mac"
![Schermata 2019-07-06 alle 08 40 13](https://user-images.githubusercontent.com/15519907/60752775-f2aa4a00-9fc9-11e9-8a30-6b1cd0ffd003.png)
[HO-2019-07-06.log](https://github.com/akasolace/HO/files/3364480/HO-2019-07-06.log)

[2019-07-06 07:28] akasolace commented on #166
08:38:56 [Error]   core.model.FormulaFactors: Error while loading prediction/defaults.xml
Under mac prediction/defaults.xml is not found. I had to change that part recently, I tested it with zip, and windows exe but not with mac.
@mistermax80 can you do a step by step debug and tell me more about it ?

[2019-07-06 10:10] akasolace opened #167 "[improvment] Performance in rating prediction manager"
situation:
GetStaminaEffect() is called an unecessary number of times

proposal:
GetStaminaEffect should be moved out from RatingPredictionManager to Player class,
the function should be called when player startTime is modified.
The function will store an array of minute based stamina effect which be a new member of the Player class.
RatingPredictionManager  would only read value from the array in

[2019-07-09 06:27] akasolace commented on #107
@konved  Could you have a look to this one and to #108 and have an assessment of how much work it would be to tackle this? Can we try to squeeze it into 2.0 or would we have to wait for next release ?

[2019-07-09 06:31] akasolace opened #169 "[eBUG] Teamanalyser is broken"
@DavidatorusF reports that Teamanlyser module is broken

java.lang.NullPointerException
    at module.teamAnalyzer.ui.TeamPanel.setMyTeam(TeamPanel.java:219)
    at module.teamAnalyzer.ui.TeamPanel.jbInit(TeamPanel.java:67)
    at module.teamAnalyzer.ui.TeamPanel.<init>(TeamPanel.java:52)
    at module.teamAnalyzer.ui.MainPanel.<init>(MainPanel.java:11)
    at module.teamAnalyzer.ui.TeamAnalyzerPa

[2019-07-09 06:33] #38 closed

[2019-07-09 07:05] akasolace commented on #165
I will replace them by total rating to stay in the same spirit as we have today.  In the future we might decide to remove them completly.

[2019-07-09 08:55] Synthespian commented on #107
Personally, I'd stick it as a nice to have and do after.  Major upgrades need to be hard-hitting and this only covers a tiny percentage of users.
And if they are making changes to the NT process, maybe the shortlist would be the better thing to import rather than / including the team sheet.

As a side comment, I'm in "thank you cap mode for Q2 players who missed out because we didn't qualify".  I'

[2019-07-09 09:04] akasolace commented on #107
@Synthespian
Personally I do not know anything about NTHRF, I am not even aware of current HT support.
Your comment above is cryptic to me.

This I got, according to you no need to rush anything into 2.0 release. That's good news.

Here I am lost. Who are "they" ?  HT devs ?   What is the shortlist you are talking about ? What is you call the team sheet ?

Here again I didn't catch a thing.

As yo

[2019-07-09 16:16] akasolace opened #170 "[eFEAT] columns information in Lineu and Squad tab"
column shirt number (between name and flag)  => should we remove it ?
column with checkboxes (next to Age) => what are those for ? do we need them or should we remove the column ?
column Positionned:  do we want it ? keep it like this or put word instead of the shirt color ?

other columns ordering and color:  maybe start with form and stamina with the same color and then the other caracteristics

[2019-07-09 20:00] #165 closed

[2019-07-09 21:32] brokenelevator commented on #170
I don't know. I don't have the column. For me numbers are only in 'positioned'.

From what I understand those are to include/exclude players from auto lineup. If someone is using it, they are useful.

I don't see a reason in removing it since it can be disabled in options. Sure we can change shirts for positions (like DL, MC) but I see nothing wrong with shirts. Those convey the same, just with co

[2019-07-10 13:15] mistermax80 commented on #170
I would like to think on this... Leave me take some days for my replies.

[2019-07-11 10:56] Code-Genious opened #171 "On the upload/download tab the "get Rating" button gives java nullpointerexception"
java.lang.NullPointerException
	at module.lineup.exchange.UploadDownloadPanel.getRatingsPrediction(UploadDownloadPanel.java:211)
	at module.lineup.exchange.UploadDownloadPanel.lambda$addListeners$0(UploadDownloadPanel.java:395)
	at javax.swing.AbstractButton.fireActionPerformed(Unknown Source)
	at javax.swing.AbstractButton$Handler.actionPerformed(Unknown Source)
	at javax.swing.DefaultButtonModel

[2019-07-15 16:19] akasolace commented on #161
closed by #172

[2019-07-15 17:13] akasolace commented on #161
@brokenelevator
the labels Hatstats / Loddar are missing ...
Also is it possible to align the boxes CD/MF/CA ?

[2019-07-15 17:50] brokenelevator commented on #161
@akasolace I'm not sure what you mean by align the boxes.
as for labels... there are no labels for the sectors. why should there be for hatstats and loddar.
there are tooltips.

[2019-07-16 06:51] akasolace opened #173 "[eBUG] lineup initialization ignores non official game"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2019-07-16 06:53] akasolace opened #174 "[eBUG] stop forcing HT prediction to 1 as minimum value"
ensure consistency both in feedback plugin and in getPredictionRating function

[2019-07-16 18:20] #174 closed

[2019-07-16 18:21] akasolace commented on #171
closed by f6347b4

[2019-07-16 18:21] #171 closed

[2019-07-17 19:07] akasolace commented on #133
closed by #175 (thank you @yaute74 !!)

[2019-07-17 19:07] #133 closed

[2019-07-18 16:19] akasolace commented on #154
I don't understand that bug was super ennoying to me, but I can't reproduce it no more.
I just put force_refresh=false and it working.
I am closing the issue for now !

[2019-07-18 16:19] #154 closed

[2019-07-18 16:40] #169 closed

[2019-07-18 19:05] akasolace commented on #141
@konved are you still working on this one ?
do you know when you will have it finished ?

[2019-07-18 19:11] akasolace commented on #166
@mistermax80  I do not have access to a mac anymore so I really rely on you for this one.
I can't do it myself but I am happy to give you advice if you are struggling.

[2019-07-18 19:22] akasolace commented on #158
I also confirm the bug
as a side question, I really dont see what the benefit of having show others ...

[2019-07-18 20:27] akasolace commented on #158
I believe this bug has been here for ever.

[2019-07-18 20:28] #158 closed

[2019-07-19 20:47] pierpaolocira opened #177 "Standard shortcuts for copy/cut/paste don't work in MacOSX"
Hi,
when I went to authorise CHPP, I copied the authorisation code from the website and tried to paste it into the related textfield of HO.
Anyway that field doesn't allow to paste neither via the keybord shortcut nor by opening the contextual menu (right click).
I had to manually type the code.

I use 1.437 on Mac OSX Sierra.

[2019-07-20 19:57] pierpaolocira opened #178 "POEditor and contributing"
Hi,
I tried to clone my fork of the master repository in order to create a project.

The issue I had, related to "POEditor": build.gradle needs for a value (or a reference) for "POEDITOR_APIKEY" in order to continue to build.
By commenting that row I was able to build the project.

I don't know either this is the right way to proceed or not, but the real solution should be mentioned in the "How to

[2019-07-22 06:04] akasolace commented on #177
Hey @pierpaolocira,  is ctr+c / ctr+v working ? (I am using ctrl and not apple special key as it should normally be the case)

[2019-07-22 06:07] akasolace commented on #178
agree.
you are not the first one to struggle on that part. The doc should be updated

[2019-07-22 15:08] akasolace opened #179 "[eFEAT] Feedback plugin should also collect and send to the database injury status (healthy, bruised ..)"
Feedback plugin should also collect and send to the database injury status (healthy, bruised ..)  as it might introduce a bias in regression analysis

[2019-07-22 15:10] akasolace commented on #179
@mistermax80  this one is trivial on client side but I am not sure how much work it is on server side.

[2019-07-22 18:48] pierpaolocira commented on #177
Hi @akasolace, in which folder should the HO db saved? I would like to (temporarily) move it, in order to launch the application and have gain the OAuth screen (so that I can place it again in its place after testing).

Just to mention, some tests I did:
- I was not really able to open the application from source files, because of a lot of Exceptions linked to the way Swing is mapped to the native

[2019-07-23 08:35] akasolace commented on #177
@pierpaolocira,

 in MacOS I believe the db folder is located in the user home directory

Regarding the errors you got I don't know as I don't recall similar issue when I tested it in a mac virtual machine.
If I understand correctly what you are saying, if app launched from the IDE or java command,  cmd+v is working but if the app is launched directly via the binary then it CTR+C which is working

[2019-07-23 20:15] pierpaolocira commented on #177
@akasolace let me do some additional tests, and I'll give you a more detailed and clear picture.

I'm sorry not to be able to reply more quickly, but I'm still struggling with the aforementioned issue Java+Mac+IDE (it seems that there is a bug in the Swing implementation under Aqua, but I was not able to solve neither by updating java, not by upgrading it and launching in compatibility "java 8" mo

[2019-07-24 05:45] akasolace commented on #177
@pierpaolocira  HO is using the system JRE.  Which IDE are you using?  Last time I tried, it was in a VM using Intellij and it was working fine...

@mistermax80  maybe you can help here.

[2019-07-25 16:42] mistermax80 commented on #177
@pierpaolocira Could you try to set you IDE (on MacOs) as the following screenshot:
![Schermata_2018-12-15_alle_10 02 41](https://user-images.githubusercontent.com/15519907/61892352-e69c1300-af0b-11e9-8fb0-146c0f1b20e4.png)

[2019-07-25 16:47] mistermax80 commented on #170
Following my comments:

column shirt number (between name and flag) => as @brokenelevator "I don't know. I don't have the column. For me numbers are only in 'positioned'."
column with checkboxes (next to Age) => i don't know
column Positionned: => I used the color shirt and the positions, change color vs label can be a good idea

other columns ordering and color: => maybe start with form and stami

[2019-07-25 17:40] pierpaolocira commented on #177
@mistermax80 thank you very much. Indeed adding the VM Options I was able to run it properly from the IDE. I'm not a big expert in Awt/Swing and I didn't find something like that in google (but now I see that it is also reported in the Gradle build).

@akasolace I can now tell you that I was wrong in one of my previous replies, sorry.

**There is no difference in running HO via the IDE or the via

[2019-07-25 18:14] pierpaolocira commented on #177
@akasolace
I read again the StackOverflow reply that I pasted, and I think it's the cause (i.e. it seems that we are using a different L&F).

Indeed `UIManager.getLookAndFeel().getName()` returns `Nimbus`.
But default value in MacOSX should be `Mac OS X`, that is the value I get if I set it at the beginning of the `main` in `Ho.java`.

Furthermore... If I, for example, write the following code bes

[2019-07-25 18:37] pierpaolocira commented on #177
It seemed to be quite easy... I hope it complies with project guidelines.
Please remember to test it under a system different that MacOSX (I cannot do that) in order to be sure that no regressions are introduced.

[2019-07-25 20:19] akasolace commented on #177
Thank you I will test and merge tomorrow ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-26 08:52] akasolace commented on #177
closed by #180

[2019-07-26 08:52] #177 closed

[2019-07-26 09:03] akasolace commented on #166
@pierpaolocira  maybe you can help @mistermax80  on this one.
One way to start is for example to look at how the prediction files are loaded and do the same within a ifmac clause.

[2019-07-26 14:46] mistermax80 commented on #179
@akasolace in the jsonobject already send the field m_iVerletzt --> week injuried, I must check that value in case of plaster
Do you have a player in this status, could you please sent a feedback using that player?

[2019-07-26 15:49] akasolace commented on #179
@mistermax80

I just tried but I got an error message. The data has not been successully sent ...
Unfortunatly I have no time to invetiguate at the moment. Maybe someone else can confirm the error.

[2019-07-26 20:23] pierpaolocira commented on #166
@akasolace OK, I should be able to take a look in some days... but I have some trubles in reproducing.
(Maybe stupid questions, but I have no experience both with this project and gradle - I'm a mvn fan :) )

From the screenshot it seems that it happens at startup from a compiled version, but the `:createDmg` task fails to me if I launch `gradle build`.
Indeed, if I launch it from the IDE I have n

[2019-07-26 21:33] akasolace commented on #166
@pierpaolocira Indeed from the IDE it will work but fails from the app because it will look the ressource in the home folder instead of looking at it within the prediction folder within the jar.

I don't think building the app will help in closing this issue, however if you want to build it, I suggest you create a minimal task with only the necessary steps. maye something like (I cant' test) :

ta

[2019-07-26 21:34] akasolace commented on #166
/path/to/project/HO-pierpaolocira/build/macApp/.background/HO-pierpaolocira\buildResources\Mac\Back.png

That path looks ok to me. Does it not exist on your system ?

[2019-07-26 21:39] akasolace commented on #166
@pierpaolocira you can join the dev team on slack
https://join.slack.com/t/ho-tle6272/shared_invite/enQtNzAxMzU2ODEzODg5LWY5OTVmYTY1OGI3MjZmZjUwYTRlYmJlZjMzN2Q2MTE1MWRhNTVlNjBhYjAwNmE1NjQxYjc2NGMwNDhkNmU4MjQ

[2019-07-27 09:22] pierpaolocira commented on #166
@akasolace

I think this is the only way I have to test either the fix works or not... or do you see other possibilities?

Thanks, I'll try this way... we'll investigate in a second moment why it doesn't perform the full build on Mac (at least on mine :) )

[2019-07-27 13:55] DavidatorusF opened #181 "[eFEAT] button "download match again" through Matches tab"
**Is your feature request related to a problem? Please describe.**
In tab "Matches", we can download again a "corrupted" match but not a match without score (mean we missed to update HO during holidays or for an other reason)

**Describe the solution you'd like**
I want to be able to download the match again through the button bottom left without use module -> download matches (where I have to cop

[2019-07-27 13:58] akasolace commented on #166
@pierpaolocira  the full build would require nsis to create the windows .exe, maybe you do not have it ...

[2019-07-27 20:23] pierpaolocira commented on #166
Oh, I misunderstood your initial reply... sorry

[2019-07-27 21:26] pierpaolocira commented on #166
@akasolace I'm finally able to build the OSX executable and reproduce, but I had to change the build.gradle by commenting the line `bundleJRE = true` into `macAppBundle {`

Indeed, without it, Java11 is embedded into the application, and the source code is not yet compatible, so the application just shows a generic "JRE Error" in the splash screen.

Perhaps this relate to my workstation having Jav

[2019-07-27 21:41] pierpaolocira opened #182 "[eBUG] Not correct building if it is launched from a branch"
This happens if you have a branch, e.g. HO-xxx and try to build the MacOSX executable.
Then into ./build/macApp you'll find both:
- HO-xxx.app - containing all the effective content for the application (I guess created this way by the macAppBundle plugin)
- HO.app - containing only the file changelog.html (this is manually done in the task `AddResourcesAndZipMacApp`)

This should not be problemati

[2019-07-27 23:48] pierpaolocira commented on #166
@akasolace @mistermax80
I'm quite confident that there is a configuration issue in building (but I repeat, I'm quite new with gradle), because I cannot find any "prediction" folder either in the HO.app file or in the related HO.jar

A few questions:
- is there any reason not to invoke `osXjar` into the `makeosX` task? I think it should be added
- is there any reason to `exclude "prediction"` into

[2019-07-28 00:03] DavidatorusF opened #183 "[eBUG] Dev can't send "automatic" lineup"
**Describe the bug**
Using button "start assistant", I can't send the lineup right after

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lineup tab'
2. Click on 'button "start assistant"'
3. Go to 'Upload/Download sub-tab'
4. Click on 'Upload Lineup"
5. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/62000560-f49f8e80-b0d9-11e9-90dd-1f933d73ea09.

[2019-07-28 12:14] DavidatorusF opened #184 "[eBUG] DEV teamanalyser with many stars / player evaluation number"
**Describe the bug**
on teamanalyser, we still see stars... with many stars according to the number with hundreds for player evaluations.. I though you had to divise them by ten for be according with those from foxtrick

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'teamanalyser'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/62006510-8abacf

[2019-07-28 12:26] DavidatorusF opened #185 "[eBUG] DEV copy "lineup and ratings""
**Describe the bug**
little bug using copy "lineup and ratings" in lineup up right

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lineup tab, windows ratings'
2. Click on 'copy button -> lineup and ratings'
3. Past on HT
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/62006590-cdc97280-b142-11e9-87bf-45be0451757d.png)
then how it look once po

[2019-07-28 13:01] DavidatorusF commented on #184
here is our actual player evaluation
![image](https://user-images.githubusercontent.com/45043004/62006974-3109d380-b148-11e9-8cb4-ac41262bede8.png)
I really think we have to divide them per ten for be according with those from foxtrick and not make users in trouble

once divided, maybe can we let the stars on teamanalyser... I let you know... you're the developer ^^

[2019-08-01 14:44] DavidatorusF opened #187 "[RLS] stable link not updated to last 1437"
**Describe the bug**
stable link is not updated to last 1437

**To Reproduce**
https://github.com/akasolace/HO/releases/tag/stable go to HO_1.437.2.1076

even if we have an HO_1.437.2.1081 here https://github.com/akasolace/HO/releases/tag/1.437

[2019-08-02 19:17] pierpaolocira opened #188 "[eBUG] Player skills estimation"
These are the steps:
- update data in HO (F11)
- buy a new player and train it
- if the skill increased of "one unit", this is wrongly managed by HO

Description of the issue I experienced, so that I can explain the side effects:
- new player has "4" for the skill I train (but we cannot know decimals)
- after the training the skill becomes "5"
For HO:
- there was no "skill upgrade from 4 to 5" in

[2019-08-05 21:58] akasolace commented on #184
@DavidatorusF I thought I already divide it by 10.
Are the screenshot made with latest DEV ?

[2019-08-05 22:00] akasolace commented on #185
@DavidatorusF  I did not know that functionality ...

[2019-08-06 11:13] yaute74 commented on #185
I will treat it

[2019-08-06 20:34] DavidatorusF commented on #184
@akasolace 2.0 r1273

[2019-08-07 10:46] akasolace commented on #185
closed by #189 (@yaute74 )

[2019-08-07 10:46] #185 closed

[2019-08-07 10:47] akasolace commented on #184
@DavidatorusF  ok I will look at this one when I am back from my hollidays

[2019-08-07 10:56] akasolace commented on #182
@pierpaolocira,  I guess the idea is to fix AddResourcesAndZipMacApp and to copy file in HO-xxx.app, right ?  Do you have an idea on how to do this?

[2019-08-07 10:59] akasolace commented on #188
It is feasible but I am not sure of how much work this will require

This is already possible. What am I missing ?

[2019-08-08 19:59] pierpaolocira commented on #188
Sorry, it was not written properly. My idea is that either we fix it as proposed (HO manages it automatically) or we keep it as today (because HO allows the uset to manually set values).

I'm going to rephrase it properly.

I would suggest to keep this feature as open in the queue, and not to keek HO as today...
Ideally, if someone could provide a high level estimation of the effort it would help

[2019-08-08 20:02] pierpaolocira commented on #182
@akasolace no, as tolt I'm not an expert with Gradle... but if noone else has time for it, I can try to solve. Please, let me know.

[2019-08-08 20:14] pierpaolocira commented on #178
@akasolace we might create a page with some FAQs on how to set the project up... I have a few that could be really helpful for MacOS users... then the page could grow slowly.
Give me the link in case you think it can be done this way.

[2019-08-08 20:39] Synthespian opened #191 "[eFEAT] NT Tactics needs extended style of play / coach type options"
When reviewing a lineup in HO, the attacking or defending options are set by the style of the coach.
In the NT lineup in HT, you are able to set a slider (in 10% sections) from 100% defending up to 100% attacking.  These adjust the ratings in attack and defence.
In HO there is no way to re-create that.

Suggestion:
* Have at least a 100% defensive, normal and 100% offensive (this matches the three

[2019-08-08 20:53] Synthespian opened #192 "[eBUG] NT hrf download does not allow for first names"
NThrf download does not include player's first name.

**To Reproduce**
Modules > NThrf Download
XML download

File sent privately to yaute

[2019-08-11 19:28] pierpaolocira opened #194 "[eBUG] Hard to read suggestions in "LineUp""
The "tooltip" text is very hard to be read.
<img width="513" alt="immagine" src="https://user-images.githubusercontent.com/11422667/62838594-ef684500-bc7e-11e9-9c8a-d43e01e90c82.png">

I would suggest to add a background color.

[2019-08-11 19:59] akasolace commented on #194
Agree or maybe changing the police color is enough

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-11 20:06] akasolace commented on #178
@pierpaolocira don’t you want to create a wiki page? You can create one and do a PR or you can wait few days and I will give you writing rights to the wiki this weekend when I am back from my hollidays

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-12 19:36] pierpaolocira commented on #194
It should be OK now...

[2019-08-12 21:45] pierpaolocira commented on #178
@akasolace I never worked with PR and Wiki pages, and I don't have time today to see how to do.
Please, you can find the new "FAQ" page, and a small change of the "Contributing-to-HO" page into my fork at (https://github.com/pierpaolocira/HO/wiki/FAQ) and (https://github.com/pierpaolocira/HO/wiki/Contributing-to-HO).
Feel free to port them into the main Wiki and/or to edit the content as you prefe

[2019-08-14 09:22] #194 closed

[2019-08-14 09:34] akasolace commented on #187
I copied the artefacts from 1.437 into stable.

[2019-08-14 09:34] #187 closed

[2019-08-14 09:39] yaute74 opened #196 "[eBUG] NT Linueup empty after download"
**Describe the bug**
After download NT hrf the linueup is empty
After download a lineup from Hattrick, linueup is also empty

[2019-08-14 09:58] akasolace commented on #191
@Synthespian   is it not what coach type and style of play options are for ? If not please give us some additional information

[2019-08-14 09:58] akasolace commented on #182
closed by #193

[2019-08-14 09:58] #182 closed

[2019-08-14 10:06] akasolace commented on #183
@DavidatorusF  I just test it and I confirm the bug
I do not have the issue with translation thought

[2019-08-14 15:49] #183 closed

[2019-08-14 15:52] akasolace commented on #192
closed by #197

[2019-08-14 15:52] #192 closed

[2019-08-14 16:04] akasolace commented on #178
Done, thank you !

[2019-08-14 16:04] #178 closed

[2019-08-14 16:06] Synthespian commented on #191
Damn.  Sorry. I've said it very badly.
No wonder you were confused. :)

**Coach** = Current coach style (e.g. 100% offensive) and cannot be changed even for a club team.  It has to be neutral for an NT team as there is no coach.
**Style of Play** currently, for a normal club team, allows you to override the style (either attacking, normal or defensive) to review how that might change your team's r

[2019-08-14 16:17] akasolace commented on #166
@pierpaolocira

yes, it should be added ( I just did)

Indeed if I invoke also osXjar in the chain of tasks for building the app AND I comment that exclude, this issue doesn't happen.

The idea was to separate was goes into the jar and was is easily accessible to user (for example a user can manually edit prediction formula file and for this it should not have to enter into the jar).

Instead they

[2019-08-14 16:27] akasolace commented on #191
in HO I see I can select defense-minded, neither atttack nor defense minded or fond of attacking.
Is not option 2 equivalent to neutral ?  At least I see those options when using HO with regular team, I am not sure of what it looks like for NT team (@yaute74  ??)

Again I am not a specilist here but my understanding is that you can change style of play only when you got tactical assisstants. If it

[2019-08-14 18:11] yaute74 commented on #146
@akasolace I think you can close it, no ?

[2019-08-14 18:55] akasolace commented on #146
closed by #186

[2019-08-14 19:07] akasolace commented on #184
@DavidatorusF  I can't reproduce it.
I think you simply need to do preference -> reset formula and it should be ok.
I close it at the moment, if you think the bug really exist please reopen it .

[2019-08-14 19:07] #184 closed

[2019-08-14 19:25] akasolace commented on #184
@DavidatorusF  I guess we should emphasizes it in the release notes.

[2019-08-14 19:30] akasolace commented on #179
@mistermax80  I tested it again and the error still exist !

[2019-08-15 08:54] akasolace commented on #179
@mistermax80 you can obtain the player injury status by calling getVerletzt()
the result is an integer that you can simply store along others player information.

[2019-08-15 12:13] pierpaolocira commented on #166
They **should** go... As written,  I cannot find any "prediction" folder either in the HO.app file or in the related HO.jar.

I generated them via the following tasks
`['init', 'installDist', 'AddResourcesInDistrib', 'ZipDistribution', 'osXjar', 'createApp', 'AddResourcesAndZipMacApp']`

Sure.

Content of the generated HO-*.app
[code]

Content of HO.jar (only directories)
[code]

[2019-08-15 13:04] DavidatorusF commented on #184
added

[2019-08-15 17:37] akasolace commented on #166
@pierpaolocira  ok indeed those folders were incorrectly excluded.
I put them back, and I recreated artefacts, please let me know if it fixes the issue.
Thanks

[2019-08-15 18:45] yaute74 commented on #107
Bad news, the teamid is not the good way to test if it's national team.
So I do something else for this part

[2019-08-15 19:44] pierpaolocira commented on #166
@akasolace this was exactly the test I did some days ago. This partially solves the situation, because the loading moves forward until throwing another exception that seems to be related to the current issue.

Here the new logs are:
[code]

Furthermore this puts back the files into the HO.jar, so this can't match with the idea to keep user editable files out of the JAR in order to allow an easy ed

[2019-08-15 20:04] pierpaolocira opened #198 "[eBUG] Can't build OsX .app if Java 11 is the default version"
This happens in case the default JRE on MacOSX is Java 11.
To verify run `/usr/libexec/java_home` and the output should be `/Library/Java/JavaVirtualMachines/jdk-11.0.4.jdk/Contents/Home`

By building the HO.app with gradle, the application just shows a generic "JRE Error" in the splash screen.

It is not clear if it is related either to the code (not yet compatible with Java 11 (see issue #106 )

[2019-08-15 20:53] akasolace commented on #198
@pierpaolocira  I did not even know it was bundled (shame) :-)
if you put it equals to False does it work ?

[2019-08-15 20:55] akasolace commented on #166
it appears It was actually never (easily) possible under mac,  does not look like a big deal to me, what do you think. Also I do not know how to deal with it differently

[2019-08-15 20:59] akasolace commented on #166
I guess it fails within function readFromXML within FormulaFactors.java . Can you confirm and see if you can find where it crashes. I guess we need a specific call if platform is osX, see how dat files are read for examples.
readFromFile calls () in RatingPredictionConfig.java might help

[2019-08-15 21:03] akasolace commented on #166
The latter option would allow not to have this blocker in MacOSX for v2, but at the end we might have a bigger effort to achieve the desired result... I imagine this depends by the schedule we have for v2...

I am not sure of what you mean but for clarity we will of course not release the v2 until it works under mac.
Now going forward if you find a way to store prediction outside of the JAR will b

[2019-08-15 21:04] akasolace commented on #107
@yaute74 ok, for curiosity what is the correct way to test this?

[2019-08-15 21:26] pierpaolocira commented on #178
Anyway, when you have time, please give me rights on the Wiki... ;)

[2019-08-15 21:37] pierpaolocira commented on #198
@akasolace

:)

Yes... but I imagine it works because a JRE is available on my workstation.

I currently use (as a stable version for my Hattrick team) the 1.437 downloaded from here (already built by you) and it works fine... but I just verified and it doesn't seem to bundle a JRE.

So, we have just to make sure that MacOSX users manually install a compatible JRE in order to use HO (as it seems t

[2019-08-15 21:51] pierpaolocira commented on #166
@akasolace  I just put back the "exclude", built the zip via `gradle clean installDist AddResourcesInDistrib ZipDistribution` (I don't know if I run more tasks than necessary), and directly run via `java -jar HO.jar`.

And it works.

Please take a look to the structure of the folder (`prediction` is at the same level of the jars).
[code]

So, it should not be impossible.

But I'm mainly JEE develo

[2019-08-15 22:24] pierpaolocira commented on #166
@akasolace as additional information, outcomes of the tests I did:
* adding `prediction` in the HO.jar of the HO.app and launching the Mac .app --> the aforementioned NullPointerException
* manually adding `prediction` in any possible location of HO.app (+ also at the same level of HO.app) and launching the Mac .app --> still original issue (ExceptionInInitialierError)
* manually adding `predictio

[2019-08-16 07:30] akasolace commented on #166
@pierpaolocira I struggled to make it works the first time.
At the moment I would stick with current approach

if you debug the app under macOs, can you see where it fails.
Is it in `formulaFactorsFile = new File(getClass().getClassLoader().getResource("prediction/defaults.xml").getFile())`  ?

and why does it work in  `br = new BufferedReader(new InputStreamReader((loader.getResourceAsStream(newF

[2019-08-16 07:34] akasolace commented on #198
I do not recall having made change to  that part of the code since 1.437
Yes I think we should set bundle jre=False.  I am not even sure it is a good idea to have this as a feature request but you can still create it and we can think about it down the road.

[2019-08-16 07:37] pierpaolocira commented on #166
@akasolace yes, I noticed that... but the issue is that if I launch my IDE it works fine... and if I launch it via command line (java -jar) it works fine... and if I launch via command line the content of the ".app" file it continues to work fine!
The issue can be reproduced only when the application is launched as a .app... and I can't debug it.

By chance, do you remember exactly the latest work

[2019-08-16 07:53] akasolace commented on #166
I guess the bug appeared approximtivly 2 months ago when I worked on HO/src/main/java/core/model/FormulaFactors.java

Anyway, I believe the issue is that under Mac the ressource is within the JAR so it should be accessed via getResourceAsStream (as mentioned above). I see 2 approach:
    - 1) we can have a single method using getResourceAsStream  for all platform
    - 2) we use a specific piece o

[2019-08-16 09:46] akasolace opened #199 "[eFEAT] track experience aquisition"
minute based training according to the following formulas (unwritten manual);

  - [x] initial support of the functionality (PR #363)
  - [x]  consider NT games  (PR ##364)

![image](https://user-images.githubusercontent.com/1136496/63159255-61dc7a80-c01b-11e9-89a9-33e0f703f749.png)

[2019-08-16 14:41] DavidatorusF commented on #107
@akasolace
I think you need the userid, if the manager is a National coach, you get the players through the  NationalPlayers API

[2019-08-16 15:07] pierpaolocira commented on #198
@akasolace I think that Mac (spoiled :) ) users would love to just drag'n'drop the .app and use it without be worried about JRE... and it complies with Oracle guidelines.

Anyway let's put it to false for the time being.

You can assign to me, and I'll change and test when I resolve #166

[2019-08-16 15:13] pierpaolocira commented on #166
@akasolace Thanks for the information.

I am not sure what you mentioned is the exact cause of the issue, because of one of my tests:

So in a situation where predictions is NOT in the jar, but in a directory at the same level --> the application runs properly on MacOX if launched directly via the jar (I mean, the JAR placed into the .app).
So **exactly the same files** work if you launch from the

[2019-08-16 15:19] Synthespian commented on #107
1) whilst I'm an u20 manager, I'm happy to help with testing.
2) definitely want both an u20 and a full NT as I bet there's a difference or two somewhere. ;)
3) or just get the NT managers to download and send you the nthrf files.

[2019-08-16 17:20] akasolace commented on #198
@pierpaolocira ok so lets create a ticket for this to be done down the road ... maybe after we upgrade to java 11

[2019-08-16 17:43] akasolace commented on #166
@pierpaolocira

This confirms what I said, if ressouce is outsie of the jar it works, otherwise it needs to be called using `getResourceAsStream`.

Also as I mentioned, you can try to use only `getResourceAsStream` and I imagine it should work under all platform (as it is the case for dat file) otherise keep the code as is and simply use `getResourceAsStream` if platform is macOS.

[2019-08-16 18:04] akasolace opened #200 "[eFEAT] migrate feedback plugin database to a team accessible server"
**Is your feature request related to a problem? Please describe.**
At the moment the database is store in @mistermax80  private account and unfortunately he is less and less active in the project.   It seems dangerous to me to build the database in a server that belong to a single user.
I suggest to create a team account (e.g. https://infinityfree.net/ or  staying at 000webhostapp.com ) and recrea

[2019-08-16 19:05] yaute74 commented on #107
His solution is to create a list with all teamid, but I don't like it.

I don't understand your solution

Realy appreciate your help

Why do you say that ? it work for national team. The danish manager do a test

My solution is to add a new field in "BASICS" table to indicate if it's a national team. If we use the download from NtHrf menu the flag will be set to yes, if we use the "standard" downl

[2019-08-16 19:18] Synthespian commented on #107
If it's the only way you get the hrf then surely it's a element you can incorporate as you write the hrf fle?  Seems sensible.
Silly question, what functionality are you trying to **_enable_** with the NT team that a standard manager would not want?
My guess is that it would be reduced functionality (don't need training page, etc) so you could even make it a user task to state that this db is an N

[2019-08-16 20:23] yaute74 commented on #107
Actually I just want that Download HRF and lineup works (no other things)

I've been thinking about this solution, it more easier to implement and a more secure change

@akasolace @DavidatorusF  what do you think about it ?

[2019-08-16 20:47] pierpaolocira commented on #166
@akasolace

I was not telling that your approach shouldn't solve...

I would just keep track that the root cause of the issue is on the JavaLauncher (inside the .app)... because it seems not able to support loading of resources outside the jar.
Indeed the same folder structure lauched via "java -jar" works fine.
I think this is a limitation of the gradle plugin (indeed there is at least one fork -

[2019-08-16 20:57] pierpaolocira commented on #198
I thought it was better closing this small one before starting massively working on 166. :)

[2019-08-16 21:32] pierpaolocira opened #202 "[eFEAT] Bundle JRE in Executable"
This request follows #198

When #106 is done, verify if the MacOS `.app`  can be distributed by embedding the JRE.

From the related issue

[2019-08-16 21:48] pierpaolocira commented on #166
Quick and very dirty...
Maybe we can have a unique utility class to load resources (that will take care to load a File o from the ClassLoader), in order to centralize all the calls.
If you agree, please create a new feature request and assign to me... it should be quite easy.

[2019-08-16 21:51] DavidatorusF commented on #107
@yaute74
why do you want lineup ?

NT coach need his players for simulate his lineup, he don't care about the old one...

about upload/download lineup, it's something who didn't work before for NT

and remember that non-supporter will never be allowed to upload their lineup

[2019-08-17 09:34] akasolace commented on #198
closed by #201

[2019-08-17 09:34] #198 closed

[2019-08-17 09:35] akasolace commented on #166
closed by #203

[2019-08-17 09:35] #166 closed

[2019-08-17 09:46] akasolace commented on #107
@yaute74  I am not familiar with this topic. If I am most information are coming from NTHRF file (from hattrickportal) and not from CHPP, correct ? Is it a mix of datasource you have to deal with ?

@yaute74   is the test to check whether or not it as NT team not reliable ?  In case it is not reliable,  you are suggesting on first import to ask the user whether or not it is a NT team and if it is

[2019-08-17 10:08] akasolace commented on #200
I will do it

[2019-08-17 14:37] pierpaolocira opened #204 "[eBUG] SkillDrops files not loaded"
Just open "Preferences" from my IDE in MacOS and got the following exceptions:
[code]

The issue should be around line 242 of `core.training.SkillDrops`

[2019-08-17 15:47] pierpaolocira opened #205 "Create a unique resource loading system"
A new component should make transparent for developers whether the requested resource is placed outside (at the same level in the directory tree) or simply inside the HO.jar.

This is very helpfull for MacOS (see #166 ).

[2019-08-17 15:47] pierpaolocira commented on #204
To be done after  #205

[2019-08-17 18:21] pierpaolocira commented on #204
This is already fixed on my branch, because it relates the fileLoader refactoring that I'm working on... I'll take care to mark any related issue in the pull request.

[2019-08-17 21:22] akasolace commented on #204
closed by 92efca1

[2019-08-17 21:22] #204 closed

[2019-08-17 21:22] akasolace commented on #205
closed by 92efca1

[2019-08-17 21:22] #205 closed

[2019-08-17 21:51] yaute74 commented on #107
@akasolace to my knowledge all datas come from CHPP

For the lineup problem I create the issue #196 The Danish national team manager want to use it. I send an HO.jar to  Synthespian with debug info. If it's not an esay modification I will do nothing.

For this issue, download of hrf work but the source code to check if it's a national team is not good. So I suggest two solutions:
- add a flag in t

[2019-08-17 23:17] DavidatorusF commented on #107
@akasolace
module NTHRF was a way for only get NT players already in the NT team

with the HRF from Portal, NT Coach and his scouts have the possibility to import a list of players, list they have created on Portal

as I understand, Yaute work for NT team become a "regular" team

[2019-08-18 10:19] akasolace commented on #107
@DavidatorusF ah ok thanks for the precision

[2019-08-18 12:48] mistermax80 commented on #179
In JSON object already present that info, so it is not need call that function

[2019-08-18 14:54] mistermax80 commented on #179
The new server has been updated with this information.
https://hofeedback.000webhostapp.com

[2019-08-18 14:55] mistermax80 commented on #200
the migration is completed.
todo update by java side the new link:
remote: https://hofeedback.000webhostapp.com/ws-ho-feedbacks
local: https://hoserver.loc/ws-ho-feedbacks

[2019-08-19 13:31] DavidatorusF opened #208 "[eBUG] formulas after update stable to dev"
**Describe the bug**
this bug follow #184

**To Reproduce**
Steps to reproduce the behavior:
1. Use the stable (no need to authorise it)
2. File -> preference -> look at formulas
3. File-> preferences -> release channel -> dev
4. Help -> check for update ... then update
5. File -> preference -> look at formulas... the needed numbers are set to 100 for every skills
6. reset formulas ... the numbers

[2019-08-19 14:12] akasolace commented on #208
When updating to 2.0 during the database upgrade the table containing the formula coefficients should be dumped. The release not should be updated accordingly

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-19 14:27] akasolace commented on #179
@mistermax80 can I close this one ?

[2019-08-19 14:29] akasolace commented on #179
closed by 79a7c45ef8c16fc8d6915effd37af63491c01073

[2019-08-19 14:34] #179 closed

[2019-08-19 23:56] mistermax80 commented on #200
@akasolace I tried and the new remote server works fine.
In PR I changed the new server url.

[2019-08-22 14:18] #200 closed

[2019-08-22 14:21] akasolace commented on #141
@konved are you still working on this one ?
Are you planning to close it anytime soon? Should I remove the 2.0 milestone?

[2019-08-22 14:22] akasolace commented on #27
Hello @brokenelevator,

Do you have an idea will this one will be finished? This is the last open issue one before beta release !!

[2019-08-22 16:37] #208 closed

[2019-08-22 16:39] akasolace commented on #107
@Synthespian  can you confirm I can close this bug ?

Thanks

[2019-08-22 16:40] akasolace commented on #208
@DavidatorusF I think I closed it but I did not test
let me know if there is still an issue !

[2019-08-23 15:02] Synthespian commented on #107
Sure.
I'll re-test the new "flag" when it's released (unless I've missed it :P).  The rest (inc the hrf download) works.
Not sure if you guys wanted me to close, or for you, so just commenting for now.

Thanks! :)

[2019-08-23 15:51] akasolace commented on #107
what do you mean ?

if you tell me latest dev version fixes that issue, I will close it .

thanks

[2019-08-23 16:12] akasolace commented on #146
@yaute74   @DavidatorusF

I have something strange, almost all my players are greyed in the sub box (see screenshot below), ... maybe it is a bug only happening on Friday after the training but before the first game of the next week ?

Have you noticed it ?

![image](https://user-images.githubusercontent.com/1136496/63606883-65e73a00-c5d1-11e9-8467-16f2294cbab4.png)

[2019-08-23 16:56] DavidatorusF commented on #146
@akasolace
-The first grey is for player selected on the lineup
-The second grey is for player selected on the lineup for substition

but you're right... something wrong... when we clear lineup, grey stay in the menu

[2019-08-23 19:50] yaute74 commented on #196
So, @DavidatorusF  @Synthespian @akasolace  we cancel this issue ?

[2019-08-23 19:53] DavidatorusF commented on #196
as I now the players are in and module NTHRF work as before
maybe need a test from a NT coach for test it, I mean from a fresh install

[2019-08-23 20:46] yaute74 commented on #146
@DavidatorusF ok I will have a look.
@akasolace it's what you d (clear lineup) ?

[2019-08-23 20:47] yaute74 commented on #196
@DavidatorusF without modifications, I think it will not work

[2019-08-23 21:28] DavidatorusF commented on #196
@yaute74
oups, I though was an other issue..

you know my mind, for me we can cancel this one

as chpp don't send really the needed information, will be a really hard work to do

[2019-08-24 20:58] akasolace commented on #146
@yaute74  possibly, I don't remembre what created it in the first place

[2019-08-25 10:06] brokenelevator commented on #27
Hi there,
I have been busy with things lately (couple months now) and not sure how it will be now.
I'd like to finish it by the end of coming week but I have no idea if I'll have time to work on it.

[2019-08-25 11:09] #196 closed

[2019-08-25 14:16] akasolace commented on #146
closed by #211

[2019-08-25 14:16] #146 closed

[2019-08-25 14:39] akasolace opened #212 "[eFEAT] improve best position calculation"
**Is your feature request related to a problem? Please describe.**
We are computing the contribution of each player on each position on each sector, e.g:
  - 7 ratings for player A, playing as a CD Off
   - 7 ratings for player B, playing as a CD Off
  - ... etc for each player of the squad

Those 7 ratings are summed up to come up with a single note per player and per position.
Those notes are us

[2019-08-25 20:49] akasolace commented on #27
Hi @brokenelevator, thanks for the update.
Looking forward to this commit !

[2019-08-26 07:12] #107 closed

[2019-08-26 19:08] #212 closed

[2019-08-29 21:50] DavidatorusF opened #213 "[eFEAT] 3 best positions in darkest blue"
**Describe the solution you'd like**
As you can see in the screen-shot, there's two kind of blue for the value
- blue for normal position
- lightest blue for position with orientation's order

possibility to have a darkest blue for the 3 best positions of the player ?

**Additional context**
![image](https://user-images.githubusercontent.com/45043004/63978385-82deaa00-cab6-11e9-8fdd-28db8c1db9a7.p

[2019-08-29 22:00] akasolace commented on #213
Maybe also in combo box in lineup tab

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-29 22:04] DavidatorusF commented on #213
@akasolace in combo box, players are sorted by decreasing order for the position...

[2019-08-30 11:03] bmariesan commented on #106
@akasolace I can help you with the migration, however I'm not knowledgeable in Swing at all so I might break some things. Also I've seen that currently on JDK 11 and on JDK 8 on my version of Mac the project won't build due to the theme, only Nimbus is compliant. If I have some time this weekend or next week I'll add a pull request with the minimum changes required to upgrade to JDK 11

[2019-08-30 21:51] akasolace commented on #213
Yes I know but still somehow player best position could be indicated ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-01 13:52] brokenelevator commented on #27
@akasolace So, here is an update about current situation. It is not done yet. The work in progress version is available on my account (charts branch).
I'll need few more days to finish it.

[2019-09-01 18:22] tmscardoso opened #214 "[eBUG] MacOS - JRELoadError"
**Describe the bug**
I'm using the app installer (HO_1.437.2.1081_macOS.zip) and when trying to start the app I get a JRELoadError splash window.
Running /usr/libexec/java_home, I get:
/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home

Is it related with the adoptOpenJdk?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Applications
2. Click on HO app
3. Error windows a

[2019-09-01 18:35] akasolace commented on #27
@brokenelevator ok thanks for the update I will have a look at your branch

[2019-09-01 18:47] akasolace commented on #106
hello @bmariesan, I think this transition will not take place shortly.
If you want to participate in HO, which would be super cool, I would suggest you to pick an open issue with not such a wide scope. Happy to give you some idea :-)

[2019-09-01 18:49] akasolace commented on #214
@pierpaolocira @mistermax80  could one of you have a look to this issue ?

[2019-09-01 18:50] akasolace commented on #214
@tmscardoso  I have no idea, hopefully one of the 2 macOS dev can have a look shortly

[2019-09-01 21:11] pierpaolocira commented on #214
I use Sierra, but I see some possibilities for this kind of issies:
- either this relates to our #202 that originates from https://github.com/crotwell/gradle-macappbundle/issues/49 (but if I'm not wrong 1.437 was aleady pakaged without JRE)
- or you don't have a JRE8 compatible (but it doens't seem to be your case)
- your your JRE is not compatible/recognised with the gradle-macappbundle launcher

[2019-09-02 07:36] akasolace commented on #214
@pierpaolocira I am very surprised. I was convinced that adoptopenjdk was fully compatible with oracle JDK

@tmscardoso could you first test it you have the same issue with the development release.

[2019-09-02 08:25] tmscardoso commented on #214
@akasolace, the development release (2.0.0.1323_macOS) produces the same error window.

Installing Oracle JRE (jre-8u221-macosx-x64) temporarily fixes the issue but since I use the adoptOpenJdk for development purposes I'll need to keep both.

Thanks guys!

[2019-09-02 12:07] pierpaolocira commented on #214
@tmscardoso I would suggest you to please open an issue here: https://github.com/crotwell/gradle-macappbundle/ because this plugin doesn't seem be able to support any JRE other than Oracle.

@akasolace I think this issue can be closed, but I would suggest to change title to "MacOS - JRELoadError" without specifying the OS version... this might be helpfull in future for further users... (hopefully

[2019-09-02 13:31] akasolace commented on #214
@tmscardoso what do you mean by temporary?

This one could be fixed when we stich to java 11 as I understood that bundling the JRW will work , @pierpaolocira correct?  In the meantime,  I also suggest you raise the issue on  https://github.com/crotwell/gradle-macappbundle

I will do it as soon as @tmscardoso confirms installing oracle JDK on top of openJDK fixes the issue.

Thank you

[2019-09-02 13:54] tmscardoso commented on #214
I can't have Oracle software on my machine (it's my work/personal laptop), for me the best solution would be the adoptOpenJdk jre, but I understand if it's not high priority stuff right now for you

Confirmed, it works installing Oracle JRE on top of adoptOpenJDK, you can close.

Thanks again guys.

[2019-09-02 14:05] akasolace commented on #214
@tmscardoso  maybe you should have a look to this one  https://medium.com/solacedotcom/switching-to-adoptopenjdk-8d4a4aed16b8

[2019-09-02 14:05] #214 closed

[2019-09-02 14:07] akasolace commented on #103
@DavidatorusF  step 2 is for you.   You can send me the release note on slack.   I guess most of it will be used as-is for the HT forum announcement, what do you think?

[2019-09-02 19:14] akasolace opened #215 "[eFEAT] reshape team analyser"
Remove player and (innacurate) stars information. In the main tab, only display ratings comparison (similar to what is done in HT). On the left side as we would have more space add additional filters.

![image](https://user-images.githubusercontent.com/1136496/64131051-68624480-cdc6-11e9-9b1d-7f133664a62b.png)

[2019-09-05 16:32] DavidatorusF commented on #215
see the players, display how many times they have been positioned at this or that slot, display their form, display if they are injured
why not put our last known stars on our players?
capture with all possible options enabled (except mix lineup)

![](https://files.slack.com/files-pri/TH4B7A79B-FMYTJ0GA0/image.png)

[2019-09-06 13:03] akasolace opened #216 "[eFEAT] upgrade to gradle 5"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-09-06 16:56] akasolace opened #217 "[eBUG] utomatically selection of penalty takers does not respect selection filtering"
**Describe the bug**
In the lineup tab, automatically selection of penalty takers do not respect the filtering.
e.g reserve are picked even if only lineup is selected

[2019-09-09 17:55] brokenelevator commented on #27
@akasolace it has not been the best week, but progress is being made.
The branch is continuously updated.
I will not make another ETA. It simply will be done ASAP.

[2019-09-24 08:34] mistermax80 opened #218 "Missing Details in Player Analysis"
**Describe the bug**
Missing Details in Player Analysis --> see screenshoot
![Cattura](https://user-images.githubusercontent.com/15519907/65495391-f78ae580-deb6-11e9-82b9-ed93b5b06707.jpg)

[2019-09-24 08:37] mistermax80 opened #219 "Player Analysis errors - Compare Player"
1) Missing positions
2) column ordering doesn't work
![Cattura](https://user-images.githubusercontent.com/15519907/65495622-59e3e600-deb7-11e9-9a23-58257478cd9a.PNG)

[2019-09-24 08:41] mistermax80 opened #220 "Feedback Plugin - Parsing error"
HT copy in Italian
HO in italian.
The system shows error.
![Cattura](https://user-images.githubusercontent.com/15519907/65495885-bcd57d00-deb7-11e9-997b-4a6226d58d4c.PNG)

[2019-09-24 08:43] mistermax80 opened #221 "Update Previsioni"
HO throws exception, when I click on Calcola.
![Cattura](https://user-images.githubusercontent.com/15519907/65496078-1dfd5080-deb8-11e9-82b3-87b0341b8bf2.jpg)
log:
[HO-2019-09-24.log](https://github.com/akasolace/HO/files/3646168/HO-2019-09-24.log)

[2019-09-24 10:37] mistermax80 opened #222 "Missing rating value in Training Screens"
![Cattura](https://user-images.githubusercontent.com/15519907/65504820-1c3b8900-dec8-11e9-8994-a9f4f4a20709.PNG)

It wiil be nice, in this screen the players in training are highlighted

[2019-09-24 15:52] akasolace commented on #218
I can confirm this behaviour on Windows. Has anyone a screenshot of how it looked previously ?

[2019-09-24 15:53] akasolace commented on #219
Issue confirmed on Windows

[2019-09-24 15:58] akasolace commented on #220
I also have an issue with feedback plugin but not the same as yours.

I think yours have to do with Italian Language.  Looks like attitude and tactic are not recognized ....

@mistermax80  Can you try to see where this is coming from otherwise I would need to setup my HO and maybe HT in Italian (if I could avoid that would be nice).

[2019-09-24 16:02] akasolace commented on #221
Also confirmed but  I am not sure that one should be supported anymore. I am not convinced it make any sense to introduce fixed correction by sector independently of other factors.
I would suggest to remove that tab from the preference except if someone object.

[2019-09-24 18:30] pierpaolocira commented on #218
<img width="751" alt="immagine" src="https://user-images.githubusercontent.com/11422667/65539653-25e5e080-df0a-11e9-83b3-fd8fb7495593.png">

Just taken from my 1.437

[2019-09-24 19:13] akasolace commented on #218
@pierpaolocira  or @mistermax80  were those real stars as per HT match report ?

[2019-09-25 10:03] mistermax80 commented on #221
@akasolace I agree with you, but I suggest to remove "calcola" button and leave the tab.
Do you want remove for ever, or do you want remove for temporary? Can it use the function (if corrected)?

[2019-09-25 10:04] mistermax80 commented on #220
@akasolace Ok, I can to try...

[2019-09-25 10:15] akasolace commented on #221
@mistermax80 I haven't look at it really but I guess it would be straightforward to fix that issue. However doing this, is in my view, a really bad idea. It might broke rating, it would also force us to adapt the plugin feedback ....

If we change our ming, with git we would simply have to undo the commit, so no big deal here really

[2019-09-25 10:22] mistermax80 commented on #221
@akasolace Ok, remove it, but we should remember these funcion, in future can be useful (by update), my doubt is, if there is anypeople that has move the value, and we remove the tab, the prediction it will be wrong.

[2019-09-25 10:24] mistermax80 commented on #219
OK the bug resolved, but the ordering for skill column doesn't work. Leave the issue open

[2019-09-25 10:26] akasolace commented on #219
indeed I forgot that one.
@mistermax80 do you know by any chance if this was working in 1.437 ?

[2019-09-25 10:35] mistermax80 commented on #219
@akasolace I don't remember, but Often I used that tab, so if it was wrong, I noticed.

[2019-09-25 10:48] akasolace commented on #219
I guess it also does not work in Lineup tab .. but need to check that

[2019-09-25 13:10] mistermax80 commented on #220
@akasolace
this function uses languagese, in input we passing the value retrieve fron json git hub, but in json the lang is only english.
            int iTactic = MatchRating.TacticTypeStringToInt(requirements.tactic);
            int iAttitude = MatchRating.TacticTypeStringToInt(requirements.attitude); (this row is wrong --> the correct AttitudeStringToInt)
I'm procede uses the json label in app

[2019-09-25 13:16] akasolace commented on #221
step 1: remove tab
step 2: remove offset from database remove offset from prediction ratings (alt. set offsets to 0 and dont touch prediction rating function)

[2019-09-25 13:22] akasolace commented on #220
@mistermax80 I got the issue but I am not sure how you intend to fix it.

Should we not simply modify  `TacticTypeStringToInt` function to first look for english terms and if not found test translated terms. What do you think ?

[2019-09-25 14:27] akasolace commented on #220
@mistermax80 ok I made the required change.
Does this solve part of the issue or the full issue ?

[2019-09-25 17:44] mistermax80 commented on #220
@aka doenst resolve... I'm coding these fix... Ok I re pull and I will make the other fix...

[2019-09-25 19:54] akasolace commented on #219
I think my latest commit f2985a6 fixes it but I let you check before closing the issue

[2019-09-25 20:01] akasolace commented on #220
@mistermax80  I made new artefacts, in case you want to test with latest translations that you made.

[2019-09-25 20:22] akasolace commented on #220
@mistermax80  There is something wrong. The plugin works well when I test it from IDE but it fails if I try from installed version "Server returned HTTP response code: 400 for URL: https://hofeedback.000webhostapp.com/ws-ho-feedbacks"  maybe more information available from the server or you will need to do more logging expliclty paste the json maybe

[2019-09-25 20:27] akasolace commented on #220
I also just check on the server, no example of feedback sent from installed HO (always from IDE). So that issue is not new

[2019-09-25 22:44] mistermax80 commented on #220
@akasolace OK, asap I will test and fix it.

[2019-09-26 13:38] mistermax80 commented on #219
ok fixed

[2019-09-26 13:38] #219 closed

[2019-09-26 19:55] akasolace commented on #218
closed by a186d50

[2019-09-26 19:55] #218 closed

[2019-09-27 12:46] mistermax80 commented on #173
@akasolace could you tell me more information?

[2019-09-27 12:53] akasolace commented on #173
@mistermax80  if you download new data in HO it normally puts as lineup the next available lineup. But tournament match are ignored. Hence if your next games are ladder and then league. It will load the lineup of the league.

I think I know where the issue is coming from but I did not had time to check it.
You can look at https://github.com/akasolace/HO/blob/129d6ed435d3ea73873931b9a232613f03d0352

[2019-09-27 13:04] akasolace commented on #221
feedback and test required before closing

[2019-09-27 13:04] akasolace commented on #220
feedback and test required before closing

[2019-09-27 13:04] akasolace commented on #217
feedback and test required before closing

[2019-09-27 16:08] akasolace commented on #220
@mistermax80     it is working now for me ...  on a side now ... it took me a while to get why HO was complaining about my lineup. It was because I was in PIC instead of Normal for the attitude.  I guess we could make the error message more specific.  What do you think ?

[2019-09-27 16:09] akasolace commented on #221
@mistermax80  your commit looks fine to me !

[2019-09-27 16:11] akasolace commented on #217
@mistermax80  I tested it and it all looks fine to me !!

[2019-09-27 16:58] mistermax80 commented on #220
@akasolace, yes I noticed same thing. If the requirements are not complies, the button "send" doesn't ligth, I think can insert a message, in order to state the requirements are not complies.
Let me know how you want I do options:
1) an message generic
2) specific message per requirements

[2019-09-27 17:03] mistermax80 opened #227 "[eBUG] Feedback plugin the value rating are different in lineup tab"
![Cattura](https://user-images.githubusercontent.com/15519907/65787527-6d15e080-e159-11e9-9712-5632b081f7eb.jpg)

[2019-09-27 17:07] akasolace commented on #227
This is normal. One is the t=0 rating to be compared to HT whereas the other is the 90 min average rating. This is intended !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-27 17:09] akasolace commented on #220
I think we might simply modify the hover message to something more specific. I forgot I made those checks :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-27 17:26] mistermax80 commented on #92
For me It is resolved (it was reference to #93), can I close the bug?

[2019-09-27 17:36] mistermax80 commented on #161
@akasolace what do the situation on this?

[2019-09-28 01:37] mistermax80 commented on #222
@akasolace in my previus message, I required this:

This nigth I was inspired, and so I made, if you want I send PR.
![image](https://user-images.githubusercontent.com/15519907/65809763-42e81100-e1a1-11e9-922c-c68686561ffb.png)

[2019-09-28 07:49] akasolace commented on #222
@mistermax80 this looks fine. However maybe that for consistency  we should use the same color as in the other tabs light/dark blue/grey ? What do you think ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-28 08:07] mistermax80 commented on #222
@akasolace It Is the same colour the next tab

[2019-09-28 12:52] mistermax80 commented on #222
@akasolace
following you can try the screenshot, you can see the color are the same:

![image](https://user-images.githubusercontent.com/15519907/65816699-7063a780-e1ff-11e9-991f-9fd6b14a6ee6.png)

![image](https://user-images.githubusercontent.com/15519907/65816713-8709fe80-e1ff-11e9-8199-f460f5c0a0d5.png)

[2019-09-28 12:58] mistermax80 commented on #220
I afraid, the user doesn't read hover message on button turned off.
I'm going to introduce the new message.
After if you can take ok, else we find an other solution.

[2019-09-28 14:28] mistermax80 commented on #220
this is the effect, in some minute I will send new PR.
![image](https://user-images.githubusercontent.com/15519907/65817928-fd612d80-e20c-11e9-8cc9-1ccedbc75e30.png)

[2019-09-28 22:23] mistermax80 commented on #181
@DavidatorusF
I tried to download old matches and it works fine.
Could you try? You should insert a past date respect missing matches.
![image](https://user-images.githubusercontent.com/15519907/65823044-2bfff800-e24f-11e9-970f-c56c13f052eb.png)

[2019-09-28 22:37] mistermax80 opened #231 "[eFEAT] Players played or will play in week have a mark"
Please refer to #44, https://github.com/akasolace/HO/issues/44#issuecomment-490609294

![image](https://user-images.githubusercontent.com/15519907/65823123-ca408d80-e250-11e9-9ff6-f8a339f7d7a0.png)
Following the previous implements, the idea is mark the player in different color if their played or will play a week end match or in week match (Hattrick does this).
Futhermore, in tooltip, we can show

[2019-09-28 22:43] mistermax80 opened #232 "[eFEAT] Enhance the visibility in dropdown list"
In the following image, you can see the grey used (IMHO) is very confusionary:
![image](https://user-images.githubusercontent.com/15519907/65823171-99ad2380-e251-11e9-826d-58e8af7700c8.png)
My suggest, we can use graphic more similar to Hattrick
![image](https://user-images.githubusercontent.com/15519907/65823494-a92f6b00-e257-11e9-995a-709e8956c8a2.png)

[2019-09-29 16:11] akasolace commented on #227
@mistermax80 is there something else or should we close this?

[2019-09-29 16:12] akasolace commented on #92
@mistermax80 yes good catch, I close this one

[2019-09-29 16:12] #92 closed

[2019-09-29 16:13] akasolace commented on #161
@mistermax80 nothing was done here. I think it could have been clearer/cleaner, but maybe it does not worth the effort. It might be tricky to do but if you want to give it a try you are more than welcome :-)

[2019-09-29 16:16] #220 closed

[2019-09-29 16:17] #232 closed

[2019-09-29 16:18] #217 closed

[2019-09-29 16:18] #221 closed

[2019-09-29 16:19] #173 closed

[2019-09-29 16:21] akasolace commented on #222
I meant same color as in the squad tab (see below)   what do you think ?

![image](https://user-images.githubusercontent.com/1136496/65835387-02de7680-e2e6-11e9-9e86-57f29b22ae2f.png)

[2019-09-29 16:27] mistermax80 commented on #222
Ok It Is fine! I will change them

[2019-09-29 17:01] mistermax80 commented on #222
@akasolace in my squad tab the training bars are green colour, I'm training attack... So I don't know if can reproduce the same color, because these colours (in training tabs) doesn't depend from training week, but on estimate training in future weeks.
So, we can introduce the training bar (as in squad tab) also in training tab.
What do you think?

[2019-09-29 18:03] DavidatorusF commented on #181
@mistermax80 I know this solution work... but take time
it need to reload many matches not only the missing one

[2019-09-29 20:16] akasolace commented on #222
@mistermax80  In squad tab, there are 4 colors (light/dark green/grey) for partial/full passed/upcoming training. The logic to define the color was already implemented by @yaute74. Can't you reuse what was done for the training tab ? Also the minute played as you mentioned? I dont know how  @yaute74 implemented this but maybe those infor can be estimated once and stored somewhere (player attribute

[2019-09-29 20:31] mistermax80 commented on #181
Ok, When I will can I will see what I can do

[2019-09-29 21:18] mistermax80 commented on #44
@yaute74 What do you mean whe you say "when training view work fine"?

Anyway I created new issue.

[2019-09-29 22:14] mistermax80 commented on #181
The issue is in the following table:
SELECT * FROM "PUBLIC"."MATCHESKURZINFO" a WHERE a.STATUS=2;
Match status is set to 2 for passed match. (status 2 = match doesn't played)

@akasolace do you have some ideas?

[2019-09-30 09:15] akasolace commented on #181
@mistermax80  I haven't looked into that issue and I don't know which part of the code you are referring to. Just to make sure we are aligned on what the issue is:
@DavidatorusF would like to be able to download match from matches tab (download game for the selected row). If I undestand correctly it is not possible to do so for games for which match details are not in the database. @DavidatorusF i

[2019-09-30 09:17] akasolace commented on #44
@mistermax80  I think that at the time @yaute74 was still working on this feature but it is now working fine.

[2019-09-30 09:21] akasolace commented on #231
@mistermax80  I think this is a duplicate of #125  (follow up of what @yaute74 did on the training view enhancement).  If you have something else in mind could you please clarify, otherwise I will let you close that issue.

[2019-09-30 09:58] mistermax80 commented on #231
@akasolace ok, it is can see as enhancement respect to #125.
The idea can be to show an icon in player, this icon can be a matcht leageue, or other match, and obscured if the match doesn't played.

[2019-09-30 11:02] akasolace commented on #231
@mistermax80 currently with the color there are 4 information given: partial/full and past/upcoming
The icon things could be nice but from what I understand we will only have the info about past/upcoming (we will loose the partial/full). Right ?

[2019-09-30 11:17] mistermax80 commented on #231
Yes correct you said.

[2019-09-30 11:24] yaute74 commented on #222
I create new source in core/training/TrainingPreviewPlayers method calculateWeeklyTrainingForPlayer.
I check the time playing in training position and check lineup of futur match.

I don't know if we can use the same functions, I don't check the source code of Training tab.

[2019-09-30 11:28] yaute74 commented on #231
I think we can close because of #125

[2019-09-30 11:36] yaute74 commented on #222
Just to be sure, you want to have the same info in the training tab player list ? or you want to merge the code (training calculation) ?

[2019-09-30 12:18] mistermax80 commented on #222
@akasolace @yaute74 By quick look, the yaute function can be used, but the topic is not this.
The yaute function analyze the lineup passed or future in current week.
The trainig tab uses logics on this (and it shows the possibile skill up):
- players ideal position
- training set in future week
- doesn't see the trianing in the week
So, the 2 different functions (youte function and tarining tab) a

[2019-09-30 12:21] mistermax80 commented on #231
Yes, we can close this, but I woulk like insert the match information (league or train match) with icon or test.
What do you think?

[2019-09-30 12:26] mistermax80 commented on #181
Yes, past matches have not details in db their have status = 2 (match not played)
The solution shuld be that download match.
You can see this effect also in the following screen:
![image](https://user-images.githubusercontent.com/15519907/65878401-4e4c5f80-e38e-11e9-8fb7-91659f47c1d6.png)

[2019-09-30 12:41] akasolace commented on #222
@mistermax80 I am sorry but I think I am not getting the point. You want to see in the training tab, indication of which player will be trained this week (the ones who already played and the one who are planned to be aligned on upcoming game), right ? If is is the caes I don't see why you can't reuse @yaute74 logic.  If you are trying to achieve something different, could you please explain it aga

[2019-09-30 12:44] akasolace commented on #231
Frankly, I am not sure that will be nice. Once stamina training is tracked, we can get between 22 and 28 trained players: 28 icons will be IMO very messy and much less informative than a cler color code.

[2019-09-30 12:48] akasolace commented on #181
@mistermax80  the example you are showing is for future game so here it is normal they have status 2 (match not played).
I am still wondering which kind of past games have no details in the db (I imagine it is game for which HRF were not downloaded, HO not used for more than a week for example). In that case we need to understand why HO does not offer to download match details of such game and to

[2019-09-30 13:07] mistermax80 commented on #181
@akasolace the match in my example refer to a match played in june, it is past.

[2019-09-30 13:08] DavidatorusF commented on #181
for add the missing match, we can
- reload since a date in the login
- use "modules -> teamanalyser -> download a match", then restart HO for see the match

the question is why the reload button don't work for missing matches as we have his matchid ?
![Capture du 2019-09-30 14-40-06](https://user-images.githubusercontent.com/45043004/65881591-eb5dc700-e393-11e9-8855-989be3e430da.png)

[2019-09-30 13:09] mistermax80 commented on #231
ok, i share your opinion

[2019-09-30 13:10] mistermax80 commented on #181
These match have status = 2, but they have past.

[2019-09-30 13:11] mistermax80 commented on #222
Yes, and we can use the yaute logic, but we should not remove the actual logic (rows higlighed)

[2019-09-30 13:43] akasolace commented on #231
ok I close that one then ...

[2019-09-30 13:43] #231 closed

[2019-09-30 13:44] akasolace commented on #181
Indeed I misread

[2019-09-30 13:46] akasolace commented on #181
The only reason I could imagine is a limitation from CHPP. Otherwise we should be able to provide a fix relativly easily.

[2019-09-30 13:50] akasolace commented on #181
I guess forward games come in db with that status. When match details are requested from main tab, the status is updated. Matches for which match details were not requested, do not get their status updated.
Hence I think the following fix could work:
   - option 1)    match tab, decided to activate/deactivate the download button not on match status but on playing date
   - option 2) match tab when

[2019-09-30 13:57] akasolace commented on #222
@mistermax80 indeed only your last modification (green background on trained player) should/could be adapted by replacing it with light/dark green/grey color as per the squad tab.
We do not change anything else on the training tab (at least for the moment).
If you agree with that, do you think you could:
     - reuse @yaute74 logic ?
     - reuse @yaute74 logic  without recalculating? (e.g. saving

[2019-09-30 13:59] akasolace commented on #181
@mistermax80 yes I think I see where the problem is coming from. Hence, what about my proposal just above? I think this is an easy quick fix, no?

[2019-09-30 14:03] mistermax80 commented on #181
I would like go in option 1), but if you dont see issue on check date.

[2019-09-30 14:13] mistermax80 commented on #222
Yes, I can change the colour, but in training tab the colors are 2:
- green for player in position that receive all training
- yellow for player in position that receive partial training
for example in case of cross traiinig:
- green for wings
- yellow for back wings
this logics consider only position and future training and these don't see the lineup.
The yaute logic do:
green (ligth/or no light)

[2019-09-30 15:29] akasolace commented on #181
ok great I assign it to you then

[2019-09-30 15:35] akasolace commented on #222
@mistermax80  I am sorry but I still don't get it. I suggest you go with it, I guess I will understand when I will look at the PR.
For my information, and again considering I don't know what you are planning to do, do you see it as a low/medium/high effort?

[2019-09-30 15:35] #222 closed

[2019-09-30 15:36] akasolace commented on #222
@mistermax80 maybe best if you open a dedicated issue for this one as it is not more related to missing rating values.

[2019-09-30 15:57] mistermax80 opened #234 "[eFEAT] Training week preview in Training Tabs"
Continuing the discussion started on #222
Insert in training tabs the information on training on week (icon and tooltip).
The final effect it will be as following:
![image](https://user-images.githubusercontent.com/15519907/65895415-b8bfc880-e3ab-11e9-9098-13794ba8f195.png)

In training tab (asis function) the colors are 2:
- green for player in position that receive all training
- yellow for play

[2019-09-30 15:57] mistermax80 commented on #222
Ok, I opened a new issue.
https://github.com/akasolace/HO/issues/234

[2019-09-30 16:07] akasolace commented on #222
@mistermax80 perfect, do you intend to close it for 2.0 ? In order for me to put the right milestone.

[2019-09-30 16:09] mistermax80 commented on #222
Yes I would like insert in 2.0.
The effort I think is low/medium.

[2019-09-30 16:12] mistermax80 opened #235 "[eFEAT] Insert foxtrick "psicotsi" data"
I like to insert the psicotsi function in HO.
Foxtrick has this function, and It will be nice to have in HO.
@akasolace do you think we can consider this?

[2019-09-30 16:55] akasolace commented on #235
Definitely, that’s a very good idea for next version.
1) We would need to use the server to get data. And then do some analysis. Can server cope with that ?
2) decide how to integrate that additional information

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-30 17:42] akasolace commented on #222
Ok

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-30 18:20] yaute74 commented on #222
In principle I agree. I think you can use the same object than me for the user column and leave the rest as it is.

Just a remark, aren't you afraid it'll give too much information to the user ?

[2019-09-30 18:22] yaute74 commented on #234
In principle I agree. I think you can use the same object than me for the user column and leave the rest as it is.

Just a remark, aren't you afraid it'll give too much information to the user ?

[2019-09-30 18:30] yaute74 commented on #234
@mistermax80  you must use SpielerLabelEntry object

[2019-09-30 19:01] mistermax80 commented on #235
Yes of course!
But I don't understand what server should to do.
Could you explain better, how would you do?

[2019-09-30 19:08] mistermax80 commented on #234
@yaute, yes... Respect to too much information to user, if you think this I can think to insert a preference for this.
I can say I will use the all information. I will have these information in only screen it is comfortable!

[2019-10-01 06:39] akasolace commented on #235
@mistermax80  I mean than in order to derive the TSI formula, we would need data. Players information from HO users could be send and store to the server. Once on the server we could do the required analysis.

[2019-10-01 08:15] mistermax80 commented on #235
Ok, so Di you want rewrite the formula?
Firstly, I would like to start from unwritten manual: TSI = (1.03*Difesa^3 + 1.03*Regia^3 + 1.03*Attacco^3 + 1.0*Passaggi^3 + 0.84*Cross^3)^2 * Calci^0.5 * Forma^0.5 / 1000

TSI_portiere = 3 * Parate^3.36 * Forma^0.5

Or we can see the code in foxtrick.

What do you think?

Anyway, the server can be do that work!

[2019-10-01 08:58] yaute74 commented on #234
@mistermax80  ok great :)

[2019-10-01 09:07] yaute74 commented on #235
In the same way it could be good to add some tools, like on HTLiveSight

[2019-10-01 09:14] mistermax80 commented on #161
@akasolace, so, the values loddar / hatstats in relation to time is missing? I saw the layout it is ok. Do I understand well?

[2019-10-01 10:23] akasolace commented on #235
@mistermax80 I don't think we can use the formula from unwritten manual (e.g. age and status are not even mentionned)

[2019-10-01 10:24] akasolace commented on #161
the values are present, I was only mentionning that we might use labels instead of hover text to make it clearer and also maybe to align the value a bit more. Only some visual tweaks really, nothing more

[2019-10-01 10:28] mistermax80 commented on #161
Ok!

[2019-10-01 10:40] mistermax80 opened #236 "[eBUG] Decimal Skills doesn't present in Trining Tab"
![image](https://user-images.githubusercontent.com/15519907/65955508-9465f980-e448-11e9-8d9d-4995144af7b2.png)

![image](https://user-images.githubusercontent.com/15519907/65955544-b0699b00-e448-11e9-9dca-9bc94dbf5ff9.png)

[2019-10-01 14:06] mistermax80 commented on #235
@akasolace ok, you say right... and if we use the foxtrick code?

[2019-10-01 14:44] akasolace commented on #235
@mistermax80  I see 4 options:

1. we ask user Chechesa  if we can use his formula:  https://hattrick.chechesa.com/en
2. we use formula from unwritten manual but only for player which are neither injured or above 28 yo
3. we use foxtrick formula if we can find them (it might be same formula as 2)
4. we derive our own formula

4. could be a nice long term solution  whereas we can start with 1, 2 or

[2019-10-01 16:02] mistermax80 commented on #235
I like 5 :D sound good!!!!

[2019-10-01 16:13] DavidatorusF commented on #235
on HTLS, we have ask to Tasos (HT-Tools creator) to use his tools... even if they are open source

about Psicotsi..nice tool for monoskill player... but now we have multiskill player

subskill seem to be better...
https://github.com/ventouris/hattricktools/blob/master/static/js/subskill.js

[2019-10-02 10:49] mistermax80 commented on #227
No I verified, it is ok, I close.

[2019-10-02 10:49] #227 closed

[2019-10-02 15:49] akasolace commented on #181
@mistermax80 have you started working on it already ? Otherwise I could give it a try tonight as I might find a bit of time, let me know ...

[2019-10-02 16:01] mistermax80 commented on #181
@akasolace no I don't start...
You should insert check for date in 2 point:
1) in tab matches (@DavidatorusF screenshot https://github.com/akasolace/HO/issues/181#issuecomment-536552653)
2) in league details (@mistermax80 screenshot https://github.com/akasolace/HO/issues/181#issuecomment-536538055)

[2019-10-02 16:49] mistermax80 commented on #213
I think this it is related to #160

[2019-10-02 16:53] mistermax80 commented on #65
@akasolace It is easy to resolve?

[2019-10-02 18:02] akasolace commented on #181
@mistermax80 ok I will have a look

[2019-10-02 18:42] akasolace commented on #181
@mistermax80 I fixed the one in tab matches but I could not reproduce the one in league details.
I will try to fix it next saturday after my league game. I open a dedicated ticket for this.

[2019-10-02 18:43] akasolace opened #237 "> "League tab", Button download game, not activated for some past game"
Yes, past matches have not details in db their have status = 2 (match not played)
The solution shuld be that download match.
You can see this effect also in the following screen:
![image](https://user-images.githubusercontent.com/15519907/65878401-4e4c5f80-e38e-11e9-8fb7-91659f47c1d6.png)

_Originally posted by @mistermax80 in https://github.com/akasolace/HO/issues/181#issuecomment-536538055_

[2019-10-02 18:45] #181 closed

[2019-10-02 18:47] akasolace commented on #237
surely same fix as #181 will apply (see d2eb14d999127c7e719a18b801984bc946537a86)
can't fix it myself at the moment as I can't reproduce ( never skipped a download :-) ) I will fix it next week if no one did it before ...

[2019-10-02 18:55] akasolace commented on #65
@mistermax80 I won't bother because this will be fixed when we switch to java 11, which should happen after 2.0 is release

[2019-10-02 18:56] akasolace commented on #65
should be fixed when #106 is implemented

[2019-10-02 19:22] akasolace opened #238 "improve design of league details panel"
Improve the readability of league details panel

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1136496/66074655-f9f5db00-e559-11e9-80b4-45387a8c07ac.png)

by:
   1) improving color on the graph (more distinctive colors) and make maybe bold lines
   2) remove color on the table for relegation and promotion  and replac

[2019-10-02 20:24] mistermax80 commented on #238
For point 3, we should understand how to show the information in home or away... Tooltip?

[2019-10-02 20:26] mistermax80 commented on #237
Ok, else you can update an past match with status =2 in your dB, in order to replicate the case.

[2019-10-02 20:28] mistermax80 commented on #234
Can it useful insert a new column for to show the only skill value that receive train?

[2019-10-02 20:35] mistermax80 commented on #160
@akasolace, the new percentage value it is inserted... So this issue for what scope is open?
What am I missing?

[2019-10-02 20:39] mistermax80 commented on #213
I thought, if we change color for 3 cell per row, the screen will be messy... So I would to think something of simple.
1) chance color text, green for highest value
Or
2) change color for only selected line

What do you think?

[2019-10-02 20:48] mistermax80 commented on #91
Yes @akasolace, that behaviour is for Windows, I can confirm, I use Mac and Ubuntu for developing, but I use Windows for use HO, and also I use HO fron years, to each update... I think... It don't matter nothing...

[2019-10-03 07:52] akasolace commented on #238
I suggest we just remove this (don't see a need for a tooltip)

[2019-10-03 07:54] akasolace commented on #234
the user knows which skill he is training so I am not sure this will be very useful. Addiitonaly the tab is already quite packed

[2019-10-03 07:56] akasolace commented on #160
@mistermax80 at the moment player are ranked with absolute value. The idea would also be to indicate the relative value and indicating maybe whether or not it is the best position. Still have to think about how to present it.

[2019-10-03 07:58] akasolace commented on #213
@mistermax80 yes maybe only changing text is sufficient (different color or just bold). We could try and see what is best.

[2019-10-03 07:59] akasolace commented on #91
@mistermax80  ok so it confirms it is a Windows only. Not a big deal though really

[2019-10-03 08:13] mistermax80 commented on #234
Ok I agree!

[2019-10-03 08:47] mistermax80 commented on #238
OK

[2019-10-03 11:40] akasolace commented on #237
closed by 18ed0c0

[2019-10-03 11:40] #237 closed

[2019-10-03 15:52] mistermax80 commented on #199
My suggest is to update this tab:
![image](https://user-images.githubusercontent.com/15519907/66142890-8b228b80-e606-11e9-821a-81c7987209af.png)

[2019-10-03 18:03] akasolace commented on #236
closed by 6c809630a377f7c2e325743ad85254c782152361

[2019-10-03 18:03] #236 closed

[2019-10-03 21:56] mistermax80 commented on #213
for Player Details see
line 435- file: module/playerOverview/SpielerDetailPanel.java
`            for (int i = 0; i < playerPositionValues.length; i++) {
            	showNormal(playerPositionValues[i],playerPosition[i]);
			}`

[2019-10-04 07:06] akasolace commented on #235
@DavidatorusF  I looked at **subskill** and it does not look that good.
It is true that this kind of analysis is not that good with multiskill player but it is still better than nothing :-)

[2019-10-04 07:07] akasolace commented on #235
As @mistermax80 suggested we will simply start to collect player's TSI as part of the existing feedback plugin. Hence we will start accumulating data as soon as 2.0 is release

[2019-10-04 07:07] akasolace opened #243 "collect player's TSI and age as part of the existing feedback plugin."
As @mistermax80 suggested we will simply start to collect player's TSI and age as part of the existing feedback plugin. Hence we will start accumulating data as soon as 2.0 is release

_Originally posted by @akasolace in https://github.com/akasolace/HO/issues/235#issuecomment-538272775_

[2019-10-04 07:50] akasolace opened #244 "[eFEAT] Activate feedback plugin only if data recently refreshed"
In order to gather only quality data, we will activate feedback plugin only if data recently refreshed

1) add label "Please make sure your players data are up to date before participating" in the feedback plugin label
2) store somewhere the timestamp at which update has been made (maybe already exist) and add as an additional check before activating "send" button, something like now()-RefreshTime

[2019-10-05 12:36] mistermax80 opened #245 "[eFEAT] Download right mother teen in transfer"
I don't know if the cchp make available this information, but it will be nice to have the money income from old transfer! In particular it is interesting for young transfer.

[2019-10-05 15:14] mistermax80 opened #246 "[eFEAT] Improve the Lineup Tab layout"
I like to update the layout tab of the Lineup.
I'm writing some notes:
- side right bar can be all in one bar (in different sub tab), without orizontal line
- list player can be extended until right screen
- reorganize the lineup space, I see much space Wasted
- the lineup values screen can be updated with a layout more similar to HT

This my thinks are because in the last time, the HT loyout is m

[2019-10-06 07:42] mistermax80 commented on #243
HO side there no anything to do, the json object already has the all player.
HO server side, add new view in order to player visualization data.

[2019-10-06 19:50] akasolace commented on #245
@mistermax80  do you mean transfer history of a given player ?

[2019-10-06 19:52] akasolace commented on #246
@mistermax80  for sure it can be improve
Would be nice if you can first share a mockup

[2019-10-07 05:57] mistermax80 commented on #246
Yes Sure. It is is only the notes for discussion.
We can implement in future in version 3, I think.

[2019-10-07 10:50] akasolace commented on #246
yes

[2019-10-07 20:17] mistermax80 commented on #244
Today the server is unavailable... The free hosting service is unavailable...
This situation can be matter with any free hosting, but I reflected on this.
We should decide if the feedback plugin is active or ready to receive data. By json from gitub, we can do this, add other 'request' that HO uses for don't activate the feedback plugin... We can use this for manatainace server or similar situatio

[2019-10-08 06:53] akasolace commented on #244
We can either, do that check beforehand or capture that error in a try/catch and indicate correct message like "Server currently not available, please try later." However, I am not sure what you mean by `by json from github`?

I am also ok with that idea but hopefully this is not something we will need to use anytime soon.

[2019-10-08 06:58] akasolace opened #247 "[eFEAT] Data about new league"
See lot of users using an old tool that predict league for next season based on ranking. Maybe we could have this somehow in HO and/or maybe simply in a static webpage

@tychobrailleur I keep here for reference a list of implemented endpoint:

**[GET]**

  - `.../league/supported`    => returns list of all supported leagues

  - `.../league/{leagueID}/status`    => returns status of given leagueID

[2019-10-08 08:20] mistermax80 commented on #244
For json git I mean https://akasolace.github.io/HO/feedback.json
, In this object we can insert if the feedback plugin is active or no, and the specific text for the communication. I think the effect the yesterday issue is an time out of the request... Adobe the users can see as in error don't managed from us.
In this moment th release 2.0 is waiting broken development... So we can try to insert t

[2019-10-08 08:21] mistermax80 commented on #247
Which is it the tool?

[2019-10-08 08:42] akasolace commented on #244
I am not sure I understand,  You want to hardcode in the json whether or not the server is online? Based on what? When/How the json will be updated ?

[2019-10-08 08:44] akasolace commented on #247
[hattrick promotion manager](https://sourceforge.net/projects/hattrick-pm/)

[2019-10-08 08:57] mistermax80 commented on #244
I would like insert an information in these object in order to say to HO if the feedbackplugin is active or no.
The update json object will be manual, as when you change for change the request from GK to CD-normal.
In this way, If we know some issue on server or we must put offline the server, we can manage if the users can send data or we can say to user "server is temporary offline, for maintanc

[2019-10-08 08:59] mistermax80 commented on #245
I'm refert to this income:
![image](https://user-images.githubusercontent.com/15519907/66382022-b3b9d500-e9ba-11e9-8424-40acc50647e2.png)

[2019-10-08 09:05] akasolace commented on #244
@mistermax80 ok I understand now. Initially, I thought you wanted to do something different. Something like:
    1. when the user launch feedback panel, HO download json and check server availability (ping)
    2. if server not available: message is displayed on panel and the send button remains grey

What do you think of that alternative ?

[2019-10-08 09:07] akasolace commented on #245
@mistermax80 ah ok, I don't know. We can check in API documentation. If it is not available we can also open a ticket. You would only use it in economy tab or do you have something else in mind ?

[2019-10-08 09:12] mistermax80 commented on #245
I have not idea... we can choose what we can do... But I like to know for each player sold, which are the income gained. This can be useful for analysis on sells.

[2019-10-08 09:15] mistermax80 commented on #244
No by ping activities, I prefer something manual, in order to we have the total control.
I thought a new field in json object:
1. when the user launch feedback panel, HO download json and check server availability information (new datai in object)
2. if server not available: message is displayed (spcific message retrived by json) on panel and the send button remains grey

[2019-10-08 09:24] akasolace commented on #244
@mistermax80  ok for me

[2019-10-08 09:37] mistermax80 commented on #244
well!

[2019-10-08 09:46] akasolace commented on #244
ok I will simply add a line on top like:
"server_status": "up" or  "server_status": "down"
I edit manually the json for now, hence you can start on your side. I will modify the python script later this week.

[2019-10-08 09:54] mistermax80 commented on #244
ok, the field is ok, but I would like add an other text field, we can used it for show message to users.
In order to explain the reason to server is offline.... (the message will not tralated, or we can write the same sentence in 2 or 3 main languages (english, italian, french, spanish).)
What do you think?

[2019-10-08 10:03] akasolace commented on #244
In order to explain the reason to server is offline

For this I would suggest the usual,  we put a message in language files "Server currently not available" And leave it up to user to translate it.

I think a general message is sufficient but if you really want additional message, we can put status_code "0", "1", "2", ....
with 0= ok,

[2019-10-08 10:56] mistermax80 commented on #244
My idea is to show an communication, not an simple message.
We could not know which communication to show to users...
We can think a mix status code and free text if we want write an specific communication.

Let me know what do you think... 😄

[2019-10-08 11:03] akasolace commented on #244
I personally think it is simpler to stick to simple message like "server down"

[2019-10-08 11:06] mistermax80 commented on #244
ok!
- Server Down
- Server in Mainatainance
- ????

[2019-10-10 18:05] akasolace commented on #27
closed by #248

[2019-10-10 18:05] #27 closed

[2019-10-11 06:36] yaute74 opened #249 "[eBUG] Stamina training must greate or equal to 10%"
On hattrick we can not have a stamina percent lower than 10.

[2019-10-11 10:40] akasolace commented on #249
@yaute74 this is not set via CHPP download? When does the user need to setup this manually?

[2019-10-11 12:11] Gundor opened #250 "improve Training estimation (try to replicate exact HT prediction ?)"
For somes players the training prediction is wrong about 1 week (add 1 week)

HT training estimation

(https://i.imgur.com/6GkETqB.jpg)

HO training estimation for same player

(https://i.imgur.com/IjqvSMs.jpg)

**Platform information:**
 - OS: Windows
 - Version 10 1903

**HO**
version 1.437

[2019-10-11 12:19] akasolace commented on #250
In your example, I see both in HO and HT:
Formidable -> Outstanding in 5 weeks
Outstanding -> Brilliant in 6 weeks

am I missing something?

[2019-10-11 12:52] Gundor commented on #250
wrong screeshots, sorry but the bug is still here:

HT:
https://i.imgur.com/D3aCMkp.jpg

HO:
https://i.imgur.com/ZRVGGhu.jpg

World Class -> Super Natural in 5 Weeks on HT
World Class -> Super Natural in 6 Weeks on HO

Few players are same problem et another are correct prediction

[2019-10-11 13:31] akasolace commented on #250
Actually it is:

- World Class -> Super Natural in 10 Weeks on HT
- World Class -> Super Natural in 9 Weeks on HO

but I agree there is still a differnce. I won't call that a bug but I will leave the ticket open for further formula refinements.

[2019-10-11 14:56] Gundor commented on #250
an other example, but not so high in training :

HT: https://i.imgur.com/m8ljXkR.jpg
HO: https://i.imgur.com/X2o6Q4u.jpg

[2019-10-11 18:10] yaute74 commented on #250
As ht-portal has good results, I ask to Schum is formula.
Anybody else speak Russian ? :) [post=17024376.5]

[2019-10-11 18:12] yaute74 commented on #249
@akasolace I speak about that:
![image](https://user-images.githubusercontent.com/34601782/66674541-71ff8780-ec63-11e9-8a3f-5548422fbe52.png)

[2019-10-11 18:17] yaute74 commented on #250
After translate with deepl:
Training.

It is difficult to overestimate the importance of training in CT.
This is the basis of the basics, and moreover, in recent years
it's the teams that make the most of it.
have been coaching since they were 17.

So, let's move on to the training formula:

T = f(lvl) * K(coach) * K(assist) * K(int) * K(stam) * K(train) * K(age) * K(time),
whereabouts
f(lvl) - fu

[2019-10-12 08:36] mistermax80 commented on #249
I can manage it.

[2019-10-12 13:01] akasolace commented on #250
@yaute74  I see 2 ways to improve the formula
      1) we take the one from schumi (nice of him to share it)
      2) we take exact value from HT training prediction tool (bit more work): its not gonna be a formula more an empiric vlookup table

[2019-10-12 13:01] akasolace commented on #249
@mistermax80 ok

[2019-10-12 13:32] cyrill10 commented on #247
Hey I'd like to contribute and get some Open Source Experience and doing that with a tool like HO would be great. Maybe this would be a great issue to start? I have 5+ years of Java experience.

[2019-10-12 20:31] akasolace commented on #247
@cyrill10  Hello cyrill, welcome to the project.
I already started to work on that issue. I see 3 streams of work on this one:
    1) gather, compute and prepare data  (json files).  I started that part and I already made good progresses (let says it is half done) `Python`
    2) have the json file stored on HOserver and create required request (`PHP`). help of @mistermax80 would be more than welc

[2019-10-13 07:38] cyrill10 commented on #247
Sure that sounds good. I'll start with the UI then. Let me know when the HOserver is ready for the request.

[2019-10-13 12:36] akasolace commented on #249
closed by bbff5b4e452852211065bcc5ff2e74253858ca5a

[2019-10-13 12:36] #249 closed

[2019-10-13 12:37] akasolace commented on #244
closed by bbff5b4e452852211065bcc5ff2e74253858ca5a

[2019-10-13 12:37] #244 closed

[2019-10-13 12:37] akasolace commented on #243
@mistermax80  I would let you close this one when it is done on server side ... thank you !

[2019-10-13 12:50] akasolace commented on #247
Actually I found out how to pronostic qualification game but it is not working for direct promotion

[2019-10-13 13:07] mistermax80 commented on #243
Made all, Just I should update files in server and git!

[2019-10-13 13:45] mistermax80 commented on #243
by this commit we can close: https://github.com/akasolace/HOserver/commit/1bc1e1485449d95ddfaff6a4a0460a8321ebda09

[2019-10-13 13:45] #243 closed

[2019-10-13 14:52] akasolace commented on #247
@cyrill10  @mistermax80   I have finish it in python ... works to predict qualification game and future league.  Now the code need to be ported from python to PHP and JAVA and this will depend on how we want to manage the data download. I see 2 options:
1) data download managed by us (current python implementation)
2) data download managed by users (to be implemented between HO and HOserver (logic

[2019-10-13 18:15] yaute74 commented on #250
@akasolace how you want to do the 2) ?

[2019-10-14 07:48] akasolace commented on #250
@yaute74 either we derive formula (1) or we do interpolation (2) out of HT values

[2019-10-14 07:48] akasolace commented on #243
great thank you

[2019-10-14 08:22] akasolace opened #253 "[DOC] update Wiki MacOS update"
Update  MacOS update part on the [wiki](https://github.com/akasolace/HO/wiki/Installing-HO)

At the moment,  description is incorrect:

[2019-10-14 10:44] yaute74 commented on #250
@akasolace  I understand what you say, I just want to know how you want do the interpolation? because there are many parameters that are taken into account.
From my experience the ht-portal formula is quite good

[2019-10-14 14:00] akasolace commented on #250
@yaute74 I was really thinking doing something heavy, like collecting all the data ... :-)
maybe using ht-portal formula is more reasonable  if we are sure it is better than HO current one ...

[2019-10-14 16:12] akasolace commented on #247
I checked Hattrick-PM, considering the performance and the overall config, I believe he used the same approach as I did. However, considering that we will cache HT result, HO experience will be much better

[2019-10-14 20:23] mistermax80 commented on #247
If I understand well, by java we can check if the data for that team id is already present, else it will do a request towards HT and download data and send to server.
I don't know how to the prediction. Could you explain me?

[2019-10-15 06:26] akasolace commented on #247
No the request will be made to server, a request like this (from my python code) where `1165439` is the team ID:

[code]

if (season, teamID) not present in the server it will return a specific message (l 265 in my python code `print(f"data for {leagueName}, season {season} are not available !")``)` and HO will then offer the
user the possibility to download the data

agree

The prediction logic i

[2019-10-15 06:30] akasolace opened #254 "[eBUG] MinuteTogglerPanel crashes when no rating object avaiilable"
**Describe the bug**
I opened an issue based on the discussion betwee @DavidatorusF and @brokenelevator   on slack. I am not sure I have all the information right.
@brokenelevator  could you please tell me if it something we should/can close before 2.0 ?
@DavidatorusF can you give more details on how to reproduce it?

thank you

when I click on double arrows from timeline:
java.util.NoSuchElementE

[2019-10-15 06:49] akasolace opened #255 "[eFeat] remove untranslated language"
Ensure HO revert to English in case a language is being removed.
For Example Latvian translation file became completly obsolete. I suggest to remove it.
In the future we might slighlty raise the threshold of supported language.
We leave them in PoEditor but they are part of HO only if a decent amount of translations exist otherwise it gives a very bad experience.

What do you think?

[2019-10-15 06:55] akasolace opened #256 "[eFEAT] introduce league statistics (similar to HT supporter statistic)"
something similar to what offer HT supporter statistic or Hattrick-PM tool

[2019-10-15 07:55] mistermax80 commented on #255
I agree

[2019-10-15 07:57] mistermax80 commented on #256
Could you post some screenshots? I am not a supporter

[2019-10-15 13:04] DavidatorusF commented on #254
@akasolace just a fresh install for reproduce it

[2019-10-15 13:40] akasolace commented on #254
Fresh install and then what ?

[2019-10-15 13:52] DavidatorusF commented on #254
fresh install and get authorisation

timeline don't appear

![image](https://user-images.githubusercontent.com/45043004/66837677-ac1ea100-ef63-11e9-849f-9ff8ad49206f.png)

click on double arrows, you will see error

[2019-10-15 14:04] akasolace commented on #254
so
1) fresh install
2) get authorisation
3) download data
4) click on arrow

correct?

[2019-10-15 14:05] DavidatorusF commented on #254
right

[2019-10-15 14:16] akasolace commented on #254
I understand the remark from @brokenelevator but in this case I don't get what is going on. A rating object should have been created when the download is done. Especially that on the screenshot I can see that there are values in the ratings boxes (those values should also be read from the ratings object)....

I agree with this approach. Hence I see 2 things to be done here:

1) hide new panel (min

[2019-10-15 15:32] cyrill10 commented on #247
I looked at your example and would suggest we calculate it per country on user request, and store it on the HOserver once calculated. this way only one user per country needs to do the calc locally.

I started with the implementation in Java and think it shouldn't be that complicated, But I was wondering if there was a way to get all the existing leagues per country (or just the first for each lev

[2019-10-16 07:20] akasolace commented on #247
yes this is what I had in mind. Only thing we need to consider is that it is more or less exponential.  Hence, country with 5 divs would take 1 minute, with 6 divs 2 minutes and after that might double for extra league, so it can be fairly long for 8 divs country. I am not familiar with threads in Java, but could be nice if we do that as non blocking thread.

no, unfortunately, nothing available v

[2019-10-16 07:22] akasolace commented on #254
closed by 9c9265302285684e26eff7a8fe9c5ca0e91e815c

[2019-10-16 07:22] #254 closed

[2019-10-17 09:36] mistermax80 commented on #253
@akasolace @DavidatorusF ,

I tried update from 1.436, 1.437 and the update is ok.
For update I mean, drag HO.app (lasta version) in Application folder (or in location of the previus installation).
Maybe the error I faced beacuse old installations...

[2019-10-17 11:56] akasolace commented on #253
ok good to know. As said on slack, I will release the BETA today
@DavidatorusF I will do the forum announcement based on your documentation
cheers

[2019-10-17 12:04] mistermax80 commented on #234
@yaute74 , I tried to do it, but I have some difficult.
When you can, can you help me on this? We will for version 3, so nothing hurry.

[2019-10-17 12:38] akasolace commented on #191
@DavidatorusF, @yaute74  do you see an issue here or do you think I can close that bug?

[2019-10-17 14:02] DavidatorusF commented on #253
@mistermax80 are you agree with ?

* **MacOS**: not supported  (because the app is not signed)
you have to do it manually: download the last HO.macOS.zip, extract it then drag HO.app in Application folder (or in location of the previous installation)

[2019-10-17 14:14] DavidatorusF commented on #191
@akasolace

where is the module nthrf ???

![image](https://user-images.githubusercontent.com/45043004/67016853-29c7e580-f0f9-11e9-8fbb-e1e3905bcfc9.png)

[2019-10-17 14:16] mistermax80 commented on #246
This is my idea for optimize the space.

![image](https://user-images.githubusercontent.com/15519907/67016693-e3728680-f0f8-11e9-8682-9d87255d69ef.png)

![Immagine](https://user-images.githubusercontent.com/15519907/67017019-672c7300-f0f9-11e9-94d7-15d35a27b3f8.png)

[2019-10-17 14:19] yaute74 commented on #191
@DavidatorusF  I remove it.
Now when you create a database you have an option to specify if it's a NT or a Club Database.
After that you can use the classic download option in both cases

[2019-10-17 14:20] yaute74 commented on #191
@akasolace difficult to test it without access :/

[2019-10-17 14:23] akasolace commented on #191
@DavidatorusF can you find someone to test this?

[2019-10-17 14:27] DavidatorusF commented on #191
let me some time, I will ask to a coach

[2019-10-17 14:31] mistermax80 commented on #234
I don't able to set the render cell in order to build a cell name with training icon and player name.
So when I update the table rendering, in the firts cell appear the java object name and not icon+player name.

[2019-10-17 14:42] akasolace commented on #253
@DavidatorusF @mistermax80 for me it has nothing to do with the fact the app is not signed.
I suggest we just say

[2019-10-17 14:42] DavidatorusF commented on #253
https://github.com/akasolace/HO/wiki/Installing-HO

we can close here

[2019-10-17 14:45] #253 closed

[2019-10-17 15:06] yaute74 commented on #234
@mistermax80 ok I will check when I have the time...

[2019-10-17 17:29] DavidatorusF commented on #191
@yaute74
then... a national coach need obligatory have an HO for his own team before can use it for NT ???

[2019-10-17 19:21] yaute74 commented on #234
@mistermax80  Quickly you must modify the renderer in module.training.ui.renderer.OutputTableRenderer method getTableCellRendererComponent for the column 0

[2019-10-17 19:58] yaute74 commented on #191
@DavidatorusF of course no, he must set the properties before download
![image](https://user-images.githubusercontent.com/34601782/67042907-23516200-f129-11e9-99fe-bbc475f8a628.png)

[2019-10-17 20:32] DavidatorusF commented on #191
@yaute74 on wiki, must I update **NTHRF** https://github.com/akasolace/HO/wiki/NTHRF ?
or add a new topic **NTHRF HO 2.0**
are you agree with:

To import your National Team into HO!

1 Start HO!.
2 Select from menu 'File → Database → Database/User administration'.
3 two way, depend of you already have a team in HO or not :
►you already have your team in HO : Press 'Add'.
►it's the first team in HO

[2019-10-17 20:35] yaute74 commented on #191
@DavidatorusF  perfect :)

[2019-10-17 20:40] DavidatorusF commented on #191
@yaute74 you forgot to answer to my question ^^

update the existant "NTHRF"  on wiki or add a new one "NTHRF since HO 2.0" (mean rename the other one "NTHRF till 143x")

[2019-10-17 20:44] yaute74 commented on #191
@DavidatorusF for me update because the actual stable version don't work

[2019-10-17 21:10] mistermax80 commented on #234
@yaute74 , thanks so much, but I don't belive it is, My idea is build an object composed by training icon and jlabel for name, but the object doesn't printed... I don't undestand how cell name of the overview works....

[2019-10-17 21:25] DavidatorusF commented on #246
@akasolace
on HO, you can simulate tactical assistant and coach type for simulate the style of play you want

![image](https://user-images.githubusercontent.com/45043004/67048162-040c0200-f134-11e9-9026-02b7822ddefc.png)

[2019-10-18 06:39] akasolace commented on #191
me also, you both @DavidatorusF, @yaute74 forrget to answer my question :-)   do you think I can close that bug (which is not link to what you recently discussed) ? I am not sure I understand the initial bug report of @Synthespian , hence I am not sure we have a bug at all here. Thank you for shjaring your opinion

[2019-10-18 06:41] akasolace commented on #246
@DavidatorusF ok and this is working correctly?  Does it mean I can close #191 ?

[2019-10-18 07:37] Synthespian commented on #191
Wow. Been a while. I'll have to re read and recheck.
It wasn't a bug more a feature request.
I've never had one, but maybe (by having a checkbox to say it's an NT team) it is about enabling the tactical assistant options for an NT coach's db.

[2019-10-18 09:14] zerebart opened #259 "[eBUG] no support of plawer specialty "support""
**Describe the bug**
A clear and concise description of what the bug is.
https://image.noelshack.com/fichiers/2019/42/5/1571385242-bugerror8.jpg
 HO v2.0 1374 this morning error message during download of team data.
No possibility to access HO after this error

Before today and since september I had no bug at this step (no change on my PC too : java platform 8.0.1720.11 10/05/2018 09:40).

What I'

[2019-10-18 09:23] akasolace commented on #259
@zerebart have you always been on DEV channel or did you just give it a try after experiencing the bug?  If I understand correctly, now you always have that error on download, but HO still seems to work normally afterward?  Do you have a backup of your database made prior to today error ?

[2019-10-18 11:43] mistermax80 commented on #234
@yaute74 , you said rigth...in that method, inserting following, begin works:
        if (column == 0) {
            JLabel jl = (JLabel) value;
            return jl;
        }

The way is correct.

Thanks!

[2019-10-18 13:10] zerebart commented on #259
The bug I report here ls the FIRST bug I encounter with HO2.0 v1374 since I installed it in september.

I'm not accustomed with github and I dont understand why I could (should) have been on what you call DEV Channel

Finally, no, I didn't make any back up of my DB since mid of september.

[2019-10-18 14:43] DavidatorusF commented on #246
@akasolace I never use it... I just know you can simulate it

are the formula nice, I let you know ^^

maybe see with Synthespian #191

[2019-10-18 14:44] DavidatorusF commented on #191
@Synthespian
on HO, you can simulate tactical assistant and coach type for simulate the style of play you want
![image](https://user-images.githubusercontent.com/45043004/67103722-fa32df00-f1c5-11e9-8ec7-7cca8ff3487f.png)

the question is : it is a nice workarround ?

[2019-10-18 15:12] akasolace commented on #259
DEV channel is in HO preference (if you downloaded HO 1.437, by default you were on STABLE channel, it means you have not been notified of updates since).

can you send me a copy (as a zip) of your db folder ? (you can drop the zip as attachment here directly in github or you can send it to me via Firefox Send.  I will need it to replicate the bug you are experiencing.

[2019-10-18 15:14] akasolace commented on #191
why would that be consider only a `workaround '?  How is it supposed to be treated ?

[2019-10-18 15:26] DavidatorusF commented on #191
@akasolace  workarround for NT

normal users can check the effect of tactical assistant depending of their coach type, then this feature work like a charm for them

NT can use the whole panel from 100% defensive to 100% offensive

hummm...  the new feature can be added to Tactical Assistant a line NT who permit to use to whole panel of style of play (100% defensive to 100% offensive) without check

[2019-10-18 16:52] akasolace commented on #191
@DavidatorusF ah ok you mean if no NT then it works fine
for NT team, we should grey coach type and tactical assistants and always offer -100 to +100 % ?
is it how is it supposed to work for NT coach ?

[2019-10-18 17:03] DavidatorusF commented on #191
right

[2019-10-18 19:34] zerebart commented on #259
[db-zerebart.zip](https://github.com/akasolace/HO/files/3745397/db-zerebart.zip)

Here is the db

[2019-10-18 22:53] cyrill10 commented on #247
I did some digging for those IDs and found some helpful infos:
There is currently 258'476 League ID they seam to be consecutive for all level below 8. Currently the only country that has a level 8 is italy. There the IDs are consecutive from VIII.1 to VIII.1024 and after a gap they are consecutive again from VIII.1025 to VIII.2048.

With those infos I'm writing a little Python script to create the

[2019-10-19 00:38] Synthespian commented on #191
And it goes in 10% increments only.

[2019-10-19 06:30] mistermax80 commented on #247
The server is in php, so you can write directly code in php, in additional the server is based on yii2 framework, it is useful for every needs.

[2019-10-19 06:37] mistermax80 commented on #247
Furthermore, if you want write SQL code for initial infasament, it is ok the your way.

Could you send me the table structure? We should consider also the seasons.

[2019-10-19 08:16] mistermax80 commented on #160
We can think, to leave to user the choice, we can insert a new Param if the user would see the absolute contribute or the player performance (%)

[2019-10-19 10:02] mistermax80 opened #260 "star evaluation"
The idea Is insert a star prediction!

[2019-10-19 12:31] akasolace commented on #247
@cyrill10 not sure I understand this one ... but looks like you know what to do :-)

[2019-10-19 12:34] akasolace commented on #259
@zerebart it says your zip file is invalid. I can't open it. Can you try again please

[2019-10-19 18:36] cyrill10 commented on #247
@mistermax80  As it would only be a one time import to the server I guess inserting the SQL would make sense. The list will also include the currently deactivated higher leagues so it should be relatively stable.

I will send it to you once I'm done with the SQL. For now I'm creating a JSON File containing all the countries with their corresponding leagues. I will do some testing with it to see if

[2019-10-19 22:48] mistermax80 commented on #234
@yaute74, now the icon is visible and the tooltip is ok, but I don't able to change backgroung color when the row is selected. You can see the file src/main/java/module/training/ui/renderer/OutputTableRenderer.java , line 31 to 35.
Could you help me?

![Schermata 2019-10-20 alle 00 45 02](https://user-images.githubusercontent.com/15519907/67152284-196b6280-f2d3-11e9-9863-86733e2ae9ed.png)

[2019-10-20 08:52] cyrill10 commented on #247
I think the Table should be relatively simple on the server. All we really need is the leagueID the Level and the Country.

So something like:

[code]
We could make a Table for the Country, but that is not necessary in my opinion. If that is fine with you I will create a File containing the SQL Insert scripts and give you the link to it

[2019-10-20 14:52] zerebart commented on #259
i send it another time
[db-zerebart.zip](https://github.com/akasolace/HO/files/3747958/db-zerebart.zip)

[2019-10-21 08:51] cyrill10 commented on #247
@mistermax80 This feature contains two problems we need to solve:

1. (main task of the feature) Is to calculate the new leage of a team. This information will change for every season. And needs to be calculated newly. The data flow will look something like this:

User1 from CountryA in HO wants to find his new league. HO calls the HOServer to see if the HOServer knows the current Information for

[2019-10-21 09:48] mistermax80 commented on #247
OK, perfect!
For point 2, for now or for future we can think the inizialize db we can do by new page, where we can insert the parameters as numer countryies, number divisions for country ecc... and submit these the server will populare the table in correct way.
For time line, when do we release it? For this season we are in delay.

[2019-10-21 11:39] yaute74 commented on #234
@mistermax80 sorry for the delay, I was not available this week-end.
In the renderer you must do something like:
[code]

[2019-10-21 12:04] mistermax80 commented on #234
I made but doesn't work as expected...
Could you see the code in my branch?

[2019-10-21 18:43] yaute74 commented on #234
It's because your jlabel is transparent.
So in module.training.ui.comp.PlayerNameCell constructor add

[code]

[2019-10-21 21:23] mistermax80 commented on #234
thanks so much, now it works...

[2019-10-22 06:32] akasolace commented on #259
@zerebart ok thank you. This week I won't have time but I will have a look next week.
For my info, do you still have the same behaviour?

[2019-10-22 06:36] akasolace commented on #247
@mistermax80, those table are extremely stable, they hardly change at all over years. Creating a dynamic way to create them would be ano overkill. I think a sql script as mentioned by @cyrill10 is the way to go in that case

Could be nice to have it in place for next season even if it is only a DEV version. I stored sone league information of last interseason. That could help us to debug and valid

[2019-10-22 07:57] mistermax80 commented on #259
Ok perfect! So Just the table and data are ready I will create a new API service from service for expose the data

[2019-10-22 08:35] mistermax80 commented on #247
Ok perfect!
So just the table and its data are ready, I will create a new API service from server for exposing the data.

[2019-10-22 12:47] Sune23 commented on #89
I can't add my confirmation code. I use macbook with catalina.

[2019-10-22 13:14] akasolace commented on #89
@Sune23 sorry but I doubt your comment/question has anything to do with this ticket (i.e wiki and translations).

[2019-10-22 22:23] DavidatorusF commented on #89
@Sune23 not the nice thread...

whatever... selct the code then :
on windows, CTRL+C for copy and CTRL+V for paste
on mac , use Cmd in place of CTRL : ⌘+C and ⌘+V

[2019-10-23 10:28] Sune23 commented on #89
@DavidatorusF
When I do that on mac and press "enter", nothing happens.
<img width="1440" alt="Skærmbillede 2019-10-23 kl  12 27 57" src="https://user-images.githubusercontent.com/56848212/67384026-a7c03c80-f590-11e9-8dc2-f01a3fbd9531.png">

[2019-10-23 12:05] akasolace opened #261 "[eBUG] confirmation code"
**Describe the bug**
Lot of users are reporting difficulty with obtaining the confirmation code. This thread will be a placeholder for all those issues in order to have a better understanding of the situation and confirm whether or not we have an issue here.

[2019-10-23 12:06] akasolace commented on #89
@Sune23 @DavidatorusF can you move that discussion to the newly created thread #261
Thank you

[2019-10-23 18:26] akasolace commented on #259
@mistermax80 @DavidatorusF can one of you open this archive? it appears as invalid to me .... thank you

[2019-10-23 19:29] mistermax80 commented on #259
@akasolace, I able to open by my smartphone... And I see the content.

[2019-10-23 22:32] DavidatorusF commented on #259
@akasolace look on slack

[2019-10-24 10:29] DavidatorusF opened #262 "[eFEAT] two new flag"
**Is your feature request related to a problem? Please describe.**
Hattrick added two new country
LeagueID=155 RD Congo  🇨🇩
LeagueID=156 Ethiopie  🇪🇹

**Describe the solution you'd like**
IFA need them

[2019-10-24 11:52] akasolace commented on #262
@yaute74 @mistermax80 @pierpaolocira @cyrill10 would anyone of you have time to do this one? I was really busy recently and it will be the case at least until end of next week.

[2019-10-24 11:58] akasolace commented on #247
@cyrill10 if you want you can join the dev team on slack [channel](https://join.slack.com/t/ho-tle6272/shared_invite/enQtODA3NDk0NjM2MTQ0LTJkYThjM2JhZGUxN2EyODNjZDgyNzU0YTQyNzRkZmU1M2UyY2RjYWNlMDRlM2Y1ZTAwNjZkMzJmY2M5NmJkOGI)

[2019-10-24 12:03] akasolace commented on #259
@pierpaolocira @yaute74 @mistermax80 if one of you has time to look at this one in the coming days please do. Otherwise I will do it in the week of 4th of November. At this stage I am not even sure we really have an issue here hence it might not worth to block 2.0 release for this ....

[2019-10-24 18:21] yaute74 commented on #262
@akasolace I can do it this week

[2019-10-24 18:53] yaute74 commented on #259
@akasolace I have a look, it's a real problem. Must be corrected before the release of the 2.0.
We have it when we have a player with speciality 'support'
We have 7 different speciality but 'support' speciality has id 8 and array are created with a size of 7!

[2019-10-24 21:00] akasolace commented on #259
thank you @yaute74  !
@zerebart I will release new built Sunday or Monday evening
@DavidatorusF can you please amend the release note accordingly !

[2019-10-24 21:03] akasolace commented on #259
closed by da1f294d66d76dccb927f5acdd5009824a820e47

[2019-10-24 21:03] #259 closed

[2019-10-24 21:03] akasolace commented on #262
@yaute74  thank you !

[2019-10-25 01:21] DavidatorusF commented on #259
@yaute74 can you explain me what was the mistake with support player ?

I though this one was already solved...

@akasolace whatever, I added it to release note

[2019-10-25 01:30] DavidatorusF commented on #262
🇨🇩 RD Congo LeagueID=155
link=http://www.iconarchive.com/show/flags-icons-by-wikipedia/CD-Congo-Kinshasa-Flag-icon.html

🇪🇹 Ethiopia LeagueID=156
link=http://www.iconarchive.com/show/flags-icons-by-wikipedia/ET-Ethiopia-Flag-icon.html

[2019-10-25 06:38] yaute74 commented on #259
@DavidatorusF it's because the function is not the same in 1.437
I will try to by a support player ...

[2019-10-25 06:42] akasolace commented on #259
true, yesterday I did not pay attention but yes this one was supposed to be fixed in 1.435, Now I recall that when it was release users were saying it was fixing their issue)

fmi, can you tell me what reintroduced a bug ?

good lick with that :-)

[2019-10-25 06:49] akasolace commented on #259
I though this one was already solved...

I looked at the commit made by @yaute74.  I think that in 1.435 we close one bug that was making impossible for a user to download data if they had a support player.  Here @yaute74 went further and change other part of the code that raised issue if player with suport specialty was put in the lineup.

I would say for the release note we can add something gen

[2019-10-25 07:25] yaute74 commented on #259
@akasolace it's because in b663a32f7f387c6f6d89e58394725895411dd83e we remove

[code]

[2019-10-25 11:33] akasolace commented on #262
closed by e415d8d33a86750fd5cebc0c43774940f540efc6

[2019-10-25 11:33] #262 closed

[2019-10-25 20:56] zerebart commented on #259
Thanks for all your job! Suprisingly (to me... I didn't change anything since last friday when I got 1.438 version) I didn't have any error today

[2019-10-26 06:40] yaute74 commented on #259
@zerebart maybe you change your lineup on hattrick and remove your 'support' player

[2019-10-26 16:46] zerebart commented on #259
Possible (if the problem is the support "player" then my bug was because I prepared my team for satursday's friendly and there was my support player in it).

Hope you will make a great job for this 2.0 version (from now on I encounter also some presentation's unpleasantnesses, sepcially in the lineup tab)

[2019-10-27 06:28] mistermax80 commented on #247
I didn't understand one thing, because do I want look the new league? What is it the scope?

[2019-10-27 06:41] mistermax80 commented on #260
http://acandio.blogspot.com/2010/01/hattrick-stelle-stelline.html?m=1

[2019-10-27 10:59] mistermax80 opened #265 "[eFEAT] icons similar to HT"

[2019-10-27 22:45] mistermax80 opened #266 "[eBUG] Missing Download match orders"
I set an order for an player who will be substitute to 85 min if the match is in advantage for more 1 gol.
This order in HP doesn't download.
HT:
![image](https://user-images.githubusercontent.com/15519907/67643107-c9644f80-f913-11e9-9c0c-054276ee57e3.png)

HO:
![image](https://user-images.githubusercontent.com/15519907/67643098-ac2f8100-f913-11e9-8621-da9eedeb52e2.png)

[2019-10-27 23:06] eskwire opened #267 "[eFEAT] Would be cool an uptuion to click for beta or stable"
**Is your feature request related to a problem? Please describe.**
Its not a problem but would say like a future that you could click a box ot something to get the stable or the beta version.

[2019-10-28 08:24] akasolace commented on #267
@eskwire can you give more details? How that would differ from existing release channel menu?

[2019-10-28 17:01] DavidatorusF opened #268 "[eBUG] IFA flag of recently added countries (Congo and Ethiopia) are missing"
**Describe the bug**
flag icon don't appear as well, actually it's [?] for DR Congo and Ethiopia

in the same time, DR Congo and Ethiopia are may be enough... in place of the full country name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'IFA'
2. Click on [I]nfo in coolness
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/67699643-bce00580-f9

[2019-10-28 17:11] akasolace commented on #268
relates to #262

[2019-10-28 17:24] DavidatorusF commented on #266
@mistermax80
what is the position of the player ? on the field and as substitute ?

[2019-10-28 17:31] mistermax80 commented on #266
GK

[2019-10-28 19:38] DavidatorusF commented on #266
work for me... if it's the next match after updated my team

@mistermax80
lineup -> upload/download tab; select the match and [download lineup], do you see your order ?

[2019-10-28 21:01] mistermax80 commented on #266
@DavidatorusF no, it doesn't work...
I made test from lineup -> upload. I tried in italian, english and french, same result.

[2019-10-28 22:09] Synthespian opened #269 "[eBUG] Unable to Set Future Trainings"
**Describe the bug**
On opening the the application for the first time, the future training was set to "Defending".
This meant the wrong players were shown to have received training.  On trying to change the "Future Training" I got an error report.

**To Reproduce**
Steps to reproduce the behavior:
1. Open "Training Tab"
2. Click on "Set All" (Future Training)
3. See error

**Screenshots**
![image

[2019-10-28 22:26] mistermax80 commented on #266
I found the issue... if in HT you don't set the captain and kicker, the match orders will not download...

[2019-10-28 22:39] mistermax80 commented on #269
The stamina training is raise to 10.
I think you had a 5, it's correct?

Could you download the new data (F11) and retry?

[2019-10-28 23:11] mistermax80 commented on #269
@Synthespian
In order to use the your current version you can run this command
`UPDATE "PUBLIC"."FUTURETRAINING" SET staminatrainingpart = 5 where season = 73 AND staminatrainingpart < 10`

You should insert in 'Debug' -> 'SQL Editor'
![image](https://user-images.githubusercontent.com/15519907/67724788-7e643e00-f9e0-11e9-8007-de3ec12bd669.png)
then press the gears icon.

Please, first, You must ma

[2019-10-29 11:55] akasolace commented on #269
@mistermax80 your latest PR fixes it, right ? So maybe @Synthespian just have to wait for new artefacts ...

[2019-10-29 11:56] akasolace commented on #266
closed by c1ab6b80376f1ab7190e14943e86863529962959

[2019-10-29 11:57] akasolace commented on #266
once BETA 2 is released, we will test issue is fixed before closing it.

[2019-10-29 11:58] akasolace commented on #269
once, BETA 2 is out we will check the issue is fixed before closing it

[2019-10-29 12:00] mistermax80 commented on #269
By PR the issue is closed, you can merge and release new artefacts.

[2019-10-29 12:12] #268 closed

[2019-10-29 12:14] akasolace commented on #269
closed by 56b372d5a7c543f72ab4b698422e8585d999bf2a

[2019-10-29 12:14] #269 closed

[2019-10-29 12:42] yaute74 commented on #268
thank @akasolace you were faster than me :)

[2019-10-29 13:31] #266 closed

[2019-10-29 17:25] DavidatorusF commented on #268
nice fix ^^

you forgot my suggestion:
DR Congo and Ethiopia are may be enough... in place of the full country name

![image](https://user-images.githubusercontent.com/45043004/67792351-49f09080-fa79-11e9-86c5-a50ea48e2515.png)

[2019-10-30 09:04] akasolace commented on #268
@DavidatorusF not sure where the name is coming from. I think it might be as it is referred on HT. I am traveling till the end of the week, hence I won’t have time to look at it...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-01 10:26] mistermax80 opened #272 "[eFEAT] Add Value for Forward Technical Defense"
Add new evaluation for player has specialty technical

[2019-11-01 10:27] akasolace commented on #272
it is implemented already. Can you give more details?

[2019-11-01 10:37] mistermax80 commented on #272
Where?
For eg, the formula for forward defence is different by formula for forward technical defence

[2019-11-01 10:40] akasolace commented on #272
you can make the test:
take a player and look at his contribution as Fwd DEF. Then toggle on/off the tech specialty and you will see the contribution to adjust accordingly

[2019-11-01 10:46] mistermax80 commented on #272
Ok I will try, but if it is true, we should add a new parameters for formula in preference.
Otherwise we don't change for that.

[2019-11-01 11:12] mistermax80 commented on #272
Yes it work fine.
But we have not control on formula...

[2019-11-01 11:22] akasolace commented on #272
for sure it can be tweaked via the xml. I tought it would be also possible to do it via the GUI but maybe it is not.

[2019-11-01 11:40] mistermax80 commented on #272
Yes by gui preference is not possible.

[2019-11-01 13:51] DavidatorusF commented on #267
@eskwire

file -> preference -> tab [release channel]

I assume lambda managers will not use this

those who are curious and want testing or helping for development can use beta or dev channel

[2019-11-02 00:36] mistermax80 commented on #272
@akasolace neither by xml, it is possible set the formula value for that.

[2019-11-02 15:44] reaphil opened #273 "[eBUG] Penalty takers"
**Describe the bug**
Penalty takers from HO! are not sent to Hattrick

**To Reproduce**
Define the penalty takers within HO and send the list to Hattrick.org. The penalty takers will not be taken over.

**Platform information:**
 - OS: Windows
 - Version 2.0 r1391

[2019-11-02 16:17] mistermax80 commented on #273
@akasolace I can not test this, I am not a supporter...

[2019-11-02 18:51] akasolace commented on #272
@mistermax80 what do you mean neither by xml ?  it is in the block <FW_D_TECH> ....

[2019-11-02 18:53] akasolace commented on #273
@mistermax80 I will test tomorrow

[2019-11-03 11:20] mistermax80 commented on #272
I didn't see, but I will do a new check!

[2019-11-03 15:19] mistermax80 commented on #272
I have not that tag.
Following, my export:
[formula.xml.txt](https://github.com/akasolace/HO/files/3801697/formula.xml.txt)

[2019-11-04 10:27] akasolace commented on #272
@mistermax80  I guess the mapping is not done in the preference
but if you look in resources/prediction/defaults.xml  you will see it

[2019-11-04 11:08] akasolace commented on #267
I close the issue
@eskwire feel free to reopen it and provide additional information

[2019-11-04 11:08] #267 closed

[2019-11-04 13:23] akasolace opened #274 "[eBUG] feedback module not working if HT is in English and HO is not"
**Describe the bug**
 feedback module is supposed to work if HT is in English independently of HO language

this is supposed to be treated by

https://github.com/akasolace/HO/blob/c1b013adcaf1f93b32205b55d03c9ebf82e9905d/src/main/java/module/pluginFeedback/FeedbackPanel.java#L183

[2019-11-04 13:24] akasolace opened #275 "[eBUG] normlization factor are reset at each restart of HO"
**Describe the bug**
bug submited by @mistermax80 on slack

[2019-11-04 17:19] akasolace commented on #273
@yaute74 in case you have time to give a look at this one .... maybe it can be done for 2.0 instead of wait for 3.0 ....

[2019-11-04 20:08] #272 closed

[2019-11-04 20:08] #275 closed

[2019-11-04 20:44] #274 closed

[2019-11-05 10:14] yaute74 commented on #273
@akasolace Ok I will have a look ...when I have a moment

[2019-11-05 13:04] akasolace commented on #273
thank you @yaute74  !!

closed by 9bb63b63e0cb811afe7422b571f39a49f21028bc

[2019-11-05 13:04] #273 closed

[2019-11-06 23:00] mistermax80 opened #277 "[eBUG] Issue on translate with apostrophe and {0} placeholder"
In italian lang this string:
`feedbackplugin.dataTooOld = I tuoi dati non sono recenti, l'ultimo aggiornamento è {0}. Aggiorna i tuoi dati da Hattrick (scarica).`
Appears:
![Schermata 2019-11-06 alle 23 49 24](https://user-images.githubusercontent.com/15519907/68345263-3ab0b900-00f1-11ea-8351-f21aec8f067f.png)

modifing the code as following, the message appears correctly traslated.
`feedbackplugi

[2019-11-07 07:32] akasolace commented on #277
I guess this is non specific to Italian but should affect other language (to be confirmed)

@mistermax80  Why would the following not be enough ?

`feedbackplugin.dataTooOld = <html>I tuoi dati non sono recenti, l&rsquo;ultimo aggiornamento è scarica. Aggiorna i tuoi dati da Hattrick.</html>`

[2019-11-07 13:42] mistermax80 commented on #277
sure It is not a issue on italian, but there is apostrophe and placeholder.

[2019-11-07 15:26] akasolace commented on #277
@mistermax80 have you read my previous message ? I think it just come down to translating the variable name. If it is unclear to you, I can fix this tonight.

[2019-11-07 16:30] mistermax80 commented on #277
"download" is not a variable, it is only text. do you think the HO read "download" as an variable?
If you try italian lang and remove the apostrophe in the sentence, it works fine, for this I think the issue is the apostrophe and placeholder {0} in the same sentence.
Anyway, in this moment I don't know how to resolve, so if you have time, you can try.
Thanks.

[2019-11-07 19:36] #277 closed

[2019-11-07 21:02] akasolace opened #278 "[eBUG] training estimation does not consider secondary cups"
**Describe the bug**
players who were aligned this Wednesday for the Ruby cup do not appear has being trained

[2019-11-07 21:04] akasolace commented on #278
@yaute74  I assigned it to you because this is "your" part of the code :-)
I set the milestone for 3.0, so there are no urgency here

[2019-11-08 07:14] Lidegand opened #279 "[eBUG] Feedback plugin"
**Describe the bug**
I was trying feedback plugin and although I have same language in HO and HT (Catalan) it gives the following error:

"HT prediction ratings could not be parsed. Are you using HO either in English or in the same language as HT interface? If it is the case then please report the bug on GitHub."

It is probably due to different translations in HO and HT of what is copied, so as I

[2019-11-08 10:49] mistermax80 commented on #279
@akasolace In order to make an other check on feedbackplugin, for english HT to check if the style of play is correctly parsed. I tried 100 offensive and its result it is ok, but I didn't check for defense.
Just an other check, I assume it works fine, but I have this doubt.

[2019-11-08 11:34] akasolace commented on #279
@mistermax80 we have time to look at this later on because for a while we will only request normal attitude. But let's try to keep this thread for the reported bug.
Do you have time to look at it with Catalan HT / Catalan HO ? Otherwise I will have a look this weekend

[2019-11-08 11:36] mistermax80 commented on #279
@akasolace, ok, I think this nigth I will able to look it.

[2019-11-08 23:34] mistermax80 commented on #279
@Lidegand
The issue is:
ls.team.teamattitude --> current is 'Actitud'
but It has be --> 'Actitud de l'equip'
as you can see in the following:
`[table][tr][th]Defensa[/th][td align=center]2[/td][td align=center]1.75[/td][td align=center]2[/td][/tr][tr][th]Mig camp[/th][td colspan=3 align=center]0.75[/td][/tr][tr][th]Atac[/th][td align=center]0.75[/td][td align=center]0.75[/td][td align=center]0.75[

[2019-11-09 00:11] mistermax80 commented on #279
@akasolace my pr add an check: style of play has to be the same in HO and HT.
In this HT screen the user can modify (respect his coach) the style of play, lineup simulator:
![image](https://user-images.githubusercontent.com/15519907/68518754-ba738a80-028d-11ea-93de-39a8ee1afb51.png)
an example, I have the 100% offensive:
![image](https://user-images.githubusercontent.com/15519907/68518766-cbbc9700

[2019-11-10 12:10] akasolace commented on #279
closed by bfcdb08196cbea13a9a7231e76ac9e67141d978d

[2019-11-10 15:26] mistermax80 commented on #279
@akasolace I would leave open this until the catalan lang has fixed.
@Lidegand could you give us confirmation on lang fix?

[2019-11-10 20:06] akasolace commented on #279
@mistermax80  you mean you are not sure your fix worked ? You did not try it for Catalan / Catalan ?

[2019-11-10 20:21] mistermax80 commented on #279
Yes it works, but I didn't able to modify Che Catalan Lang, could you do it?

[2019-11-11 07:51] akasolace commented on #279
@mistermax80 yes I could change it but what should be done exactly ?
the language appears as 100% translated ...

[2019-11-11 09:28] mistermax80 commented on #279
@akasolace read here https://github.com/akasolace/HO/issues/279#issuecomment-552031931

[2019-11-11 09:46] akasolace commented on #279
@mistermax80  ok I see "Actitud" ->  "Actitud de l'equip"
I will change that for Catlan. Should I also do this for Spanish ?

In parrallel, similarly to what was done for tactic, we can introduce partial match for attitude. Cause I am sure we will have similar issue n other language

[code]

[2019-11-11 11:36] mistermax80 commented on #279
Ok, I will do this, and push new PR, i think today.

[2019-11-11 13:10] akasolace commented on #279
@mistermax80 ok perfect

[2019-11-11 14:48] mistermax80 commented on #279
@akasolace PR is ok.
But I find a new bug, could you check it and if it is confirmed open new one?
Situation:
HO lineup empty, the feedbackplugin doesn't recognize this different respect to the requirements, and you can send the feedback.

[2019-11-11 15:00] mistermax80 opened #282 "[eFEAT] ideal position: absolute contribute vs individual performance"
The new individual performance is creating some confusion some users:
![image](https://user-images.githubusercontent.com/15519907/68596199-2414b400-049b-11ea-8118-006707bd5be9.png)

My proposal is:
- insert the individual performance value (%) in all screen where it is visible the "ideal position" column
- insert news preference in order the user can select which value wants see: absolute contribu

[2019-11-11 15:14] akasolace commented on #282
for sure we can make sure it is consistent in all screen
Everywhere it refers to ideal position it should be using the relative performance in %, otherwise it should be the absolute contribution

[2019-11-11 15:15] akasolace commented on #279
Situation:
HO lineup empty, the feedbackplugin doesn't recognize this different respect to the requirements, and you can send the feedback

Ok I will test test it, in the meantime I open a new bug ticket in order not to forget it.

[2019-11-11 15:16] akasolace opened #283 "feedbackplugin: empty lineup are not detected"
HO lineup empty, the feedbackplugin doesn't recognize this different respect to the requirements, and you can send the feedback.

_Originally posted by @mistermax80 in https://github.com/akasolace/HO/issues/279#issuecomment-552474810_

[2019-11-11 15:18] akasolace commented on #279
once new artefacts are ready, I will let @Lidegand confirm the bug is closed

[2019-11-11 15:37] Lidegand commented on #279
I am very sorry that I did not check my email nor this thread since Friday.

I can see that you fixed already for Catalan, I can check Spanish (just translation or also in HO)

[2019-11-11 15:52] Lidegand commented on #279
I have just checked Spanish (text from HT and in HO). Just to point out that there exists 3 different Spanish versions in HT and have different translations for ls.team.teamattitude.playitcool and ls.team.teamattitude.matchoftheseason

[2019-11-11 15:53] Lidegand commented on #279
Should I try to send feedback?

[2019-11-11 15:53] akasolace commented on #279
@Lidegand  similarly than for Catalan, you can check that for Spanish the term `ls.team.teamattitude` should be exaclty the same as the one you copy from HT rating (example below for Catalan as I do not have the one for Spanish:

`[table][tr][th]Defensa[/th][td align=center]2[/td][td align=center]1.75[/td][td align=center]2[/td][/tr][tr][th]Mig camp[/th][td colspan=3 align=center]0.75[/td][/tr][tr

[2019-11-11 17:07] akasolace opened #284 "[eBUG] manage new division battle match icon + game specifics"

[2019-11-11 17:08] akasolace commented on #284
@pierpaolocira  @yaute74 @brokenelevator  @konved  has any one of you time to look at it ?

[2019-11-11 20:37] akasolace commented on #284
Actually I am not even sure there is something to be done here, looks like a league tournament match .... what do you think ?

![image](https://user-images.githubusercontent.com/1136496/68619228-550cdd00-04cb-11ea-9c5b-37aeab08688d.png)

[2019-11-11 20:38] #283 closed

[2019-11-11 23:59] mistermax80 commented on #234
in time miss, I work on this, now, my proposal is:
![image](https://user-images.githubusercontent.com/15519907/68630379-6f54b400-04e7-11ea-90dc-5b51c9f43060.png)
I remember you the old bar style is very bad:
![image](https://user-images.githubusercontent.com/15519907/68630417-99a67180-04e7-11ea-9c54-319a12035723.png)

I would like to know what you think, if you want I will do configurable in prefe

[2019-11-12 00:10] mistermax80 commented on #238
new HT layout:
![image](https://user-images.githubusercontent.com/15519907/68630945-3ddce800-04e9-11ea-9552-9266305c4aad.png)

[2019-11-12 07:20] Lidegand commented on #279
Sorry, I did not explain myself properly. When I said "I have just checked Spanish (text from HT and in HO)." I wanted to mean that I changed ls.team.teamattitude so that it matches the one copied from HT, for example:

The next phrase was related to point out that even if you parse correctly ls.team.teamattitude, values from team attitude are different in different Spanish version in HT:

ls.team

[2019-11-12 07:29] Lidegand commented on #279
Now it gives me another error, feedbackplugin.notMatchRequirements:

<p>Please check:</br><li>same lineup both in HO and in HT as required</li><li>same tactics both in HO and in HT as required</li><li>same attitude both in HO and in HT as required</li><li>same style of play both in HO and in HT</li></p>

Steps to reproduce the behavior:

1. Go to Feedback plugin (after downloaded data with match o

[2019-11-12 07:46] akasolace commented on #234
@mistermax80  so before the bar was only the integer value. Now you add a light color for the decimal part.   But what is the last bar, the one related to training ?

[2019-11-12 07:48] akasolace commented on #238
@mistermax80  yes this is what I had in mind. Now we have a model :-)

[2019-11-12 07:52] akasolace commented on #279
@Lidegand I guess this is the error. The idea is to have the same lineup bot in HO and in HT otherwise we can't conclude anything on prediction rating. So currently HO require lineup with a single GK.  So in HO you should create lineup with just a GK (a single player on the lineup) and put normal attitude, normal tactic .... then you replice the same thing in HT (using the same player) and you cop

[2019-11-12 10:00] mistermax80 commented on #234
@akasolace  lthe old bar has the skillvalue with decimals, and for the skill trained, the bar is of the value of the end the training. If you see in my previous post (old) you can see the passing bar is very long, this because I train passing and the long bar represents the value of end training.
I made the following modify respect to old bar:
- add form
- reorder as HT
- colour behaviour for form

[2019-11-12 10:53] mistermax80 commented on #238
yes 😀

[2019-11-12 11:33] Lidegand commented on #279
I am sorry, I did not understand the explanation/graph. To be honest, I did not understand why you copied whole lineup positions as if it could be configured differently (it was shown all positions).

Now I understand it.

[2019-11-12 11:38] Lidegand commented on #279
Now it gives feedbackplugin.serverError error when clicking on Send (update worked ok):

[ho_token-BRIU9HYPW8] The data has not been successfully sent, server error. You can report this error by opening a new bug ticket on GitHub.

[2019-11-12 12:23] akasolace commented on #234
@mistermax80  ok I see
maybe we can simply indicate plain / light for integer/decimal value and use a different color for the currently trained skill. might be less confusing.    @DavidatorusF @yaute74  any remarks on this ? Do you like proposed implementation?

[2019-11-12 12:25] akasolace commented on #279
@mistermax80  can you check that token ho_token-BRIU9HYPW8]  on server and get extra information of what might have gone wrong ?

[2019-11-12 12:27] Lidegand commented on #279
I tried again later with another ho_token number, but I did not copy it (just few seconds/minutes after writing my message about [ho_token-BRIU9HYPW8]

[2019-11-12 13:46] mistermax80 commented on #279
@Lidegand I think the sending is not arrived on the server, maybe connection error and I like to investigate on this.
Could you attach here your log file? The file with same day on error facing.

Thanks,
Massimo

[2019-11-12 13:49] mistermax80 commented on #160
#282

[2019-11-12 13:51] mistermax80 commented on #213
@akasolace, in paraller to other for 3.0, and after the activities for 2.0, I can take this.

[2019-11-12 14:11] akasolace commented on #213
@mistermax80  ok perfect

[2019-11-12 18:06] Lidegand commented on #279
[HO-2019-11-12.log](https://github.com/akasolace/HO/files/3837542/HO-2019-11-12.log)
Here are the logs

[2019-11-13 09:35] mistermax80 commented on #279
@Lidegand I saw your log, but I see and exception doesn't specified...
I would know, how you connect to internet.
Do you use an proxy?
was you connected to internet?

Do you use windows? Otherwise which is your SO?
Could you send me the output of the following command (in windows press windows button and r, after write cmd, in the black screen write the command)?
`nslookup hofeedback.000webhostapp

[2019-11-13 09:53] Lidegand commented on #279
I tried (and now I am too) at work. I have internet connection through Ethernet.

We have a router with different LAN subnets and also DNS server is inside our LAN network. We also have VPN to our cloud servers. I am not the IT guy, but more or less I know what we have (we are small company).

The result of the command is:

lookup hofeedback.000webhostapp.com
Servidor:  vpnserver.dcos.urbiotica.ne

[2019-11-13 10:05] mistermax80 commented on #279
ok I saw your feedback send, are about 15 sent.
The host name is not new, it is active since 6 six (minimum)... I don't know, I think your local DNS is not updated.

[2019-11-13 10:41] Lidegand commented on #279
Ok, I will check with IT guy and if we cannot update, I will switch to Google DNS to send feedback

[2019-11-13 10:57] mistermax80 commented on #279
@Lidegand ok, let me know if you will resolve, we have not a static ip and we have to use the hostname in order to reach the server.

[2019-11-13 11:01] mistermax80 commented on #279
@akasolace the exception is "java.net.UnknownHostException", and I didn't catch these specific in order to show an specif messagge, in fact the error message is generic, have we to show an specifc message? Now the details are only in logs.

[2019-11-13 11:23] Lidegand commented on #279
@mistermax80  I don't know when I will check it, but for me it is obvious that it is a problem in my side, if with Google DNS works. I will try it at home this weekend if I can.

[2019-11-13 11:35] mistermax80 commented on #279
Ok, let me know the test result at home (if you will can).

Thanks

[2019-11-13 11:37] akasolace commented on #279
ok so I read the message, it is not an HT bug, hence I close the issue.
Thank you @mistermax80 for investigating

[2019-11-13 11:37] #279 closed

[2019-11-14 09:39] mistermax80 opened #285 "[eFEAT] Add in transert tab, current bid information"
we can use this API:
https://www82.hattrick.org/Community/CHPP/NewDocs/File.aspx?name=currentbids

in order to show:
- Shows all active, recently finished or hotlisted transfers for the specified team.
- Removes the tracking of a specific transfer, for Supporters only. Only possible for losing bids, hotlisted and finished.
- deleteAllFinished - Removes the tracking of all finished transfers in one

[2019-11-14 11:59] mistermax80 commented on #124
link also: #234

[2019-11-15 14:19] mistermax80 opened #286 "[eBUG] Ho doesn't calculate the skill drop"
I don't undastand if HO calculate the skill drop, but there are some part of the code that seems treat this.

Guys, do you know about this?

[2019-11-15 14:40] akasolace commented on #286
It is supposed to be considered ... I will check that this weekend

[2019-11-15 15:02] mistermax80 commented on #213
I'm trying to color impact:
Change font color is not nice, is very bad, and in selected row the font is black:
![image](https://user-images.githubusercontent.com/15519907/68952974-33f50680-07c1-11ea-88ee-1a5f211f3465.png)

I will try other solution...

[2019-11-15 15:44] mistermax80 commented on #286
ok thanks @akasolace !

[2019-11-17 10:54] akasolace commented on #286
@mistermax80 for me it is working ...

[2019-11-17 12:21] yaute74 commented on #234
Sorry I was busy this week.
For me it's ok

[2019-11-17 12:23] yaute74 commented on #278
@akasolace ok I will check it

[2019-11-17 12:23] yaute74 commented on #284
@akasolace I can have a look on this next week

[2019-11-17 14:45] mistermax80 commented on #286
@akasolace how do I check if it works?
Clould you send me an screenshot?

[2019-11-18 07:37] akasolace commented on #286
@mistermax80, I just see that skills are decreasing for my "old" players. I just selected previous HTRF and in player tab. I can paste screeenshots tonight.

[2019-11-18 10:03] mistermax80 commented on #286
@akasolace If you are refering to the different value between different HRF, no it works fine, I 'm referring to the prediction to skilldrop, in order to predic the effect skilldrop for old players...

[2019-11-18 10:05] akasolace commented on #286
ah you mean like training prediction ... to see how fast skill will drop for old players ?
in that case no this is not implemented

[2019-11-18 12:07] mistermax80 commented on #286
yes I mean like training prediction... but I saw some part of code that treat this, I think old code, and maybe not sill used....
I like to have the skilldrop prediction, usefull also when I buy the players....
So I see the code and I will find beacuse it doesn't work or beacuse it dismissed.

[2019-11-18 12:53] akasolace commented on #286
@mistermax80 ok

[2019-11-18 18:11] akasolace opened #287 "[eFEAT] Player Details: use new info available via CHPP"
Include the newly available info in Player details

Players
- Arrival date
- Owner notes
- Matches for current team
- Goals for current team

[2019-11-18 20:02] yaute74 commented on #284
@akasolace you are right, for division battle match, CHPP return code 50 for MatchType, same ID than for tournament.
But after some tests it seem to works, so just an icon problem

[2019-11-18 20:14] akasolace commented on #284
@yaute74 but then how to differentiate them to allocate the right icon ?

[2019-11-19 11:17] akasolace opened #288 "[eBUG] clean situation between Serbian Latin vs Cyrillic both in HO and PoEditor (update links)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2019-11-19 17:23] mistermax80 commented on #213
@DavidatorusF @yaute74 @akasolace
I worked on this, but after I continue, I would like to know your remarks.
I made some tries and the better effect is with bold text, using the color is very bad and it complexs the data reading.
Following some examples:
![image](https://user-images.githubusercontent.com/15519907/69169656-01b51300-0af9-11ea-8d20-ef669569ccfc.png)
![image](https://user-images.githu

[2019-11-19 17:28] mistermax80 commented on #287
@akasolace
it can be nice to show the player avatar in HO, there is an CHPP in order to download the players avatar.

[2019-11-19 17:41] #288 closed

[2019-11-19 20:04] akasolace commented on #213
@mistermax80 I am ok with the choice of just changing the font. However I think the general approach is not correct. I don't think we should highlight highest absolute contribution. However indeed I think we should highlight all positions that are under a certain relative threshold.
Imagine we set the tolerance to 5 % ( this could be set in preference at some point). Then for each player, we shoul

[2019-11-19 20:04] akasolace commented on #287
@mistermax80  I did not know it was available.  I am ok or this but not sure where to put it in the GUI, just in player details then, right ?

[2019-11-19 20:59] yaute74 commented on #284
@akasolace I don't know if it's possible :(

[2019-11-19 22:19] mistermax80 commented on #213
It Is clear, and also I agree with you opinion....

[2019-11-19 22:22] mistermax80 commented on #287
And the misc tab, and (maybe) in lineup.
In addition we can think to create mini avatar in order to insert in the tables, but we should see which is the effect....

[2019-11-19 22:24] mistermax80 commented on #284
I think, the HT in the future add a new chpp for the tournament details and maybe the match I'd will change...

[2019-11-20 07:34] akasolace commented on #284
@yaute74 @mistermax80 I will ask HT devs

[2019-11-20 14:15] DavidatorusF commented on #287
do you know HT-History ?
https://www.hattrick.org/goto.ashx?path=%2FCommunity%2FCHPP%2FChppProgramDetails.aspx%3FApplicationId%3D4470

nice to see this post [post=17230405.2] for the installation on windaube

manuhell is now out of Hattrick...

may be nice to have something similar...

[2019-11-20 14:18] DavidatorusF commented on #285
sincerely, I think Mercattrick did this job... not sure HO have to do the same

https://www.hattrick.org/goto.ashx?path=%2FCommunity%2FCHPP%2FChppProgramDetails.aspx%3FApplicationId%3D4953

[2019-11-20 19:18] DavidatorusF commented on #213
I'm agree with the bold :p

[2019-11-21 08:07] akasolace commented on #285
I tend to agree with @DavidatorusF, I am not sure this what we should focus on.
Mercattrick did a pretty good job at it.

[2019-11-21 09:40] mistermax80 commented on #285
Ok I will check, I don't know that tool.

[2019-11-21 11:19] mistermax80 commented on #234
@akasolace @yaute74
I asked to @DavidatorusF an his opinion on this, him prefer blue insted green and the decimal skill bar is too little.

So, I would like to ahead in this way:
- try color bar to blue
- remove the little decimal skill bar
- try to insert an highlithg for give evidence on the skill trained

[2019-11-21 11:23] DavidatorusF commented on #234
was a joke about the blue ^^
green is nice

about the decimal skill, it's only cause of my glasses, I need new one..
when decimal skill become bigger (than on our your screenshot), I think we can see it better

[2019-11-21 11:32] mistermax80 commented on #234
I get it your joke, but I would like to consider an different color respect to HT.
the high value for decimal it will be 0,999 and the effect in the bar is an very small bar, and so I am not convince the its efficacity.
I will a try and after we will decide.

[2019-11-21 11:38] mistermax80 commented on #285
Hi guys, I saw that tool, it is fantastic, I didnt know.
My idea is that, an tool for supports the manager in the buy process.
We can close this issue.

Thanks so much.

[2019-11-21 11:38] #285 closed

[2019-11-21 11:43] DavidatorusF commented on #234
may be use green more different...
![image](https://user-images.githubusercontent.com/45043004/69335105-73f23880-0c5c-11ea-90c7-6642da9e5a13.png)

[2019-11-21 11:47] mistermax80 commented on #282
Consider also the logic beside #213

[2019-11-21 11:56] mistermax80 commented on #234
ok I made an a try in both method

[2019-11-22 07:23] akasolace commented on #278
closed by bb8613c731f2ab8f4c754a488dc3c851f50ac509

[2019-11-22 07:23] #278 closed

[2019-11-22 07:32] akasolace commented on #284
I just asked the devs, in the meantime I thought that maybe match timestamp might be sufficient to identify them. To be confirmed

[2019-11-22 07:39] yaute74 commented on #284
We can create a tournament when we want, no ? So I think we can create a tournament at the same hour

[2019-11-22 14:56] mistermax80 commented on #213
@akasolace related your previous comment:

Ok, I'm agree.

For the relative performance do you refer % value and not to the absolute contibution?
If you refer to % value (normalized contribution) we have not in table, and use this value for highlith the absolut contribution is very difficult, but if it is more correct, I will think how to work on this.

[2019-11-22 16:14] mistermax80 commented on #234
Other test:
![image](https://user-images.githubusercontent.com/15519907/69441732-86976b00-0d4b-11ea-8375-5af66e84fd84.png)

[2019-11-22 16:27] mistermax80 commented on #234
![image](https://user-images.githubusercontent.com/15519907/69442648-3de0b180-0d4d-11ea-8f1f-28767c62578f.png)

@akasolace @yaute74 @DavidatorusF what do you think?

[2019-11-23 13:27] DavidatorusF commented on #234
ah ah ah, I like thee blue one

but green is the best for HO

[2019-11-23 20:15] murko69 opened #290 "Exclude HTOIntegretad games at download"
A feature request - as asked in [16904776.98](https://www.hattrick.org/goto.ashx?path=%2FForum%2FRead.aspx%3Ft%3D16904776%26n%3D98%26v%3D4)
-----------------

I really seldom play HTOIntegrated games (ladders, tournaments) but now and then I participate in the tournaments in between seasons and now also the division battles are included and I thought that was a great feature, but I really don't wa

[2019-11-24 12:29] cheilson opened #291 "[eBUG]Catch error when using TeamAnalyzer while team is playing a game"
I get a java error when i press update in TeamAnalyzer

**To Reproduce**
Steps to reproduce the behavior:
1. Go to TeamAnalyzer
2. Select next League opponent
3. Press update'
4. Java error:

java.lang.NullPointerException
	at module.teamAnalyzer.ht.HattrickManager.getValue(HattrickManager.java:192)
	at module.teamAnalyzer.ht.HattrickManager.getIntValue(HattrickManager.java:179)
	at module.teamAna

[2019-11-24 13:33] cheilson commented on #291
No error after the match. Looks like it has something to do with the team playing.

[2019-11-24 21:33] cheilson opened #292 "[eBUG] Faulty ratings in HO"
**Describe the bug**
When I select my best players in HO, it predicts 244 in Hatstats, however HT predicts 389 in hatstats.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lineup page
2. Select same squad

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows10]
 - Version 2.0 1414 (But had the same issue in earlier vers

[2019-11-25 08:14] akasolace commented on #213
If you refer to % value (normalized contribution) we have not in table, and use this value for highlith the absolut contribution is very difficult, but if it is more correct, I will think how to work on this.

Yes I was talking about relative performance ... I agree there is a bit more work.
There is a method that compute the best position, maybe we can modify that method to also identify alternat

[2019-11-25 08:15] akasolace commented on #234
I am ok with both, I will let you decide

[2019-11-25 08:19] akasolace commented on #292
@cheilson , looks like your formula are broken,   can you try preference -> formula -> reset factors  ?

[2019-11-25 15:14] mistermax80 commented on #213
Ok, I will think how to do.
It will be very hard! 😁

[2019-11-25 15:20] akasolace commented on #213
@mistermax80 I don't think this is very hard. I have a good idea on how this can be implemented.

At the moment I do not really have time, but I can look at in a couple of days.  Let me know if you need help.

[2019-11-25 16:02] cheilson commented on #292
After messing around a lot, It looks alright now. I’ll be back if it happens again.

Fra: akasolace <notifications@github.com>
Sendt: 25. november 2019 09:20
Til: akasolace/HO <HO@noreply.github.com>
Cc: cheilson <kejle@1145.dk>; Author <author@noreply.github.com>
Emne: Re: [akasolace/HO] [eBUG] Faulty ratings in HO (#292)

@cheilson <https://github.com/cheilson>  , looks like your formula are bro

[2019-11-26 11:57] mistermax80 commented on #234
Blue Is nice, but green is more correct related to HO colours.
@akasolace @yaute74 @DavidatorusF
Do you want I manage some preferences for:
1 - to show training preview
2 - to show new colour green bar.

Let me know what you want.

[2019-11-26 11:58] mistermax80 commented on #213
Could you write me your idea?

[2019-11-26 12:09] akasolace commented on #234
You man to activate/deactivate the functionality? In that case I would say no

 clearly no

[2019-11-26 12:13] akasolace commented on #213
There is a function that calculate best position. That function loops over all position and calculate relative contribution and store the max value.
The idea would be to:
   - add "alternative position" filed to Player
   - amend the function that calculate best position to calculate during that loop the alternative position
   - the thresold we start with can be 5% but can be changed by user via

[2019-11-26 13:33] mistermax80 commented on #234
Yes I mean that.
Ok new for all!

[2019-11-28 15:59] mistermax80 commented on #234
@akasolace
By 5acfa63eb6690062f56f014d237cf7f22df0ffa5, the following situation, it can be consider stable and final.
I wait release HO 2.0 for send the relative PR (after rebase or merge... see slack).

![image](https://user-images.githubusercontent.com/15519907/69819968-4c711200-1200-11ea-9dff-8cdb9c84a39f.png)

[2019-11-28 16:11] mistermax80 opened #293 "[eFEAT] Sorting position and strengh"
When you sort, the strengh it is not consider for sorting:
![image](https://user-images.githubusercontent.com/15519907/69820735-1cc30980-1202-11ea-957e-15f9717eb4c3.png)

[2019-11-28 16:23] akasolace commented on #234
@mistermax80 ok great thank you. Stable will be release this weekend.

[2019-11-28 16:46] mistermax80 commented on #293
![image](https://user-images.githubusercontent.com/15519907/69822567-fb185100-1206-11ea-97a9-cd647a1299e8.png)

[2019-11-28 16:48] mistermax80 commented on #293
By d99783e666230d11f2326ea0130b5eaaaa1bf17b
I had in head for just do in training tab.
![image](https://user-images.githubusercontent.com/15519907/69822658-361a8480-1207-11ea-9600-1090ce7fdcb4.png)

[2019-11-28 21:44] mistermax80 opened #294 "[eFEAT] substitution calculator"
As the tool https://github.com/tagliala/StaminIA
http://lizardopoli.altervista.org/staminia/
integrated in HO in lineup tab.

[2019-11-29 00:40] mistermax80 opened #295 "[eBUG] decimal negative difference missing in player panel"
![image](https://user-images.githubusercontent.com/15519907/69836444-17d57880-1249-11ea-9579-f48228ad2e01.png)

![image](https://user-images.githubusercontent.com/15519907/69836453-2ae84880-1249-11ea-81fd-a6efe5c15e24.png)

[2019-11-29 00:43] mistermax80 commented on #286
@akasolace
HO calculate the skilldrop in order to indicate the accurate skill value (in current week) and predict training, but doesn't exist a functionality for predict the skilldrop.

We can use the function already present in order to predict the skill drop.

[2019-11-29 00:49] mistermax80 opened #296 "[eBUG] wrong training highlight when set different future trainings"
![image](https://user-images.githubusercontent.com/15519907/69836596-36883f00-124a-11ea-9ecb-8cd9eb7f11c6.png)

The correct highlight is for the current training, in this case "passing" (ongoing week) and no "attack" (represet the last in future).

[2019-11-29 09:53] akasolace commented on #286
@mistermax80 ok for me

[2019-11-29 09:57] akasolace commented on #295
@mistermax80 I don't get what is the issue here ... can you give me more info ?

[2019-11-29 10:00] akasolace commented on #284
@yaute74  according to devs, to identify them we can use Tournament type 10. Can you have a look? I think we should close this one before 2.0. If you have no time I can assign it to myself. Let me know ..

[2019-11-29 10:25] mistermax80 commented on #295
Issue not important, but if you see my screenshot (refer both same player) you can notice in the first there is the negative different are marked, but in second are reported only positive differences.

[2019-11-29 11:32] akasolace commented on #295
@mistermax80 ok I see now. Also what is wiered is that REGIA is 1.80 on one screenshot and 1.79 in the other !

[2019-11-29 15:28] mistermax80 commented on #234
In order to check and programme the training or other players details, I'm going to insert in training tab the note panel (present in player details of the plyaer overview tab)

[2019-11-29 15:35] akasolace commented on #234
did not get it

[2019-11-29 15:38] mistermax80 commented on #234
![image](https://user-images.githubusercontent.com/15519907/69878911-6b39dc00-12c6-11ea-9370-8f86a81d3583.png)

![image](https://user-images.githubusercontent.com/15519907/69878987-9b817a80-12c6-11ea-8f4e-8849823bc486.png)

[2019-11-29 17:14] mistermax80 commented on #234
By this: 2f0203c0c7daeb5e2c3cac9c27d3624eb2fd15f9
The final version, I promises... the real final... 😄
![image](https://user-images.githubusercontent.com/15519907/69883360-18ffb780-12d4-11ea-9a3e-b501bb4baaf7.png)

[2019-11-29 17:16] mistermax80 commented on #296
@akasolace let me know what it is not clear, I will try to explain with differents words.

[2019-11-29 19:09] akasolace commented on #234
@mistermax80 what is it you put as note?

[2019-11-29 19:12] akasolace opened #297 "[eFEAT] introduce tournament support"
Introduce tournament support, GUI and functionalities to be defined:
        - 1)  download and store tournament details in new table in the database: what to get? what to store?
        - 2 ) present tournament info fixtures ?  ranking ?  in a dedicated GUI ?

When step 1) is done, it would be possible to close #284

[2019-11-29 19:15] mistermax80 commented on #234
free text "lorem ipusum" inserted for test, for default is blank else it is the same player note in player overview tab

[2019-11-29 19:18] akasolace commented on #234
@mistermax80 for my info because I never used that: the player note is not editable, it is the one from HT, right ?
So it is synced at download time, right?

[2019-11-29 19:18] mistermax80 commented on #297
great idea!!!!

[2019-11-29 19:27] mistermax80 commented on #234
@akasolace no, it is that of HO, in player overview:
![image](https://user-images.githubusercontent.com/15519907/69887301-887ea280-12e6-11ea-9d60-efd31226d969.png)

HT notes are available for only supporter, but it can be an new fetaures --> intresting for user uses HT notes

[2019-12-01 01:21] mistermax80 commented on #213
@akasolace, current result, I made as you suggest, now are calc normalized.
![image](https://user-images.githubusercontent.com/15519907/69907990-97498000-13e0-11ea-924d-4046eae30178.png)

But I agre with you the alternative best position are related with value position normalized, but the other user can not be agree, so I think if the best position are colulated on normalized value or no it is a u

[2019-12-01 16:18] mistermax80 opened #299 "[eFEAT] HO lineup can suggest same role or other tricks for special event"
In manual at this section "special event": https://www.hattrick.org/en/Help/Rules/SetPiecesAndSpecial.aspx

Are reported the condition for realize special event, in HO new we can see only icons (x or v) for special event on wheter:
![image](https://user-images.githubusercontent.com/15519907/69916684-4b3d2080-145e-11ea-96c6-8dc09900cfe3.png)
I don't sure the overcrowding penalty are considered.

Th

[2019-12-01 17:33] cheilson commented on #292
And now it is back again.

Resetting formulas didn’t help.

I made a copy of the entire folder, would you like a zip copy?

Fra: Claus Kejlstrup <kejle@1145.dk>
Sendt: 25. november 2019 17:03
Til: 'akasolace/HO' <reply@reply.github.com>
Emne: SV: [akasolace/HO] [eBUG] Faulty ratings in HO (#292)

After messing around a lot, It looks alright now. I’ll be back if it happens again.

Fra: akasolace <

[2019-12-01 19:29] akasolace commented on #125
closed by #bda2ab56b333d217810b77912d84db9e004f4ae1

[2019-12-01 19:31] akasolace commented on #292
@cheilson yes please, a zip of your database, screenshot of your HO Lineup as well as HT.

Thank you

[2019-12-01 19:33] akasolace commented on #299
@mistermax80 what additional info would you like to provide?  Hoover message giving more details like "Strong players are loosing XXX under the Sun ...." like the full thing ?

It is considered in prediction rating

[2019-12-01 22:28] mistermax80 commented on #299
Yes the idea can be that... If you think this can be interesting I can list all.

[2019-12-02 00:04] mistermax80 commented on #213
Other evolution, the combo box for fix the role, now you can see the all personal rating and the alternative posizions have the *:
![image](https://user-images.githubusercontent.com/15519907/69922776-785df300-149f-11ea-8df9-f48e465e04ad.png)

[2019-12-02 00:20] mistermax80 commented on #234
PR ready #300

[2019-12-02 07:25] akasolace commented on #299
So it is what you had in mind?

[2019-12-02 12:37] mistermax80 commented on #299
@akasolace
I think HO should be an tool that helps the users. The users can not have in mind every conditions to check, and for me HO can help user to remind some things and take the correct choices.
In order to explain better what I want say, the broke elevator features on rating in time, I don't know what I use that information, but if HO suggests some advice it can be the difference respect to

[2019-12-02 13:29] akasolace commented on #299
@mistermax80 I just what to understand what you have in mind exactly with this new feature request:
   1) simply as I stated above, add description of the good/bad weather event indication (simple to do)
   2) consider the weather for the calculation of the contribution rating (more difficult to do)

In case it is 2), how to implement it? A possible approach could be:
    - calculate contribution

[2019-12-02 15:41] akasolace opened #301 "[eBUG] Fix translation Serbian (Cyrillic)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2019-12-02 15:43] #103 closed

[2019-12-02 15:44] akasolace opened #302 "[RLS] 3.0"
**Tracking PRs and Issues**

[Open PRs](https://github.com/akasolace/HO/pulls?q=is%3Aopen+is%3Apr+milestone%3A3.0)
[Open Issues](https://github.com/akasolace/HO/issues?q=is%3Aopen+is%3Aissue+milestone%3A3.0)

** Release Process:**
 - [ ] create release branch @akasolace
 - [ ] update release note in [HO](src/main/resources/changelog.md) (up to date before BETA)
 - [ ] terminate DEV Q&A, create 1st

[2019-12-02 19:08] #301 closed

[2019-12-02 19:15] akasolace commented on #234
closed by f9f6b8e

[2019-12-02 19:15] #234 closed

[2019-12-02 20:56] cheilson commented on #292
Hi.

Its all here:

https://we.tl/t-0pC5FWAQ4k

Fra: akasolace <notifications@github.com>
Sendt: 1. december 2019 20:31
Til: akasolace/HO <HO@noreply.github.com>
Cc: cheilson <kejle@1145.dk>; Mention <mention@noreply.github.com>
Emne: Re: [akasolace/HO] [eBUG] Faulty ratings in HO (#292)

@cheilson <https://github.com/cheilson>  yes please, a zip of your database, screenshot of your HO Lineup as w

[2019-12-02 21:39] yaute74 commented on #124
@akasolace I will propose another solution, manage a third click on the name column:
- first click sort by name ascending
- second click sort by name descending
- third click sort by training preview
- fourth click by name ascending
- etc ...

Add a column in first position is an important modification compare to the functionality and it will take more space.

[2019-12-02 22:54] akasolace commented on #124
Sounds a good idea, does the job and implementation is simple. Only issue is that users won’t be easily aware of that functionality but this is no big deal ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-03 07:28] akasolace commented on #292
@pierpaolocira @konved
Hello, does one of you want to investigate this one? First thing is to confirm whether or not there is an issue.

[2019-12-03 14:42] mistermax80 commented on #299
@akasolace the approac is 1) only suggest...
for overcrowding i'm refering to:

[2019-12-03 15:24] mistermax80 commented on #124
yes good idea: please reminder also the training tab: #234 😄
![image](https://user-images.githubusercontent.com/15519907/70064203-68522a80-15e9-11ea-9ff5-d45ef660d4e0.png)

[2019-12-03 15:40] mistermax80 commented on #125
@yaute74
The partial stamina training is not detected:
![image](https://user-images.githubusercontent.com/15519907/70065578-a3edf400-15eb-11ea-83ad-f07bbcb5cc6d.png)

HT situation:
![image](https://user-images.githubusercontent.com/15519907/70065404-596c7780-15eb-11ea-8737-53257e8e0e83.png)

[2019-12-03 15:43] akasolace commented on #299
@mistermax80

ok

overcrowding is already considered in rating calculation

[2019-12-03 19:19] akasolace commented on #293
closed by b8e9f4b90248961f8ca47ff3c795d81b4bcaf386

[2019-12-03 19:19] #293 closed

[2019-12-04 12:52] yaute74 commented on #125
@mistermax80 thank for report I will have look when I have a moment

[2019-12-04 19:54] yaute74 commented on #125
@mistermax80 @akasolace I have look somewhere that players are not train during out of play.
Is right ? it's the same thing for stamina ?

In my match, my player enter at minute 31 and match finish at minute 95 and on train page is written:  Komlan Leke | DC (64') -- | --

[2019-12-04 21:50] pierpaolocira commented on #292
@akasolace I don't have really time in this period, but al least I tried to reproduce.
I know that I will be considered as a dumb (in truth I'm not really an expert in Hattrick, and this is why I never went over V serie :) ), but I was neither able to find that "Match Order" web screen. My Hattrick looks quite different... or I'm looking in the wrong place.
<img width="791" alt="immagine" src="htt

[2019-12-04 22:01] akasolace commented on #125
@yaute74  what do you mean by "out of play"

95-31 = 64 ... it looks correct ... what surprises you ?

[2019-12-05 04:59] cheilson commented on #292
Its the old match order interface.

Få Outlook til Android

On Wed, Dec 4, 2019 at 10:51 PM +0100, "pierpaolocira" <notifications@github.com> wrote:

@akasolace I don't have really time in this period, but al least I tried to reproduce.

I know that I will be considered as a dumb (in truth I'm not really an expert in Hattrick, and this is why I never went over V serie :) ), but I was neither able

[2019-12-05 07:13] yaute74 commented on #125
@akasolace
Before all matchs ended at 90'
When they introduce out-of-play, I read somewhere (don't remember where) that players are not trained during out-of-play (so if match ended at 95', no train from 90' to 95').
Is that true ? I have no substitute in training position this week, so I can't confirm.
And I was wondering if it's the same thing for stamina.

[2019-12-05 07:44] akasolace commented on #292
@pierpaolocira you need to select the new match order interface in HT preference.

However, you can't replicate HT values on your side so you will have to rely on @cheilson inputs. The idea is to see what is wrong with his HO that gives apparently values very off from HT.  I thought its FAKTOREN table was corrupted but apparently resetting the coefficients does not fix the issue which is really we

[2019-12-05 07:46] akasolace commented on #125
@yaute74 ah ok I understand now. I was not aware of this, I always thought they received normal training during that time but capped at 90' max for a given player.
The best is to ask an official on HT forum, except if @DavidatorusF already knows the rule