[2018-10-14 19:44] akasolace opened #1 "fix HO update following the move from SF to GitHub"
It will not be possible to upgrade from 1.434 to 1.435 but HO should be fixed to resume smooth transitioning starting from 1.435

[2018-10-16 21:02] #1 closed

[2018-10-17 09:40] akasolace opened #2 "gradle: create OS X distribution"

[2018-10-17 09:43] akasolace opened #3 "create flatpak / appimage instead of .deb/.rpm ??"

[2018-10-17 09:44] akasolace opened #4 "gradle: create task for release upload"
create task to release upload on GitHub including update of the latest webpages

[2018-10-18 16:39] akasolace commented on #3
Thank you for the infos. I will have a look at the gradle os package plugin.
Also, I am not a gradle expert, but I think you don't need to have it installed on your machine. If you clone the repo and launch one graddle task (from IntelliJ or Eclipse) it will use the gradle binary from the repo directly.

[2018-10-24 19:37] whilliam commented on #2
I have attached a few screen shots with explanations below.

![first launch](https://user-images.githubusercontent.com/44447425/47456210-2e063f00-d7d4-11e8-937c-43fedf8304c3.png)
The first time I opened HO I got the above error message. I closed an opened again and nothing happened. After closing and opening HO a few times it suddenly worked and it opened.

![download screen](https://user-images.g

[2018-10-24 19:59] akasolace commented on #2
ok thank you for the detailed report.
In one hand it looks not too bad for a first attempt in the other hand the errors look strange.

- **Bug 1**  Sounds weired that some errors disapears after relaunching the app. Could you please look inside the app folder if a log file was created; if yes and more details about the error are saved in could you also paste the log in here.

- **Bug 2**  I think

[2018-10-25 10:54] akasolace commented on #2
hello,

so I clearly identified the issue but I do not know how to solve it yet.
the problem is that under os x latest java version force the current directory to be the home user. Hence most of the relative path are not working when accessing ressource folder or creating db folder. There are 2 solutions:
  1) find a way to change the working dir -> I am really not sure this is feasible
  2) chang

[2018-10-29 20:44] #2 closed

[2018-10-29 20:48] akasolace opened #5 "macOS move application file from home directory to Application Folder"
2 possibilities:
 - find a way to set chdir on os x startup script (does not look feasible)
 - move from relative to absolute path on mac os only (possible lot of work and very ennoying to do)

[2018-10-30 07:51] akasolace opened #6 "Filter translation files based on version number during compilation."
**Step 1**

- Alternative 1

Filter translation files based on version number during compilation.
Hence, first time launch initial dialog will only propose available language instead of refusing them afterward (see f01f56a7abc2771e7ced18b2fab1e006cf4f6144) It will be more consistent

Also check if terms LanguageID is really useful ..

- Alternative 2

During compilation check version number of lan

[2018-10-30 19:56] adrimorales1 opened #7 "Regarding Numbers & Tshirts rows looks bad"
I joined a photo with te bug

![image](https://user-images.githubusercontent.com/44621053/47746349-36ec8a00-dc86-11e8-985b-0b40e99bbba0.png)

[2018-11-01 16:19] akasolace opened #8 "Create .deb/.rpm"
.deb :almost done, remaining task:
       - find a fix to dynamically pass version to ospackage: ( maybe by setting version from gradle to java class via manifest)
       - decide how to deal with update, either disable it as per macOs, or fix HOLauncher

.rpm: not started

[2018-11-01 16:26] akasolace opened #9 "make the zip distribution working"
problem is surely coming from the fact that the manifest file is incorrect ...
if no fix, remove the zip from the download page

[2018-11-02 10:05] akasolace opened #10 "Adapt match order to new format (extra subs)"

[2018-11-02 14:18] akasolace opened #11 "ressources folder is duplicated"

[2018-11-02 16:08] akasolace opened #12 "make pull/push of translation files from Gradle"

[2018-11-02 22:18] #11 closed

[2018-11-02 22:18] #9 closed

[2018-11-08 09:59] #8 closed

[2018-11-08 10:02] akasolace opened #13 "improve Linux package"
in order to facilitate the update functionality. It may be possible to:
   -use postinstall script to copy file from /usr/lib to ~/.ho
   - adapt the sh accordingly

[2018-11-08 10:08] akasolace opened #14 "improve update"
1. improve solution to download update.zip
Using the releases pages may be problematic due to the amazon redirection:
     - check whether or not he download always succeed
     - find alternatives (github pages, sourceforge, bintray, ...)

2. fix function findlatestbeta

3. automatic update of web page latest and latestbeta using build.gradle

[2018-11-09 20:32] #13 closed

[2018-11-14 16:17] DavidatorusF opened #15 "Transfer Scout tab"
http://ho1.sourceforge.net/wiki/doku.php?id=user_guide:modules:transfers

copy/paste the player page don't include the player's skills in HO like before

here a result from oldest HO
http://ho1.sourceforge.net/wiki/lib/exe/fetch.php?media=fr:user_guide:modules:recrutement.png

[2018-11-14 16:23] DavidatorusF opened #16 "Matches tab"
https://snag.gy/odZiP6.jpg

in 1435, we can't remove match for download it again
the linuep stay empty and tab ratings and so one don't give any result

in 1434, still work
https://snag.gy/odZiP6.jpg

[2018-11-14 16:31] DavidatorusF opened #17 "IFA tab"
Hattrick a ajouté 5 nouveaux pays:
les Comores, Guam, le Sri Lanka, Sao Tomé-et-Principe, et Curaçao

[2018-11-15 08:43] akasolace commented on #16
You put twice the screenshot of 1.434.
I can confirm that delete match is broken in 1.435 (surely a bug I introduced when I changed the db structure) should not take long to fix it
Regarding other bugs you mentioned I can't reproduce (at least not under windows) . The lineup and other information are properly displayed for me. Does the bug appear after you try to delete a match or is it from the b

[2018-11-15 08:46] akasolace commented on #15
For me it also does not work in 1.434 neither. I think it has been broken following a change of the player page in HT. I never used that functionality before. Hence I need to check how it behave with or without foxtrick.

[2018-11-15 15:42] DavidatorusF commented on #16
fresh install from HO_14341_r2698.zip
run a first time HO for get the code
then a second time for get my old matches
![image](https://user-images.githubusercontent.com/45043004/48563065-cdaa7f00-e8f3-11e8-9ed1-d899f4a63dfd.png)
in matches Tab I have all fine
for exemple, I select my match against FCNemo
![image](https://user-images.githubusercontent.com/45043004/48563229-2712ae00-e8f4-11e8-912b-dd

[2018-11-21 14:14] DavidatorusF commented on #17
seem HO recognize the new flags through chpp
![image](https://user-images.githubusercontent.com/45043004/48846553-b100c200-ed9f-11e8-805e-457028c1ee2b.png)
just miss the flag's picture

149🇸🇹 São Tomé e Príncipe
http://www.iconarchive.com/show/flags-icons-by-wikipedia/ST-Sao-Tome-and-Principe-Flag-icon.html
151🇰🇲 Comoros
http://www.iconarchive.com/show/flags-icons-by-wikipedia/KM-Comoros-Flag-icon

[2018-11-21 14:18] DavidatorusF commented on #16
still 2 mistakes

I get error java when I choose
-show my leagues matches
-show my cup matches

error java for cup matches :+1: java.lang.NullPointerException
 at core.db.MatchesOverviewQuery.fillMatchesOverviewChanceRow(MatchesOverviewQuery.java:156)
 at core.db.MatchesOverviewQuery.getChancesStat(MatchesOverviewQuery.java:134)
 at core.db.DBManager.getChancesStat(DBManager.java:1253)
 at module.

[2018-11-21 20:42] akasolace commented on #15
I am not sure how I can fix this one.
It is really dependant on a lot of unknows:
   - foxtrick y/n
   - language
   - carateristics in numbers or in text

[2018-11-21 20:48] #16 closed

[2018-11-21 20:48] #17 closed

[2018-11-22 09:08] #14 closed

[2018-11-25 22:01] CompTur opened #18 "Java exception in International friendly TAB"
When clicking on the TAB, I got the following Java exception.
Already tried to reload the international friendly matches, negative result

Thanks a lot

java.lang.NullPointerException
	at module.ifa.model.IfaModel.createVisitedStatistic(IfaModel.java:159)
	at module.ifa.model.IfaModel.getVisitedStatistic(IfaModel.java:84)
	at module.ifa.model.IfaModel.getVistedCountriesCount(IfaModel.java:115)
	at

[2018-11-25 22:12] DavidatorusF commented on #18
**From:** Compare_Turiddu
**PostID:** [17213262.36] (https://www.hattrick.org/goto.ashx?path=%2FForum%2FRead.aspx%3Ft%3D17213262%26n%3D36%26v%3D0)
**To:** DavidatorusF
**Re:** [17213262.35] (https://www.hattrick.org/goto.ashx?path=%2FForum%2FRead.aspx%3Ft%3D17213262%26n%3D35%26v%3D0)
**Datetime:** 25-11-2018 22:41
**Message:**

Thanks.

Already done with the old version, just done with the new, bu

[2018-11-26 08:05] akasolace commented on #18
@CompTur which version of HO are you using? On which OS ? Do you know if any other user (in the forum) are facing the same issue? ... It is usually difficult to fix bug that I cannot reproduce.

[2018-11-26 08:06] akasolace commented on #18
@DavidatorusF, just saw your message. It is not really clear for me. Is the bug still there or was it fixed by the fresh install of the latest version ?

[2018-11-26 13:38] DavidatorusF commented on #18
@akasolace
on fresh 1435 without old db, IFA work

1435 with old db, IFA don't work (as it was on 1434 from Comp tur)

Bingeling did something in the past for reset IFA (Modules ->IFA-> reload all matches)
seem the reset is not perfect

[2018-11-26 13:43] akasolace commented on #18
what you mean exactly ?  I guess you are not talking about the missing flags?  The tab crashes under which circumstances?  I have an old db and if I click on IFA tab, I have no errors ....
Do you know what is special about his db ? He played games with one of those new countries? His team is located in one of those countries ?

[2018-11-26 13:46] akasolace commented on #18
@CompTur

I asked Davidatorus couple of questions in the post above, maybe you can help answering them...

[2018-11-26 13:48] DavidatorusF commented on #18
@akasolace  it's a mistake he had since a long time on 1434

nothing to do with new country even if he got one now

[2018-11-26 13:52] akasolace commented on #18
@DavidatorusF , ok so is it really a bug or does it db is corrupted?
Do you know if it affects other users?

@CompTur , you confirm you also have the bug with 1.434?  Do you had this for a long time or just recently? Do you know what caused it? Finally, could you share your database with me (as a zip file in this thread) ? It seems very specific and I have no idea how to reproduce it so I don't se

[2018-11-26 13:57] akasolace commented on #18
seem the reset is not perfect

I  just looked in SF, I can't see a single commit related to this .... If you have more info, thank you for sharing

[2018-11-26 14:00] DavidatorusF commented on #18
@akasolace at first maybe you can check how the reset is done
there was other users with this mistake, only fresh install without old db did the trick
bingeling didn't review this module for solve this issue... poor motivation

@CompTur you can also use "firefox send" https://send.firefox.com/ then give the link

[2018-11-26 14:07] akasolace commented on #18
@DavidatorusF ,

ok so if I understand correctly.

1.   It is a bug affecting also 1.434 and which is not related to the newly introduced countries
2.   It affects only some users for which the db is corrupted
3.   the bug is described as the IFA tab is crashing when users with corrupted db try to access it
4.  There is a reset functionality which was supposed to fix that bug but it is not working

[2018-11-26 14:21] DavidatorusF commented on #18
https://sourceforge.net/p/ho1/code/2466/

[2018-11-26 14:38] akasolace commented on #18
@DavidatorusF

They are commits from 2013 made by blaghaid, I thought you were mentioning some recent work done by Bingeling..

[2018-11-26 14:40] DavidatorusF commented on #18
I though it was more recent

[2018-11-26 15:15] akasolace commented on #18
@DavidatorusF   otherwise do you agree with my summary few posts above ?

[2018-11-26 15:15] DavidatorusF commented on #18
@akasolace totally

[2018-11-26 19:35] akasolace opened #19 "Repair/Disable the functionality update translations"

[2018-11-27 18:51] CompTur commented on #18
Hi, sorry for my late, I don't check the email very often
I have the problem since many months, I don't remember how much precisely. After I got HTI flags (in April 2017) it worked for many months on this PC, so it doesn't depend on it. But I have any idea about how it arised.
I tried to upload db file, but it is about 27 MB, so it has not been uploaded.
HO release is 1434_r2696, on Windows 10 - J

[2018-11-27 18:54] CompTur commented on #18
https://send.firefox.com/download/95a6607bbd/#fOHeB038XLpLv_RgYYomlQ
This is the last db working before I promoted a "support player"

If you want I can send the db for 1435

[2018-11-27 21:04] akasolace commented on #18
@CompTur thank you for sharing the db.
If you can I would prefer to have your latest db the one under 1.435, the one if I understand correctly you are currently using, but unde witch you are still experiencing the bug.
I will have a look at it later this week.
Thank you

[2018-11-28 19:09] akasolace commented on #18
arf I did not use the send link within 24 hours so it expired, could you please send me again your latest database
cheers

[2018-11-28 19:14] zigmond opened #20 "Hattrick Organizer 1.434 Simulate after Analyze when sector is higher than Divine"
setSelectedindex: 21 out of bounds

java.lang.IllegalArgumentException: setSelectedIndex: 21 out of bounds
	at javax.swing.JComboBox.setSelectedIndex(Unknown Source)
	at ho.core.prediction.TeamRatingPanel.addLine(TeamRatingPanel.java:184)
	at ho.core.prediction.TeamRatingPanel.<init>(TeamRatingPanel.java:58)
	at ho.core.prediction.MatchEnginePanel.<init>(MatchEnginePanel.java:48)
	at ho.module.tea

[2018-11-28 19:16] akasolace commented on #20
Could you please share with me your db folder as a zip file.
I have no good enough team to simulate divine+ratings :-)

[2018-11-28 19:43] zigmond commented on #20
Thanks mate, how do I do that ?

On Wed, 28 Nov 2018 at 19:16, akasolace <notifications@github.com> wrote:

[2018-11-28 19:50] zigmond commented on #20
db_singleUser-2018-11-28.zip
<https://drive.google.com/file/d/1US4wKoYXWhe3ijGcYnecoBLmm-NEdu0_/view?usp=drive_web>

On Wed, 28 Nov 2018 at 19:43, Avi <aviarna@gmail.com> wrote:

[2018-11-28 20:39] akasolace commented on #20
perfect thank you

[2018-11-28 20:44] zigmond commented on #20
:) glad to help

On Wed, 28 Nov 2018 at 20:39, akasolace <notifications@github.com> wrote:

[2018-11-28 21:35] #20 closed

[2018-11-28 22:05] zigmond commented on #20
If you can put  link to download it (from scratch even) with the update.
I have win64 if it helps...

[2018-11-28 22:07] akasolace commented on #20
which version are you using now?

[2018-11-28 22:09] zigmond commented on #20
I redownloded 1434 r2696 and when I open it I get

java.lang.ArrayIndexOutOfBoundsException: 8
	at ho.core.gui.comp.entry.SpielerLabelEntry.updateDisplay(SpielerLabelEntry.java:307)
	at ho.core.gui.comp.entry.SpielerLabelEntry.createComponent(SpielerLabelEntry.java:215)
	at ho.core.gui.comp.entry.SpielerLabelEntry.<init>(SpielerLabelEntry.java:67)
	at ho.core.gui.model.UserColumnFactory$14.getTabl

[2018-11-28 22:09] zigmond commented on #20
Problem might be that it says win32 as mine is win64

[2018-11-28 22:11] akasolace commented on #20
Download and install  HO_1.435-DEV-5_Win32_Installer.exe  from [here]( https://github.com/akasolace/HO/releases)
Be careful with your db  make sure you save it first and put it in HO folder after you insall the new version.
Launch  HO and do updtae HO BETA to get rev6 that fixed your bug !!

[2018-11-28 22:30] zigmond commented on #20
ok, fixed the training, but team analyzer won't show any teams at all (usually the teams from my league and other upcoming matches)

[2018-11-29 08:56] akasolace commented on #20
I do not use team analyser, but it looks it is a different bug.
Was it working with 1.434?  If yes, please open a new bug report for that specific issue, with as much details as possible (screenshots are good). Thank you

[2018-11-30 09:06] #6 closed

[2018-11-30 16:48] CompTur commented on #18
the not working db  with 1.434
https://send.firefox.com/download/87e0ac07a8/#b_b_4yaFKUN_QJRkr6u15w
the not working with 1.435
https://send.firefox.com/download/b1814a9b21/#xu846FEoQVF6bbjcRRVmXw
the working one with 1.435
https://send.firefox.com/download/3d38a4deb7/#AK2OZwnGA82Jjxgo6Sad6A

[2018-11-30 16:50] CompTur commented on #18
thanks a lot

[2018-11-30 20:07] akasolace commented on #18
ok I'll have a look this weekend.
Can you just tell me the historic of the 3 dbs. I mean how did you ended up with 3 db ?
How eventually did you manage to have one db that is working well under 1.435?

[2018-11-30 21:54] #18 closed

[2018-12-01 10:58] CompTur commented on #18
1.434 is my historic db, it worked until I have promoted a leader player, except for int. friendly matches, as I told
Then, when i downloaded 1.435, i created two different directories. In the first i loaded the last working db from 1.434 (26/10/2018) and the problem with friendlies has remained. In the second i made a fresh run with no db and then I reloaded all old matches

[2018-12-01 11:08] CompTur commented on #18
Last thing: few minutes ago I imported all hrf files from 2006 in 1.435 fresh with success, and IF Tab is still working

[2018-12-01 22:15] akasolace commented on #18
there was a bug indeed, but it should now be fixed.
fyi, The bug was only affecting the person having not done a fresh install for a while, the upgrade process was not properly updating th database for IFA
Thank you

[2018-12-02 12:50] zigmond opened #21 "Increase list of supported game (default settings and icons) (e.g. Tournment matches)"
I was wondering if there will be an option in the line up tab in venue to have a "Neutral" option as well as Home Away and Derby away, for the purposes of a Tournament match, to help calculate the chances after setting a line up

Thanks :)

[2018-12-02 16:26] mistermax80 opened #22 "There no FW normal value in PlayerCompare (TAB Player Analysis)"
![schermata 2018-12-02 alle 17 25 49](https://user-images.githubusercontent.com/15519907/49342140-6f9dcb80-f657-11e8-97a7-149cf7ba4fa1.png)

[2018-12-02 20:11] mistermax80 commented on #22
No this.
Following my preference - columns - squad:
![schermata 2018-12-02 alle 21 07 56](https://user-images.githubusercontent.com/15519907/49344372-66702700-f676-11e8-950a-8f36af538184.png)
And I have the issue in PlayerCompare:
![schermata 2018-12-02 alle 21 09 20](https://user-images.githubusercontent.com/15519907/49344391-b6e78480-f676-11e8-851c-631062830be7.png)
As you can see missing the FW

[2018-12-03 12:00] yaute74 opened #23 "discussion about linux migration"
To continue the discussion about linux migration [post=17225693.44]
When a user will upgrade to the 1.435 he will start with en empty database.
To prevent this problem I propose to modify the script ho.sh (to copy the database) like this:

[code]
Why did you say on the hattrick forum: "What you propose I guess will not work as you expect" ?

You propose to do it in the post install, but in the ho.

[2018-12-03 12:12] akasolace commented on #23
@yaute74 ,  actually , I read too quickly your post in the forum this morning.
Now I see what you want to do, and you proposal looks good to me -yes, it will be done both for the .deb and the .rpm.
You can either open a pull request or I can make the changes you proposed myself, up to you, just let me know how you want to proceed

On another topic, as you are a Linux user.  What do you think of Ap

[2018-12-03 19:34] akasolace commented on #23
I actually did that in the version of the 1.435 beta, and some users complained about it, saying it was too difficult to find  :-)

copy it where ?

with current script, this folder is being left untouched, hence why do you want to back it ?

Unfortunalty I do not think it is easy, I will leave as is for the time being,

[2018-12-04 18:20] CompTur commented on #18
Thanks to you for your job.

[2018-12-05 12:05] akasolace commented on #23
closed by PR

[2018-12-05 12:05] #23 closed

[2018-12-05 13:41] akasolace commented on #22
@mistermax80
are you making progress on this one ?

[2018-12-06 17:19] mistermax80 commented on #22
No yet... Firstly I must complete my dev environment.
I have and issue on LookAndFeel Aqua when run in Intellij
I'm using macos.

[2018-12-07 07:54] akasolace commented on #22
@mistermax80
It is a dependency issue.
You should synchronize your gradle project. did you follow that [guide](https://www.jetbrains.com/help/idea/gradle.html#gradle_import)?

[2018-12-07 11:18] mistermax80 commented on #22
I closed for error.

[2018-12-07 11:23] mistermax80 commented on #22
@akasolace
Sorry, but I don't understand how oper an PR.
Can you help me?

[2018-12-07 12:16] akasolace commented on #22
so you manage to run the code and to close the bug on your local installation, right?
Now you want to push  your changes?

I see that

may be you can look at the contribution guidelines and in case you have further questions please let me know.
https://github.com/akasolace/HO/blob/master/docs/contributing.md

If you are new to git it may look intimidating, but you will soon appreciate how powerful

[2018-12-07 13:52] mistermax80 commented on #22
@akasolace  ok thanks, I will update you soon...

[2018-12-07 21:08] mistermax80 commented on #22
@akasolace
I think to do done :)
Now I don't know what I will do.
Can you help me for the ultimate step?

[2018-12-08 07:37] mistermax80 commented on #7
I'm tring to resolve, I work on mac, and I retrieve the same beavihur.

[2018-12-08 09:40] mistermax80 commented on #15
@akasolace.
The scout Tab in 1.434 with old style works fine.
I used and lot times.
If there Is foxtric or not it's influent.
If you to do same test, set old style in Hattrick Site and you do cut on player Page and paste in tab's White box.

[2018-12-08 16:34] akasolace commented on #7
ok cool, so I remove the invalid tag.

[2018-12-08 16:49] akasolace commented on #22
Thank you !!

[2018-12-08 16:49] #22 closed

[2018-12-08 16:50] akasolace opened #27 "Introduce minute base ratings"
next steps:

- [x]  introduce 90 minute average in ratings
- [x] change from int minutes to double
     - ratings just after HT will be available at 45+EPSILON or  90+EPSILON
     -  match order set on a whole 5 minutes will be shifted by 2 EPSILON to be visible in the graphs
- [x] put back ratings default to avg90
- [ ]  t=0 ratings should be available using a switch
- [ ] change of GUI (do somet

[2018-12-08 17:09] akasolace commented on #15
@mistermax80
I really just had a quick look but the code looked really messy to me. It also seemed to me, it was dependant of language settings and Foxtrick installation, no ?
I you are interested in looking into that bug, please do :-)
Maybe a more robust solution  could be to ask Foxtrick developer if he can help us get player info in a predifined format. Maybe worth to ask .....

[2018-12-09 00:09] mistermax80 commented on #7
I think a java bug... antialiasing doesn't work on macos.
The code point is row 462, file ImageUtilities.java
`g2d.setFont(new java.awt.Font("sansserif", java.awt.Font.BOLD, 10));`

[2018-12-09 01:56] DavidatorusF commented on #15
is there a way for use the information from button "copy player" from hattrick ?

seem to me better than make a request to MJ

the only thing I know is that we have to use the same langage in HO than in our Hattrick

David Brossier [playerid=197285191]
51 ans et 111 jours, Prochain anniversaire : 10-12-2018

Nationalité : France

Un gars aimable qui est impulsif et malhonnête. Possède un niveau d’

[2018-12-09 14:14] akasolace commented on #15
is it a button from HT or from Foxtrix ?  The text seems nuch easier to parse

ah ok keeping that kind of requirement make it feasible.

@DavidatorusF  thank you for the info

[2018-12-09 14:18] akasolace commented on #7
is it only in that tab that the police renders badly?  if yes, is it not possible to use a different font?

[2018-12-09 20:13] DavidatorusF commented on #21
neutral for single/ladder/tournament matches already exist : it's away

Coefficient type                  | value
Playing Normal&Away        | 100%
Playing CA                         | 93%
Playing at home                 | 119.892%
Playing derby(away team) | 111.493% •
Playing PIC                        | 83.945%
Playing MOTS                    | 111.49%

source The Unwritten Manual #7

[2018-12-09 20:56] akasolace commented on #19
fixed by commit 12e1b320794008890dbb07d6c798c76a8ca0601b

[2018-12-09 20:57] #19 closed

[2018-12-09 21:01] akasolace commented on #21
@DavidatorusF,

What I had in mind is to populate the fied correctly in the lineup when doing tournamant game, setting venue to Away, setting TS and Confidence to normal level ...

What do you think ?

[2018-12-09 21:02] akasolace commented on #12
no real added value

[2018-12-09 21:02] #12 closed

[2018-12-09 21:09] DavidatorusF commented on #21
mean a new entry in venue menu : "Tournament"

who, once selected, set the other data by default (TS, confidence,...)

nice idea

[2018-12-09 21:12] akasolace commented on #21
@DavidatorusF

correct this is what I had in mind.

[2018-12-09 21:21] DavidatorusF commented on #15
![image](https://user-images.githubusercontent.com/45043004/49703075-b2841400-fc00-11e8-91a0-b091abeae50d.png)

[2018-12-09 21:32] DavidatorusF commented on #15
préférence du site -> Permettre la copie dans le presse-papiers

[2018-12-09 21:39] akasolace commented on #15
@DavidatorusF

ok I have it now thank you !

[2018-12-10 10:57] mistermax80 opened #31 "doesn't work the functionality update "rating prediction formula""
I don't know if It was disable, If yes why?
Following the 2 case:
1) the correct situation:
![schermata 2018-12-10 alle 11 41 42](https://user-images.githubusercontent.com/15519907/49728258-8a34fd80-fc72-11e8-81ce-5b2f60603020.png)
2) the incorrect situation:
![schermata 2018-12-10 alle 11 44 29](https://user-images.githubusercontent.com/15519907/49728342-bbadc900-fc72-11e8-99cd-d3a29d7aad5c.png)

[2018-12-10 11:02] akasolace commented on #31
I just disable it with one of my latest commit: 12e1b320794008890dbb07d6c798c76a8ca0601b
If you pull latest change and build, you will see the option disappeared from the menu.

I do not think this option was making sense anymore because the formula are really tight to a given HO version. I would have required to mainain a dictionary of ratings know to work for certain version. It would have been

[2018-12-10 11:47] mistermax80 commented on #31
ok, but m question is:
Is it the better version 7 or the version include in dev branch?
After update to version 7 I saw only default, In dev branch I saw more version...
I don't understand what prediction to use.
Could you help me to understand?

[2018-12-10 11:58] akasolace commented on #31
@mistermax80

to be honest, I am not sure I fully understand your question.
Prediction ratings have not been updated for a while ( it will be the big focus of version 1.436, and if you are up to it, we can work together on this one as it may be a big new feature but gonna also be interesting).
In you prediction folder, you should have default, default(1426), newB if I recall correctly.  This shoul

[2018-12-10 11:58] #31 closed

[2018-12-10 12:10] mistermax80 commented on #31
@akasolace
Ok, You are more clean than me... sorry but my english is rusty...
Now I understand the cause for disabling.

Ok I'm agree with you for doesn't pollution issue tkt on github... but Could you explain what's gitter?

[2018-12-10 13:51] mistermax80 commented on #31
I prefer to use slack. How do we do for this? Do you know? Else I can try to study it.

[2018-12-10 13:56] akasolace commented on #31
I just googled some comparison of the different services and it looked like people are recommending discord. Can you also have a look and shared your thoughts?
If you really have a preference for slack it is fine for me but what I read is that their free plan is quite limited (they delete old chats) which is quite bad, no ?

[2018-12-10 16:14] mistermax80 commented on #31
I have not specific preference, in my company in more people uses slak, but maybe beacuse there is a specific buiness plan.
We can use discord, I say... We try it!!!

[2018-12-10 17:46] mistermax80 commented on #15
Today I made the Quick debug the functionality. The current code finds specific char for recognize the player's caratteristics.
I can get out a draft code for recognize the Hattrick Copy (IMHO Is the better soluzione). I Will not remove the current code It works fine with old Page style.
In the Hattrick Copy Is not present the Mother club and I think Is no important for buy, Also fidelity I think

[2018-12-10 19:43] akasolace commented on #31
@mistermax80
ok perferct lets try this, should I let you take care of setting it up as you proposed ?

[2018-12-10 19:49] akasolace commented on #15
@mistermax80
ok cool maybe another bug that can be fix prior to 1.435 release then.
I agree MC and Fidelity are not important. If the new code works fine maybe we can get rid of the old one, no? Is there a reason to keep both? Also how do you intend to decide if old function rather than new function should be use to parse the code?

Do you thinkyou can have a PR ready shortly?

Thanks !

[2018-12-10 20:45] akasolace commented on #7
closed by #30

[2018-12-10 20:45] #7 closed

[2018-12-10 20:56] mistermax80 commented on #31
I'm registered, you should do it. After I Will invite in HO! Server! :)

[2018-12-10 21:18] mistermax80 commented on #15
I think there are people that use the old style page, and then, I think the new functionality to be tested from more people, there are many cases to manage. I would think as retro-compatibity.

On this, I have to think, but or the code automatic recognist the version page, or I think insert a checkbox to flag for old style page.

I don't know, If I free time, I will work with happy, but I have som

[2018-12-10 21:31] akasolace commented on #15
@mistermax80
Then I think we leave it for 1.436
I would like to release 1.435 before the end of the year.

[2018-12-11 20:51] mistermax80 commented on #15
@Davidatorus
You are not a developer but I see you much Active for HO!, So, I Need you help me.
HT have 55 languages and the transfer scout had some dependencies from this.
I Need to test the new functionality based on HT Copy with more languages.
My english Is poor and I'd like ask you Of you writer a post on HT forum, in order to ask people if they Can post share example player export in differe

[2018-12-13 12:21] akasolace opened #32 "allow HOUpdate based on buildVersion (similar to BetaVersion)"

[2018-12-13 19:53] yaute74 opened #34 "Cannot start new release on Linux: bad file format"
Hello,
We cannot start HO with the new release (.deb), because the file 'ho.sh' is in dos format not in unix format.
In git it's ok, so maybe a problem with package build.

[2018-12-13 20:51] yaute74 opened #35 "Question about jar in HOHOME"
Hello,

On Linux, in the ho.sh , if the directory ~/.ho don't exist, we create it and copy jar from /usr/lib/ho/
After that we start the application from ~/.ho

When I install the new release, as the directory ~/.ho already exist it don't copy the new jar from /usr/lib/ho and I use the old revision.
Why we don't use jar from /usr/lib/ho ? If it's mandatory I think we must modify the script

PS: in

[2018-12-13 21:40] akasolace commented on #34
this is strange
@DavidatorusF did you not had the opposite isssue ? .sh from fresh install working but .sh from zip not working?
@yaute74 it is the postinstall file that make the sh executable so I am surprised. However, I could imagine that sh from the zip or sh from zip in case of update could be not working . What is surprising thought, is it that it went unoticed for so long.

[2018-12-13 21:42] akasolace commented on #35
but in case of update, jars in  ~/.ho would be more recent than jars in /usr/lib/ho
so we would need to check if there are more reccent and copy only if it is the case

[2018-12-13 21:46] DavidatorusF commented on #34
@akasolace
.sh was working from r5 to r7
for r8 I said you there's a mistake... but I haden't time to check it more

.deb, the update r8 worked, I hadn't check fresh install with .deb

[2018-12-13 22:04] yaute74 commented on #35
Sorry but I don't understand.
How jar in ~/.ho could be more recent than jar in /usr/lib/ho ?
When we update the application it install the jar in /usr/lib/ho

[2018-12-13 22:41] DavidatorusF commented on #34
copy/paste .sh from previous version did the trick

I let you understand what's wrong in the last one

[2018-12-14 08:31] akasolace commented on #35
# Intro

1) until 1.434 included HO was hosted in `~/.hattrickorganizer`
2) new .deb creates data in `/usr/lib/ho/`

# .sh execution

#### step 1
[code]

#### step 2

[code]

# fresh install .db
        new files are installed in /usr/lib/ho/
       ~/.ho won't be updated because it already exists
       => this is not working
       the fix could be that the data copy from /usr/lib/ho/ into ~/.ho

[2018-12-14 08:35] akasolace commented on #35
No, when we update the app the jars and other files are installed in /usr/lib/ho if launched from usr/bin or installed in the unzipped folder, if launched from .sh within unzip folder

[2018-12-14 08:45] akasolace commented on #34
@yaute74 @DavidatorusF
based on last comment from yaute74, `^M`, mean the EOL is incorrect
it is easy to fix. I just don't know why the file got corrupted again.
The fact that the file is correct in github, this is because git automatically checkout with unix EOL.

[2018-12-14 08:54] akasolace commented on #35
I just realized my proposed solution would be fine for .deb and .rpm but maybe not for your arch packaging so maybe instead we can use one of the following alternatives.
1) instead of copying  from /usr/lib/ho/ into ~/.ho, we move the files
2) we create a dummy .fresh file in the distribution. Then:
 files are copied from /usr/lib/ho/ into ~/.ho only is  .fresh exists. In that case .fresh is delet

[2018-12-14 08:57] akasolace opened #36 "Release version not reflected in splash screen and main gui header"

[2018-12-14 08:57] akasolace opened #37 "missing icon in latest release"

[2018-12-14 09:53] akasolace opened #38 "implement user feedback"
@mistermax80 @brokenelevator This is an update of the implementation discussed in Slack
@yaute74 @DavidatorusF This is for your information in case you have remarks

So still quite a lot of work before finishing that new feature. Let see who does what ...

**Effective implementations**

- [x] 1. New user feedback button is on the lineup tab. Once cliked, HO gets information from Gitbub about requi

[2018-12-14 09:56] akasolace opened #39 "improve prediction rating formula for t=0"

[2018-12-14 09:56] akasolace opened #40 "improve prediction stamina effect"

[2018-12-14 10:11] mistermax80 opened #41 "Player Compare Tab is missing some columns information for specific languages"
![schermata 2018-12-14 alle 11 09 32](https://user-images.githubusercontent.com/15519907/49997125-0f7d2280-ff91-11e8-8704-5b0820f9de5c.png)
With English lang, This is not verified, but in In italian lang is verified.
The column with error are POR and ATT.

[2018-12-14 10:22] akasolace commented on #41
could you pleaes put the same screenshot but when having language English to show what is wrong ...

[2018-12-14 10:37] akasolace commented on #32
in main/java/tool/updater/UpdateController.java

similar than check4latestbeta,   check4update  should propose to update if  build_version>HO_build_version

also precise in the build.gradle that initial release you should start with build=1

[2018-12-14 10:44] mistermax80 commented on #41
In english:
![schermata 2018-12-14 alle 11 43 42](https://user-images.githubusercontent.com/15519907/49998852-a350ed80-ff95-11e8-921b-ab697fc67b6f.png)

[2018-12-14 11:01] akasolace commented on #41
@Davidatorus is this bug also exist on the french version?

was it introduced on the latest release, or was it also existing in the development versions?

[2018-12-14 11:38] yaute74 commented on #34
As I wrote in my last comment, with git we can force the  EOL with a .gitattributes and inside "*.sh text eol=lf"
Maybe it's the solution

[2018-12-14 11:57] mistermax80 commented on #41
I tried in Frenc, there is error, but on different colums:
![schermata 2018-12-14 alle 12 55 27](https://user-images.githubusercontent.com/15519907/50002264-d26c5c80-ff9f-11e8-89e3-6b62382dbad0.png)

[2018-12-14 12:54] akasolace commented on #34
yes this is what I meant in my previous message.
To fix that bug, I will create a .gitattributes that contains:
* text=auto
*.sh text eol=lf

cheers

[2018-12-14 13:22] akasolace commented on #35
@yaute74

this approach is more elegant but the problem is that at the moment there is no logic in HO code to handle /db folder and other ressources from different locations.  It is for sure doable but it will require important work I guess because code will have to hande Windows, OSX and Linux ressource path differently ! So, meanwhile, we can do something simple and maybe revert to my initial pr

[2018-12-14 15:09] mistermax80 commented on #41
I understand the error, if there is a column blu with same name column yellow, the column blu get error.
For this it is depend from languages. Infact with english lang, the columns yellows have different name columns blue.
Now I don't yet understand the code piece that check this.

[2018-12-14 15:52] akasolace commented on #41
ok, just looking at the file main/java/module/playeranalysis/skillCompare/MyTableCellRenderer.java I  think I understand the bug, but **I don't understand why it was not present in 1.434**
basically, it looks at column title, and then there is list of elseif
so for french:
`table.getColumnName(column).equals(HOVerwaltung.instance().getLanguageString("ls.player.skill_short.keeper")) is True` so it

[2018-12-14 16:05] mistermax80 commented on #41
In local I made fix: adding in 2 if the condition column<19 for yellow and column>=19 for blue.
This playertable is not depend from cinfiguration column list.
however I wait to propose, I think this bug there is sinse always.

[2018-12-14 19:43] yaute74 commented on #35
@akasolace

Post intall script is not a problem for deb, rpm and archlinux
When we have a new release with a correction for #34 I create the package for archlinux
I will see how it work in HO for deb and rpm...

Question: you will create a branch for the 1.435 ? (for the maintenance and use the master for the future version)
how do you plan to work for version numbers ? In the 1.434 we have a anot

[2018-12-15 01:20] mistermax80 commented on #41
I dubugged the code also in Player Overview, and in Player Overview the color cell is set by position attribute, it's present in object.
I module PlayerAnalysis this concept is not present, therefore, I think for this and the playeranalysis module is no depend by configuration column list, insert the condition <19 for yellow cell and >=19 for blue cell is the better solution.
I think is not conven

[2018-12-15 08:36] mistermax80 opened #42 "wrong data player export by Tool - csv export player"
some data are wrong

[2018-12-15 08:44] mistermax80 opened #43 "wrong link in menu item - About HO!"
1) fix links
2) add an about that show current version information

[2018-12-15 09:00] mistermax80 commented on #43
![schermata 2018-12-15 alle 09 59 26](https://user-images.githubusercontent.com/15519907/50041135-2b93c900-0050-11e9-921f-4b6d35352adf.png)

[2018-12-15 09:40] mistermax80 opened #44 "In player overview and in line up, mark player played in week"
new feature

[2018-12-15 10:42] akasolace commented on #34
@yaute74 @DavidatorusF
could one of you control, the binaries save in https://github.com/akasolace/HO/releases/tag/dev are now ok
thank you

[2018-12-15 10:57] akasolace commented on #41
@mistermax80
I haven't look at the code in details, but do you think that background color can be passed as argument at column creation. After that the loop would set background color based on  column["color"] instead of column["name"], we would not have to use translations anymore, what do you think?

if it is too complicated to implement we can go with your proposal but addind some warning in th

[2018-12-15 11:10] akasolace commented on #44
are you imagining something like a new column
   - player on the linup for next amical (resp cup, league) has a faded amical (resp cup, league) icon
   -  player who played last amical (resp cup)  has a plain amical (resp cup) icon

is it correct ?

[2018-12-15 11:18] akasolace commented on #37
@mistermax80 which icon were you refering to ?

[2018-12-15 11:46] mistermax80 commented on #37
@akasolace I refered to Windows program icone : HT.icon Is missing

[2018-12-15 11:47] mistermax80 commented on #41
I didnt seen of there Is present in 1.434, I Will check in this weekend, but I sure that code Is present since Always.

[2018-12-15 12:07] mistermax80 commented on #44
Yes, You  read me in my mind

[2018-12-15 12:50] DavidatorusF commented on #34
@akasolace .zip work

[2018-12-15 15:12] orgogliobauscia opened #45 "No skills for sold players"
It often happens that sold players do not have the skills shown in the Sold players tab.
I found this but in 1.434 too.
<img width="1280" alt="screenshot 2018-12-15 16 09 14" src="https://user-images.githubusercontent.com/45899362/50044478-2fd9d980-0084-11e9-841c-bad96173746f.png">

[2018-12-15 18:35] akasolace commented on #45
I guess that it depends if old players was kept or not in the database

[2018-12-15 19:05] yaute74 commented on #35
ok great!

For info I do the modification for this issue, I just need to create a VM to test and after I send the pull request

[2018-12-15 19:10] yaute74 commented on #34
@akasolace  it's also ok for rpm and deb ;)

[2018-12-15 21:17] akasolace commented on #35
perfect, thank you !

[2018-12-15 21:17] akasolace commented on #34
ok cool
I close the issue then

[2018-12-15 21:17] #34 closed

[2018-12-15 22:49] #36 closed

[2018-12-15 22:50] akasolace commented on #36
closed with b8e82ad0fcaf638a98c80c02e84d872528ae54b9

[2018-12-15 22:50] akasolace commented on #32
closed with b8e82ad0fcaf638a98c80c02e84d872528ae54b9

[2018-12-15 22:50] #32 closed

[2018-12-15 23:08] orgogliobauscia commented on #45
Jameson's skills were downloaded while he was in my team (for 3 days), and were visible. When he was sold and I pressed the "Ricalcola trasferimenti" button the skills were no more visible.
Hoffmann's skills were visible in the transfer list part of HO. When he was fired from the team who bought him the skills were no more visible.

[2018-12-15 23:18] brokenelevator commented on #45
the database does not get rid of players. At least I don't think it does. This is one of the issues that I saw (and heard of) long time ago. I will look into it when I have time.

[2018-12-15 23:46] orgogliobauscia commented on #45
Thanks.

[2018-12-17 00:20] mistermax80 opened #48 "Message box for updates in MacOs Version"
1)
Create the visit button to open the url of updates in MacOs Version.
Create the button in the following message box:
![stable](https://user-images.githubusercontent.com/15519907/50060864-eed3e900-0199-11e9-810b-0b82c33f7bc1.png)
2)
The link in message it should go a macos file setup.

[2018-12-17 00:31] mistermax80 opened #49 "Incoming Cash in section Arena in Statistics TAB"
Add a new column "Incoming Cash" in section Arena in Statistics TAB:
![schermata 2018-12-17 alle 01 29 38](https://user-images.githubusercontent.com/15519907/50060981-6ce4bf80-019b-11e9-96ac-4257218f2a99.png)

[2018-12-17 11:03] akasolace commented on #41
closed by #47

[2018-12-17 11:03] #41 closed

[2018-12-17 15:05] brokenelevator opened #50 "empty strings in language files"
the poeditor exported language files have empty strings where there is no translation. This causes empty strings to show up in HO instead of untranslated versions.

[2018-12-17 16:10] brokenelevator commented on #50
fixed with POEditor

[2018-12-17 16:10] #50 closed

[2018-12-17 19:37] akasolace commented on #42
closed by #51

[2018-12-17 19:37] #42 closed

[2018-12-18 07:37] akasolace commented on #35
close by #46

[2018-12-18 07:37] #35 closed

[2018-12-18 09:10] #43 closed

[2018-12-18 09:49] akasolace commented on #48
@mistermax80
Eventually I assigned it to myself because as I know how to do it and it will be really quick (I did something similar yesterday)

[2018-12-18 09:53] akasolace commented on #45
@mistermax80  @brokenelevator
this will be the last open issue for 1.436, hence I also assigned to mistermax in case he can help.
I haven't looked at it at all. I don't know how problematic it is an how difficut it is to fix it.
Let me know if you think you can fix it before 1.436 (we can make a beta for the end of this week if no new bugs are coming in) , if it is too much work, we may postponed

[2018-12-18 10:00] akasolace commented on #38
@brokenelevator @mistermax80 @yaute74

I think we will go for google form as it looks the simpler option.
Could you please have a look at https://goo.gl/forms/ZO44QepmKtsGUXbt2 and share feedback with me.    Davidatorus already gave precious feedback.  Thank you

[2018-12-18 22:30] yaute74 commented on #38
@akasolace maybe add a field per value to avoid error, no ?

[2018-12-18 22:38] mistermax80 commented on #38
@akasolace Yes I agree with @yaute74, it sems to techicnal, if the target is reach more stats, the tool it should be more simple.
I don't know, could you try write a form with desing similar at the origin?

[2018-12-18 22:42] mistermax80 commented on #48
@akasolace Ok It's good, after, I will test it

[2018-12-19 02:07] brokenelevator commented on #45
@akasolace @mistermax80 I see a lot has changed over the last 24ish hours. So I guess I should update on this issue. In my fork there is a branch issue45. Player's transfer history is no longer removed for fired players(on update player button). I could PR it but there is more to it than that. It is more of a time matter rather then difficulty. I know how to fix rebuilding transfer history(the oth

[2018-12-19 08:20] akasolace commented on #45
@brokenelevator
ok thank you for the update. I see you are on top of that issue so I will leave it with you.
Eventually the beta will be published after the holiday period so it removes the time constraints.
Keep us posted.
Cheers

[2018-12-19 08:22] akasolace commented on #45
@mistermax80
I was not sure brokenelevator was looking at it but based on previous message, he remains the lead on that issue.

[2018-12-19 08:37] akasolace commented on #38
@brokenelevator @mistermax80 @yaute74
Thank you all for the feedback. I agree with you it not super convenient, however I could not think of a better alternative. For your info here below is what I have been looking at and that I discarded:
        - dedicated tool (spreadsheet / HO module)  => lot of work and require a dedicated database which we don't have now, also even if we can achieve a bett

[2018-12-19 09:02] akasolace opened #53 "update release_notes and changelog before 1.436 release"

[2018-12-19 09:05] akasolace opened #54 "check licence files before 1.436 release"
ensure license consistency:
    - 2 or more files exists (new one plus the one ported from SF), they not all contains the same information
 All should be concentrated in a single file, that should be copied during build

[2018-12-19 09:08] akasolace opened #55 "make release notes available before update process"
if user check update and that new update is available,
on the confirmation windows (do you want to proceed?) a button should exists that offer to display the short version of the release notes  (either by opening an url to the file, or pasting the content in a JPanel ...)

[2018-12-19 10:56] akasolace opened #56 "create floating beta tag for facilitate upgrade functionality"
this is linked to solving #4

[2018-12-19 11:08] akasolace opened #57 "warning for update in Linux version"
this is being addressed by #52

[2018-12-19 13:16] akasolace opened #58 "[RLS] 1.436"
**Tracking PRs and Issues**

[Open PRs](https://github.com/akasolace/HO/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.436)
[Open Issues](https://github.com/akasolace/HO/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.436)

**Things to be done just before release:**

 - [ ] verify release_notes and changelog
 - [X] export translations from PoEditor   => not necessary anymore, it is automatically sync
 - [ ]

[2018-12-19 13:16] akasolace opened #59 "improve wiki"

[2018-12-19 13:17] akasolace opened #60 "improve HO homepage (https://akasolace.github.io/HO/)"

[2018-12-19 21:55] akasolace commented on #57
closed by #52

[2018-12-19 21:56] #57 closed

[2018-12-20 01:49] mistermax80 commented on #38
@akasolace and All,

I think an Page shown in free hosting with and database... I did a Quick search (3mins) I found this Site https://it.000webhost.com they have a free Plan with PHP and mysql... I didn't ready All, but it sems a serious Site... In this way, we can expose a Page with a Little graphic or text box in order to do cut&paste, with PHP we Can  understand if we able to parse the informa

[2018-12-20 04:57] brokenelevator commented on #45
@akasolace No problem. I'll keep the branch updated and maybe check back here. If not just notify me somewhere.

[2018-12-20 05:31] brokenelevator commented on #38
@mistermax80 Hosting is not all that of an issue. We would have to make a site first and as @akasolace mentioned it still makes users enter the data which would be better avoided altogether. With hosting site if http would suffice I have used one, [surge.sh](url). Really cool, for static sites. Still, I don't know if it would fit the bill and if the site is even a good idea. You know, effort to ga

[2018-12-20 08:45] orgogliobauscia commented on #45
Many thanks for your replies on the matter.
If you need a tester for the sold players problem, please let me know.

[2018-12-20 09:17] akasolace commented on #38
@brokenelevator

I would not even consider that option :-)

I also had that idea so I had a quick look at the source code of the page (just made a CTR+F and look for some info) and it does not seem parsing it would do the trick.

There are other alternative but not of them ideal:
 1) use foxtrick to get player details table
 2) use old style of the linup tool to get linup and ratings (will player

[2018-12-20 09:39] akasolace commented on #54
delete  HO/src/main/resources/HO_lgpl.txt

[2018-12-20 11:51] yaute74 commented on #55
@akasolace ok I will work on it

[2018-12-20 12:41] akasolace commented on #15
@DavidatorusF
Do you think this is something you can do ?

[2018-12-20 16:32] DavidatorusF commented on #15
@mistermax80
sorry for haven't seen you post before... I do so many things...
don't hesitate to send me h-mail when needed
https://www.hattrick.org/goto.ashx?path=/MyHattrick/Inbox/?actionType=newMail&userId=9100817

do you want this for all language or just some ?

seem actually copy button is broked, I have send a message to HT

[2018-12-20 17:07] DavidatorusF commented on #15
as soon the copy button is available, I can send you all what you want
it's easy to change the language on Hattrick

[2018-12-20 17:44] DavidatorusF commented on #15
howtodo for get copy player in many language

click on Hattrick top left, you have a menu with all the language on the right
select the one you want

open a tab on a player and use the copy button

select a new language, CTRL+F5 on player page...

enjoy

[2018-12-20 20:32] yaute74 commented on #55
For info in my last commit I forget to remove a test condition I use for the test.
So ho will always tell you that you have to update it.
I will correct it when I commit this issue.

[2018-12-20 23:33] mistermax80 commented on #15
@DavidatorusF
Ok, It's good.
Firstbal, I will get some languages I thought: Eng, Fra, Deu, Spa, Ita, and I will work on this.
After the new functionality will be ready, We understand if test it with other languages...
For other test, It will be good test the functionality on different country player... I will get from tranfers.

If you want help me to catch this case, I will be grateful to you.

[2018-12-21 00:03] mistermax80 opened #61 "[dev env] Add git ignore .DS_Store"
Add:
`# macos Desktop Service Store
.DS_Store`
[https://en.wikipedia.org/wiki/.DS_Store](.DS_Store)

[2018-12-21 01:18] DavidatorusF commented on #15
**english (UK)**
David Brossier [playerid=304020031]
44 years and 61 days, Next birthday: 10-02-2019

Nationality: France

A pleasant guy who is balanced and upright. Has disastrous experience and weak leadership. Has divine loyalty.
Owner: davidator since 22-11-2010
TSI: 0
Wage: 250 €/week
Warnings: 0
Injuries : Healthy

[table][tr][th]Form[/th][td]weak (4)[/td][/tr][tr][th]Stamina[/th][td]disast

[2018-12-21 10:36] brokenelevator commented on #38
and I can't blame you for that :)

Too bad. I'll take a look myself sometime, out of curiosity.

not everyone is using foxtrick.  what about the copy button? still...mother club bonus and fidelity(loyalty?) which I hear are missing there are important.

I see no reason people refusing that. We only may need to explain how to change that.

That is great idea. We can also add link to the form as par

[2018-12-21 10:42] brokenelevator commented on #61
forgive me, but I don't see the problem. Isn't this as easy as adding '.DS_Store' line to .gitignore file? With or without the # comment on a separate line?
If so, just push or PR it.

[2018-12-21 10:47] mistermax80 commented on #38
Sorry, I have some dubts...
After we retrive the data, how do we think to use it? I think we should explain to the people.
Other Alternatives, if the people send us the screenshot... too much work for us?
Maybe, there are people they help us to transfer screnshoot to current google form...

[2018-12-21 10:58] brokenelevator commented on #38
@mistermax80 Of course we need to explain it to people. Otherwise they won't give us the data.
I don't think screenshot is feasible. As mentioned above OCR is crazy and I don't know about you but I don't see myself manually parsing 2000 screenshots (at least). So yes, I believe it is too much work.
I guess we could 'hire' people to do that but that doesn't seem reasonable. We should ask if the for

[2018-12-21 11:10] mistermax80 commented on #61
@brokenelevator,

Yes It's no a problem, the code is:
`# macos Desktop Service Store
.DS_Store`

I thought that for tracking for each request I should opened a issue.
Ok For the next similar case I push a PR withuot passing from issue.

[2018-12-21 11:18] brokenelevator commented on #61
@mistermax80 Maybe you should, I don't know. I don't. But why didn't you make a PR after making the issue? And closed it when merged?

[2018-12-21 11:40] mistermax80 commented on #61
@brokenelevator,
ok, I reopened, when push and it will merge, this will be closed.
I'm newby on git... 😄

[2018-12-21 15:03] mistermax80 commented on #61
#63

[2018-12-21 15:43] akasolace commented on #61
closed by PR #63

[2018-12-21 15:43] #61 closed

[2018-12-21 15:47] akasolace commented on #38
@mistermax80 @brokenelevator @DavidatorusF
so lets take a bit more time to organize it. We will discuss it again after the holliday period.
In the meantime if someone has motivation to prepare an alternative form, feel free to start it ....

[2018-12-21 16:48] brokenelevator commented on #45
**Update**: rebuilding transfer history now correctly parses fired players (as long as they are in the database)

_more to come :)_

[2018-12-21 21:03] akasolace commented on #45
@brokenelevator well done !

the teasing makes me curious... looking forward to seeing the PR :-)

[2018-12-21 22:43] yaute74 commented on #55
I commit : 46e01a0d77dbe7bb525843daa9213e6dfe7cbbfc (next time I will add the # in the commit message).
Wait your feedback before close.

[2018-12-22 02:53] mistermax80 commented on #15
Hey @DavidatorusF
Thanks so much for you data. I'm working about this.
I think, I found a HT bug:
![schermata 2018-12-22 alle 03 45 57](https://user-images.githubusercontent.com/15519907/50369868-5d4ee780-059c-11e9-90ec-18a0b452ae9c.png)
The button Copy work fine, when you open the player page, but if you move to other player with arrows (top left) and you use copy button, the skill value are not

[2018-12-22 10:11] akasolace commented on #55
Hello,
As just said on discord I am off for 2 weeks. I will not be active during that period. If you are comfortable you can close the issue (don’t forget to update the release notes accordingly) otherwise you ask someone else to test, for example mistermax  on Mac platform.
Thanks again ! Enjoy your holiday (I hope you have some ) and happy Xmas !

[2018-12-22 13:19] DavidatorusF commented on #15
I haven't this mistake...do you wait the page totally charged ?

I will ask ...

[2018-12-22 14:41] DavidatorusF commented on #15
in fact you already have the loyalty... just miss mother club bonus
but who care of mother club bonus as after transfer it's gone for ever

Youssef Assil [playerid=379330612]
40 ans et 20 jours, Prochain anniversaire : 24-03-2019

Nationalité : Al Maghrib

Un personnage controversé qui est calme et honnête. Possède un niveau d’expérience médiocre et un tempérament de chef faible. ** A un niveau de

[2018-12-22 18:35] DavidatorusF commented on #15
@mistermax80

Thoralf Dinkelsbühler [playerid=421404450]
26 anni e 45 giorni, Prossimo compleanno: 27-02-2019

Nazionalità: Deutschland

Una persona attaccabrighe, impulsiva e onesta. È insufficiente in esperienza e insufficiente in carisma. Il suo livello di **fedeltà è mitico**.
Proprietario: Colegio Alemán dal 08-04-2018
TSI: 2 340
Stipendio: 876 € a settimana
Ammonizioni: 0
Infortuni : Nessuno

[2018-12-23 02:11] mistermax80 commented on #15
Hi @DavidatorusF ,

This is a draft of my idea:
![schermata 2018-12-23 alle 02 56 57](https://user-images.githubusercontent.com/15519907/50380164-ef1f2900-065e-11e9-9a25-3c8b133c146b.png)
I need your support for this topics:
1) Circle RED:
I added a new button to launch if the text copied came from HT Copy Button.
Could you suggest correct english for text button?

2) Circle GREEN:
I didn't remove

[2018-12-23 02:54] DavidatorusF commented on #15
1) Use copy page in old style. Mean "Use classic pages" is checked under legacy settings in Site Preferences on Hattrick.
2) Use copy Hattrick Button. Mean you use new style and "Enable copy to clipboard" is checked under "Appearance" in "Site Preferences" on Hattrick.

possibility to add a link in this place ?

NB : The language in HO and in hattrick must be the same for use this module; _"link t

[2018-12-23 15:14] brokenelevator commented on #15
How about:

Usage instructions:
1. To use classic page make sure that "Use classic pages" located under My Hattrick -> Preference -> Site preference is checked. Then copy information from player page.
2. To use Hattrick Copy Button make sure that "Enable copy to clipboard" located under My Hattrick -> Preference -> Site preference is checked. Then use the copy button located on player page.

NB: H

[2018-12-24 01:01] mistermax80 commented on #15
@DavidatorusF, @brokenelevator,
Thanks.

Now I can read also Loyalty, Experience, Leadership, Specialty.
TODO:
- Mother Club --> info miss in HT Copy Button
- Price --> info miss in HT Copy Button
- Deadline --> info miss in HT Copy Button
- Country --> I didn't tried
Menwhile I corrected some little Bug.
This HT copy Button:
`Rolf Belka [playerid=429966733]
27 years and 78 days, Next birthday: 27

[2018-12-24 01:30] DavidatorusF commented on #15
about foxtrick button, we have to wait the foxtrick's developper... he is busy IRL for now

about hattrick button, don't ask them the moon
if we get Mother Club, we will be very happy
I'm still waiting an answer from HT-Tasos

Price, Deadline, and Country, I think we don't care, isn't it ?

[2018-12-24 02:01] mistermax80 commented on #15
@DavidatorusF,
Mother club Is no present in HT Copy button.
Therefore... If HT Will put in Copy button, or I dont know to do.
Price and dealline are for the alert on buy (this Is a functionality of Hzo,)... But It's true, now the transfer Is more Simply respect to past.

[2018-12-24 02:14] DavidatorusF commented on #15
**From:** DavidatorusF
**PostID:** [17182903.489] (https://www.hattrick.org/goto.ashx?path=%2FForum%2FRead.aspx%3Ft%3D17182903%26n%3D489%26v%3D0)
**To:** HT-Tasos
**Re:** [17182903.1] (https://www.hattrick.org/goto.ashx?path=%2FForum%2FRead.aspx%3Ft%3D17182903%26n%3D1%26v%3D0)
**Datetime:** 24-12-2018 02:49
**Message:**

Hi

it is possible to add a little ♥ for the mother club bonus to the copy pl

[2018-12-29 13:16] orgogliobauscia commented on #45
When will this version be available?
Thanks :-)

[2018-12-29 13:50] brokenelevator commented on #45
@orgogliobauscia Well, this is technically already ready. Also, player data is no longer missing from transfer history top panel. Additionally I refined recognition of fired players on team transfer update.
So, the main thing is done. I plan to add fired player notification and remove transfer button. There are also minimal layout fixes and possibly extending team transfer update to also include i

[2018-12-30 01:17] brokenelevator commented on #38
@mistermax80 sounds great. Make sure to make it as clear/easy for the user as you can. Remember though that we need to parse it somehow.

[2018-12-30 11:01] mistermax80 commented on #38
@brokenelevator, could you draw a graphic draft?
For parsing I Will do somehow as trasfert scout tab

[2018-12-31 02:30] brokenelevator commented on #38
@mistermax80 well... I could if I meant anything specific.  I'm hardly a graphic/UX designer. I would mimic HT pages, but that is not necessarily the best way.

[2019-01-01 18:04] AirForce2019 opened #65 "Small Font in HO"
Good morning, I have an ASUS with 4k video resolution and just open I have 1.435 visualize it with small fonts. I know it's a developer problem. You should release a version of HO for 4k resolutions. Do you let me know if a new version will be released with this integration? Thank you.
I can not even load the team, because the dialog box is small and does not give me the download button

[2019-01-01 18:09] ArneGloe opened #66 "Improve usability team analyzer"
Here is the issue as requested in the hattrick forum. Thanks for your work! Really appreciate it!

A great add on for me would be to save modified ratings of my next opponent.
I often modify these according to my expectations while testing different line-ups in the team analyzer. Right now I manually reset them to my expectations every time I change the line-up.

[2019-01-01 18:09] AirForce2019 commented on #65
[Schermata.docx](https://github.com/akasolace/HO/files/2719539/Schermata.docx)

[2019-01-01 18:36] DavidatorusF commented on #65
@akasolace don't know if it's usefull but... I let you have a look at
https://sourceforge.net/p/ho1/tickets/5/

[2019-01-01 19:58] akasolace commented on #15
@mistermax80 @DavidatorusF
Hello, quick look on GitHub before I continue my trip until end of the week.
I can see you made some godd progress on this one. I will try it when I am back from holliday.
Just a quick question/remark. Are the 2 buttons really necessary? I mean would it not be possible during parsing to detect the source?

[2019-01-01 19:59] akasolace commented on #45
@orgogliobauscia @brokenelevator
Hello I will be back from holliday end of this week. I will try to make a new DEV build on Sunday.

[2019-01-01 20:02] akasolace commented on #38
@mistermax80
I dont really see how a website would be more user friendly than a google form.
Can you give a bit more info on how you see it?

[2019-01-01 20:04] akasolace commented on #65
I think it is not a complex one to solve.
Startup script should excplicilty let the OS do the upscaling.

[2019-01-01 21:59] mistermax80 commented on #15
Hi @akasolace, I wont insert second button to have functionality indipendend. I think we can use 2 button for some times, After in future update It with a One button.
We Will update when It Will Be retrieve price, deadline or Mother club.
But you are leader, therefore you Can decide.

[2019-01-01 22:03] orgogliobauscia commented on #45
I am looking forward to testing it.
Thanks, enjoy your holiday.

[2019-01-01 22:06] mistermax80 commented on #38
@akasolace I thought, the users Will do cut & paste without insert manual values, and by php code we Can retrieve the parse value and we have online data validation.
By Google form I dont know if this way Is roadble.
Let me know, you think.
I Will go ahead with site, but for my enjoin for study YII PHP framework.

[2019-01-02 00:30] DavidatorusF commented on #15
@mistermax80 Tasos told me to request the mother club on copy button to HT-Daniel
I have send him an HT-Mail... let's see

[2019-01-02 00:53] mistermax80 commented on #15
@DavidatorusF , Ok good.

[2019-01-02 12:41] DavidatorusF commented on #15
@mistermax80

soon we will have the mother club

Jean-Marc Christol [playerid=411359075]
28 years and 11 days, Next birthday: 13-04-2019

Nationality: France

A sympathetic guy who is balanced and upright. Has excellent experience and passable leadership. Has divine loyalty.
Owner: davidator since 18-08-2015 Mother club bonus
TSI: 84 320
Wage: 12 890 €/week
Speciality: Unpredictable
Warnings: 0
In

[2019-01-02 12:50] mistermax80 commented on #15
It's good news!!!

[2019-01-02 18:36] akasolace commented on #15
@mistermax80
If you can make it one button on’y From the beginning it would definzly be much better !

[2019-01-02 18:37] akasolace commented on #38
Ok why not
You can give it a try and we will see how it goes .

[2019-01-02 20:51] mistermax80 commented on #38
@akasolace, yes I agree with approach!
Bye

[2019-01-02 23:03] DavidatorusF commented on #15
@mistermax80
actually Mother club bonus is available only on stage

I don't know for now if they will keep "Mother club bonus" or use "♥" in the future

we have to wait the release in production

[2019-01-03 07:15] brokenelevator commented on #15
@mistermax80

I'm assuming that the two ways differ, since they need different parsing. So I was thinking to check solely for the differences first to determine source and only then send to appropriate parsing. That would be only one try.

In manual, sure. But in program? With one button we could just go with 'paste player data'. Wouldn't it suffice? With two we should explain the difference becau

[2019-01-03 08:15] mistermax80 commented on #15
@DavidatorusF, ok we have to wait, when It Will be available, we adjust the functionality.
You speak in stage, we have not way to try? If yes, I Can update the code since now.

@brokenelevator,
Yes, I thought to give priority at the new functionality, to doing some Little check, number line, format First line.
For explain in program I would put the Little description... I saw in past the people di

[2019-01-03 08:41] brokenelevator commented on #15
@mistermax80

As I understand @DavidatorusF already sent examples from stage, that is two possible ways.

In my opinion the check is part of the functionality. Sure, actual parsing is more important but here is what I would suggest. For the record, it doesn't make it the right way.
In general. Write first parser, test using only one button. Then write second parser, test using the same one button.

[2019-01-04 01:34] DavidatorusF commented on #15
@mistermax80

price and deadline will not be included in copy button
users with new design will have to insert them manually after using copy button... if they want

[2019-01-04 20:42] yaute74 commented on #65
@AirForce2019 do you try the "system" theme ?

[2019-01-06 08:20] brokenelevator commented on #45
@akasolace All done(#67).  Ready to be put in DEV release. I skipped release notes so to not conflict with the other PR(#64).

[2019-01-06 19:57] akasolace commented on #15
closed by #64

[2019-01-06 19:58] akasolace commented on #45
closed by #67

[2019-01-06 19:58] #45 closed

[2019-01-06 20:12] akasolace commented on #65
@AirForce2019

can you please tell me if the following steps are solving your issue:

1. For both ``java.exe`` **and** ``javaw.exe`` likely found in ``C:\Program Files\Java\jre(version#)\bin``
2. Right click on it and select -> Properties
3. Go to Compatibility tab
4. Check Override high DPI scaling behavior.
5. Choose Scaling performed by ``System``
6. Click OK

[2019-01-06 20:15] #54 closed

[2019-01-07 17:39] orgogliobauscia commented on #45
Just to let you know that the HO_1.436.0.363_OSX.zip version works perfectly.
I've got back skills of players I had completely forgotten :-)
One thing: the HO icon is no more the usual one.
Many thanks for your support.

[2019-01-07 21:23] akasolace commented on #45
could you please provide more info ...

[2019-01-07 22:32] mistermax80 commented on #45
@akasolace I Tried, the icon on mac is missing... I think that refer @orgogliobauscia

[2019-01-07 22:37] orgogliobauscia commented on #45
[https://snag.gy/fcg5QH.jpg](url)

[2019-01-08 00:32] mistermax80 commented on #48
![schermata 2019-01-08 alle 01 29 50](https://user-images.githubusercontent.com/15519907/50801440-10ca1280-12e5-11e9-8c9a-a0c1917575ce.png)
@akasolace Let me know It prefer show the button (open browser) respect to link.

[2019-01-08 09:05] akasolace commented on #48
looks really good like this.
can you make the PR ? I suggest we push to beta just after that

[2019-01-08 09:15] akasolace commented on #45
@mistermax80   @orgogliobauscia indeed a bug report is needed
thank you

[2019-01-08 09:54] mistermax80 commented on #48
@akasolace
Yes I will can in night..... but It's need you test on not mac version (regression), and I cannot do it.
Can you do before merge the code?

[2019-01-08 10:01] akasolace commented on #48
yes, I will test and comment the PR before merge
However, I believe the the two lines you circled, will only be visible on mac, this is the intent, correct?
cheers

[2019-01-08 10:07] mistermax80 commented on #48
also that, but the principal intent is the update message (not mac) work fine, I would like to do an regression test, but I cannot do it.

[2019-01-08 10:08] mistermax80 commented on #45
@orgogliobauscia  Let me know If you open that bug.
Thanks so much.

[2019-01-08 12:56] orgogliobauscia commented on #45
I'll do this immediately.

[2019-01-08 12:58] akasolace commented on #45
@orgogliobauscia   thank you

[2019-01-08 13:00] orgogliobauscia opened #69 "HO icon missing on Mac"
After updating to 1.436.0.363 the HO icon disappeared.
<img width="124" alt="screenshot 2019-01-07 23 32 49" src="https://user-images.githubusercontent.com/45899362/50832211-cd57be80-134d-11e9-8350-d41a283df408.png">

[2019-01-08 13:20] akasolace commented on #69
can someone confirm if the problem also exist for Linux and or Windows ?

[2019-01-08 19:56] #69 closed

[2019-01-08 20:03] akasolace commented on #4
due to bug on upstream plugin, I have to postpone the milestone

[2019-01-08 21:40] akasolace opened #70 "ListLanguages is not being updated"
ListLanguages is not being updated

[2019-01-08 21:43] akasolace commented on #15
as discussed
 1. Davidatorus will check wheter or not the issue only exist for French. If it is the case, then only French translation will be updated
 2. In case the issue happpen for multiple language, we will create a new translated term for this feature. And ask translators to ensure it match exaclty the value from the HT copy button

[2019-01-09 01:15] mistermax80 commented on #15
we add new translation term
when you parse, if new term exist you use it for parsing, if not you use current term.
Hence minimal change on your side, and all in place for future needs. What do you think ?

Infact I would like to use a mix approach.
I can find more terms in row that contains that information:
search1 : main term, if nothing found, search term2, and finally, search the only word "cl

[2019-01-09 01:50] brokenelevator commented on #45
@orgogliobauscia Glad it works for you :)

[2019-01-09 11:12] akasolace commented on #15
@mistermax80
@DavidatorusF checked some languages and the problem also exist for Spanish
Hence, I suggest we do the following:
    1. introduce new term ``ls.player.motherclub.bonus``
    2. in your code, you check if the translation exist for the new term
    3.1 if translation for new term exist => use it for parsing
    3.2 if not use ``ls.player.motherclub`` translation as a proxy
    4 maybe

[2019-01-09 13:55] DavidatorusF commented on #15
@akasolace @mistermax80

- Arabic : علاوة النادي الأم
- Azerbaidjan : Ana klubu bonusu
- Belarus : Бонус роднага клюбу
- Bosnien : Bonus matičnog kluba
- Bulgare : Бонус за роден отбор
- Catalan : Bonificació pel club d'origen
- Czech : Bonus pro odchovance
- Chinois : 母会奖励效果
- Danois : Moderklubbonus
- Deustch : Heimatvereinbonus
- Grec : Μπόνους μητρικού συλλόγου
- English UK/US : Mother club bo

[2019-01-09 15:18] akasolace opened #71 "sanitise ressource files both in jar and external folder"
some ressources might not been in use on some (or maybe all ) platform. Ideally we should remove them when not necessary / not in useed: it will be cleaner and less misleading.
I invite you to test is and report your findings in the table below using the DEV binaries:

| Required  Y/N ? | spraches / translation folders | flags | prediction | themes |
|---------------------------------|------------

[2019-01-09 15:23] akasolace commented on #15
@DavidatorusF  that is nice, but how do you want to use that?
I suggest we create a gist with that and I put a comment to the gist with English translation. Hence future translators would have the list for reference.
Finally I will ensure that for the languages listed on PoEditor translations are correct .

@DavidatorusF  @mistermax80  What do you think about that approach ?
If you are fine with i

[2019-01-09 19:33] #70 closed

[2019-01-09 19:58] akasolace commented on #71
ok so I started to fill the table

[2019-01-09 20:32] yaute74 commented on #55
done

[2019-01-09 20:56] DavidatorusF commented on #71
no need sprache and flags on ubuntu 16.04

[2019-01-09 21:00] akasolace commented on #71
ok then I will remove sprache and flags folders from: zip, .exe, .deb and .rpm

[2019-01-09 21:01] DavidatorusF opened #72 "[eBUG] coolness on IFA not display at HO start"
**Describe the bug**
coolness on IFA tab is not saved on database.
It needs to be actualised every time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'IFA'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/50928016-b9997e80-1459-11e9-90eb-d04c3b6d5921.png)

**Platform information:**
 - Ubuntu 16.04

[2019-01-09 21:08] akasolace commented on #72
@DavidatorusF just for info, do you know i the bug present in 1.434 / 1.435?

[2019-01-09 21:19] DavidatorusF commented on #72
@akasolace
1434 nice
1435 no... may be bug added when you updated this tool with the 5 new flags...

[2019-01-09 21:35] DavidatorusF commented on #10
@akasolace
my relation ship is not enough

you have to create a ticket in chpp forum

[2019-01-10 07:01] brokenelevator commented on #71
@akasolace I'd say all the resources are actually used, somewhere. The reason those appear not used is that you purposely or not changed the jar file contents and made the name uppercase (irrelevant for the issue).

Original jar contained:
`de` with some two classes
'gui' with as name would suggest some gui imagery (smilies, arrows and so on)
'ho' with HO class files
`META-INF` with manifest file

[2019-01-10 10:56] akasolace commented on #71
@brokenelevator
When we removed the depracted ``update translations`` and ``update flags`` features I willingly include those data within the jar. But at that time I forgot to remove the external folder. When I said to Davidatorus that he can't change translation locally I meant regular users can't do it. Obviously a developer still can do it by editing files within the jar.
For prediction, I also

[2019-01-10 11:20] akasolace opened #73 "fix update routine and update message"
- For a user on stable channel ... update only check for new stable .. message should be new stable version available   => this case should be properly managed

- For a user on betachannel ... I think it is currently broken
    it should look for latest beta and latest stable
   if beta is newer => message should be new beta version available
   else => msg shoud be something like "Latest availabl

[2019-01-10 14:14] mistermax80 commented on #15
@akasolace @DavidatorusF
I will modify the code to use both terms:
- ls.player.motherclub.bonus (1° check)
- ls.player.motherclub (2° check if 1° false)

I would like insert a check if the user doesn't paste any value.

If is all ok for all, I will proceed.

[2019-01-10 14:23] akasolace opened #74 "Gradle task to automatically pull translation from PoEditor"

[2019-01-10 14:34] akasolace commented on #15
@mistermax80 You can either do that which is 2 parsing or maybe could have be more efficient to do a single parsing either with ``ls.player.motherclub.bonus`` if available or with the other if not.
However, in case bonus term was mispelled we can get more parse susess by also trying with other term.
speed here is not an issue so I am fine with your approach

[2019-01-10 14:38] mistermax80 commented on #15
@akasolace
Ok, just for clarity, For retrieve Bonus, I will check only row I expected it present. I will not check all text.
I will do one check if 1° is false I will 2° check (only need).

[2019-01-10 14:39] akasolace commented on #15
@mistermax80  ok perfect

[2019-01-10 16:13] mistermax80 commented on #71
on Macos, in user folder I see the following folder:
- Lineups (used)
- logs (used)
- themes (I tried to remove and after restart the folder has been recreated) folder empty
file users.xml
The content reported in HO.app, is:
![schermata 2019-01-10 alle 17 10 24](https://user-images.githubusercontent.com/15519907/50981185-b60a0400-14fa-11e9-9245-f89e1cd43895.png)

I hope I have been to help you...

[2019-01-10 16:54] akasolace commented on #15
@DavidatorusF
Today I added all languages to PoEditor. I just came across one issue.
In the post above you gave translated term for arabic but nothing for persian.
At the moment in HT, we have translated files for persian but none for arabic.
Hence, I was wondering, whether or not HT still support persian ?

[2019-01-10 21:54] DavidatorusF commented on #15
HT support all of this languages
https://www.hattrick.org/LanguageSubDomains.aspx

[2019-01-10 23:47] DavidatorusF commented on #15
persian : وفاداری به باشگاه مادر

[2019-01-11 00:53] mistermax80 commented on #15
- Add check in case user doesn't insert player's data
 - Recognizing the Club Mother Bonus enhanced

[2019-01-11 04:21] brokenelevator commented on #73
@akasolace I agree

[2019-01-11 04:46] brokenelevator commented on #71
@akasolace I do get what you mean by regular user but @DavidatorusF isn't necessarily one. Still you don't have to be developer to edit jar file. Obviously most wouldn't but...
As for `themes` you mean custom (or customized) ones? Why else wouldn't we just put them in jar?

[2019-01-11 08:10] akasolace commented on #74
@brokenelevator  I would prefer a commit per update but I don't know how to do this and simply whether or not it is feasible. I can't see any information about this on the API. Do you have information about this?

[2019-01-11 08:12] akasolace commented on #71
@brokenelevator  regarding themes. My first idea was simply to remove those 2 themes because I thought no one would use them until Davidatorus told me differently.
I agree this folder should be within the jar.

[2019-01-11 08:13] akasolace commented on #73
@brokenelevator  ok thank you for the feedback I will do this this weekend

[2019-01-11 09:22] akasolace commented on #15
@DavidatorusF do you see a reason why we should keep supporting the parsing from the source page ?
I mean everybody has access to the HT copy button, right?  It would be easier just to support one kind of parsing

[2019-01-11 09:54] mistermax80 commented on #15
@akasolace @DavidatorusF
IMHO is the parsing it was ago times... For don't create discomfort, I would leave active it... for some period... once the new transfer scout is stable in the time, we can remove it.
I afraid, that information in HT copy button will change, and we don't know in time, the funcionality can be broken.
I shared my opinion, but I will do it that is better for all.

[2019-01-11 10:05] akasolace commented on #15
@mistermax80 I would have been fine with offering both method. However in the PR, you said that that the parsing of the source page was not robust and that it is not possible to check whether or not the parsing is successful. In my opinion, we should either

 1. offer only parsing of HT copy button
 2. offer both possibilities if they are at par in terms of functionality and robustness

in both sc

[2019-01-11 13:44] orgogliobauscia opened #77 "Export csv"
Would it be possible to have Personality, Aggressivity and Honesty as numbers and not as words (hope you understand what I mean).
I have also realized that the columns' order in the cvs file is different from the one I downloaded last week (using HO 1.435 stable).
Thanks :-)

[2019-01-11 14:20] akasolace commented on #77
as far as I remember it would be consistent with characteristics so it would make sense
Does anyone in the development team object to that request ?

This has to be linked to closing of issue #42

it is a small one so I guess it can make it on time for 1.436

[2019-01-11 14:39] DavidatorusF commented on #71
@DavidatorusF in fact when werder implemented this new theme I'd tested it for him..
may be I'm the onlyone who use it ^^

[2019-01-11 16:55] mistermax80 commented on #77
I introduced words in respect to numbers, I thought it was an improvement.
I would also specialities change in words.
For me ok, rollback to numbers.
For the order, if I don't remeber bad, I aligned order column to squad tab.

[2019-01-11 17:06] brokenelevator commented on #72
@akasolace @DavidatorusF `it's not a bug it's a feature` but jokes aside... there was a bug with ifa module that you fixed by executing `drop table` on `HT_WORLDDETAILS`. Now since we are using a non-stable version the database keeps updating on every run. So updating in ifa module fills the `HT_WORLDDETAILS` table but when we start HO again it's `drop table`**d**.
I checked, removing the `drop ta

[2019-01-11 17:35] mistermax80 commented on #15
@akasolace

In the old parse (copy by player page), the warning message is dependent to fields.
there are fields If it doesn't recognized give error, other fields give warning.
age, tsi, --> show error
expired date/time, skills, specialties --> show warning
all term parsed --> success
In all case the code flow goes ahead to end.
IMHO, the error manage in old parse is not manage in clear way.

In t

[2019-01-11 17:38] DavidatorusF commented on #15
@akasolace
those who use classic page don't have this HT's option...

[2019-01-11 20:43] akasolace commented on #71
lot of icons are missing in that theme !

[2019-01-11 20:49] #71 closed

[2019-01-11 20:56] akasolace commented on #77
@mistermax80 do you export translated words or alwawys in English ?

[2019-01-11 20:57] akasolace commented on #15
@DavidatorusF  ah ok thank you for the precision

[2019-01-11 21:06] akasolace commented on #77
@mistermax80   maybe in export csv, we can offer to export either as number or as translated string.  Hence, it pleases everyone. What do you think?

@orgogliobauscia  having half of the export as numbers and the other half as text is really a question of taste. I am sure everyone has a different opinion on this

[2019-01-11 21:09] akasolace commented on #72
@brokenelevator I confirm the bug was introduced recently, because on my local development version it was working well but not in the latest one.  I can also confirm that the issue is now fixed on the latest build.

@DavidatorusF  I let check on your side and if needed you can reopen the bug but to me it appears as fixed

[2019-01-11 21:09] #72 closed

[2019-01-11 21:12] akasolace commented on #48
fixed by 9d8f32227c838790c1e58527062652002a45f791

[2019-01-11 21:12] #48 closed

[2019-01-11 21:13] akasolace commented on #55
fixed by 177f5583cd8217b4b4ec94c4c244a3e6f246f2bf

[2019-01-11 21:37] mistermax80 commented on #77
the words exported (words and headers) are translated

Yes, It's a good Idea... I will can do it

[2019-01-11 21:55] #74 closed

[2019-01-11 22:15] akasolace commented on #55
@yaute74

Sorry for the late check but I am not sure this is working as expected.
Looks to me your function looks for release_notes on local folder instead of the fie on the net.

to makes things simpler, maybe during build test, we can export release_notes to html pages as for the version number.

For example similarly to https://akasolace.github.io/HO/latest.html  I can create
https://akasolace.

[2019-01-11 22:23] akasolace opened #80 "Preferences Check tab"
**Describe the bug**
The check tab in preferences shows a lot of incorrect entry

 - First 2 entries should be removed
 - Entry number 3,  should be fixed because at the moment it does nothing and maybe placed on release channels tab for more consistency

- Entry 5 should be place on tab Downloads for consistency

  - we might be left only with Entry 4
 which need to be investigated, I have no ide

[2019-01-11 22:43] orgogliobauscia commented on #77
Thanks for your interest in the matter.

[2019-01-12 04:07] mistermax80 opened #81 "[eBUG] HO_1.436.0.680_OSX doesn't start"
**Describe the bug**
Using HO_1.436.0.680_OSX.zip, this version doesn't start.

**To Reproduce**
Steps to reproduce the behavior:
1. Intall HO_1.436.0.680_OSX.zip
2. Click on 'HO.app'
3. during the startup, it's showed screenshot 1
4. close exception screen, screen startup hangup
5. close app, it's shower screenshot 2

**Screenshots**
1:
![schermata 2019-01-12 alle 05 03 39](https://user-images.gi

[2019-01-12 10:48] brokenelevator commented on #80
`First two` **agree**
`third` **agree?** I mean, isn't that an awkward time to check for updates? Does anyone actually use that? If so **agree**, if not **dispose of it**
`fourth` **agree** I also have no idea what its purpose is
`fifth` **agree**

So removing that tab may make a lot of sense.

[2019-01-12 11:09] mistermax80 commented on #80
What was the original intent for the 1' 2'? Do you know?
I agree to remove tab, after check on 4'

[2019-01-12 11:17] akasolace commented on #81
I changed jar task to not include sprache and theme folder within the jar.  This is working well for windows and Linux. However for mac os, the packaging is different and the HO.jar should contain those 2 folders.
However, I am running into an issue.  I don't know how to run twice the jar configuration, once for windows and Linux and once with different parameters for os x.  I am really new to gra

[2019-01-12 13:15] akasolace commented on #80
For 2) I don’t know maybe looking at the code will allow us to guess or maybe davidatorus knows
For 1) a long time ago, HO developers were informing users about development news. News were stored in a server and fetched by the app. We will not support this. Anyway if someone care about development news he can just look github activity.

[2019-01-12 13:18] akasolace commented on #80
@brokenelevator I think it is not a bad idea to check for new update automatically. But at the moment it is broken and it is not a really urgent functionality. Hence maybe we can simply delete the tab and why not in the future reintroduce automatized check for new updates.

[2019-01-12 17:06] mistermax80 commented on #73
@akasolace, Yes I think this is the correct update version management.

[2019-01-12 17:10] mistermax80 commented on #38
I verified that HT doesn't save lineup if this is not complete with all 11 player... Therefore, To think analyze the line up with a one player is not feasible.
Really I don't know the most easy way to do user insert data with coerence (between lineup and skill player).

[2019-01-12 17:52] akasolace commented on #81
the question on  [SO](https://stackoverflow.com/questions/54159312/gradle-run-twice-installdist-task-with-different-jar-configuration)
At the moment there is still no answers

[2019-01-12 18:12] akasolace commented on #38
@mistermax80 I think there is no other choice than having the user to copy paste from different sources.
1) from the simplified interace  ... get lineup from source page (there is a huge amount of text)
2) from the simplified interace ... copy prediction values (they are not in source page)
3) get players carac from Foxtrick table (but we are missing homebonus)

[2019-01-12 18:14] mistermax80 commented on #81
@akasolace
Ok thanks!
I think we should remove the osx setup dev version...

[2019-01-12 20:34] yaute74 commented on #55
Something like this:
![image](https://i.imgur.com/I59XDtA.png)

ps: we can also do the same thing with the macos zip url

[2019-01-12 20:41] mistermax80 commented on #55
IMHO I prefer much the current layout.
I think generally the standard users don't read the release notes, and by link, it's probably that they don't read.

[2019-01-12 20:59] akasolace commented on #55
@yaute74  @mistermax80  it is not what I meant. I also really like the current layout. I just noticed it was not pointing to the correct release notes. When I tried it was looking for local release note (i.e of installed version) instead of online release notes (i.e for version about to be install).

I hope it is clearer now.

[2019-01-12 21:19] akasolace commented on #81
I tried something. My osX VM is broken, can you please let me know if it fixed the bug. Thank you

[2019-01-12 21:31] mistermax80 commented on #81
@akasolace
I will try later (1 or 2 hours).

[2019-01-12 21:41] akasolace commented on #80
@brokenelevator can you by any chance take the lead on this one?
If yes I can assign myself other bugs.

[2019-01-13 12:38] akasolace commented on #81
@mistermax80  I did post the solution on SO

closed by ba0477c72422ac285629968780cc1fde5456e8c3

[2019-01-13 12:38] #81 closed

[2019-01-13 12:55] brokenelevator commented on #81
@akasolace didn't you do it the other way around? remove them from folder but leave in jar?

[2019-01-13 13:00] akasolace commented on #38
@mistermax80  @brokenelevator  I think we agree on the solution on discord
which one of you want/should take the lead on ths one?
What would be nice is to create a feature request, maybe with some mockups, and giving details about the implementation (the different steps), for example:
      1.  change the linup panel GUI  (#10 and #21 can be tackle at the same time)
      2.  create the function t

[2019-01-13 13:10] brokenelevator commented on #80
@akasolace Automatic check makes sense but the timing. Wouldn't it be better to check before HRF download?
So what would be there to do? I may be not very high on time in near future.
Remove the first 3-4? and move the 5th? possibly removing entire tab?

[2019-01-13 13:15] brokenelevator commented on #55
@yaute74  Me three, with the current layout.
The github.io page is a good idea. As @akasolace noticed it should be release notes of the 'to be downloaded' version, not the one already installed.

[2019-01-13 14:30] akasolace commented on #55
seems we all agree on that one.

[2019-01-13 14:35] akasolace commented on #38
@brokenelevator there is no rush at all on this one.
It will be a revamp of the lineup GUI allowing us to close many feature request in the same time.
It would be a big feature of the next version (after 1.436).
If you take this one, I expect it to be your main task for next release, we won't bother you with other task.
It will be important to have a GUI mockup in place before you start any coding

[2019-01-13 15:08] akasolace commented on #55
d193859ea26330329f80e123e4de31f0a28fb214 fixes step 1,
release notes are now uploaded online during build phase in the following location:

https://akasolace.github.io/HO/release_notes(dev).html
https://akasolace.github.io/HO/release_notes(beta).html
https://akasolace.github.io/HO/release_notes(stable).html

[2019-01-13 19:41] yaute74 commented on #55
I was clear, I just propose other option because:
- if you want to create an html structured page or a markdown page etc... (not just a text page) it's better to have a link.
- some users are not interested by release notes so it's a shame to download a page for nothing

[2019-01-13 20:54] mistermax80 commented on #38
@akasolace @brokenelevator
I prefer to be of support, help, brainstorming...
Therefore I gradly leave place at the brokenelvator...
I this period I prefer reiceve the request and work...
I can support brokenelvator on this, also implementation on site or mysql dB...

[2019-01-13 21:09] akasolace commented on #55
Personally I am open on this one. It is true that it is standard for software to only display a link to release notes.   (To follow std, the check update, should be within help menu instead of file)

@brokenelevator @mistermax80 @yaute74 @DavidatorusF
so it is really up to you, I would be fine with whatever you decide.

[2019-01-13 21:29] akasolace opened #82 "[eFEAT] move Update feature from File menu to Help menu"
In order to be consistent with other softwares:

``Update HO!`` -> ``Check for updates...``
``File`` -> ``Help``

[2019-01-13 21:30] yaute74 commented on #55
@akasolace I'm the only one who prefers the link, I'll keep the current layout ;)

[2019-01-13 21:33] yaute74 commented on #73
@akasolace ok for me

[2019-01-13 21:34] akasolace commented on #55
@yaute74  let's others have a second look maybe.

By curiosity I check few software I got. They have all the same design:
   - Check for updates in Help menu   (I just created a ticket for this)
   - Release not are shown as a link

So you defintly had a valid point :-)

[2019-01-13 22:37] yaute74 commented on #73
@akasolace I say ok but I have a stupid question.

Dev version will be always greater than Beta version and Beta version will be always greater than Stable version.
So why check other channels ?

[2019-01-13 22:51] akasolace commented on #73
@yaute74    Not necessarly, for example when 1.436 will be out, stable will have the highest build until we build a new development version.

[2019-01-13 22:53] mistermax80 commented on #55
I prefer to see it in the same screen without link.
Because I am one who read the release notes.
But I agree with @yaute74, there is not need to download data if the user is not interested.
I think if we want incite the users to read it or not, Inthe first case the release notes will be in the screen, else link.
For me it the same.

[2019-01-13 23:09] mistermax80 commented on #73
Hi guys, I'm thinking on this.
Possibile situation:
There will be a stable version with an bug that we have to resolve before of the release the next release.
How we will do? We will do a branch from stable version and release without passing in dev and beta?

[2019-01-14 05:30] brokenelevator commented on #73
@mistermax80 It is not like we have to follow that to the letter. If the bug will not require much testing we can just release new stable. Maybe even should because people will move to most recent stable and if it has a bug it may not be wise to leave it there. We would have to scrape this stable.
Otherwise we could just release new beta, skipping dev. We are the devs, it is our call. We can and s

[2019-01-14 05:45] brokenelevator commented on #55
@akasolace @mistermax80 @yaute74 I wonder who we should cater to more. New? Those would expect it in Help. Old? It has always been in file and I see no one complaining about that. So I guess old would expect it in file. For me it makes no real difference where it will land. I would not touch that, but that is more of a 'not broken, don't fix it' or stay with legacy if there is no good reason to ch

[2019-01-14 05:50] brokenelevator commented on #80
@akasolace I guess I could do that. It should be easy enough. If something comes up I'll update here and maybe hand it to someone else.

[2019-01-14 06:01] brokenelevator commented on #38
@akasolace That would be fine then. For the GUI mockup would an image (actually, images) suffice?
One thing though. Shouldn't we get the `gather data features` done asap? or are we, as you said, in no rush at all?

@mistermax80 I could do most if not all of this. MySQL should be no problem. One thing I would need is *how to connect (a handle to the db) to the webhost site?*

[2019-01-14 06:36] brokenelevator commented on #80
@akasolace One could (out of curiosity) check older version at SF but 1-4 seem to be dead code. Remnant of some old functionality. Do you still want to move 3rd to release channel tab?

[2019-01-14 07:37] yaute74 commented on #55
@akasolace @mistermax80 @yaute74
Soif I resume action i can do:
- check update as describe in #73
- move 'check update' in help menu #82
- add link to the 'release note' into help menu (for user who want to read the release note after installation). In this cas open release note into browser.
- for message box I use a JTextPane. It work with our release note page but I do some tests with other htm

[2019-01-14 10:36] mistermax80 commented on #55
@yaute ok!

[2019-01-14 11:16] akasolace commented on #38
@brokenelevator

yes

There is some work to be done to get that feature done which is part of the Lineup GUI revamp. Hence, we will take the needed time to have it properly done. My guess would be to target 2.0 end of spring / beginning of summer. But maybe we will be nicely surprised.

[2019-01-14 11:21] akasolace commented on #80
@brokenelevator

Do you mean it was used for statistics about number of HO users ?

I may disable it though.

Exactly what I thought. Lets put the checkbox there in disabled mode. For 2.0 release we will decide either to remove it or to reactivate it with appropriate behaviour

[2019-01-14 11:24] akasolace commented on #55
@yaute74  sounds perfect to me    @brokenelevator  also good with you?

1.436 is getting close

[2019-01-14 16:38] mistermax80 commented on #38
The DB is accessible only in localhost...
Let me know how you think to work on db...

[2019-01-14 17:31] brokenelevator commented on #80
@akasolace It appears so. It downloads something from HO page. From name (names) it would look like it. Didn't try to open that page, in web or webarchive. Maybe will try :)

Rest is done. I'll prepare PR in a moment.

[2019-01-14 17:33] akasolace commented on #80
@brokenelevator great thank you !

[2019-01-14 20:05] akasolace commented on #80
closed by 635832f59fff6982d6f718a928d91aef75c41ad6

[2019-01-14 20:05] #80 closed

[2019-01-14 20:32] yaute74 commented on #73
I do the modification.
I don't add message because the channel is already display in the version.

Potentially there is there may be a problem:
- user is on beta channel
- stable version is greater than beta version
=> user switch to stable version
=> if beta version become greater than stable, user will stay on table

[2019-01-14 20:37] akasolace commented on #73
You mean no message in release note ?  If that yess thre is no need

No there will be no problem. The release channel of the user remains the same.
So if he got DEV selected as release channel.  When stable got release, the check version inform him that latest version is a stable vesion and offer him to upgrade.
After that if a dev is published, the check update will offer him to update to DEV.

N

[2019-01-14 21:02] mistermax80 commented on #73
Hi if we release an new stable version for fix a important bug without passing by beta or Dev, what can it the number version?
I think if the stable is more greater Dev, the Dev user will receive the stable update... And lost the new Dev functionality...
I don't know if I am clear...

[2019-01-14 21:42] akasolace commented on #73
Next versions will be 2.0 3.0 ....
In case a bug in 2.0 need to be patched we will release 2.1  (we might have dev or beta in between depending o how easy is the bug to fix)

In case we are working on 3.0 DEV but a serious bug force us to relase 2.1,  we create a branch out of 2.0, we fix the bug, we port it to master and we release, so bug will be fixed in both DEV and 2.1 stable

users how is in

[2019-01-14 22:00] mistermax80 commented on #73
Now It is clear... Sorry but I thought there was something that lose... But It's not...
Thanks for explaining.

[2019-01-14 22:07] yaute74 commented on #55
Modification done
Finally I left the release note panel visible because the hide/show mode doesn't make it very good.

[2019-01-14 22:15] akasolace commented on #73
The alternative would be that when we build DEV we release DEV only
When we build BETA we release DEV and BETA
When we build stable we release all of them
DEV channel only look for DEV build and same goes for beta and stable channel

pro: no error possible
cons; a beta user or a dev user, might use a stable build at some point without knowing it

I am fine with both approach. So maybe we can vote

[2019-01-14 22:45] yaute74 commented on #82
Modification done:
- move check update to help menu
- add release note entry in help menu

[2019-01-15 04:00] brokenelevator commented on #80
@akasolace even webarchive seems to support it.[https://web.archive.org/web/20070925041025/http://www.hattrickorganizer.net/downloads/users.html](url)

[2019-01-15 04:32] brokenelevator commented on #82
@yaute74 I don't know why are you so keen on using links and opening browser. I, for one, am not. I would open a dialog, just like when checking updates. Just a thought.
What do you think about that @akasolace?

[2019-01-15 05:11] brokenelevator commented on #38
@akasolace ok. perfect. I'll assign myself to those two you mentioned. Assign me to any other issues that are part of this.

@mistermax80 what do you mean only localhost?
For starters, if it's only localhost only you would have access to it. Which would be a deal breaker.
but... the site is online. We used it, it saved stuff to database...online. So how is it only localhost?

If what you mean is t

[2019-01-15 07:31] yaute74 commented on #73
@akasolace I already do the modification but I can go back. Personally I prefer the second approach because it's more easier and clearer for the user. He choose beta, he stay in beta version.

@brokenelevator yes. I can add a message if we keep the modification

[2019-01-15 07:36] yaute74 commented on #82
@brokenelevator I am not 'so keen' it's just a solution as dialog is an other solution. I find it's more cleaner, less code, less bugs. On computers, in most cases a browser is already open.

[2019-01-15 07:57] akasolace commented on #80
wow 162 491 HO users at that time, impressive !

[2019-01-15 07:59] akasolace commented on #55
ok cool.
I'll test this tonight.
Thank you

[2019-01-15 08:04] akasolace commented on #73
ok so let's vote:

Approach 1: brokenelevator
Approach 2: yaute74

I am personally neutral maybe with just a small preference to Approach 2 after thinking again about it. With approach 1 we have risk of breaking things if not careful (i.e user from DEV going back to stable) , this cant happen with approach 2.

@mistermax80 ,  @DavidatorusF   what do you think ?

[2019-01-15 09:16] akasolace commented on #38
@brokenelevator I fully agree with brokenelevator post, this is also how I would see it implemented

[2019-01-15 11:52] yaute74 commented on #73
It's nice idea.

Could we also think about modernizing the logo?

[2019-01-15 13:07] akasolace commented on #73
looks like vast majority prefer option 2, I am also for logo per version.
It could actually be logo + splashscreen + headerbar
We could have a more modern logo but I have absolutely no designer skill.... either one of you is up for it or we can maybe ask on HT forum ...

[2019-01-15 13:15] DavidatorusF commented on #73
I'm not designer, I just play a little with gimp

[2019-01-15 13:37] akasolace commented on #73
playing around 2 minutes on the web:
![image](https://user-images.githubusercontent.com/1136496/51183910-03a7b780-18d3-11e9-94f2-bcfed0626ee0.png)

[2019-01-15 13:42] yaute74 commented on #73
I am familiar with graphic tools (inkscape, gimp), but the the difficult thing is to have a good idea!

[2019-01-15 14:05] akasolace commented on #73
@yaute74 actually, this was for the spashscreen

[2019-01-15 20:14] akasolace commented on #82
@yaute74   I just tried and it is not working as expecting, does not find update wheras:

https://akasolace.github.io/HO/latest.html   shows  version=1.436.0.795 released=15.01.2019

![image](https://user-images.githubusercontent.com/1136496/51207067-138ebe00-190a-11e9-8eb6-80ae95647fa8.png)

[2019-01-15 20:15] akasolace opened #84 "[FEAT] use icon / splashscreen / headerbar according to the version used"
![image](https://user-images.githubusercontent.com/45043004/51177599-55931200-18c0-11e9-8a52-da448addd17b.png)

_Originally posted by @DavidatorusF in https://github.com/akasolace/HO/issues/73#issuecomment-454359423_

[2019-01-15 20:17] akasolace opened #85 "[eFEAT] simplify themes – keep normal and introduce dark theme"
maybe using this theme https://github.com/weisJ/darklaf/

[2019-01-15 20:20] akasolace commented on #82
closed by 9b0fb68fe2e60c7ac912bc2d02f5f88842c9bf00

[2019-01-15 20:20] #82 closed

[2019-01-15 20:21] akasolace commented on #73
thank you @yaute74 !
shoud be closed by 9b0fb68fe2e60c7ac912bc2d02f5f88842c9bf00
in case we face error when we launch beta we will reopen the deal ticket

[2019-01-15 20:31] akasolace commented on #55
@yaute74

I was exptecting the release note link in the help menu to point to current version ( the file stored locally) whereas is users do check update he got the release notes for the version about to be installed.
Is current implementation what you had in mind or is it a mistake?
@mistermax80 @brokenelevator  @DavidatorusF   what do you think ?

Thank you for the feedback

[2019-01-15 20:53] akasolace commented on #73
@yaute74   btw, can you confirm you implemented 2nd approach, I did not check actually.

[2019-01-15 21:33] yaute74 commented on #55
So you speak about the issue #82. Yes it's what I have in mind because I understood that you remove the local release note file and create html page to replace it.
But if it's not the case we can open the file localy ;)

[2019-01-15 22:09] mistermax80 opened #86 "[eBUG] Refactorize the same code in file for Transfer Scout"
**Describe the bug**
Part of the code of these files, can be refactorized, for to have the same code in only place:
module/transfer/scout/TransferEingabePanel.java
module/transfer/scout/MiniScoutDialog.java

[2019-01-16 05:22] brokenelevator commented on #38
@mistermax80 hence, as above. no problem.

@mistermax80 No problem. I didn't think about changing technologies. If it behaves roughly like I mentioned earlier it's totally cool.

PS The address works, the link doesn't :)

[2019-01-16 05:43] brokenelevator commented on #82
@yaute74 true, solution is a solution. one that I don't like, but that is fine. I don't find that particularly cleaner but sure, less code, less bugs.
I never liked that behavior. Meaning applications opening browser. For that reason I don't change default browser setting and copy, rather than click links. If links do open, I can just kill it or black hole it, leaving my browser not run or not bot

[2019-01-16 06:31] brokenelevator commented on #55
@akasolace i haven't tested it myself yet. Putting release notes back is one option. Do it have to be release notes though? Changing the help menu link for changelog would be the other.

[2019-01-16 07:30] akasolace commented on #55
@brokenelevator @yaute74
In order to close the PR I suggest based on what you said that we go for a minimal change. We simply put the link to local changelog and we rename it accordingly. We leave as it is the release note before update.

[2019-01-16 07:36] akasolace commented on #73
@brokenelevator I also like the moto but I am not sure it applies here. When will a logo got broken? Also for the record it is not my idea to have logo that differs for stable/beta/dev  but I really like it

[2019-01-16 09:33] brokenelevator commented on #55
@akasolace It shall be so then :)

[2019-01-16 10:46] yaute74 commented on #73
No actually it's the first  a5926bf

[2019-01-16 10:53] yaute74 commented on #55
@akasolace ok

[2019-01-16 11:11] akasolace commented on #73
@yaute74 @brokenelevator
ok so in what you did we assume that a user on DEV channel will go DEV -> BETA -> STABLE -> DEV ...
whereas a user on BETA channel will go BETA -> STABLE -> BETA ...
and a user on STABLE channel will go STABLE -> STABLE -> STABLE ...
I am fine with that ... you can leave as it is,  lets releae 1.426 and we will see in the future if we have issue with that rolling process

[2019-01-16 11:16] yaute74 commented on #73
@akasolace
ok but this the first Approach, no ?

[2019-01-16 11:20] akasolace commented on #73
@yaute74
yes but I am personally fine with both and I can tell the team is split on that topic as both approach have pro and cons. Si i suggest we leave it as it is now, and if needed we will reassess in the future.

[2019-01-16 12:19] yaute74 commented on #73
ok

[2019-01-16 12:19] #73 closed

[2019-01-16 15:57] akasolace commented on #55
Changelog is here
It is a text file in src/main/ressources but
we will have to change it to html for the link.
Maybe you can create the html version and today or tomorrow I will delete the text file and adopt the build file accordingly. Hence, you will not have to wait for me.

[2019-01-16 19:53] akasolace commented on #15
@mistermax80  thank you for the PR, I decided to merge it because it was becoming hard to read. But in order to close the bug, could you please at lease do a new PR to solve the 2 issues listed below. We will also see if @DavidatorusF has other remarks.

1.   test: using HT copy button:  error message about missing price and deadline.
      As already discussed I think it is misleading, because in

[2019-01-16 20:13] mistermax80 commented on #15
@akasolace
Yes I fully agree with you!
I think Your choose is correct!

For 1
I prefer manage a new message. As you said display "price and deadline information not available through HT copy button"

For 2
Ok no problem.

[2019-01-17 17:10] mistermax80 commented on #86
@akasolace Ok for me (no rush)
But I would like @brokenelevator's help to desing the better solution.

[2019-01-18 21:43] #55 closed

[2019-01-18 21:46] #15 closed

[2019-01-18 21:59] akasolace opened #88 "[eBUG]"
**Describe the bug**

In order to have the release notes properly displayed in GitHub, the markdown page need specific header. However this header should not be displayed to the users.

![image](https://user-images.githubusercontent.com/1136496/51414988-87340380-1b74-11e9-9711-1d5e40d3f7ce.png)

[2019-01-19 10:48] brokenelevator commented on #86
@mistermax80 sure. what would you like to know?

[2019-01-19 11:06] mistermax80 commented on #86
I see two GUIs that do (more/less) the same code, but One recall the other...
I afraid that for unify the code in same place, I will do the methods with a lot of prameters, and this approach I don't like it...
Could you advice me how modify the code? what is it the approach?
If the discuss is long, we can speak on discord.

Let me know

[2019-01-19 12:42] brokenelevator commented on #88
@akasolace Maybe I'm a little out of loop or something different but it looks fine to me.
![przechwycenie obrazu ekranu_2019-01-19_13-39-58](https://user-images.githubusercontent.com/2612128/51426797-00bd0780-1bf0-11e9-8e95-6adddcc0a16b.png)

[2019-01-19 13:12] akasolace commented on #88
That’s weird that it does not behave the same. I will need to have another look ...

[2019-01-19 14:53] DavidatorusF commented on #88
my .zip is will updated to r**974**
seem you haven't add the last translation from poeditor, isn't it ?

[2019-01-19 16:00] akasolace commented on #88
@DavidatorusF so you confirm you had the same screen as brokenelevator , no weird text ?
I released yesterday around midnight, normally all translation that were done at that time should be included ...

[2019-01-19 16:17] DavidatorusF commented on #88
same screen as brokenelevator
oups... made last translations around midnight too
![image](https://user-images.githubusercontent.com/45043004/51429329-fc074c00-1c0d-11e9-956a-df4083e861c5.png)
![image](https://user-images.githubusercontent.com/45043004/51429335-0d505880-1c0e-11e9-9c58-df48aee02cf9.png)

[2019-01-19 16:50] akasolace commented on #88
@DavidatorusF  i don't understant yuo shared 2 screenshots, one with the bug and the other not. What is the diference between the 2?  Also according to you screenshot you are updating from 1.435? I would not have expected this one to work ....

[2019-01-19 17:07] akasolace opened #89 "[eFEAT] Add a section translating HO in the wiki"
just few lines and maybe 1 or 2 screenshots explaing briefly how to register and that both term fuzzy and untranslated need to be translated (I will add a link to that on the forum post at release time)

[2019-01-19 17:08] akasolace commented on #88
@mistermax80 @yaute74  how is it for you ?

[2019-01-19 18:43] mistermax80 commented on #88
I will do in night...

[2019-01-19 20:20] DavidatorusF commented on #88
oh... title is the bug ? the second screenshot is the same,  just a scroll on the popup windows

don't take care at 1435 who was open too, was the 1436.0.723...

[2019-01-19 20:35] akasolace commented on #88
@DavidatorusF  ah ok so you have the issue same as me.  Release notes start with unwanted text. On @brokenelevator example it is different (the text is also formated)

[2019-01-19 20:36] DavidatorusF commented on #89
@akasolace

must be added in Contributing-to-HO, no ?

https://github.com/akasolace/HO/wiki/Contributing-to-HO

## Translations
You can simply do so via PoEditor https://poeditor.com/join/project/jCaWGL1JCl

You need to fix both 'Fuzzy translation' (priority) and remaining untranslated terms.
In case the language in which you would like to contribute is not listed in the project page please contac

[2019-01-19 20:38] akasolace commented on #89
Ok perfect.
Thank you !

[2019-01-19 20:41] DavidatorusF commented on #89
here is the link you can add in forum

https://github.com/akasolace/HO/wiki/Contributing-to-HO#translations

[2019-01-19 20:41] akasolace commented on #89
Cheers !

[2019-01-19 20:41] #89 closed

[2019-01-19 21:12] yaute74 commented on #88
@akasolace
It"s ok for me but I do a manipulation.
As I install the last release (r974) with an archlinux package the "Update" was respond that I am also in the laste version. So I modify the version inside the manifest to see the message and it's good:

![image](https://user-images.githubusercontent.com/34601782/51432324-f1f94380-1c35-11e9-96a6-f539256d92f1.png)

I think the problem depend from w

[2019-01-19 21:40] akasolace commented on #88
ok maybe but I thought I was also on the latest version , I will try again to confirm

thats ennoying, your version was not working for me when launched from the zip. So I had to change the code into
`File jarFile = new File(this.getClass().getProtectionDomain().getCodeSource().getLocation().toURI());
URI logFile = jarFile.getParentFile().toPath().resolve("changelog.html").toUri();
Desktop.getDesk

[2019-01-19 22:12] akasolace commented on #88
I confirm the bug does not exist with more recent DEV versions

[2019-01-19 22:12] #88 closed

[2019-01-19 22:15] akasolace opened #90 "[eBUG] help menu error when trying to open the "changelog""
Bug reported by @yaute74 (I think under Linux)

Personnaly I do not experience the bug in Windows either from installed version or zip.
So we need confirmation of who is affected by it.
@mistermax80  @brokenelevator @DavidatorusF

[2019-01-19 22:18] DavidatorusF commented on #90
from my .zip, my changelog is well open on my firefox

[2019-01-19 22:45] yaute74 commented on #90
@akasolace   I update to revision 989 and now it"s ok
I d'on't understand why because because you change nothing

[2019-01-20 08:32] mistermax80 commented on #90
I see the error.
![schermata 2019-01-20 alle 09 31 59](https://user-images.githubusercontent.com/15519907/51436927-4f24e180-1c96-11e9-9e04-441426058b50.png)
I reopened the bug.

[2019-01-20 08:40] mistermax80 commented on #88
I cannot try, because, the previous version that works in macos was X.723... and this wasn't the funcionality.
I will try in next version.

[2019-01-20 08:45] akasolace commented on #90
Indeed, I should have expected issues with MacOS. I guess there is no changelog file next to the  jar.
I hope  this can be easily fixed via the build script but I am not 100% sure .. I will try tonight

[2019-01-20 09:38] brokenelevator commented on #88
I did the same (maybe not exactly) as @yaute74 and had the same result. Including the changelog bug (I'll write there).

@akasolace as for version. I use 'master' version. So one can say that I already upgraded.

[2019-01-20 09:53] brokenelevator commented on #90
I don't have that problem but why does local html file open in browser? I mean, I get that it made some sense to open the web one in browser but the local one?

[2019-01-20 10:03] akasolace commented on #88
@brokenelevator so just to clarify, you confirmed you do not experience the bug so will leave it closed ?

[2019-01-20 10:16] brokenelevator commented on #86
We can do it here or there doesn't matter. I meant only `copyPaste` function but if the two files are almost the same maybe we could do more.

Since `you are most familiar with that piece of code` could you tell me what is different and what is the same?

I don't actually see them 'calling' themselves (more than necessary). TransferEingabePanel has a field with MiniScoutDialog because it opens Min

[2019-01-20 10:18] brokenelevator commented on #88
@akasolace as you can see at the top. I never did.

[2019-01-21 11:57] brokenelevator commented on #90
@akasolace Linux/Manjaro

[2019-01-21 13:21] akasolace commented on #90
@mistermax80  as I explained last time, I do not have anymore a MacOS VM, hence you will have to help me on this one. Could you please tell me what is the current folder structure of the osX zip archive ?
I can't even open it under windows.  If I recall correctly in OSX all the files are included within the JAR even prediction for example, is that correct?  If it is the case we will need a method

[2019-01-21 16:07] mistermax80 commented on #90
@akasolace
ZIP:
![schermata 2019-01-21 alle 17 05 08](https://user-images.githubusercontent.com/15519907/51485706-060c8480-1d9f-11e9-9690-18fda74ec282.png)
HO.jar
![schermata 2019-01-21 alle 17 06 58](https://user-images.githubusercontent.com/15519907/51485714-0efd5600-1d9f-11e9-811e-23c2c1985523.png)

[2019-01-21 16:12] akasolace commented on #90
@mistermax80 ok thank you and where is HO.jar ? whithin HO.app ? anything next to it ?

[2019-01-21 16:18] mistermax80 commented on #90
@akasolace  HO.jar is whithin HO.app

[2019-01-21 16:18] akasolace commented on #90
@mistermax80 ok and nothing along with it ?

[2019-01-21 16:21] mistermax80 commented on #90
@akasolace
This is contained in HO.app:
![schermata 2019-01-21 alle 17 19 54](https://user-images.githubusercontent.com/15519907/51486419-ed9d6980-1da0-11e9-90d7-3ac1aa3628a1.png)

[2019-01-21 16:40] akasolace commented on #90
ok so I guess the way to go is to replace:

[code]

with something like
[code]

@mistermax80 can you give a try and let me know if it works ?

Thank you

[2019-01-21 18:39] mistermax80 commented on #90
@akasolace I will try.
I have to try in only by intellij?

[2019-01-21 18:58] akasolace commented on #90
No ... maybe what you can do is a PR and I build it if that helps.
Meanwhile I will try to recreate an macOS VM

[2019-01-21 19:22] akasolace commented on #90
@mistermax80  ok no worry I'll do it now.

[2019-01-21 19:43] akasolace commented on #90
ok can you try now the latest DEV ?

[2019-01-21 20:58] #90 closed

[2019-01-21 22:35] mistermax80 commented on #90
@akasolace
Ok in r1013 it's works.

But I saw the setup zip name file is changed "_OSX.zip" to "macOs.zip". which is the correct name?

[2019-01-22 09:55] mistermax80 commented on #90
@akasolace I saw you had udpate the code in coerence with new mscos name (91a2003), perfect!!!

[2019-01-22 09:59] mistermax80 commented on #38
@brokenelevator now You red the link, do you think it can be the our solution for gather data?

[2019-01-22 15:46] akasolace commented on #58
@DavidatorusF could you check release_notes and changelog and let me know if you see something to add or fix?
Thank you

[2019-01-22 17:17] DavidatorusF commented on #58
was nice displayed in HO (I don't know why, I start with dev r945 and when I click on changelog or update HO, top right 1435 dev r5 is displayed as you can see in the following screen)
![image](https://user-images.githubusercontent.com/45043004/51552019-06c11b80-1e70-11e9-90f8-6ce17743b8bb.png)

but when I check changelog on my browser with the last Dev r1013, "added" is different than the other (

[2019-01-22 19:36] akasolace commented on #58
@DavidatorusF thank you for the catch. I fixed it !

[2019-01-23 07:58] brokenelevator commented on #38
@mistermax80 I just skimmed through it because I had no doubts that it should do. But since you asked I gave it a second look and I think it will do.

[2019-01-23 11:03] akasolace opened #91 "[eFEAT] Create message box after update complete"
currently when user decide to update HO
 1. after download is finished, ho closes
 2. next click on ho, the update takes place (the user sees nothing he might think nothing is done)
 3. next launch, the new HO version is launched

It might be cleaner to have a pop up message at the end of step 2 saying the update is finished.
The alternate would be to launch HO just after the update is finished bu

[2019-01-23 11:34] brokenelevator commented on #91
@akasolace actually it is not how it works for me.

When I check for update there is the update/release notes window.
When I click yes, there is a progress bar. It sort of blinks(?) but it did for as long as I remember and I don't really care.
Then message shows up. 'to apply changes you need to restart ho' or something like that.
Then I restart and new HO shows.

I think it is fine.

I used beta

[2019-01-23 12:15] akasolace commented on #91
but normally you have to restart twice to make it work, correct ?

[2019-01-23 12:59] brokenelevator commented on #91
no. only once.
start -> seek updates and yes -> progress bar -> message -> manual (not auto) close -> manual start (updated)

[2019-01-23 13:10] akasolace commented on #91
ok then maybe it is a Windows only issue.
btw I just realized that out of 5 devs I am the only one on Windows.
@mistermax80  I think you have a Windows VM, could you check how it behaves for you?

Thank you

[2019-01-23 13:45] brokenelevator commented on #91
I guess I can somewhat confirm the issue. For Windows it goes like this:

start -> seek updates and yes -> progress bar -> message -> auto close -> nothing when I start manually (background update) -> manual start (updated)

I moved to Linux but that does not mean I have no longer access to Windows. I had dual-boot for a long time, it's the order that has changed.

Somehow I'm not surprised :)

[2019-01-25 13:01] brunoviananascimento opened #92 "[eBUG] Skills format in Squad screen"
**Describe the bug**
The skill number is wrongly formatted in the Squad screen, appearing like _130$00_, instead of _13.00_ or _13,00_, as it would be expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Windows locale and money formats related to Portuguese (Either Brazil or Portugal)
2. Go to 'Squad' tab, with Language set to **PortuguesBrasil** - Portuguese (Brazil)
3. See error

[2019-01-25 13:11] brunoviananascimento opened #93 "[eBUG] Money simbol taken from Windows configuration instead of Hattrick configuration"
**Describe the bug**
Salary wages/week are appearing with the money symbol configured in Windows instead to the one related to the Language associated to Hattrick.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Windows > Settings > Region and Language > Language adinistrative definitions > Formats > Advanced definitions > Money
2. Set Symbol to €.
3. Press OK.
4. Start HO with Languag

[2019-01-25 15:11] brokenelevator commented on #93
For now...I can confirm the bug exists on Windows 7.

[2019-01-25 15:15] brokenelevator commented on #92
The problem does not appear on Windows 7.
@akasolace what Windows version are you on?
Can anyone confirm this?

[2019-01-25 20:17] akasolace commented on #92
@brokenelevator  @brunoviananascimento
I made the test on Windows 10 and I do not have the problem.
@brunoviananascimento  are you sure you do not have some special settings. in region option, select Additional Settings and then reset, after that launch again HO and see i it fix the problem.
Also can you try with another languae settings like UK or US ?

[2019-01-25 20:22] akasolace commented on #93
@brokenelevator  @brunoviananascimento
I can also confirm this behavior, but for me it is not a bug.
It is standard to have language settings to be applied accross application.
For example, you can install Office application in one language but still the local are taken from system.
Maybe we can thing of having an option to take priority over system local but it is kind of unseen and I am not sure

[2019-01-25 22:15] mistermax80 commented on #38
@brokenelevator ok good!
When you know which data send and catch I will do some test to expose a webservice and java client!

[2019-01-26 11:10] brunoviananascimento commented on #92
Reset to original settings in Additional Settings as stated, did not work.
Changed HO internal language to English and no change at all. The bug still happens as the screenshots show.

But, when I set the format equal to the language settings (Portuguese (Brazil), I was using Portuguese, but original, as the keyboard format needed it), it worked perfectly. Not only formatted correctly, but used th

[2019-01-26 11:12] brunoviananascimento commented on #92
These tests were done on Windows 10, build 1803.

[2019-01-26 11:16] brunoviananascimento commented on #93
After changing settings for issue #92 , the money symbol also changed to the correct one.
So, I would say that whichever solution is applied to issue #92 should tackle this one too.

Recommendation: close this issue and answer all problems related to different language and money settings on issue #92 .

[2019-01-26 11:16] #93 closed

[2019-01-26 16:05] akasolace commented on #92
Does anyone else can reproduce this bug?

[2019-01-27 03:49] brokenelevator commented on #93
@akasolace while I don't disagree with taking system locales in other programs... here we have a different problem. The values are in the teams local currency and calculated as such. Taking system locale we reach a situation where a wage of 12k of national currency of the team is once shown as USD, once EUR, or GBP while the wage is in R$. Note that only the symbols change, not values.
I'm not sur

[2019-01-27 10:01] akasolace commented on #93
@brokenelevator  .... I thought it was a problem of formatting (local) i.e like '.' instead of ','.
After reading what you described here there is effectively a bug.

[2019-01-28 18:25] brokenelevator commented on #38
@mistermax80 well, that most likely gonna take some time. I will know exactly which data to send when the new features are done.

It would be best if you do some tests and tell me how **can** we send the data (XML? JSON? other?). Proof of concept, meaning java code that sends something to web service and receives a response. Dummy code that would be a stand-in for HO. Both following what I outline

[2019-02-10 04:59] mavino opened #96 "fails in running HO on macOS Sierra"
I download HO_1.436.2.1036 and when I try to open the HO java file I get this error:
[code]
And the software does not open

[2019-02-10 10:36] brokenelevator commented on #96
@mavino are you starting with a db present or without? there was a bug in 1036 that prevents creating new database. it has been fixed with latest [DEV](https://github.com/akasolace/HO/releases/tag/dev). please try it out.

[2019-02-11 11:36] akasolace commented on #96
@mavino, if you are using MacOS, you should use the dedicated build, not the zip folder.

[2019-02-12 12:54] mistermax80 opened #97 "[eBUG] Subskill recalculation not working"
**Describe the bug**
I did lost the decimal skill

**To Reproduce**
Steps to reproduce the behavior:
- I downloaded the team data
- even by function subskill recalculation

**Screenshots**
![decimali](https://user-images.githubusercontent.com/15519907/52636684-9b49f700-2ecd-11e9-83a7-f1256bb90aaf.PNG)

**Platform information:**
 - OS: [Windows]
 - Version 1.436 last before 11/02

[2019-02-12 16:35] akasolace commented on #97
anyone else experiencing that issue?

[2019-02-12 19:14] mistermax80 commented on #97
i sketched dB and I reimport all hefs... Now works... Could be something broken in dB...
@akasolace do you decide if you want close this issue

[2019-02-12 19:38] akasolace commented on #97
What you mean by that? Any idea what could have cause the dB corruption in first place ?

I suggest to keep the bug open for a while in case other user are facing it. Would be surprise if you are the onl one ...

[2019-02-12 19:44] mistermax80 commented on #97
😄 I removed DB.
I don't know, but I saved the db, we could analyze....

[2019-02-13 07:58] MagKekse opened #98 "[eBUG] No Authentification Code"
**Describe the bug**
If i would download my team data i need the authentification of HO, but the Button doesn´t work and there is no link for this code

**To Reproduce**
Steps to reproduce the behavior:
1. Open HO
2. push F11 on the keyboard to load the team data
3. now there comes the pop up window with the warning you need the authentification code.
4. But there is no link and the button doesn´t

[2019-02-13 11:39] yaute74 commented on #98
So you do a test after rename the 'db' folder ? What is your java version ?
I cannot do test on windows, @akasolace  do you reproduce ?

[2019-02-13 12:40] akasolace commented on #98
@yaute74 @MagKekse  I cannot reproduce.
@MagKekse  can you please do the following:
   1. Backup your db
   2. Update your java and download latest HO stable
   3. Launch HO and download your data
   4. restore your previous db

If step 3 is failing, can you please confirm  whether or not you are behind a firewall ?
Does HO crash or just hanging ? Can you also  share your log file ?

I can't see y

[2019-02-13 12:40] MagKekse commented on #98
Yes i make the test with the renamed db folder. The same thing.

My Java version - i hope i found the right - is Java 8 Update 201 / 8.0.2010.9

[2019-02-13 13:31] akasolace commented on #98
@MagKekse
1. Today if you install fresh 1.434, do you also have the issue ?
2. Can you upload again the screenshot ( I can't see them)
3. Does your computer behind a firewall know to refuse non https connexion ? As a test, can you try on another network ?

[2019-02-13 13:36] brokenelevator commented on #98
@akasolace bad links. try now.

[2019-02-13 15:06] mistermax80 commented on #86
Hi @brokenelevator, how are you?
I'm thinking how modify the coding in order to avoid to duplicate the same code parts.
I have some difficult undestand which way to take...
I try to explain by an example:
In both classes TransferEingabePanel and MiniScoutDialog there is the methods:
copyPaste
This method fill the player value and fill the value of the local attributes, so, the only Idea I had is,

[2019-02-13 15:50] yaute74 commented on #98
@akasolace  a screenshot is on the hattrick forum.
The URL filed is empty and I don't know how it's possible without exception (he has no error in the logs).

[2019-02-13 18:57] akasolace commented on #98
@MagKekse

On the screenshot on HT you are using an old version of HO.
Can you please try with latest version and confirm the bug.

[2019-02-13 22:04] mistermax80 commented on #49
@akasolace @brokenelevator @DavidatorusF @yaute74

					case LEAGUE:
					case CUP:
					case QUALIFICATION:
					case TOURNAMENTGROUP:
					case TOURNAMENTPLAYOFF:
					case FRIENDLYCUPRULES:
					case INTFRIENDLYCUPRULES:
					case FRIENDLYNORMAL:
					case INTFRIENDLYNORMAL:
					case MASTERS:
					case NATIONALFRIENDLY:
					case NONE:
					case NATIONALCOMPCUPRULES:
					case INTSPIEL:
					c

[2019-02-14 03:00] DavidatorusF commented on #49
as I know, it's like this

case LEAGUE: home 100% away 0%
case CUP: 2/3% 1/3%
case QUALIFICATION: 50% 50%
case TOURNAMENTGROUP: 0
case TOURNAMENTPLAYOFF: 0
case FRIENDLYCUPRULES: 50% 50%
case INTFRIENDLYCUPRULES: 50% 50% (away -6000€)
case FRIENDLYNORMAL: 50% 50%
case INTFRIENDLYNORMAL: 50% 50% (away -6000€)
case MASTERS: 50% 50%
case NATIONALFRIENDLY: 0
case NONE: 0
case NATIONALCOMPCUPRULES: 0
c

[2019-02-14 07:05] MagKekse commented on #98
@akasolace
I used the new version of HO.
I tried it with HO 1.434, HO 1.435 and HO 1.436 - in all this versions the same, i got no code or the button doesn´t work.

i deleted my old version of HO with all his components and install the new version.
every time i install a new version i don´t get the link and the button doesn´t work.

[2019-02-14 07:08] MagKekse commented on #98
[https://www.bilder-upload.eu/bild-0ee657-1550128001.png.html](url)
[https://www.bilder-upload.eu/bild-01a732-1550128030.png.html](url)
[https://www.bilder-upload.eu/bild-53faed-1550128049.png.html](url)
[https://www.bilder-upload.eu/bild-257320-1550128069.png.html](url)

[2019-02-14 07:14] MagKekse commented on #98
today i stop my anti virus to try it again.
i delet HO and install the new version HO 1.436 again. I tried to download my team data files but i get no authentification code and no link and the button doesn´t work.

i don´t understand this, a few days ago HO works perfekt. and after the crash nothing works.

[2019-02-14 07:28] akasolace commented on #98
@MagKekse it is really strange behavior.
I suggest you try again with the dev version (there are more logs for debugging) and check if relevant debug messages are dumped into the log file. If not we will produce a new dev with more logging activity around the authentification step to try to catch what is broken on your machine.

[2019-02-14 07:47] MagKekse commented on #98
where can i find the dev version?

[2019-02-14 09:32] MagKekse commented on #98
So, next try.
I delet java from my pc.
Next i download the new version of java from there homepage and install java.
After that, i install HO 1.437 DEV and start it.
i push F11 and it works !!!
i got the link and the button works - now i can download my team data from HT.

I have no idea what´s going wrong with my system but now it´s work!

Thanks for your help and your time to helping me!

[2019-02-14 11:23] yaute74 commented on #98
Good news, I close

[2019-02-14 11:23] #98 closed

[2019-02-17 08:44] mistermax80 commented on #96
@all
I tried the last 1.346, and It works.
There is not an bug...
I think we can close.

[2019-02-17 17:36] mavino commented on #96
How do you build? There are instructions to build?

[2019-02-17 17:37] mavino commented on #96
I don't know where to find 1.346, can you give me a link, please?

[2019-02-17 17:39] mavino commented on #96
I am starting without a db present...anyways I have tried your link (DEV) and I still get the same error

[2019-02-17 18:04] mavino commented on #96
Then I tried with a db present and still nothing working

[2019-02-17 18:17] mistermax80 commented on #96
@mavino try this https://github.com/akasolace/HO/releases/download/1.436/HO_1.436.2.1072_macOS.zip

[2019-02-17 18:22] mavino commented on #96
OK I downloaded it, unzipped and it appears the icon HO 2.
When I tried to open it it gives me still this error:
[code]

[2019-02-18 10:55] akasolace commented on #96
@brokenelevator it looks like the bug you closed with one of your latest commits. Was the commit also suppose to fix cases with corrupted db ?

@mavino I believe that you still have a db folder in your home directory. Do you have a lot of history?
Please copy it somewhere else and then remove all HO related files from your home/
In case, you can also update java.  After that launch again HO and it

[2019-02-18 11:28] mistermax80 commented on #96
@mavino

The HO 2 appears when you decompress zip in folder where there is an other file HO.

I suggest to:
1 - backup DB in other folder
2 - follow the Akasolace instructions
3 - remove all HO instances in application folder
4 - Clean download folder
5 - download file and decompress it
6 - Reinstall HO

[2019-02-18 16:22] brokenelevator commented on #96
@akasolace I know it does, that is why I suggested trying out DEV. It seems like a related problem.

Could be MacOS related but @mistermax80 has no bug.

Moreover, @mavino has the bug with or without database. There should be no bug without database because it was fixed, and there should be no bug with database because there never was a bug with database.

So...it may require some digging. See aft

[2019-02-18 16:50] mavino commented on #96
thanks a lot for helping me...
I wanna be sure I am talking your language: when you say database I always mean my hrf file I got from my other HO instance I have on another computer (a Microsoft computer where HO is successfully installed, however I need to get rid of this computer)...other than that I tried all the instructions suggested above by @akasolace and @mistermax80 but still nothing

[2019-02-18 17:10] brokenelevator commented on #96
@mavino No problem :)
When we (at least I) say database we mean the 4 files in db folder called database (or zipped backups).
It may make a significant difference if you think we mean hrf files.

@mistermax80 are MacOS hrf's any different than Windows/Linux?

[2019-02-18 17:20] mavino commented on #96
OK my hrf is coming again form a windows machine, it contains all the information about my team. It is created every time I open HO on my windows machine and I connected to Hattrick to update my team on HO on windows. Thus, I got that hrf file and put it on my mac, believing it was the 'database' some of you asked me to start HO on my mac with and believing it would have got all my hattrick team b

[2019-02-18 17:36] mavino commented on #96
OK I tried something else and not sure if correct since I am not an expert on computer:
I downloaded cradle after I git clone your GitHub HO,
than I ran gradle (trying to build it, I guess?!?)..
I got this error
[code]

[2019-02-18 17:39] brokenelevator commented on #96
ok...I hope we understand each other correctly. HRF file contains a team snapshot, team information at current time. Database contains all the HRF's and more. For now I won't go into details of how does the team download/update process work.

Adding HRF to clean HO should work, depending on are the HRF's different on MacOS or not. The result would be one week worth of data in HO.

Can you tell me

[2019-02-18 17:43] brokenelevator commented on #96
Well, you would have to slightly alter the build.gradle file for it to work. I could send you a custom one but I don't believe that it is gonna help. I mean it will help for building HO but not gonna solve your problem.

[2019-02-18 17:50] mavino commented on #96
OK I decompress the file HO_1.436.2.1072_macOS.zip in my folder Downloads where I have also the file hrf (and nothing else related to HO).
Then in the same folder it appears the icon HO which I click,
then I get:
[code]
I open it, and as soon as I do that I get this error (see screenshot):
<img width="968" alt="screen shot 2019-02-18 at 12 49 55 pm" src="https://user-images.githubusercontent.com/2

[2019-02-18 17:59] brokenelevator commented on #96
OK....interesting. It looks like the bug I mentioned earlier which got fixed already...or not as it seems even though @mistermax80 does not have it.

Can you get database from Windows machine?
remove db folder from MacOS (in the HO folder) and replace it with db folder from Windows machine. then try running HO again.

[2019-02-18 18:33] mavino commented on #96
Nothing still the same problem...see screenshot of my folder called db where I put inside the HO.app (even when the HO.app is outside of that db folder I get the same error..,.
<img width="675" alt="screen shot 2019-02-18 at 1 26 55 pm" src="https://user-images.githubusercontent.com/22825333/52970342-7ea43800-3381-11e9-8fb8-e6982bc198b2.png">

Regarding to running it on a command line, I could but

[2019-02-18 18:39] mavino commented on #96
OK I was able to open it from command line
[code]
and still same error, HO opens and right away shows the have error

[2019-02-18 20:03] mistermax80 commented on #96
@mavino
After the unzip to have to move HO in application folder.
Could you share screenshot of:
Application list, home folder?

@brokenelvator I shared the hrfs between win Linux Mac OS and I had not issue... IMHO are identical.

[2019-02-18 20:03] akasolace commented on #96
@mavino

Let me start again.
1) in your home folder (look on google if you don’t know what this is) backup the dB folder (without the ho app that you copied into and that should not be there)
2) backup your hrf files
3) delete ho app (all the one installed as you might have couples by now)
4) delete all files related to ho in your home folder
5) delete all ho related files that you might have on y

[2019-02-18 20:51] mavino commented on #96
I put in applications, db in home same error see screenshot
<img width="769" alt="screen shot 2019-02-18 at 3 49 52 pm" src="https://user-images.githubusercontent.com/22825333/52975833-034c8180-3395-11e9-815b-9b1fab5287e2.png">
<img width="768" alt="screen shot 2019-02-18 at 3 49 05 pm" src="https://user-images.githubusercontent.com/22825333/52975834-05aedb80-3395-11e9-868c-ff67fa8e0042.png">

[2019-02-18 20:52] mavino commented on #96
I followed all your steps, except Java which is 8 in my system, still got the same error

[2019-02-18 22:30] mistermax80 commented on #96
I would like to help... I think that you should install TeamViewer and give us the control of your Mac... I don't know how resolve the issue...

[2019-02-19 03:15] mavino commented on #96
@mistermax80 TeamViewer installed...let me know how to proceed...Thank you very much!

[2019-02-19 09:20] mistermax80 commented on #96
@akasolace @brokenelevator

If you have other ideas ok, else I don't know which other tries mavino can do.
Let me how I proced

[2019-02-19 11:51] brokenelevator commented on #96
@mistermax80 regardless of any new ideas I think it would be better to go with TeamViewer. It will clear misunderstandings and hopefully solve the problem or at least give us some new leads.

[2019-02-19 15:08] akasolace commented on #96
@mistermax80  I also think TeamViewer is a good option

I still think something is not done correctly on mavino side.  Having teamviewer you will see what is going on ... I am curious to hear more about it.

[2019-02-19 15:37] mavino commented on #96
OK thank you all about this.
I reside in Canada (Eastern side) and the time I could be available to do this is around 6-9 pm eastern time (or more flexible in weekends). Please, let me know when is good for you.

[2019-02-19 16:05] mistermax80 commented on #96
Hi all, and @mavino,

I think we could schedule on next weekend, you can refer to at Rome time, and I can say I preferer to do the tries on saturday 23Feb, more/less in night hours (00:00 - 02:00 italy time). what your time it will be? It will be ok for you?

Let me know.

[2019-02-19 22:02] mavino commented on #96
@mistermax80, I am afraid I might not make it around that time/date (sorry about it)...
precisely you are proposing between midnight and 2 am of Sunday, Feb 24 (the night of Saturday Feb 23).
Here in Canada is going to be around 6 and 8 pm of Saturday and I guess I might not be home. Do you have another day/time you can think of?
Thank you very much again.

[2019-02-19 22:51] mistermax80 commented on #96
Ok no problem, can you suggest some slot suitable for you on next weekend?
You will specify  Canada time / Italian time.

[2019-02-20 03:16] mavino commented on #96
@mistermax80 thanks a lot again...
would it be possible for you between 2pm and 4pm either this coming Saturday or Sunday (Italian time)?
Cheers

[2019-02-20 10:21] mistermax80 commented on #96
@mavino if you use Skype you can add me.
https://join.skype.com/invite/pZp8MKARRAuJ

[2019-02-21 18:49] chauriber opened #100 "[eFEAT] How to properly import training from previous version."
I've just imported old HRF files from 1.434 into 1.436 fresh install, and partial training are not shown (decimal skill level).

[2019-02-22 16:04] brokenelevator commented on #100
@chauriber wouldn't it be better if you used 1.434 database in 1.436?
Anyone correct me if I'm wrong but decimal skill levels are not in HRF's so can not be imported.
You could use `subskill recalculation` from `file` menu. I don't know how well it works but since you don't have the values anyway, it won't break anything.
You could also manually add them but the best would be to use old database.

[2019-02-22 19:28] akasolace commented on #100
fully agree with @brokenelevator

[2019-02-23 13:43] Paule22 opened #101 "Not all players available in lineup-dropdowns"
The dropdowns in the lineup-tool do not show all players.

HO 1.436.2.1064, Mac

[2019-02-23 18:59] mistermax80 commented on #101
I Will test... But are you sure it is not present filters in box fifth bottom?

[2019-02-24 00:49] chauriber commented on #100
Hi. I did a subskill recalculation with no luck. I'm very sorry if my request is misplaced, but I don't know how to import old database to 1.436. I believe I should copy old "db" folder to 1.436 root folder, and maybe some other files, but I don'k know. I did not find a wiki or something to follow. Sorry.

[2019-02-24 15:46] akasolace commented on #100
@chauriber,
Hello backup the dB folder and user.xml file.
Install latest version of HO. Make a first download check that all worked and close ho. The first download will create a new dB folder and new user xml file in the installation directory. Replace them with one zip saved when you backed it up. Open HO again and you should get all your old data. Download new team data again and you should be

[2019-02-24 17:13] Paule22 commented on #101
Oh my god. I'm so sorry!
I've overlooked the last filter (exclude last line-up).

SORRY!

[2019-02-24 19:54] mistermax80 commented on #101
Ok no problem!
Close Issue.

[2019-02-24 19:54] #101 closed

[2019-02-24 19:58] mistermax80 commented on #96
Hi all.
with Mavino I reinstalled the HO in mavino's Mac. I did an fresh install... And It's works.
The issue is facing if yuo use an db created in Windows.
For Mavino is ok close issue, he can use ho.
Must we guarantee the compatibility for reuse db created under other operative systems?
I don't know the impact.
Do you (Dev team) think about?

[2019-02-25 04:49] chauriber commented on #100
Thanks! I worked.

By the way, I've manually replaced special skill icons on HO.jar with the new ht icons (under /gui/bilder/spec1.png through spec8.png). I've been using those. It feels more modern ht. Just an opinion.
Cheers.

[2019-02-25 04:55] chauriber commented on #100
Should I keep old hrf files? I just want to start new version with accumulative decimal skill levels, and as I can see, it works fine.

[2019-02-25 13:32] brokenelevator commented on #100
I don't really pay attention to those but if more people share your opinion something could be done about this,

Well, that depends. I keep those, but that is personal preference.
I don't believe there is a reason to keep them if you keep your database safe and won't need to apply them somewhere else or what not.
So it is your choice. It is not like they take up much space anyway.

[2019-02-25 13:52] brokenelevator commented on #96
@mistermax80
As I understand HO works now, installed fresh, with no history.
Does @mavino need history or is fine with fresh install?

What happens when you use Windows database? The earlier mentioned error or something else?

I guess it would be nice to have a cross platform database but until now I have not encountered the problem. About 18 months ago I moved to Linux and for some time I was usi

[2019-02-25 14:03] mistermax80 commented on #96
@brokenelevator

For @mavino, he tolk me, it's fine with fresh install.
So, I didn't analysis more.
As possible, I will do a test on Macos with my "windows" DB.

Share your test.

[2019-02-25 14:13] brokenelevator commented on #96
@mistermax80 If he is fine with it then OK :)

Do it both ways if you can :)

It works both ways. Databases created with 2 HRF added.

[2019-02-25 16:26] mistermax80 commented on #96
I tried run HO on Win, with "Macos DB", It's works... but I notice (quickly) skill decimal lost and HO doesn't ricalulate the decimal.
I think that, in order to certificate the reuse the db in other different operative system, we should do more accurate tests.
As possibile, I will test (quickly) on Macos with my "windows" DB.

[2019-02-25 17:01] brokenelevator commented on #96
Interesting...
I redid the tests and Windows/Linux doesn't seem to have that problem. Decimals are present. Both ways.

As for `recalculate player skills`...something just dawned on me. HRF's are not enough for the recalculation. Relevant matches have to be downloaded. The function works.

[2019-02-27 09:08] #100 closed

[2019-02-28 10:08] crapmaster opened #102 "[eBUG] Starting 1.436 fails on linux"
**Describe the bug**
After installing the deb package on Linux Mint (probably same on all Ubuntu based systems) when trying to start HO I get:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Download deb package
2. Install deb package
3. run HO from terminal using /usr/bin/ho
4. See error

**Platform information:**
[code]

**Additional context**
N/A

**Workaround**
[code]

[2019-03-01 06:59] yaute74 commented on #102
I will install a Linux Mint to do some tests.

[2019-03-01 10:39] mistermax80 commented on #96
Hi @brokenelevator
I confirm work also under macos with "windows db".
I think there was something wrong in old Mavino's DB.

I can we can close the issues.
I will use the same db for win and macos, if it will get out some error I will open a new bugs...

Let me know how you want go ahaed.

[2019-03-01 14:41] brokenelevator commented on #96
@mistermax80 So it works. I don't think there is a point in pondering Mavino database. Especially since we don't even have it.
I'll close the issue. Reopen if there is a need.

[2019-03-01 14:41] #96 closed

[2019-03-01 15:42] mavino commented on #96
Thank you very much for all the help...

[2019-03-01 21:25] yaute74 commented on #102
update of ho.sh done

[2019-03-01 21:25] #102 closed

[2019-03-02 14:31] brokenelevator commented on #96
You are very welcome :)

[2019-03-02 20:19] akasolace commented on #100
@chauriber where did you get the new ht icons you are referring to ?

[2019-03-07 18:39] brokenelevator commented on #86
Hi, @mistermax80, I guess I manage, and you? :)
I was otherwise occupied and then forgot about this.

I guess this is an idea.
I don't think they actually need to be 'implements of the same interface' though. It is not like you can't use Math.abs not having common ancestor with Math class (not counting Object class).
Still, I'm not sure if it is a good idea. Which would call which? and would that

[2019-03-13 19:30] akasolace commented on #97
@mistermax80 should we close that issue or do you want to do some more digging first?

[2019-03-13 19:34] #58 closed

[2019-03-13 19:36] akasolace opened #103 "[RLS] 2.0"
**Tracking PRs and Issues**

[Open PRs](https://github.com/akasolace/HO/pulls?q=is%3Aopen+is%3Apr+milestone%3A2.0)
[Open Issues](https://github.com/akasolace/HO/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0)

** Release Process:**
 - [x] create release branch @akasolace
 - [x] update release note in [HO](src/main/resources/changelog.md) (up to date before BETA)
 - [x] terminate DEV Q&A, create 1st

[2019-03-13 19:55] akasolace commented on #103
Hello eveyone,

I suggest to only have #38 as requirement before releasing 2.0.  @brokenelevator and @mistermax80 have the lead on this one ... It is IMO the most exciting feature in HO for a very long time ... once implemented it will unlock a huge number of possibilities
I moved all other bugs into milestone "Contribution Welcome".  Myself and @yaute74 could pickup deals in there and will integr

[2019-03-13 21:06] akasolace commented on #49
@mistermax80  should I consider that issue close or are you intending to do some extra ?

[2019-03-13 21:14] akasolace commented on #44
@yaute74 I hope you are doing well.
In case you want to stay in touch with HO, I would suggest that bug to you.
Next release not expected before July so really no pressure here, I just want to make sure you stay active and we are not loosing you :-)

[2019-03-15 09:56] mistermax80 commented on #97
I agree to close.

[2019-03-15 10:04] mistermax80 commented on #49
@akasolace You can consider closed.

[2019-03-15 14:40] #49 closed

[2019-03-16 08:56] akasolace commented on #21
@DavidatorusF  I am almost done implementing this, but just to clarify:
Should those special settings apply to all non official game (e.g. ladder, tournament, single match, ....) ?

[2019-03-16 11:13] cr0ssw1nd opened #104 "[eBUG] Integrity constraint violation after db migration from v1.434 to v1.436"
After upgrading HO! from v1.434 to 1.436, while step "Initializing database", error occurs:

"Fatal database error. Exiting HO!
You should restore the db-folder from backup or delete that folder."

Steps to reproduce the behavior:
1. Preparation: Install HO! v1.436, copy db folder from the v1.434 location ("~/.hattrickorganizer") to the appropriate place in v1.436 ("~/.ho")
2. Start HO! v1.436, it

[2019-03-17 03:03] DavidatorusF commented on #21
ladder, tournament, single match... it's the same rules

that's the matches who SourceSystem=HTOIntegrated

[2019-03-17 21:06] akasolace commented on #38
@brokenelevator  @mistermax80
Guys, I just discovered we can fetch it via CHPP ... I just tested it and it works perfectly !!!

[2019-03-18 07:57] mistermax80 commented on #38
Hi @akasolace good news!!!
Could you share with us which api and with which params?

[2019-03-18 11:57] akasolace commented on #38
I see now the following steps:
     1) Adapt Lineup Tab to include extra subs
     2) In preferences add a checkbox like "Participate to Feedback feature"
     3) First Update after the training HO, to automatically run the feedback module (if user approved it):
              3.1) Download Feedback query (from Github? mistermax server?)
              3.2) Get the predictions according to query par

[2019-03-19 08:13] akasolace opened #105 "[eFEAT] Implement support for extra subs"
- [x]  1. introduce new subs in lineup tab + update GUI for better display
- [x]  2. fix lineup assistant to handle extra subs
- [x]  3. fix download lineup from match tabs
- [x]  4. update chpp file version of matchorders
- [ ]  5. fix upload lineup with new chpp version [requires CHPP fix from HT devs]
- [x]  6. fix download lineup with new chpp version
- [x]  7. remove swap button for subs2 as

[2019-03-19 22:24] Synthespian commented on #65
Confirmed.  The above does solve the issue for me.
For the record, the application was not scaling even if I put it on a smaller resolution monitor.

[2019-03-19 23:21] akasolace commented on #65
@Synthespian ok thank you for the feedback.
Hence, we can easily fix this via launch script by passing the appropriate parameter to javaw

[2019-03-20 16:27] brokenelevator commented on #38
@akasolace I believe you told me it is not possible when I asked some time ago if there is a CHPP possibility.
Great news, nonetheless :)

I think it is fine. I can do/help with all if it does not concern data crunching (creating the formulas).
From what I see step 1 is already under way. I could do it/help, we can discuss that.

[2019-03-20 16:33] brokenelevator commented on #104
@akasolace are you the 'you' cr0ssw1nd is refering to? Because I could take care of it but probably need the database to reproduce the issue.

[2019-03-21 07:37] akasolace commented on #38
@brokenelevator indeed, I thought it was not possible
Update:
step 1 => on going, I am taking care of this one (see #105)

[2019-03-21 07:43] akasolace commented on #105
I have done step 1 and 2. Still a lot of things are broken but I will do a first commit as there is alreday a lot of code change. Otherwise future mere could be very complex.

[2019-03-21 07:45] akasolace commented on #104
@brokenelevator, yes I will share with you the database
I need first to have an updated download link.

[2019-03-21 10:21] akasolace opened #106 "[eFEAT] upgrade SDK to OpenJDK 14"
Due to approaching EOL of java 8, it is time to upgrade to JDK 11 (LTS)

https://stackoverflow.com/questions/27861658/how-specify-the-required-java-version-in-a-gradle-build

[2019-03-21 10:24] akasolace commented on #21
According to @DavidatorusF, this commit broke the mathes Analyser.
@DavidatorusF, could you tell me how to reproduce that bug? Is it affecting all game or simply tournament game? Thank you

[2019-03-21 10:26] akasolace commented on #44
I guess the difficulty might be to handle game since last training as it differs per region.
I am not sure if this information is already available in HO and what is available though CHPP....

[2019-03-21 13:43] DavidatorusF commented on #21
with the same db:
on HO_1.437.0.1058, I can open matches analyser
on HO_2.0.0.1075 I get:

java.lang.ArrayIndexOutOfBoundsException: 18
	at module.matchesanalyzer.data.MatchesAnalyzerMatch.<init>(MatchesAnalyzerMatch.java:70)
	at module.matchesanalyzer.data.MatchesAnalyzerTeam.loadMatches(MatchesAnalyzerTeam.java:99)
	at module.matchesanalyzer.data.MatchesAnalyzerTeam.getMatches(MatchesAnalyzerTea

[2019-03-21 13:52] DavidatorusF commented on #21
**Log from HO_1.437.0.1058**

14:46:24 [Info]    core.gui.HOMainFrame: This is HO! version 1.437 DEV (r1058), have fun!
14:46:24 [Info]    core.gui.HOMainFrame: Operating system found: Linux on amd64 (4.4.0-66-generic)
14:46:24 [Info]    core.gui.HOMainFrame: Using java: 1.8.0_191 (Oracle Corporation)

**Log from HO_2.0.0.1075**

14:50:25 [Info]    core.db.DBUpdater: Development update done, setti

[2019-03-21 14:06] akasolace commented on #21
@brokenelevator ok pretty clear :-)
I will take care of that one

[2019-03-21 21:58] Synthespian opened #107 "[eBUG] NT hrf file invalid"
**Describe the bug**
As described on the forum, it is possible to activate the ntHRF module.  It is possible to download an NT hrf file.
Then the idea is to be able to load the hrf file into the database.
Statement suggests it's only compatible with v1.432

**To Reproduce**
Steps to reproduce the behavior:
1. Enable module.  File > Preferences > Modules > Activate NThrf & Restart
2. Create new db

[2019-03-21 22:01] Synthespian commented on #107
Splitting "playingmatch=truecash=0" line to two lines still does not load and is corrupt.

[2019-03-22 15:10] akasolace opened #108 "[eFEAT] improve NT HRF module"
linked to bug:  #107
the idea is tp improve NT HRF module to allow user 2 have database and a single HO install.
Get more information from @Synthespian and or from @DavidatorusF

[2019-03-22 20:39] DavidatorusF commented on #107
not sure use use our own HO for NT is nice

own HO is for life, NTHO is just for a moment

[2019-03-23 16:16] brokenelevator commented on #106
It may be a stupid question but is there anything we need to do?
I'm running OpenJDK.

[2019-03-23 16:48] brokenelevator commented on #44
What if we just add 'week start' information to leagues(countries) table? I think my updates are Friday after 2 AM. If we gather all the times/dates we can just count if player played a (relevant) game (and position) since last 'week start'. We can even show what effectiveness (full/half/whatnot) and what position/skill.

I don't think the information is available in HO and don't know if it is in

[2019-03-23 16:53] Synthespian commented on #107
Additional info ... downloaded an hrf from the nt tracker portal and that successfully loaded into HO, with a wierd -1 trainer, but they're in.  So, nothing wrong with getting NT players in, just the format of the hrf downloaded.

[2019-03-24 13:29] akasolace commented on #106
there are some depraction warnings, so the code will have to be adjusted somehow
However, I am not sure of the required efforts. We'll see in time

[2019-03-24 19:27] akasolace commented on #44
@brokenelevator I was thinking it might be saved in the database because in my memory HO was increasing decimal of trained skills, however when I just checked I realized I have lost all my decimal information just as @mistermax80  reported a while ago.

[2019-03-24 19:34] akasolace commented on #44
@brokenelevator otherwise I just checked and that information is available via CHPP

[code]

[2019-03-24 19:39] akasolace commented on #44
@brokenelevator in HO the info is in table XTRADATA
column TRAINING DATE

[2019-03-24 19:40] akasolace commented on #44
but I also just notice my table TRAINING is empty
I guess it a bug ..

[2019-03-25 11:23] mistermax80 opened #109 "[eBUG] Missing Income for some tournament type"
**Describe the bug**
In the stats tab, doesn't showed the income value, in case of some tournament type

**Screenshots**
![Cattura2](https://user-images.githubusercontent.com/15519907/54916040-db52bf80-4ef8-11e9-95b9-a1a0ed5c2764.PNG)

**Platform information:**
 - OS: all
 - Version 2 r1075

[2019-03-26 12:28] brokenelevator commented on #44
It appears that we have the data so this should not be much of a problem to show the information in advance.

About the sub skills they must be retained somewhere.
I have sub skills. Both in HO and DB.
In `SPIELER` under `SUBTORWART`, `SUBVERTEIDIGUNG`, `SUBSPIELAUFBAU`, `SUBFLUEGEL`, `SUBTORSCHUSS`, `SUBPASSPIEL` and `SUBSTANDARDS`.

Mine is not, but the data is old... last entry is from around A

[2019-03-26 15:35] akasolace commented on #97
I am now having the same issue in my development branch ... I have lost all the decimals after file update.

[2019-03-27 08:19] akasolace commented on #104
root error of database corruption was not found, the database was manually fixed by @brokenelevator
it could be linked to a rare event of shutdown compact signal launched while duplicated indices existed.
in the process of investigating the error some sql fixes were made by brokenelevator and the duplicated indices were removed

[2019-03-27 08:19] #104 closed

[2019-04-04 13:47] akasolace opened #110 "[eFEAT] Improvement to prediction rating in lineup tab"
2 different improvement to be tackle, those can be solved as 1 or 2 separated commits

1) **mandatory** make sure button clickable only if lineup has been set for selected match
2) **try** to add a semi-transparent withe layer on the field picture to see if it improves visibility of displayed statistics

[2019-04-05 19:57] yaute74 commented on #44
@akasolace ok I will study it next week

[2019-04-05 21:51] akasolace commented on #44
@yaute74 ok cool .. nice to have you back !

[2019-04-06 13:01] #110 closed

[2019-04-06 21:42] #21 closed

[2019-04-15 21:37] akasolace opened #111 "[eFEAT] verify if/how positive/bad weather events are considered in prediction rating"
verify if/how positive/bad weather events are considered in prediction rating. They are surely not in line with the latest reform

[2019-04-16 07:25] mistermax80 commented on #111
@akasolace  I could wrong, but I remember in line up, relation to weater apperar these icons.
![Cattura1](https://user-images.githubusercontent.com/15519907/56189944-771fa900-6029-11e9-93ba-d1b3f2a6001a.PNG)
![Uploading Cattura3.PNG…]()

[2019-04-16 12:02] akasolace commented on #111
@mistermax80 you are right

[2019-04-16 12:09] akasolace commented on #105
currently on hold until fixes are made on CHPP side

[2019-04-16 12:15] akasolace opened #112 "[eFEAT] improve fomula for player contribution (to compare player position by position)"
At the moment,
HO formula are no longer pertinent when it comes to compare:
     - player: position per position
     - position: plyer by player

[2019-04-23 17:19] akasolace opened #113 "[eBUG] change age display in squad tab"
**Describe the bug**
currently a player of 17y and 7day is displayed as 17.7
wherea a player of 17y and 100 days is displayed as 17.100

it should either be real decimal or a clear display of years and days

[2019-04-25 01:11] brokenelevator commented on #113
I don't believe it to be a bug. I think format years.days is pretty clear and real decimal would be unnecessary obfuscation.
What would be clear display for you?

[2019-04-25 11:31] yaute74 opened #114 "[eBUG] Freeze after click on 'Player Analysis' tab"
**Describe the bug**
Freeze after click on 'Player Analysis' tab

**To Reproduce**
Click on tab

**Screenshots**

**Platform information:**
 - OS: Linux
 - Version Dev

**Additional context**
In MatchLineupPlayerTable.java don't use byte because IMatchRoleID. could be greater than 127

[2019-04-25 12:03] akasolace commented on #114
I introduced that bug with support for extra lineup.
I guess it might be already closed in my local branch if not I will tackle it later on ...

[2019-04-25 12:08] akasolace commented on #113
funny because to me always found this really confusing.
either true decimal or something like in HT: 17y 50d

[2019-04-27 11:48] brokenelevator commented on #113
I guess to each their own.

Like I mentioned true decimal would be useless. You wouldn't be able to
find the days without calculator. Unless you can multiply by 112 in your
head, which most people don't.

As for other ways:
17y 50d - Would take more space and is language dependent. On the opposite
side it is clear as a day, for most people.
17(50) - No really clearer then 17.50, other than people

[2019-04-27 17:37] akasolace opened #115 "[eBUG] Donwload lineup broken"
Clearly link to introduction of minute based ratings and extra subs.
I will fix it but I put here for keeping it in mind

[2019-04-28 18:48] akasolace opened #116 "[eBUG] DB: constraint violation: XTRADATA column: CURRENCYNAME"
HO still launch but the following is logged:

JDBCAdapter: JDBCAdapter.executeUpdate : java.sql.SQLIntegrityConstraintViolationException: integrity constraint violation: NOT NULL check constraint; SYS_CT_10855 table: XTRADATA column: CURRENCYNAME
Statement: INSERT INTO XTRADATA ( HRF_ID , CurrencyRate, HasPromoted , LogoURL , SeriesMatchDate ,TrainingDate, EconomyDate, LeagueLevelUnitID ) VALUES(9

[2019-04-28 21:44] #115 closed

[2019-04-29 08:36] imikacic commented on #113
I would prefer 17(50) over 17.50 or 17y 50d

P.S. Hello, just lurking around

[2019-04-29 09:48] akasolace commented on #113
Personally I would prefer `17y 50d` but I could live with `17(50)` but thank you for the input @imikacic

[2019-04-29 11:16] brokenelevator commented on #116
Do you have an updated database?
In 'updateDBv23' CURRENCYNAME is dropped so this problem should not appear.

[2019-04-29 12:26] akasolace commented on #116
I had this message when running DEV version, I will double check

[2019-04-30 13:01] yaute74 commented on #113
I aslo prefer the 17 (50). Hattrick use it player table:
![screenshot](https://user-images.githubusercontent.com/34601782/56963229-c3ee9e00-6b58-11e9-95e8-779817a90f1f.png)

[2019-04-30 13:17] yaute74 commented on #84
I can work on it.
Do we change the current logo? Because it's old-fashioned.
You can create logos and do a survey on the hattrick forum.

[2019-04-30 14:15] akasolace commented on #113
@yaute74  I haven't noticed that it is how HT displays it ... so it clear this is the one we should adopt

[2019-04-30 14:20] akasolace commented on #84
@yaute74   ok great!
Yes new logo would be very nice.
Do you fell like asking it on HT forum? Otherwise we go for  it ourselves, plenty of free logo generators those days. We can also do both: ask for contribution and meanwhile give a try ourself.

[2019-04-30 14:23] akasolace commented on #39
As been implemented as part of minute based rating feature.
I will wait for feedback and validation before closing the issue.

[2019-04-30 14:25] akasolace commented on #27
Part 1: @akasolace  derive formula and code refactoring => 99% complete
Part 2: @brokenelevator leverage part 1 features via GUIs  => WIP

[2019-04-30 14:26] akasolace commented on #40
Done as part of minute based rating implementation
Waiting for feedback and validation before closing the issue

[2019-04-30 18:20] akasolace commented on #84
@yaute74 I had a look on the dedicated forum and indeed it might worth to seek for contributions.
On a side note the HT user guvidex who made some very nice logo already accepted to help. You might also reach out to him if you want

[2019-04-30 19:28] yaute74 commented on #84
Where is the dedicated forum ? [post=17237456.567] ?
You already contact him ?
I think we can ask and try ourself and after do a survey if necessary

When we talked about it, I made two of them:
![logo1b](https://user-images.githubusercontent.com/34601782/56987805-bce28280-6b8e-11e9-8109-f1ebd695df8f.png)  ![logo2b](https://user-images.githubusercontent.com/34601782/56987811-bfdd7300-6b8e-11e9-993

[2019-05-01 06:50] akasolace commented on #84
@yaute74

yes

yes

Agreed

I will also git it a try but I am very bad at it...

[2019-05-01 07:00] akasolace commented on #44
I will wait for extra testing and feedback [  @DavidatorusF :-) ] before closing the issue.

[2019-05-01 15:13] akasolace commented on #44
@yaute74 I merged your pull request, I updated from previous dev version to latest one and I got the following error on Launch

[code]

[2019-05-01 15:29] akasolace commented on #44
@yaute74
If I delete db folder and launch new version I have no error message but I can't see the new functionality neither ...

[2019-05-01 19:35] #113 closed

[2019-05-01 19:37] akasolace commented on #112
This one is quite heavy and might be pushed to version 3.0 as it is not directly dependant of minute base rating implementation

[2019-05-01 19:46] yaute74 commented on #44
@akasolace

Yes I made additional test the update is not working
to reproduce: from 1.436 -> update dev channel -> launch HO (error message above is displayed)

What do you have in the table XTRADATA for the field TRAININGDATE (for the last HRF) ?
On my side I have not this exception and the date in the table is correct.

But when I do the update on linux (with channel update) I have this error:

[2019-05-01 20:28] #114 closed

[2019-05-01 20:33] DavidatorusF commented on #44
quick check
tested from the last dev HO2 1075 updated to 1088

![image](https://user-images.githubusercontent.com/45043004/57039985-72303b80-6c5e-11e9-8396-3ce7966d57ba.png)
substitutes is not translated -> poeditor
first row of substitutes : I can't select the same player for different places
second row : good job, work like a charm

notice : was noticed a long time ago... in the right corner, fo

[2019-05-01 20:39] akasolace commented on #44
@DavidatorusF  is it working for you with update or only with fresh install ?
@yaute74 update is still not working for me with your latest PR

i.e to reproduce, copy db folder to HO2 1088 and launch HO

[code]

[2019-05-01 20:48] akasolace commented on #44
yes normal translations are lagging

arf: it was also the behaviour in previous HO version but it was already incorrect  (bug 1)

at least a good news ! :-)

I guess you mean style de jeu but I got it yes ..   (bug 2)

I just fixed this one but havent released it yet  (it was bug #114)

@DavidatorusF  can you open 2 differents bugs ticket for the 2 bugs you reported ?
after that I will delete thos

[2019-05-01 20:50] DavidatorusF commented on #44
@akasolace tested from the last dev HO2 1075 updated to 1088

no time for test with fresh install or fresh install with old db right now

at restart, seem I have broke my db
I get a warning to update to 1431 ???
![image](https://user-images.githubusercontent.com/45043004/57041199-f46e2f00-6c61-11e9-90a5-394cfeaedab9.png)

[2019-05-01 20:56] DavidatorusF commented on #44
got my db back... using the forlast one

import my hrf from today... all player are marked null in squad ???

restart HO, my last hrf is take in count as well (it seem)

I go to bed... I will try to do what I can in the next days

[2019-05-01 20:59] akasolace commented on #44
@yaute74 @DavidatorusF  yes something wrong here

if I summarize

- upgrade DEV -> DEV : works once but corrupt database crash on next restart (tester Davidatorus)
- upgrade stable-> DEV : crash with error message as shown above (tester Akasolace)
- using new from zip -> works well

@yaute74  we dont really care about the path DEV->DEV so we should not worry about this one  but we should fix stabl

[2019-05-01 21:02] akasolace commented on #44
@DavidatorusF,  I will wait we got this bug closed before building new artefacts.  Until it is done you can open the 2 bugs you reported. Cheers

[2019-05-01 21:04] DavidatorusF commented on #44
upgrade DEV -> DEV : works once but corrupt database crash on next restart (tester Davidatorus)

no... player analysis breack HO then the db

without use player analysis, restart work well

[2019-05-01 21:11] DavidatorusF opened #119 "[eBUG] neutral translation for style of play"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'lineup tab', look at style of play up right windows, you will see "Neutral" by default and not the translation
2. Click on 'Neutral', you will see the word translated
3. Once the word selected, display is nice... till the next HO restart

[2019-05-01 21:15] DavidatorusF opened #120 "[eBUG] first row of substitutes on DEV"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'DEV HO2 r1088'
2. Click on 'lineup'
3. Scroll down to 'first row of substitutes'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/57039985-72303b80-6c5e-11e9-8396-3ce7966d57ba.png)
substitutes is not translated -> poeditor
fi

[2019-05-01 21:18] yaute74 commented on #44
@akasolace my PR was not for your problem (sorry if it was not explicit).

For your problem it's a problem in your table XTRADATA field TRAININGDATE
What do you have inside ?

[2019-05-01 21:21] yaute74 commented on #44
@DavidatorusF can you share the database with the problem ?

[2019-05-01 21:27] DavidatorusF commented on #44
@yaute74 look at your HT-Mail

[2019-05-02 06:23] akasolace commented on #44
ah ok sorry I misread then. I will check tonight but I believe I might have an issue with that field because as I already reported in my HO I do not have anymore the decimal for my trained player so it might be linked.

[2019-05-02 16:25] #119 closed

[2019-05-02 17:11] akasolace commented on #44
@yaute74
XTRADATA field TRAININGDATE: last value 01.02.2019 !

[2019-05-02 17:37] akasolace commented on #44
@yaute74 @brokenelevator
ok so I think I fixed it and by the way 2 others related bugs.
I will push later

[2019-05-02 18:33] yaute74 commented on #44
I will push later

@akasolace  Great  :)

@DavidatorusF  HO start correctly with your database.
The message "DB is too old. Please update first to HO 1.431" is hard-coded. I think it happened when it cannot get the dbversion so it set version to 0 and display this message.
Do you have the logs corresponding to the message ? or try to reproduce and send the logs ?

I think we can change the message

[2019-05-02 20:14] yaute74 commented on #84
I do the request on hattrick forum: [post=17237456.582]

[2019-05-02 20:51] akasolace commented on #44
Something like 'Cannot get dbversion. Do a backup of your log and open an issue. You can try to restart..." or somthing else, what do you think @akasolace ?

Yes agree the message is currently misleading. A different error message would be more appropriate.

[2019-05-02 20:53] akasolace commented on #44
so I fixed so far 3 bugs, now I have my training history which is correct in my db but still no subskills, the calculate subskills does not work for me. Never tried it before. Is it working for you or was it also another known bug ?

[2019-05-02 21:12] akasolace commented on #116
closed by ef27789

[2019-05-02 21:12] #116 closed

[2019-05-02 21:13] akasolace commented on #44
the bug I experienced was closed by ef27789

[2019-05-02 21:13] #44 closed

[2019-05-02 21:16] akasolace commented on #97
I found that the problem for me was following upgrade 1.436 Beta -> 1.436 Stable the training date were not saved anymore in the database. I closed that bug with ef27789 .
However, subskill recalculation is still not working for me but I never tried it before. Does someone else experince the same bug ?

[2019-05-02 23:33] DavidatorusF opened #121 "[eBUG] hatstats loddarstats"
**Describe the bug**
hatstats loddarstats are set to "0"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'DEV'
2. Click on 'lineup'
3. Go to windows, up right
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/57113096-43d85c00-6d43-11e9-9ace-4086a170b0fa.png)

**Platform information:**
 - OS: Ubuntu 16.04

[2019-05-03 06:21] akasolace commented on #27
next steps:
  - [] reintroduce hatstats and loddarstats values (currently set to "0")  (it will default to t=0 for consistency)
  - [] introduce 90 minute average in ratings
  - [] should we default to t=0 or t=90 ?   (this will change anyway when @brokenelevator works on GUI)

[2019-05-03 06:31] akasolace commented on #39
now listed as next steps in #27

[2019-05-03 06:31] #39 closed

[2019-05-03 06:33] akasolace commented on #40
now part of #27

[2019-05-03 06:33] #40 closed

[2019-05-03 07:03] akasolace commented on #84
I just saw it ... perfect now lets hope we will have some nice contribution

[2019-05-03 12:31] yaute74 commented on #84
@akasolace I wanted to do it after, but maybe it's a bad idea. I wanted it to match the logo we would have chosen.
I create 4 more logos and I receive 3 from contributor :)
I wait your logo :p

[2019-05-03 12:33] yaute74 commented on #44
@akasolace  I will check tonight. I don't check it each week on dev version.

[2019-05-03 12:46] akasolace commented on #38
@mistermax80 @brokenelevator This is an update of the implementation discussed in Slack
@yaute74 @DavidatorusF This is for your information in case you have remarks

So still quite a lot of work before finishing that new feature. Let see who does what ...

**Proposed implementations**

- [ ] In preference tabs add a section  “participate to feedback”, it will be checked in by default but a user mi

[2019-05-03 12:52] akasolace commented on #84
cool !

not sure where to start but I will give it a try

[2019-05-03 12:53] yaute74 commented on #44
@akasolace I think it's not necessary to do something because if you set correctly your training it will create new lines, each week, with the same training. Just add a warning in the changelog to inform users that it must set correctly ?

[2019-05-03 13:07] akasolace commented on #44
in that case should we not put somewhere in the lineup the training assumption, either "Playmaking 100% (10% Stamina)" or "Future training plan not set". Don't you think it would be better?
If we think it would be a nice addition but it involves too much work we can also open a ticket without milestone and leave it open for the future ...

[2019-05-03 18:27] DavidatorusF commented on #120
first row of substitutes
I don't think it's needed to see the players already on the field in the list

[2019-05-03 18:41] yaute74 commented on #44
@akasolace in the lineup the blue frame I add indicate the future training position. We can also add text

[2019-05-04 13:47] akasolace commented on #120
@DavidatorusF I would like to replicate HT behaviour ...

[2019-05-04 15:02] #120 closed

[2019-05-05 22:44] #111 closed

[2019-05-06 06:40] akasolace commented on #27
now weather impacts are considered in prediction ratings

[2019-05-06 19:53] akasolace commented on #84
@yaute74  the logos are not yet on your orange website ?
maybe you can also request some participation directly on HO forum ....

[2019-05-07 02:56] mistermax80 commented on #84
I can also on Italian HT forum... In logos section... Let me know...

[2019-05-07 13:42] yaute74 commented on #84
@akasolace no I will add them when I do the survey. Actually we have 17 logos.
@mistermax80 as you want :-)  (we have already an Italian logo!)
I think I will do the survey before weekend

[2019-05-07 15:32] akasolace commented on #84
Ok great, maybe you could put an update on forum to give those info and tell people few days left to participate!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 19:16] yaute74 commented on #84
@akasolace done

[2019-05-08 10:42] mistermax80 commented on #44
Hi @yaute74 ,
I would like to know also the players who playing in week in position not trained.

[2019-05-08 18:58] yaute74 commented on #44
@mistermax80 it's what I do at start but I change it because it was not the goal this issue (look on slack the discussion) but of course we can implement it. I think it will be better to create a new issue and w can treat it when training view work fine.

[2019-05-10 11:02] yaute74 opened #123 "[eFEAT] refactor match highlight event type"
Actually event type is separate in type and sub type but it's no logical.
type is the hundred of the value
sub type is the rest

Example of event type started by 5:

All this event have the type!
A better way is to define all event in interface and create method for all case we use

[2019-05-10 11:05] akasolace commented on #123
I never looked at that part. For the rest of CHPP it is indeed how it is done.

[2019-05-10 11:16] yaute74 commented on #123
we have this

[2019-05-10 11:19] yaute74 opened #124 "[eFEAT] Sort by training preview"
Could be great to sort table by training preview  (issue #44)

[2019-05-10 11:22] yaute74 opened #125 "[eFEAT] Add stamina training like training preview"
Add stamina training (futur and done) like training preview (issue #44)

[2019-05-10 11:38] akasolace commented on #124
you would do that by adding a column to the table ?

[2019-05-10 12:22] yaute74 commented on #124
I don't know, new column, popup menu, button in header.

[2019-05-10 14:54] akasolace opened #126 "[eFEAT] In Lineup Tab: only show players lastname"
In Lineup Tab, only show players lastname to improve lisibility (also HT behaviour)

[2019-05-10 19:44] yaute74 opened #127 "[eBUG] Training and Training preview problem with red cards"
Player having red card get full training

[2019-05-10 21:34] #127 closed

[2019-05-12 10:57] brokenelevator commented on #123
@yaute74 I'm not sure what you mean. Have you checked IMatchHighlight class?

[2019-05-12 18:34] yaute74 commented on #123
@brokenelevator Maybe I am wrong. What a analyze:
- we get the highlights events in method XMLMatchdetailsParser:readHighlights
- the events id is separate in type and sube typ.
- events in the same hundred have the same type
- so Match started (598) and Red card (514) have the same type 5
- if we look in class IMatchHighlight type 5 is HIGHLIGHT_KARTEN
- so for me it's not logical

What I want to

[2019-05-13 10:43] yaute74 commented on #124
@akasolace  do you think something like this:
![image](https://user-images.githubusercontent.com/34601782/57615463-0910c800-757c-11e9-8769-08fa07491185.png)

With: training (estimate training)
And color depending 50%/100% position: color green/greelight (black/grey)
But I am not satisfied with the rendering, the color is not very visible

Question if we do that:
- column in which position ? last a

[2019-05-13 12:33] akasolace commented on #124
Hello @yaute74
  I would rather stick with what you did initially.
Hence, I suggest,  we add a very thin column on the left where we have the training indicator (i.e. the green bar, would be in that new column instead of the player name column). We could sort by training in clicking on that new column header.
I would keep the infobull and we might add a new info bull for the column header.

What d

[2019-05-13 21:02] yaute74 commented on #124
@akasolace I will check this solution

[2019-05-14 17:05] brokenelevator commented on #123
So what you want to do is to change all the fields there to full names and full values?
I suppose if the split is not rooted somewhere in code I'm fine with that. It may be somewhat clearer.
You could translate those while you are at it.

I'm not sure if the code example is the best idea...but without context can't think of a better one. Still if one would exchange codes for names it might be nice

[2019-05-14 18:56] yaute74 commented on #123
@brokenelevator

yes it's the goal

why ?

This example is to replace this code:
`else if ((hls.get(i).getHighlightTyp() == IMatchHighlight.HIGHLIGHT_KARTEN)
					&& (hls.get(i).getHighlightSubTyp() == IMatchHighlight.HIGHLIGHT_SUB_ROT
					|| hls.get(i).getHighlightSubTyp() == IMatchHighlight.HIGHLIGHT_SUB_GELB_ROT_HARTER_EINSATZ
					|| hls.get(i).getHighlightSubTyp() == IMatchHighlight.HIGHLIGH

[2019-05-15 11:38] akasolace commented on #123
@yaute74
I think @brokenelevator suggested to have something as follow for better lisibility:

public static boolean isRedCard(int evtId) {
if (evtId == IMatchHighlight.RedCard || evtId == 2YellowCards ) {
return true;
}
return false;
}

[2019-05-15 11:52] akasolace commented on #38
@brokenelevator @yaute74

By end of May, we need to assess the progress made and decide to:
    - finalize the feature depending whether or not @Mistermax is available before 2.0
    - push incomplete feature as part of 2.0
    - remove @mistermax80 commits on that feature and think of a new approach/server for 3.0

to be discussed.

[2019-05-15 15:20] yaute74 commented on #123
@akasolace if you speak about the number, of course it was just for the example

[2019-05-15 17:46] akasolace commented on #123
@yaute74 ah ok perfect then :-)

[2019-05-15 17:59] #126 closed

[2019-05-16 05:25] brokenelevator commented on #123
Like @akasolace said,  better visibility by using the names but I see it was just for example. I was also thinking or making it even better by making less operations but I can't think of how to do that.

[2019-05-16 06:15] yaute74 commented on #38
I'm sorry I didn't follow this change very closely. Why think of a new approach ?

[2019-05-16 06:53] akasolace commented on #38
@yaute74 the formulation was not good, by new approach I actually meant new server.

[2019-05-16 10:24] yaute74 commented on #38
I think if it's not finalize it must be not visible by the user but we can keep commits.

[2019-05-16 12:22] akasolace commented on #38
@yaute74 I don't realike like to let unfinish work in stable branch. However I would reapply the commit for 3.0 hence work is not lost ...

[2019-05-16 18:02] akasolace commented on #38
@yaute74  @brokenelevator @mistermax80
I would like to have your thoughts on the implementation. I see it 2 ways:
Approach 1)
We add a button within Lineup tab:
![image](https://user-images.githubusercontent.com/1136496/57876306-5491d300-7815-11e9-9ac6-5622b3e10a2d.png)

when clicked it would open a floating window

Approach 2)
New tools such as `Evil card` or `Best/Worst team` . Via preference th

[2019-05-17 18:41] akasolace commented on #84
@hello Yaute
I had to do a small change in build.graddle to make it work. I am not sure how it was working for you before, hence I will wait that you confirm me that it is all good also on Linux and then you can close the issue. Thank you for the nice PR !!

[2019-05-18 06:27] mistermax80 commented on #38
Imho... Approach 1 with the button visibility manage via preference tab...
I this weeks Im busy... And I can be more busy at work... So I would support you with correction bug on feedback plugin client side and server side.
And... I don't understand with 'new approach/server' what do you mean?

[2019-05-18 12:29] brokenelevator commented on #38
I guess it should not lessen participation. I mean if someone wants to do that he/she will anyway.
I don't know if tab will be better then button. If the tab will be auto-started it should not make much difference. The button may also just switch to a tab. The options are endless. I think we should foremost think about UX (user experience), where it would be better located: tab or (pop up) window.

[2019-05-18 19:28] yaute74 commented on #84
@akasolace hello, ok but I cannot test this week.

[2019-05-23 13:57] akasolace opened #131 "[eBUG] remove userFeedback from the menu once feature fully implemented"
That entry menu is useless and should be removed, once testing is finished

[2019-05-23 13:59] akasolace commented on #123
@yaute74  I did not really follow this one, should it be closed ?

[2019-05-23 14:03] akasolace commented on #84
@yaute74 @mistermax80 @brokenelevator @DavidatorusF  Can you please test and let me know if we can close that ticket?

[2019-05-23 18:26] brokenelevator commented on #84
@akasolace splash screens work just fine.
icons do not show in the taskbar. https://imgur.com/1uxJpfM.png
and one more thing. was that on purpose? https://imgur.com/AmfQRCD.png (meaning colored tab bar)

Manjaro XFCE, run from jar

[2019-05-23 21:30] akasolace commented on #84
same issue in Windows

yes this one was intended

[2019-05-23 21:31] akasolace commented on #84
[ ] fix icons do not show in the taskbar  https://imgur.com/1uxJpfM.png

[2019-05-25 09:25] brokenelevator commented on #84
@akasolace ok, fine. I get why color the tab bar in non-stable versions, but the stable? I don't think the change is necessary.
Also, why version is '2.000'? not '2'.

[2019-05-25 12:03] akasolace opened #132 "[eBUG] Linenup tab: remove broken/useless buttons"
Remove those buttons and all the related code:

- "show only the lineup"
- "show only the lineup minimzed"
- "print lineup"

Is there any objection against ?
@yaute74 @brokenelevator  @mistermax80 @DavidatorusF

[2019-05-25 12:12] akasolace opened #133 "[eFEAT] Lineup tab: better use of space to improve visibility"
Option 1 ) The idea would be to have different width for the player box for player on the field and player set as substitutes. Player box on the field would be wider to expend as much as the substitutes lines, it would allow to have better name visibility. =>  It might be tricky to be done.

Option 2) Another possibility much simpler to implement would be to remove the shirt from the player box. I

[2019-05-25 12:15] akasolace commented on #84
agree

[2019-05-25 12:19] akasolace commented on #84
Version is 2.00 but we might decide display only 1 digit in the header bar considering the last digit only indicate if it is a stable, beta or dev version.

[2019-05-25 12:20] akasolace commented on #84
@yaute74  here below a summary of the open point before closing the issue.

 - [ ] 1. fix icons do not show in the taskbar  https://imgur.com/1uxJpfM.png
 - [ ] 2. for stable version let's remove the green headed bar
 - [ ] 3. In the header bar, display version with only one digit

[2019-05-25 12:24] brokenelevator commented on #84
@akasolace and maybe also splash screen. I think we should stick to significant digits only.

[2019-05-25 12:43] brokenelevator commented on #133
@akasolace
1) The substitutes don't even fit on my screen, so that is a problem but I can live with that. Aside from that I see no problem with option 1.

2) I kind of used to having shirt there but to be honest it seems quite useless. So option 2 seems like a reasonable idea. It won't give much space though. We can remove it along with numbers but those are not completely useless.

[2019-05-25 14:16] mistermax80 commented on #132
For ok to remove... But I don't know what the other users think... My suggestion is: remove button and wait the users reactions...

[2019-05-25 15:02] brokenelevator commented on #132
Like I already mentioned I would fix or leave them as they are from the same reason as @mistermax80. Removing the button to gauge reaction also works I guess.

[2019-05-25 21:11] akasolace commented on #132
@mistermax80 with git it is cleaner to remove it all in a single commit
if we regret we uncommit at any time

[2019-05-25 21:11] yaute74 commented on #84
@akasolace For point 3 it's only for stable version ?

[2019-05-25 21:12] akasolace commented on #38
@mistermax80  I am done with my part.

You can take it from here

https://github.com/akasolace/HO/blob/b2c02b6d1a52d6a302bee3a924f774e4694e9350/src/main/java/module/pluginFeedback/FeedbackPanel.java#L238

[2019-05-25 21:12] yaute74 commented on #123
@akasolace I do nothing about it, so don't close it. I can work on it for the version 3.

[2019-05-26 10:23] akasolace commented on #84
@yaute74 I would say for all versions. The second digit only indicate if it stable, beta or dev version. This is parsed by HO but not very helpful for the user. What do you think ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-26 10:24] akasolace commented on #123
@yaute74 ok clear thank you

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-26 18:58] yaute74 commented on #84
@akasolace, @brokenelevator
If I am right the version is decomposed like this:
**major.minor.(stable|beta|dev).buildNumber**

So you speak about the third digit ?
I think we can remove this digit.

For the buildNumber:
- I think it could be interesting to keep it for beta and dev version because it's the only digit who change during development and for sustaining it could be interessing.
- for sta

[2019-05-26 19:25] akasolace commented on #84
@yaute74 yes exactly what I had in mind

I think we should keep the beta. This is the channel used by default by the translators.

[2019-05-27 15:08] akasolace opened #136 "[eBUG] sanitize HO.jar"
**Describe the bug**
Some external dependencies might incorrectly been bundled within the HO.jar inflating its size for no reason. To be analyzed and corrected

[2019-05-28 21:56] yaute74 opened #139 "[eBUG] guava-27.1-jre.jar no present in deb and rpm package"
**Describe the bug**
Exception **java.lang.NoClassDefFoundError: com/google/common/collect/Iterables** when we start the linux version 2.0 with .deb or .rpm package.
Jar guava-27.1-jre.jar is not present in the package

**To Reproduce**
Steps to reproduce the behavior:
1. Install release version HO_2.0.0.1158.deb or HO-2.0.0.1158.rpm
2. Start HO

**Platform information:**
 - OS: Linux
 - Version 2

[2019-05-28 22:14] yaute74 opened #140 "[eFEAT] error message instead exception when receive bad xml"
Following the problem encountered by A-P-O-C [post=17237535.243]: he get an exception when he try to download xml data from hattrick. He receive an html page due to network security firewalls.
Instead of return an exception we must return an explicit error

[2019-05-29 00:32] konved opened #141 "[eFEAT] i18n"
There are my thoughts about project translation:
 - [ ] Each unclear or ambiguous sentence-to-translate **MUST** be commented.
 - [ ] Some items should be splitted  (For ex: shortened abbr for a column header and a regular term). Maybe it'll lead to the extreme redundancy, but any new translator would clearly understand what the sentence exactly means and where it will be visible.
 - [x] Plurals.

[2019-05-30 17:48] brokenelevator commented on #141
I like those, they are interesting.
I had to look terms up in code to translate ambiguous lines, so that would be helpful for people.
Mozilla's indices with GNU gettext Plural-Forms formulas sounds lovely.
Some nice docs would be nice too.
Lastly, credits. I mentioned that earlier but got nowhere.
@akasolace is in charge of translations/POEditor.

[2019-06-01 09:02] mistermax80 commented on #132
Ok good!

[2019-06-03 07:24] akasolace commented on #139
I will look into this one

[2019-06-03 07:26] akasolace commented on #140
@yaute74  should I assign this one to you ?

[2019-06-03 07:50] akasolace commented on #141
@konved  I think we should try to keep things simple (in the sense of low efforts). Hence, I am all in the removal of German terms (personally almost every time I touch part of the code I try to translate it to English) and the introduction of comments to guide translators.

However, I believe that introduction of US and UK English would be unnecessary. For the treatment of plural form I also beli

[2019-06-03 14:47] akasolace commented on #141
@konved  I recieved 3 demands from new contributors this afternoon, have you posted on HO forum or is it just a coincidence ?

[2019-06-03 16:16] konved commented on #141
@akasolace no, I've put it only here. Just to hear thoughts on it before starting any work.

[2019-06-07 11:26] yaute74 commented on #140
I do some tests and I cannot display the html document of A-P-O-C with java swings (it's an html with java script)

So what I do it's to display this message:

And in the log I add the data that we receive:

It's a small modification and it will work for all data type.

@akasolace it's ok for you ?

[2019-06-07 12:28] akasolace commented on #140
@yaute74 it sounds a good approach to me
@brokenelevator @konved  any second opinions ?

[2019-06-07 17:41] brokenelevator commented on #140
no. I'll trust your judgement on this one.

[2019-06-09 09:45] #105 closed

[2019-06-09 09:46] akasolace commented on #140
closed by ae121aa

[2019-06-09 09:46] #140 closed

[2019-06-09 09:54] akasolace commented on #84
@yaute74 can I close this one ?

[2019-06-09 09:55] akasolace commented on #109
cloed by 4a32b9a

[2019-06-09 09:55] #109 closed

[2019-06-09 09:56] akasolace commented on #84
closed by ce1c75e

[2019-06-09 09:56] #84 closed

[2019-06-09 15:30] akasolace commented on #139
@yaute74 @DavidatorusF can you check if latest artefacts solve your issues under Linux.
I will also reinstall a new VM to test it on  my side.

[2019-06-09 16:10] DavidatorusF commented on #139
I still use .zip

but I have install the last dev.deb

guava-27.1-jre.jar is in the folder
![image](https://user-images.githubusercontent.com/45043004/59161332-bde9c680-8ae1-11e9-978b-72215fa90627.png)

[2019-06-09 16:25] akasolace commented on #139
I also tested it under a new VM and it works (I tested only the .deb not the .rpm thought)

[2019-06-09 16:35] akasolace commented on #139
closed by f46137b793ef3944ac78559d06ce50f1de077cf0

[2019-06-09 16:35] #139 closed

[2019-06-09 16:35] akasolace commented on #136
closed by f46137b793ef3944ac78559d06ce50f1de077cf0

[2019-06-09 16:35] #136 closed

[2019-06-09 16:40] DavidatorusF commented on #139
@akasolace

right clic on HO_2.0.0.1207.deb, I have  "ouvrir avec installation de l'application"

then popup from ubuntu software center wher I can install it
![image](https://user-images.githubusercontent.com/45043004/59161645-b4625d80-8ae5-11e9-9d0f-ab38e5296876.png)

I don't see any "maintainer" with which new folder or files will be added