[2021-12-19 17:30] wsbrenk commented on #1267
MATCHLINEUPTEAM table should store user defined lineups too (template lineups, not assigned to an single match)

[2021-12-19 22:23] Chilimonster commented on #1295
[db_user-2021-12-13.zip](https://github.com/akasolace/HO/files/7741691/db_user-2021-12-13.zip)

This is is the oldest backup remaining. I think I did the uodate from HO4 to HO5 on 12 Dec (or early morning 3 Dec). I hope this helps?

Thanks, Kevster

[2021-12-20 04:04] tiagosalvador opened #1296 "[BUG] Training Tab"
**To Reproduce**
Steps to reproduce the behavior:
1. Click on Training
2. See error "Cannot invoke "core.training.WeeklyTrainingType.getTrainingSkillPartlyTrainingPositions()" because "tt" is null"

**Platform information:**
 - OS: macOS
 - Version 5.0.3836.2

[2021-12-20 09:07] wsbrenk commented on #1295
can reproduce the error - it is the apostrophe in youth team's name.

[2021-12-20 11:21] wsbrenk commented on #1267
![image](https://user-images.githubusercontent.com/11821502/146759536-0aea147c-ead8-4090-a372-fa0f2199152a.png)

move match and lineup selection not above but below rating and assistant panels

[2021-12-20 14:42] #1295 closed

[2021-12-20 14:52] wsbrenk commented on #1296
@tiagosalvador to find this, i need more information.
could you please add a longer part of the error stack trace.
it is best to upload the database (zip backup) so that I can reproduce the problem with the debugger.

[2021-12-20 15:06] tiagosalvador commented on #1296
@wsbrenk here are the full screenshots with the error trace:
https://ibb.co/pyt7SWq
https://ibb.co/x2NmF3H

As for the database, that might be part of the problem. I can't seem to find it. I check the package contents of the Hattrick Organizer app and it's not there. I have several .hrf files, is that what you want?

[2021-12-20 15:31] wsbrenk commented on #1296
i'm not a mac expert. could you please checkt if this does exist:

~/Library/Application Support/HO

if yes, there should be a database folder and hopefully some backups (which i could read on windows systems). on windows there are zip files.

[2021-12-20 15:37] tiagosalvador commented on #1296
No, ~/Library/Application Support/HO does not exist.

[2021-12-20 15:48] wsbrenk commented on #1296
hmm- looks strange. maybe your installation didn't succeed.

could you check this. maybe this could help: https://ho.readthedocs.io/en/latest/installing_ho.html

[2021-12-20 15:58] #1293 closed

[2021-12-20 16:07] wsbrenk commented on #842
can't reproduce this on windows.

[2021-12-20 16:46] tiagosalvador commented on #1296
Didn't really help. I tried reinstalling and still the same problem. I believe the database is being stored somewhere, but maybe just the wrong place since I was able to create a new one. I'm using the last macOS, maybe that's the reason.

[2021-12-20 19:26] tiagosalvador commented on #1296
I dug a little bit more and it seems I have to Library folders and was able to find the database.
[db_tsalvador-2021-12-20.zip](https://github.com/akasolace/HO/files/7747504/db_tsalvador-2021-12-20.zip)

[2021-12-20 22:42] wsbrenk commented on #1296
![image](https://user-images.githubusercontent.com/11821502/146842254-09a6b115-515e-4a3d-8e29-4f48cb753e44.png)

to me, everything looks good!?

[2021-12-20 22:42] wsbrenk commented on #1296
maybe you should restore this backup too.

[2021-12-21 16:00] tiagosalvador commented on #1296
Everything looks fine in that screenshot, but I still have the same issue after restoring to that backup. I don't even get the 4 sub-tabs (Training, Prediction, Analyzer, Effect). Maybe it's something related to the Mac and Java? Because another thing that happens is that I have to do the CHPP authorization everytime I open HO.

[2021-12-21 16:44] grabhoehle opened #1300 "[BUG] HO 5.0 Start error"
When starting HO 5.0 I suddenly get the following error message on a team and HO does not start. With the other 2 teams everything is going normally

See Screenshots

**Platform information:**
 - OS: [Windows 11 Home
 - Version 10.0.22000 Build 22000
 -
![2021-12-21](https://user-images.githubusercontent.com/96489770/146966355-1b1b8871-31da-49cd-8b1b-da995eed1b3f.png)
![2021-12-21](https://user-im

[2021-12-21 17:44] wsbrenk commented on #1296
could you please check, if there is a log file of your session. should also be in that HO directory.

[2021-12-21 17:52] tiagosalvador commented on #1296
Yes, there is. In the meantime, I have tried reinstalling it to, so uploading a new database file as well.
[error.log](https://github.com/akasolace/HO/files/7757136/error.log)
[HO-2021-12-21.log](https://github.com/akasolace/HO/files/7757138/HO-2021-12-21.log)
[output.log](https://github.com/akasolace/HO/files/7757139/output.log)
[db_user-2021-12-21.zip](https://github.com/akasolace/HO/files/77571

[2021-12-21 19:38] peppermil commented on #1282
- the increase in fans is not added to this figure
- I have chosen the following sponsor type - per league match CHF 82k / this is not added to the fixed amount after the match

Increase in fans Vers. HO4.1:
![grafik](https://user-images.githubusercontent.com/88058929/146987553-63e2645e-1985-4354-8681-718f85ae7612.png)

Increase Fans Vers. HO5.1 (Build 3846):
![grafik](https://user-images.githubus

[2021-12-21 19:44] peppermil opened #1301 "MISC Tab / Fans and Sponsor are not correct"
- the increase in fans is not added to this figure
- I have chosen the following sponsor type - per league match CHF 82k / this is not added to the fixed amount after the match

Increase in fans Vers. HO4.1:
![grafik](https://user-images.githubusercontent.com/88058929/146987553-63e2645e-1985-4354-8681-718f85ae7612.png)

Increase Fans Vers. HO5.1 (Build 3846):
![grafik](https://user-images.githubus

[2021-12-21 20:49] peppermil commented on #1301
i have see in HT - the listing has been changed - perhaps this can be adapted to HO?
![grafik](https://user-images.githubusercontent.com/88058929/146995734-0ee70785-451b-43ef-9f90-e7c1c6848a6c.png)

[2021-12-22 09:16] wsbrenk commented on #1301
https://www88.hattrick.org/Forum/Read.aspx?t=17460874&n=1&v=0

chpp inquiry

[2021-12-22 09:42] wsbrenk commented on #1301
@peppermil for my team it works with latest beta of HO 5.1:

![image](https://user-images.githubusercontent.com/11821502/147071615-552da6b8-f3de-4481-896b-e34872fe95e1.png)

did you download data from hattrick before displaying finances data?

[2021-12-22 22:16] peppermil commented on #1301
Look in your pic:
in HT "Sponsor" 88k - where is the "Sponsor-Boni" from 41K --> "Sponsor" in HO only 88k
in HT "Transferb." 560 - where is the "Sonstiger" from 30 -- "Sonstiges" in HO inly 560

Gesamteinnahmen HT 703'360
Gesamteinnahmen HO 662'329 - the final result is right (703'359.60), but if you add up the individual positions, it is not right

OK?

[2021-12-22 22:32] wsbrenk commented on #1301
AH - sorry, now i see. 30€ were printed too small.

88k are only possible with chpp changes.

[2021-12-23 17:12] wsbrenk opened #1305 "[FEATURE] TS prediction for NT teams"
![image](https://user-images.githubusercontent.com/11821502/147272288-4255ed77-e1b1-421b-971d-946b3704ec05.png)

this is the output of the very old team spirit prediction module.
no idea if it works for nt teams and if it could be a base for a new development.

[2021-12-27 10:14] wsbrenk opened #1309 "[BUG] Youth set pieces training is not one of the Top3 restrictions"
When 3 TOP3 maximums are known, the remaining skills are limited. This is not the case for set pieces training.

[2021-12-27 12:12] #1309 closed

[2021-12-27 22:47] #1039 closed

[2021-12-27 22:48] #1292 closed

[2021-12-27 22:59] #1281 closed

[2021-12-28 16:03] wsbrenk commented on #1301
Last weeks profit/loss fixed

[2021-12-31 15:52] wsbrenk commented on #1305
![image](https://user-images.githubusercontent.com/11821502/147831287-f650f72e-0915-41ec-b1b8-42cd759834d4.png)

since i have no access to national teams - i need managers to test that feature.

[2022-01-04 17:25] akasolace commented on #1181
Hi @wsbrenk not sure I will have a lot of time but if thats ok I would assign this one to me and I would have a look at it whenever possible ...

[2022-01-04 19:08] akasolace commented on #1181
- [x] moves location selection to main tab
 - [ ] apply location selection to all query
 - [ ] introduce national, secondary and all cup
 - [ ] center and bold table headers

[2022-01-06 18:56] wsbrenk commented on #682
rules of man marking: https://www86.hattrick.org/Forum/Read.aspx?t=17345145&n=83&v=4&mr=0

[2022-01-06 19:03] wsbrenk commented on #682
effect on own ratings could be displayed in lineup panel (ratings)
in simulator panel the user could toggle the options if man marked opponent player
* is in opposite/optimal section 50% loss
* is not in opposite/optimal section 65 % loss
* is not in lineup 10% loss

effect on opponents ratings could be displayed in team analyzer.
difficulties:
* estimate man marked top skill value

[2022-01-06 19:32] akasolace commented on #682
I think it is too random event to worth modelizting it ....

[2022-01-07 10:48] akasolace commented on #1181
@wsbrenk what I see today is 2 options:
   - see my national cup matches
   - see my secondary cup matches
I will add an option:
  - see my cup match displaying both

[2022-01-07 21:51] wsbrenk commented on #1305
java.lang.NullPointerException: Cannot invoke "org.w3c.dom.Element.getElementsByTagName(String)" because "root" is null
	at module.nthrf.NtTeamDetails.parseDetails(NtTeamDetails.java:247)
	at module.nthrf.NtTeamDetails.<init>(NtTeamDetails.java:207)
	at core.net.OnlineWorker.downloadNtTeam(OnlineWorker.java:1292)
	at core.net.OnlineWorker.downloadNtTeams(OnlineWorker.java:1282)
	at core.net.Downlo

[2022-01-07 22:41] wsbrenk opened #1326 "[BUG] Help-> show change log does not work"
![image](https://user-images.githubusercontent.com/11821502/148616557-cbcb5a5c-f9cb-401d-867c-59a79e2c78ab.png)

[2022-01-07 22:53] #1181 closed

[2022-01-08 00:15] wsbrenk commented on #1305
java.lang.NumberFormatException: For input string: ""
	at java.base/java.lang.NumberFormatException.forInputString(NumberFormatException.java:67)
	at java.base/java.lang.Integer.parseInt(Integer.java:678)
	at java.base/java.lang.Integer.parseInt(Integer.java:786)
	at module.nthrf.NthrfConvertXml2Hrf.getCountryMapping(NthrfConvertXml2Hrf.java:521)
	at module.nthrf.NthrfConvertXml2Hrf.createHrf(Nthr

[2022-01-08 18:29] wsbrenk commented on #1305
17:38:11 [Info]    core.HO: VERSION: 6.0   versionType:  DEV   RevisionNumber: 160
17:38:18 [Info]    core.model.HOVerwaltung: language used for interface is: Deutsch
17:38:18 [Error]   core.training.TrainingWeekManager: Error while performing getNextWeekTraining()
17:38:18 [Info]    core.gui.HOMainFrame: This is HO! version 6.0 DEV (r160), have fun!
17:38:18 [Info]    core.gui.HOMainFrame: Operat

[2022-01-09 12:41] wsbrenk commented on #1300
stable release HO5.1

[2022-01-09 12:41] #1300 closed

[2022-01-09 13:46] akasolace opened #1335 "[BUG] Wrong icon in latest dev build (Icon is the one of stable version instead o DEV)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2022-01-09 15:38] #1326 closed

[2022-01-09 15:40] akasolace commented on #1326
Closed by 943bd2ba0edd72dcb6eb3526bff2e907eb57c979, f364cc3d0dc634376598f6ef00fe386fba755a4a, d9344b8937d79dc58febf637516e222f9c423d09, 9135eed292de617a9823e4e680d93070b1f30081, 306b5c698647f919bf5fbe45a53379d7a9c45313, 0b2829bcffb4507939dac1e6631a9f64e16e0646, 097e0e293e14679a77fb35dab02c1ca1f8a4acb3 and b8a00ba7a4972e1d4a9c891f270d7d403faf0c5d

[2022-01-09 15:43] akasolace opened #1337 "[BUG] upgrade portable UNIX does not work ... latest version not detected ...."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2022-01-10 20:29] #1337 closed

[2022-01-10 20:53] akasolace opened #1338 "[BUG] misssing release note (upgrade from portable unix)"
![image](https://user-images.githubusercontent.com/1136496/148837799-382f8e59-947c-4c54-8b2e-a8c7366c9743.png)

[2022-01-10 20:54] akasolace opened #1339 "[BUG] error ater upgrade (portable unix)"
Fixed on second try but first gives:

![image](https://user-images.githubusercontent.com/1136496/148837920-848560f2-452c-451b-b466-81778d73cf3e.png)

[2022-01-11 18:18] wsbrenk commented on #1338
you removed the release_notes.html from the assets

[2022-01-11 21:55] akasolace commented on #1338
include action from buildreferences inside pushmd and then remove it .... currentlw called too late in dependency ...

[2022-01-12 18:30] #1267 closed

[2022-01-13 20:09] #1338 closed

[2022-01-13 20:10] akasolace commented on #1339
confirmed. it is strange that this work on second try ...

[2022-01-13 20:29] akasolace commented on #1301
@wsbrenk if that is ok with you I will take this one ....

[2022-01-13 21:28] wsbrenk commented on #1301
the part that could be done is ready - i think

the missing things are the new sponsor bonuses which are not implemented by chpp

[2022-01-13 21:37] wsbrenk opened #1340 "[BUG] goalkeeper can not be selected as team captain"
feedback from ho forum:

Hi,

In the tab line up, only 10 players show up in the drop down menu (on the left) of captain and set pieces. The position of the keeper is omitted, whatever player I select for the keeper position, it won't show up in the drop down menu.

Current version I'm on is 5.1

[2022-01-13 22:07] #1340 closed

[2022-01-14 07:17] akasolace commented on #1301
@wsbrenk we can get the bonus, the only thing we cant fix without CHPP change is the board reserve ....
I'll do it next. This weeekend I am going skiing so not sure I will have much time before next week but let see ...

[2022-01-14 18:58] wsbrenk opened #1342 "[BUG] NPE in team analyzer's configs"
feedback from HO forum:

When I open "TeamAnalyzer" I get the message: "Cannot invoke "java.lang.Boolean.booleanValue()" because the return value of "core.module.config.ModuleConfig.getBoolean(String)" is null.

[2022-01-14 19:09] wsbrenk opened #1343 "[BUG] error message of install4j"
new console output in debug session:

 [Error]   Updater: can't fetch updater variablesjava.io.FileNotFoundException: C:\Users\wolfg\AppData\Local\Temp\install4jNative\8176\windows-x64\i4jparams.conf (Das System kann die angegebene Datei nicht finden)

[2022-01-14 23:37] wsbrenk commented on #1301
@akasolace i see:
![image](https://user-images.githubusercontent.com/11821502/149598369-c5f8b5e1-da42-4a7f-8ec3-a4e6fdfa4cad.png)

the sums (IncomeSum, LastIncomeSum) do include the sponsor bonuses. an extra element is still not available.

[2022-01-15 03:10] Chilimonster opened #1345 "Startup Error"
I upgraded to HO 5.1 on 20 Dec following the previous issued experienced in https://github.com/akasolace/HO/issues/1295. All has been good until this evening.

I have three teams, I get s Startup Error message only when opening HO for one team, the same team as for the previous issue in 1295 above.

The message is:

java.lang.NullPointerException: Cannot invoke "core.file.hrf.HRF.getHrfId()" becau

[2022-01-15 09:50] wsbrenk commented on #1345
[Error]   UserConfigurationTable: parameter lineupIncludeHTO is not stored in UserConfigurationTable
 [Error]   UserConfigurationTable: parameter lineupIncludeTemplates is not stored in UserConfigurationTable
 [Info]    HOVerwaltung: language used for interface is: English
 [Error]   JDBCAdapter: JDBCAdapter.executeQuery : java.sql.SQLException: java.lang.OutOfMemoryError: Java heap space
Statemen

[2022-01-15 11:35] wsbrenk commented on #958
from hsqldb docs:
* The size of the .data file grows in operation although the total row count for CACHED tables has not gone up. Why?
In version 2.6.0 you can enable SET FILES SPACE TRUE and empty spaces are tracked much better than old versions. HSQLDB tracks and reuses empty spaces left after DELETE or during UPDATE operations. If the .data file is still too fragmented, both CHECKPOINT DEFRAG a

[2022-01-15 11:44] wsbrenk commented on #958
the command checkpoint defrag reduces the file size to a fraction

[2022-01-15 12:52] wsbrenk commented on #958
SET TABLE <table> NEW SPACE  is called for the 2 greatest HO tables:
* MATCHHIGHLIGHTS
* MATCHLINEUPPLAYER

[2022-01-15 17:32] #1342 closed

[2022-01-16 09:55] wsbrenk commented on #1345
contents of database.properties:

#HSQL Database Engine 2.4.1
#Fri Jan 14 01:35:08 GMT 2022
tx_timestamp=0
modified=yes
version=2.4.1

from hsql-docs:

If it is an existing database, check in the test.properties file if 'modified=yes'. This would mean last time it was not closed correctly, and thus the test.data file may be corrupted or incomplete. In this case the 'REPAIR' algorithm is executed (

[2022-01-16 10:03] wsbrenk commented on #1345
i see two options concerning HO's backup strategy:

* do not backup database files, if database.log or database.backup exists, since the files are probably corrupted
* include database.log and database.backup to the backup zips to enable repair of backuped files

[2022-01-16 10:08] wsbrenk commented on #1345
private static File[] getFilesToBackup(File dbDirectory) {
		return dbDirectory.listFiles(file -> {
			String name = file.getName();
			return (name.endsWith(".script") || name.endsWith(".data")
					|| name.endsWith(".backup") || name.endsWith(".properties"));
		});
	}

only .log is missing!?

[2022-01-16 16:19] Chilimonster commented on #1345
Hi, thanks for looking at this, I'm not a tech wizard, so am struggling to understand what you are asking me to do.

In the first repose today, you mention test.back, test.script and test.data files. I cannot see these. Can you explain simply what I need to do?

Alternatively, there is a mention in the second response today talking about repair of backuped files. Is this sometging you are offering

[2022-01-16 17:46] wsbrenk commented on #1345
@Chilimonster your ho database in uploaded zip is corrupted. if you have older ones, please try them. maybe one of them is OK.

simply replace files in db folder by the content of zip files.

[2022-01-16 19:35] akasolace commented on #1345
@wsbrenk this could indeed be a solution. If .backup exist db zip is not created ....
At launch, if .backup exist HO offers a recovery solution ... offers to restore to last zip file (not containing .backup and that should not be corrupted).  what do you think ?

[2022-01-16 22:36] #1301 closed

[2022-01-16 22:37] Chilimonster commented on #1345
@wsbrenk I used the backup files from last month and I no longer get the Startup error. I have downloaded recent data, shutdown and restarted - all seems good so far.

Thanks

[2022-01-16 22:53] wsbrenk commented on #1345
@akasolace we should investigate the mentioned procedure c3: Database repair. if we could control it then

* on success, everything is fine and HO can start normally
* on error HO could restore previous backups and try again to start

backups should include .backup AND .log files to enable repair procedure even on restored backups

[2022-01-17 09:56] akasolace commented on #1285
@wsbrenk should we add more specifics info or should we close it ?

[2022-01-17 09:57] akasolace commented on #1291
@tychobrailleur as this is mac os specific, any chance you can have a look at it ?  can you reproduce or confirm it ?

[2022-01-17 09:59] akasolace commented on #1296
@tychobrailleur as this is mac os specific, any chance you can have a look at it ?

[2022-01-17 10:00] akasolace commented on #1291
looks linked to #1296

[2022-01-17 10:00] akasolace commented on #1296
Looks linked to #1291

[2022-01-17 14:44] akasolace commented on #1345
@wsbrenk for me if there is a .backup that remains it means the automatic repair failed, no ?

[2022-01-17 16:42] akasolace opened #1348 "Get last version from properties files instead of html file"
latest.html ..... files are only used by portable version for upgrade.

For simplification, we could get latest version information from properties file instead of html and also simplify a bit the gradle script

[2022-01-17 18:32] wsbrenk commented on #1345
@akasolace i don't think so.

backup and log files remains if shutdown doesn't work correctly - power down, job was killed or...

on next startup opening the database will start the repair process, which works with those files as descripted above.
but before the database is opened, the zip-backup will be created. if it don't saves the log and the backup, those backups are useless like the zip from

[2022-01-17 19:33] akasolace commented on #1345
If I understand correctly, zip of database is done at launch before accessing the db. Hence :
At start .zip is created (but log file not included). Do even if repair works zip file will be useless, Corée t ?

[2022-01-17 19:54] wsbrenk commented on #1345
@akasolace right - that is the current situation. if we would include the .log, and if the repair would work perfectly and the user again kills the HO process givin a situation that could not be repaired than the zip could be used to redo the repairation again!?

[2022-01-17 20:19] akasolace commented on #1345
@wsbrenk I just tested it and I can confirm the workflow

[2022-01-17 20:20] akasolace commented on #1345
However, I have no database.backup but a database.tmp

[2022-01-18 09:57] akasolace commented on #958
closed by #1346

[2022-01-18 09:57] #958 closed

[2022-01-18 09:59] akasolace opened #1349 "[FEATURE] Add avatar in player details"

[2022-01-18 18:57] wsbrenk commented on #1348
github workflow re-run does not work anymore.

Sometimes when the workflow created a release with only 2 assets (i don't know why this happens), i repaired it by re-runnung the job. This does not work anymore because the commits of latest.htmls can not be pushed.

[2022-01-20 17:21] wsbrenk commented on #1348
@akasolace could you show me the place where portable version uses the latest.html files for updates? I don't find it.

i think only the old versions HO3 and HO4 used it.
it is fine, if these versions find one new HO version, they don't need to find the very newest each time we create a new dev version.

[2022-01-20 18:43] wsbrenk commented on #1305
[Hattrick analytics reloaded.pdf](https://github.com/akasolace/HO/files/7907732/Hattrick.analytics.reloaded.pdf)

[2022-01-20 19:37] akasolace commented on #1305
wow, nice report !

[2022-01-20 20:27] Achill-3s opened #1350 "[BUG] Not able to download / Upload Lineup in HO 5.1 Version"
I have updated to the new stable version 5.1 for HO.
But when i go to lineup, i can no longer upload or download lineups for future matches.

When i scroll over it, there is a popup message saying:
"Please start by downloading new data from Hattrick. Meanwhile only lineup simulator is available"

Even afteri download data, I cannot see the upload/downlod lineup options or even select future match.

[2022-01-20 21:54] tychobrailleur commented on #1296
I'll try to spend more time on it this weekend, but everything works ok on the head of `master`.  The error in the log is:

[code]

which I believe we have seen before?
It doesn't quite match the original error mentioned, though:

[code]

Might be worth checking out the code to see how that `tt` var can be `null`.

[2022-01-21 08:38] tychobrailleur commented on #1296
That NPE has been fixed in commit a4d2edeeca799d3b29bb172041a4d89e79b2ff13

I cannot find the `tt` variable mentioned in the original bug report, so it looks like everything should be fine with the next release.

[2022-01-22 02:19] tiagosalvador commented on #1296
Thank you for looking into it! Unfortunately, I don't think it is fixed. I installed the latest release (alpha) and now there is a new error.
https://ibb.co/K5XGr0y
https://ibb.co/61vnD7M

[2022-01-22 10:27] wsbrenk commented on #1350
i will try to reproduce this

[2022-01-22 11:08] tychobrailleur commented on #1296
This seems to be a different error:

[code]

It looks like there isn't any future training for a specific player (table `FUTURETRAINING` is empty).  Any thoughts, @wsbrenk?

[2022-01-22 12:45] Achill-3s commented on #1350
If this helps the HO update went from Version 4.1.3310.2 to Version 5.1.3877.2 when the issue above occurred.
Any questions just let me know to help regarding reproducing the bug.

[2022-01-23 11:30] wsbrenk commented on #1296
@tychobrailleur   i'm not able to reproduce this error on my windows system. the only idea i have is, that some kind of coincidence with wrong packages of java or HO could be the reason. maybe we included wrong java version to the mac dmg files or the user has old java instances on his mac which are not compatible with HO5 ???

[2022-01-23 22:10] Achill-3s commented on #1350
FYI both portable or installer versions of 5.1 and 6.0 have the same issue.
I needed to revert back to Portable 4.1 to get the feature working again for setting match orders.

[2022-01-24 01:56] tiagosalvador commented on #1296
For what is worth I have the new mac with the Apple M1 Pro chip. I have also tried it on an older mac with an intel chip and got the same error.

[2022-01-24 18:07] wsbrenk commented on #1350
could you upload a backup of your database? latest  zip file in %APPDATA%/HO/db

[2022-01-24 18:22] Achill-3s commented on #1350
Find attached contents of: C:\Users\Achilles_\AppData\Roaming\HO
Three Teams, all work with 4.1,, but not in 5.1 version LineUp

Attachment At:
https://ufile.io/ws0p6u77

[2022-01-24 18:31] wsbrenk commented on #1350
my system says, that it is not save to download this. could you please attach it to this issue - simple drag it to these notes.

[2022-01-24 18:49] Achill-3s commented on #1350
File is too big to attach as a reply - 63MB

[2022-01-24 18:59] Achill-3s commented on #1350
I uploaded the Roaming Folder as it is at a shared dropbox.
Let me know if the link doesnt work for any reason.

https://www.dropbox.com/sh/4o3sa56if7108p2/AACHU7aAZloqdNjE7WsChn1ea?dl=0

[2022-01-24 19:59] tychobrailleur commented on #1296
I am somewhat doubtful this is a JVM issue; an older JVM would completely blow up, the app would not even start.  I have tried to install `HO-5.1.3877.2-JRE.dmg` and copied the DB under `~/Library/Application Support/HO/db` on macOS Big Sur, and I cannot reproduce.

Looking closely at the code, it looks to me that this new issue is a fallout of the fix from a4d2edeeca799d3b29bb172041a4d89e79b2ff13

[2022-01-24 22:42] wsbrenk commented on #1296
@tychobrailleur it's hard for me to remember - I assume that it can be a situation with the nt teams, withfor whom a missing of previousTraining had led to an npe.

to be honest - i don't understand why checking of previous training not null could cause this error?

[2022-01-24 22:48] wsbrenk commented on #1350
Download successful

[2022-01-24 23:00] wsbrenk commented on #1350
there is no authorization in those databases.  i can not invoke a download to reproduce the error.

[2022-01-24 23:11] wsbrenk commented on #1296
@tychobrailleur just opened my notepad++ and found this:

12:51:17 [Info]    core.HO: VERSION: 5.0   versionType:  RELEASE   RevisionNumber: 3843
12:51:19 [Info]    core.model.HOVerwaltung: language used for interface is: English
12:51:19 [Error]   core.util.DateTimeUtils: ZoneID could not be identified from hashValue
12:51:19 [Error]   core.util.HTDatetimeBase: ZoneID could not be identified, rev

[2022-01-25 07:52] Achill-3s commented on #1350
I have re-added the youth permission which was missing since i reverted to 4.1 for using HO.
Keep in mind that it maybe easier to use the portable 5.1 with the attached db below for re-producing the error.
[HO-5.1.3877.2-portable-win-JRE_db&logs_folder.zip](https://github.com/akasolace/HO/files/7931607/HO-5.1.3877.2-portable-win-JRE_db.logs_folder.zip)

[2022-01-25 08:51] tychobrailleur commented on #1291
@FlorianWerndl Would be able to share your log files?  You should be able to find them by going to Finder, click on _Go_ in the menu, select _Go to Folder..._ and enter _~/Library/Application Support/HO/logs_ in the text box.

Couple of questions as well:
- once you have refreshed your token, do records get downloaded ok, and more importantly do they get persisted across sessions (i.e. do your fin

[2022-01-25 14:15] FlorianWerndl commented on #1291
@tychobrailleur

// HO-2022-01-25.log
[code]

// error.log
[code]

Questions:
1. Yes, team data seem to be saved correctly. If I restart HO I need to enter token again but team data is up to date.
2. cmd+q

[2022-01-25 14:29] tychobrailleur commented on #1291
Boom, that's it.  Can you confirm that the issue goes away when:

1. Opening HO
2. Refreshing access token
3. Quitting using File > Quit
4. Re-opening HO
5. Downloading data

?

If it is, it should be a straightforward enough fix.

[2022-01-25 14:34] FlorianWerndl commented on #1291
@tychobrailleur 🙌

Yes, I can confirm that.

[2022-01-25 18:15] wsbrenk commented on #1350
downloading lineup (F11) works

[2022-01-25 18:33] Achill-3s commented on #1350
Want me to share anydesk to connect and see if there is something you
missed? HO 5.1 not working for me, only 4.1

On Tue, Jan 25, 2022 at 8:15 PM wsbrenk ***@***.***> wrote:

[2022-01-25 19:47] tychobrailleur commented on #1296
So there was something in `TrainingWeekManager#getNextWeekTraining` that was causing one of those to return `null`:

[code]

or
[code]

I don't get how tiagosalvador gets into that situation, the DB returns one record for that query:

[code]

but the same error message appears in the 21/12 log file:

[code]

I would not be surprised if this was caused by the `ZoneID` issue there.

BTW, @tiagosalva

[2022-01-25 21:17] Achill-3s commented on #1350
Latest file as requested.
[dbfortesting.zip](https://github.com/akasolace/HO/files/7937181/dbfortesting.zip)

[2022-01-25 21:34] wsbrenk commented on #1350
i fear it is a matter of your time zone. Could you please try to set CET and try again with HO5.1.

there is a method dataTooOld disabling the lineup simulation check box (which is set, and with that disabling the upload).

[2022-01-25 21:43] wsbrenk commented on #1350
setting my time zone to cairo will reproduce the error

[2022-01-26 11:34] Achill-3s commented on #1350
Reproduced also as you have asked me.
Setting Timezone as UTC or CET and then download hrf , it allows HO 5.1 to work correctly for lineups.
Setting timezone back to UTC+2 Athens and restarting the HP 5.1 App and the Lineup gets greyed out again.

Seems to be a bug related with HO 5.1 and timezone for some reason as you said.

[2022-01-26 22:25] #1291 closed

[2022-01-26 22:37] wsbrenk commented on #1296
@tychobrailleur #1350 is another ticket that has a time zone problem. I'm afraid some things don't fit yet.

[2022-01-27 08:13] tychobrailleur commented on #1296
Yes, I saw that one.  What problem is the timezone stuff trying to solve?  Is it for users to be able to see times in their own timezones, as opposed to the team's?

One thing that needs to be done is to filter the list of timezones returned by Java, which contains anything and everything, to only keep the ones with the form `America/Los_Angeles`.  I could have a look but it won't be before the we

[2022-01-27 08:27] tychobrailleur opened #1358 "[FEATURE] Create a reporting feature that gathers all the key info from HO for bug reports"
**Is your feature request related to a problem? Please describe.**
When users report bugs, it can be difficult to get information on their setup, as they may not be knowledgeable enough to collect some of the data.  This feature would allow them to simple copy-paste a report somewhere to put into GH.  This could potentially also automatically submit the bug report in the correct format.

**Describ

[2022-01-27 11:29] akasolace commented on #1296
Yes

[2022-01-27 11:32] akasolace commented on #1358
I would also suggest to facilitate dumping of database.
For exemple the GUI asking if the user wants to add DB as attachement in the ticket, opening the correct location on the system ....

[2022-01-27 11:49] tychobrailleur commented on #1358
Good point.  That would also allow us to remove access token secrets before they are published publicly: they really should be removed.

[2022-01-27 17:19] wsbrenk commented on #1358
I'm also in favor of not storing the token in the database anymore - I'm afraid many people don't know what they're doing when they give us the database. In fact, it also makes sense to exchange the tokens - but then explicitly with the hint to regenerate it as soon as possible (possibly also with a command in the HO menu).

[2022-01-29 11:24] wsbrenk opened #1359 "[BUG] Errors in MatchLineupTeamTable and HTDateTime"
C:\Users\wolfg\.jdks\temurin-17.0.1\bin\java.exe -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:61872,suspend=y,server=n -javaagent:C:\Users\wolfg\AppData\Local\JetBrains\IntelliJIdea2021.2\groovyHotSwap\gragent.jar -javaagent:C:\Users\wolfg\AppData\Local\JetBrains\IntelliJIdea2021.2\captureAgent\debugger-agent.jar -Dfile.encoding=UTF-8 -classpath "C:\Users\wolfg\Documents\HO\out\production\

[2022-01-29 11:27] wsbrenk opened #1360 "[BUG] Duplicated progress bar should be removed"
![image](https://user-images.githubusercontent.com/11821502/151659180-e65758a6-84e6-4f7c-9121-61380395bef4.png)

[2022-01-29 11:30] wsbrenk opened #1361 "[BUG] Errors of download dialog (can't be invoked a second time)"
i used to push the enter-key to invoke the download. this is no longer possible. i would like that download would be the default action again.

Download can not be invoked a second time. You need to restart HO - that is not OK.

[2022-01-29 11:50] wsbrenk opened #1362 "[BUG] Avatar of bruised player is shown as injured"
![image](https://user-images.githubusercontent.com/11821502/151659893-5999a49e-bec9-488e-9a0a-f6ff98115388.png)

[2022-01-29 12:39] wsbrenk opened #1363 "[BUG] player details are not correct refreshed after first download"
the selection in overview is not set anymore

avatar and some attributes of the player are no longer displayed

some labels in details panel remains as they were before invoking download dialog.

A second download works fine!?

[2022-01-29 19:41] akasolace commented on #1363
If you select a player it also works fine ... but indeed I noticed that issue so Ervin I will look at

[2022-01-29 19:48] akasolace commented on #1362
It is just layer of player are not refreshed.
Hence sold player and injured player are not refreshed ....
Either we download each avatar every download or we store them. At the moment I decided to store them but not to include temporary layer. I need to remove layer for injury .... but we could also decide to download every time if you prefer ...

[2022-01-29 20:09] Cold-Burn commented on #1117
This effect on formation still happens in HO-5.0.3843.2-portable-win-JRE.
Normally occurs with player Áskell Halldórsson but not everytime.

[2022-01-29 22:29] wsbrenk commented on #1362
@akasolace it would be sufficiant if injury and bruised layers would not be displayed at all.

if you want to display them, why not store the player avatars without temporaries and overlay those depending on player's status. you need to store the two overlays beneath the player avatars.

[2022-01-30 10:24] wsbrenk commented on #1350
@Achill-3s a new beta is available now https://github.com/akasolace/HO/releases/tag/beta

it would be great if you could test it.

[2022-01-30 10:33] wsbrenk commented on #1362
i don't know if some kind of housekeeping, that is removing the avatars of sold players is a good idea. maybe we will decide to display those avatars in further panels, let say in lineups, then it would be nice to see even the sold players with there avatars.

[2022-01-30 10:49] akasolace commented on #1362
The layer of injury is easy to treat. I did it for overlay of sold player I
just did not had the example of injured player in my db but very easy to
fix.
At the moment there is no deletion of sold player exactly for the purpose
you mentioned.

On Sun, 30 Jan 2022 at 11:33, wsbrenk ***@***.***> wrote:

[2022-01-30 12:12] wsbrenk opened #1368 "[BUG] Error uploading lineup after old lineup was loaded from Database"
HO6

![image](https://user-images.githubusercontent.com/11821502/151699082-e0c7585b-b46a-485d-b196-c99193f22e3d.png)

[2022-01-30 14:08] Achill-3s commented on #1350
Hello there  my programming hero :)
Just tested the HO-5.2.3925.1-portable-win-BETA-JRE version of your pre-release.
The upload/ download lineups seems to be working fine now on UTC+2
But i am also giving you 2 small additions below if you may want to consider, in case you think they are important.

First of all screenshoots of the successful recreation test for download/upload lineup.
HO Version:

[2022-01-30 16:16] wsbrenk commented on #1350
@Achill-3s many thank for that great test report.

to your suggestions:

1. You're right if only time zone aspect counts, then 13 hours should be enough - but i really have no idea why data downloaded 2 days ago should be too old. if we work around with 13 hours there would be some users on the world where too old is limited to one single hour whereas CET users will get the limit of 13 hours - fac

[2022-01-30 16:17] #1350 closed

[2022-01-30 16:52] wsbrenk commented on #1362
@akasolace card status needs to be handled as overlay too

on the right side of the avatar the back number is displayed - don't know how to handle this (leave it away if possible)

[2022-01-30 16:56] #1368 closed

[2022-01-30 16:57] #1361 closed

[2022-01-30 17:02] akasolace commented on #1362
I think I fixed that .... I guess this is left from when you tested my branch.
Delete avatars and try download again ...

[2022-01-30 17:06] tychobrailleur opened #1372 "[BUG] IllegalArgumentException when displaying player"
**Describe the bug**
The following error occurs when starting HO with master HEAD

[code]

**To Reproduce**
- Start HO
- Check logs

**Screenshots**

![Screenshot from 2022-01-30 17-05-18](https://user-images.githubusercontent.com/114285/151709481-fa1dd083-a717-48d6-8fa7-eee98f81a02b.png)

**Platform information:**
 - OS: Linux
 - Version master HEAD

**Additional context**
Add any other context a

[2022-01-30 17:14] akasolace commented on #1372
@tychobrailleur this is my new feature to display player avatar (still under development) ... I haven't encounter this error yet.
In case you don't want to bother debugging it ... could you share your db with me ?

[2022-01-30 17:20] wsbrenk commented on #1372
@tychobrailleur, @akasolace looks similar to #1359

[2022-01-30 17:22] #1362 closed

[2022-01-30 17:26] wsbrenk commented on #1362
@akasolace you're right only bruised players are still displayed with overlay after i reloaded all avatars

[2022-01-30 17:32] akasolace commented on #1362
In which of your team do you have such a player ?

[2022-01-30 17:35] akasolace commented on #1362
@wsbrenk ok just did a commit that should fix bruised player avatar ...

[2022-01-30 18:33] wsbrenk commented on #1360
akasolace 4 days ago
I think the message are not visible on HO main frame ....
much easier to see what's happening on dialog window when it has the focus.
Also I introduced much more description of what is going on ....

@akasolace the description were displayed in HOMainframes progress bar with my changes you reverted. in my opinion, no competing progress bars should appear.

[2022-01-30 18:46] wsbrenk commented on #1362
@akasolace OK now

[2022-01-30 19:18] tychobrailleur commented on #1372
You're right @wsbrenk it looks like a duplicate of #1359, closing.

[2022-01-30 19:18] #1372 closed

[2022-01-30 20:42] akasolace commented on #1360
@wsbrenk agree, so fqr no relevqnt messqge were displyed during download only incorrect wait information status.
Now relevant message is displayed in download dialog (much more visible). Next I will si,ply put message in main frame saying dowload is ongoing

[2022-02-02 16:36] jpeace73 commented on #1349
Player details:
![image](https://user-images.githubusercontent.com/98697055/152196622-2b5e93cf-396b-4331-9e4e-5df0dc9f8380.png)

[2022-02-02 16:38] jpeace73 commented on #1349
Anyway, if it was from HO5.1:

Squad:
![image](https://user-images.githubusercontent.com/98697055/152196889-67868f80-4358-4c64-8654-0c6600bf6cdd.png)

Player details:
![image](https://user-images.githubusercontent.com/98697055/152197084-18370150-2030-4b5c-b29d-3bdad571d418.png)

[2022-02-02 16:40] jpeace73 commented on #1349
Let me know it this is what you want.

Now we miss the database. I am a little concerned to post it here. Can anybody download it?
And I think it can be used to load into HO and fetch new team data ;-)

[2022-02-02 20:25] akasolace commented on #1349
@jpeace73 and you are not a supporter right ?  I  am surprised I thought non supporter could not see player avatar .... maybe that was a long time ago

[2022-02-03 09:06] tychobrailleur commented on #1296
@tiagosalvador When you get the chance, would you please be able to install the [Alpha release](https://github.com/akasolace/HO/releases/tag/untagged-7de5f396f478ec2d0df0), and provide us with the logs?  Please make sure to back up the HO folder `~/Library/Application Support/HO` beforehand.

[2022-02-03 11:45] jpeace73 commented on #1349
Yes, I am **not** a supporter.
I have FoxTrick installed.

Anyway I think there has always been player avatar...

[2022-02-03 11:50] jpeace73 commented on #1349
I have just tested with FoxTrick disabled, and I still get player avatars.

[2022-02-03 13:23] tiagosalvador commented on #1296
Here they are. I can now enter the Training tab. I was able to edit past trainings, but I see no future training (see https://ibb.co/xDVfWYL). When I try the subtab predictions, that's when I get errors now.

[HO-2022-02-02.log](https://github.com/akasolace/HO/files/7994812/HO-2022-02-02.log)
[output.log](https://github.com/akasolace/HO/files/7994813/output.log)

[2022-02-03 16:46] tychobrailleur commented on #1296
Is that after downloading new data from Hattrick as well?

Relevant logs:

[code]

That query returns an empty list for `2022-02-04`:

[code]

Again, I cannot reproduce with the original db.

The other error will also have to be fixed to “recover” nicely:
[code]

[2022-02-03 16:55] tiagosalvador commented on #1296
Yes, it was after downloading new data from Hattrick.

Since you mentioned you couldn't reproduce with original db, I started a whole new database. I experienced the same issue. It's attached along with the error log. Hope it helps!
[HO-2022-02-03.log](https://github.com/akasolace/HO/files/7996591/HO-2022-02-03.log)
[db_tsalvador-2022-02-03.zip](https://github.com/akasolace/HO/files/7996592/db_tsa

[2022-02-03 17:33] tychobrailleur commented on #1296
Nice, thanks @tiagosalvador, quote proactive!  Still cannot reproduce out of the box.

Interestingly the next training date I am getting is
[code]
If I force the code to get what you are getting (`2022-02-04T00:00:00Z`), I do get the same error.

I am pretty sure it's timezone gymnastics that is going wrong here, and the prime suspect is this method, where timezone is not taken into account:

[cod

[2022-02-03 17:51] tiagosalvador commented on #1296
@tychobrailleur based on your comment, I was able to fix it!!!

So my Hattrick Team is in Portugal, but I live in Montreal. America/Montreal is therefore the timezone I have set on my computer. Once I changed it to Lisbon's time and reopened HO all is working!!! If I switch back to America/Montreal timezone, the error pops up again.

This also explains why no one was able to reproduce the error. I

[2022-02-03 17:59] tychobrailleur commented on #1296
Cool, that confirms my theory. :-)

Going through CHPP, date time is CEST, so I am pretty sure this is the conversion back from Instant to UTC that causes the issue, as the JDK assumes the `date.toInstant` is in zone `America/Montreal`.

[2022-02-03 18:05] tychobrailleur commented on #1296
@tiagosalvador I see only one possible fix, you have to move back to Portugal!! 🤣

[2022-02-03 18:08] tiagosalvador commented on #1296
Hahaha Funny thing though, when I first reported this I was actually in Portugal, but my Mac never automatically updated the timezone and I never bother too...

[2022-02-04 16:46] #1363 closed

[2022-02-04 17:01] akasolace commented on #1349
@jpeace73 in that case can you try and test the latest dev version (https://github.com/akasolace/HO/releases/tag/dev), see if player avatars are available ?

[2022-02-04 17:54] akasolace opened #1373 "[BUG] League statistics is broken"
League Statistics is showing crazy value whereas Hattid data seems just fine ....

![image](https://user-images.githubusercontent.com/1136496/152578575-e9f33eb8-e09c-4b96-b041-51cea1d15c89.png)

[2022-02-04 18:25] wsbrenk commented on #1373
@akasolace : download of all matches are required. if you want to reactivate the hattid connection, i would like to have this configurable. i prefer downloading all matches and calculate the values locally.

[2022-02-04 18:42] wsbrenk commented on #1373
to fix this, we alternativly could download all league matches by default - ne need to do it by hand.

[2022-02-04 18:54] akasolace commented on #1373
For me Hattid was easier ... I am fine with your approach but at the moment it is broken not all matches are downloaded in HO.
So either we force download of all matches or we get data from Hattid  whatever you prefer. For the latter I am happy to reintroduce but for the former I would leave it up to you as you are more familiar with the approach.

[2022-02-04 18:58] akasolace commented on #1373
What about performance ?  I would suggest we first fetch from Hattid … if
error we force download all matches from HT , what do you think ?

On Fri, 4 Feb 2022 at 19:42, wsbrenk ***@***.***> wrote:

[2022-02-04 19:56] wsbrenk commented on #1373
#995 and #1070 were the reason for changing this. i would like if connection to Hattid could be suppressed by configuration.
i used to download all matches by hand, so i don't have any problem with missing data.
But i'm interested in the approach to download all matches of the league automatically.

[2022-02-05 09:27] wsbrenk commented on #1373
i'm working on the download of all matches of the latests match days

[2022-02-05 09:53] akasolace commented on #1373
so all matches played in the league for current season, right ?

[2022-02-05 12:29] tychobrailleur commented on #1296
This issue should be fixed by #1375 once merged.  I have tested on Linux: managed to reproduce by setting system timezone to Canada/Toronto, and verified that issue went away after applying fix.

Thanks a lot @tiagosalvador for your patience and assistance on this one!

[2022-02-05 13:52] wsbrenk commented on #1373
the plan is that all finished league matches since last download will be loaded. Older matches which were not loaded before this change have to be loaded by hand.

In future this should only happen in case of download errors (connection loss or something like this)

[2022-02-05 14:24] #1296 closed

[2022-02-05 14:40] Cold-Burn commented on #1117
Please see below. I don't know how to make it more evident that something is wrong.

![imagem](https://user-images.githubusercontent.com/88949554/152646365-763b7141-21dc-4e13-ba67-4910171d7ef0.png)
![imagem](https://user-images.githubusercontent.com/88949554/152646382-c6c3e046-1df1-4585-8682-89fcf4a6ba73.png)

[2022-02-05 14:49] wsbrenk commented on #1117
@Cold-Burn very strange - do you want to upload your database - then i could try to debug this

[2022-02-05 14:55] wsbrenk commented on #1359
MatchLineupTeamTable is fixed - commit is comming soon

[2022-02-05 16:33] #1289 closed

[2022-02-06 10:03] #1359 closed

[2022-02-06 10:03] #1373 closed

[2022-02-06 10:25] akasolace opened #1378 "[BUG] can't load darklaf theme"
**Describe the bug**

Can't select Darcula Theme

**Platform information:**
 - OS: Linux (I don't konw if other OS are affected)
 - Version (master)

[2022-02-06 10:28] akasolace opened #1379 "[BUG] missing match events"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2022-02-06 10:29] #1378 closed

[2022-02-06 10:29] akasolace commented on #1379
closed by https://github.com/akasolace/HO/commit/0e87ea4e5002b6be864b844643437d5fd79339ea

[2022-02-06 10:29] #1379 closed

[2022-02-06 11:07] akasolace commented on #1349
@wsbrenk I am almost done with this feature:

![image](https://user-images.githubusercontent.com/1136496/152677916-27daba2d-9690-40cf-9e42-2d2cf1e906c0.png)

[2022-02-06 11:08] akasolace commented on #1349
versus 5.1

![image](https://user-images.githubusercontent.com/1136496/152677965-f068ea7e-c25b-463d-a277-6b60778bbb20.png)

[2022-02-06 11:10] akasolace commented on #1349
@jpeace73 would be nice if you can try latest dev, I would like to know if that would work for non supporter, thank you !

[2022-02-06 13:37] tychobrailleur commented on #1349
Holy bananas!!!  Is that all with `GridBagLayout`?? That's amazing 😯

[2022-02-06 13:58] akasolace commented on #1349
Yes all with gridbaglayout ... that was quite a refactoring :-)

[2022-02-06 15:28] #1349 closed

[2022-02-06 15:43] wsbrenk commented on #1349
great - looks really good!

[2022-02-06 15:58] wsbrenk opened #1380 "[BUG] Illegal Argument in player overview"
java.lang.IllegalArgumentException: The provided string is not recognized as a valid DateTime:
	at core.util.HTDatetime.cleanDateTimeString(HTDatetime.java:160)
	at core.util.HTDatetime.<init>(HTDatetime.java:48)
	at module.playerOverview.PlayerDetailsPanel.setLabels(PlayerDetailsPanel.java:313)
	at module.playerOverview.PlayerDetailsPanel.setPlayer(PlayerDetailsPanel.java:130)
	at module.playerOv

[2022-02-06 16:00] wsbrenk commented on #1380
only happens before the very first download with current HO dev

[2022-02-06 17:41] wsbrenk commented on #1380
@akasolace it is the arrival date, that is missing as long as no download was made.

[2022-02-06 19:37] akasolace commented on #1380
Ok indeed something I introduced lately while working on new player analysis ...
I will fix it asap but I might not have a lot of time this week.

[2022-02-07 18:13] wsbrenk commented on #1380
similar if i create a temp player in skilltester:

java.lang.NullPointerException: Cannot invoke "String.length()" because "sDateTime" is null
	at core.util.HTDatetime.cleanDateTimeString(HTDatetime.java:157)
	at core.util.HTDatetime.<init>(HTDatetime.java:48)
	at module.playerOverview.PlayerDetailsPanel.setLabels(PlayerDetailsPanel.java:313)
	at module.playerOverview.PlayerDetailsPanel.setPlayer(

[2022-02-07 18:31] wsbrenk commented on #1117
renamed my best playmaker to Áskell Halldórsson, but i couldn't reproduce the error.

[2022-02-08 09:21] akasolace commented on #1242
@wsbrenk I renamed this one cause I think we can do a more general feature ... what do you think ?

[2022-02-11 18:12] jpeace73 commented on #1349
Yes, looks very good!

![image](https://user-images.githubusercontent.com/98697055/153646146-8b5f4d1b-d179-4807-9f84-e57c5f1eb3d0.png)

[2022-02-12 14:24] wsbrenk opened #1383 "[BUG] ConcurrentModificationException in ts forecast panel"
java.lang.RuntimeException: java.util.ConcurrentModificationException
	at module.tsforecast.TSForecast.createCurvesPanel(TSForecast.java:267)
	at module.tsforecast.TSForecast.initComponents(TSForecast.java:93)
	at module.tsforecast.TSForecast.initialize(TSForecast.java:60)
	at core.gui.comp.panel.LazyImagePanel.callInitialize(LazyImagePanel.java:145)
	at core.gui.comp.panel.LazyImagePanel$2.hierar

[2022-02-13 09:29] wsbrenk opened #1385 "[FEATURE] clean upstream branches"
![image](https://user-images.githubusercontent.com/11821502/153746909-2f9cfb79-6ae9-415f-aeba-b52054769a2f.png)

* remove old branches which are not used anymore
* modify the readme file to display correct information on each branch  (use tag_stable instead of version number tag)

[2022-02-13 17:10] wsbrenk commented on #682
this is remaining:

effect on opponents ratings could be displayed in team analyzer panel,
difficulties:

estimate man marked player's top skill value

[2022-02-14 17:56] wsbrenk opened #1387 "[FEATURE] man marking effect on opponents ratings"
this is remaining:

effect on opponents ratings could be displayed in team analyzer panel,
difficulties:

estimate man marked player's top skill value

_Originally posted by @wsbrenk in https://github.com/akasolace/HO/issues/682#issuecomment-1038269279_

[2022-02-14 22:03] #682 closed

[2022-02-20 11:56] wsbrenk commented on #1380
as the many different DateTime treatments in HO confuse me more and more, I have built another new class

HODateTime is a simplification of HTDateTime. I would like to replace all time treatments with this approach.

[2022-02-20 11:58] wsbrenk opened #1389 "refactor DateTime treatments"
as the many different DateTime treatments in HO confuse me more and more, I have built another new class

[HODateTime](https://github.com/akasolace/HO/blob/master/src/main/java/core/util/HODateTime.java) is a simplification of HTDateTime. I would like to replace all time treatments with this approach.

_Originally posted by @wsbrenk in https://github.com/akasolace/HO/issues/1380#issuecomment-10462

[2022-02-20 12:02] #1380 closed

[2022-02-21 22:41] Chilimonster opened #1392 "Experience error"
As mentioned on the HO 5.0 forum, on training upate day, the experience increase for players who have played in friendlies is the same as for those who have played in league matches: +0.03/+0.04 each. It happens for all three of my teams. Files are attached.

Thanks
db_user-2022-02-21.zip
db_Second team-2022-02-21.zip
db_Fly Suckers-2022-02-21.zip

[2022-02-22 07:30] wsbrenk commented on #1392
DB downloaded - Thanks

[2022-02-22 19:23] wsbrenk commented on #1392
@Chilimonster after recalculating skills (7 weeks) the experience increments looks good. is that the same for you?

[2022-02-22 22:42] Chilimonster commented on #1392
No. If you look at a player like James Bullock in the first of my teams, he has only ever played friendlies. If you look at his experience changes over the the first 25 games he played, it has ticked up very gradually from 2.00 to 2.08, but in the last two weeks it has gone to 2.12 then 2.15.

If you look at the change in experience for the whole squad last Thursday after the training update, all

[2022-02-24 21:53] Chilimonster commented on #1392
...and this is the same squad following today's training update. 11 played in the league game, and the others in a friendly, but they have all been awarded the league-match experience:

![image](https://user-images.githubusercontent.com/67347390/155613926-70de18b4-79be-4d2b-a8ce-8a041f1e99c7.png)

[2022-02-24 22:29] wsbrenk commented on #1392
@Chilimonster to confirm it. this is the case even if you recalculate the skills? File->Subskill recalculation (7 weeks)

if i do this, i get this picture:

![image](https://user-images.githubusercontent.com/11821502/155617688-30e617a2-8164-40c5-b186-0407bc1a2893.png)

i have the idea, that the error happens in special constellations. i it probably, that you start the HO application before the tra

[2022-02-24 23:32] wsbrenk commented on #1392
there is a new [dev-release](https://github.com/akasolace/HO/releases/tag/dev). it would be great if you could test it.
Please don't do it without backup of your current installation including your database folders.

[2022-02-25 00:46] Chilimonster commented on #1392
I see what you mean by the 7-week recalculation now. I've tried it and it doesn't change my results the way it has for you. Not at all that I can see.

Today's update was done by opening HO after the training update, then performing File > Download.

I'll try the dev-release

[2022-02-25 01:19] Chilimonster commented on #1392
Ok, so with the dev-release dowloaded, the recalculation seems to reverse the overestimation of experience, and the figures return to those on your screenshot following your recalculation.

Thanks

[2022-02-25 08:44] Michelinho96 opened #1394 "NullPointerException: core.model.XtraData.getNextTrainingDate()" is null"
java.lang.NullPointerException: Cannot invoke "java.sql.Timestamp.getTime()" because the return value of "core.model.XtraData.getNextTrainingDate()" is null
	at core.util.HTCalendarFactory.createTrainingCalendar(HTCalendarFactory.java:97)
	at core.util.HTCalendarFactory.createTrainingCalendar(HTCalendarFactory.java:116)
	at core.util.HTCalendarFactory.getHTSeason(HTCalendarFactory.java:125)
	at co

[2022-02-25 10:43] padr19 opened #1395 "[BUG] - OutOfMemoryError"
**Describe the bug**
HO doesnt start, ends up with this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Pure install
2. Import a lot of hrf files

**Screenshots**
java.lang.OutOfMemoryError: Java heap space
	at java.base/java.lang.StringUTF16.newBytesFor(StringUTF16.java:53)
	at java.base/java.lang.AbstractStringBuilder.inflate(AbstractStringBuilder.java:272)
	at java.base/java.lang.A

[2022-02-26 20:35] Cold-Burn commented on #1117
Hello @wsbrenk
Today I've updated and Áskell Halldórsson didn't contribute to formation as expected.
After I've sent tactics for the game.
Later in the day I've updated HO again and Áskell Halldórsson now contribute to formation.

So I think that its something related to the update and if player is on game formation.
I will inform you if it always happens like this in the future.

[2022-03-04 08:25] Mojexi opened #1396 "Edit button in training prediction not working"
Edit button in training prediction not working.
there is a hovering hint that says: "This entry was missing, Previous entry has been duplicated. please control."
There was no bug on version 4. this bug is raised just after update to last beta version.

[2022-03-06 08:46] tychobrailleur opened #1397 "[BUG] NPE on Fixtures download"
**Describe the bug**
After updating to upstream master, the following exception pops up during download on my existing DB:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to HO
2. Download data from HT
3. Exception pops up

**Screenshots**
![Screenshot 2022-03-06 at 08 45 06](https://user-images.githubusercontent.com/114285/156915804-d856f6d8-f7db-4ba4-b17b-1e04e7c5d5e6.png)

**Pl

[2022-03-06 11:29] #1397 closed

[2022-03-07 22:53] Cold-Burn commented on #1117
Hello @wsbrenk
I will keep analyzing but when I update HO and have Áskell Halldórsson on formation in hattrick all is ok in HO.
If sent formation or preset formation don't have Áskell Halldórsson he doesn't contribute to lineup ratings when HO is updated.

[2022-03-09 17:00] Crip1 opened #1399 "Database Corruption?"
This morning, I tried to open HO 3.0 on Windows for my team.   It opened, then got an error message connection to www.hattrick.org could not be established: Error fetching matchlineup.

Once I proceed with download, I received a bunch of other error messages, and now the .db seems to be corrupt.    When I shut down and try to re-launch HO, it gets hung up in the loading process, and I end up with

[2022-03-09 19:41] manguz commented on #1399
It happens with 4.1 and latest 6.0 but I don't see DB corruption I think.
HO restart ok with the changes applied, data seems still downloaded

Crip1, maybe your DB is locked after shutdown in that old version

[2022-03-09 20:08] Crip1 commented on #1399
I see a database.lck file, but I am unable to delete it, am told that it is currently in use by Java.

"C:\Users\garth\Documents\Personal\Hattrick\HO\HattrickOrganizer\db2\database.lck"

I will shut down, restart, try to delete .lck file and try again.

From: Federico Manganelli ***@***.***>
Sent: March 9, 2022 2:42 PM
To: akasolace/HO ***@***.***>
Cc: Crip1 ***@***.***>; Author ***@***.***>
Subje

[2022-03-09 20:16] Crip1 commented on #1399
Once I deleted the lockfile, I was able to start HO, and it opened up, and things looked fine.

Once I tried to download data, I got the same message, Connection to www.hattrick.org <http://www.hattrick.org>  could not be established, Error fetching Matchlineup

It then downloads some data, and gives me the option to save a .hrf    I think I tried to save it in the past, I will cancel that for now

[2022-03-09 20:17] Crip1 commented on #1399
When I next restarted, I got an error message

An error occurred

Java.lang.NullPointerException     details of which are:

java.lang.NullPointerException

                at core.model.match.MatchStatistics.isOldie(MatchStatistics.java:329)

                at core.model.match.MatchStatistics.<init>(MatchStatistics.java:22)

                at core.training.TrainingPreviewPlayers.getMatchesForTra

[2022-03-09 20:21] manguz commented on #1399
Some changes in CHPP code may have broke something in HO, but Devs are surely aware.
You should really use a newer version as it seems yours behave differently.
just swap the DB folder from one installation to another and you are good to go

[2022-03-09 21:25] wsbrenk commented on #1399
this is a bug on ht side - i hope it will be fixed soon.

[2022-03-09 22:12] Crip1 commented on #1399
Ugh!     I tried upgrading to V5.2, and I couldn’t really get it to work.    It will download today’s data, import transaction history, but I can’t import my old .hrf data, nor can I upload lineups...      Hopefully I can uninstall that, and do an upgrade from within 3.0 once the bug on the HT side has been fixed.

From: wsbrenk ***@***.***>
Sent: March 9, 2022 4:26 PM
To: akasolace/HO ***@***.***

[2022-03-10 23:12] wsbrenk commented on #1399
chpp fixed errors

[2022-03-10 23:12] #1399 closed

[2022-03-10 23:43] Crip1 commented on #1399
Thanks.   Restored a backup, deleted lock files, restarted, everything seems to be working again.

From: wsbrenk ***@***.***>
Sent: March 10, 2022 6:12 PM
To: akasolace/HO ***@***.***>
Cc: Crip1 ***@***.***>; Author ***@***.***>
Subject: Re: [akasolace/HO] Database Corruption? (Issue #1399)

chpp fixed errors

—
Reply to this email directly, view it on GitHub <https://github.com/akasolace/HO/issue

[2022-03-12 09:52] wsbrenk commented on #1396
Enable cell editing in future training table

[2022-03-12 16:11] #1285 closed

[2022-03-12 16:47] wsbrenk opened #1401 "[FEATURE] Add player's mother club details"
Added in playerdetails Version 2.9
-MotherClub
Container for the mother club of the player.
Added in this Version
TeamID : [unsigned Integer](https://www89.hattrick.org/Community/CHPP/NewDocs/DataTypes.aspx#uint)
The globally unique TeamID of the mother club of the player.
Added in this Version
TeamName : [String](https://www89.hattrick.org/Community/CHPP/NewDocs/DataTypes.aspx#string)
The full te

[2022-03-12 16:54] wsbrenk commented on #1401
this file is only used for nt players in HO. chpp file players does not include this details.

[2022-03-12 17:50] Cold-Burn commented on #1117
Hello @wsbrenk
I confirm you that my previous post is what's happening.

Now everytime that I update HO, I go previously to formation and send Áskell Halldórsson on formation in advance this allows me to bypass this strange bug.

[2022-03-12 17:53] Cold-Burn commented on #1117
I believe that you can emulate this behaviour by naming your player and following the same update/formation procedure.

[2022-03-12 21:18] wsbrenk commented on #1117
@Cold-Burn a renamed player will be replaced with correct name if i update/download ho data.

if you like you could send me your database again - so i could try to reproduce the steps you describe.

[2022-03-13 10:17] wsbrenk opened #1402 "[BUG] Sometimes width of first column of tables are not restored correctly"
UserColumnsTable deletes first columns of next table model id.

[2022-03-13 11:44] wsbrenk opened #1403 "[BUG] NPE in IFA module"
java.lang.NullPointerException: Cannot invoke "core.model.WorldDetailLeague.getCountryId()" because the return value of "core.model.WorldDetailsManager.getWorldDetailLeagueByLeagueId(java.lang.Integer)" is null
	at module.ifa.model.IfaModel.createVisitedStatistic(IfaModel.java:164)
	at module.ifa.model.IfaModel.getVisitedStatistic(IfaModel.java:89)
	at module.ifa.model.IfaModel.getVistedCountriesC

[2022-03-13 19:22] #1389 closed

[2022-03-13 19:22] #1403 closed

[2022-03-13 20:30] #1402 closed

[2022-03-13 20:31] #1396 closed

[2022-03-13 20:46] wsbrenk commented on #1117
@Cold-Burn since the download and storing of lineups changed in HO6 version, you could try to check if this will fix your bug. But please don't use the dev version without backup of your current HO installation including your databases.

[2022-03-19 08:59] wsbrenk opened #1410 "[BUG] HO doesn't display jersey numbers greater than 49"
Feedback from HT forum:

I just changed to HO 5.2 - is there a reason why the number on the Jerseys still don't show for numbers higher than 49? I give my players jersey numbers according to their position, e.g. all wingers are in the 50s, forwards 60s, wingbacks 70s, so it would be a great help for me if Jersey numbers could be shown from 1 to 99...

[2022-03-19 16:04] #1410 closed

[2022-03-21 16:02] masterpatje opened #1412 "[BUG] League Data not shown, fetching data from League Data tab loops and doesn't fetch data."
**Describe the bug**
League data not shown. When I click the refresh arrows button to import league data I get the notification that it might take long. After I click I get the message in red "_Promotion League Data not available. Currently processing, please wait..._." (shown in the image). However after 40 minutes no data and refreshing arrows keep indicating that it is processing data. Don't th

[2022-03-21 16:15] masterpatje opened #1413 "[BUG] Download F11 Old League Data, No Data Shown on League Data Tab"
**Describe the bug**
No League Data shown after download of data. First data is downloaded via the preferred "_F11 method_" menu as indicated in the first image. But when I check the League Data tab no data is shown (second image).

In #1412 I reported that the loop of importing league data never ends. This might be connected to this bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Downl

[2022-03-21 16:59] wsbrenk commented on #1413
@masterpatje did you try to select some of the listed seasons like this:
![image](https://user-images.githubusercontent.com/11821502/159322241-0a2f1171-a22b-491f-b321-2e9086e542d3.png)

[2022-03-21 17:05] masterpatje commented on #1413
Below are screenshots using this method. I got the same result no league data.

![image](https://user-images.githubusercontent.com/102049050/159324780-cbcb5824-e309-4c2d-8a80-edc1278746d1.png)

![image](https://user-images.githubusercontent.com/102049050/159325411-52fbc1b3-bb9c-4b78-ba6a-ef00b6628728.png)

![image](https://user-images.githubusercontent.com/102049050/159325707-3ed64a4c-2b65-4dff-89

[2022-03-21 19:23] wsbrenk commented on #1413
could you please check if there are some errors in your log file (%APPDATA%/HO/logs)

[2022-03-22 21:23] Gospodin0v opened #1414 "[BUG] An error occurred. Exception while painting jar:file/ HO.jar!/gui/bilder/smilies/Group-Team.svg"
Please help! After started HO.exe, app receive this error!

 Windows 11 / 64bit its my OS

[https://ibb.co/6JVCV9V](url)

![Screenshot 2022-03-22 232025](https://user-images.githubusercontent.com/102189164/159578452-a8637fd2-b461-4ea3-a952-d589ab459f2a.jpg)

[2022-03-23 14:04] masterpatje commented on #1413
**=====Error log on 21-03-2021**
[Fatal Error] :1:1: Premature end of file.

**======HO-2021-02-23 log -Today I again tried to download data and included season 69-**
14:43:46 [Info]    core.HO: VERSION: 6.0   versionType:  DEV   RevisionNumber: 250
14:43:51 [Info]    core.model.HOVerwaltung: language used for interface is: Nederlands
14:43:52 [Info]    core.training.TrainingWeekManager: Next week

[2022-03-23 14:08] masterpatje commented on #1413
I don't know if I should share the log file in the comments? So please let me know how to provide you the information?

Please note the latest line in **output log**, referencing to LeaguePromotionHandler and text "not available". Do you consider this related to the problem I am having or is it referencing to another module? (see line below)
[Info] LeaguePromotionHandler: Status of league: 14 : {"

[2022-03-23 16:47] wsbrenk opened #1415 "[BUG] can not add new team"
java.lang.NullPointerException: Cannot invoke "core.model.XtraData.getCurrencyRate()" because the return value of "core.model.HOModel.getXtraDaten()" is null
	at core.HO.main(HO.java:191)
	at core.HOLauncher.main(HOLauncher.java:75)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAcces

[2022-03-23 19:42] wsbrenk commented on #1413
@masterpatje thanks for the log info - it is helpful.

and yes the not available is related to your other ticket.

[2022-03-24 22:48] #1415 closed

[2022-03-24 23:03] wsbrenk commented on #1414
@Gospodin0v Could you please upload the log of that session - should be in %APPDATA%/HO/logs

[2022-03-24 23:05] wsbrenk commented on #1413
the new version should fix the errors in the logs - i'm not sure if they are responsible for your empty series panel

[2022-03-25 23:23] wsbrenk opened #1418 "[FEATURE] youth player training development charts"
show the youth player's training development as line chart

[2022-03-26 08:05] #1418 closed

[2022-03-26 15:02] masterpatje commented on #1413
Yes, in build 6.0.253 issue this fixed! Now league data is shown (!)

There are still 2 (minor) bugs that I encountered, that might be related to each other:
- I selected season 68 and 69 league data to be included in the download
- it processed one part, the orange bar showed a 50% complete rate, and then I got the message "waiting..." and it stayed that way
- at some time I decide to just click

[2022-03-26 15:13] masterpatje commented on #1413
- I tried to again download the data including all season data:
![image](https://user-images.githubusercontent.com/102049050/160245443-6edc3476-1724-4ff4-af2c-65dae3db9d90.png)

- Again "please wait...." and orange bar 50% complete (I made a screenshot this time, image 2)

![image](https://user-images.githubusercontent.com/102049050/160245497-0d25a4d2-cd02-4ec0-94ab-5cde8864f2fb.png)
- going to th

[2022-03-26 15:36] masterpatje opened #1420 "[FEATURE] Option to delete Roaming Data when uninstalling HO"
**Is your feature request related to a problem? Please describe.**
When uninstalling HO, the roaming data folder still exists. This can be usefull in the event that you are downloading a new HO version and you want the old imported old data to be included in the new version. But if you want to do a clean install, because of previous errors for example, you have to manually find out that you need t

[2022-03-26 15:48] masterpatje commented on #1413
I also did a test by fully de-installing the application and manually deleting the files in the Roaming data HO folder located under AppData/Roaming/HO.
[Note: I added a feature request for the optional choice to delete all data when uninstalling] (#1420)

When I tried to download and include all seasonal data by checking Old League Data box, but not specifying which seasons to included. I again g

[2022-03-26 16:21] masterpatje commented on #1413
NEW TEST: Full uninstall and only downloading Team Data
- uninstalling HO
- deleting AppData/Roaming/HO folder
- installing HO_6.0.253 (DEV+JRE 64 bit)
- downloading data (excluding previous matched and excluding League data)
![image](https://user-images.githubusercontent.com/102049050/160247605-32d293a8-39d2-43a1-a8c6-2803b3e6d935.png)

Again "please wait..." and 50% orange completion bar
![image

[2022-03-26 16:36] masterpatje commented on #1413
**TEST** [32 bit version and downloading all but league data]:
![image](https://user-images.githubusercontent.com/102049050/160248419-c7624c8b-46ea-4fed-8f22-f6350f3c694a.png)

Again message "Please wait..." and orange 50% completion bar. Not finishing.....
![image](https://user-images.githubusercontent.com/102049050/160248509-a811a344-9b54-4f3f-919f-27c373600175.png)

After closing application, I

[2022-03-27 14:46] wsbrenk commented on #1413
@masterpatje thanks again for that report.

i hope know, that you can start from scratch without errors.

[2022-03-27 15:53] wsbrenk opened #1422 "[BUG] lineup templates can not be deleted"

[2022-03-27 16:46] masterpatje commented on #1413
Thanks a lot for build v254.

- I downloaded all data (but unchecked league data, see image)
- It seemed to work properly, there were no problems, Yeah!
- output files still gave some errors (see comments below, I thought it was still good to share it with you)

TO DO: Now I will check by doing a second download (with previous League Data).

![image](https://user-images.githubusercontent.com/10204

[2022-03-27 17:02] masterpatje commented on #1413
- Downloading League Data - Season 63 till 69 (see image 1)
- All was working well, yeah!
- Again errors in the output log, but causing no problems (see comments below, for feedback purpose)
- League Data Season 63-39 is available (see image 2), but now there is a new bug. It shows the history from a certain division (2226) and not the historic data from my team.
- In the seasons 66-65-64-63 I was

[2022-03-27 17:20] wsbrenk commented on #1413
@masterpatje  i will see if i could get the leagues of your team from ancient series

[2022-03-27 17:27] #1422 closed

[2022-03-27 17:45] masterpatje commented on #1413
Thanks @wsbrenk .  And also for fixing previous bugs. Really great work.

Please tell me if you want me to test something specific. I will do so and give you the results.

I think that this button below (image) is still not working, but maybe better if I put it in a different bug thread, because it is not connected to the Download function were No League Data was shown. Please let me know and I wi

[2022-03-27 19:07] sophiastr commented on #1401
Hello, i want to deal with this issue.
Do you still need help?
I am beginner, is that a problem?
I will work really hard.

[2022-03-27 19:17] akasolace commented on #1401
@sophiastr help always welcome. Maybe worth to have more inputs .... @wsbrenk what do you have in mind with this one ? Where do you want to add this info ? Also, I am not sure I understand your last comment

[2022-03-27 19:22] sophiastr commented on #1401
I am willing to try and work hard. More specifically, I'm looking for a project to work on intensively in the coming months. I have worked a lot in Java but not in such a popular project.
If I find an issue, can you assign it to me?
Thanks

[2022-03-27 19:44] sophiastr commented on #297
Hello,
Can you assign me this issue?
Thank you.

[2022-03-27 20:04] akasolace commented on #1401
sure, I am ok to assign this one to you but you need to know more precisely what is required ....
Let's wait for extra info from @wsbrenk

[2022-03-27 20:06] akasolace commented on #297
@sophiastr this is a very difficult one. I suggest you to start with something easier.

[2022-03-27 20:07] akasolace commented on #383
@sophiastr for example this one ....

[2022-03-27 20:08] akasolace commented on #450
@sophiastr or this one ....

[2022-03-27 20:33] sophiastr commented on #383
Indeed, this is easier. Thank you very much.
Can you assign me this issue?

[2022-03-27 21:13] wsbrenk commented on #1401
@akasolace , @sophiastr i found, that until now, this chpp-file (playerdetails) is not used for normal players in HO. Only NT players get infos from that file.
For me changing this was to expensive for getting only such limited additional information.

the idea of the use case was to show the player's mother club name in player overview table in an extra colum.

[2022-03-27 21:16] wsbrenk commented on #1413
until now, i never had a look on this part of the organizer. i fear this function might be broken.

[2022-03-27 21:18] wsbrenk commented on #1412
@akasolace Nice to see you back here. Do you know the use case of this promotion function? if i remember this is working with an extra web service - could it be that this connection is broken?

can we implement this use case without the usage of extra web services?

[2022-03-27 21:36] wsbrenk commented on #1413
@masterpatje just scanned the available chpp files (information one could get from hattricks). i don't find any entries concerning the team chronicle side. i don't see any chance to download the correct ancient leagues automatically.

i see 2 options:
* wait on hattrick to make this info available (could last for years)
* enable the user to enter this info manually

[2022-03-27 21:38] akasolace commented on #1412
@wsbrenk yes the code on AnvilServer might need to be updated.  I don't see how to efficiently implement this without a web server.  I would personally recommend to get the data from Hattid (I am sure he would agree to give us endpoints) along with league info but I know you are not a fan of this.

[2022-03-27 21:54] wsbrenk commented on #1413
matchdetails file contains info about league:

[code]

[2022-03-28 06:07] masterpatje commented on #1413
I might have a different idea. I have older .hrf files. Would it be possible to extract Old League Data from it?

For example. When doing a fresh install you can choose either to first import older files before downloading latest .hrf

Otherwise manually entering league numbers is maybe the easiest (less user friendly) solution, but for sure will do the trick.

[2022-03-28 06:14] masterpatje commented on #1412
In #1413 you fixed the (current) League Data so that it can be accessed.

When I open that League Data tab I could see all league data matches and next to each match there was also a ‘red download icon’ like the one described in this bug. I used the symbol next to the match and that one worked and finishes correctly. Indicated by a new symbol. Maybe this gives a clue how to fix the problem?

Note:

[2022-03-28 16:00] sophiastr commented on #1401
Thanks for your reply. I will look for it too and I will ask you if I need something. I will deal with this issue later because i am working on another issue.

[2022-03-29 20:21] wsbrenk opened #1425 "[BUG] wrong season number in training preview"
league offset has to be added:
![training preview](https://user-images.githubusercontent.com/11821502/160700092-c1485d70-27aa-42a6-98e3-eadd85cce592.jpg)

[2022-03-30 18:20] wsbrenk commented on #1413
@masterpatje download of old leagues should now fetch the correct league id by default.

[2022-03-30 18:52] #1425 closed

[2022-04-02 14:48] masterpatje commented on #1413
**v6.0.258.0 downloaded**
**First test: fresh install and using the "Old League Data" option**
**Result: download succesfully complete, no League Data shown
![image](https://user-images.githubusercontent.com/102049050/161388018-25bb1728-8292-4525-a6f6-7c4713a84d0f.png)

![image](https://user-images.githubusercontent.com/102049050/161388041-b00d4fed-d1ec-4660-9cc2-16637be63079.png)

![image](https:

[2022-04-02 15:16] masterpatje commented on #1413
**v6.0.258.0 downloaded
Second test: building on first download, again downloading Old League Data**
1) fresh install as commented above and closing application
2) again downloading data using "Old League Data" option

**Result: Correct Old League Data. Yes!!; you got it working.**

![image](https://user-images.githubusercontent.com/102049050/161389228-559238d5-e2ab-4b21-8682-6674f5c0498a.png)

![

[2022-04-02 15:32] masterpatje commented on #1413
**Conclusion from above tests:**
- Fixed: Yes, you fixed the problem of downloading incorrect download Old League Data. Great work.
- Bug 1: You can't download "Old League Data" on the initial build (first download). It needs to be done on the second download.
- Bug 2: on the fresh install, the "Old League Data" checkbox doesn't do anything.
- Feature 1: Instead that you manually select the correc

[2022-04-02 15:57] wsbrenk commented on #1413
@masterpatje thank you very much for great test report.

* concerning bug 1: i fear this is intentional. there is no information about team's leagues and corresponding season before the initial download succeeded. next commit will disable this download option on initial download.
* concerning bug 2: that's right - will be disabled now
* concerning feature 1: good idea
* concerning feature 2: the d

[2022-04-02 16:08] masterpatje commented on #1413
@wsbrenk good idea that you are disabling it (bug 2). That will make clear that you can't download Old League Data on the first download. **Request: For clarification purposes include a message that the option to download Old League Data is available after the first download is completed.**

Festure/Bug 3: On the initial download also the "League Data tab" stays empty (see image below). Maybe you

[2022-04-02 16:46] masterpatje commented on #1413
wsbrink: _"concerning feature 2: the download of old series is needed only one time, since the data is stored in the database. downloading them with each download would be to heavy"_

Referencing to _"Feature 2: It would be nice if you check the checkbox for "Old League Data" to by default include all previous seasons. This would also fix bug 1."_

I think that I explained myself incorrectly. What

[2022-04-02 17:19] wsbrenk commented on #1413
@masterpatje at the moment hattrick has not yet determined the current fixtures of the upcoming season. i hope that users starting next week will see their fixtures

[2022-04-02 21:58] masterpatje commented on #1413
Oke I will do a fresh install next week and check if after 1st week of the league, after I played the first match, that League Data it is available. The league is however already determined, but this data is not included in the .hrf downloadable data?

[2022-04-03 09:06] wsbrenk commented on #1413
@masterpatje the teams are already there, but not the fixtures.

[2022-04-03 09:21] wsbrenk opened #1430 "[BUG] upgrade HO3 to HO6"
feedback from ht forum:
![hoerror](https://user-images.githubusercontent.com/11821502/161420712-a2ead356-e369-4b07-bde2-e84eeda42198.jpg)

[2022-04-03 12:52] #1430 closed

[2022-04-03 13:02] wsbrenk opened #1433 "[BUG] error downloading anniversary team"
feedback from ht forum:
I tried the new version 6.0261, but it's the same as in 6.0259: when I try to download the 4th team (anniversary team), it says "Die Datei ist fehlerhaft" [ File is corrupt]

[2022-04-05 07:38] masterpatje opened #1434 "[BUG] checkbox Old League Data functionality"
**Describe the bug**
The checkbox Old League Data does not do anything by itself other then making the selecting menu available, but when no seasons are selected it doesn't download anything. Best would be to download all seasons by checking the box, because this is a one time use function to get history data. And if people don't want all data, they can just refer to the method of selecting a sing

[2022-04-05 07:50] masterpatje opened #1435 "[FEATURE] Showing League teams on the League Data tab if no fixtures are yet available or no match is yet played"
**Is your feature request related to a problem? Please describe.**
As noted in #1413 we found out that the League Data tab stays empty when no fixtures are yet created. This might be confusing for new users, because it then seems that there was an incorrect build, while this is not the case. It is correctly build, but there are not yet any matches and the page stays empty. This also looks a bit po

[2022-04-05 07:54] masterpatje commented on #1413
Oke did some testwork (v261):
- **fixed**: disabling the "old league data" checkbox on the initial download / first build
- **fixed**: a lot of error notifications from the output log (there are now only warnings and debug info left)

 [Info]    HO: users.json file not found => a new one will be created
 [Info]    HO: VERSION: 6.0   versionType:  DEV   RevisionNumber: 261
 [Info]    HOVerwaltung:

[2022-04-05 07:59] masterpatje commented on #1434
Additional idea is if you download all seasons by only using the checkbox, that all "actual seasons" will be automatically downloaded, so that you don't have to click through the pop-up windows.

[2022-04-05 08:02] masterpatje commented on #1413
#1413 is tested and works. So consider this one done aka fixed.
New bug and feature request following this one are created under #1434 and #1435

[2022-04-05 16:43] #1413 closed

[2022-04-05 20:43] masterpatje commented on #1395
I downloaded a lot of files in v6.0.261 and previous versions of 6.0. A lot of .hrf files even up to 2012 (!) and all worked fine. So I would advise to use the new 6.0 version and close this issue.

The issue is related to v5.2 so not relevant to the v6.0 versions.

[2022-04-06 09:47] padr19 commented on #1395
You are right, version 6 works very well. Thank you.

[2022-04-06 09:47] #1395 closed

[2022-04-07 18:18] wsbrenk opened #1437 "[BUG] training is not downloaded of hattrick anniversary cup team"
subskills are not calculated

[2022-04-07 20:42] #1437 closed

[2022-04-08 20:06] wsbrenk opened #1439 "[BUG] training prediction table shows wrong training week columns"
one week next to it

[2022-04-08 20:25] #1439 closed

[2022-04-09 11:51] wsbrenk opened #1441 "[FEATURE] Add player category and statement to player information"
in addition to shirt number ht user can edit
* player statement
* player category

both should be downloaded and displayed in HO

[2022-04-09 15:32] wsbrenk commented on #1441
* owner notes too

since we transport all data through the hrf files, statements and owner notes have to loose the new lines

[2022-04-09 17:15] masterpatje opened #1444 "[FEATURE] After finishing the installation, automatically start application"
**Is your feature request related to a problem? Please describe.**
In the developing stage, new versions are available. When the installation finishes I have to open the application.

**Describe the solution you'd like**
I would prefer that the application is automatically started after the installation is finished.

**Additional context**
It does not make a lot of sense that when people are insta

[2022-04-09 17:17] masterpatje commented on #1435
Additional info: Might also lead to the following output log errors which are refererring to SpielerTable errors:

 [Info]    HO: VERSION: 6.0   versionType:  DEV   RevisionNumber: 266
 [Debug]   DBUpdater: No DB update necessary.
 [Info]    HOVerwaltung: language used for interface is: Nederlands
 [Error]   SpielerTable: java.sql.SQLException: Column not found: Statement
 [Error]   SpielerTable:

[2022-04-09 17:22] #1441 closed

[2022-04-09 17:23] masterpatje opened #1445 "[BUG] Importing .hrf files gives errors in output log"
**Describe the bug**
Importing .hrf files leads to seemingly succesfull import, but errors in the output log.

**To Reproduce**
Steps to reproduce the behavior:
Import a lot of .hrf files (>100)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: Windows 10
 - Version 266

**Additional context**
A couple of examples from many from the out

[2022-04-09 17:26] masterpatje commented on #1445
Closing and re-opening the application after the import of a lot of .hrf files (>100) described above and now my team is gone.
![image](https://user-images.githubusercontent.com/102049050/162584802-38cebd91-f4f2-464c-9124-18363552cb5a.png)

And the correpsponding output.log
[output.log](https://github.com/akasolace/HO/files/8457468/output.log)

[2022-04-09 17:30] masterpatje commented on #1445
Had to again download a new .hrf file.

And the strange thing is that in the comparison .hrf files all files seems to be available. But clicking them won't give a comparison (!). So it seems like the data is incorrectly imported.

[2022-04-09 17:33] masterpatje commented on #1445
Single .hrf file import seems to also fail. So I think in general there is some problem with importing older .hrf files.

Copied a part of the output log.

 [Error]   JDBCAdapter: JDBCAdapter.executeUpdate : java.sql.SQLSyntaxErrorException: user lacks privilege or object not found: STATEMENT
Statement: INSERT INTO SPIELER ( GelbeKarten , SpielerID , ArrivalDate, FirstName , NickName, LastName , A

[2022-04-09 18:36] wsbrenk commented on #1445
@masterpatje your log is saying that  column STATEMENT is not in database table SPIELER.

latest version should have created it (#1441). don't know, why it is missing. Could you please try to rerun the database update:

* take a database backup from previous dev version
* start new version 266
* and check log for errors mentioning database STATEMENT
* and or start sql editor (debug->sql editor)

[2022-04-09 20:36] masterpatje commented on #1445
Can I also do a fresh install? Or do you want me to install v261, create a database and then import that database in v266.

although you are quite specific, I am abit unsure what you are asking me to do, so that I can provide you with test results.

[2022-04-09 21:41] wsbrenk commented on #1445
@masterpatje i found the error - if you make a fresh install, the error should be fixed.

[2022-04-09 21:51] wsbrenk commented on #1445
fix db update for ho instances which first started with v6 dev version.

[2022-04-09 22:31] #1392 closed

[2022-04-10 08:39] masterpatje opened #1448 "[FEATURE] Status and TSI colomn takes too much space / additional field "Playable""
**Is your feature request related to a problem? Please describe.**
When trying to adjust column width of fields, some fields are restricted to re-adjust. Status and TSI for example take too much space. These are needed colums however, because TSI is good to show with a player, but now it takes up too much space.

**Describe the solution you'd like**
Adjust columns.
For the **TSI field**
1) delete

[2022-04-10 08:47] masterpatje commented on #1445
Downloaded version v268
- installation did not have any errors
- 1 known warning, no match to determine location, today will be the 1st league match, so after today that warning should be gone with a clean install
- after downloading this week's data, I imported last week's data (5 april 2022)
- got the message "HRF file succesfully included"
- and 5 april 2022 is available as a comparison file

-

[2022-04-10 08:58] masterpatje opened #1449 "[FEATURE] Youth tab - don't use slider, and put graph on the left"
**Is your feature request related to a problem? Please describe.**
The sliders on the bottom of the page are taking too much space. I think the same functionality can be done without a slider.

Next to that it confuses me, because I have no idea what the slider is for, what does setting the slider for starting and current skill do??

The graph on the right which shows developments is on the right

[2022-04-10 09:11] masterpatje commented on #1445
Hmmm the comparison is doing something actually, maybe it is succesfully imported, I see below the player table the following:
![image](https://user-images.githubusercontent.com/102049050/162611099-314cc799-4040-4894-ba03-931961820681.png)

But it is not visible in the comparison section where the players are shown, normally you would see the difference from last week indication by a + or - and th

[2022-04-10 09:31] wsbrenk commented on #1445
@masterpatje many thanks again for your great QA job!

[2022-04-10 12:20] masterpatje commented on #1445
@wsbrenk I appreciate that. The way you respond as a developer motivates me to do proper QA. I am very willing to test other issues, but only if they are related v6.0+. I think this version is superior to other versions and want to help making it the best version. And besides that I am an user as well, so I benefit from it directly. So a win-win.

So it would be nice if we can make this the beta v

[2022-04-10 18:08] wsbrenk commented on #1445
@masterpatje it is very likely that incorrect skill calculation was caused by this bug. import of hrf files was not the main focus of last years development.

[2022-04-10 20:16] masterpatje opened #1451 "[BUG] League Data Tab - League Table shown after re-adjusting window"
**Describe the bug**
The left League Table is not shown on initial clean install. I have to manually adjust the window by clicking and making it width enough to show the league. I think that it should have a fixed width so that the table is shown. Now only the graph is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Clean install
2. Download a .hrf file
3. Go to League Data Tab
4. Lef

[2022-04-10 20:19] masterpatje commented on #1445
Yes in v269 this bug is fixed.

![image](https://user-images.githubusercontent.com/102049050/162638169-6b3312dd-e553-4293-9f23-b8e728914322.png)

[2022-04-10 20:24] masterpatje commented on #1445
Wait.. still got some errors in the output file. Functionality is working but still a few errors.

22:09:40 [Error]   core.db.TeamsLogoTable: logo information not available in database for team ID=365613
22:09:40 [Error]   core.gui.theme.ThemeManager: logo not found for team 365613
22:09:41 [Error]   core.net.MyConnector: Failed to select a proxy
java.io.IOException: Failed to select a proxy
	at j

[2022-04-10 20:25] masterpatje commented on #1445
**re-opening the application gives another error in the outpot.log file**

 [Info]    HO: VERSION: 6.0   versionType:  DEV   RevisionNumber: 269
 [Debug]   DBUpdater: Update to 601 complete but this is a development version so DBVersion will remain unchanged
 [Info]    HOVerwaltung: language used for interface is: Nederlands
 [Info]    TrainingWeekManager: Next week training date: 2022-04-15 01:05

[2022-04-10 20:29] masterpatje commented on #1445
**Importing another .hrf files (the week before that one) produces the following output. Again stating some errors.**

 [Debug]   UpdateHelper: Error downloading from 'https:http://res.hattrick.org/teamlogo/11/102/1012/1011878/1011878.png': java.lang.NullPointerException: Cannot invoke "java.io.InputStream.read()" because "in" is null
 [Error]   TeamsLogoTable: error when trying to download logo o

[2022-04-10 20:46] masterpatje opened #1452 "[FEATURE] Comparison .hrf files by training-week, not by matchday"
**Is your feature request related to a problem? Please describe.**
When comparising .hrf files to see the change in training it would make more sense to see the training week than by using the matchday. There can be two training updates within the same matchday. If you download on monday and friday after 01:05 you have two training updates. See screenshot for an example.

The idea for the comparis

[2022-04-10 21:06] masterpatje commented on #1445
**Output.log After adding a few more old .hrf files**
_new lines_
[Debug]   TrainingManager: HOVerwaltung model changed => TrainingManager and TrainingWeekManager are reinitialized
 [Info]    TrainingWeekManager: Next week training date: 2022-04-15 01:05:00
 [Debug]   LineupRatingAssistantPanel:  refresh() has been called
 [Debug]   LineupPositionsPanel: refresh() has been called
 [Debug]   Traini

[2022-04-11 19:31] RanzEckenklauer commented on #1433
Hi! Danke dass Du dich drum kümmerst, die Zip-Datei hänge ich an, hoffe ich mache alles richtig.
(Umgangssprache Deutsch hier okay?)
[db_user-2022-04-11.zip](https://github.com/akasolace/HO/files/8467182/db_user-2022-04-11.zip)

[2022-04-11 20:36] wsbrenk commented on #1433
@RanzEckenklauer die datenbank ist leider komplett leer. Könntest Du noch mal den Download machen und mir anschließend die log-datei liefern. %APPDATA%/HO/logs

[2022-04-11 21:12] wsbrenk commented on #1433
[code]

Time of arrival of PhilliipAlexander Kaske is missing

[2022-04-11 21:16] RanzEckenklauer commented on #1433
[output.log](https://github.com/akasolace/HO/files/8467803/output.log)
[error.log](https://github.com/akasolace/HO/files/8467804/error.log)
[HO-2022-04-11.log](https://github.com/akasolace/HO/files/8467805/HO-2022-04-11.log)

Ich hoffe ich hab alles richtig gemacht...

[2022-04-12 16:01] wsbrenk opened #1454 "[FEATURE] shirt number column"
Feedback from HT forum:
A request and a suggestion:
I like to line up by jersey numbers because that's how I sorted the players. Unfortunately, the numbers on the jersey are very difficult for me to see. Would it be possible to put the numbers of the players in a separate column, like for example 1.437 without a jersey?
And a suggestion:
There are now ur many columns which are not very important t

[2022-04-14 14:57] cheilson opened #1455 "No league details in tab[BUG]"
**Describe the bug**
League tab is empty, can't get the league to show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'LEAGUE tab'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
[https://ibb.co/2yhq97D](url)

**Platform information:**
 - Win 11 home, 21H2
 - HO 6.0 DEV (r270)

**Additional context**
Add any other context about the problem here.

[2022-04-14 18:32] wsbrenk opened #1456 "[BUG]NPE in training prognose panel"
20:29:58 [Info]    core.HO: VERSION: 6.0   versionType:  DEV   RevisionNumber: 268
20:30:09 [Info]    core.model.HOVerwaltung: language used for interface is: Deutsch
20:30:09 [Info]    core.training.TrainingWeekManager: Next week training date: 2022-04-15 00:30:00
20:30:09 [Info]    core.gui.HOMainFrame: This is HO! version 6.0 DEV (r268), have fun!
20:30:09 [Info]    core.gui.HOMainFrame: Operat

[2022-04-14 19:11] wsbrenk commented on #1454
column is available - only shrinked to width 0:

![image](https://user-images.githubusercontent.com/11821502/163459981-d63bde96-eadf-44f1-9b6a-e4634ff2ae40.png)

[2022-04-14 19:14] wsbrenk opened #1458 "[BUG]npe in MatchLineupPosition.getStartPosition"
feedback from ht forum:

I have a new Problem with Version 6.0xxx
It appeared when I tried to download the HT- Teampdates this morning.
It only appear with one of my teams (strangely enough NOT with the fourth team)!
First it appeared in Version 6.0270, but when I tried to start the 6.02630 again (I had saved the Data somewhere else), the same problem appeared there, too...before it ran perfectly.

[2022-04-14 21:45] #1456 closed

[2022-04-14 22:27] #1454 closed

[2022-04-15 09:07] wsbrenk commented on #1455
@cheilson this seems to be a problem after the very first download. Did it remain when you download again (F11)?

[2022-04-15 09:16] cheilson commented on #1455
Yes, it persists. I tried checking and unchecking everything at download window.

[2022-04-15 09:28] cheilson commented on #1455
And now the league tab is full. Funny, I did nothing different.

[2022-04-15 10:20] masterpatje commented on #1455
@wsbrenk you fixed it on the very first download. It had to do with no matches yet present in the off-season. As soon as the first match of the league is played everything works perfectly also on the very first download.

Suggestion was to see if League Details (teams) can be subtracted from .hrf file from league ID (if available?), so that even when no matches are played the League Table can be s

[2022-04-15 10:43] masterpatje opened #1461 "[BUG] error message in output.log when logo not found / no logo available"
**Describe the bug**
One of my teams in my league does not have a logo. Apparently this lead to an error message in the output.log.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'League Data tab'
2. Download match from a team that has no logo (aka click red arrow symbol next to that match)
3. Upgraded version v270 to to v273
4. Opened application
5. Look at the output.log

**Screensh

[2022-04-15 10:50] wsbrenk commented on #1455
that's right - just looked if there is a chance to do it the way @masterpatje suggests, but  unfortunately ht (chpp) provides the information of the participating teams only when the games are fixed. So there are some weeks at the beginning of a new season without any information about the teams in the league.

[2022-04-15 10:57] masterpatje commented on #1461
Tried to reproduce it.
Clicking O.N.S. Sneek - Stator match
Image is the situation **after** I clicked it. It did not stop at 50% and completed.
![image](https://user-images.githubusercontent.com/102049050/163563000-d5963038-c81e-4115-a67c-2e46bdc97ea9.png)

But again got some usefull error output:
 [Error]   TeamsLogoTable: logo information not available in database for team ID=365613
 [Error]

[2022-04-15 11:06] masterpatje commented on #1461
The following match is not finished:
![image](https://user-images.githubusercontent.com/102049050/163563517-fb814312-a20a-427e-888a-0f7b99eb12df.png)
![image](https://user-images.githubusercontent.com/102049050/163563587-ab363cce-7cd1-4fb5-a7db-8d1b134dc579.png)

And the following output is generated. The mentioned team ID=365613 is O.N.S. Sneek, so I am a bit unsure why that is, because I downloa

[2022-04-15 11:33] wsbrenk commented on #1461
commit will fix some logo download issues and changes log level from ERROR to DEBUG when teams have no logo.

[2022-04-15 21:41] #1451 closed

[2022-04-17 08:26] #1433 closed

[2022-04-17 08:28] #1360 closed

[2022-04-17 08:29] #1345 closed

[2022-04-17 08:42] wsbrenk commented on #1445
recalculation of player skills does not work after reimporting old hrf files

[2022-04-17 09:40] masterpatje opened #1466 "[BUG] Database Cleanup - Remove HRFs intelligent (by trainingweek)"
**Describe the bug**
Following up on the (correctly) implemented comparison by training week function (issue #1452).
This bug is related to the Database Cleanup. This function should remove HRFs files also by training week, so that only relevant comparison files are left in the database.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'File -> Database -> Database Cleanup'
2. Click on

[2022-04-17 09:42] masterpatje commented on #1452
Well done, works perfectly. I tested it with a couple of seasons from old HRFs files and the training week number are logical to me and is implemented correctly. Opened a new issue related to this one with respect to the Database Cleanup. Open under #1466

[2022-04-17 09:42] #1452 closed

[2022-04-17 09:55] masterpatje commented on #1451
![image](https://user-images.githubusercontent.com/102049050/163709507-2e10f9f5-baee-48ba-a4a3-2737c13e528b.png)

Fixed.

[2022-04-17 10:04] masterpatje opened #1467 "[BUG] TeamAnalyzer Error on initial installation"
**Describe the bug**
New clean installation. Before downloading team data go to tab TeamAnalyzer. An error occurs. See screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Clean installation
2. Go to 'TeamAnalyzer' (before downloading team data)

**Screenshots**
![image](https://user-images.githubusercontent.com/102049050/163709689-5653a93f-24f4-4c88-80a6-f8666de0335c.png)
**Details**

[2022-04-17 10:21] masterpatje opened #1468 "[BUG] Adjust windows - several locations"
**Describe the bug**
Window adjusting on initial build on several location. Provided screenshots (initial build and when teamdata is downloaded). Main idea is that on the initial build you want all windows to be fully visible. They can later be adjusted to the need of an user. Now some windows are not fully shown. Instead of describing it I send screenshots. Just adjust the height of the top windo

[2022-04-17 10:25] masterpatje commented on #1468
One more location **TeamAnalyzer**
![image](https://user-images.githubusercontent.com/102049050/163710506-9a2b9b90-5904-442c-a3b4-9a30fbe0f097.png)

[2022-04-17 10:42] masterpatje commented on #1468
**Training**
Adjust left top window to add a few more players (5-10?)
Adjust right top window to add a few more rows (5-8?) of past trainings
![image](https://user-images.githubusercontent.com/102049050/163710967-4eab4177-2159-4553-9db8-dfc88a37662b.png)

[2022-04-17 10:43] masterpatje commented on #1445
**Error messages are fixed. This bug is killed.**

Reactio to your comment:

I will post a new feature request. Maybe at the import of a .hrf file also the appropiate training can be set for past trainings.

[2022-04-17 10:43] #1445 closed

[2022-04-17 10:51] masterpatje opened #1469 "[FEATURE] Recalculation of players skill after reimporting old HRF files"
**Is your feature request related to a problem? Please describe.**
As stated by @wsbrenk
Recalculation of player skills does not work after reimporting old hrf files

_Originally posted by @wsbrenk in https://github.com/akasolace/HO/issues/1445#issuecomment-1100832860_

Idea for a sollution. At the import of an old .hrf file it would be great if also the appropiate training is set for past trainin

[2022-04-17 10:58] masterpatje commented on #1461
**Errors in output.log are fixed, but..**

After clicking the Sporting Poznan - Asteria match it seems that it correctly gets the data, but I get the message "please wait..." and orange bar that doesn't complete.
And the following output is generated to the output.log

![image](https://user-images.githubusercontent.com/102049050/163711415-0996f5e9-11b2-4955-a307-3cfd83a247cd.png)

[Debug]   Traini

[2022-04-17 11:02] masterpatje commented on #1461
After clicking the ONS Sneek - Stator match it seems that it correctly gets the data, but I get the message "please wait..." and orange bar filled a bit more from last comment but still doesn't complete.
I added the output that was generated to the output.log

![image](https://user-images.githubusercontent.com/102049050/163711614-3b3a4d05-912b-432d-8e86-db79b431d250.png)

[Debug]   OnlineWorker: G

[2022-04-18 17:28] masterpatje commented on #1469
**Output.log**
 [Info]    HO: VERSION: 6.0   versionType:  DEV   RevisionNumber: 278
 [Debug]   DBUpdater: Update to 601 complete but this is a development version so DBVersion will remain unchanged
 [Info]    HOVerwaltung: language used for interface is: English
 [Info]    TrainingWeekManager: Next week training date: 2022-04-22 01:05:00
 [Info]    HOMainFrame: This is HO! version 6.0 DEV (r278),

[2022-04-18 17:39] masterpatje opened #1471 "[FEATURE] Right-mouse button copy-paste - Authorization code"
**Is your feature request related to a problem? Please describe.**
This feature request isn't important, because you have to do it once. But now that I am testing multiple versions, I noticed it and thought to notify it.

When I want to copy the code from the hattrick CHPP Authorize page I have to do this with for example the Windows ctrl+v combination. It would be easy if I can do it with the mou

[2022-04-18 17:51] masterpatje commented on #1469
**On a fresh install when importing a lot of HRF files also with HRF files with different dates but the same trainingweeknumber.**
19:40:07 [Info]    core.training.TrainingWeekManager: Next week training date: 2022-04-22 01:05:00
19:40:08 [Warning] module.lineup.Lineup: The player id: 433336604 cannot do the substitution
19:40:08 [Warning] module.lineup.Lineup: The player id: 433336604 cannot do t

[2022-04-19 00:05] sophiastr commented on #383
Good Evening,
Sorry, I have no solution to the problem yet. I estimate that within 1 or 2 weeks I will have solved it. Sorry again. However, I have some questions. I do not understand how stamina is being calculated so far.
Can you tell me in which class the player's stamina is calculated?
I found this class related to the player's stamina.
![Στιγμιότυπο οθόνης (533)](https://user-images.githubuse

[2022-04-19 21:51] wsbrenk commented on #383
@sophiastr I don't think there is already a calculation of the stamina subskill in HO

other skills are calculated in HOModel.calcSubskills

[2022-04-19 21:58] wsbrenk commented on #1468
@masterpatje again good ideas!

all suggestions adjusted (I just left the team analyzer as it was)

[2022-04-20 07:08] masterpatje commented on #1468
Thanks. And it works.

Now that I see the result, I would suggest two (minor) changes.
**Training** (adjust width left side so that all skills are shown, the right part does not need that much space)
![image](https://user-images.githubusercontent.com/102049050/164170159-c12cdd14-8afd-401a-89c8-f2453a966221.png)

**Line up** (I would put the right side on the left side, people tend to look at a pag

[2022-04-20 07:11] masterpatje commented on #1469
In version 281 the past trainings are not visible after importing
![image](https://user-images.githubusercontent.com/102049050/164171149-7aa3c5c6-e23b-4dba-af22-38bcbadf3452.png)

![image](https://user-images.githubusercontent.com/102049050/164171062-65ef778b-f132-4c14-86f3-7b6a2f891860.png)

[2022-04-20 07:12] masterpatje commented on #1469
**Ouput.log** (part of it)
[Error]   JDBCAdapter: JDBCAdapter.executeUpdate : java.sql.SQLDataException: data exception: invalid datetime format
Statement: INSERT INTO TRAINING (TRAINING_DATE, TRAINING_TYPE, TRAINING_INTENSITY, STAMINA_SHARE, COACH_LEVEL, TRAINING_ASSISTANTS_LEVEL, SOURCE) VALUES ('2022-03-24T23:05:00Z', -1, 0, 0, 0, 0, 3)
java.sql.SQLDataException: data exception: invalid datetim

[2022-04-20 19:20] masterpatje commented on #1461
@wsbrenk I am unsure if in the newest update this problem is fixed.

Do you want me to test it again?

[2022-04-20 21:01] wsbrenk commented on #1461
@masterpatje please wait is still not fixed - only the team logo errors are handled for now.

[2022-04-21 07:25] masterpatje commented on #1469
Superb work.

**FIXED ON AN EXISTING DATABASE ON THE NEW DOWNLOAD OF DATA**
I first tested v282 by building the new installation on top of v281. On a new download, it resets the training table accordingly. This is a really good thing.  In that way it works also for users that already had HRF files imported. Well done, I am impressed.

I can see that you have used the starting date from the team to

[2022-04-23 15:08] wsbrenk commented on #1469
initial training time calculation fixed

[2022-04-23 15:22] wsbrenk commented on #1348
nothing todo here - i think

[2022-04-23 15:22] #1348 closed

[2022-04-23 15:25] aristodemos2008 opened #1477 "[BUG] unable to download lineup"
**Describe the bug**
Download lineup button is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Update with F11.
2. Go to 'Lineup' tab

**Screenshots**
[https://i.imgur.com/SfAxY3D.png](https://i.imgur.com/SfAxY3D.png)

**Platform information:**
 - OS: Windows
 - Version 5.2 (build 3945)

[2022-04-24 08:14] masterpatje opened #1479 "V283 code -> assets missing"
Via the Github app you get the following:

![image](https://user-images.githubusercontent.com/102049050/164966823-ab9f8289-3009-4e58-8a73-8ecc07109b25.jpeg)

![image](https://user-images.githubusercontent.com/102049050/164966828-441437f3-d15e-48f8-868a-c7585a20804e.jpeg)

Via the desktop browser it is visible that only a .zip file is available and assets are missing. V283 cannot be downloaded.

[2022-04-24 09:41] #1479 closed

[2022-04-24 09:43] Aurust opened #1480 "CHPP ERROR 59 we had a team called Ewoks now deleted but HO still recognises it. We raised a new Team Ewakks in the DB BUT HO does not recognise it. Can this error be fixed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2022-04-24 09:49] wsbrenk commented on #1480
if you are on windows open the folder %APPDATA/HO/db and delete the 3 files
* database.data
* database.properties
* database.script

then start HO, download data (F11) and connect to your new team.

[2022-04-24 10:00] #1458 closed

[2022-04-24 11:07] masterpatje commented on #1461
Fixed. Working properly in v284.

[2022-04-24 11:07] #1461 closed

[2022-04-24 11:10] masterpatje commented on #1467
Fixed.

[2022-04-24 11:10] #1467 closed

[2022-04-24 11:22] masterpatje opened #1481 "[BUG] re-importing a HRF files gives an unrecoverable error"
**Describe the bug**
I think that it is related to the #1469 fix. Importing HRF files is working properly and re-importing the same files was handled fine previously, but now when I again import the same HRF files I get an error. I did this because from a testing purpose I was importing the files one-by-one and multiple HRF files and then when importing more HRF files which also included the HRF f

[2022-04-24 11:38] masterpatje commented on #1481
I did a few more test. It only gives a problem when a HRF file is already in the database. New HRF files are handled correctly. But when this problem occurs it corrupts the database, no players are visible anymore in the "squad".

[2022-04-24 11:44] masterpatje commented on #1469
The training table is correctly set when importing HRF files.
Is the recalculation subskills based on this table? Because recalculation of subskills (7 weeks) gives not the result I would expect.

In the new fix the following functionality is not longer present (it has to be set manually again):
_"And also if you miss an entry it takes on the value of the last known entry. It is updated accordingl

[2022-04-24 20:49] wsbrenk commented on #1481
@masterpatje unfortunately I could not reproduce the error. I suspect that possibly the hrf file could be broken.  I tried to do something about it.

please check the hrf file, if there is something wrong inside

[2022-04-24 21:04] masterpatje commented on #1481
Thanks for checking. I will test it again (the new version). And see if I can locate the HRF file that gives the error. In that case it must have been one of the newer HRF files, because I didn't have this problem before.

[2022-04-24 21:07] masterpatje commented on #1481
Is there an easy way to check if a HRF file is broken? If I import a file which is corrupt do I get an error in the output.log normally?

[2022-04-24 21:46] masterpatje commented on #1469
@wsbrenk I tfirst tested importing one HRF file a time. The files are correctly imported. I noticed that the training table is correctly set (first screenshot).  So it seems to me HRF files are oké. For the other bug #1481 I will test it by again importing the same HRF files one at a time. To see if I can reproduce the error and one which .HRF file it occurs.

The calculation of the subskills is n

[2022-04-24 21:55] masterpatje commented on #1481
In #1469 I described that I imported HRF files one at a time. I decided to close the application to make sure there is not something running in the background. After I re-opened it and AGAIN imported the HRF file of today (24/4/22) and checking the checkbox "apply to all" I again got the error. I will do a clean installation and will check if it has something to do with the checkbox.

I am absolut

[2022-04-24 22:09] masterpatje commented on #1481
Tested it again (now with a HRF file from 25/4/22) and this time I did not check the checkbox. And got the same error.
![image](https://user-images.githubusercontent.com/102049050/164998725-337d7b64-cc7a-4549-8fb5-4f80b874cf1d.png)

**Next test. Clean installation and I will test if I select "No" when asked to store the file in the database.**

[2022-04-24 22:33] masterpatje commented on #1481
This time I tested it with only importing HRF files (instead of first downloading a HRF file and then importing HRF files) to simplify the process. And I could determine that the error is occuring when the re-imported file is stored in the database.

When selecting NO it cancels the HRF-file import and no error occurs. (Note: what is the difference between No and Cancel? The same function?)

When

[2022-04-25 17:28] wsbrenk commented on #1481
found it. Never tried to reimport latest hrf file;-(

[2022-04-25 21:23] wsbrenk commented on #1468
just adjusted training panel - concerning line up, we should do some kind of poll. for me the more important part of the line up panel is on the left side.

[2022-04-26 09:26] Aurust commented on #1480
Did exactly as described however our main team W Eagles loaded normally but set second team as Ewakks which loaded as the deleted Ewoks which is wrong. So in other words it did not work.
HO sees the Ewoks but not the Ewakks. Would I have to rename the Ewakks as something else but in HT would have to wait until season end.
Can HO be reprogrammed to read properly the above situation.
When reloading

[2022-04-26 10:54] masterpatje commented on #1468
Don't see the change, left part seems the same to me.
![image](https://user-images.githubusercontent.com/102049050/165284308-b5b34967-e948-49e5-911d-28db63b59e85.png)

Maybe also you can work with a split panel like with the squad to seperate the player, so that it can manually be adjusted:
![image](https://user-images.githubusercontent.com/102049050/165284469-ef558630-da43-4fb0-9925-622c7ff0733b.

[2022-04-26 10:55] masterpatje commented on #1481
Fixed in v288.

[2022-04-26 10:55] #1481 closed

[2022-04-26 11:11] masterpatje commented on #1481
**New unexpected behaviour:**
The subskills are available after downloading today's HRF file. But when re-importing the downloaded today's HRF file the subskills are removed and are visible that they are substracted (see screenshot by selecting the comparing file as today's file). This might be intended behaviour in the way that it is programmed. So please verify if this is what you wanted.

![ima

[2022-04-26 11:17] masterpatje commented on #1468
Oke I see what you did. You showed less past trainings, this is unwanted. I would prefer the old trainings to be visible. This is usefull.

The right part needs less space. I meant the width of that part. So that the left side is fully visible.
But as I commented also an option with seperated panels will work.

And for the **height** of the past training, could you go back to the previous setup? T

[2022-04-26 11:41] masterpatje commented on #1469
Training table is correctly set and no longer problems with importing HRF files. The past training table is correctly set. **FIXED**

On the import of HRF file the subskills are **not** recalculated. Can you fix this? Or is this complex programming? Importing the today's HRF file even removes the subskills calculation from last download. See comment in #1481.

Lastly manual recalculation by "**rec

[2022-04-26 11:45] masterpatje commented on #1466
Almost fixed. Functionality works perfectly, except for last week. I have a notification that there are two entries.
![image](https://user-images.githubusercontent.com/102049050/165292801-e6a126ec-e7d2-4f4f-b3ff-e93c6530b654.png)
I think that the entree of 24 april 2022 should be removed, so that only the last file (with the most recent information) is included.

[2022-04-26 11:50] masterpatje commented on #1477
Could you check if that button is disabled in the latest **developer** version 6.0 (v288 or higher)?

That developer version is as I concern stable enough to be used and looks really nice. And maybe it could be usefull to incorporate this bug to be fixed in the newest version.

[2022-04-26 19:09] sophiastr commented on #383
Hello again, I am working on the method for calculating stamina.
Now, I understand better the project and the various variables.
Can you give me more information on how to adjust stamina?
What exactly do you want me to do?
Also, if you want my opinion it would be useful to put more parameters in stamina calculation.
For example, the minutes a player has played, training, and injuries affect the st

[2022-04-26 20:42] wsbrenk commented on #1469
if hrfs are reimported the subskills of the players are resetted since hrf files do not contain subskills. An automatic recalculation could be very time consuming. i think it is better to do this on demand.

[2022-04-26 20:54] wsbrenk commented on #1469
recalc subskill 7 week takes into account all trainings of the last 7 weeks - not 8.

from 3. to 5.: will try to reproduce this

[2022-04-26 20:56] wsbrenk commented on #1466
Latest hrf is never removed - this is intentional

[2022-04-26 21:05] wsbrenk commented on #1480
what do you see, if you start File->Database->Database/user administration:

![image](https://user-images.githubusercontent.com/11821502/165392106-7918b8c5-c053-476b-9c31-8746c536972f.png)

did you try to add your new team there. you can delete your previous team there too.

[2022-04-26 21:17] wsbrenk commented on #1468
![image](https://user-images.githubusercontent.com/11821502/165393764-a2517199-04d4-4384-935f-2e5ff1dd1c68.png)

this is how training looks like, if i start HO from scratch.

Resize of the main window gives this:

![image](https://user-images.githubusercontent.com/11821502/165393915-27d1bfbb-83be-4c97-b2f2-ff1233b4de42.png)

[2022-04-26 21:25] wsbrenk commented on #1468
all parts can easily adjusted as you like:
![image](https://user-images.githubusercontent.com/11821502/165395001-3678a6b1-e447-4cd3-90df-224b02329343.png)

[2022-04-26 22:54] masterpatje commented on #1468
I would like to see the width not widther than needed. So a cut off at stamina would make sense.

But maybe working with two panels, one with only the name of the player and one with the skills would make more sense, because it then can be adjusted to the need of the user. Because otherwise scrolling with the bar to the right means that you see skills without the player name. Under the condition t

[2022-04-27 08:49] masterpatje commented on #1468
This is what I exactly mean with an ideal window. It is balanced (calm to the eye) and wide just wide enough for all skills to be shown and with enough space on the right.

_Extra_: make a seperate panel for the player name, so that it is always shown and users have more abilitie to adjust to their own needs.

![image](https://user-images.githubusercontent.com/102049050/165479534-dcb1dc7d-0593-40a

[2022-04-27 18:51] wsbrenk commented on #1468
in all this, we have to take into account the different screen sizes. mine is 2560x1600. There should also be smaller ones.
in my opinion, everything should be visible on small screens, so that nothing is overlooked there. After the start, everyone can adjust the conditions as they need. This is registered and reset when restarted.

other situation with what to display left or on top.

[2022-04-27 18:54] masterpatje commented on #1468
I agree, in that case a seperate panel for player name (or fixed column) is a must. Otherwise you are able to see the skills but not the player name when scrolling to the right on the slider under that panel.

[2022-04-27 20:45] wsbrenk commented on #383
@sophiastr i do not really know how @akasolace planned to calculate the stamina subskill. what i find concerning stamina numbers is this: https://www88.hattrick.org/Forum/Read.aspx?t=17445814&n=6&v=0

maybe we could conclude from player's rating at end of match to his stamina?!

[2022-04-27 22:10] sophiastr commented on #383
Okay, then I will start calculating the stamina by taking into account only the RatingEndOfGame.
I'm waiting for some feedback @akasolace.
Tell me if you want to make the calculation of stamina more complicated and realistic by adding other variables.

Thank you,
Sophia

[2022-04-28 08:11] masterpatje commented on #1468
For me it does not matter too much, because my screen is big enough and I can adjust accordingly. And I would be oke if you closed this issue #1468, because windows adjustments have been made accordingly and/or argumented that a poll might be a good idea.

If you want (and feel like it) you could add a feature that seperates the player name so that people with a smaller screen can adjust the windo

[2022-04-28 08:12] masterpatje commented on #1466
oke great, then it is clear that it is intentional. This one is fixed (and closed).

[2022-04-28 08:12] #1466 closed

[2022-04-28 16:13] wsbrenk opened #1486 "[BUG] npe in training prediction panel"
java.lang.NullPointerException: Cannot invoke "core.util.HODateTime.plus(int, java.time.temporal.ChronoUnit)" because "this.from" is null
	at core.training.FuturePlayerTraining.cut(FuturePlayerTraining.java:145)
	at core.model.player.Player.setFutureTraining(Player.java:2184)
	at module.training.ui.FutureTrainingPrioPopup.actionPerformed(FutureTrainingPrioPopup.java:71)
	at java.desktop/javax.swin

[2022-04-28 17:26] #1486 closed, assigned to wsbrenk

[2022-04-28 17:31] wsbrenk commented on #1468
i will check if i could fix the player columns

[2022-04-29 15:49] wsbrenk commented on #1394
not sure - but i think this is fixed

[2022-04-29 15:51] wsbrenk commented on #1343
never happened again

[2022-04-29 15:51] #1343 closed

[2022-04-29 15:52] wsbrenk commented on #1305
close this preliminary solution. additional tickets should be created, if nts are interested.

[2022-04-29 17:21] aristodemos2008 commented on #1477
I copied my DB to HO-6.0.289.0-portable-win-DEV-JRE.

However HO fails to load with the following error.

[screenshot](https://i.imgur.com/glZvwch.png)

[2022-05-05 11:55] masterpatje opened #1489 "[BUG] Subskills substitutes incorrectly calculated (on HRF download)"
**Describe the bug**

**=Subskills are incorrectly calculated.**
On today's download (5-5-2022) last weeks training (training week 4) was included. The past training table is correctly set. On training week 4 I trained "Crossing" [aka Winger]  which includes the cup match 27-4-2022 and league match 24-4-2022. _(see screenshot 1)_

Today's file is shown as training week 5 and I do a comparison with

[2022-05-05 19:25] chucofs commented on #1414
hiiiii,  i have the same error
linux / HO 5.2 beta (but in 4 too)
![HO error](https://user-images.githubusercontent.com/49600765/167010355-a923f5c0-148a-4649-900b-ffddbf060eb1.png)
[HO-2022-05-05.log](https://github.com/akasolace/HO/files/8635437/HO-2022-05-05.log)

[2022-05-05 19:30] chucofs commented on #1414
I have HO twice (in different folders), one for each team I have,
the HO of my principal team does not have any error, this error only occurs only in HO of my second team (no matter what version of HO I use)

[2022-05-08 11:52] wsbrenk opened #1493 "[FEATURE] Update darklaf libs 3.0.0 is available"
quick shot didn't work:

2022-05-08T13:47:43.208+0200  WARNING  No node registered for tag RDF
2022-05-08T13:47:43.208+0200  WARNING  No node registered for tag Work
2022-05-08T13:47:43.208+0200  WARNING  No node registered for tag format
2022-05-08T13:47:43.208+0200  WARNING  No node registered for tag type
2022-05-08T13:47:43.208+0200  WARNING  No node registered for tag namedview

[2022-05-08 12:28] tychobrailleur commented on #1493
Any feature of interest in that version?

[2022-05-08 17:45] wsbrenk commented on #1493
@tychobrailleur don't know - checked it because of #1414.

[2022-05-08 17:55] wsbrenk commented on #1481
@masterpatje reimporting of hrf files does not invoke the subskill calculation. instead the subs are cleared. that is what you see.
user's have to recalculate the subskills (7 weeks) on demand to reset the subskills.

[2022-05-08 19:05] tychobrailleur commented on #1414
What is the path to your second HO instance on your local machine?

[2022-05-08 20:46] tychobrailleur commented on #1414
I can reproduce this, it seems to be caused by non-latin characters in the path to HO.  A workaround  is to make sure that the path latin characters.
![Screenshot from 2022-05-08 21-37-23](https://user-images.githubusercontent.com/114285/167315081-1dc007f5-f2bf-49d3-876b-e28d7a5ee4db.png)

[2022-05-08 23:09] masterpatje commented on #1481
Ok intended behaviour. Thanks for clarifying.

[2022-05-09 01:07] chucofs commented on #1414
the path is /home/chuco/Documentos/trabajos/Httk/HO Badón

[2022-05-09 20:28] masterpatje commented on #1469
@wsbrenk in #1489 I found a bug with a high impact because it is directly related to correctly presenting subskill of players. In that bug the error is related to a recent download, but could that error as an implication be connected to the same problem of this bug?

And have you been able to reproduce it. Or do you want me to give some additional information about the players matched that week?

[2022-05-13 10:36] Chilimonster opened #1496 "[BUG] Cannot Invoke "module.lineup..." error"
**Describe the bug**
I upgraded to version 6.0.289 a week ago. I have 4 teams. One seems to work fine, but on the other three startup fine, but I now get an error when I move to the Statistics tab, for example. Once started, the error keeps appearing and no operations can be conducted and the window must be shut.

**To Reproduce**
Steps to reproduce the behavior:
1. Stat database
2. Click on 'Stat

[2022-05-13 18:42] masterpatje commented on #1489
Today's download; subskills correctly calculated.
Maybe substitutes plays a role on last download? In that download there were matches were players were trainable positions had substitutions.

@wsbrenk could you explain how subskill is calculated in the case that
1) player A is substituted for player B after 60 minutes on "winger"; does player A receives 60 minutes (factor 60/90 of full training)

[2022-05-18 19:19] sophiastr commented on #383
I made some changes. When you have time, look at them and give me some feedback.
I'm not sure I understand exactly how you want stamina subskill to be calculated but I made an attempt.
If this is not what you want, give me some information and I will change it immediately.
Thank you,
Sophia

[2022-05-23 07:53] #1496 closed

[2022-05-23 08:06] wsbrenk commented on #1469
@masterpatje now i will concentrate on this ticket. one minor issue i see, is that your training table and the hrf compare selecting table are showing different season numbers. is this still the case?

[2022-05-23 08:18] wsbrenk commented on #1489
@masterpatje your assumptions are correct. player should receive training for each minute they play on training positions (maximum 90 minutes per week). if they were playing on different training positions (full or partial training), they'll got the optimal minutes.

[2022-05-23 14:22] wsbrenk commented on #1394
this part was refactored by #1389

[2022-05-23 22:22] sophiastr commented on #1385
Hello, can I work on this issue?

Sophia

[2022-05-24 13:19] #1182 closed

[2022-05-24 18:57] masterpatje commented on #1489
@wsbrenk I downloaded v293 today (clean install)

There are still problems with subskill calculations. Three players are incorrectly calculated:
![image](https://user-images.githubusercontent.com/102049050/170111122-9206722c-0cf9-468c-87c4-9be2e43e91fe.png)

[2022-05-24 19:36] masterpatje commented on #1489
I did another test. I included another HRF file with last weeks training and did a "**subskills recalculation**" both 7 weeks and a full subskill recalculation. It produced the same results which is a good thing, but all trainable players got incorrectly calculated:
![image](https://user-images.githubusercontent.com/102049050/170118015-f6266228-9029-48de-8458-bbb28761bdda.png)

[2022-05-24 19:40] masterpatje commented on #1469
Test result of subskill recalculation shown in comment below. Subskill still incorrectly calculated for all trainable players as shown in test case with 2 HRF training week files.
https://github.com/akasolace/HO/issues/1489#issuecomment-1136356843

[2022-05-24 20:24] masterpatje commented on #1469
You are right. I did not notice this when posting. It is fixed in v293, both now reference to season 70.

[2022-05-25 07:12] #1469 closed

[2022-05-25 07:36] masterpatje commented on #1469
@wsbrenk I agree that this issue is fixed.

From this issue I noticed a new issue of 'subskill recalculation' which is incorrectly done.

This is actually a bit different from the issue #1489 which was originally just focussed on subskill calculation being incorrectly set on the download of a HRF file.

But as you noticed I put my testresults in that issues in two seperate comments. First the inco

[2022-05-25 07:43] wsbrenk commented on #1489
![dl](https://user-images.githubusercontent.com/11821502/170207997-4c185c1b-6068-44d4-acf0-bcb008efa6d7.jpg)

@masterpatje: very strange. could you please check, if the "download current matches" is checked? Otherwise i fear only the latest league match will be downloaded.

it would be great if you could upload your database backup file. then i could try to  debug this.

[2022-05-25 07:47] masterpatje commented on #1489
I will do see within 2 hours. If they are standard checked then I am sure that I didnt uncheck it.

But I will look at it

[2022-05-25 09:33] masterpatje commented on #1489
@wsbrenk; here you go; the matches are included in the database and the box was checked.
I included the database, which only includes two HRF files. 24-5-2022 and 17-5-2022 and thus include training week 7 and 6, which corresponds to the matches that I included in my screenshots yesterday.

![image](https://user-images.githubusercontent.com/102049050/170230127-33aea340-f87e-4741-837c-85f6d2f60bae.

[2022-05-25 10:24] wsbrenk commented on #1489
@masterpatje thank you - i don't know if it is a bug or a feature, but debugger showed that the very first hrf file is ignored on subskill recalculation.

[2022-05-25 11:16] wsbrenk commented on #1489
fixed:

![image](https://user-images.githubusercontent.com/11821502/170249926-56d995c8-7897-4fe4-9cb9-ac7b8b0df17e.png)

Maxence increment of one match was eat up by two skill drops.

[2022-05-25 11:59] wsbrenk commented on #1469
@masterpatje sorry if i missed something. would be the best if you open another ticket describing the download issue again. would be perfect if you could upload a backup, when you observe the issue again. backup of day before download date. then i could try to debug the download.

[2022-05-26 06:54] masterpatje commented on #1489
Yes, great improvement! See comments for new test results.

**Test HRF download**: (and a comparison file to see the increase more clearly)
![image](https://user-images.githubusercontent.com/102049050/170432420-1ea9c6f1-e5c0-44a1-90ce-6dc0f88d7ad1.png)

![image](https://user-images.githubusercontent.com/102049050/170432503-cfcfe4ff-7e47-4d5e-9d0c-4228ce10f800.png)

**Three comments:**
- **Wellinga

[2022-05-29 21:48] wsbrenk commented on #1489
[Cornel-Ioan Dan](https://www85.hattrick.org/Club/Players/Player.aspx?playerId=444412037)
[Jasper Dieleman](https://www85.hattrick.org/Club/Players/Player.aspx?playerId=426548646)
LAV  ZST
normal  defensiv
3-5-2  2-5-3

[2022-06-01 10:46] masterpatje opened #1506 "[BUG] Training table past training type wrongly set if future training type is changed in hattrick"
**Describe the bug**
This bug occurs when you change the training type value (for future training) in hattrick and then download data in HO. At that moment it sets last week training type to the current training type. And players subskill are handled as if they received that type of training (and off course played on the position accordingly).

I am unsure if there is data in the HRF file that giv

[2022-06-01 20:54] wsbrenk opened #1507 "[BUG]Concurrent Modification in youth training table"
**Describe the bug**
java.util.ConcurrentModificationException
	at java.base/java.util.Vector$Itr.checkForComodification(Vector.java:1292)
	at java.base/java.util.Vector$Itr.next(Vector.java:1248)
	at module.youth.YouthTraining.recalcSkills(YouthTraining.java:63)
	at module.youth.YouthTrainingViewTableModel.setTraining(YouthTrainingViewTableModel.java:122)
	at module.youth.YouthTrainingViewTableMo

[2022-06-01 21:01] masterpatje commented on #1506
Oke clear, then I consider this one closed.

[2022-06-01 21:02] #1506 closed

[2022-06-01 21:33] #1507 closed, assigned to wsbrenk

[2022-06-04 13:26] #1468 closed

[2022-06-05 11:00] wsbrenk opened #1512 "[FEATURE] check if languages in poeditor should be added in build.gradle"
build gradle only lists 27 of the 36 available poeditor languages. most of the missing languages are not very well supported in poeditor.

[2022-06-05 11:22] wsbrenk commented on #1512
HO settings lists 38 languages?!

[2022-06-05 11:46] wsbrenk commented on #1512
1. Bulgarian
1. Catalan
1. Hrvatski(Croatian)
1. Czech
1. Danish
1. Nederlands
1. Finnish
1. French
1. Deutsch
1. Greeklish
1. Hebrew
1. Magyar
1. Italiano
1. Hangul(Korean)
1. Latvija
1. Lithuanian
1. Persian
1. Polish
1. Portugues
1. PortuguesBrasil
1. Romanian
1. Russian
1. Serbian(Cyrillic)
1. Slovak
1. Spanish
1. Svenska
1. Turkish
1. Norsk
1. Indonesian
1. Vlaams
1. Spanish_sudamericano
1. J

[2022-06-05 11:53] wsbrenk commented on #1512
languages Vlaams and Spanish_sudamericano does not appear on poaeditor site. why are these files listed by the build taks createLanguageFileList?

[2022-06-05 12:00] wsbrenk commented on #1512
vlaams.properties and spanish_sudamericano.properties are given in the repo: src/main/resources/sprache/

[2022-06-05 16:17] wsbrenk commented on #1512
added this list to poeditor config:

    trans type:'properties', lang: 'no',      file: "${projectDir}/src/main/resources/sprache/Norsk.properties"     // Norwegian
    trans type:'properties', lang: 'id',      file: "${projectDir}/src/main/resources/sprache/Indonesian.properties"
    trans type:'properties', lang: 'ja',      file: "${projectDir}/src/main/resources/sprache/Japanese.properties"

[2022-06-05 16:22] wsbrenk commented on #1512
spanish_sudamericano could be imported to poeditor language code Spanish (AR) (es-ar). maybe renamed to spanish-argentina
vlaams looks like Flemish (nl-be)

[2022-06-05 16:40] wsbrenk commented on #1512
vlaams and spanish(ar) added to poeditor

[2022-06-05 21:55] #1512 closed

[2022-06-06 09:33] #1477 closed

[2022-06-06 12:58] wsbrenk commented on #383
added three columns to player table:

![image](https://user-images.githubusercontent.com/11821502/172165069-a3ada6ca-06e3-4fbd-966b-8c9beb9cc0cc.png)

commit is coming soon!

[2022-06-08 06:26] Pylbas opened #1518 "[BUG] statistics calculator does not work correctly."
The match statistics calculator does not work correctly. Defense stats are very underrated

By setting the squad in the "Lineup" tab, the HO incorrectly calculates the defense statistics (the statistics are lower than they should be)

[2022-06-08 13:03] dominiquelee opened #1519 "[BUG] Single player has wrong skill decimals after subskill recalculation"
**Describe the bug**
On 7.0, r304, a single player has wrong training decimals even after subskill recalculation. All the other players look more reasonable.
Horcholle appears as DE 15.99 and PS 10.99. According to HT-Portal, he should be around DE 15.45 and PS 10.22.

Here, we can see random jumps for DE and PS
![image](https://user-images.githubusercontent.com/1204726/172621655-7afc3292-f812-485

[2022-06-09 21:13] dominiquelee commented on #1519
@wsbrenk that seems unlikely, I didn't even know it was possible to manually adjust subskills until 3 minutes ago.

[2022-06-09 21:28] wsbrenk commented on #1519
new beta fixes some exception i found in your subskill recalculation - but it does not changed the passing skill of your player

[2022-06-09 21:41] wsbrenk commented on #1518
@Pylbas I guess you mean the rating prediction. Please note that the HO gives the average rating by default, while the Hattrick forecast mentions the value for the start of the game. to get a comparable value in HO click above the ratingdisplay the game minute 0

[2022-06-09 22:17] dominiquelee commented on #1519
I just tested 6.0 r309, downloaded 2 years worth of matches and I still repro the issue. I also noticed that if I do a 7 weeks subskill recalculation, I have 4 players that have some previously trained skills pushed to .99.

If I'm not mistaken, immediately after a full recalculation, a 7 week recalculation should be a no-op, right? That's definitely not the case here.

[2022-06-11 08:32] wsbrenk commented on #1519
recalculation only takes into account the last 32 weeks. that is the reason why passing is not corrected. if i increase this to 64 weeks (4 seasons), passing curve becomes OK.

concerning defending i'm still searching.

[2022-06-11 09:08] dominiquelee commented on #1519
A few more screenshots, based on Balland:
- after subskill recalculation from the Training tab, he's DE 17.25, PM 16.50 (I have had one more PM training since I uploaded my db), PS 9.50. Values are pretty close to what HT-Portal reports. The graph looks reasonable.
![image](https://user-images.githubusercontent.com/1204726/173181471-937a4706-2bda-41d5-81b6-54f5c945fd83.png)
- after subskill recalc

[2022-06-11 09:33] wsbrenk commented on #1519
some things are clear now - and fixed soon (hopefully):

the reason for horchrolles defending step is the wrong training date on 25th march, 2022. i think this is/was a problem of daylight saving time. could you please check if this is still the case with your new downloads?
![image](https://user-images.githubusercontent.com/11821502/173182281-7cb668bc-361b-45f6-a857-1aa11709200a.png)

[2022-06-11 09:44] dominiquelee commented on #1519
I'm not sure if that's your question, but right now, my 03/25 training indeed appears at 4:15 rather than 5:15.
However, if I change the 03/25 training to something else, I can see the bump to .99 actually happens the week after, so it does not match completely.
![image](https://user-images.githubusercontent.com/1204726/173182643-895ad8b0-b6bc-4c3b-9241-77ae0653715b.png)
If I also change the 04/01

[2022-06-11 09:49] wsbrenk commented on #1519
i implemented some training date tolerance that fixes the horchrolle statistics:
![image](https://user-images.githubusercontent.com/11821502/173182848-d12b7532-0ffa-441e-91f5-92f82b4bc1ef.png)

i'm not happy with that wrong training date. this is another bug and should be fixed in another ticket;-)

[2022-06-11 09:53] dominiquelee commented on #1519
Looks great! Take your time for the next release, I'm not in a rush to get the fix :)

[2022-06-11 10:06] wsbrenk commented on #1519
310 beta is ready - 13 minutes were time enough;-)

[2022-06-11 10:06] wsbrenk commented on #1519
would be great if you could test again - thanks

[2022-06-11 10:13] dominiquelee commented on #1519
That was fast :)

Looks good to me, none of the 3 ways to recalculate lead to a .99. You can close this issue. Thanks for the fast fix!

[2022-06-11 10:44] #1519 closed

[2022-06-11 11:04] wsbrenk opened #1523 "[FEATURE] Display further last match info in squad table view"
[ ] rating at end of game
[ ] lineup position
[ ] minutes

[2022-06-11 21:28] masterpatje opened #1524 "[BUG] errors in output.log LASTMATCH_POSITIONCODE"
**Describe the bug**
Lots of errors in the output.log

**To Reproduce**
Steps to reproduce the behavior:
- Download team data.
- No visible error.
- But errors in output.log (see below)

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version 7.0 v311

**Additional context**
23:21:30 [Info]    core.HO: VERSION: 7.0   versionType:  DEV   RevisionNumber: 311
23:21:34 [Info]    core.mod

[2022-06-11 21:36] masterpatje opened #1525 "[BUG] Old Series Data; strange checkbox and text "ls.selection.reuse""
**Describe the bug**
Strange checkbox with text "ls.selection.reuse"

**To Reproduce**
Steps to reproduce the behavior:
Download old series data
Pop up menu

**Screenshots**
![image](https://user-images.githubusercontent.com/102049050/173205620-09ef887a-af91-417a-8426-780358511967.png)

**Platform information:**
 - OS: Windows10
 - Version HO 6.0 v310.1 (Beta)

[2022-06-11 21:41] masterpatje commented on #1525
Output.log warnings
23:32:25 [Warning] core.model.HOVerwaltung: getLanguageString: 'ls.selection.reuse' not found!
23:32:25 [Warning] core.model.HOVerwaltung: getLanguageString: 'ls.tt.selection.reuse' not found!

[2022-06-12 11:57] sophiastr commented on #1523
Can I take this issue?

[2022-06-12 13:06] wsbrenk opened #1530 "[BUG] Class cast exception invoking statistics view in squad panel"
**Describe the bug**

* run skill recalculation
* Invoke statistics view from squad panel on selected player

java.lang.ClassCastException: class core.gui.model.PlayerCBItem cannot be cast to class core.datatype.CBItem (core.gui.model.PlayerCBItem and core.datatype.CBItem are in unnamed module of loader 'app')
	at core.util.Helper.setComboBoxFromID(Helper.java:182)
	at module.statistics.PlayerStat

[2022-06-12 14:02] #1530 closed

[2022-06-12 14:23] wsbrenk commented on #1524
@masterpatje i can not reproduce this.

could you please check with sql editor if this 3 columns were created in table SPIELER
* LastMatch_PlayedMinutes
* LastMatch_PositionCode
* LastMatch_RatingEndOfGame

if only the first is created, the upgrade procedure was interrupted!?

[2022-06-12 14:40] wsbrenk commented on #1523
concerning language string please look at src/main/resources/sprache/English.properties
do not attach user languages, they will be created by poeditor

[2022-06-13 20:50] #1525 closed

[2022-06-17 13:24] wsbrenk commented on #1489
@masterpatje do you still see this bug? otherwise i would like to close this ticket.

[2022-06-17 13:26] wsbrenk commented on #1449
sliders are not only used to display the skills of youth players but also to adjust those.

[2022-06-17 17:30] sophiastr commented on #1523
Hello @wsbrenk ,
I am facing a strange problem. Squad table view shows only 52 columns. After that, it doesn't display anything. Is there something I don't understand well? Is there another class that indicates how many columns will be printed? Moreover, the information about the last match date is stored at additionalArray at position 10. But we use this command: columns[22] = additionalArray[9];

[2022-06-18 15:12] wsbrenk commented on #1523
@sophiastr i found and fixed some minor constraint errors when saving user column settings.

[2022-06-18 15:12] #1523 closed

[2022-06-19 03:28] masterpatje commented on #1449
I will also come back to this one beginning next month because I can't check it right now.

But if I remember correctly my point is that the same functionality can be done without a slider.

Two things to consider; is slider more user friendly to set them precisely than number fields? And is it worth the amount of space they take in? (Aka what other information to they push away because of the spa

[2022-06-19 07:05] wsbrenk commented on #1449
reducing their space is a good point

[2022-06-19 21:25] wsbrenk commented on #1414
with darklaf 3.0.0 i don't see this error anymore, but other problems:

![image](https://user-images.githubusercontent.com/11821502/174500874-4c95cb64-8ac0-422c-9579-8e6df168fc59.png)

[2022-06-19 21:27] wsbrenk commented on #1414
2022-06-19T23:23:52.368+0200  WARNING  No node registered for tag RDF
2022-06-19T23:23:52.369+0200  WARNING  No node registered for tag Work
2022-06-19T23:23:52.369+0200  WARNING  No node registered for tag format
2022-06-19T23:23:52.369+0200  WARNING  No node registered for tag type
2022-06-19T23:23:52.370+0200  WARNING  No node registered for tag namedview

[2022-06-20 09:23] masterpatje opened #1535 "[FEATURE] Hattrick Organizer DEV (seperate folder use)"
**Is your feature request related to a problem? Please describe.**
I can't install both HO 6 and HO 7 (developer) on my pc. Becuase they will be installed in the same folder. And installing the developer edition will uninstall the HO 6 version.

**Describe the solution you'd like**
I would like to see that the developer edition gets it's own path. On windows this could be Hattrick Organizer (Devel

[2022-06-20 09:36] masterpatje opened #1536 "[FEATURE] Adding Database unclear "field names" and "function""
**Suggestion:**
When I add a database there are some fields that might be unclear to users. I myself don't exactly understand the field "nb backups" or if I would want to change the value.

**Explanation:**
_DB name_: DB name stands for "database name" and might be written out, because abbreviation "db" might be unclear for non-technical users.

_nb backups_: for me unclear what nb stands for. And

[2022-06-20 09:46] masterpatje commented on #1524
**Downloaded 7.0 v318**
Still got those errors. And when I opened the SQL editor I didn't see those specific columns. Made some screen shots for you:

![image](https://user-images.githubusercontent.com/102049050/174574425-249dc130-a01c-497c-8a8f-174e9b3fa3da.png)

![image](https://user-images.githubusercontent.com/102049050/174574494-0627669c-da7b-4cd5-8acf-f283e551c9b3.png)

[2022-06-20 11:05] masterpatje commented on #383
Don't know if this helps, but I know Sophia was working on stamina subskill.

I noticed that in hattrick when you are analysing a match and use the clock symbol you can see the stamina at different stages of the match by hoovering over the player.

In this case (example) in the 65th minute my player Celasun had 93% stamina at that point in time.
I am not sure if this information is helpfull, but w

[2022-06-20 13:56] #1489 closed

[2022-06-20 14:07] masterpatje opened #1537 "[BUG] HO6 Cleanup database - strange error - comparison"
**Describe the bug**
When I was doing the testing for the subskill (re-)calculation I wanted to clean up the database. Which I did via the menu. But when I click the 9 days old file (11th June 2022) file it showed a comparison that is evidently incorrect.

See screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Cleaned up database to only store one file per week.
2. It correctly kep

[2022-06-20 14:24] masterpatje commented on #1537
errorneous file

[2022-06-20 14:24] #1537 closed

[2022-06-20 20:50] wsbrenk commented on #1536
![image](https://user-images.githubusercontent.com/11821502/174676057-d67929aa-26e1-4400-aad9-862d0436f5b8.png)

[2022-06-20 21:05] wsbrenk commented on #1524
changed log level of db update.

@masterpatje could you please check if your HO7 shows error logs on start (db update)?

[2022-06-20 21:11] wsbrenk commented on #1535
@masterpatje using a portable version should solve this

[2022-06-20 22:59] masterpatje commented on #1536
Good. You can close it if it is included in the newest version.

[2022-06-20 23:02] masterpatje commented on #1535
I have no idea what a portable version might be? Can you elaborate on that? For me any sollution will do. So that I can do some QA from time to time for HO7.

[2022-06-20 23:09] masterpatje commented on #1524
I think that there were no errors other then the output in the comments and unsure if there are errors in the error log (not from what I have seen). But in order to verify I need to again install HO7. Meaning de-install HO6 again. That is bit tedious, and the reason for a feature request #1535 to be able to do a standalone installation. #1535

If you see no other option I will check it and do the

[2022-06-21 12:53] tychobrailleur commented on #1536
@masterpatje Alternatively, for this kind of changes, you can do them yourself by clicking the little Edit button (the pencil) at the top right hand corner of the page:

![Screenshot 2022-06-21 at 13 50 35](https://user-images.githubusercontent.com/114285/174803649-a26754bc-c560-416d-b76d-f7e7d591ea54.png)

Only thing to bear in mind is that for other languages, changes should be done at poeditor.

[2022-06-21 17:07] wsbrenk commented on #1524
there were no errors - that's correct, since the log level of upgrade exception was LOG and not ERROR, what it should be.

i will try to find a description of portable installation.

[2022-06-21 17:13] wsbrenk commented on #1524
https://ho.readthedocs.io/en/latest/installing_ho.html there you find some words concerning portable installation. Please try to download for example [HO-7.0.320.0-portable-win-DEV-JRE.zip](https://github.com/akasolace/HO/releases/download/dev/HO-7.0.320.0-portable-win-DEV-JRE.zip) of extract it.
tbh myself didn't try it for a long time - hope it will still work without problems.

[2022-06-24 07:49] Synthespian opened #1541 "[BUG] Training Skill Estimation thinks everyone pops next week (v6)"
**Describe the bug**
Instead of calculating the previous trainings from the last skill pops, the estimation page (even after a subskill recalculation) has the entire team calculated as improving in skill level the following week UNLESS:
* they have gone up a skill level since using v6
* been recently bought
(these represent the two not showing as described in the screenshot)

**To Reproduce**
Step

[2022-06-25 08:50] wsbrenk commented on #1541
@Synthespian i can not reproduce this with my team. if you could provide your database backup i will try to debug your situation.

the only idea I have is that the calculation starts on a corrupt record of players.

[2022-06-25 11:20] Synthespian commented on #1541
All good.  Happy to send. It's correct on 5, from the same starting point (I just copied the db over).
![image](https://user-images.githubusercontent.com/48737160/175771255-1d6ce94f-15f7-4040-81d2-70b6e560cd69.png)

db file size is too big for here.  Thoughts for sending?

[2022-06-25 21:46] wsbrenk commented on #1541
@Synthespian Please run the skill recalculation and check if the log file includes some helpful messages.

[2022-06-26 09:41] wsbrenk commented on #1541
@Synthespian the backup zip file is really bigger than 100MByte?

Did you try to run File->Database->Database cleanup
and restarting HO (to backup the cleaned database)?

[2022-06-26 12:05] Synthespian commented on #1541
I naturally have already run the recalculation, so would already be in the log file.
And in trying to upload, it said the max was 25 or 30 and my backup is 35.

Not at home at the moment, but will check again when I'm back.

[2022-06-26 15:35] wsbrenk commented on #1541
@Synthespian you're right, i fear. 100Mbyte is another github file limit. attachments of issues are limited to 25Mbyte.

[2022-06-26 21:58] Synthespian commented on #1541
backup: https://drive.google.com/file/d/1zV4brWmHVMlzb_vERqTj_kST6wct219D/view?usp=sharing
log: https://drive.google.com/file/d/1zushT1dX0lBqmkOFItrqhNvY1v2GfQIb/view?usp=sharing
output.log https://drive.google.com/file/d/1zktW7gFOi4-OSsfQ9saKD_l4iRjS4c5m/view?usp=sharing

[2022-06-27 15:40] masterpatje opened #1542 "[BUG] Experience review - including subskill recalculation (7-weeks)"
**Describe the bug**
I took a deep dive into experience and how it is calculated in HO.

Because hattrick has a page where you can see the drilldown in experience points (click on a player and there is a tab "more information" with historic results of a player including minutes played and on which position and experience gained etc. ). You can almost exactly determine the experience sub-level.

In

[2022-06-27 16:04] masterpatje commented on #1535
Oke that will work. And sounds like a logical even maybe a preferrable solution.

[2022-06-27 16:05] masterpatje commented on #1524
Portable file is corrupt. When I downloaded it, it appears to be empty. Although 65MB file size.

[2022-06-27 17:55] #1535 closed

[2022-06-27 17:56] wsbrenk commented on #1524
@masterpatje please try another zip program - preferably 7zip

[2022-06-28 20:39] wsbrenk commented on #1541
debugging is in progress.

After adjusting wrong defined past trainings the recalculation worked better:
![image](https://user-images.githubusercontent.com/11821502/176282020-34229898-568f-4970-8020-acefd53b7a9e.png)

i will try to fix that - not defined training should result in no additional sub skills

[2022-06-28 20:51] wsbrenk commented on #1541
got it

[2022-06-29 14:52] Synthespian commented on #1541
Makes sense.
Interesting tho that despite being a backup from v5, it's got different entries in the past trainings (which I hadn't changed I don't believe - could have in a random fit)
![image](https://user-images.githubusercontent.com/48737160/176466659-ba0374c5-96cf-48c7-a889-2be6b6d91bb7.png)

And that wasn't therefore causing the same failure in v5.
I've updated the one remaining undefined in

[2022-06-29 17:17] wsbrenk opened #1545 "[BUG]update of portable HO5.2 does not succeed"
first start after update gives:

java.lang.UnsupportedClassVersionError: core/HOLauncher has been compiled by a more recent version of the Java Runtime (class file version 61.0), this version of the Java Runtime only recognizes class file versions up to 59.0
	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass(ClassLoader.java:1016)
	at ja

[2022-06-29 17:31] wsbrenk commented on #1545
[code]

portable update seems to work only on windows and this only if java remains unchanged.

[2022-06-29 17:56] wsbrenk commented on #1545
portable HO6 will download the jre-zips

[2022-06-29 17:57] wsbrenk commented on #1545
older HO installations have to be updated manually
* download zip - asset
* extract zip to destination folder
* adjust java if not included in zip

[2022-06-30 19:39] geocacher1 opened #1549 "[BUG] Misc tab - finances"
Hi !

Something went wrong on misc tab in Finances (screen below)

![HOBug](https://user-images.githubusercontent.com/108490960/176762697-3bf5cf0e-2141-4e8b-9b12-914e6bd9df5e.JPG)

**Describe the bug**
The stadium maintenance cost is above all Expenses (28 400 zł), it also looks like there is a problem with staff Expenses name String. All details could be seen on screen

**Screenshots**
If applica

[2022-07-01 08:32] masterpatje opened #1552 "[BUG] LOG error message in module lineup [non essential]"
When installing v6.0.327 there is a (non essential) error message in the **output** log:
10:26:12 [Error]   module.lineup.lineup.MatchBanner: Weather for the selected game is null !

[2022-07-01 09:54] masterpatje commented on #1542
**General comment**
Today the training results became available, which includes last week matches. Now I can more easily check experience; I first tested my formula with the information on the hattrick website. And then I looked at the experience gained since last week.

**Test 1: Experience on HRF download after training update**

**Results:**
Experience is most probably correctly calculated on d

[2022-07-01 13:35] masterpatje opened #1553 "[BUG] Error: Clicking on a match that has not been downloaded"
v6.0.327

Error when clicking on a match that has not been downloaded.

![image](https://user-images.githubusercontent.com/102049050/176904830-f107d14e-d560-4271-ae99-8710d8af23d0.png)

![image](https://user-images.githubusercontent.com/102049050/176904978-aa717448-3125-4fcd-b81a-fade3e904d3e.png)

**first part of the error code:**
 [Error]   Player: java.lang.NullPointerException: Cannot invoke "

[2022-07-01 14:52] masterpatje opened #1554 "[BUG] Subskill recalculation (7-weeks) - Changing training type in Past Trainings does not change recalculation"
**Describe the bug**
I had a problem in week 8 that I accidently changed the training type before downloading the HRF file. It should have been WINGER, but was set to DEFENDING.

When I do a subskill (7-weeks) recalculation with the _wrong_ (DEFENDING) skill  and afterwards do a subskill (7-weeks) recalculation with the _right_ (WINGER) skill I get the **same** training results, which is wrong. Th

[2022-07-01 15:15] masterpatje commented on #1542
**Test 4: Experience comparison saturday 24 june 2022 10:57 (includes training week 12) versus friday 18 june 10:29 (includes training week 11) after subskill recalculation**

**Result**: **Visual** representation of experience gained was **not** correct, the experience subskill level was correct.

Today I had the HRF file from 1 july 2022 (includes training week 13) and when I compare it with 24

[2022-07-01 16:20] #1552 closed

[2022-07-01 18:07] masterpatje opened #1556 "[FEATURE] Subskill recalculation textual information"
v6.0.327

Added information. Textual description of what is actually being taken into consideration for recalculation. From my textual example you can extract a generic code. The date alone is less usefull for determining which training weeks are taken into consideration.

![image](https://user-images.githubusercontent.com/102049050/176947007-88c562f1-5d95-4d49-ab94-048092ccb898.png)

**Title:** S

[2022-07-01 18:44] masterpatje commented on #1554
I did quite some extensive work to determine the training units of last 7 training weeks. A training unit is defined by me as equivalent of 90 minutes full training.

I however excluded for training week 8; which was set as "defending" in HO, while it should have been "winger" but since HO didn't take it into consideration for recalculation I just excluded it from my excel, because in my excel I h

[2022-07-01 18:51] masterpatje opened #1557 "[FEATURE] misc and youth as tab only available after clicking the menu"
![image](https://user-images.githubusercontent.com/102049050/176953571-585f7183-4ecd-432d-8573-b00b7aa9071a.png)

I did not know that these tabs existed. The issue about the finance table (which I couldn't find at first) hinted me that there were menu's that I wasn't aware of.

I think that these tabs should have been available on initial installation of HO.

And I would rename _miscelaneous_ to _

[2022-07-01 18:58] masterpatje opened #1558 "[FEATURE] Window adjusting youth tab on initial installation and adjusting width of the sliders"
**v6.0.327**

On initial installation the youth tab -> player looks likes this:
![image](https://user-images.githubusercontent.com/102049050/176953992-170f81e7-7133-4919-961e-b5414d39b0df.png)

I would prefer to have the initial window view be something like this:
Also width of the sliders could be made smaller so that the graph to the right is shown.
![image](https://user-images.githubusercontent

[2022-07-01 19:05] masterpatje commented on #1524
Yes 7-zip worked:

Error still exists, but only in the output log.

21:03:49 [Error]   core.db.JDBCAdapter: JDBCAdapter.executeUpdate : java.sql.SQLSyntaxErrorException: user lacks privilege or object not found: LASTMATCH_POSITIONCODE
Statement: INSERT INTO SPIELER ( GelbeKarten , SpielerID , ArrivalDate, FirstName , NickName, LastName , Age , AgeDays , Kondition , Form , Torwart , Verteidigung ,

[2022-07-02 08:07] geocacher1 commented on #1549
I updated HO to r329 version today and bug seems to be fixed (i have same info as on screenshot above

[2022-07-02 09:12] wsbrenk commented on #1549
thanks for testing

[2022-07-02 09:12] #1549 closed

[2022-07-02 09:38] wsbrenk commented on #1542
![image](https://user-images.githubusercontent.com/11821502/176995137-9cb0a0e4-e1fa-4d3f-bf6c-0cf5ea19cdd0.png)

HO calculates with higher precision than displayed in the table column. you can check that with sql editor.

[2022-07-02 09:43] wsbrenk commented on #1542
HO considers the different match types when calculating the experience:
[code]

[2022-07-02 10:06] wsbrenk commented on #1542
just found one of my players showing also missing increments

![image](https://user-images.githubusercontent.com/11821502/176995979-fa68ba4a-a28e-4781-8d38-9fbd5ab267dd.png)

[2022-07-02 12:05] wsbrenk commented on #1542
different subs 0.021000315, 0.21000314 is a minor bug. values were stored as double precision values but load as floats.

lastmatch at 06-28 was loaded before training calculation. after downloading current training the 7th skill increment was calculated. result is 0.024 which is still displayed as .02.

[2022-07-02 14:13] geocacher1 opened #1561 "[BUG] Stats - Matches chart"
**Describe the bug**
I don't know if it's exactly a bug or just a feature which I don't understand. On matches statistic page the X axis units on a chart seems to have weird format.

On every other chart in other tabs there (players, team, club, finances) the X axis units are days. On matches chart the X axis units are in time format.

Is it a "bug" or I just don't understand what data are display

[2022-07-02 20:48] wsbrenk commented on #1554
A1: Because of the missing match details. if you download the correspondig matches the training should be considered.
A2: the training of past training display is considered (and in sync with the database contents)

[2022-07-02 21:16] wsbrenk commented on #1561
time format in match statistics were an error - should be fixed with the commited changes.

-1 .. 1 is because the diagram is empty

[2022-07-02 21:37] wsbrenk commented on #1524
@masterpatje very strange- could you please check the first lines of your output log. should show this:
[code]

[2022-07-02 21:46] geocacher1 commented on #1561
I checked it. This kind of bug still exists and needs more tests. The output data is changing depending on the weeks chosen. in my situation (club has been founded 11.06.2022, first match 12.06.2022):

- **Finances tab**: when i choose 6 or less weeks, X axis units are in time format, for 7+ weeks there are as they should in date format.

![finances tab](https://user-images.githubusercontent.com/1

[2022-07-03 15:55] masterpatje commented on #1524
Just tested version 7.0.334. Error is fixed.

[2022-07-03 15:55] #1524 closed

[2022-07-03 16:01] masterpatje commented on #1553
Error is fixed.

Visual presentation is still bit odd; Left lower corner "please wait" and orange bar which stops at some point.

![image](https://user-images.githubusercontent.com/102049050/177047591-3a71a61e-2142-4f25-9637-f6f763eaa98c.png)

[2022-07-03 17:21] masterpatje commented on #1542
Comparison between last version and current version (332) gives the following result (see screenshot):
In general experience is a slighty higher so that is good I think.

I tested on player that stood out:
**Szogedi had an increase of 0,007 (90 minutes friendly) in match 29-6-2022 .**
His history in the last 6 training weeks prior to the 7th training week are:
18-5-2022; 21 minutes cup ; 1,633 _[t

[2022-07-03 17:34] masterpatje commented on #1542
Code can be changed to:

public double getExperienceIncrease(int minutes) {
		double p;
		var _matchType = this.getMatchTypeExtended();
		if (_matchType instanceof MatchType){
			p = switch ((MatchType) _matchType){
				case CUP, QUALIFICATION -> **7**d;
				case FRIENDLYNORMAL, FRIENDLYCUPRULES -> .**350**;
				case INTFRIENDLYCUPRULES, INTFRIENDLYNORMAL -> .**700**;
				case NATIONALFRIENDLY, LE

[2022-07-03 20:22] wsbrenk commented on #1542
these match type are handled in method getTournamentExperienceFactor:
[code]

[2022-07-03 20:30] wsbrenk commented on #1542
trainings are examined from latest download (hrf file) which is older than 7 weeks.
if fear if there is a gap of several weeks the considers matches could be a bit older than 7 weeks.

[2022-07-04 07:29] masterpatje commented on #1542
What do you exactly mean with "latest download (hrf file) which is older than 7 weeks?".. do you mean the latest file or te files that is 7 weeks older than the last downloaded hrf file?

In version 7.0.337 (which works 'experience wise' the same as HO6 most probably) I did a new test. Because it was a clean build I added HRF files one at a time by importing and afterwards recalculating (7-weeks).

[2022-07-04 07:36] masterpatje commented on #1553
Fixed

[2022-07-04 07:36] #1553 closed

[2022-07-04 16:44] geocacher1 commented on #1561
Hi ! I tested this issue after updating to Build 336. And the problem on Matches tab seems to bo solved. But on Finances tab there is still sth wrong (when I choose e.g. 4 weeks period, it shows on X axis time from Saturday 14:00 till Monday 18:000)

[2022-07-04 17:36] wsbrenk commented on #1542
if you only import the hrfs the match details are missing, i fear.

[2022-07-04 17:42] wsbrenk commented on #1542
the calculation selects all hrfs from database which are downloaded during the last 7 week.

the oldest entry (7 weeks old) loads the hrf loaded before (some minutes or months before him)
this entry will give the start values for the skills (and experience). all trainings in past training list that happened before oldest hrf and after the previous one will be taken into account.

this is continued

[2022-07-05 18:05] cheilson opened #1570 "[BUG] HO6 DEV (r147) crashes after download"
**Describe the bug**
A clear and concise description of what the bug is.
After I download hrf, a lenghty error message comes.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Download F11'
2. Click on 'Download'
3. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows 11 Home
 - Version 21H2
 -

**Additional co

[2022-07-05 20:46] wsbrenk commented on #1570
same as #1458

[2022-07-05 20:46] #1570 closed

[2022-07-05 21:09] #1518 closed

[2022-07-06 18:58] geocacher1 commented on #1561
I was busy, so i had no time to check it earlier, but it looks ok now (on 338 build). I tested it on every tab, changing weeks period and it's fixed.

[2022-07-06 20:31] wsbrenk commented on #1561
thanks

[2022-07-07 22:34] ancath71 opened #1571 "Error when generating lineup"
Hello I can download files with no problem, but when I go to the lineup page, when I click on the roles, no player appears in the list, and when I try to generate the lineup automatically, I get the error
java.lang.NullPointerException: Cannot invoke "module.lineup.Lineup.resetStartingLineup()" because the return value of "core.model.HOModel.getLineupWithoutRatingRecalc()" is null
	at module.lineu

[2022-07-09 21:47] Tarotistas opened #1576 "HO Database"
Hello, I have lost my DB folder of HO application. I have MAC OS and the folder and file is not with Library/Application support/HO and neither can re-generate.

Can you please help and improve this point of the APP that is not so simple to handle?

Thanks a lot!
BR
Gaspar (Eberlu)

[2022-07-09 22:26] wsbrenk commented on #1576
@Tarotistas restarting HO should  create a new database folder, if the old one is lost. if you installed a portable version of HO, the database folder (db) should be a subdirectory of your HO installation directory.
if you installed with the installer, the directory should be in the path you mentioned.

[2022-07-09 22:28] Tarotistas commented on #1576
Is not as you can see.

How can I restart wo loosing the info? Somehow the db is someplace I can't find.

<img width="1056" alt="image" src="https://user-images.githubusercontent.com/65875612/178124551-7859a914-079f-4ba9-9850-c24d24337b75.png">

[2022-07-09 22:47] wsbrenk commented on #1576
i understand, that you can start HO and that there is information, you fear to loose - so the database should be on your system - right?

Portable application
[code]

[2022-07-09 22:51] Tarotistas commented on #1576
I installed this version

<img width="1223" alt="image" src="https://user-images.githubusercontent.com/65875612/178125050-876340a4-aa68-405f-8fbb-850184d1e532.png">

[2022-07-09 22:58] wsbrenk commented on #1576
could you try to find the file HO.jar on your system - where do you start HO?

[2022-07-09 23:06] Tarotistas commented on #1576
Nothing ....probably I'm not looking well

HO.jar
<img width="1369" alt="image" src="https://user-images.githubusercontent.com/65875612/178125231-323e7247-8edc-4815-b72f-ffb7f863934f.png">

Start from here
<img width="575" alt="image" src="https://user-images.githubusercontent.com/65875612/178125245-1df8fd90-6ab1-44c4-852e-10ea43194b88.png">

[2022-07-09 23:20] wsbrenk commented on #1576
![hofolder](https://user-images.githubusercontent.com/11821502/178125570-8b39c05d-c60b-4c7b-9127-677d6304f5c5.jpg)

on windows i can move to the directory connected with the icon by doing right mouse click

[2022-07-09 23:21] wsbrenk commented on #1576
maybe you could find some properties of the icon with right mouse action?

[2022-07-09 23:24] wsbrenk commented on #1576
maybe mac search is case sensitive - then you should search again for HO.jar

[2022-07-09 23:28] wsbrenk commented on #1576
I have to go to bed now, it's half past two in the night with us - tomorrow I have a gig

[2022-07-10 09:13] wsbrenk commented on #1576
this problem shows that we could use a user manual that describes such things. The support of the community sometimes does not seem to be enough.

[2022-07-11 01:04] Tarotistas commented on #1576
Do you mind this folder from "Show content"? For me the Backup file is the historical problem while need to upgrade wo loosing the data.

<img width="315" alt="image" src="https://user-images.githubusercontent.com/65875612/178170377-98d40b1a-926a-462c-9418-204151fb5621.png">

[2022-07-11 18:26] wsbrenk commented on #1576
what is in java/app ?

[2022-07-11 21:13] wsbrenk commented on #1576
but no db directory?

[2022-07-11 21:15] wsbrenk commented on #1401
new columns:
[code]

[2022-07-12 02:42] masterpatje commented on #1576
https://support.apple.com/en-in/HT201250

If you have enabled time machine, you can go back to the time before the db was deleted.

Otherwise if you saved the HRF files on download you can again import them into HO ans rebuild the database. Please make sure you do a recalculation of subskill after importing all files.

[2022-07-13 17:59] #1571 closed

[2022-07-14 03:06] Tarotistas commented on #1576
Hello @masterpatje I have saved the HRF files but again. Can't be improved the db.dat file in the app? This is weakness of the application specially when we try to update.

Can be an option to export the db in the selected path in a simple way?

Thanks in advance
BR
Gaspar

[2022-07-14 19:57] wsbrenk opened #1578 "[FEATURE] Youthplayer: Show duration until promotion formatted as d hh:mm:ss if less than one day is left"
in youthplayer overview table

[2022-07-15 16:12] Marcx87 opened #1580 "[BUG] Age of Players negative , Dates of HRF incorrect"
I upgraded from latest stable release ( 5.2.3945.2 ) to pre-release 6 ( 6.0.341.1 ).

Upgrade steps:
1) Downloaded version HO-6.0.341.1-portable-win-BETA-JRE.zip
2) Unzip file
3) copy db folder from HO5 to HO6 folder
4) open HO.exe

Age of Players are smilar to -171129
Years of date in HRF frame are like 54505 and day/month are not correct.

HO Languange IT-it

![image](https://user-images.githubu

[2022-07-16 08:27] wsbrenk commented on #1580
@Marcx87 what does the clock of your computer show. is it perhaps set incorrectly? If not, please upload the log file. you find it in %APPDATA%/ho/logs

[2022-07-16 11:52] wsbrenk commented on #1580
the output.log of my try to reproduce this:

[code]

everythind seems to be fine after this.

[2022-07-16 12:17] wsbrenk commented on #1580
change the logging (displaying errors was wrong):
[code]

[2022-07-17 17:18] Marcx87 commented on #1580
Hi,

thank you, I try to be more precise possibile...

Until 10~ days ago I was using HO 1.437
Then I upgraded from 1.437 -> to Ho3 -> to HO5
I downloaded HO3 because database version was to old.

Now I am using HO 5 without any issue, while HO6 has the error I reported.

The installation of both HO 5 and 6 are Win64 Portable WITH JRE.

My configuration is
Windows 10
Language English (US) Regional

[2022-07-17 19:02] wsbrenk commented on #1576
![image](https://user-images.githubusercontent.com/11821502/179420898-3ad53ca2-9adb-454c-8cf3-4e368d70dd3e.png)

Help->About will show the database and log file folders

[2022-07-17 20:44] wsbrenk commented on #1580
I suspect that from the old database some corrupt records are included in the table HRF. could you please try to check with

Debug->sql editor

the command:  select * from  HRF order by Datum desc

![image](https://user-images.githubusercontent.com/11821502/179424064-8bd36300-210c-42e1-8ac6-9e2957fed3a0.png)

[2022-07-17 21:44] #1576 closed

[2022-07-17 21:46] Tarotistas commented on #1576
That´s for Windows. not for MAC.
No Solution then.

Thanks anyway!

[2022-07-18 00:33] Tarotistas opened #1586 "HO 5.2 Issue while updating Stats (HRF file)"
Hello, I'm having HO 5.2 and since last Thursday I facing the following issue to donadlo the HRF file and update the stats.

Is anyone facing this?

Br
Gaspar (Tarotistas)

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/65875612/179430834-ff716a78-4b91-45ee-b5d7-2c60d0e05048.png">

[2022-07-18 05:27] PPV74 commented on #1586
I recognise the issue the problem with downloading HRF files since couple of days. Not sure if the problem is same though.

For me I download and then press save, the program goes into a continuous loop of saving which never stops. Its been like this for couple of days now. At the end I just hard-stop the program.

[2022-07-18 06:49] wsbrenk commented on #1576
@Tarotistas that's right - the picture shows the about dialog on my system (windows). you could test it with the newest beta release on your system - hopefully  Help->About will show the directories on your mac.

[2022-07-18 06:56] wsbrenk commented on #1586
@Tarotistas could you please look for the log file and upload it?

[2022-07-18 10:17] Marcx87 commented on #1580
I tried sql editor and it seems the all the data fields are incorrect...

I could not  verifiy the db on the previous version.
![ho6sql](https://user-images.githubusercontent.com/3596695/179491413-8fafc4bc-4de8-4d70-86e1-c6fa8e9c9612.PNG)
![ho6sql2](https://user-images.githubusercontent.com/3596695/179491417-226412d4-addb-47da-af9e-06cc77eccb7d.PNG)
![ho6sql3](https://user-images.githubusercontent

[2022-07-18 18:52] Marcx87 commented on #1580
I investigated a bit more into the problem and opened the database of HO5

![image](https://user-images.githubusercontent.com/3596695/179581805-187c377e-d640-4254-98a4-cab89a1d258b.png)

![image](https://user-images.githubusercontent.com/3596695/179581856-7ed0075f-b9e4-4323-9597-b0a7aa34ab2d.png)

![image](https://user-images.githubusercontent.com/3596695/179581995-6ba4cfae-e99f-406d-8e81-b0301d61

[2022-07-18 23:15] Tarotistas commented on #1586
Hello, I Have just downloaded again the HRF and failed again but copy the logs.

<img width="601" alt="image" src="https://user-images.githubusercontent.com/65875612/179631906-3a30f186-eaf0-40f9-b93a-17e98cfacc07.png">

Also, look how the stats in Defense specially where I'm training show decrease of progress which doesn't not make sense.
<img width="1665" alt="image" src="https://user-images.gith

[2022-07-18 23:41] Marcx87 commented on #1580
I did another test and I think it is maybe related to the jdbc driver.

I opened the same database from HO3 using hsqldb 2.5.0 and hdbsql 2.6.1 (latest)

The test was performed in the following way:
- Copy the db from ho 1.4x to a new HO3 installation
- opened HO3 to perform the normal upgrades.
- Use an external db browser to open the db
- Using 2.5.0 driver version, perform the select then disco

[2022-07-19 10:18] masterpatje opened #1587 "[BUG] Matches - Several Features | Clean Up Ladder Competition Matches |"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Matches'

**Screenshots**
**Screenshot 1: selection filter is the same**
![image](https://user-images.githubusercontent.com/102049050/179726133-0673d6aa-89fa-4e33-9208-e825a1008c75.png)

**Screenshot 2: "ladder competition" matches** (exclude option)
- I wish to hav

[2022-07-19 10:41] masterpatje commented on #1542
@wsbrenk; back from holiday and did some more testing. I thought I wanted to test in on a stand alone version (so I took 7.0.350) and I only have 2 HRF files in the database, 19th of July and 8th July (for comparison):
**TEST 1: HRF download 19th July = CORRECT**
On downloading 19th July 2022 HRF file the experience is correctly calculated:
![image](https://user-images.githubusercontent.com/102049

[2022-07-19 18:08] PPV74 commented on #1586
![image](https://user-images.githubusercontent.com/109501053/179819225-ff93690d-95b6-48af-ad31-1049c1e278db.png)

Download and then try to save, leads to long trying to save and then error message.
No data is actually saved. Hopefully this info helps to solve it.

[2022-07-20 00:44] Tarotistas commented on #1586
Hello Attaching log. Exactly the same you past in your post. Any solution? Beside I don't the DB file in case I need to reinstall.

[Java log HO 5.2 Issue.txt](https://github.com/akasolace/HO/files/9145546/Java.log.HO.5.2.Issue.txt)

Thanks for your help!
BR
Gaspar

[2022-07-20 06:24] wsbrenk commented on #1586
thanks a lot - now i see, where the error is and will work on it soon (next days are harvest time)

[2022-07-20 06:26] wsbrenk commented on #1580
great analysis - i will work on it soon (when harvest is done;-)
maybe the next version of hsqldb (2.7.0) is the solution!?

[2022-07-20 21:23] wsbrenk commented on #1586
@PPV74  @Tarotistas : today i made a change in the HO7-dev version. it would be great if you could test if it would fix the issue you are describing, if so, i will merge it to the HO6 beta version.

you should use a portable installation, that should not overwrite your current productive HO instance.

[2022-07-20 22:14] Tarotistas commented on #1586
Hello @PPV74 of course! Can you please tell me which Portable version I have to Download for MAC?
<img width="450" alt="image" src="https://user-images.githubusercontent.com/65875612/180091543-378bb4f7-848e-46c6-8339-2cf134ea645c.png">

Then, HO 5.2 will no longer working? When HO 6.0 is expected to be released?

Thanks a lot!

BR
Gaspar (@Tarotistas)

[2022-07-21 07:14] wsbrenk commented on #1586
@Tarotistas i'm not the mac expert - but i think you can use each portable version you are able to unpack/unzip. i would suggest the -JRE versions, since they include the correct java runtime environment.

[2022-07-21 11:12] wsbrenk commented on #1587
screenshot 1: the tagged entries are not identical. the first one should show your cup and qualification matches too.

[2022-07-21 11:15] wsbrenk commented on #1587
screenshot 2: show my competition matches should deliver approximately the desired. (league + cup + qualification)

[2022-07-21 11:17] wsbrenk commented on #1587
@masterpatje i'm with you, that selection by combobox items is not the best choice. i would suggest to improve this in HO7. maybe we could do it with check boxes.

[2022-07-21 11:43] wsbrenk commented on #1587
concerning cleanup: "Other matches" seems to be misleading. it does mean matches of other teams, not other match types.

[2022-07-21 11:46] wsbrenk commented on #1587
improvements of db cleanup should also be part of HO7 development.

[2022-07-21 22:48] Tarotistas commented on #1586
Guys this is too bad. I lost everything.

HO 6.0 Portable in Spanish_Sudamericano in case you don't know.

<img width="774" alt="image" src="https://user-images.githubusercontent.com/65875612/180327704-11574120-7be1-4605-8ae2-06f50f9ee46d.png">

BR
@Tarotistas

[2022-07-22 07:54] NilsNKristensen opened #1592 "[BUG] IllegalArgumentExeption in HRF Path file chooser"
I get the following error when importing the teams weekly training

Copied from java error message.....

ava.lang.IllegalArgumentException: Comparison method violates its general contract!
	at java.base/java.util.ComparableTimSort.mergeHi(ComparableTimSort.java:870)
	at java.base/java.util.ComparableTimSort.mergeAt(ComparableTimSort.java:487)
	at java.base/java.util.ComparableTimSort.mergeCollapse

[2022-07-22 10:13] wsbrenk commented on #1592
![image](https://user-images.githubusercontent.com/11821502/180417085-c40e0bc2-2f4e-4f06-bc92-fc7e5c4ee6f4.png)~~~

if you're using a beta (or dev) release, could you please check your user configurations with

DEBUG->SQL Editor

[code]

if not, how did you install HO.  is there something conspicuous about the directory where the HO was installed. No access rights for the user or special character

[2022-07-22 10:39] wsbrenk commented on #1586
@Tarotistas i hope you still have your stable HO5.2 installation or a backup of your database. If so, you should be able to start the newest beta release (or even dev) with a copy of the restored HO5.2 database.

[2022-07-22 11:50] wsbrenk opened #1593 "[FEATURE] Replace DBManager's EscapeSequences methods"
i think the existing insert- and deleteEscapeSequences are error prone.

for example they will deliver wrong results if the original strings contained '#' or '§' characters.

To get rid of escaping, the use of prepared statements should be considered.

[2022-07-22 11:53] wsbrenk commented on #1593
@tychobrailleur what are your thoughts concerning this?

[2022-07-22 11:55] wsbrenk commented on #1593
#1592 found this escapes here. maybe they are the reason for that issue!?

[2022-07-22 18:35] masterpatje commented on #1587
Fine with me to tackle the features in 7.0. And your comments where clear.

[2022-07-22 20:00] masterpatje commented on #1542
**Today new test:**
- imported HRF files 8th July and 19th July
- downloaded HRF file 22th July
- in total 3 HRF files including 6 matches
- Experience is shown for 22th July and **is correct** (and based on the friendly matches on the 17th and 20th).
![image](https://user-images.githubusercontent.com/102049050/180515385-746b9897-939b-4669-8f66-690cba4a3da0.png)
![image](https://user-images.github

[2022-07-22 20:26] masterpatje commented on #1542
![image](https://user-images.githubusercontent.com/102049050/180529095-3911bf1d-06dc-4629-95a7-157a438c9eb4.png)

So it should all matches training week 10 till 16 (so last matches included are training week 10 (5th and 8th June matches) :
![image](https://user-images.githubusercontent.com/102049050/180531652-d640c4f6-ef63-48b3-a6d6-cb2343bbaac8.png)

**HO experience after recalculation:**
![image

[2022-07-22 20:38] masterpatje commented on #1554
Oke today got the time to check it.

When I downloaded the missing matches everything worked as intended. Depending on the players position in the match (from the matches in the database) and the past training table it recalculates the training.

Perfect.

[2022-07-22 20:38] #1554 closed

[2022-07-22 20:55] masterpatje opened #1594 "[FEATURE] Market Value is empty"
**Describe the bug**
In previous version of hattrick (before H.O. 3.0 I think) there was a market value. Is it possible to re-establish this feature in HO 7.0?

**Screenshots**
![image](https://user-images.githubusercontent.com/102049050/180567042-e2187ade-703f-4e71-bcf2-6089485585bc.png)

[2022-07-22 21:06] masterpatje opened #1595 "[FEATURE] downloading multiple matches via "matches""
![image](https://user-images.githubusercontent.com/102049050/180568188-28b95e07-d928-4cd4-9585-710723d0174a.png)

select multiple matches and select download:
![image](https://user-images.githubusercontent.com/102049050/180568425-d7bc718b-fb97-432f-98df-4a9c2430f813.png)

only top match is downloaded:
![image](https://user-images.githubusercontent.com/102049050/180568493-0d090c0e-2e11-4f74-b98d-e9

[2022-07-22 22:15] Tarotistas commented on #1586
No, The DB was lost and HO is not able simply re-generate which I opened another threat last week due this.

BR
Gaspar

PS: I don't who check the HO 6.0 BETA but it's generates the error already posted when change language.

BR
@Tarotistas

[2022-07-23 07:51] wsbrenk commented on #1586
@Tarotistas the database folder should contain 3 backups (zip files) of your database. if you upload the oldest, i could try to repair it.

[2022-07-23 07:53] wsbrenk commented on #1594
@masterpatje i don't know if that was a duplicate of the tsi column. i would remove it.

[2022-07-23 08:16] wsbrenk commented on #1580
@Marcx87  latest beta uses hsqldb2.5.0. it would be great if you could test it again. hopefully it fixes the issue.

[2022-07-23 08:26] wsbrenk commented on #1542
not quite, I'm afraid. base of the calculation is the latest download BEFORE the 7 week  old hrf file. all trainings and matches after that download will be considered.

[2022-07-23 11:23] geocacher1 opened #1598 "[BUG] Wrong sorting"
**Describe the bug**
The sorting algorithm on Matches Tab seems to not working corectly (no matter if ascending or descending order) , it counts 9x number as higher than 1xx (looks like it works sth like: 9 > 1, so 92 > 101)

I have just 1 game when i got lower than 100 HatStats rating, so the data sample is small, but the sorting is not working properly. (screeens below)

**To Reproduce**
Steps t

[2022-07-23 22:05] #1598 closed

[2022-07-24 08:24] tychobrailleur commented on #1593
Yes, I would agree prepared statements are preferable, safer and clearer. I think it would be a lot of work to convert all SQL statements into prepared statements, though?

[2022-07-24 08:40] PPV74 commented on #1586
I found out that only downloading "matches" causes the error messages, "competition" and "team data" can still be downloaded and saved without errors. Only when you also selected matches the stack overflow error appears.
So the problem must be to do with the match info that is downloaded and cannot be saved for some reason.

Hope this helps with finding the cause!

I also reinstalled the version 5

[2022-07-24 10:59] wsbrenk commented on #1593
@tychobrailleur work is in progress. the crucial thing is how to migrate all the strings in database with escaped characters. Up to now i have no good idea concerning this. i fear this will become a very long running migration.

[2022-07-24 11:09] wsbrenk commented on #1586
@PPV74 that confirms the info from the log files. downloading the match highlights seems to be the reason of that error.

[2022-07-25 08:55] johari75 opened #1601 "Last 16 weeks of past Training visible on Training prediction tabl"
**Describe the bug**
In the Training Prediction Tab there is a bug concerning visible weeks.
I can see last 16 training prediction weeks of last season which were not visible until now. (see screenshot)
I would expect to see only future training effects as in the past.

**Screenshots**
![Training_Prediction](https://user-images.githubusercontent.com/67096604/180737499-873184cf-053d-4081-af1e-f0cf6

[2022-07-25 16:40] wsbrenk commented on #1601
this is a bug in hattrick: https://www87.hattrick.org/Forum/Read.aspx?t=17497428&n=1&v=0

it only happens on last day of the season (or first of the next). then hattrick will give a wrong season offset value.

@johari75 if you download today, the error should be gone.

[2022-07-26 04:26] Tarotistas commented on #1586
@wsbrenk Here is the DB from the Portable version. Remember I lost the db historial (disaster)

[db.zip](https://github.com/akasolace/HO/files/9186515/db.zip)

And the HRF files
[HT.zip](https://github.com/akasolace/HO/files/9186518/HT.zip)

Thanks and good luck!
BR
@Tarotistas

[2022-07-26 20:45] wsbrenk commented on #1586
@Tarotistas this db is a fresh ho6 database (no historical data, as you said). it is technically OK.
* you should be able to download old matches (F11->Misc->Old series data (select the desired series and start download)
* reimporting your hrfs (File->Import from hrf) should restore most of your past training weeks
* recalc subskills should restore player skills

[2022-07-26 21:30] Tarotistas commented on #1586
When do u expect to release HO6.0?

Thanks
Br
@Tarotistas

[2022-07-27 09:44] johari75 opened #1603 "[BUG] Matches Tab throws error while choosing"
**Describe the bug**
Matches Tab throws error while choosing (see screenshot)

**To Reproduce**
Click on 'Matches'

**Screenshots**
![Bug_Matches](https://user-images.githubusercontent.com/67096604/181216601-7c71774d-8633-4aa6-b15b-0a193160dee7.PNG)

**Platform information:**
![Platform_Information](https://user-images.githubusercontent.com/67096604/181216653-20b8e4ef-2da4-48ea-98d3-7e4c2e0f8dfb.P

[2022-07-27 09:47] johari75 commented on #1601
Thanks, you are right.
Error doesn´t occure anymore.

[2022-07-27 09:47] #1601 closed

[2022-07-27 17:57] #1603 closed

[2022-07-27 21:09] wsbrenk commented on #1593
![image](https://user-images.githubusercontent.com/11821502/181372682-a41f1f1f-1574-4523-9005-2d9b4163d249.png)

[2022-07-28 20:15] homersito1979 opened #1606 "No deja cargar hattrick organizer, da error de java.lang.stackOverflowError"
va.lang.StackOverflowError
	at java.desktop/sun.awt.image.BufImgSurfaceData.initRaster(Native Method)
	at java.desktop/sun.awt.image.BufImgSurfaceData.createDataIC(BufImgSurfaceData.java:274)
	at java.desktop/sun.awt.image.BufImgSurfaceData.createData(BufImgSurfaceData.java:95)
	at java.desktop/sun.awt.image.VolatileSurfaceManager.getBackupSurface(VolatileSurfaceManager.java:284)
	at java.desktop/

[2022-07-29 01:20] filex100 opened #1607 "[BUG] Problem starting HO-6.0.359.1-unix-BETA-JRE.sh"
**Describe the bug**
When installing the latest beta, I get an error at startup.

java.lang.NullPointerException: Cannot invoke "java.util.ResourceBundle.containsKey(String)" because "bundle" is null
	at module.lineup.LineupSettingsPanel.getPredictionItems(LineupSettingsPanel.java:499)
	at module.lineup.LineupSettingsPanel.initComponents(LineupSettingsPanel.java:460)
	at module.lineup.LineupSettin

[2022-07-29 09:30] hansies commented on #1586
I'm following this issue as I'm experiencing the same.

We manage two teams with HO. Only my team is having trouble, my sons team is good.

[2022-07-29 16:01] wsbrenk commented on #1586
Did anyone test this with current beta - if not, can anyone upload his failing database? Then i would try to test, if the current beta will fix this.

[2022-07-29 17:09] wsbrenk commented on #1607
should be fixed in 361

reason was renaming spanish_sudamericano to spanish(AR)

[2022-07-29 17:11] wsbrenk commented on #1606
same as #1586

[2022-07-29 17:11] #1606 closed

[2022-07-29 17:16] hansies commented on #1586
Here's mine from today.

[db_De Ballenstampers-2022-07-29.zip](https://github.com/akasolace/HO/files/9222042/db_De.Ballenstampers-2022-07-29.zip)

[2022-07-29 21:49] peppermil opened #1610 "[BUG] Java heap Space"
Hi
When i start HO (4,1.33102-JRE) with team 1 and 3 is all ok. when i start with tem 2 is comming the following error message:

Java heap Space (see the Java Erroro in JPG)

![Error_Java space](https://user-images.githubusercontent.com/88058929/181847393-71a90d06-cc62-4f95-a370-749f1a15055b.jpg)

**Platform information:**
 - OS: [Windows11]
 - Version (HOSetup-4.1.3310.2-JRE)

thanks pepper

[2022-07-30 01:28] filex100 opened #1611 "[BUG] BETA 361 Training"
**Describe the bug**
When I open the software and go to training and click on skill predition, it gives an error.

**Platform information:**
 - OS: [Linux]
 - Version (Linux Mint 20.3)

[HO-2022-07-29.log](https://github.com/akasolace/HO/files/9224097/HO-2022-07-29.log)

[2022-07-30 12:39] #1607 closed

[2022-07-30 13:14] wsbrenk commented on #1586
@hansies could download successfully with the database you provided - thanks

current beta seems to fix the issue.

[2022-07-30 13:14] #1586 closed

[2022-07-30 13:16] wsbrenk commented on #1586
@Tarotistas if no further bugs will be reported, i would like to release the stable HO6 tomorrow.

[2022-07-30 13:17] #1580 closed

[2022-07-30 13:18] hansies commented on #1586
Good job @wsbrenk!

[2022-07-30 13:29] wsbrenk commented on #1610
@peppermil could you test if this error also happens with current beta of HO6 (it is close to stable). Alternativly you could upload your database - then i would check that.

[2022-07-30 13:39] wsbrenk commented on #1611
should be fixed in current beta

[2022-07-30 14:04] masterpatje commented on #1542
@wsbrenk I want to help test this issues because of the excel I made in which I am sure that I correctly calculated the experience week by week, but in order to do so I need some help.

In the above example the total experience of last 7 weeks (see the past training table) was after recalculation no correct in total.

It would be nice if we could fix this for the HO 6.0 release but it is not neces

[2022-07-30 14:06] masterpatje commented on #1542
Sorry for the typos ;-)

[2022-07-30 14:19] masterpatje commented on #1542
Idea for testing could be the following. I can download the HO 7.0 portable version (which is based on HO 6.0) and where the subskill recalculation functionality works the same.

1) I can start by downloading the current HRF file, which includes 24th (wednesday) and 27th july (sunday) matches.

2) Then do a subskill recalculation (7-weeks).

3) Compare total experience before and after.

4a) Add a

[2022-07-30 14:30] masterpatje commented on #1594
I know that the indicated column would represent the market value in M€. It would hold an indication of the value that could be seen in 'transfer comparison'. I don't know if it was exact that value as shown in hattrick or based on an algorithm.

[2022-07-30 15:06] wsbrenk commented on #1542
@masterpatje many thanks for your help on this.

1. the hrf files do not include the corresponding match information needed for experience calculation. they have to be downloaded separatly if they are not already in the database.

the result of the calculation should not depend on previous runs of experience calculations - only on the start values given in the latest hrf data before 7 week period.

[2022-07-30 15:07] wsbrenk commented on #1542
if it would help, i can try to add some logging of experience increments during the calculation. what do you think about this?

[2022-07-30 15:14] masterpatje commented on #1542
Yes! This would help a lot. From that I can do debugging and see where the calculations are different and why.

So if you could add this (temporarily) in the newest HO7 version and can continue exploring.

Let me know when it is ready and I will look at it asap.

[2022-07-30 15:27] wsbrenk commented on #1542
[Debug]   HOVerwaltung: Start full subskill calculation. Sat Jul 30 17:25:34 CEST 2022
 [Info]    Player: Training 17.06.2022, 00:30:00 Experience increment of Walter Hasemann: 0.0 new sub value=0.0
 [Info]    Player: Training 17.06.2022, 00:30:00 Experience increment of Franziskus Zentsch: 0.0035000525007875117 new sub value=0.017500262480500475
 [Info]    Player: Training 17.06.2022, 00:30:00 Ex

[2022-07-30 15:29] wsbrenk commented on #1542
further information useful for the evaluation?

[2022-07-30 15:43] masterpatje commented on #1542
Add the training week number. The training week corresponding to that week experience gain (if it corresponds to the 'past training' week table). I can deduce from the training week the corresponding matches. So that I am absolutely sure which matches were included.

[2022-07-30 15:47] wsbrenk commented on #1542
added minutes - the dev is created

further info has to wait - have to feed my bees now.

[2022-07-30 20:07] masterpatje opened #1615 "[BUG] Error while on new build downloading a HRF file while not saving it"
**Describe the bug**
I downloaded the portable version and on download chose not to save the HRF file and got an error (see below).
Afterwards I again downloaded the HRF file but this time I saved the file and then I did not get the error.

**Platform information:**
 - 7.0 v364

**Additional context**
java.lang.NullPointerException: Cannot invoke "core.training.TrainingPoints.getTrainingDuration()

[2022-07-30 20:26] masterpatje commented on #1542
Just started debugging, but right after the first player Jarne Clarebout I got an error.
This was on a clean build with only the first HRF file downloaded. I directly checked the 7-weeks recalculation. I will

 [Info]    Player: Training 29 jul. 2022 01:05:00 Minutes= 90 Experience increment of Jarne Clarebout: 0.07000105001575023 new sub value=0.07000105001575023
 [Debug]   HOVerwaltung: recalcSu

[2022-07-30 20:27] masterpatje commented on #1542
And I accidently overwrote a HRF file (from last training week). It is still in the database of a H0 6,0 version. Is it possible to extract a HRF file from the HO database? To recreate the HRF file?