[2019-12-05 08:33] SortePlov opened #304 "CHPP Error 59 [eBUG]"
Just recently, I've been having this new error, when trying to download from Hattrick:
"CHPP Error 59 - (59) - Additional info: The supplied teamid does not refer to a team managed by the requesting user".

The error comes up three times in a row, when it's attempting to fetch different data files - and then bombs out with a NULL exception, probably due to having no data to work on.

I tried updat

[2019-12-05 10:04] mistermax80 commented on #125
This is my situation after cup match:
![image](https://user-images.githubusercontent.com/15519907/70225289-06abd080-174f-11ea-84ef-34225fcef2a5.png)

[2019-12-05 12:59] yaute74 commented on #125
@mistermax80 I know the max training is 90'. The question is about out-of-play.
- I have a match ended at 95'
- my player enter at the 80' minute in a training position
=> He is training 10 minutes or 15 minutes ? I am not sure it's 15 minutes...

[2019-12-05 14:04] mistermax80 commented on #125
I think to have the response:
in relation to my screen in cup match:
daniel letujiu played the first part of the match, after leoncio substitute him.
So, daniel played 76 min, leoncio 16 min --> then 90' - 76' = 14' and not 16', I think leoncio played 14 min and 2 min extratime (match enden in 92 min).

[2019-12-05 15:36] cheilson commented on #292
Todays result after download.

I’ll make a new zip of my DB so you can compare.

Fra: akasolace <notifications@github.com>
Sendt: 5. december 2019 08:44
Til: akasolace/HO <HO@noreply.github.com>
Cc: cheilson <kejle@1145.dk>; Mention <mention@noreply.github.com>
Emne: Re: [akasolace/HO] [eBUG] Faulty ratings in HO (#292)

@pierpaolocira <https://github.com/pierpaolocira>  you need to select the new

[2019-12-05 15:38] cheilson commented on #292
And the database:

https://we.tl/t-gY0X2iynwy

Fra: akasolace <notifications@github.com>
Sendt: 5. december 2019 08:44
Til: akasolace/HO <HO@noreply.github.com>
Cc: cheilson <kejle@1145.dk>; Mention <mention@noreply.github.com>
Emne: Re: [akasolace/HO] [eBUG] Faulty ratings in HO (#292)

@pierpaolocira <https://github.com/pierpaolocira>  you need to select the new match order interface in HT prefe

[2019-12-05 18:39] akasolace commented on #284
closed by b8a1c79

[2019-12-05 18:39] #284 closed

[2019-12-05 18:42] akasolace commented on #247
@cyrill10 are you still considering looking into it ?

[2019-12-05 18:44] akasolace commented on #108
@yaute74 , @DavidatorusF  is this really an open ticket or should it be closed ?

[2019-12-05 18:47] akasolace commented on #215
@yaute74  @mistermax80 @brokenelevator  what do you think about this one ?
Should we change it or keep it as it is ?

[2019-12-05 18:58] akasolace commented on #287
@mistermax80  I just had a look and it does not look easy, it is required to fetch all components, layery by layers and reconstitute the image.  I am sure it can be done but I doubt it worth the effort

[2019-12-05 19:00] akasolace commented on #287
Arrival date  => already in HO
Owner notes  => HO has own player notes, should we change it and only shows from HT or keep it as is
Matches for current team  => we can add this
Goals for current team   => we can add this

@mistermax80  @DavidatorusF  @yaute74   what do you think ? Is there anything here that can be an improvement ? Shoud we close this ticket and leave this untouched ?

[2019-12-05 19:11] akasolace commented on #282
To be changed in

**1 Player Details:**

![image](https://user-images.githubusercontent.com/1136496/70265381-8ad77580-179a-11ea-9144-5f3f57d84bf3.png)

**2 Skill Tester:**

![image](https://user-images.githubusercontent.com/1136496/70265491-cf631100-179a-11ea-9815-2fab23a69b50.png)

**3 Player Compare:**

![image](https://user-images.githubusercontent.com/1136496/70265595-06d1bd80-179b-11ea-8cf2-e

[2019-12-05 20:05] yaute74 commented on #125
@mistermax80 but leoncio is not in a train position ? his bar is not green

[2019-12-05 20:07] yaute74 commented on #108
@akasolace I think it could be close

[2019-12-05 20:13] yaute74 commented on #215
We have the space to display this infos ?

[2019-12-05 20:20] yaute74 commented on #287
For me Matches and Goals could be interesting but not a priority

[2019-12-05 23:53] dade1333 opened #305 "[eBUG] Installation On Mac OsX"
**Describe the bug**
When I install on Mac and click on the installer to launch the programme, I receive the following error message "JRE Load Error" (see screenshot)

**To Reproduce**

**Screenshots**
![image](https://user-images.githubusercontent.com/58575763/70283974-b53d2900-17c2-11ea-823d-a8a5b84ff16e.png)

**Platform information:**
MacOs Mojave
Version 10.14.6

**Additional context**
Add any

[2019-12-06 00:21] cyrill10 commented on #247
I still am. Unfortunately I was offline the last few weeks but I should find some time to finish it in the next few weeks.

[2019-12-06 07:31] akasolace commented on #215
@yaute74  It will use less space.
The idea was to remove all the boxes with player name and inaccurate stars information and put instead the sectors ratings, hence we can remove them from the left columns (see first screenshot). More or less a similar interface that what exist in HT but I think it is currently only a supporter feature.

[2019-12-06 07:32] akasolace commented on #247
@cyrill10 ok nice to know !

[2019-12-06 07:33] akasolace commented on #305
@dade1333 do you have a proper installation of Java? It needs version 8 at minima.

[2019-12-06 07:34] akasolace commented on #287
ok, I move the milestone

[2019-12-06 07:36] akasolace commented on #125
@yaute74 have you asked on HT for official confirmation of how this off-time training work?

[2019-12-06 11:00] yaute74 commented on #215
@akasolace I thought your question was about david  proposal
With your proposition we will loose info as mentioned by david, no ?

[2019-12-06 11:26] yaute74 commented on #125
@akasolace I will ask on forum

[2019-12-06 12:22] mistermax80 commented on #125
In fact! He received only stamina training.

[2019-12-06 13:12] akasolace commented on #215
@yaute74, yes with my proposition we loose that info in that screen.  We alreday have such information in the player analysis tab. IMO, team analyser should be simply about providing information against opponement and to compare sector ratings. Hence, I would suggest to simplify the interface and concentrate on displaying useful rating information.
For example, I haven't checked but I am not even

[2019-12-06 20:08] yaute74 opened #306 "[eBUG] No training for secondary cups"
Training is not taken into account for secondary cups.

[2019-12-06 20:13] akasolace commented on #306
same as #278

[2019-12-06 20:13] akasolace commented on #306
If it is a small one I will cherry pick for 2.1

[2019-12-06 21:09] akasolace commented on #306
closed by 75a5a5c

[2019-12-06 21:10] #306 closed

[2019-12-07 11:51] wsbrenk commented on #299
concerning wheater i found the following
- one could download the regions current wheater and next day prediction of the match
- if none of these would match the match date the prediction value should set the default of a user choice combobox selecting the wheater which controls the rating predictions
- if one matches the wheater selection box could be disabled (or not or only if it is the current

[2019-12-07 12:26] akasolace commented on #299
Item 4 has indeed been implemented.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-07 15:52] DavidatorusF opened #309 "[eFEAT] Special Events"
**Is your feature request related to a problem? Please describe.**
can you add all the missing SE in module "Special Events"

[2019-12-08 00:15] mistermax80 commented on #299
In additional to weather conditions, I had in mind to suggest the following insight (I extracted some from HT Manual see post 1 of this issue):

2) example: Experience: experienced forwards **can score using their experience**. Inexperienced central defenders and wing backs can give their opponents an extra chance.
3) example: Powerful forwards, if playing normal (also called power forwards) can p

[2019-12-08 00:31] mistermax80 commented on #215
@akasolace I'm not supporter, so could you show me the team analyzer in HT?
IMHO, the info in that screen are useful, I like the team analyzer in across view way, where you can see the position player opposite and the information on opposite player, in addition, I like to see other information, for ex, healt, marks, specialtis, ect, all in the following screen with across way:
![Schermata 2019-12-

[2019-12-08 00:38] mistermax80 commented on #287
OK for me, but the notes in HT are for only supporter, so we can think if the user is supporter the player note content in HO is the same in HT, for not supporter users the note are only in HO.
Other additional information can be: the number of injuries, marks (for current season and always), but I don't know if this information are available by CHPP.

[2019-12-08 00:39] mistermax80 commented on #282
Ok, I can work on this, I put in my queue 😄

I think we should find a way to explain to user the difference between the both value.

[2019-12-08 11:27] akasolace commented on #299
@mistermax80 this is what is available in tool Special Events
maybe we can make some of tht information available in hoover message in players tabs....

[2019-12-08 11:29] akasolace commented on #215
@mistermax80 problem is that we don't have reliable info on opposite lineup. You d'ont know which players will be aligned and stars information are also unreliable. I think this why HT does not offer that functionality ...

[2019-12-08 11:30] akasolace commented on #282
@mistermax80 I already assigned it to me.
I am almost done with this one.

[2019-12-08 11:33] wsbrenk commented on #299
yesterday i started implementing Regiondetails to load weather infos from HT

[2019-12-08 11:38] wsbrenk commented on #299
concerning special events it again is necessary or useful to get infos about the oppenent team - up to now i do not have a good idea how to handle that. until now the lineup is completly disconnected from the matches until the up or download happens

[2019-12-08 12:50] mistermax80 commented on #299
We are discussing in #215

[2019-12-08 13:08] pierpaolocira commented on #292
@akasolace I'm sorry but I have too much work and I cannot deal with this in those days.

@cheilson as a personal suggestion, if you prefer to reply via email, can you please remove the quote of previous message before sending the new one. I know it's not your fault, and there should be an incompaitbility between your email client and github... but the discussion on the website is getting unreadab

[2019-12-08 18:31] akasolace commented on #292
@pierpaolocira ok np I will have a look whenever I can

[2019-12-08 19:59] wsbrenk opened #310 "[eBUG] MatchesAnalyzerMatch division battle"
Devision battle match breaks the MatchesAnalyzer
![matchanalyzer](https://user-images.githubusercontent.com/11821502/70395349-09801d00-19fe-11ea-9f0a-9e1ddc75426d.jpg)

[2019-12-09 14:38] mistermax80 opened #311 "[eBUG] Training Preview shows wrong training"
SetPieces Training.

HT situation in half week (after match league and before cup/friendly match):
![image](https://user-images.githubusercontent.com/15519907/70444114-ad6ad680-1a99-11ea-910e-603d1d3f9df0.png)
HO situation:
![image](https://user-images.githubusercontent.com/15519907/70444241-e014cf00-1a99-11ea-8c39-c62c8169673e.png)

[2019-12-09 20:12] yaute74 commented on #311
@mistermax80 do you test with this modification #308 ?

[2019-12-09 23:46] mistermax80 commented on #286
We can inspire to this tool...
http://ht4u.altervista.org/

[2019-12-09 23:49] mistermax80 opened #313 "[eBUG]cup match missed in matchanalizer"
When you have a other match in.week, as for eg battle match, in team analyzed we cannot see the cup match.

[2019-12-10 08:04] akasolace commented on #310
closed by b6de1f5

[2019-12-10 08:04] #310 closed

[2019-12-10 09:02] SortePlov commented on #304
[HO-2019-12-06.log](https://github.com/akasolace/HO/files/3943865/HO-2019-12-06.log)

[2019-12-10 09:15] mistermax80 commented on #311
@yaute74 now I have a doubt... I will know you.

[2019-12-10 09:20] mistermax80 commented on #311
@yaute74
current situation with last code:
HO:
![image](https://user-images.githubusercontent.com/15519907/70516050-90d0ac00-1b36-11ea-8a6d-57349c040245.png)

HT:
![image](https://user-images.githubusercontent.com/15519907/70516107-ae057a80-1b36-11ea-99db-595372f15742.png)

[2019-12-10 09:56] akasolace commented on #304
@SortePlov I had no time yet to look at it. Can you try the following just in case:
   1) make a backup of the db folder
   2) remove the authorisation  under "Preferences::CHPP products"
   3) delete HO and make fresh install
   4) start HO and fetch data
   5) close HO and restore the db folder you saved at step 1
   6) start HO again and see if it still works

[2019-12-10 12:30] yaute74 commented on #311
@mistermax80 reproduce, I do a PR

[2019-12-10 12:46] akasolace commented on #311
closed by bfc9e18

[2019-12-10 12:46] #311 closed

[2019-12-11 13:23] akasolace commented on #305
@dade1333 any follow up ? otherwise I will close the ticket.

[2019-12-11 13:24] akasolace commented on #313
@mistermax80 I don't use matchanalyser. Is it a bug only when there is a battle match or also exist with friendly ....

[2019-12-11 13:28] akasolace commented on #291
maybe we can try to catch the error and either get around it or display a more appropriate error message like "not possible to fetch data at the moment because this team is currently playing a game"

[2019-12-11 13:32] akasolace commented on #296
@mistermax80 I think I understand the issue, highlight should be on future training and not past training. What I don't get in you example is it seems that you have 2 differents kind of training set for the future. Is it correct ?
@yaute74 @mistermax80  @da  how do you suggest we treat this?

[2019-12-11 13:32] dade1333 commented on #305
@akasolace yes you were correct. I was missing the latest Java installation. Thank you for support

[2019-12-11 13:34] akasolace commented on #305
@dade1333 ok thanks for the update, I close the issue then

[2019-12-11 13:35] #305 closed

[2019-12-11 20:50] yaute74 commented on #296
@akasolace @mistermax80 what I understand is, actully it highlight the futur training instead of current training.
If it's the case, for me it's a bug

[2019-12-11 20:52] yaute74 commented on #313
@mistermax80  @akasolace  I do a modification recently for battle match in matchanalyser maybe it will work better with it

[2019-12-11 21:33] wsbrenk commented on #215
what about putting teamanalyzer and lineup together? not only moving teamanalyzer gui to lineup, also putting the different model classes MatchDetails, MatchKurzInfo, Match and Matchdetail together. weather prediction from regionDetails could preset rating prediction in lineup. special events could be displayed in team analyzers gui when comparing the own current lineup with recent lineups of oppo

[2019-12-12 07:18] mistermax80 commented on #296
Yes You understand it.
For me the highlight player should be for training in current week.
It seems HO highlights the future last training.

[2019-12-12 07:31] akasolace commented on #313
@mistermax80 can you please confirm whether or not the bug still exist ?

[2019-12-12 07:36] akasolace commented on #215
@wsbrenk I think this is a too big change. I would rather stick with 2 differents tabs/modules.
Some users (like me) are hardly using team analyser. I would not like to overcomplicate the existing lineup tab.  I think it is not too difficult at the moment to go back and forth between lineup tab and match analyser to test different composition.
My idea here was actually the opposite, it was to simp

[2019-12-12 07:40] akasolace commented on #296
@mistermax80 is it possible to set differents kind of trainings in the future? If not, it means that in HO we can only have one kind of training, the same for the current week and the future weeks, right?

[2019-12-12 07:54] mistermax80 commented on #296
@akasolace
No I think and How I used the future training it is serve to planning the future trining, infact in player details you can see the all the different future trainings. So you should leave as-is for me.
The current week it should the first of the future week.

[2019-12-12 08:22] mistermax80 commented on #215
@akasolace yes my idea is not merge the two tabs. For the march analyzed I exposed already my opinion

[2019-12-12 08:23] mistermax80 commented on #313
@akasolace  I will check next Monday

[2019-12-12 14:58] SortePlov commented on #304
Followed your steps and installed the latest HO 2.0. After restoring the db folder (moving the old 'db' files back into the new installation), I fire it up and get the exact same errors as described.

[2019-12-12 15:30] akasolace commented on #304
@SortePlov ok thank you for confirming the issue
@yaute74 when you worked on NTHRF issue I think you had to run db from another user, right? Just to confirm whether or not this is feasible, as I am not sure otherwise how I can replicate the beahviour ...

[2019-12-12 18:59] wsbrenk opened #316 "[eBUG] error reloading saved match lineup"
Set pieces taker will not be reloaded if one load the lineup stored by the user in the lineup panel

Steps to reproduce the behavior:
1. Go to lineup panel
2. Select set pieces taker
3. Select load/reload panel (discette on the right sight)
4. Select save lineup
5. Select load lineup
6. Set pieces taker slot is empty
![err](https://user-images.githubusercontent.com/11821502/70740493-92a69500-1d19-

[2019-12-12 19:31] yaute74 commented on #313
@mistermax80 For info we could have the same id for an official match and a tournament match. Before my correction, for the battle match, it download the official (who have the same id) instead of the battle match.

[2019-12-12 19:33] yaute74 commented on #304
@akasolace no, I send jar with debug info to the user

[2019-12-12 22:33] wsbrenk commented on #299
one first simple step could be to load regionIds of the upcoming matches if it is not a Home match. 3 simple methods could give info about match location:
isHome {return regionId==-1}
isDerby {return regionId == OwnRegionId}
isAway {return regionId>=0 && regionId != OwnRegionId}
next step would be to load RegionDetails of the Match to preset weather combo box.

[2019-12-14 14:43] akasolace opened #317 "[eBUG] unexplained difference in contribution in skilltester tab"
**Describe the bug**
when loading a new player, the performance o the player seems slightly off

![image](https://user-images.githubusercontent.com/1136496/70850238-7aa15380-1e88-11ea-9ff6-cce759f359e6.png)

[2019-12-14 15:52] akasolace commented on #282
closed by ff95aaa

[2019-12-14 15:52] #282 closed

[2019-12-14 15:55] akasolace commented on #316
closed by 6e15b3390fd2605077c1eddccf8a1e3488927775

[2019-12-14 15:55] #316 closed

[2019-12-14 16:12] akasolace commented on #299
@wsbrenk so the idea would be when refreshing lineup for upcoming match:
   - If match is today or tomorrow:
      - if home get own region id
      - else: look ID of opponent, look region ID of opponent from team details
               : determine if it is a derby (this was never implemented in HO, it could be the tight time to do it)
      - get weather of  selected region ID

     - if match i

[2019-12-14 16:16] akasolace commented on #313
@mistermax80  I just had a look and I am missing my division battle opponent. I don't know if it was always the case (missing non official game) or not

[2019-12-14 16:17] akasolace commented on #304
@yaute74 would you mind looking at that one when you got some time, maybe it is similar to issues you have been working on previously ...

[2019-12-14 19:07] mistermax80 commented on #317
I know. The difference is in some case the position values is calculated with 2 decimal positions in other case the round is applied after the calculation

[2019-12-14 19:07] mistermax80 commented on #313
For me official match it was missed

[2019-12-14 21:48] yaute74 commented on #304
@akasolace I have no idea of the problem and I don't think it's similar because it was specific to NT team.
@SortePlov do you have the problem with a clean database (after import hrf files, if you have them) ?

[2019-12-14 22:18] wsbrenk commented on #299
@akasolace yes, these 2 points i think are necessary to examine more influences to ratings and effects of special events. i think it is a good idea to split it in multiple tickets.
today i started trying to download arenaId and regionId of upcoming matches.

[2019-12-15 12:49] yaute74 commented on #124
@mistermax80 I do PR but I don't treat the training page because it's sorted from an invisible column and I don't want to broke something, if you want to do it....

[2019-12-15 14:36] wsbrenk commented on #299
yesterday i thought that i could treat all match types with the help of 2 values (arenaId, regionId). Today I came up with the neutral match types. An approach with 2 values ​​would be this:
// TYPE				|arenaId 		|region Id
// HOME				|HomeArenaId	|-1
// AWAY				|!= HomeArenaId |>0
// NEUTRAL			|<-1			|>0
// DERBY_NEUTRAL	|<-1			|>0
// DERBY_HOME		|HomeArenaId	|HomeRegionId
// DERBY_AWAY		|!=HomeA

[2019-12-15 14:48] akasolace commented on #124
closed by afd64be

[2019-12-15 14:49] akasolace commented on #317
@mistermax80 I only looked at it quickly but I am not sure this is a question of rounding ... tbc

[2019-12-15 14:52] akasolace commented on #299
yes I think it would be more readable

[2019-12-15 16:11] wsbrenk commented on #299
thanks for the suggestion. I will do 4 values

[2019-12-15 21:35] mistermax80 commented on #124
Only default sort is on hidden column... Ok... I will do... 😭

[2019-12-16 17:43] AchimGrube opened #319 "[eBUG] training page not analyzing old matches"
**Describe the bug**
I've set up a new computer and tried to use HO without copying the old database. After downloading all matches and league data ranging back to 08-2014, I've had all my data back in the HO database. So far, so good, but when I clicked on the training tab, no data was present but the actual training week. Even when recalculating sub-skill or importing some matches by hand, no hi

[2019-12-16 19:06] akasolace commented on #317
actually there is no bug, it is simply that skill decimals are not considered as per the values in the combobox

[2019-12-16 19:06] #317 closed

[2019-12-16 19:16] akasolace commented on #292
@cheilson I was about to look at your issue, but the transfer has been canceled.
Can I ask you to share it once more.

from the look of it It is clearly your factors which are broken.
I understand that when you reset them it fixed the issue but at some point the error is coming back, correct?  Have you been using the beta at some point? Did you upgraded straight from 1.437?
Do you know what steps

[2019-12-16 20:49] cheilson commented on #292
I hope its these two files. https://we.tl/t-EKlKjRKljq

It didn't fix the issue when reset.
At some point it suddenly worked, and then later it didn't work again.
Its a new clean install, I just imported my old HRF files.

I Cannot reproduce how to fix it, havent used HO too much since.

[2019-12-17 14:12] mistermax80 commented on #313
Today situation:
HT:
![image](https://user-images.githubusercontent.com/15519907/71002459-9f433880-20df-11ea-9c56-366646c7af22.png)
last 2.0:
![image](https://user-images.githubusercontent.com/15519907/71002340-58554300-20df-11ea-9248-f1f3ba78c41e.png)
last dev code:
![image](https://user-images.githubusercontent.com/15519907/71002391-7d49b600-20df-11ea-8ed0-dde19b231136.png)

[2019-12-17 14:59] murko69 opened #320 "[eBUG] Module matches "show my cup games" is faulty"
When I go to modlue "Matches"  and chose option "Show My Matches" the first tab shows me a list of the 1914 games (+ a few upcoming) I've chosen to leave in HO - I delete all HTOIntegrated games - see my feature request #290 about that :) .

So far so good. Everything is correct on this option. I can see this seasons cup games - 3 from national cup + 2 from Sapphire Cup (see image below)
 ![ho1](h

[2019-12-17 15:39] akasolace commented on #313
so with 2.0 you are missing secondary cup
and with latest dev  you are missing both secondary cup and division battle but you got something else (Mori, which kind of game is that ?)
so looks like the bug is confirmed, now we have to decide, how many team we want to present here, own team + next 5 fives opponement ?
do we want to include all kind of game (non official, ...)

[2019-12-17 15:59] propivo opened #321 "[eBUG] Hatstats and Loddastats incorrectly displayed"
**Describe the bug**
Hatstas and Loddastats are not displayed correctly in the "TeamAnalyzer" tab. Both are displayed as "0" (the number zero)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'TeamAnalyzer'
2. Click on 'Analyze'
3. See error

**Platform information:**
 - OS: [Windows 10 Pro]
 - Version 10.0.18362
 - Hattrick Organizer 2.000

[2019-12-17 16:23] mistermax80 commented on #313
I don't know "I 4 Mori" nothing future match....

[2019-12-17 16:46] mistermax80 commented on #282
@akasolace so, this beaviour is not configurable in user preference.
Why do you think is not need?

[2019-12-17 17:06] akasolace commented on #292
@cheilson  I simply opened the database and the lineup was there but ratings were good.
I cant reproduce the error ...

[2019-12-17 20:26] yaute74 opened #323 "[eFEAT] secondary cup filter in match list"
We must create a filter for secondary cups in:
- matches tab
- statistics tab, sub tab matches and arena

For division battle we can add them into tournament filter

[2019-12-17 20:34] yaute74 opened #324 "[eBUG] HatStats and LoddarStats equal 0 in team analyzer"
In team analyzer tab the HatStats and LoddarStats of opponents are equal to 0.
[post=17297631.22]

[2019-12-17 22:07] murko69 commented on #320
@yaute74 I made a database cleanup as we talked about in HT-mail.
I removed all matches and then downloaded old matches from my start (2000-11-19) so it took a while :)

The issue is pretty much the same as mentioned above
I should have 256 cupmatches total shown, but earlier today I only saw 254 (this seasons sapphire games was gone)

After the db cleanup I only have 226 cup matches total. That's

[2019-12-17 22:57] murko69 commented on #323
As long as we are on the subject of more filters in match list.
I  kinda miss qualification games in there as well.
I know most users only have a few of these (I have 18 and am pretty sure that there are users with plenty more out there) and they are marked on HT with a separate icon-type so I think they should have  a filter of their own in HO as well.

Only way to list qualifying matches in HO t

[2019-12-18 07:32] akasolace commented on #282
@mistermax80 which behaviour?

[2019-12-18 07:43] akasolace commented on #213
closed by 4ae8995

[2019-12-18 07:43] #213 closed

[2019-12-18 07:44] akasolace commented on #323
closed by 7c61ec0

[2019-12-18 07:44] #323 closed

[2019-12-18 07:45] akasolace commented on #324
@yaute, I think this is a duplicate of #321

[2019-12-18 07:46] akasolace commented on #321
This is a duplicate of #324

[2019-12-18 08:56] mistermax80 commented on #282
if ho shows the individual performance vs absolute contribute (in that cells)

[2019-12-18 09:26] akasolace commented on #282
no HO continue to show both, the problem was that for best position it was using absolute contribution which was incorrect.

[2019-12-18 09:31] yaute74 commented on #321
yes I close my issue

[2019-12-18 09:31] #324 closed

[2019-12-18 09:34] yaute74 commented on #323
@murko69 you can open an issue it's a small modification

[2019-12-18 09:59] SortePlov commented on #304
If I try to download on a fresh database with nothing in it, it seems to work.

[2019-12-18 11:39] yaute74 commented on #320
@murko69
So it's normal to have only national cup match.
I create a filter for secondary cups match, so for me there is no bugs.

[2019-12-18 12:00] yaute74 opened #326 "[eFEAT] filter for qualification matches"
We must create a filter for qualification matches in:

    matches tab
    statistics tab, sub tab matches and arena

[2019-12-18 12:00] yaute74 commented on #323
Issue for qualification matches #326

[2019-12-18 12:18] murko69 commented on #320
Thanks.
I close this one and hope the new filter(s) will fix this

[2019-12-18 12:18] #320 closed

[2019-12-18 12:44] akasolace commented on #326
closed by d0e2579

[2019-12-18 12:44] #326 closed

[2019-12-18 19:38] SortePlov commented on #304
If I subsequently import all my HRF files (over ten years worth), it also seemingly works with downloading afterwards.

[2019-12-18 20:34] yaute74 commented on #304
@SortePlov  ok great :)

[2019-12-18 20:41] yaute74 commented on #319
@AchimGrube it's normal, it's not a bug. Hattrick don't send the training of each weeks.
You need to import our old hrf files (if you kept them).

[2019-12-18 20:41] #319 closed

[2019-12-18 20:42] #321 closed

[2019-12-18 20:43] akasolace commented on #304
ok good so I will close that issue

[2019-12-18 20:43] #304 closed

[2019-12-18 20:46] AchimGrube commented on #319
Oh okay. I thought it would be possible to calculate the training history by checking the minutes played for each player on the relevant positions.

[2019-12-18 20:49] yaute74 commented on #319
We have the minutes played but not the training.
It's a good idea to keep hrf files :)

[2019-12-18 21:41] mistermax80 commented on #161
Current situation:
![image](https://user-images.githubusercontent.com/15519907/71125544-71491b80-21e7-11ea-9e36-22c7814902a9.png)

@akasolace where do you want I can go ahead?

[2019-12-18 22:31] mistermax80 commented on #124
@yaute74 , do you watch in my branc why doesn't works?

Thanks.

[2019-12-19 07:53] akasolace commented on #161
@mistermax80,  As you can see, it has been partially implemented. Hatstats and LoddarStats have been moved to top screen already. I only left the ticket open because to be complete I thought we should label Hatstats and LoddarStats. At the moment it is not clear what those number represents, there is a hoover message but I thought we could try something clearer. Now to be honest, I am not sure we

[2019-12-19 21:08] yaute74 commented on #124
@mistermax80  it's because OutputPanel don't use tableSorter (it call setRowSorter)

[2019-12-19 23:53] mistermax80 commented on #124
Thanks I will try to adjust in order to use tableSorter

[2019-12-20 20:36] akasolace commented on #213
I have 2 remarks:
    - the bold is not very easy to spot, can't we try something more radical, different background  ?
    - in the settings,
         - I would call it "Best Position Tolerance (%)"
         - I would default it to 5% and maybe if it feasible we should limit it to 0-10%

[2019-12-21 08:24] mistermax80 commented on #213
Different backgrounds make tables messi, but  I can try.
The lab

[2019-12-21 09:38] #295 closed

[2019-12-21 10:39] wsbrenk commented on #299
Progress Report

download from matchkurzinfo loads arenaId, regionId, isDerby, isNeutral, Weather, WeatherForecast (HAPPENED, TODAY, TOMORROW, UNSURE, NULL)
Lineup.Local has got a new value NEUTRAL, LOCAL_AWAY is also set if the derby is a home game.
Weather information is also included in the lineup, but I still don't know how I can transfer this data to the AufstellungAssistantNewPanel. I am cur

[2019-12-21 15:25] wsbrenk commented on #299
a first version of the weather combo box init is implemented.
I am not sure if this is a reasonable solution, because I don’t have much idea about java GUI programming. Found that the AssistantPanelNew is not in use and wondered why. In addition, there is no refresh method in the AssistantPanel, where I could have easily installed it.
So I tried the constructor. Would be grateful if you could offe

[2019-12-22 01:02] sirketzal commented on #221
Why it has been removed? I found it useful tu recalculate the good puntuation that a position would have. Actually, I've one winger giving me 4.44 in the tab and in the game it had 6.00.

It would be available soon?

Thx.

[2019-12-22 07:59] mistermax80 commented on #221
@sirketzal
If you read prevoius comments you will nave the response.
If you have other doubts, you don't hesitate to aks US.

[2019-12-22 11:18] wsbrenk commented on #299
i looked for further non weather depending special events and devided in two groups. one group does not depend on the opponent team the second one does:

Group 1:
a) Experience less than weak (Mistermax80 example 2)
b) unpredictable player
c) winger + head/scoring
d) powerful forward (example 3)
e) powerful defensive inner midfield
f) counter attacks
g) long distance shots

Group 2:
a) stamina
b)

[2019-12-22 11:40] sirketzal commented on #221
@mistermax80
First of all, I read all the topic before asking anything.
Simply, I asked if it will return because I played long time ago and with that functionallity HO! gave the exactly punctuation.

Anyway, thank you.

[2019-12-22 11:44] mistermax80 commented on #299
Yes, It Is that I had in mind.
For me go ahead with group 1

[2019-12-22 11:49] mistermax80 commented on #221
I was not polemic, sorry for I gave you this sensation...
We have chosen to remove (temporary) that feature beacuse We don't know (in this moment)  if it works fine.
We introduced an new way to reach data player and rating in order to enhance the predictions.
When We gather enough data we release a new pretiction engine... You can see here https://github.com/akasolace/HO/wiki/FeedBack
I'm here for

[2019-12-22 12:34] Sturzbach opened #328 "Exclude Last Lineup not working, when doing manual lineup"
Hi,

it seems, that the option exclude last lineup is not working correctly, when filling the lineup manually. In the past also then doing manually, the players, which already played, where filtered out and not shown in the players choice list.
After may league match, i use it to setup my friendlies,m that every player gets his game in the week.

Can you please check and repair?

HO Version 2.000

[2019-12-22 14:23] wsbrenk commented on #328
i could reproduce this issue. i will try to find out the reason.

[2019-12-22 15:02] wsbrenk commented on #328
since Sep. 17th the previous lineup was not loaded anymore.

[2019-12-23 11:27] akasolace commented on #299
@wsbrenk hello, I am currrently travelling and I don't have really the time to go into details but I see this ticket is becoming more and more ambitious.
I am not really familiar with AssitantPanel and the GUI part is also not the part I am the more confortable with, if @brokenelevator comes by he might give advices.

@wsbrenk can you explain again what you are planning to do exactly for non weath

[2019-12-23 11:31] akasolace commented on #221
@sirketzal we removed it because it was a dirty way to fix sector ratings.
We will focus in the near future in improving the ratings.

[2019-12-23 11:33] akasolace commented on #328
@wsbrenk for my info, previous lineup is really the previous one, or the last official game?

[2019-12-23 11:35] akasolace commented on #328
closed by db35c4bc82f08cd344e57d8c11aaf6e285e46354

[2019-12-23 11:35] #328 closed

[2019-12-23 11:43] wsbrenk commented on #328
it is the  "last lineup" mentioned in the hrf file

[2019-12-23 11:59] wsbrenk commented on #299
@akasolace hello, my first idea is to generate a list of SpecialEventsPrediction with one entry of each possible event. Attributes of these entries could be
- name of the event type
- responsable position of the lineup
- list of other involved positions
- chance creation probability (> 0, if positive event; < 0 if negativ event)

as a very first guess i will set probability to +1 or -1 and we coul

[2019-12-23 12:03] wsbrenk commented on #299
As the very first example i would create the ExperienceEventPrediction with a negative impact for each player with experience less than wretched (2).

[2019-12-23 12:21] yaute74 commented on #123
I close because after study it need to it takes too much effort for what it's worth

[2019-12-23 12:21] #123 closed

[2019-12-23 13:05] yaute74 commented on #313
@mistermax80 it's a regression ?
because if we look the source code for me it's "normal" to don't see the secondary cups.
for the battle, do you enable the checkbox 'Tournament Games' in dev version ? Because by default it's disable and me must scroll to see it.

[2019-12-23 13:05] wsbrenk commented on #299
i commited a very preliminary scetch of what i'm planning to implement:
https://github.com/wsbrenk/HO/commit/ec416f3d7e2f951252072e5b6894b28f44c6d772

PLease have a look on it and tell me if i'm on the "wood way" (wrong track).

[2019-12-23 16:36] mistermax80 commented on #313
I will check it.
In addition I noticed if I see the match in the same match day, there are not visibile...

[2019-12-23 16:38] mistermax80 commented on #299
Yes I understand, but if we able to implement this suggestions, I think it will be useful!!!!

[2019-12-24 10:16] wsbrenk commented on #299
progress report:

- lineup.setSpecialEvents calculates a list of possible SEs
![sepred](https://user-images.githubusercontent.com/11821502/71408280-e41a2280-263d-11ea-94ae-4dc02d686fab.jpg)

next possible steps:
- investigate realistic probability values, now they are phantasy numbers, only the sign should be correct.
- display the list in the lineup panel
- handle SEs of group 2 which need the op

[2019-12-24 10:29] mistermax80 commented on #313
today:
last code dev (by ide):
![image](https://user-images.githubusercontent.com/15519907/71408997-54c23e80-2640-11ea-83c8-9ff86b389e84.png)

last 2.0:
![image](https://user-images.githubusercontent.com/15519907/71409041-76bbc100-2640-11ea-8ae5-603183874323.png)

ht:
![image](https://user-images.githubusercontent.com/15519907/71409077-9521bc80-2640-11ea-8573-12d66c7aab98.png)

[2019-12-24 11:57] mistermax80 commented on #124
@yaute74
Do you advise me change in table sort or replicate the third click on the current table in that tab?

[2019-12-27 23:26] sirketzal commented on #221
Perfect  @akasolace & @mistermax80, I appreciate your explanation and time.
Keep in touch. Good luck!

Kind regards.

[2019-12-28 13:28] yaute74 commented on #313
I have a battle match this week, so I reproduce, I will do a PR tonight

[2019-12-28 19:38] wsbrenk opened #330 "[eBUG] MatchDayPanel download Button is not enabled when match is over"
After downloading (F11) i cannot download the matches of the other teams in my series.

![matchdaypanel](https://user-images.githubusercontent.com/11821502/71548629-81b08180-29b1-11ea-9965-9b5b1eb2f087.jpg)

**Platform information:**
 - OS: [Windows]
 - Version 2.1r1463

**Additional context**
setMatchButton was changed on 03-10-2019, maybe in 3 hours i will be able to download the matches

[2019-12-28 20:18] yaute74 commented on #124
@mistermax80 if you can the same behaviour than in squad tab

[2019-12-28 21:25] wsbrenk commented on #330
after a waiting time of 3 hours i was able to download the  other matches.

[2019-12-29 10:10] wsbrenk commented on #292
today i found a possible cause of this error. if the lineup will be switched, there is no reset of the starting times of the players. if in the previous lineup the player is object of a substitution (in my case starting in minute 90), this minute is still in place even if the player starts in minute 0.

[2019-12-29 17:03] akasolace commented on #292
what do you mean by 'switched' ?

possibly closed by 1e3660419c3046ed687c2453ad7f2e4c0d173f91

[2019-12-29 17:03] #292 closed

[2019-12-29 17:04] akasolace commented on #313
closed by fe94b0e79d63d844a527958e864b1c2405ebfb9f

[2019-12-29 17:05] #313 closed

[2019-12-29 17:08] akasolace commented on #299
@wsbrenk thank you for the update
hope you are also having a nice time off. Looking forward to see what will come out of this ...

[2019-12-29 17:11] akasolace commented on #330
@wsbrenk there is no bug then, right? should we close that issue?

[2019-12-29 17:48] wsbrenk commented on #330
i do not want to wait 3 hours until i can download. the version before october could download directly after the match is finished.

[2019-12-29 18:09] wsbrenk commented on #292
what i did on my feature branch was to select "previous lineup" in lineup assistant panel. but you could also change the lineup manually. the starting time is set by the current lineup (friendly on tuesday) and will never be changed.

[2019-12-30 07:48] akasolace commented on #330
@wsbrenk ok I guess you can reduce it however keep a cushion in case of extra time.
You can make the same change in src/main/java/module/matches/SpielePanel.java

[2019-12-30 07:49] akasolace commented on #292
@wsbrenk ok

[2019-12-30 07:58] akasolace commented on #97
@mistermax80 @wsbrenk @yaute74 This should ideally be tackle for 2.1 but it is a big one so I suggest to leave it for 3.0 even if it is a bug and not a new feature. What do you think?

[2019-12-30 07:59] #108 closed

[2019-12-30 08:01] akasolace commented on #125
closed by #308

[2019-12-30 08:01] #125 closed

[2019-12-30 08:02] akasolace commented on #161
@wsbrenk @mistermax80 @yaute74  please let me know if there is something we should do here or if I simply close the issue. Thanks !

[2019-12-30 08:03] akasolace commented on #188
@pierpaolocira is it something you want to work on at some point?

[2019-12-30 08:07] akasolace commented on #191
@yaute74 considering you have been working on the NT modules maybe you can take this one. If I undestand correctly if it a NT database:  `we should grey coach type and tactical assistants and always offer -100 to +100 %  by step of 10%`.
Please let me know what you think.

[2019-12-30 08:10] akasolace commented on #199
@mistermax80 @yaute74 @wsbrenk I am confused here. I opened that ticket following a discussion on slack but it seems there is already that functionality. Is the current functionality broken (i.e not minute based)? Should I close that issue?

[2019-12-30 08:13] #255 closed

[2019-12-30 08:16] akasolace commented on #238
@brokenelevator would you be interested working on this one? It is decorrelated from the rest, hence you could work on it at your own pace ... let me know

[2019-12-30 08:17] akasolace commented on #256
duplicate of #238

[2019-12-30 08:17] #256 closed

[2019-12-30 08:18] #261 closed

[2019-12-30 08:21] akasolace commented on #296
If I understand @mistermax80 suggestion, it is a quick one.
@mistermax80 @yaute74 do you agree on the behaviour we want here?

[2019-12-30 08:25] akasolace opened #333 "[RLS] 2.1"
**Tracking PRs and Issues**

[Open PRs](https://github.com/akasolace/HO/pulls?q=is%3Aopen+is%3Apr+milestone%3A2.1)
[Open Issues](https://github.com/akasolace/HO/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.1)

** Release Process:**
 - [x] create release branch @akasolace
 - [x] update release note in [HO](src/main/resources/changelog.md) (up to date before BETA)
 - [x] terminate DEV Q&A, create 1st

[2019-12-30 09:39] wsbrenk commented on #199
I'm amazed. this is exactly the module that I built for the HO about 15 years ago. As far as the numbers are concerned, there should be hardly anything left.

[2019-12-30 09:45] wsbrenk commented on #199
I think today it is much more easier to implement the experience progress than in those days. I don't know about extra bonus probabilities if the player get hurt or all the other stuff, which was implemented in that ExperienceViewer.

[2019-12-30 09:47] wsbrenk commented on #199
Couldn't the experience handled like the other skills. Fix progress for each minute for the separated match classes.

[2019-12-30 10:22] wsbrenk commented on #299
i'm stuck with the next step since some days. team analyzer should have the needed infos concerning upcoming opponents and their lineups in previous matches which could be used to estimate se probabilities but up to now i don't see that they are usable. they seem to be completly different to the other lineup, player and rating classes.
Currently i'm not sure if it is easier to use TA ui and displa

[2019-12-30 11:07] wsbrenk commented on #330
@akasolace, @mistermax80: do you know, why the waiting time was introduced? the earlier version only check if the goals were available to decide if the match was finished. did that no longer work?

[2019-12-30 11:25] akasolace commented on #199
I think this would indeed be the best approach, have decimal for experience and keep track of progress...

[2019-12-30 11:31] akasolace commented on #299
@wsbrenk  as you can see in all my messages above, I was never sure what is/was the expected outcome of this ticket.
At first I thought it would simply be displaying additional information on SE while hoovering a player with specialty (SE that could depend or not on weather). But it seems it is bigger than that.
@mistermax80 I think it is important to realign the objectives ...
@DavidatorusF @yaut

[2019-12-30 11:36] akasolace commented on #330
@wsbrenk this was introduced when we fixed  #181 and #237
Maybe this change (3 hours dealy) was not mandatory and there are clever ways to do it ...

[2019-12-30 12:20] wsbrenk commented on #199
@akasolace:  A small challenge could be the consideration of NT matches at least finding a beta testers for that.

[2019-12-30 12:38] wsbrenk commented on #330
@akasolace: that could be a welcome distraction from the feature 299. I suspect that the goals are already displayed during the game. According to chpp, however, the finished_time should be a useful means of recognizing the end of the game.
if i attack this ticket, should i branch from master or better from release/2.1 ?

[2019-12-30 13:25] akasolace commented on #199
@wsbrenk it is true that this would be a change compare to skill training, I don't know enough about the current training module to assess the difficulty of such change.  @yaute74  any opinion on this one ? as you might be the most knowlegeable about training module.

[2019-12-30 13:28] akasolace commented on #330
you should branch from master. Tonight,  I will update the branches and prepare a dev release.

[2019-12-30 13:58] wsbrenk commented on #330
I read from the referenced tickets that there were problems if the matches in the DB were not updated for a long time. I found a very simple solution for this, but we won't be able to test it until next Saturday.

[2019-12-30 14:06] akasolace commented on #330
In case you are planning to do some testing while you have some ongoing game, maybe you can have a look to #291 at the same time... should be a very quick one

[2019-12-30 14:14] akasolace commented on #330
@wsbrenk for curiosity, in the end, you still do the checks with goals <> -1 instead of STATUS=FINISHED, any reason for that?

Do you also want to do it for  src/main/java/module/matches/SpielePanel.java  or should I close this issue ?

[2019-12-30 14:24] wsbrenk commented on #291
@akasolace this fits my feature ticket #299. Tomorrow there will be a friendly game where I might be able to reproduce that. I don't feel like New Year's Eve right now: cough, sore throat and no voice

[2019-12-30 14:28] akasolace commented on #291
@wsbrenk tbh I don't understand the link between this one and #299 but glad that you can look at it...
Also wish you a nice recovery !

[2019-12-30 14:33] wsbrenk commented on #330
@akasolace STATUS=FINISHED is not available in TABLE PAARUNG only in MATCHESKURZINFO which we want to download. as i understand your tickets, there was not the problem with goals updates during the match but the impossibility to load old paarungen which were not updated in time.

good point. i missed the SpielePanel stuff. will changed that too and push it in a few minutes.

[2019-12-30 14:46] wsbrenk commented on #291
this is because i will first give the team analyzer a chance to implement the special events prediction. i hope that i will have a very first scetch in a few days now.

[2019-12-30 14:50] akasolace commented on #330
closed by b7088a25858e02edcffecfe38c398f8f33d99d70

[2019-12-30 14:50] #330 closed

[2019-12-30 14:54] wsbrenk commented on #199
@akasolace I don't know the training module either. Another discrepancy with skill training is that experience counts on both weekly games, i.e. a maximum of 2 times 90 minutes plus nt stakes.

[2019-12-30 15:20] akasolace commented on #199
@wsbrenk ok I did not know that actually. Let's wait for @yaute74 inputs ...

[2019-12-30 16:12] akasolace opened #336 "[eBUG] improve prediction rating"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2019-12-30 20:48] yaute74 commented on #299
Maybe we can have a list of options: Void/Sun/Rain (by default void is select).
If we click on Sun or Rain we highlight players concerning by the SE and modify the rating +/- 5 %

[2019-12-30 20:49] yaute74 commented on #296
@akasolace yes for me

[2019-12-30 20:57] yaute74 commented on #199
Sorry @akasolace  like that I don't know the effort to do it.

[2019-12-30 21:01] yaute74 commented on #191
@akasolace I can have a look when I have the time

[2019-12-30 21:07] wsbrenk opened #337 "[eBUG] MatchDayPanel NullPointerException"
![MatchDayPanel](https://user-images.githubusercontent.com/11821502/71600786-d0e0e880-2b50-11ea-8917-b31f510c1555.jpg)

[2019-12-30 21:19] yaute74 commented on #161
For me hatstat and loddarstats represent the power of the team. Maybe you can use tool-tip if you have a space problem.

[2019-12-30 21:26] yaute74 commented on #97
@akasolace I do a smal test and on my side and it works.

[2019-12-31 07:54] akasolace commented on #299
If we click on Sun or Rain we highlight players concerning by the SE and modify the rating +/- 5 %

Either I am missing something or it is exactly how it is currently implemented

[2019-12-31 07:56] akasolace commented on #296
ok then

[2019-12-31 08:00] akasolace commented on #337
@wsbrenk can you tell me more about that issue:
    - how does it occurs?
    - is it related to #291?

[2019-12-31 08:03] akasolace commented on #161
There is already tool-tip but I am not sure presentation is ideal.
There is nothing urgent here, we will look at this one when we have time ...

[2019-12-31 08:06] mistermax80 commented on #299
I think it is already implemented the weather beaviuos...
For line up: My idea (as initial improvement) list some advises for the uses in order to help the users to enhance the lineup, as example:
If you have a forward technical, hi can suggest to set this player as forward technical defence...
Other example: if you have an midfielde powefull, HO can suggest to set position as defence in order to

[2019-12-31 08:09] akasolace opened #339 "[eFEAT] improve match report"
make it events-driven similar to FoxTrick

[2019-12-31 08:11] akasolace commented on #309
I started to work on this one yesterday and it is actually a big one.
I have to refactor MatchHiglight class. When this is done I will work on a match report similar to what Foxtrick provide (cf #339)

I will continue to work on it but maybe it will make sense to have it for 3.0 considering the big refactoring and that 2.1 should be more focus on small bug fixes ...

[2019-12-31 10:03] wsbrenk commented on #337
this is my embarrassing error that I built into the MatchDayPanel. It happens when you call up the Matchday panel.

[2019-12-31 10:16] wsbrenk commented on #299
thank for your support.
- the weather part is done i think. on my feature#299 branch the weather will be preselected by the regionDetails.
- most of the other special events need informations about the opponent team. in the moment i use the team analyzer to select the opponent team and its match to compare with. i found some classes which where designed to estimate opponent skills but i really don

[2019-12-31 10:20] akasolace commented on #337
closed by 4b79646

[2019-12-31 10:20] #337 closed

[2019-12-31 10:50] wsbrenk commented on #299
I will continue debugging now. If someone has information about the OppPlayerSkillEstimator class, I can use it very well.

[2019-12-31 10:54] akasolace commented on #299
@wsbrenk  also be informed that my work on #309 makes me refactor all the MatchHighlights class.
I am not sure whether or not this will interfere with that ticket.

I reply to you on slack

[2019-12-31 10:57] wsbrenk commented on #299
@mistermax80

this could be one solution. a kind of advisor wizard. this can definitely be an add on to the SE list I have planned. my idea is to calculate the se list with their probabilities comparable to the rating predictions and present the changes if the user changes his own lineup or the selected lineup of his opponent.

[2019-12-31 11:04] wsbrenk commented on #299
@akasolace

I am not sure whether or not this will interfere with that ticket.

up to now i do not use the MatchHighlights.
i found your response on slack. that helps because I now know that it is a preliminary class. Let's see what the debugging session will give us.

[2019-12-31 11:08] wsbrenk commented on #199
if nobody else wants to develop here, I would like to attack that as a follow-up project to 299. it has something of nostalgia. but it still has to wait for some days/weeks.

[2019-12-31 11:35] yaute74 commented on #199
@wsbrenk no problem for me :)

[2019-12-31 11:36] yaute74 commented on #299
@akasolace sorry to be honest I never use it

[2019-12-31 11:50] akasolace commented on #199
@wsbrenk sure, I change milestone from 2.1 to 3.0, it is more a new feature than a bug fix

[2019-12-31 11:51] akasolace commented on #299
are you sure ? Last time I checked it was working well ... if confirmed this is a bug/regression

[2019-12-31 11:55] yaute74 commented on #161
![image](https://user-images.githubusercontent.com/34601782/71620936-c19f8080-2bcc-11ea-95f3-191bf0eda3db.png)

[2019-12-31 11:59] yaute74 commented on #299
I have just an icon (red or green) but no change on my rating

[2019-12-31 12:26] wsbrenk commented on #299
@yaute74

you are right if you refer to the ratings of the individual player. The team ratings are changed.

[2019-12-31 16:03] cheilson opened #341 "[eBUG] League datails doesn't show"
**Describe the bug**
A clear and concise description of what the bug is.

When accessing league details, en error occured.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to HO
2. Click on League details
3. See error

java.lang.NullPointerException
	at module.series.MatchDayPanel.setMatchButton(MatchDayPanel.java:125)
	at module.series.MatchDayPanel.fillLabels(MatchDayPanel.java:162)
	at

[2019-12-31 18:56] wsbrenk commented on #291
could reproduce the error. the difference in the returned xml concerns the cards and injury elements:

not during matches:
        <Cards>0</Cards>
        <InjuryLevel>-1</InjuryLevel>

during match:
	<Cards></Cards>
        <InjuryLevel></InjuryLevel>

[2019-12-31 19:18] wsbrenk commented on #341
duplicate of #337

[2020-01-01 12:16] yaute74 commented on #299
@wsbrenk yes I refer to individual player

[2020-01-02 07:19] akasolace commented on #161
@yaute74 perfect !

[2020-01-02 07:20] akasolace commented on #291
closed by 2f05bbb

[2020-01-02 07:20] #291 closed

[2020-01-02 07:22] #341 closed

[2020-01-02 07:29] akasolace opened #343 "[eBUG] player rating in lineup tab should consider wheather penalty/bonus"
**Describe the bug**
At the moment weather penalty/bonus is considered in team rating but is not indicated down to player level. Proposal is to keep rating without weather penalty/bonus on all panel but to amend  combobox on lineup panel (and indicate here ratings with weather considerations)

[2020-01-02 07:29] akasolace commented on #299
@yaute74 @wsbrenk ah ok now I got the problem but it might be difficult to fix it ... I created #343 for that specific issue

[2020-01-02 07:31] akasolace opened #344 "[eBUG] refactoring of MatchEvent"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-01-02 07:32] akasolace commented on #339
step 1) is #344

[2020-01-02 07:32] akasolace commented on #309
step 1 is #344

[2020-01-02 07:44] akasolace commented on #191
@yaute74 In case this one is time-consuming to fix or if it involves a lot of code change, we will move the milestone from 2.1 to 3.0. I let you decide this.
Concerning 2.1, the idea is to have a DEV version around the 15th of Jan, a BETA one week later and a release end of the month.

[2020-01-02 08:08] akasolace commented on #265
@mistermax80
As part of #339 I will need icons similar to HT, this will include specialty icons which are used for some SE. I had a quick look and I could find most of icon files except the ones related to specialty. When I llok at that page it seems the icon are from police listed in CSS style document. I don't know anything about it, maybe you can have a look ....

[2020-01-02 11:20] wsbrenk commented on #299
progress report:

the current special event list i'm working with, is this [one](https://devblog.hattrick.org/2017/12/a-new-match-engine-odyssey/)

The framework for determining the special events has been ready for testing since yesterday. The class that can determine the strength of the opponents looks particularly promising.
From the above referenced list I have programmed the quick scores and

[2020-01-02 12:01] akasolace commented on #299
@wsbrenk

can you tell me what this class is doing exactly?

what does it mean exactly? I am not clear on what you are planning to deliver ...

This will go into HO 3.0, so you have plenty of time ...

[2020-01-02 13:08] wsbrenk commented on #299
it has a function which uses the info from MatchLineup as input (stamina, form, tsi, wage etc) and calculates the players skills very well. One single test with info of my own goalkeeper delivered exact GK- and Def-skill values.

for the users i want to display a list of possible events depending on his lineup and selection of the opponent team and matchlineup to compare with. If he changes his li

[2020-01-02 13:16] wsbrenk commented on #299
it is probably a good idea to start developing the gui to give a first impression of what should come out in the end.

[2020-01-02 14:12] wsbrenk commented on #299
![specialEventGui](https://user-images.githubusercontent.com/11821502/71671061-3829b300-2d72-11ea-994e-0f19815d1902.png)

ready;-)

[2020-01-02 19:46] yaute74 commented on #161
@akasolace I do it with Gimp :/

[2020-01-03 07:11] akasolace commented on #299
ah now I see ... it is indeed much clearer with a GUI !  It looks very neat !

[2020-01-03 07:12] akasolace commented on #161
:-)

[2020-01-03 11:30] Jeux12sl opened #345 "[eBug] Issue with TeamAnalyzer with Version 2.00 DEV (r1472)"
Using the above version, I don't succeed to download any match of my opponents in this module.
Clicking on the update button the application seems to perform download but in fact nothing appears in the list of match of my selected opponent.
If I downgrade to version 2.0 (build 1458) the functionnality works well.
I use the windows version of the application.

[2020-01-03 14:23] wsbrenk commented on #345
this behaviour i could reproduce with r1463 too.

workaround: push button "Analyse" after downloading.

[2020-01-03 14:27] wsbrenk commented on #345
even in HO 1.437 downloading did not show the matches list nor the rating panel. Only if you pushes "Analyse" these infos were displayed.

i do not know the behaviour of build 1458

[2020-01-03 14:31] akasolace commented on #345
@wsbrenk for what I can read on HO forum, pushing "Analyse" is not working.
It seems that according to @Jeux12sl , the latest 2.1 build broke MatchAnalyser,  I havent tested it myself, ...
to be confirmed.

[2020-01-03 14:37] wsbrenk commented on #299
![specialeventpanel](https://user-images.githubusercontent.com/11821502/71728712-1990ee00-2e3e-11ea-98a3-d8106f1c2a2b.jpg)

nearly 2 goals for me, not one for the opponent;-)

today i learned a lot about Layouts Splitpanes and stuff like this.
in next time i would like to concentrate on analyzing special events, to get nearly realistic numbers.

To get the table more beautiful, I need good suggest

[2020-01-03 14:56] akasolace commented on #299
maybe it will be best to have just a summary of Special Events by default: like a one-liner indicating the results. Then we can have next to it either an icon allowing to open a popup window with all the details or a big hoover message with all the detailed information ...
Again I was not sure what it would look like but it is a very neat addition.
Regarding the probability, it there a chance to m

[2020-01-03 15:02] wsbrenk commented on #345
@akasolace detached my git HEAD to 4be0e0a7349ff7823ef4c17955f4c2ee6e8df70d and the behaviour looks OK, but the debugger showed the following error;
Caused by: org.hsqldb.HsqlException: unexpected token: res.hattrick.org/tournamentlogo/29/285/2845/2844413/2844413.JPG, 2, 8, 2, 4, TIMESTAMP '2019-12-09 19:00:00', TIMESTAMP '2020-01-06 19:00:00', false, 2336787, Alexico)

do not know if running outs

[2020-01-03 15:20] wsbrenk commented on #299
there are a lot of statistics and investigations on this in the english global, especially this one: [https://www.hattrick.org/Forum/Read.aspx?t=17161178&v=0&a=1&n=1](https://www.hattrick.org/Forum/Read.aspx?t=17161178&v=0&a=1&n=1)

[2020-01-03 15:40] wsbrenk commented on #345
i could reproduce the error know if i select a tournament opponent. with tournament opponents the download does not work.

[2020-01-03 16:00] wsbrenk commented on #345
friendly worked on r1463 - division battle did not

[2020-01-03 17:21] wsbrenk commented on #345
could not reproduce this error with league match, because all my league matches were already stored in database.

[2020-01-03 19:40] mistermax80 opened #347 "[eFEAT] pre match analysis"
This functionality is not supported for not supporter and supporter silver, so, I think can be useful we have an similar information in HO:
![Screenshot_2020-01-03-20-36-59-528_org hattrick hattrick](https://user-images.githubusercontent.com/15519907/71744968-237c1680-2e69-11ea-8c35-ead90d0f2b86.jpg)
@akasolace I know you are supporter, could you share here information presente in that page?

[2020-01-03 23:17] mistermax80 commented on #345
I confirm issue, and if your fix works, I will try in next days...

[2020-01-03 23:27] wsbrenk commented on #347
![Screenshot_20200104-002411_Hattrick](https://user-images.githubusercontent.com/11821502/71754984-dc058280-2e88-11ea-96c5-6c8b8ed65daf.jpg)

if it is this, what you mean, than it is comparable to team analyzer

[2020-01-03 23:39] wsbrenk commented on #299
good idea: a tree view, collapsed onto a single result line, next level could be the event types, then the single events - maybe the team in between?!

[2020-01-04 11:22] mistermax80 commented on #347
No in check line up, meanwhile you setup the line up, you have to click match detail, and after click on opponent squad. As it says, opponent details as latest Transfer, yellow and red cards etc...

[2020-01-04 11:51] akasolace commented on #345
closed by b6bd67b

[2020-01-04 11:51] #345 closed

[2020-01-04 11:55] akasolace commented on #347
![image](https://user-images.githubusercontent.com/1136496/71765153-4e11b200-2ef1-11ea-9db5-29b2e64afb72.png)

[2020-01-04 12:01] akasolace commented on #347
or this one that I got in tactic room ?

![image](https://user-images.githubusercontent.com/1136496/71765231-4272bb00-2ef2-11ea-98e8-a9453e8616d6.png)

[2020-01-04 12:03] akasolace commented on #299
that would be super nice ... no idea how to do this in SWING but I guess it is feasible

no sure what you mean here?  You mean moving it to the right side?  if it is the case I think it will be a lot of work, no ?

[2020-01-04 14:19] wsbrenk commented on #299
i meant an extra tree level where i could collapse alls ses of my or opponent team.

[2020-01-04 18:11] akasolace commented on #299
ok I see, sounds nice

[2020-01-05 13:36] wsbrenk commented on #299
At the moment i have the impression that the skills of the opponents are somewhat underestimated

therefore an idea for further sub project/ticket:
- show the list of calculated opponent players with their calculated skills
- give users a chance to overwrite the calculated values (recalc tsi and wage)

with that
- users could optimize special events prediction
- developpers could optimize skill ca

[2020-01-05 15:29] mistermax80 commented on #347
No, I think other screen... Could you try:
From app you can click on list next matches:
![IMG_20200105_162728](https://user-images.githubusercontent.com/15519907/71782245-63154080-2fd8-11ea-8b86-acff75c07151.jpg)
And so click on tab opponent:
![IMG_20200105_162743](https://user-images.githubusercontent.com/15519907/71782252-76c0a700-2fd8-11ea-9ce6-efaa2c8dcd04.jpg)

[2020-01-05 18:33] wsbrenk commented on #347
![screenshots](https://user-images.githubusercontent.com/11821502/71784279-35d58c00-2ff2-11ea-97f5-757d5928e4d2.jpg)

[2020-01-07 11:05] mistermax80 commented on #347
Yes, I start from these information.
@akasolace @yaute74 @wsbrenk @DavidatorusF could you think on this, it is a good new feature?

[2020-01-07 11:23] akasolace commented on #347
@mistermax80 yes but I would personally see it as an extension of team analyser not an additional module.

[2020-01-07 18:19] wsbrenk commented on #347
I would confirm that

[2020-01-09 07:22] akasolace commented on #161
closed by ca148d6

[2020-01-09 07:22] #161 closed

[2020-01-09 07:55] akasolace commented on #344
Considering that it will fixes a lot of existing bug, I will make it part of 2.1
However, this would be a massive commit, and will requires a lot of testing (@DavidatorusF @mistermax80  the usuals bugs hunter :-) ) before releasing 2.1

[2020-01-09 09:31] mistermax80 commented on #344
@akasolace ok for me!!! 😄

[2020-01-10 19:08] LEOSCHUMY opened #350 "Out Of Bounds Exception for Hall of Fame players"
Version 2.0
If I try to select an Hall of Fame players into Player Analysis (F5 menu), I got an error

[code]

[2020-01-10 20:18] akasolace commented on #344
Almost done .....

![image](https://user-images.githubusercontent.com/1136496/72183631-be876a00-33ee-11ea-87fb-3e154594ab1e.png)

[2020-01-11 10:00] akasolace commented on #265
It will be treated as part of #309

[2020-01-11 10:54] #265 closed

[2020-01-11 10:54] #344 closed

[2020-01-11 13:14] wsbrenk commented on #265
![grafik](https://user-images.githubusercontent.com/11821502/72204842-829ae600-347c-11ea-8a65-e4fe16dffd64.png)

@akasolace hi, i merged your changes and found this half red cross in my player overview. if i rescale this column everything looks fine. but i think, it should be displayed completly even it i don't rescale the column.

[2020-01-11 16:14] wsbrenk commented on #299
to monitor the progress and to do some requirements tracking, i copied the Ht special event specifications in this document: [SpecialEventsPrediction.java](https://github.com/wsbrenk/HO/blob/feature%23299/src/main/java/core/specialevents/SpecialEventsPrediction.java)

TODOs and DONEs marks current status.

I started with corner events now. I learned that they need the indirect set pieces ratings f

[2020-01-11 17:58] akasolace commented on #299
Your best shot is @DavidatorusF ... I would say it is simply the sum of SP  but I am not 100% sure ...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-11 19:50] akasolace commented on #265
fixed the first one

![image](https://user-images.githubusercontent.com/1136496/72209890-0cb27100-34b4-11ea-82bc-564fc5309f18.png)

[2020-01-11 19:51] akasolace commented on #265
also replaced 999 with infinity symbol

[2020-01-12 18:13] DavidatorusF commented on #299
best shot... of Vodka, no problem

the answer is an other story... sorry

[2020-01-12 21:04] wsbrenk commented on #299
i actually found it in the unwritten manual today.

[2020-01-19 13:32] wsbrenk commented on #299
i think the software is ready to start beta testing soon. I would be very happy if any of you would take over the alpha test.
up to now i didn't change the gui (the list view of the special event), since i think it is the best way to show the beta testers the results.
the effect of special events prediction is realized close to the specifications i found in the forum. Only a few are simplified a l

[2020-01-19 18:59] akasolace opened #355 "[eBUG] various bug in MatchModules"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-01-19 19:01] akasolace commented on #299
I will be happy to test is ... as soon as I am done with my current task.
Hopefully next week !

[2020-01-20 20:20] #355 closed

[2020-01-21 07:43] akasolace commented on #191
Should be closed by 3363f04

@Synthespian thank you for confirming this is what you expected as soon as new artefacts are released

[2020-01-21 09:31] akasolace commented on #299
@wsbrenk when you have a version you want me to test, please do a PR mentioning it is for testing only
cheers

[2020-01-21 20:47] wsbrenk commented on #199
@akasolace @mistermax80  @yaute74 ; is it correct, that there is no chance in chpp to get the match lineups of nt/u20 team of my national players if i'm not a national trainer? the only small hope i have is the last match container in player details file, which could deliver the played minutes of my national players if i download after nt matches and before the next match is started.

[2020-01-21 21:31] akasolace opened #359 "[eBUG] bumping version of gradle has broken some task(s)"
**Describe the bug**
Gradle script needs to be fixed in order to reproduced similar output has 2.0.
`osXjar` task is broken, others looks ok

@tychobrailleur, can you please work on this one?

Thank you

[2020-01-21 21:33] akasolace commented on #199
I am not sure about this,  I would need to check

[2020-01-22 09:01] tychobrailleur commented on #359
Sure, I'll have a look when I get the chance.  Ah, it couldn't have been that easy, right? ;-)

[2020-01-22 10:10] akasolace commented on #359
@tychobrailleur I noticed afterward the change of path from `\\` to `/`, maybe the issue only comes to that ... is it working on your machine as it is ?
To me, the gradle does not give me any error message and that I can't debug the script. I am using intellij IDEA, and step by step debugger not working, I dont see variable values.
I have to admit that the configuration/build/run phase of gradle s

[2020-01-22 11:52] tychobrailleur commented on #359
If in other hand you are familiar with graddle, and you see room for improving the build script, please feel free :-)

I am more of a Maven guy myself, but I'll give it a shot.  I would have thought the forward slash approach was more portable, so I'd be surprised if that was the issue.  Apologies for the troubles, I'll look into it when I'm free.

In the meantime, I can send a PR later reverting

[2020-01-22 20:04] yaute74 commented on #199
@wsbrenk with the API 'matches' you can have the list of matchs if you have the ID of the national team.

[2020-01-22 20:59] tychobrailleur commented on #359
So I found what the problem is: the nested task `ZipMacAppDistribution` is simply not getting called.  Looking through history, the `execute()` call has been removed.

Digging deeper, that `execute()` method doesn't exist any more in Gradle 5.x so I am now looking into an alternative.

[2020-01-22 21:59] wsbrenk commented on #199
@yaute74 but there is no lineup isn't it? i need the minutes my player was playing.

[2020-01-23 12:41] yaute74 commented on #199
@wsbrenk yes. It's because you say "if i download after nt matches and before the next match is started". With this API you can get the old matches id and with this id get the lineup

[2020-01-23 18:35] wsbrenk commented on #199
PlayerDetails.LastMatch.PlayedMinutes (if Last Match was national team)
else
PlayerDetails.NationalTeamID -> Matches(teamId=PlayerDetails.NationalTeamID) -> MatchLineup(matchID=Match.MatchId, teamID=NationalTeamId) (that works?)

[2020-01-23 19:39] #216 closed

[2020-01-23 19:39] #359 closed

[2020-01-23 19:42] akasolace commented on #191
@Synthespian  @DavidatorusF  can one of you confirm it is now working as expected with latest dev builds ?

[2020-01-23 20:00] akasolace opened #361 "[eBUG] Higlihts panel need o be scrolable (long match are truncated)"
**Describe the bug**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/1136496/73019104-3e67f800-3e23-11ea-8227-21030fad441e.png)

[2020-01-24 07:32] yaute74 commented on #199
@wsbrenk I don't know if 'lastmatch' is the good info, because if the manager don't do the download in HO the good day you will have another match.
An interesting info in the player detail is the 'caps' and 'capsU20'. With this info you can know, since the last download, if the player play for national team and how many match he play. (but I don't check if we have the info in the database).

You w

[2020-01-25 14:45] wsbrenk commented on #199
@yaute74 good suggestion - and yes the idea is to implement the recalculation feature too. database needs some adjustments (minimum players NationalTeamID, caps are already part of the datamodel)

[2020-01-25 15:27] yaute74 commented on #199
@wsbrenk great  :+1:

[2020-01-26 16:09] tychobrailleur opened #362 "[eBUG] NullPointerException when switching to the Matches tab"
**Describe the bug**
An NPE is thrown when switching to the Matches tab:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Matches tab.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS:  macOS
 - Version (including build number): 2.1 r2432

**Additional context**
Emiliano Sala  🔰

[2020-01-26 16:24] tychobrailleur commented on #362
I suspect it's part of the expected regressions (`MATCH_EVENT_ID`) — I presume `DBUpdater#updateDBv26` is supposed to kick in for future releases?

[2020-01-26 16:54] akasolace commented on #362
@tychobrailleur for which version do you have this ? This was a bug introduced at some point in one of the 2.1 dev release but is supposed to be fixed in latest version.

[2020-01-26 16:55] akasolace commented on #362
also I think it is mandatory to do from 2.0 to latest 2.1 upgrade because at some point the dev release was buggy and deteriorated the database.

[2020-01-26 16:56] akasolace commented on #350
@tychobrailleur @pierpaolocira @yaute74 does one one of you got a player in hall of fame to tackle that issue ?   If not I will have to ask for a database on HT forum.

[2020-01-26 17:34] tychobrailleur commented on #362
for the [dev release](https://github.com/akasolace/HO/commit/1267dd44350f17595c29fc91490075ee3c9247ac).

[2020-01-26 17:35] tychobrailleur commented on #350
Nope, unfortunately I have started playing again only recently. ;-)

[2020-01-26 18:43] wsbrenk commented on #199
![exp](https://user-images.githubusercontent.com/11821502/73139970-eaa01d80-4073-11ea-83c3-0bb2d5f1c62c.jpg)

but that was easy;-) recalc and gui was nearly nothing to do.
national team matches are the next step and then it's ready.

[2020-01-26 19:01] wsbrenk commented on #350
tried with 3 of my hall of fames players to reproduce that bug - didn't get an out of bound exception

[2020-01-26 19:10] yaute74 commented on #350
@akasolace not for me

[2020-01-26 20:47] akasolace commented on #362
I thought I close this one.
Can you try the following:
1) Upgrade from 2.0 to the latest dev (**not from previous dev**)
2) check if the bug still here

if there is a bug please share your 2.0 database, I will look into it

cheers

[2020-01-26 20:49] akasolace commented on #199
nice, maybe you can push this for 2.1 already even without national team XP, what do you think ??

[2020-01-26 20:50] akasolace commented on #350
@LEOSCHUMY  could you please share your database ?

[2020-01-26 21:02] LEOSCHUMY commented on #350
Yes, I can but not before tomorrow night.
How do I send you it? By mail or uploading It on pubblic space (as WeTransfer)?

[2020-01-27 11:10] wsbrenk commented on #199
does somebody has a national player (for me). I would need it to be able to continue;-)

[2020-01-27 18:40] tychobrailleur commented on #362
I think I am going to close this one for now: `DBVersion` was 26 in `USERCONFIGURATION, so I manually went in the db to set to 25, and db migrations kicked off as expected, and problem was fixed.

I guess somehow my HO db has been “polluted” by my recent Mac testing.

[2020-01-27 18:40] #362 closed

[2020-01-27 19:15] akasolace commented on #362
@tychobrailleur ok thanks

[2020-01-27 20:02] LEOSCHUMY commented on #350
[db_singleUser-2020-1-27.zip](https://github.com/akasolace/HO/files/4119089/db_singleUser-2020-1-27.zip)

[2020-01-27 21:10] akasolace opened #365 "[eBUG] Error message when downloading and having some generation match planned"
Error message when downloading and having some generation match planned (Heroes of 2018 in my case)

`[Error]   JDBCAdapter: JDBCAdapter.executeUpdate : java.sql.SQLSyntaxErrorException: unexpected token: res.hattrick.org/tournamentlogo/generation-trophy-purple.png, 98, 9688, 1, 2, TIMESTAMP '2020-01-27 07:10:00', TIMESTAMP '2020-01-28 07:10:00', false, 3, HT-Daniel)
Statement: INSERT INTO TOURNAM

[2020-01-27 22:04] #365 closed

[2020-01-28 10:16] wsbrenk commented on #199
How to test Experience Sub:

1. Preparation
1.1 Backup of the HO database
	Copy the HO directory to a new folder
1.2 Installation of the new version
	Zip download https://github.com/akasolace/HO/releases/tag/dev
	Unzip zip into HO folder

2. Tests
2.1 Recalculation
	can take hours depending on the DB size and computing power;
	then possibly limit to 7 weeks. After 7 weeks in league games
	is howev

[2020-01-28 10:53] akasolace commented on #191
@DavidatorusF do you know an NT coach that can test it ? Otherwise do you know @Synthespian  on HT ?

[2020-01-28 10:56] akasolace commented on #296
@mistermax80 will you close this one shortly?
@yaute74 in case mistermax does not close it, do you want to tackle it or shoud I remove it from 2.1 release? I am too busy on other part of the project at the moment ...

[2020-01-28 10:57] akasolace commented on #124
same here,

@mistermax80 will you close this one shortly?
@yaute74 in case mistermax does not close it, do you want to tackle it or shoud I remove it from 2.1 release?

I wait for your feedback

[2020-01-28 10:59] akasolace commented on #350
@tychobrailleur we now have a db :-)  thank you !

[2020-01-28 11:07] Synthespian commented on #191
Hey. Sorry. I will download and test. Not the current u20 coach anymore so might need a bit of help from the current one (even if that's to make me the assistant for a day)

[2020-01-28 12:26] wsbrenk commented on #97
@akasolace as long as i was working on #199 i didn't see that bug.

[2020-01-28 12:39] wsbrenk commented on #296
![trainingprogrnose](https://user-images.githubusercontent.com/11821502/73264484-374e3a80-41d3-11ea-914c-d1ab92147b93.jpg)

@akasolace for me it looks OK now. the current solution not only highlights the current training but all trainings planned in the future (except set piecing, which  would select all players). so the bug, that the current training is NOT selected is fixed (for me).

[2020-01-28 12:50] akasolace commented on #296
@wsbrenk  it is true that I don't really see what is wrong ...

@mistermax80, @yaute74  are we missing the point or should I close this one?

[2020-01-28 12:51] akasolace commented on #97
@wsbrenk I just try it and I can't reproduce it anymore ...
I close this one

[2020-01-28 12:52] #97 closed

[2020-01-28 12:53] akasolace commented on #191
@Synthespian ok great we wait for your feedback then !

[2020-01-28 13:23] tychobrailleur commented on #350
Perfect, thanks.  Will look into it.

[2020-01-28 16:38] wsbrenk commented on #294
@mistermax80 @akasolace concerning this feature i have the idea to pass the current lineup to the SubstitutionEditView and recalc the ratings when the substitutions are changing, especially when the minutes/when-slider is changed.
If we display hatstats in the View, the user could easily find the best minute when the substitution should happen.
What do you think?

there maybe one problem if rating

[2020-01-28 19:48] akasolace commented on #294
substitutions are already considered in prediction rating calculation.  Which kind of GUI do you exactly imagine ?

[2020-01-28 20:35] tychobrailleur commented on #350
I can reproduce the issue with the uploaded db.  For those players there seems to be missing `MATCHDETAILS`, e.g.:

[code]

which is fine [there](https://www97.hattrick.org/Club/Matches/Match.aspx?matchID=637009226).

![Screenshot 2020-01-28 at 19 26 37](https://user-images.githubusercontent.com/114285/73301451-b448d680-420a-11ea-81f4-7e3df7d67eca.png)

A quick fix is to re-download the match deta

[2020-01-28 21:10] yaute74 commented on #124
@akasolace no, I cannot treat it sorry

[2020-01-28 22:15] wsbrenk commented on #294
the SubstitutionEditView is this one:
![subseditview](https://user-images.githubusercontent.com/11821502/73309648-e82ff600-4222-11ea-87ee-ede8b7f58235.jpg)

The aim of the feature is to find the best minute for the exchange. I would add two additional fields.
 First will display the initial ratings of the lineup before the substition is edited, the second one should be updated each time one part o

[2020-01-29 06:27] pierpaolocira commented on #188
Hi sorry, I just saw this.
I asked if someone could provide a raw estimation, because I don't relly know...
Then if it's worth spending this time I can work on it (e.g. if it requires a big effort we could ignore it for the time being, because a workaround exists).

Additionally just few weeks ago I bought a new player and I had the feeling that he wasn't affected by this... so, if possible, someo

[2020-01-29 10:27] akasolace commented on #294
ok I see looks good to me

[2020-01-29 10:30] akasolace commented on #124
ok I remove the milestone .. we will advise later on on this one

[2020-01-29 10:30] wsbrenk opened #367 "[eFEAT] Youth Academy"
Hattrick Youthclub is a great tool for youth academy, but i cannot integrate selected youth player to the future trainings plan of my senior team. This could be done in HO.
Additional we could show the complete history of our homegrown players, not only the time, when they were adults.
Some overviews in the youth club could be improved, I think. When I train my youth for the market, only the skill

[2020-01-29 10:31] akasolace commented on #296
I close this one, @mistermax80 @yaute74  please feel free to reopen it if you thing there is still an issue here

[2020-01-29 10:33] akasolace commented on #367
@wsbrenk you basically suggest to have a module youth academy within HO?

[2020-01-29 10:36] akasolace commented on #350
@LEOSCHUMY can you please it works with latest artefacts

Thank you

[2020-01-29 10:41] wsbrenk commented on #367
Yes, this would be my idea, that i would like to discuss. since i'm managing 3 teams of homegrowns, i'm missing the integration of my youth team application with HO.On the other hand, I accept that it would be a lot of work to do. Finally, the HO application could eventually become too fat, including the database.

[2020-01-29 10:47] akasolace commented on #367
I agree that it would be a nice addition, quite often requested

I do not have a YA myself, but last time I played (few year ago) I had one, and for what I recall HYC was doing a lot of different things, so yes I guess this would be a lot of work !

I am not too concern by this. Also does HYC keeps fully history o youth players incl games ?

It is a topic that defintly worth to be discussed.

[2020-01-29 11:04] wsbrenk commented on #367
No, i don't think so. HYC only displays the current status of skills. There are progress calculations and only Money is managed historically.

[2020-01-29 12:33] wsbrenk opened #368 "[eBUG] training forecast displaying wrong skillups"
in this example my player didn't skill up in week 73,8, but will hopefully skill up in 3 weeks to worldclass:

![trainingsprognosebug](https://user-images.githubusercontent.com/11821502/73357106-0259ea80-429c-11ea-8f8a-c5bf493d6506.jpg)

the skillup in week 73,8 was the skillup to fantastic (12). i think all historical skillup values are one too large.

[2020-01-29 14:03] wsbrenk commented on #368
found the reason, i'm working on the solution.

[2020-01-29 17:35] wsbrenk commented on #368
![trainingsprognose](https://user-images.githubusercontent.com/11821502/73381377-e5d2a800-42c5-11ea-82d9-3c53c322f1b5.jpg)
- the bug is fixed
- column Age added
- tooltip showing training date for future trainings too

[2020-01-29 17:47] wsbrenk commented on #368
@akasolace the last merges from master branch make some problem:

Build file 'C:\Users\wolfgang\Documents\HO\build.gradle' line: 560

A problem occurred evaluating root project 'HO'.

have to go back to an old commit of build.gradle

[2020-01-29 18:49] pierpaolocira opened #370 "Two lines instead of one in Lineup combobox"
Starting by v2.0 in Lineup players uses 2 lines instead of one.

Just to be clear this is how it looks like
<img width="193" alt="immagine" src="https://user-images.githubusercontent.com/11422667/73386740-add06280-42cf-11ea-91ac-080f3214fee6.png">
but with v1.x everything (tshirt, name, special ability, score) was into one single line.

This is neither crucial, not pure cosmetics, because it oblig

[2020-01-29 18:57] akasolace commented on #370
I agree it is not ideal on small screen, I did not really notice it because I got a large screen.
maybe we can remove the shirts information -personally I always thought it was useless- and make it all one one line by:
     - increasing a bit the width
     - changing display name like initial and familly name only

If you are interested, you can assign it to yourself ....

[2020-01-29 19:00] akasolace commented on #368
@wsbrenk this is strange I can't reproduce

who was affected ? which player ?

[2020-01-29 19:02] akasolace commented on #368
sorry I found some players affected

[2020-01-29 19:05] akasolace commented on #368
should be closed by #369
I will test before closing

[2020-01-29 19:05] akasolace commented on #367
ok

[2020-01-29 19:15] pierpaolocira commented on #370
Hi,
Yes, with low pace I can work on it... but I would need to be sure on what has to be done.

- I think the tshirt is useful only in order to find esily the player, in the list on the bottom. Indeed if I see, e.g., a black tshirt in the lineup, I simply search for a black tshirt in the list. Maybe it's not very useful, but perhaps we need some other opinions on it before removing?
- Yes, I can s

[2020-01-29 19:20] pierpaolocira opened #371 "Cosmetic: unrecoverable injury"
In Hattrick, in case of an infinite injury you can see the symbol of "infinite" as estimation of the injury.
<img width="170" alt="immagine" src="https://user-images.githubusercontent.com/11422667/73389370-4ff24980-42d4-11ea-9536-fac6027695b5.png">

In HO it shows the number 999
<img width="235" alt="immagine" src="https://user-images.githubusercontent.com/11422667/73389387-58e31b00-42d4-11ea-93b6

[2020-01-29 19:38] pierpaolocira opened #372 "[eFEAT] Change database folder on Mac OS X"
Under Mac OS X the dabase folder is placed under the home directory of the user.
[edit: both the folder "db" and the file "user.xml"]

I would not recommend to find a way to place it "under" the application folder (because it might be overwritten in case of updates).

MacOSX application data should be placed under "userhome/Library/Application Support/".

If this is not possible, then I would reco

[2020-01-29 20:01] tychobrailleur commented on #372
Totally agree with that one, and may even get a crack at it — this has been nagging me for some time. ;-)

[2020-01-29 20:10] akasolace commented on #370
yes let see what other have to say about it

Yes, we can have only the initial of the name and, then, reduce the number of characters before cutting the name and concatenating ellipses. I can do some tests

I think best will be something like initial and truncated name but again let see

I think it is the additional of the color bar on the left indicating i player has received training during the

[2020-01-29 20:11] akasolace commented on #371
@this has been chaned already, I think you are not using latest dev

[2020-01-29 20:11] akasolace commented on #371
![image](https://user-images.githubusercontent.com/1136496/73393442-f3932800-42db-11ea-8b6a-61cac88dce40.png)

[2020-01-29 20:15] akasolace commented on #372
@pierpaolocira @tychobrailleur  I fully agree with this

I have been trying (in a vm) to set a diferent location for HO folder, but I did not find a way. This is also why it is not possible to upgrade HO under macOS while it is possible under windows and Linux.

So if you manage it, I guess it means you will also make possible upgrading HO from macOS, that would be a big one

[2020-01-29 20:43] tychobrailleur commented on #372
Not sure I get what you mean there?

[2020-01-29 20:44] pierpaolocira commented on #371
No.. I'm using the stable version, I saw it and so I reported...
I just aligned my my fork with your master and, indeed, I can see it as fixed.
I'm going to close it, sorry.

[2020-01-29 20:44] #371 closed

[2020-01-29 20:52] akasolace commented on #371
ok perfect,
I guess you know but binaries for dev are produced very regularly...

[2020-01-29 20:57] akasolace commented on #372
In windows and Linux version of HT, it is possible to do help -> check new version and upgrade directly via the app. If new version exist, it dowload files and upgrade directly, no need to do this manually as it is the case on macOS

![image](https://user-images.githubusercontent.com/1136496/73396767-5edff880-42e2-11ea-9f89-4fd13029568a.png)

![image](https://user-images.githubusercontent.com/1136

[2020-01-29 21:18] pierpaolocira commented on #371
Yes, I simply prefer to use Stable for my daily activities on HO with my Hattrick team, and a recent copy of my DB in the folder of the source code for development.
Otherwise, being on MacOS, the dev version will work on my real DB... :(

[2020-01-30 05:25] tychobrailleur commented on #372
Sorry for being thick @akasolace and this may be due to my lack of knowledge about the upgrade process, but I still don't see what is preventing us from doing automated upgrades on macOS today: as @pierpaolocira indicated, `user.xml` and the `db` folder are created in the user's home directory, whilst all the HO files are (supposedly) installed under `/Applications/HO` — an automated upgrade would

[2020-01-30 06:46] pierpaolocira commented on #372
Apart from the discussion here, I have forgotten the user.xml file. I'm going to update the initial description of the issue, because the solution to simply rename "db" to "hattrickDB" will continue to keep that file in the user directory.

[2020-01-30 09:09] akasolace commented on #372
@tychobrailleur @pierpaolocira maybe it is possible to make the upgrade work on macOS but personally I did not manage to do it.
A bit of background information.

At the time I had an old macOS VM to make some test, I could see the app was running ok but the upgrade was throwing error. If I recall correctly (this was 18 months ago) it was because it was not possible to copy new jar and folder withi

[2020-01-30 17:50] pierpaolocira commented on #372
I think the biggest issue is the MacOS has strict rules on ".app"... this is why the "famous trick" is needed in order to authorise HO to run. Allowing to directly change the content of an application is a very bad practice for security reason IMHO unless it's managed by proper permissions at OS level...
That's the reason, I imagine, why the majority of the MacOSX applications cannot update automa

[2020-01-30 18:35] LEOSCHUMY commented on #350
It works!
Thanks

[2020-01-30 19:19] akasolace commented on #350
ok great I close the issue then !

[2020-01-30 19:19] #350 closed

[2020-01-30 19:24] tychobrailleur commented on #372
I was contemplating looking into it, but if you have some spare time, feel free to pick it up!   IMHO, the right location would be `~/Library/Application Support/HO` so my preference would be to have the files there, but making it also configurable would also be great.

[2020-01-31 15:40] pierpaolocira commented on #372
Ok... I'll work on it in order to mobe both the `db` folder and the `user.xml` file.
@akasolace can you please tell me where those elements are stored under Win and Linux? I need to work on how the path is determined and I would like to do it in a proper way (i.e. not just several `if` conditions that will slowly made the code unreadable)... this information will help me to check that the code sho

[2020-01-31 18:44] akasolace commented on #372
@pierpaolocira in both windowas and mac those elements are initialized within HO folder, i.e. at same level as HO.jar. I do not think this is reproducible under macOS

[2020-01-31 20:17] pierpaolocira commented on #372
@akasolace do you mean Win and **Linux**?

I don't want to do the same withing the HO app (because DB might get lost in case of update of the application by overwriting the whole .app).
I just need (to try) to make sure that I am modifying properly the application.

[2020-01-31 20:40] akasolace commented on #372
yes I edited

In windows and mac this can't happen because the app does not come with those elements in first place. I do not know mac platform, hence I will let you decide whats best

[2020-01-31 20:46] akasolace opened #373 "[eFEAT] add a line in player overview with sum/average value"
Could be nice to add a line in player overview with sum/average value, hence after training see the evolution of tsi, salarry, rating .... at team level

![image](https://user-images.githubusercontent.com/1136496/73573206-199f0080-4473-11ea-87d5-ee7cb617b6b4.png)

[2020-01-31 21:54] pierpaolocira commented on #372
@akasolace do you mean Win and Linux? :) :) :)

Seriously, I would need someone to test this low-level change on Win and Linux when it's ready, before the merge... I will do some first experiments tomorrow... ;)

[2020-02-01 10:10] wsbrenk commented on #294
![subseditview](https://user-images.githubusercontent.com/11821502/73590483-252a1000-44e3-11ea-8007-580ff668a7dd.jpg)

current status. fine tuning of minutes increases the overall hatstats by 1 point.

[2020-02-01 12:46] akasolace commented on #372
@pierpaolocira sorry for the confusion but you got it right :-)

[2020-02-01 14:14] wsbrenk commented on #199
![grafik](https://user-images.githubusercontent.com/11821502/73593512-81059080-4505-11ea-9212-a745660821a8.png)

added experience sub to statistics page

[2020-02-01 16:49] tychobrailleur commented on #373
I have something similar that I have somewhat [adapted](https://github.com/tychobrailleur/HO/commit/87749556cd8d34f65a3f992d9c93902dfd3c236e) to match the above:

![Screenshot 2020-02-01 at 16 46 32](https://user-images.githubusercontent.com/114285/73595608-959c5580-4512-11ea-9cbc-a135d9dbfdf8.png)

It displays below the team overview, and doesn't show trends when TSI/form changes, but I can look

[2020-02-01 17:00] akasolace commented on #294
would we see the change of HatStats when we first introduce the subtitution ?

[2020-02-01 17:01] akasolace commented on #199
nice

[2020-02-01 17:07] akasolace commented on #373
@tychobrailleur that is great, do not need the trend (was just a copy past from tommatrick)  but what could be nice is the change when another HRF file is selected
Something like:

Total TSI 46, 210 (+1,500)  Average TSI 1'593 (+345), Average Form 5.31 (+0.12) ... with green and red delta as per indication next to player

I think also that average stamina could be nice

[2020-02-01 17:30] tychobrailleur commented on #373
Sounds good.
I was also thinking of adding the number of players, average age and average salary — WDYT?

[2020-02-01 23:16] akasolace commented on #373
yes sounds good!!

[2020-02-02 11:03] #368 closed

[2020-02-02 13:45] tychobrailleur commented on #373
I still have to sort out some layout issues, but this is[ what I have so far](https://github.com/tychobrailleur/HO/tree/team-summary):

![Screenshot 2020-02-02 at 13 39 43](https://user-images.githubusercontent.com/114285/73609081-09496b80-45c2-11ea-9f06-48a963f7b606.png)

[2020-02-02 14:12] akasolace commented on #373
I really like it, I do not really notice any layout issue to be honest ...

[2020-02-02 14:14] akasolace commented on #373
@tychobrailleur  when I merge your work on that one, I will release 2.1 alpha.

[2020-02-02 16:00] tychobrailleur commented on #373
Ok — right now I can't test updates as my team is playing, so I'll only be in a position to create the PR in a couple of hours.

For info, there are some labels that will need translating in this feature.

[2020-02-02 16:01] wsbrenk commented on #294
yes of course. the "old" hatstats value would be the average without substitution. the new value is displayed when a valid substition or position change is entered, both players are given for example.

[2020-02-02 20:15] akasolace commented on #373
closed by #375

[2020-02-02 20:15] #373 closed

[2020-02-02 20:24] akasolace commented on #373
@tychobrailleur what is your username in HT ?

[2020-02-02 20:26] #199 closed

[2020-02-02 20:27] akasolace commented on #191
@Synthespian ping !

[2020-02-02 20:32] akasolace commented on #373
few remarks / details, I would suggest the following:
    - remove digit for change in number players
    - 2 digits for average age
     - remove digits for average salary ( current and change)
     - remove digit and thousand separator for change in total TSI and average TSI

Also, if not too much work, would it be possible to group the actual values and the delta ?

Otherwise thank you for the

[2020-02-02 20:38] #191 closed

[2020-02-02 21:08] tychobrailleur commented on #373
[tychobrailleur](https://www97.hattrick.org/Club/Manager/?teamId=280747), funly enough.

[2020-02-02 21:10] akasolace commented on #373
@tychobrailleur can you accept CHPP developer licence on HT

![image](https://user-images.githubusercontent.com/1136496/73615512-cc549780-4608-11ea-97cc-1707cb939ed4.png)

[2020-02-03 07:19] tychobrailleur commented on #373
That's done now.

[2020-02-03 20:27] tychobrailleur commented on #373
I have most changes done now, except the following where I am not sure what you're asking:

Are you asking for the separator to be removed from the main value, or the separator to be added to the delta?

![Screenshot 2020-02-03 at 20 24 09](https://user-images.githubusercontent.com/114285/73688262-91fc0080-46c3-11ea-9b6e-aeb8c5ff5781.png)

[2020-02-03 21:28] tychobrailleur opened #377 "[eBUG] TeamAnalyzer match strange display for walkovers"
**Describe the bug**
The match table displays strange values for walkovers, in particular for hatstat and SmartSquad.

**To Reproduce**
Pre-requisite: playing against a team with recent walkovers.
Steps to reproduce the behaviour:
1. Go to the TeamAnalyzer tab
2. See Match table

**Screenshots**
![Screenshot 2020-02-03 at 21 20 58](https://user-images.githubusercontent.com/114285/73692331-09359280

[2020-02-04 18:34] pierpaolocira opened #379 "[eBUG] Copy/Paste for Mac doesn't work on "Block Note" utility"
Same issue I already managed in any other screen (I think)... I can't understand why it works in any part I tested before the pull request, but not here.

@akasolace please assign to me.

[2020-02-06 09:46] akasolace opened #380 "[eFEAT] use JDatePicker instead of JCalendar in order to remove an unmaintened dependance"

[2020-02-07 08:52] #377 closed

[2020-02-07 15:09] murko69 commented on #320
I know this is a closed issue, but instead of creating yet another one I'd like to just comment on this one.
Using BETA 2.1 and I see that secondary cups and qualification games are actually added as filters on Matches-TAB, which is great but.....
Would it be possible to actually show all secondary cup games separately instead of mixed together? Meaning: Adding filters for Emerald, Ruby, Sapphire

[2020-02-07 19:06] akasolace opened #382 "[eBUG] make column Name in Lineup overview resizable"
Player name are not displayed fully and the column can not be make wider ...

![image](https://user-images.githubusercontent.com/1136496/74057957-49a35200-49e5-11ea-815b-392b5b9e1db3.png)

[2020-02-07 20:26] akasolace opened #383 "[eFEAT] auto adjustment of stamina subskill"
we could offer to adjust stamina subskill of player based on game results.
if player had a game in the week, similar to what Foxtrick is doing, we deduct stamina decimal from RatingEndOfGame  vs Rating, and we adjust stamina decimal accordingly.

[2020-02-08 10:20] yaute74 commented on #370
I use two lines because player could have a long name and you have several infos on the second line:
![image](https://user-images.githubusercontent.com/34601782/74083489-f5d84d80-4a64-11ea-9ff1-783f59377f9f.png)

[2020-02-08 10:24] yaute74 commented on #367
With foxtrick the infos are automatically send to HYC it's a big advantage. With HO we must do all the updates manually, so I am not sure that a lot of player will use it if we integrate it.

[2020-02-08 10:35] akasolace commented on #370
I can add that personally, I am also fine with the 2 lines.

[2020-02-08 11:50] wsbrenk commented on #367
@yaute74 hi, i don't understand what you mean with "we must do all the updates manually". i think it is possible to add a new selection box "youth academy" to the download filter and every time the user will download (F11), the youth data is updated automatically with last match data and so on.

on the other hand i'm with you. if we do not integrate some feature, that is not already handled by HYC

[2020-02-08 15:22] pierpaolocira commented on #370
Sorry, but on 15" retina (2880 x 1800, that is not really small) the screen is unusable!
I need to scroll horizontally and vertically in order to use it...

<img width="1099" alt="immagine" src="https://user-images.githubusercontent.com/11422667/74087667-d7874780-4a8e-11ea-9528-d8b0dc701f2e.png">

I am not telling that two lines are useless, but many people will be umcomfortable like this... and i

[2020-02-08 15:43] wsbrenk commented on #294
I'm almost done with this feature. However, swapping positions and new behavior have no influence on the calculated ratings. Is that correct? it only works with normal substitutions.

[2020-02-08 17:18] akasolace commented on #294
yes this is correct, it still need to be implemented (cf:  begining of function setLineupEvolution https://github.com/akasolace/HO/blob/92efca10c171e6511987da238ca9045f30f90a4d/src/main/java/core/rating/RatingPredictionManager.java#L114)

... I create a ticket for this.

[2020-02-08 17:23] akasolace opened #385 "[eFEAT] consider all match orders in prediction rating manager"
At the moment only substitution are considered, RPM should also consider:
      - change of behaviour
      - position SWAP

cf:
https://github.com/akasolace/HO/blob/92efca10c171e6511987da238ca9045f30f90a4d/src/main/java/core/rating/RatingPredictionManager.java#L114

[2020-02-08 23:15] wsbrenk commented on #296
I was able to reproduce the bug with my first team today. I was able to verify that the error is related to the fact that an average training speed is determined in order to determine the candidates to be selected. This is bad for current trainees if they only train for a few weeks and then no more.

[2020-02-09 10:34] wsbrenk commented on #385
@akasolace isn't it the lineup.UpdateLineupWithMatchOrder which needs some extensions?

[2020-02-09 12:23] wsbrenk commented on #385
I would have an approach for this. It is part of my branch feature#294. i will create a pr of it in the next minutes. i think it should be merged after release of v2.1. otherwise it should be tested very thoroughly.

[2020-02-09 19:35] akasolace commented on #385
yes possible I would need to look into it in mode details

[2020-02-09 19:36] akasolace commented on #385
yes it is the plan it will be merged after 2.1 release

[2020-02-09 19:38] akasolace commented on #296
@wsbrenk  ok I reopen the issue even if I am not 100% I understand what the bug is ...
Do you think this should/could be closed for 2.1 or should we target 3.0 for this one ?

[2020-02-09 22:10] wsbrenk commented on #296
@akasolace I'm trying to do a simple example. Let's say there is a 10 week training plan. First a week CV then 9 weeks PM. In this case, the forwards receive 10% training and are not marked.
If we would use the maximum trainingspeed, then forwards and inner midfield would marked green an wingers yellow.
This change would be very easy to do.

As a consequence, all players would be marked green if i

[2020-02-09 22:38] wsbrenk commented on #296
![grafik](https://user-images.githubusercontent.com/11821502/74111490-23241900-4b95-11ea-8f52-77947080b406.png)

since i'm planning set pieces for some weeks my  solution looks like this.

[2020-02-10 07:50] akasolace commented on #296
@wsbrenk ok I see I will merge your fix for 2.1 then ... thank you

[2020-02-10 19:10] #296 closed

[2020-02-10 19:52] akasolace opened #388 "[RLS] 3.0"
**Tracking PRs and Issues**

[Open PRs](https://github.com/akasolace/HO/pulls?q=is%3Aopen+is%3Apr+milestone%3A3.0)
[Open Issues](https://github.com/akasolace/HO/issues?q=is%3Aopen+is%3Aissue+milestone%3A3.0)

** Release Process:**
 - [x] create release branch @akasolace
 - [x] update release note in [HO](src/main/resources/changelog.md) (up to date before BETA)
 - [x] terminate DEV Q&A, create 1st

[2020-02-10 19:54] #333 closed

[2020-02-11 00:22] Synthespian commented on #191
Positive note, it looks like it works.
Bad note, the player download didn't work.  Hard to test without a comparison on the calculations between the two, but the basic functionality looks sound. :D

[2020-02-11 07:30] akasolace commented on #191
@Synthespian I don't know what this is but do not hesitate to open a new ticket

[2020-02-11 11:08] akasolace commented on #4
closed by 51d12c5c67a1ea128299364f2c71c4c30e6ed37e

[2020-02-11 11:08] #4 closed

[2020-02-11 11:14] akasolace commented on #372
looks linked/similar to #5 I guess your PR would close both ...

[2020-02-11 11:20] akasolace commented on #247
@mistermax80 @cyrill10 in case you are still up for it ..... development cycle of 3.0 has started

[2020-02-11 18:55] pierpaolocira commented on #372
I started working on it, but I'm a bit out of time... As soon as I can, I will test and go for a PR

[2020-02-11 20:24] yaute74 commented on #367
@wsbrenk I mean that when you change the training, a scouter, play a match, etc info are send automatically to HYC.

With HO you must download the data at the good time. For example if you change the training, play a match, change the training another time and play another match and if you don't download the datas between this two match I think you loose the info of the first training. But maybe I

[2020-02-12 01:19] wsbrenk commented on #367
@yaute74 now i understand what you mean and yes, you are right. Users who will not download regularly may miss important information. These should be editable in HO.
but isn't that the case for the adults too?? Training is editable in HO, isn't it?

btw: i would not miss any download;-)

[2020-02-12 07:43] yaute74 commented on #367
@wsbrenk yes it's the case with the senior but with the senior but we have no equivalent in web application.
You are motivated so do it ;-)

[2020-02-12 08:35] akasolace commented on #367
@wsbrenk @yaute74 what would help for both senior and youth team is the availability of last team event via CHPP ...
There is a request about it maybe we can try to push for this one ....

[2020-02-13 22:08] pierpaolocira opened #389 "make build.gradle platform independant"
Hi @akasolace ,
I am working on 372 and I wanted to test the behaviour when the application is finally packaged as an .APP

But any attempt I do in order to build, I receive the same issue with gradle:
[code]

Do you have any idea on the issue?

Netflix??? Are you able to replicate?

It happens also with a simple:
`gradle clean installDist AddResourcesInDistrib ZipDistribution`

Thanks

[2020-02-13 22:29] pierpaolocira commented on #389
Additional comment:
I'm sorry to say, but the `build.gradle` file seems to be a disaster now, and it cannot be easily used (maybe with the exception of some computers).

Some comments:
- I hat to change version of the nebula.ospackage plugin
- As usual I had to comment to apiKey line
- I had to empty the githubRelease task
- I had to remove any reference to "AddResources*" (why don't they exist an

[2020-02-14 07:45] akasolace commented on #389
the version specificied in build.gradle work flawleslly for me. I don't know why it is not working for you. You are also running the script using gradlew, not with your local install, right?

if you want/need to use PoEditor task you need a PoEditor key in your parameters, otherwise just not call the task.

Files\HattrickOrganizerDev\db" on my computer

You currently have this issue during the con

[2020-02-15 19:45] pierpaolocira commented on #389
Hi, @akasolace ...

In truth no, I now tried with the wrapper and something works better, but still not final solution... by simply trying with a `gradle clean` I have errors

This was just to mention one of the many issue I though people can experience with this build.gradle... indeed I just suggested to comment this line in the HO wiki

Yes, it happens also with a simple clean

Sorry also in thi

[2020-02-15 22:43] theobserver opened #390 "[eBUG]Exclude Last Lineup not working right"
Exclude Last Lineup not working right.
- I downloaded last data in HO.
- I tick the checkbox Exclude Last Lineup
- I pressed button Clear Lineup
- I pressed button Start Assistant

and then 3 players from the last lineup appear in the suggested auto lineup.

Then i untick those players from being suggested. I follow the above procedure and again 2 players from last match lineup are suggested from

[2020-02-16 08:23] wsbrenk commented on #390
@theobserver have the 3 players been replaced in the previous game? If so, the question is whether this is desired or an error.

[2020-02-16 11:25] wsbrenk commented on #367
@yaute74 @akasolace today i found that there still is no chance to download any training infos of the youth team via chpp. that is of course lousy.

[2020-02-16 11:38] tychobrailleur commented on #389
I hadn't built it since the `build.gradle` refactoring, but yes, issues would be expected.  As I mentioned somewhere else (I cannot find the comment any more), I have to maintain a set of local changes to even be able to compile in the IDE:

- commenting out the `POEDITOR_APIKEY` and `GITHUB_TOKEN` bits and replace with dummy values,
- replace all the `\\` to `/`

I haven't addressed because I rea

[2020-02-16 12:25] theobserver commented on #390
The 3 players were not replaced in the previous game. Exclude last lineup is used to exclude the previous game players from the assistant results. It is used so the players of the team that were not participating in the previous game can be suggested by the assistant and get training at a friendly game for example...

[2020-02-16 15:15] wsbrenk commented on #390
@theobserver When I tried to reproduce your error message, I noticed that the assistant has considered a player who was replaced in the last match. The player who replaced this player for only 25 minutes was not considered. even that is not clever, since the replacing player played less minutes than the replaced one and got less training so.

in my test no player was considered who played the last

[2020-02-16 22:28] pierpaolocira commented on #389
Thanks @tychobrailleur,
I was interested in your experience with the current build and in `./gradlew createApp ZipMacAppDistribution`

Can you please tell me if you are able to open the generated APP file?
By applying several changes (your suggestions are not enough, as you can see in my orevious posts) I am able to build, but the final .APP cannot be open because of a "file corrupted" message. I

[2020-02-17 06:56] wsbrenk opened #391 "[eBUG] HO does not recognize league changes"
user from the german question forum reports:

i think ho should check the league number after each download and handle a league change automatically.

[2020-02-17 06:57] wsbrenk commented on #391
the user wass able to delete the current league and reload it by the next download interactivly.

[2020-02-17 07:06] theobserver commented on #390
I looked more closely the issue.It seems that the same players suggested are not 3 as i said in my original post. They are 5. I do not think that the assistant takes in consideration the previous lineup even if i have ticked the exclude last lineup button.

[2020-02-17 08:20] akasolace commented on #367
CHPP is ridiculously feature-poor

[2020-02-17 08:24] akasolace commented on #389
2.1 version was made with that version of build.graddle

[2020-02-17 08:25] akasolace commented on #391
yes this can be implemented ...

[2020-02-17 15:05] pierpaolocira commented on #389
It's so strange... I just built with `./gradlew createApp ZipMacAppDistribution` and the final APP is marked as damaged... I tried different times... :(
Because I see no huge rush on #372, I could work and find a suitable solution to this issue with Gradle (unless a Gradle expert that has a MacOS can work on it)... and then on the other issue of the folder location...

[2020-02-17 15:10] pierpaolocira commented on #372
Additionally I found that also "Lineup" folder is placed in the user home. I fear HO is polluting it :) , because it is considered as the application folder...
I would like to keep those two fixes as separate (because saving the DB seems to have some specificities), but for Lineup (and any other module) I think that a specific solution (similar to the FileLoader, which is for static resource) shou

[2020-02-17 16:55] akasolace commented on #389
I will try to make a 3.0 dev release just to confirm it works well on my PC

[2020-02-17 16:57] akasolace commented on #372
@pierpaolocira yes it would make sense to put on those file/folder on same place similarly to what is being done for windows/Linux

no need, it is part of that issue

[2020-02-17 17:53] tychobrailleur commented on #389
Ah, same here.  The app folder is missing the `MacOS` folder (containing `JavaAppLauncher`), and the `Resources` folder (with `HO.icns`)

[2020-02-17 18:00] tychobrailleur commented on #247
Could we make these endpoints consistent?  I suggest:

- `GET /league/{leagueID}/status` for the data status
- `POST /league/{leagueID}/block/{blockID}` for push data by block
- `GET /league/{leagueID}/next-block?accept-job={true/false}` for next block.

Right now it's a mish-mash of camel case / kebab case, and URL param vs. query string.

[2020-02-17 20:24] pierpaolocira commented on #389
Thanks @tychobrailleur ...
@akasolace please test and let us know, because this issue seems to be more important than expected... :(

(Anyway in the worst case we can replace JARs inside a working APP and have a new release... it **should** work as a temporary workaround, if needed)

[2020-02-17 20:35] pierpaolocira commented on #372
OK, but this needs for two separate changes (because the class of the DB is not only about filesystem, but contains also some string manipulation on the URI to connect to the DB etc.), so I will most probably go for 2 separate PR to close this issue.

[2020-02-17 21:01] akasolace commented on #247
GET /league/{leagueID}/status for the data status
POST /league/{leagueID}/block/{blockID} for push data by block
GET /league/{leagueID}/next-block?accept-job={true/false} for next block.

yes, tomorrow I will also create table for Ireland, hence you will have server response other than error code

[2020-02-17 21:03] #294 closed

[2020-02-17 21:03] #385 closed

[2020-02-17 21:04] akasolace commented on #299
closed by #358

[2020-02-17 21:04] #299 closed

[2020-02-17 21:08] akasolace commented on #389
@pierpaolocira @tychobrailleur is the 2.1 app working for you ?
I will do my best to build artefacts this week, next week I am skiing so not the best time. ...

[2020-02-17 21:11] akasolace commented on #372
if you reckon it makes more sense to have it with 2 issue please do , otherwise you can add some sub task to this issue.

[2020-02-17 22:08] pierpaolocira commented on #389
@akasolace in the meanwhile can you please try to do your usual build with this version of the file (simply remove .txt extension)? I put some conditions and it allows me to succesfully build on MacOS.

The final APP is still the broken, but these changes should allow both to build a standard APP on MacOS and to do the complete build from your PC.

If that's not the case, I will go for some parame

[2020-02-18 08:23] akasolace commented on #389
@pierpaolocira sure I will test this and let you know

[2020-02-18 18:05] akasolace commented on #389
@pierpaolocira  @tychobrailleur   I just made artefacts (https://github.com/akasolace/HO/releases/tag/dev) with existing build.gradle
Can you confirm whether or not they work for macOS ?

[2020-02-18 18:06] akasolace commented on #299
@wsbrenk  it is not working for me , I have nothing being displayed !

[2020-02-18 18:07] akasolace commented on #294
It is working well but I have now huge amount of warning messages when I compile with the IDE, is it the same for you ?

[2020-02-18 20:47] tychobrailleur commented on #389
Yup, all good here.

![Screenshot 2020-02-18 at 20 46 11](https://user-images.githubusercontent.com/114285/74776621-d248aa80-528f-11ea-8890-c24760d00959.png)

[2020-02-18 21:16] akasolace commented on #389
ok so at lest it confirms the build.gradle at least works for me.
Now we have to find out why it is so broken under macOS.
Tomorrow I will test the version you sent me

[2020-02-19 06:59] pierpaolocira commented on #389
After a simple `diff` between my local generated APP and the one from @akasolace

I put in bold the differences that might be the cause (maybe not all of them)... but this seems to be a packaging issue.
If I have time I'll do some test this evening

[2020-02-19 07:19] tychobrailleur commented on #389
@pierpaolocira The minimum `build.gradle` changes I need to have to properly build the Mac app is:

[code]

Does this also work for you?  It doesn't process the language files at all, but gets up and running for me.

Note that I also comment out the dependency of `compileJava` on `preparingBuild`, startup times to run the app in the IDE was driving bananas.

[2020-02-19 11:58] akasolace commented on #247
@tychobrailleur hello, I created on server the "final" endpoint  `.../league/:leagueID/team/:teamID/pd-status`
I could not test it because dataTable are empty at the moment, so it is likely to be broken at this stage. However, on the server-side, I think logic-wise it is almost complete now.

[2020-02-19 18:05] pierpaolocira commented on #389
Thanks @tychobrailleur
What I sent to @akasolace is a version of the build file that should be equivalent (except that it should be able to work also on MacOS, because it checks if a task can run and, in case of missing properties, will report in the console and skip the task).

I have to check properly the differences between or files... but I didn't understant if, by generating the APP with your

[2020-02-19 18:53] tychobrailleur commented on #389
With those changes I have a working app in the zip:

[code]

[2020-02-19 19:34] wsbrenk commented on #389
@akasolace sorry, it is not only broken under macOS, but also on windows. i cannot build with current build.gradle too.

[2020-02-19 21:10] pierpaolocira commented on #389
@wsbrenk the issue you mentioned has been fixed in my version of the build file (see my previous comment).

@tychobrailleur thanks, I will try to merge your changes into my solution

I simply wait for @akasolace to know if my idea can be working also when building on his Windows ... then I'll proceed

[2020-02-19 21:34] akasolace commented on #389
I had not time wet but I promise I will try this one tomorrow. Having a look at it I think it will work but better to confirm.
For my info would it not have been simpler if you had set those properties on your end, even leaing therm empty? Maybe I am missing something

[2020-02-19 21:54] pierpaolocira commented on #389
@tychobrailleur this is my output (I did the "clean" just some seconds before):
[code]
Build not so different... outcome confirms results of my previous diff

@akasolace yes, maybe it is. My idea was to have a build file that completely skips tasks that connet be performed by default (just to avoid issues, such as what wsbrenk just reported).
Indeed another possibility is to provide the property f

[2020-02-20 07:20] akasolace commented on #389
@pierpaolocira yes this is what I meant in various messages. Simply put a project level properties file with those property being defined and not populated because they will be under version control. Those who needs it (me) will have those override with local properties file.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-20 08:30] tychobrailleur opened #392 "[eBUG] NPEs at startup on master following recent changes"
**Describe the bug**
App on `master` throws a lot of `NullPointerException` at startup, showing in the logs as:

[code]

Looking into this a bit, this seems to be related to changes for #299  in `Lineup#getUpcomingMatch()` which makes a call to `MatchKurzInfo.isNeutral()`:

[code]

where `this.m_iIsNeutral` is `null`.

My assumption here is that the matches were already downloaded before the db ch

[2020-02-20 08:37] akasolace commented on #392
@wsbrenk those are the error messages I was referring to in my comment on your PR.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-20 19:02] wsbrenk commented on #392
@tychobrailleur thanks - i will repair isNeutral and isDerby

[2020-02-20 19:29] wsbrenk commented on #390
in the db table AUFSTELLUNG i found some old hrf imports where the last lineup is missing. normally there are two entries for each hrf. up to now i do not have an idea what is the reason for these missing entries.

[2020-02-20 20:59] akasolace commented on #392
closed by #393

[2020-02-20 20:59] #392 closed

[2020-02-20 21:01] akasolace commented on #390
@wsbrenk if it is too specific and dificult to reproduce we might put this one on hold for the moment

[2020-02-21 10:14] tychobrailleur commented on #392
The fix adds a null check, but shouldn't we address the case where users already have matches downloaded, and installing the new version? The home / derby features won't work for those matches—maybe not a big deal, but at leat we should document?

[2020-02-22 12:52] wsbrenk commented on #390
@theobserver please check if ho shows the correct last lineup
![lastlineup](https://user-images.githubusercontent.com/11821502/75092684-88efa800-557a-11ea-8a9a-7667cccc84a3.jpg)

[2020-02-22 13:41] akasolace opened #394 "[IDEA] in Lineup tab, maybe we could simply display the last name and make full name available on hoover along other information"
inspired by HT behaviour ...

[2020-02-23 11:10] tychobrailleur commented on #247
What is the output:

[code]

?  For example, what are the possible values for `pmStatus`?
Same for `/league/{leagueID}/status` — what are the possible values returned?

[2020-02-23 13:51] wsbrenk opened #396 "[eBUG] MatchesOverview NPE"
- [x] map remaining MachEvent

From the HO Forum:

Hello

When I try to open 'Matches' tab HO 2.1 returns an error 'java.lang.NullPointerException'.
I works on Ubuntu 18.04.4 LTS and have Java in the latest version.
![matcherOverview](https://user-images.githubusercontent.com/11821502/75113196-f0c1f380-564b-11ea-9bb1-cb5bf4f54e6c.jpg)

[2020-02-24 23:17] orgogliobauscia opened #397 "[eFEAT] Squad Tab, ordering of best position column is not saved on closing"
**Is your feature request related to a problem? Please describe.**
Since I upgraded to 2.1 the players are shown in reverse order of position (from strikers to goalkeepers).

**Describe the solution you'd like**
I'd like to set HO in order to have players shown from goalkeepers to strikers.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-02-25 17:04] theobserver commented on #390
As you can see in the screenshots ho was not showing the correct lineup. It fixed after i downloaded
![Ho-02](https://user-images.githubusercontent.com/5185594/75269420-894da480-5801-11ea-8744-05e874bcdf37.jpg)
![Ho-01](https://user-images.githubusercontent.com/5185594/75269429-8baffe80-5801-11ea-9aae-4611c54afaf1.jpg)

[2020-02-26 07:20] wsbrenk opened #398 "[eBUG]Counterattackrating calculation beyond divine is bugged"
kopsterkespits schrieb:

https://www.hattrick.org/Forum/Read.aspx?t=14250446&v=4&a=1&n=187

Counterattackrating calculation beyond divine is bugged. 4 defs give me 17.27 but after adding the 5th wich adds 5.03 when adding him in a 4 def lineup HO tells me 19.73 instead of 22.30. It has been like this in all versions. Would be nice to fix that.

I think the same happens with AOW and AIM around divi

[2020-02-26 18:32] wsbrenk commented on #390
when i reimport the hrf file, the missing last lineup is saved correctly.

[2020-02-28 07:54] wsbrenk commented on #396
today i got this, when starting ho r2644

java.lang.NullPointerException
	at core.model.match.MatchStatistics.isOldie(MatchStatistics.java:329)
	at core.model.match.MatchStatistics.<init>(MatchStatistics.java:22)
	at core.training.TrainingPreviewPlayers.getMatchesForTraining(TrainingPreviewPlayers.java:249)
	at core.training.TrainingPreviewPlayers.calculateWeeklyTrainingForPlayer(TrainingPreviewPl

[2020-02-28 13:40] wsbrenk commented on #396
It looks like a matchlineupTeam was not found in the database.

[2020-02-28 20:06] Effey09 commented on #396
could you please copy the error message you got to the github ticket (https://github.com/akasolace/HO/issues/396)

So I will do here:
java.lang.NullPointerException
	at core.model.match.MatchEvent.isSE(MatchEvent.java:897)
	at core.model.match.MatchEvent.isSpecialtyNonWeatherSE(MatchEvent.java:921)
	at module.specialEvents.SpecialEventsDM.getEventType(SpecialEventsDM.java:186)
	at module.specialEv

[2020-02-28 20:35] wsbrenk commented on #396
@akasolace It looks like Effey09 is suffering from an unknown MatchEventId. I tried a fix that I pushed into the current pr. please have a look on it.

[2020-02-29 10:33] wsbrenk commented on #396
today i found another bug which stops the download of match data if there is a match with verlegenheitstruppe in the list. maybe this may cause some consequential errors;-(

[2020-02-29 12:15] tychobrailleur commented on #247
@akasolace A couple of changes to the `league/{leagueID}/next-block` endpoint would be needed:

- a code indicating if the block has been locked, or if all blocks are currently all locked by other processes.  Currently it can only be inferred from `Msg`, a code would be more appropriate.
- `BlockContent` when returned is a string — can it be changed to an array of integers?  Otherwise the string n

[2020-02-29 16:53] wsbrenk commented on #391
![grafik](https://user-images.githubusercontent.com/11821502/75611513-62ea7a80-5b1b-11ea-86b4-d7194da9f57e.png)

i found that table SPIELPLAN stores 2 entries per season, when i went up or down a league. the order is arbitrary.

i think the person who reported this issue only didn't see the correct entry, because it wasn't in first/upper position.

on the other hand there are a lot of plans in the

[2020-02-29 19:08] wsbrenk commented on #396
java.lang.NullPointerException
	at module.lineup.Lineup.UpdateLineupWithMatchOrder(Lineup.java:1998)
	at core.rating.RatingPredictionManager.setLineupEvolution(RatingPredictionManager.java:191)
	at core.rating.RatingPredictionManager.<init>(RatingPredictionManager.java:114)
	at core.rating.RatingPredictionManager.<init>(RatingPredictionManager.java:119)
	at module.lineup.Lineup.setRatings(Lineup.j

[2020-02-29 20:06] wsbrenk commented on #396
npe position swap of player which is no longer in lineup. fix is in current pull request.

[2020-02-29 22:35] pierpaolocira commented on #389
Sorry @akasolace , just tried (both as undefined and with dummy value), but it doesn't work.

[code]

Unless I'm missing something, the only way is to check for their existence in the script itself...

[2020-02-29 22:52] pierpaolocira commented on #389
Ok... I managed to have the file working by adding another onlyIf to the POEditor.

Anyway I still continue to have the issue on Contents/MacOS and Contents/Resources that are missing, so the final APP cannot be opened.

I am using `./gradlew clean createApp ZipMacAppDistribution` as suggested... and the following is in the log
[code]
I think is something silly, which works on your Win, but not on

[2020-02-29 23:02] pierpaolocira commented on #389
I think the `macAppBundle` plugin is not starting at all if I run `./gradlew clean createApp ZipMacAppDistribution`  ...

[2020-02-29 23:38] pierpaolocira commented on #389
@akasolace I found that, by commenting the following 2 lines, the APP is built properlyç
[code]
What do you prefer?
1. I attach here the new build file and you test it. If it works I do a PL, otherwise I continue to investigate
2. I do a PL and you test it before merging

[2020-03-01 10:43] akasolace commented on #397
@orgogliobauscia I do not understand what the issue is about. Can you please give more details, also maybe screenshot to compare before vs 2.1
Thank you

[2020-03-01 10:47] akasolace commented on #390
@wsbrenk I am not really following this one ... is this a real issue or should I close it ?

[2020-03-01 11:09] theobserver commented on #390
As far as i am concerned, it is working ok now for me.
Seems the only instance this problem occurred was when i upgraded to the new HO from the old deprecated one and apart that time it is working ok for me now.

Regards.

[2020-03-01 11:19] akasolace commented on #247
res = {"status_code": pdStatus.value, "status_desc": pdStatus.name, "oppTeamIDs": oppTeamIDs}

Pour le status:

class PM(Enum):
  Undefined = -1
  DD = 0
  MD = 1
  S = 2
  MP = 3
  DP = 4

DD = direct demotion
MD = Demotion Match barrage
S = no change
MP = Promotion Match barrage
DP = Direct Promotion

oppTeamIDs: arrays of int of TeamIds in case of DD , MD, MP, DP
most of the time it should be a

[2020-03-01 11:33] akasolace commented on #247
a code indicating if the block has been locked, or if all blocks are currently all locked by other
 processes. Currently it can only be inferred from Msg, a code would be more appropriate.

@tychobrailleur  pour l'instant c'est implémenté comme ca: dis moi si tu veux des changements

201 => "No more data required for league {leagueID}"
202 => "Currently, league {leagueID} has no block available fo

[2020-03-01 11:34] akasolace commented on #391
@wsbrenk is there something that needs to be done here, or should we close this one ?

[2020-03-01 11:37] orgogliobauscia commented on #397
Il giorno dom 1 mar 2020 alle ore 11:43 akasolace <notifications@github.com>
ha scritto:

Whenever I open HO, the players' order is from Strikers to Goalkeepers:
[image: Screenshot 1.jpg]

If I press the Best position column everything is ok, from Goalkeepers to
Strikers:
[image: Screenshot 2.jpg]

If I close HO and re-open it, the order is again from Strikers to
Goalkeepers:
[image: Screenshot 1.

[2020-03-01 11:39] akasolace commented on #396
@wsbrenk  Can you please give me the matchID in which this issue is raised?

[2020-03-01 11:41] akasolace commented on #396
@wsbrenk If I understand correctly (sorry just back from holliday) but this is fixed by 699a604 (your latest PR) but a long term solution is to map the matcheventID, right ?

[2020-03-01 12:11] wsbrenk commented on #396
@akasolace I'm glad to see you back. I hope you had a nice break. at first i thought that these messages would refer to the same origin. it is not so. i think we have to decide if we want to patch release 2.1 or fix everything in version 3. in the first case we have to sort my fixes again accordingly.

of course! i think there were two or three ids in the matches i tested. if you have a look at my

[2020-03-01 12:15] wsbrenk commented on #391
@akasolace i think it is an error, that ho stores plans from seasons, that are not from your own team. i would like to fix this.

[2020-03-01 12:20] tychobrailleur commented on #247
Ok, thanks for the details!  I'll let you know if I need any more change.

[2020-03-01 12:21] wsbrenk commented on #390
@akasolace i'm not very happy with the workaround waiting for the next import to fix the issue. i would like to investigate for a while what causes the missing last lineups

[2020-03-01 12:40] wsbrenk commented on #396
@akasolace  i added the log. it gives this output:

 [Debug]   MatchEventID: UNKNOWN_MATCHEVENT: 803
 [Debug]   MatchEventID: UNKNOWN_MATCHEVENT: 497
 [Debug]   MatchEventID: UNKNOWN_MATCHEVENT: 804
 [Debug]   MatchEventID: UNKNOWN_MATCHEVENT: 803
 [Debug]   MatchEventID: UNKNOWN_MATCHEVENT: 497
 [Debug]   MatchEventID: UNKNOWN_MATCHEVENT: 804
 [Debug]   MatchEventID: UNKNOWN_MATCHEVENT: 802
 [Deb

[2020-03-01 12:48] wsbrenk commented on #396
since the hts could come up with new event ids whenever they want, we should stay with an UNKNOWN_MATCHEVENT. additionally we should map the ids we found. do not know if anyone of the given numbers would be a candidate to skip the isSE function.

[2020-03-01 13:16] akasolace commented on #389
@pierpaolocira  yes that would be problematic. Those tasks `preparingBuild` and `createLanguageFileList` are really basic. I guess that if you replace \\ with File.separator it should run without issue on your side, no ?

Otherwise when you have something "final" please do a PR and I will test it before merging it.

[2020-03-01 13:22] akasolace commented on #397
@orgogliobauscia Unfortunatly I can't see the pictures but now I get the issue ...

[2020-03-01 13:28] akasolace commented on #390
I think this could be my fault. At some point I think I removed this and it was reintroduced by a commit made by @tychobrailleur. Maybe someone who used the development version for a while could have encountered that issue

[2020-03-01 13:28] akasolace commented on #391
@wsbrenk ok understood

[2020-03-01 13:55] akasolace commented on #396
@wsbrenk ok I see, indeed we should clearly stay with an UNKNOWN_MATCHEVENT

I am supprised by the  UNKNOWN_MATCHEVENT: 550  because this one is not even referenced in the API documentation, otherwise I will map the other events

I guess, this would justify a 2.2 release

[2020-03-01 14:27] akasolace commented on #396
@wsbrenk  do you have by anychance a database with those problematic matchID, personally I do not have any ... I am especially interested in the matchEventID 550.

[2020-03-01 14:28] wsbrenk commented on #390
You could be right. at the moment i don't find any gaps anymore. it seems, that everything has repaired itself. so you could close this ticket.

[2020-03-01 14:38] wsbrenk commented on #396
i did shorten the log, there were approx 100 more lines with only 550. no idea what that is, maybe an ancient id which is not used anymore??

![grafik](https://user-images.githubusercontent.com/11821502/75627688-a522c300-5bd2-11ea-8657-fcbd8367be62.png)

[2020-03-01 14:40] wsbrenk commented on #396
![grafik](https://user-images.githubusercontent.com/11821502/75627721-0480d300-5bd3-11ea-95c9-92a082295c8e.png)

[2020-03-01 15:01] wsbrenk commented on #396
as i joined with matchdetails i found that they all happened between 2008 and 2012

[2020-03-01 15:10] #390 closed

[2020-03-01 15:14] akasolace commented on #396
@wsbrenk ok then indeed I guess it is an anicen matchID. For curiosity if you can find / provide one of those matchID (I mean one of the game in which MATCHID 550 happened). I would like to see how HT match it now ? is it still 550 or maybe it was an error within HO at the time.

[2020-03-01 15:15] wsbrenk commented on #396
I confirm that, but then we have to pick out the commits that have nothing to do with the current merge for version 3.0.

* fix merge bug of e5b9ba4 (future training plan marking)  => V3 commit
* bench positions of forward and winger swapped => V3 commit
* npe in MatchEvent.isSE => V2.2 commit candidate for cherry pick
* fix bug of download matches of Verlegenheitstruppe 08/15 => V2.2 commit candi

[2020-03-01 15:46] akasolace commented on #396
from 699a60490b442d6c1b9fd01c248092452d22e94c I will pick change made to src/main/java/core/model/match/MatchEvent.java and change made to src/main/java/core/net/OnlineWorker.java, right ?

[2020-03-01 15:48] wsbrenk commented on #396
https://www.hattrick.org/Club/Matches/Match.aspx?matchID=269417699&SourceSystem=Hattrick

[2020-03-01 15:52] akasolace commented on #396
@wsbrenk  There is no matchEvent 550 in that game .... hence, it was an HO error, at which minute do you have it in your database ?

[2020-03-01 15:54] wsbrenk commented on #396
minute 134, i think the 550er were replaced by other ids and ho didn't replace them

[2020-03-01 15:55] wsbrenk commented on #396
that's correct!

[2020-03-01 15:58] akasolace commented on #247
I think one way or another we have to store the list as string and parse it.  I can change my code to parse it on the server side, or we can leave the table as is and parse it on HO side ... If you confirm you prefer this to happen on the server side, I will do the required changes ...

[2020-03-01 16:01] akasolace commented on #396
indeed it is 599 <-> match finished, I will try to fix this one

[2020-03-01 16:04] wsbrenk commented on #396
couldn't it be the ratings of the best and lausiest players. i think there were more than one 550er per match.

[2020-03-01 16:10] pierpaolocira commented on #389
@akasolace I already replaced "\"... but did't solve the issue...
Anyway, can you confirm that "/" will work on your side when replacing "\\"?

I thought not having those dependencies would not be problematic because, without them, I have a fully working 3.0.DEV APP file...
And I see both of them being part of the `makeAll` task... so if you build via that task, it should not be problematic.

I'm

[2020-03-01 16:24] wsbrenk commented on #396
@akasolace concerning the first npe of this ticket, did you check the method fillMatchesOverviewChanceRow if there could still be a npe even if we fix the match_event_ids.

maybe the subtypes could deliver an empty or null string and the sql query gets corrupt (empty IN clause).

[2020-03-01 16:50] pierpaolocira commented on #389
@akasolace  I finally managed to make it working in any case (without commenting those lines).

Everything was failing because of the instruction `project.delete(files("${buildDir}/"))` in the task `preparingBuild`.
I removed it and replaced task declaration with `task preparingBuild(dependsOn: clean) {`
By reading the documentation, the `clean` tasks does exactly a clean of the build folder, so i

[2020-03-01 17:42] akasolace commented on #396
ok in doubt I will leave it as is for the time being

[2020-03-01 17:42] akasolace commented on #396
I think that method should be fine ..

[2020-03-01 17:43] tychobrailleur commented on #247
I am not sure why you have to store as a string, but in any case, I have already done the parsing work on my side:
https://github.com/tychobrailleur/HO/commit/3edfd24b09e2f6bc943b790ad920af4a3f360c55#diff-ac5c285fe782cea4e2d197cdc9c28c56R144-R145

So if you feel it makes no difference either way, we can keep it that way, and document.

[2020-03-01 18:08] wsbrenk commented on #391
SpielplanTable.storeSpielplan changed:
should ignore plans that are not from our own team

now i would like to get rid of all the foreign plans that were stored in the ho db. could be done manually, but a step in DBUpdater would be fine.

[2020-03-01 20:38] akasolace commented on #389
ok cool I will test it asap

[2020-03-01 20:41] akasolace commented on #247
ok, I will give it a try just in case with another endpoint and we will test ... but I don't think that performance will be an issue here anyway

[2020-03-01 20:42] akasolace commented on #391
ok  sounds good !

[2020-03-02 09:30] akasolace commented on #247
@tychobrailleur are you already at a point where you can push data for a given league?
I would need all data fora league to be available (e.g. Ireland) in order to test the logic for promotion/demotion ...

[2020-03-02 09:31] akasolace commented on #247
@tychobrailleur ok I made the change on the server, you should now get directly a list of integers when calling next-block end point

[2020-03-02 10:33] tychobrailleur commented on #247
Yes, definitely.  I am posting data but getting back a 502 (if I remember correctly).  I'll try again this evening after work.

Right now, I am working on the UI part for handling the data availability.  The next big task is displaying the actual results about the new league.

[2020-03-02 10:34] tychobrailleur commented on #247
Awesome — will give it a bash tonight.

[2020-03-02 20:39] akasolace commented on #396
@wsbrenk cherry pick from 699a604  changes made to to src/main/java/core/net/OnlineWorker.java (@wsbrenk there is a lot of conflict changes, should I take all Online worker or is there a smaller patch(few lines) I need to integrate, also what exactly `download matches of Verlegenheitstruppe 08/15` refers to ? which bug ID?

[2020-03-03 21:41] wsbrenk opened #401 "[eBUG]ArrayIndexOutOfBounds at HO start"
ArrayIndexOutOfBounds starting HO 3.0 r2644 :
java.lang.ArrayIndexOutOfBoundsException: 30
	at core.gui.comp.table.TableSorter.getValueAt(TableSorter.java:155)
	at core.gui.model.ReduzedTableModel.getValueAt(ReduzedTableModel.java:56)
	at javax.swing.JTable.getValueAt(Unknown Source)
	at javax.swing.JTable.prepareRenderer(Unknown Source)
	at javax.swing.plaf.synth.SynthTableUI.paintCell(Unknown So

[2020-03-03 22:43] wsbrenk commented on #396
@akasolace  sorry, my mistake. this change did belong to the feature#299 branch which was merge by you after release 2.1, so you should not merge it to your stable branch. i will correct my comment above.

[2020-03-04 11:35] akasolace commented on #396
@wsbrenk ok

[2020-03-04 11:38] akasolace opened #402 "[backport] 699a604 to 2.X branch"
in order to close #396 also in stable branch
cherry pick from 699a604  changes made to src/main/java/core/model/match/MatchEvent.java

[2020-03-04 11:41] akasolace opened #403 "[backport ] new build.gradle to 2.X branch"

[2020-03-04 11:42] akasolace commented on #396
closed by 699a60490b442d6c1b9fd01c248092452d22e94c and by 61e4592a1c46455a695c50d7d4514e0cefa20645

[2020-03-04 11:44] akasolace commented on #401
@wsbrenk do you have more info about this one? How is it produced?  Is it linked to #396?

[2020-03-04 12:50] #391 closed

[2020-03-04 18:57] wsbrenk commented on #401
@akasolace i'm not quiet sure. today it happens again with two of my teams which played against 08/15-verlegenheitstruppe teams. maybe it is fixed with the OnlineWorker fix in #396, but i remember another stack trace than this one.

[2020-03-04 19:39] #389 closed

[2020-03-04 19:41] akasolace commented on #401
what does it means '08/15-verlegenheitstruppe teams' ?

[2020-03-04 19:42] akasolace commented on #401
could you check the bug still exist with last artefacts: r2650 ?

[2020-03-04 19:54] wsbrenk commented on #401
Footballeurs de rue

i will do that!

[2020-03-04 19:58] akasolace commented on #403
closed by 6a83e89

[2020-03-04 19:58] #403 closed

[2020-03-04 20:00] wsbrenk commented on #401
@akasolace starting r2650 gives the npe isOldie from https://github.com/akasolace/HO/issues/396#issuecomment-592394478 for the teams that had the footballeurs matches;-(

[2020-03-04 20:10] #402 closed

[2020-03-04 20:21] akasolace commented on #401
ok, so if I understand correctly
for match against Footballeurs de rue , the function isOldie in module src/main/java/core/model/match/MatchStatistics.java  raises a NPE error ?

so this is another new bug for which fixes should also be ported to 2.2 ? I mean is it a bug only on dev version or also affecting 2.1 ?  Do you know what causes it? It is strange because that function is very old, no?

[2020-03-04 20:25] akasolace opened #404 "[backport ] backport fix for #401 into 2.X branch ?"
@wsbrenk let's decide of this when we got more information

[2020-03-04 21:44] wsbrenk commented on #401
i saw it only in ho 3.0 versions

[2020-03-05 07:24] wsbrenk commented on #401
@akasolace i have to check whether the npe of r2650 were the consequence of an error in the previous dev-version which had to download the footballeurs-matches (teamid < 0). i think the isOldie npe had the reason that no team was found in database when initializing the trainings plan.

so in a test this evening i  will try to download the negativ team ids with r2650 and then check if again npes wi

[2020-03-05 08:06] akasolace commented on #401
@wsbrenk, to be frank, I did not follow all this closely so it is not clear to me.
What I get so far, is that the bug does not exist in 2.x branch, it was introduced in 3.x branch:
     - has the bug been identified already ?
      - do we know which commit introduced the bug ?
     - is it fixed now on dev branch and only user who used dev version at some point might have corrupted database?  =>

[2020-03-05 17:43] wsbrenk commented on #401
have just successfully carried out the promised test.
- Database reset to date 1.3. (before match against footballeur)
- download matches
- restart HO without any NPE

yesterday the download was made by the previous 3.0 dev-version. So i think the "verlegenheit"-commit really fixes the isOldie NPE which is only relevant for dev 3.0 versions.

i'm still not sure what's about the ArrayIndex-Exceptio

[2020-03-05 18:46] wsbrenk commented on #287
why should we limit ourselves here to the chpp features. @akasolace has just evaluated the special events in the matches. Why don't we want to evaluate them statistically (total, per player, per season ...)

[2020-03-05 18:53] akasolace commented on #287
@wsbrenk you mean evalute the `special events` statistically ?  Is it not the role of the currently broken special events module (see steps 2 and 3 of https://github.com/akasolace/HO/issues/309#issuecomment-570135381)

[2020-03-05 18:54] akasolace commented on #404
@wsbrenk if I understood correctly, this will not be required. I can delete it, right ?

[2020-03-05 20:03] #394 closed

[2020-03-05 21:01] wsbrenk commented on #404
yes, i think so!

[2020-03-09 08:32] masher82 commented on #396
I habe the NPE with latest (pre-release) build on MacOS (taken from https://github.com/akasolace/HO/releases) with exactly the same stacktrace

[2020-03-09 22:56] rwheimle opened #405 "[eFEAT]"
At the start of the season I do for my team an spected results for all the matches of the group in order to know how strong is my team. I do a table with the 8 teams and their expected points in each week. In every week I change the expected results for the real score. I can compare both situations.

In the "F3 League Details" tab, it could be nice to be able to fill in scores for future matches.

[2020-03-10 20:08] akasolace commented on #398
@DavidatorusF do you have a reference formula, external tool to calculate the tactic level ?
Is unwritten manual any good?
CA Level Formula = 0,017272a + 1,042313
where a = sum of [Form{(2*defense passing skills)+(defense defending)}]

[2020-03-11 01:47] DavidatorusF commented on #398
I'm not a scientific, sorry

but  LA-Alpa-UHS [userid=7514635] always update the unwritten with the last news from the community

 micha1100 give some explanation in this topic [17308340.1] https://www.hattrick.org/goto.ashx?path=%2FForum%2FRead.aspx%3Ft%3D17308340%26n%3D1%26v%3D0

[2020-03-11 08:53] #398 closed

[2020-03-11 14:38] netmaniac commented on #396
Hi!
I have just installed HO-2.2.0.2639 and still get this error in Matches tab.
Ubuntu 19.10

java.lang.NullPointerException
	at core.db.MatchesOverviewQuery.fillMatchesOverviewChanceRow(MatchesOverviewQuery.java:164)
	at core.db.MatchesOverviewQuery.getChancesStat(MatchesOverviewQuery.java:142)
	at core.db.DBManager.getChancesStat(DBManager.java:1286)
	at module.matches.statistics.MatchesHighlig

[2020-03-11 17:13] akasolace commented on #396
@netmaniac @masher82 can one of you (or both of you even better) share its database ?
@wsbrenk do you want to look again at this one because it seems we still have an issue ...

[2020-03-11 19:44] netmaniac commented on #396
@akasolace how to do it?

[2020-03-11 20:49] wsbrenk commented on #396
@akasolace @netmaniac @masher82

in the HO log file should be infos about the sql statement that failed. Could you please check if you find error messages mentioning the
class core.db.MatchesOverviewQuery continued by 			"JDBCAdapter.executeQuery : " + e + "\nStatement: " + Sql + "\n"

would be great if one of you could copy those lines to this ticket.

the log file is found in the hattrick folder

[2020-03-11 21:10] netmaniac commented on #396
There are many errors in log file (I see that is from one session). I'm attaching whole log file.
[HO-2020-03-11.zip](https://github.com/akasolace/HO/files/4320934/HO-2020-03-11.zip)

[2020-03-11 21:44] wsbrenk commented on #396
great - thank you

and the message is:

22:02:37 [Error]   core.db.JDBCAdapter: JDBCAdapter.executeQuery : java.sql.SQLSyntaxErrorException: user lacks privilege or object not found: MATCH_EVENT_ID
Statement: SELECT MATCH_EVENT_ID, COUNT(*) AS C FROM MATCHHIGHLIGHTS JOIN MATCHESKURZINFO ON MATCHHIGHLIGHTS.MATCHID = MATCHESKURZINFO.MATCHID WHERE TEAMID=871690 AND MATCH_EVENT_ID IN(104, 114, 124, 13

[2020-03-12 06:45] wsbrenk commented on #396
other error messages are saying that EVENT_ID column is missing too. is there any reason why db update of HO 2.1 is not successfully running on 2.2 installation?

[2020-03-12 06:51] wsbrenk commented on #396
@netmaniac  could you please check if the columns MATCH_EVENT_ID and EVENT_INDEX are in your table
please select menu Debug -> sql editor
enter in the command line: select * from  MATCHHIGHLIGHTS
and press F5

[2020-03-12 10:10] netmaniac commented on #396
I have migrated on new computer. Installed HO 2.1, imported old .hrf files and got exceptions in Matches tab. So i have installed dev version - the same. Next I have removed ~/.ho directory, started HO dev version, downloaded once from hattrick.org. Still error on Matches tab.
I have ran this query, and no results.
![Screenshot from 2020-03-12 11-09-42](https://user-images.githubusercontent.com/27

[2020-03-12 10:18] masher82 commented on #396
I also do not have those columns running 2.2.0.2639 on MacOS

<img width="1081" alt="matchhighlights" src="https://user-images.githubusercontent.com/7936257/76511279-3f94c900-6453-11ea-9312-45638134c77a.png">

[2020-03-12 12:44] akasolace commented on #396
you can either put it here as attachement or share via service like mozilla send ...

[2020-03-12 13:40] masher82 commented on #396
I think the question rather is meant as how to retrieve the database content.

[2020-03-12 18:34] wsbrenk commented on #396
@masher82 @netmaniac could you please enter the following sql command to examine your db version: select * from  USERCONFIGURATION where config_key like 'DB%'

[2020-03-12 21:20] netmaniac commented on #396
@wsbrenk  I got
 DBVersion | 26

[2020-03-12 22:02] wsbrenk commented on #396
@akasolace @masher82 @netmaniac i found the error. DbUpdate is OK but the DB-Init not.

[2020-03-13 08:47] akasolace commented on #396
@masher82 @netmaniac can you please check the error has been fixed in HO_2.2.0.2642.
thank you

[2020-03-13 08:47] akasolace opened #408 "[backport] backport 396 fix to 2.X branch"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-03-13 08:55] masher82 commented on #396
Again I have taken the latest build from https://github.com/akasolace/HO/releases/tag/2.2 which seems to be 2.2.0.2642 and I still get the NPE when opening the games tab.

[2020-03-13 09:25] netmaniac commented on #396
Same here. I can share with You whole ~/.ho folder. This is just a game :)  Maybe with data You can get it sorted faster. I wish I could help anything more, but java is not my world :)

[2020-03-13 14:27] akasolace commented on #396
@netmaniac yes please share your database, it might makes things easier
@wsbrenk so apparently still something else ....

[2020-03-13 15:42] masher82 commented on #396
Checked out the code and had a short look at the issue:
* apparently the resultset in line 164 is null
* the resultset is null because the exception "java.sql.SQLSyntaxErrorException: user lacks privilege or object not found: MATCH_EVENT_ID" is thrown when executing the query. The catch clause then returns null so you should check for null and handle it appropriately.
* even a simple "select * fro

[2020-03-13 16:12] netmaniac commented on #396
@akasolace I have sent download link via email

[2020-03-13 17:55] wsbrenk commented on #396
@netmaniac @masher82 how did you test the new version? if you did NOT delete the old corrupt database, it could not work. you either have to delete the database folder and start from scratch or you have to change the DBVersion value to 25 in your old database to run an update of the database table.

[2020-03-13 17:57] wsbrenk commented on #396
or i have to deliver another patch that increments the DBVersion to 27 and runs the updates of MATCHHIGHLIGHTS again.

[2020-03-13 17:58] netmaniac commented on #396
@wsbrenk I didnt think about this. Now I have removed ~/.ho and started again. Now it works. :)

[2020-03-13 17:59] wsbrenk commented on #396
@netmaniac  great - thanks for the information.

[2020-03-13 18:39] wsbrenk commented on #396
the next pull request handles db update to intermediate version 27, which fixes the database table

[2020-03-13 18:54] masher82 opened #410 "[eBUG] Database folder "db" on MacOS located below /Users/<userid>/"
The database folder on MacOS is located below the folder mentioned above. Instead it should be located below one of the following folders:

* `/Library/Preferences/<application name>/`
* `~/Library/Preferences/<application name>/`
* `/Library/Application Support/<application name>/`
* `~/Library/Application Support/<application name>/͏͏͏͏`
* `/Library/<application name>/`
* `~/Library/<application

[2020-03-13 21:50] tychobrailleur commented on #410
This is a dupe of #372

[2020-03-14 05:24] masher82 commented on #410
Yap. Thanks for the gibt.

[2020-03-14 05:24] #410 closed

[2020-03-14 09:14] tychobrailleur opened #411 "[eBUG] StringIndexOutOfBoundsException when starting HO in master"
**Describe the bug**
When starting HO on `master` with my existing Hattrick DB, I am getting the following exception:

[code]
HO is not starting at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Start HO with `HEAD` of the `master` branch (efc2d55 right now)

[2020-03-14 09:18] tychobrailleur commented on #411
So far I have tracked the problem to a “ghost” player in `m_vScoutEintraege` in `TransferTableModel` — name is an empty string, TSI 1000, age 17, etc. As the name is empty, `core.model.player.Player#getShortName` fails at that line: https://github.com/akasolace/HO/blob/master/src/main/java/core/model/player/Player.java#L1218

I am now looking as to why I have that “ghost” player in the first place

[2020-03-14 09:26] tychobrailleur commented on #411
The user comes from the DB, and based on its creation date, it's been there a while:

![Screenshot 2020-03-14 at 09 24 13](https://user-images.githubusercontent.com/114285/76679126-c5408200-65d5-11ea-98a0-246bd43f6157.png)

I have checked my normal HO db, and that “ghost” player is also there.  Something must have changed to cause this...

[2020-03-14 09:46] tychobrailleur commented on #411
a Git bisect gives this commit as the cause:

[code]

Having a look at that commit, it looks like `getShortName` is now being called in `SpielerLabelEntry` which is used in different place, including `TransferScoutPanel`.

A simple fix would be to not make that `substring` in `getShortName` if the player's empty.  I'll create a PR.

@akasolace I also feel `getShortName` vs. `getName` should probab

[2020-03-14 14:39] akasolace commented on #411
In lineup tab, it was creating display issue. I decided to replicate HT interface, but indeed, it might indeed be set via preferences

[2020-03-14 14:39] #411 closed

[2020-03-14 15:14] akasolace commented on #396
hopefully this time it is closed by edde7a2631e0713a1b717c8a3ee80851f9c9087c   :-)

[2020-03-14 15:15] akasolace commented on #408
hopefully this time it is closed by 28e1160  :-)

[2020-03-14 15:22] akasolace commented on #396
@masher82 @netmaniac  @wsbrenk can you please check the error has been fixed in `HO_2.2.0.2644`
thank you

[2020-03-14 22:25] wsbrenk commented on #396
@akasolace the test i did was to install an old HO2.1 version (2.1.0.2495). with that version i initialized a new database. the matchhighlightstable was corrupt (event_index, injury, and match_event_id were missing). then i updated ho with the new dev version (2.2.0.2644). the result was a fixed table with correct columns.

[2020-03-15 15:24] wsbrenk opened #415 "[eBUG]chpp error on match order if penalty taker list is incomplete"
16:20:18 [Error]   core.util.ExceptionHandler: java.lang.RuntimeException: CHPP Fehler - 10 - Invalid parameter specified (10) Additional Info: Error when parsing lineup (JSON = {"positions":[{"behaviour":0,"id":423970923},{"behaviour":0,"id":424378181},{"behaviour":0,"id":0},{"behaviour":0,"id":414034638},{"behaviour":0,"id":0},{"behaviour":2,"id":439355275},{"behaviour":0,"id":438940596},{"behav

[2020-03-16 08:33] #415 closed

[2020-03-16 08:38] akasolace commented on #290
@wsbrenk @DavidatorusF do you think this is a good idea and should be considered for 3.0 ?

[2020-03-16 11:48] wsbrenk commented on #290
@akasolace I think the idea is not bad, but I would prefer a filter tree instead of an exclude. A Folder "match data" could have match type specific sub selections.

since some days i'm looking for a java tree view selection solution.

[2020-03-16 13:00] murko69 commented on #290
I like that idea. It gives a lot more options to disable/enable download of any specific game type you'd like, rather than just to exclude HTO-matches 100%.
Maybe someone doesn't want friendly games but do want the division battle games (if I understood corectly)....

[2020-03-16 13:21] akasolace commented on #290
since some days i'm looking for a java tree view selection solution.

@wsbrenk  that sounds a good approach. Maybe you can open a feature ticket and I will link this one to the newly created ... cheers !

[2020-03-19 06:39] wsbrenk opened #418 "[eBUG]npe in team analyzer analyze"
java.lang.NullPointerException
	at core.specialevents.PowerfulEventPredictionAnalyzer.getOvercrowding(PowerfulEventPredictionAnalyzer.java:101)
	at core.specialevents.PowerfulEventPredictionAnalyzer.getPowerfulNormalForward(PowerfulEventPredictionAnalyzer.java:119)
	at core.specialevents.PowerfulEventPredictionAnalyzer.analyzePosition(PowerfulEventPredictionAnalyzer.java:47)
	at core.specialevents

[2020-03-19 17:07] akasolace commented on #339
@wsbrenk  @tychobrailleur

this afternoon I started work on this issue. I started from highlight panel and made adjustments to it.

Left is 2.1  and right is development branch.

The problem is that so far I cannot make the vertical scrollbar appear.
In highlights tab it works well but not on this one.

I tried the following without success:
[code]

If one of you is familiar with Swing and want to

[2020-03-19 22:32] tychobrailleur commented on #339
@akasolace Yeah, I have seen this about a lifetime ago, and solving it was a PITA.
The easiest way to solve this would be to use a wrapper panel, like so:

https://gist.github.com/tychobrailleur/91f17cee849f533526bc3c0d821d16a5

![Screenshot 2020-03-19 at 22 31 00](https://user-images.githubusercontent.com/114285/77120727-6b0a4b80-6a31-11ea-8f05-8b104048c77e.png)

The problem now is the horizontal

[2020-03-19 22:33] tychobrailleur commented on #339
(nice work BTW)

[2020-03-20 07:04] akasolace commented on #339
cool, I will have a look at what you did and see if I can get rid o that horizontal scrollbar

[2020-03-20 07:05] akasolace commented on #339
thank you

[2020-03-20 07:29] tychobrailleur commented on #339
So far, no luck on my side.  The closest I have got to is the latest version of the gist:
https://gist.github.com/tychobrailleur/91f17cee849f533526bc3c0d821d16a5

but the height is wrong and truncates the report.

[2020-03-20 07:58] tychobrailleur commented on #339
The problem seems to be caused by the `JLabel`s with html, they expand the whole width to contain the text.  I have managed to get a correct result by setting the width of the html:

https://gist.github.com/tychobrailleur/91f17cee849f533526bc3c0d821d16a5

![Screenshot 2020-03-20 at 07 55 28](https://user-images.githubusercontent.com/114285/77145438-78025b80-6a80-11ea-9b23-5fa5652d0553.png)

It sho

[2020-03-20 09:06] #339 closed

[2020-03-20 09:12] akasolace commented on #418
closed by #419

[2020-03-20 09:12] #418 closed

[2020-03-20 09:14] akasolace commented on #339
@tychobrailleur I did this in parallel starting from your gist andI come up with the same thing ...
Thank you for the help !

[2020-03-20 09:23] akasolace opened #421 "[eFEAT] Match report include post game information event"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-03-20 10:08] akasolace commented on #421
closed by bdba42c

[2020-03-20 10:08] #421 closed

[2020-03-20 14:36] #396 closed

[2020-03-20 14:37] #408 closed

[2020-03-20 19:03] AchimGrube opened #422 "[eBUG] calculation of age on player analysis page is wrong"
**Describe the bug**
player analysis page shows wrong age at specific dates

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'player analysis'
2. Pick any player
3. Scroll right to 'Age'
4. See error

**Screenshots**
![player_age](https://user-images.githubusercontent.com/12234126/77197305-41aaf780-6ae5-11ea-8605-d0a5804b4272.PNG)

**Platform information:**
 - OS: Windows
 - Version 2.1

[2020-03-21 10:41] wsbrenk commented on #422
i found the bug. i will prepare a pull request

[2020-03-21 14:15] akasolace commented on #422
closed by #423

[2020-03-21 14:15] #422 closed

[2020-03-21 19:11] weisJ commented on #85
Hi, I just wanted to say that I appreciate you considering darklaf for the project. If you run into any complications I am always open to suggestions. I see that your are using JGoodies and I don’t know how well it works with darklaf but I’d be willing to support components from it if needed.

[2020-03-22 22:15] tychobrailleur commented on #247
The core logic is now in place in https://github.com/tychobrailleur/HO/tree/promotion-mgr. Here is a todo of the remaining tasks:

- [ ] Handle all possibilities of status of data availability
- [ ] Check that number of teams uploaded matches num of teams in the block.
- [ ] Show / hide info depending on status
- [ ] Hide download message once message complete
- [ ] Feedback on progress of downloa

[2020-03-23 07:37] akasolace commented on #247
@tychobrailleur I tried by curioisty your branch but I go this:

`HttpDataSubmitter: Error fetching data for league supported: Failed to connect to /127.0.0.1:3000`

[2020-03-23 09:55] tychobrailleur commented on #247
Ah cool, exciting!!

Locally I run mitmproxy on port 3000 for debugging.  Obviously this will be removed when released.

You should be able to run the app by commenting out that line:
https://github.com/tychobrailleur/HO/blob/promotion-mgr/src/main/java/module/series/promotion/HttpDataSubmitter.java#L240

[2020-03-23 10:07] akasolace commented on #247
yes it solved the issue

[2020-03-23 10:12] akasolace commented on #247
I just tested it.
it started ok but then it got stuck ...

`[Info]    LeaguePromotionHandler: Status of league: 5 : {"status_code": 1, "status_desc": "NOT_AVAILABLE", "nbBlocks": 14, "nbBlocksReady": 4, "nbBlocksInProgress": 10}
 [Info]    HttpDataSubmitter: Lock block for league 5...`

I had to kill the process ...

[2020-03-23 10:14] akasolace commented on #247
and on the server side, here what I see

![image](https://user-images.githubusercontent.com/1136496/77306145-84441e00-6cf7-11ea-8945-d4c4173de099.png)

[2020-03-23 10:15] akasolace commented on #247
so looks like block 1 was pushed long time ao when I did some test
blocks 2, 3 and 14 pushed ok
other blocks were waiting for data but not received them ...

[2020-03-23 19:44] tychobrailleur commented on #247
There seems to be various timeouts in the logs:

[code]

I am not too sure how come it looks like some of the blocks are being processed in parallel in your logs: they should be processed sequentially, to avoid putting too much load on both HT and HO servers.

I am going to run tests using league 5 rather than 21 to see if I can reproduce.

[2020-03-23 21:20] Gesjos opened #424 "Match event table error"
A java error appearance when try to open the match table.

Using macOs and HO 3.0 r2650

![Näyttökuva 2020-03-23 kello 23 10 07](https://user-images.githubusercontent.com/62571678/77363700-da4aad00-6d5b-11ea-8a50-c84ca8b9b4a5.png)

and the rest.

![Näyttökuva 2020-03-23 kello 23 14 33](https://user-images.githubusercontent.com/62571678/77363915-3ad9ea00-6d5c-11ea-9979-e3bcbede6893.png)

alread

[2020-03-24 07:19] wsbrenk commented on #424
HI, could you please check the HO  log in folder logs if there is a sql error given. Should start with JDBCAdapter.executeQuery ....

[2020-03-24 15:09] Gesjos commented on #424
Hi! don't know if this is it but,

23:46:01 [Error]   core.db.JDBCAdapter: JDBCAdapter.executeQuery : java.sql.SQLSyntaxErrorException: user lacks privilege or object not found: MATCH_EVENT_ID
Statement: SELECT MATCH_EVENT_ID, COUNT(*) AS C FROM MATCHHIGHLIGHTS JOIN MATCHESKURZINFO ON MATCHHIGHLIGHTS.MATCHID = MATCHESKURZINFO.MATCHID WHERE TEAMID=554369 AND MATCH_EVENT_ID IN(104, 114, 124, 134, 15

[2020-03-24 18:50] wsbrenk commented on #424
same as #396. is fixed with HO_2.2.0.2644.
the fix is committed to the dev branch but not yet released, so it is not in HO 3.0 dev version yet.

One thing you could do, is to install HO_2.2.0.2644 and update it with the HO 3.0 dev version. Then it should work.

[2020-03-24 18:52] wsbrenk commented on #424
@akasolace or could you release a new dev version.

[2020-03-24 19:11] akasolace commented on #424
@wsbrenk ok I will do that tonight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-24 19:48] akasolace commented on #424
@wsbrenk done !

[2020-03-24 20:27] Gesjos commented on #424
I will update my HO and try it later, i tried to do it now, but i have a cup match ongoing so it doesn't let me update the HRF file.
Anyway, i will try it tomorrow. This was probably the fasted error fix i have ever ask. Thanks guys!

[2020-03-24 20:27] #424 closed

[2020-03-24 20:35] wsbrenk opened #425 "[eBUG]another team analyzer ArrayIndexOutOfBoundsException"
java.lang.ArrayIndexOutOfBoundsException: 8
	at core.model.player.Player.hasSpeciality(Player.java:1311)
	at core.specialevents.UnpredictableEventPredictionAnalyzer.analyzePosition(UnpredictableEventPredictionAnalyzer.java:60)
	at core.specialevents.SpecialEventsPredictionManager$Analyse.analyzeLineup(SpecialEventsPredictionManager.java:57)
	at core.specialevents.SpecialEventsPredictionManager.ana

[2020-03-24 20:54] wsbrenk commented on #425
happens when the analysis goes through a supporter specialty

[2020-03-24 21:23] wsbrenk commented on #424
@Gesjos only updating r2650 to r2670 will not work, since no database update would be done. you have to init a clean database by installing a new r2670 instance.

[2020-03-25 08:03] akasolace commented on #425
@wsbrenk this is link to the work you did on special events, right ?

[2020-03-25 11:50] wsbrenk commented on #425
@akasolace yes, the exception happened while evaluating the special events propabilities. but as i wrote in pr comment, it could hapen in other occasions too. everytime ho will display support specialty. but as long as nobody recognize those events, we could limit it to the team analyzer usage of Specialty class.

[2020-03-25 12:36] akasolace commented on #425
@wsbrenk can you explain me this as I am not following where else it can happen ...

[2020-03-25 22:21] #425 closed

[2020-03-26 18:42] tychobrailleur commented on #247
I am seeing similar issues as I am testing this this evening, pushes of blocks seems to timeout:

![Screenshot 2020-03-26 at 18 32 06](https://user-images.githubusercontent.com/114285/77683453-4d3c6980-6f90-11ea-9766-e9af6db8e7a5.png)

Not sure what is going on on the server, but there seems to be an issue there.

However, this situations also needs to be handled on the client side, and I see two

[2020-03-26 20:26] tychobrailleur opened #430 "[eBUG] Simulate button not visible in TeamAnalyzer until moving split pane divider"
**Describe the bug**
The “Simulate” button is not visible on the TeamAnalyzer tab until the split pane between the list of games and the Special Events section is lowered

**To Reproduce**
Steps to reproduce the behavior:
1. Go to TeamAnalyzer
2. Select a team in the drop down, and click “Update”
3. Click “Analyze”
4. Observe that the “Simulate“ button is not visible below Special Events.
5. Lower

[2020-03-27 07:01] dominiquelee opened #431 "[eBUG] Training is only applied to subbed-off players"
On 2.100, on a fresh account with only a few HRFs:
![image](https://user-images.githubusercontent.com/1204726/77729941-20279f80-7000-11ea-9aa2-bee13ecf04c2.png)
My training looks like this, where 10 players should have been impacted:
![image](https://user-images.githubusercontent.com/1204726/77730000-37ff2380-7000-11ea-805a-d16ffa6cf881.png)
3 full trainings (only to those that played on Wedsneday

[2020-03-27 07:34] wsbrenk commented on #430
@tychobrailleur this IS related to special events feature.
Commit: f03ef8b65583b3184f3cc5e6940e337acd4924c9 was the try to repair this.
could you try to verify what was wrong with your userparameters concerning the divider positions?

[2020-03-27 08:29] akasolace commented on #430
@tychobrailleur @wsbrenk I am using 3.0 r2670 and I can't reproduce ....

[2020-03-27 08:38] tychobrailleur commented on #430
Before executing on my DB v. 25:

![Screenshot 2020-03-27 at 08 32 14](https://user-images.githubusercontent.com/114285/77737314-a2669280-7005-11ea-8e10-b59e20a45866.png)

The `DBUpdater` executes correctly (i.e. deletes the three values for `teamAnalyzer_`:

![Screenshot 2020-03-27 at 08 12 23](https://user-images.githubusercontent.com/114285/77735648-dab8a180-7002-11ea-91fb-5063d0994bc6.png)

Af

[2020-03-29 15:08] wsbrenk commented on #290
![grafik](https://user-images.githubusercontent.com/11821502/77852593-bebe2700-71df-11ea-9b85-c581cd92d5a6.png)

with the help of @tychobrailleur i did some preliminary steps

[2020-03-29 17:12] akasolace commented on #290
@wsbrenk I like it a lot !
nice work !

[2020-03-31 21:56] tychobrailleur commented on #397
Hey @yaute74, I wonder if you could enlighten me on that one, as this seems to be the origin of this issue.

I see `TableSorter`'s direction is ascending in this [new constructor](https://github.com/akasolace/HO/blob/master/src/main/java/core/gui/comp/table/TableSorter.java#L56) (as opposed to descending in the others).  I am not sure I understand the meaning of `thirdColSort` & `iThirdSort`, and

[2020-04-01 15:36] #430 closed

[2020-04-03 19:47] yaute74 commented on #397
Hi @tychobrailleur,
The goal is to have the possibility to sort a column in three way.
For example, for the column for which I implement:
- First click sort by name ascending
- Second click sort by name descending
- Third click sort by training/stamina
- Fourth click sort by name ascending
- ...

thirdColSort: is the id of the column who use the sort implementaton
iThirdSort: is the id of the cycl

[2020-04-04 10:56] wsbrenk commented on #290
@tychobrailleur today i'm looking for some hours how to set the text of the node so that no ellipsis will occure. Read something about nodeChanged which should be called. Up to now i didn't manage it. Could you please give me a tip how to do that.

[2020-04-04 13:01] cr0ssw1nd opened #435 "[eFEAT] in Lineup tab display X. Lastname instead of just Lastname in player checkbox"
Lineup boxes are too narrow, long player names are not displayed properly. Left and right from lineup boxes is unused space. Please size the boxes in width according to the space left, minus a few px (20-30px or so) border. That would make player names much more readable.

[2020-04-04 14:09] tychobrailleur commented on #290
Yes, of course.  I did a bit of digging as well, and [this](https://gist.github.com/tychobrailleur/8d691bb9c28dc41a9b04a279b3760fe1) seems to work.

![Screenshot 2020-04-04 at 15 09 07](https://user-images.githubusercontent.com/114285/78452917-43002680-7686-11ea-83bc-763d678ba7bd.png)

[2020-04-04 14:12] tychobrailleur commented on #397
Thanks @yaute74, that makes sense.  I'll see what I come up with this one, and might get back to you for review, if that's ok.

[2020-04-04 15:50] wsbrenk commented on #290
@tychobrailleur great - thank you

[2020-04-05 11:34] wsbrenk commented on #290
![grafik](https://user-images.githubusercontent.com/11821502/78473577-0db90e80-7742-11ea-9e8a-22b9912348d2.png)

found a downloadPanel in OptionenDialog which has to be adapted too.

[2020-04-05 12:23] wsbrenk commented on #290
Currently the selection in the download dialog is not saved, instead the settings in the options dialog are used when DownloadDialog is initialized.

Should we change this or keep it as it is (with modified OptionenDialog)?

[2020-04-05 13:18] wsbrenk commented on #397
Hi @tychobrailleur, do you think your changes could repair ticket #401 too? Could never reproduce this error.

[2020-04-05 13:35] tychobrailleur commented on #397
I think this is unlikely.  Is #401 an issue you're still experiencing?

[2020-04-05 14:22] wsbrenk commented on #397
not really - have not seen it again since the recording and since it occurred with many npe errors, I hoped that it was an interaction with those errors.

[2020-04-05 14:23] akasolace commented on #290
I guess the best / most natural would be:
   1) include the check bock  "show save dialog ... HRF"  in the dialogue panel
   2) store the selection in the download dialog is not saved in the database
   3 remove the download tab from preference

@wsbrenk what do you think?

[2020-04-05 14:26] akasolace commented on #401
@wsbrenk  I will let you decide whether or not we should close this issue but it seems like we can't reproduce it.

[2020-04-05 14:27] akasolace commented on #435
In 3.0 only the last name of players is displayed. It should fix that issue you are experiencing

[2020-04-05 14:31] wsbrenk commented on #290
@akasolace sounds very good. But i have to find out, what that "Show save dialog..." means. I speculate that it activates the display of the download dialog, so we could not include it to the download dialog. with your suggestion it would be enabled and could not be disabled anymore.

[2020-04-05 14:36] wsbrenk commented on #290
@akasolace my speculation was wrong. this checkbox only controls the appearance of a file selection box for hrf file store, if standard file already exist or no path for the hrf storage is set.
So your idea could be implemented.

[2020-04-05 14:41] wsbrenk commented on #401
you're right - i didn't see this error again

[2020-04-05 14:43] cr0ssw1nd commented on #435
Well, I don't know if displaying only last name is a good idea. There
are teams, mainly from smaller country, where the same last name appears
more than twice or three times... however, it will solve my current
issue :-)

Am 05.04.20 um 16:27 schrieb akasolace:

[2020-04-05 15:55] #397 closed

[2020-04-05 15:56] #401 closed

[2020-04-05 15:58] akasolace commented on #435
it is actually replicating HT interface ... do you know if HT does anything special if 2 players with same last name are aligned?

[2020-04-05 16:00] akasolace commented on #290
@wsbrenk ok great

[2020-04-05 16:08] cr0ssw1nd commented on #435
New lineup page is displaying only last name, but old one is displaying
first letter of first name dot last name, i.E.  J. Odhiambo, or B.
Odhiambo, which would make sense imho. Would be easy to implement and
very helpful... :-)

Am 05.04.20 um 17:58 schrieb akasolace:

[2020-04-05 17:07] wsbrenk commented on #290
@akasolace Slowly comes the time that you have to explain to me how it works with the international strings. is it only by introducing a property name and moving the english string to the file English.properties?

[2020-04-05 20:01] akasolace commented on #435
@cr0ssw1nd  I put it for under consideration after 3.0

[2020-04-05 20:06] akasolace commented on #290
@wsbrenk surprised you haven't encountered it yet

yes you simply enter a new term in main/resources/sprache/English.properties
let say  `ls.foo =bar` then you can access it with `hoVerwaltung.getLanguageString("ls.foo")`
translations are done via PoEditor, so do not touch German files because you will loose it next time I build artefacts.  Also if the translated term is not found it uses English.

[2020-04-07 16:59] heteroping opened #437 "[eBUG] Matches - error"
**Describe the bug**
Erroe when clicking on matches

**To Reproduce**
Steps to reproduce the behavior:
1. Clicked on Matches
4. See error

**Screenshots**
java.lang.NullPointerException
	at core.db.MatchesOverviewQuery.fillMatchesOverviewChanceRow(MatchesOverviewQuery.java:164)
	at core.db.MatchesOverviewQuery.getChancesStat(MatchesOverviewQuery.java:142)
	at core.db.DBManager.getChancesStat(DBMan

[2020-04-07 19:37] wsbrenk commented on #437
Dublicate of #396

[2020-04-08 12:32] akasolace commented on #437
@heteroping this bug should be fixed in 3.0 branch. Can you please check it is the case for you, thank you

[2020-04-09 13:04] #382 closed

[2020-04-09 13:05] akasolace commented on #247
closed by 42687e3 and d014420

[2020-04-09 13:05] #247 closed

[2020-04-09 13:07] akasolace commented on #290
@wsbrenk  I assigned to you as I know you are about to push some code that is fixing it ...

[2020-04-09 13:16] akasolace commented on #372
@pierpaolocira where do we stand on this one?

[2020-04-09 17:01] tychobrailleur commented on #124
I can look into this one, if no one is working on it.

[2020-04-10 14:21] wsbrenk opened #441 "[eBUG] language strings of special events prediction"
up to now special events prediction uses hard coded strings in team analzer gui

[2020-04-10 21:24] akasolace commented on #290
closed by #440

[2020-04-10 21:24] #290 closed

[2020-04-11 13:59] tychobrailleur commented on #85
I have started looking into improving theming, and darklaf is definitely quite cool – I have done initial tests, and I am really excited by this!

![Screenshot 2020-04-11 at 14 58 45](https://user-images.githubusercontent.com/114285/79045812-05127d80-7c05-11ea-9fb5-1a077e906f67.png)

@weisJ Is there a mailing list or something for darklaf?  I am getting [an issue](https://gist.github.com/tychobrai

[2020-04-11 14:35] wsbrenk commented on #188
@akasolace @pierpaolocira my approach would be to change the method HOModell.calcSubskills. Currently this method examines the version of the player of the previous HRF to get the skillups. if the player is not found in the last HRF NO skillup is assumed.
i suggest to download the trainings events of such players and build the OLD player with that infos: equal to the current skills if no training

[2020-04-11 14:55] weisJ commented on #85
Happy to hear you like the laf.

There is no mailing list but you can simply create an issue if you encounter any problem.

This seems to be related to [this issue](https://github.com/weisJ/darklaf/issues/129) which will be resolved with the next release. The fix for now is to ensure that laf is installed before any frames are created.

The macos library isn't supposed to be used at all as its an

[2020-04-11 15:28] tychobrailleur commented on #85
Thanks a mil @weisJ – I'll keep an eye out for the next release, and if the issue persists, I'll file a bug.

[2020-04-11 18:47] pierpaolocira commented on #372
Too much extra work per day due to current pandemy... :(

Just as a reference for the future:
- last commit was "Implementation to be Tested"
- in order to test I had to fix the gradle file issue, and several weeks have been needed there
- now to test this, I need to look again all the changes in order to remember all the caes to be tested... but I have no time :(

[2020-04-12 10:11] wsbrenk commented on #188
@akasolace a first approach is in the my branch bug#188. Before i want to create a pull request i would like to have an idea how to test that.
i could wait until i promote a youth player which is planed to be trained in the seniors team. this could happen in some weeks.

[2020-04-12 17:41] wsbrenk opened #444 "[eBUG] training history shows negativ skill values"
training manager do not consider skill devaluations

![grafik](https://user-images.githubusercontent.com/11821502/79075767-0c18b900-7cf5-11ea-8992-1a6fe237d9d3.png)

[2020-04-12 18:34] akasolace commented on #85
@tychobrailleur  that looks promising ... not too much work to port the code?

[2020-04-12 18:36] akasolace commented on #372
@pierpaolocira  understood,  just let me know when progress are made ... and in the meantime stay safe !

[2020-04-12 18:37] akasolace commented on #188
@wsbrenk how can you do that ?

[2020-04-12 18:41] #444 closed

[2020-04-12 22:24] wsbrenk commented on #188
@akasolace there is a trainingevents.xml file in chpp which gives such informations

<?xml version="1.0" encoding="utf-8"?>
<HattrickData>
  <FileName>trainingevents.xml</FileName>
  <Version>1.1</Version>
  <UserID>1757369</UserID>
  <FetchedDate>2020-04-12 10:55:03</FetchedDate>
  <UserIsSupporter>1</UserIsSupporter>
  <UserHasClubHouse>False</UserHasClubHouse>
  <Player>
    <PlayerID>423970923

[2020-04-13 08:41] wsbrenk opened #446 "[eBUG]ArrayIndexOutOfBoundsException when Skilltester saved temporary player"
![grafik](https://user-images.githubusercontent.com/11821502/79106954-c6e79c00-7d73-11ea-8317-9d1044221868.png)

Push the button "Add player" in Skilltester.
Then adjust Player overview to show new player in the list
then this exception occures

java.lang.ArrayIndexOutOfBoundsException: 30
	at core.gui.comp.table.TableSorter.getValueAt(TableSorter.java:182)
	at core.gui.model.ReduzedTableModel.get

[2020-04-13 11:45] wsbrenk commented on #286
@akasolace What do you think of an expansion of the training forecast table? One could enter the calculated skill devaluations there.

![grafik](https://user-images.githubusercontent.com/11821502/79118057-0e2e5680-7d8d-11ea-906d-222e5c8faec3.png)

[2020-04-13 11:56] tychobrailleur opened #448 "[eBUG] IndexOutOfBoundsException at startup on new DBs on master"
**Describe the bug**
When starting HO on a brand new DB (before the user has even add the chance to download data from Hattrick), the logs contain lots of the following errors:

[code]

This is caused by `getUpcomingMatch` which assumes there is at least on match in the list of matches:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout code from master HEAD
2. Make sure DB is

[2020-04-13 12:15] tychobrailleur commented on #446
Is that issue a resurgence of #401 ? It seems to be the same exception.

I am not sure how the fix relates to it, though: I get an NPE when trying to create a Skilltester player which makes sense in the light of the fix #447 :
[code]

Does that issue then cause the AOOBE for you?  Let me know how to reproduce, happy to look into it as I recently worked on `TableSorter`. ;-)

[2020-04-13 12:22] wsbrenk commented on #446
Yes it did. it was catched by RefreshManager.doReInit and in consequence the given exception arises.

[2020-04-13 12:26] wsbrenk commented on #446
by the way. the order after the first sort click is since some weeks an ascending one. I was used to the opposite. High skills at the top.
Now i need 2 clicks to get what i want;-)

[2020-04-13 12:38] tychobrailleur commented on #85
It was a small enough to get the Squad tab to look ok in that snapshot, but generally speaking, there are a few components that define their own LAF (e.g. `SpielerLabelEntry` defines its own back [background color](https://github.com/akasolace/HO/blob/master/src/main/java/core/gui/comp/entry/SpielerLabelEntry.java#L86) or its own [border](https://github.com/akasolace/HO/blob/master/src/main/java/c

[2020-04-13 13:36] tychobrailleur commented on #446
Ah sorry about that...  Ascending sounds like the logical intuitive behaviour, but we could also make this configurable, what do you think?

[2020-04-13 14:38] akasolace commented on #446
closed by #447

[2020-04-13 14:38] #446 closed

[2020-04-13 14:39] #448 closed

[2020-04-13 14:41] akasolace commented on #286
@wsbrenk  yes I guess that would be the most natural place to show that information ...

[2020-04-13 14:43] akasolace commented on #85
@tychobrailleur  let me know if I can help on this one ... for the icons I have done in the past some python script to change the background of icons ... if it helps I can do that part

[2020-04-13 14:44] akasolace commented on #85
if it is simpler to ditch support of this one we can just ditch it ...

[2020-04-13 14:45] akasolace commented on #85
true very old version of HO had 2 sets of icons (one was called FatCow) it was held supported and was ugly :-)

[2020-04-13 15:08] weisJ commented on #85
I see that some icons are in `.svg` format. Do you actually use those or are they converted to image icons? Darklaf has the option to load and display `.svg` icons and can also load icons with a light/dark variant (the correct version is used automatically). e.g. in the screenshot above the black icons should probably be some sort of light tone in a dark theme.

[2020-04-13 17:19] wsbrenk commented on #446
comfortable++

[2020-04-13 20:56] wsbrenk commented on #188
@akasolace i found that the hattrick SkillID are not equal to the HO PlayerSkills
https://hattrick.org/Community/CHPP/NewDocs/DataTypes.aspx#skillID
i plan to implement a mapping in the class Skills. Or is it elsewhere already?

[2020-04-14 07:15] akasolace commented on #441
closed by #443

[2020-04-14 07:15] #441 closed

[2020-04-14 07:20] akasolace commented on #188
@wsbrenk indeed I can't see it...

[2020-04-14 12:39] akasolace opened #450 "[eFEAT] infobull on player combobox in Lineup"
something similar to HT but surely less sophisticated ....

![image](https://user-images.githubusercontent.com/1136496/79225807-99771d00-7e5d-11ea-8687-7378d4410313.png)

[2020-04-14 18:45] akasolace opened #451 "[eBUG] fix multiple issues about player names (especially when composed)"
1) Retrieve player first name and nickname during CHPP download
2) Store the 3 information separately (nickname, firstname and lastname) in the database
3) modify function get shortname, et first name ... accordingly

@tychobrailleur  @wsbrenk   what do you think about this one ?

[2020-04-14 19:07] tychobrailleur commented on #451
Do you have examples of the issues that arise?  I think it's good idea, it would be more flexible for us, it may be tricky to migrate existing databases, though.  Do you intend to re-download all names? It's probably the less error-prone approach, but the heaviest in terms of processing.

[2020-04-14 20:14] akasolace commented on #451
I think it is done .... I will have to test it a bit more before I commit so I keep it aside for one more day.

[2020-04-15 09:46] #451 closed

[2020-04-15 15:46] akasolace commented on #188
@wsbrenk  so with the trainingevents.xml you can now when the player had its last up.
Then how do you calculate the decimal ? How would you how many additional trainings the player received ?

[2020-04-15 15:48] akasolace commented on #372
@pierpaolocira I will move this one to milestone 4.0 as I don't think it will be ready on time for next release ...

[2020-04-15 21:34] wsbrenk commented on #188
@akasolace the trainingsevents are only loaded when the player is downloaded the very first time (bought new, promoted from youth or it is the very first download at all). then we don't have any idea about sub skills.
as @pierpaolocira  suggested the skill estimation should be a conservative one:
- if there is no related trainingevent the previous sub skill should be 0 (training effect counts comp

[2020-04-16 08:43] akasolace commented on #188
@wsbrenk  I am sorry but it is still not clear for me, the only thing you got from trainingevents.xml is date of last update, right ? You still have no idea if the player received some training since that, right ?

I don't follow. In your example all we know is that player skill upgrade from 3.0 to 4.0 on the 13th of December. Currently in HO this player will be assumed to have a skill at 4.0. I t

[2020-04-16 17:07] wsbrenk commented on #188
@akasolace forget the values of my xml example above. the example i refer to is that of @pierpaolocira.

let's make an example

- p1 with playmaking 5 and p2 with playmaking 4 are on the transfer list or in your youth team.
- You buy them or pull them.
- Your training is playmaking and both player are playing inner midfield
- on training update p2 has a skillup to pm 5
- After the training update

[2020-04-16 21:13] akasolace commented on #188
@wsbrenk  ah ok so the issue is only for user who bought/pull player and train them directly and for which the skill up happens on first training and did not download data between the time they bought the player and the time skill up occurs?
It is really very specific but in that case, yes this time I got it :-)

[2020-04-17 07:16] pierpaolocira commented on #188
Hi... true... just to explain, I download data from HO every Friday.
So:
- On Friday I update HO
- I buy a player from the market, train him, and he get +1 in one skill from Saturnday to next Thursday
- On Friday I update again HO
Then I cannot see this "+1" and on the long term I lose the information when I consider to put him on the market again or when I want to asses results of my training, et

[2020-04-17 07:16] pierpaolocira commented on #372
Yes, thanks a lot...

[2020-04-17 14:18] akasolace commented on #435
This has been solved by info bull information in 3.0

[2020-04-17 14:18] #435 closed

[2020-04-17 14:19] akasolace opened #454 "[eFEAT] get new CHPP information available for team power rating"
- [x] store info in database ( done by d5a2879a5fe8e4885e2ed82d008ed26fea035c2f)
 - [x] display info in statistic tab (will be done by #780 #788)
 - [x] display some info in league tab and/or new  overview tab (details in #530)

[2020-04-17 14:45] akasolace commented on #454
Idea:

We can retrieve power rating, division, country and global ranking

Display those information in league tab ?

Also we might download number of active team in league and world via worlddetails.xml and calculate relative ranking (0 to 100%)

We might also make all this available in statistic tab  ...

[2020-04-17 14:51] akasolace commented on #388
I think we might release a first beta of 3.0 this weekend.
 @tychobrailleur  @wsbrenk   how does it sound?

@wsbrenk you tell me if you want to do a PR for #188 for 3.0 or if we wait for 4.0 ...

[2020-04-17 17:54] wsbrenk opened #455 "[eBUG] DBUpdate exception (no new columns for playernames)"
java.lang.NullPointerException
	at core.model.player.Player.getAgeWithDaysAsString(Player.java:613)
	at core.model.player.Player.getAgeWithDaysAsString(Player.java:608)
	at core.model.player.Player.getAlterWithAgeDaysAsString(Player.java:604)
	at core.gui.model.UserColumnFactory$26.getTableEntry(UserColumnFactory.java:738)
	at core.gui.model.PlayerOverviewModel.initData(PlayerOverviewModel.java:16

[2020-04-17 18:38] tychobrailleur commented on #388
Yes, sounds good, I haven't noticed any major issue with the current dev version.
One thing I realised that's missing during the week for the promotion manager is that okhttp connections should probably use the same proxy settings if they are defined for connection to hattrick:

![Screenshot 2020-04-17 at 19 36 33](https://user-images.githubusercontent.com/114285/79602667-cbe57c00-80e2-11ea-9c2c-5

[2020-04-17 19:46] akasolace commented on #455
@wsbrenk are you sure this has something to do with my change on the DB ?

[2020-04-17 19:51] akasolace commented on #388
I don't think a lot of users are using HO behind proxy...
If no new issue, I will release the first beta Sunday evening ...

[2020-04-17 20:24] wsbrenk commented on #455
@akasolace your db changes were not carried out because an exception was thrown by my changes. the missing player table columns then were the reason for the npe.

[2020-04-18 07:25] wsbrenk commented on #188
@pierpaolocira yesterday i successfully run a new subskill calculation. but none of my current player had a skillup in the first week. if you would like to test my changes you could run a subskill calculation with your team. if your mentioned example is still in your team you should reach a debugger breakpoint which handles your very special event. Are you interested?

[2020-04-18 14:40] wsbrenk commented on #286
progress report:

this is what i reached up to now:
![grafik](https://user-images.githubusercontent.com/11821502/79640612-c21b5180-8192-11ea-9f9a-37f1f451cebd.png)

the color of the skill drops is not OK
and the first column of the training history table is no longer the type of training but the skill that changed

the many skill drops in the first week are a bit ugly, with all the unknown sub-ski

[2020-04-18 16:11] akasolace commented on #286
@wsbrenk

I notice you have skill dro pfor player wwo are less than 27 ... is that really possible ?
maybe you can remove the skill description in letter and replace it with the digit
Then up and bottom arrow green / red and the skill (either in black or in color) something like
| 12 Playmaking     and  | 6 Passing
First case the bar represents a green top arrow  ....
Second case the bar represent

[2020-04-18 18:30] wsbrenk commented on #286
@akasolace cite from SkillDrops.getSkillDrop:
		/* First column is for age 29 and below */

concerning display am i investigating the magics of HO's icon colors

[2020-04-19 08:57] tychobrailleur commented on #85
Ok, I think @weisJ's [commit](https://github.com/weisJ/darklaf/commit/cd4351ea0b3bea1999a6f176a22019b50fc40cfb) helped me figure out the problem – calling `LafManager.install` before the frame constructor seems to solve the problem.

This works:

[code]

This doesn't (i.e. calling the `LafManager` in `JFrame` constructor, which makes sense):

[code]

From HO perspective, this does confirm we do ne

[2020-04-19 17:10] akasolace commented on #85
JGoodies is only used in match analyzer right?

[2020-04-19 18:03] tychobrailleur commented on #85
I don't believe they are used there specifically (but I could be wrong) – they are meant to change the overall appearance of HO, but the changes are so minor that I don't see the point: they seem to affect scrollbar, button, combo boxes appearance.

[2020-04-19 18:06] wsbrenk commented on #286
![grafik](https://user-images.githubusercontent.com/11821502/79695711-b5712900-8278-11ea-9630-7caa0612cb7a.png)

you were right, the age calculation had an error - now it looks better
the color of skill drops is now the same as of skillups

skill drops could be more than one in a week. Currently only "the upper" one is displayed.
the training history table should be optimized too.

[2020-04-19 19:08] akasolace commented on #85
Ok ... I recall there is something specific with the GUI of the tab match analyser. I thought it was JGoodies but it might be something else. I remember that when I ported the project to gradle I missed a dependency and only match analyser was broken.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-21 14:24] AchimGrube opened #459 "[eBUG] AutoLineup: error in player selection when starting changing states of inclusion checkboxes"
**Describe the bug**
Marking the checkbox of players to select them for auto-lineup feature doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Checkbox of some players
2. Click on 'Start Assistant'
3. Compare chosen players with the once you marked before
4. See error

**Screenshots**
![ho_auto](https://user-images.githubusercontent.com/12234126/79876685-a3fc5e00-83eb-11ea-

[2020-04-21 15:08] akasolace commented on #459
@AchimGrube  uncheck "exclude last lineup"

[2020-04-21 18:09] akasolace commented on #455
closed by #456

[2020-04-21 18:09] #455 closed

[2020-04-21 18:11] akasolace commented on #188
@wsbrenk hello do you want to submit a PR for this for 3.0 or do you want to wait next version ?

[2020-04-21 18:20] pierpaolocira commented on #188
@wsbrenk sory for my late reply. It was a long search because I couldn't rememer the name of the player. I had to go into dates, tranfers, and my memory :) ... and I'm almost sure the player has been sold.
Do you think it can work only for "main skills" or also for something like stamina, etc? In this case I could keep an eye open on my next purchases...

[2020-04-21 20:16] wsbrenk commented on #188
@pierpaolocira no problem - and yes, the subskill calculation only works for "main skill", stamina and form are skipped.

@akasolace the risc to release this pr would be very low, i think.

[2020-04-21 20:43] AchimGrube commented on #459
Ups, that's just a typo. I meant deactivating "Exclude Last Lineup".

After some more testing, I'm sure HO is saving the status of all Checkboxes somewhere and isn't updating their status. Whenever I restart HO, the same players are selected and even when I change and Checkboxes, those players being selected after loading are the once put in the lineup.