[2020-08-09 15:13] #657 closed

[2020-08-09 16:23] wsbrenk commented on #539
OldTrainingManager uses trainings date to initialize PastSkillChange object. this uses HTCalendarFactory.getHTSeason(...,useTrainingCalendar=false) to set HtSeason and HTWeek. Don't know if using the economyCalendar could explain this problem.

[2020-08-09 18:59] koolbeer commented on #650
Hello Sébastien,

Already downloaded files from below db. Now should I use them to replace the ones I had before on my db?

De: Sébastien Le Callonnec [mailto:notifications@github.com]
Enviada: sábado, 8 de agosto de 2020 18:16
Para: akasolace/HO
Cc: koolbeer; Mention
Assunto: Re: [akasolace/HO] Unable to load my team (#650)

@koolbeer <https://github.com/koolbeer>  Would you be able to download t

[2020-08-09 19:16] tychobrailleur commented on #650
Desculpe, koolbeer: yes, please replace your existing files under `db/` with the content of this zip.  You may need to download the latest data and restart.

[2020-08-09 19:43] koolbeer commented on #650
Hello again Sebastien,

I´ve done as you said: replaced the files and downloaded the latest data and now I can see my team. http://prntscr.com/twrgiv

Thanks to all of you for your assistance and patience

Best regards

koolbeer

De: Sébastien Le Callonnec [mailto:notifications@github.com]
Enviada: domingo, 9 de agosto de 2020 20:16
Para: akasolace/HO
Cc: koolbeer; Mention
Assunto: Re: [akasolace/

[2020-08-10 15:10] tychobrailleur commented on #650
No problem @koolbeer  – sorry we couldn't make you appear higher in your league! ;-)
Closing for now.

[2020-08-10 15:10] #650 closed

[2020-08-10 15:11] tychobrailleur commented on #656
Hi @emi65 could you please share screenshots of what you're seeing with us, so we can get a sense of what is going on?
Thanks!

[2020-08-10 15:25] emi65 commented on #656
Hi Sebastien

Hi re-download the HO from github and reinstalled it

Now all work fine

thank and Regards

Emilio

[2020-08-10 16:01] tychobrailleur commented on #656
Good to hear! I am going to close this one then, feel free to re-open if you're having a similar issue.

[2020-08-10 16:01] #656 closed

[2020-08-11 17:59] wsbrenk opened #660 "[FEATURE] support of man-marking order"
![manmarkingOrder](https://user-images.githubusercontent.com/11821502/89227524-221cf300-d5de-11ea-94a9-4fad0a7993ca.png)

Currently teamanalyzers team view is my favorite. a 4th button in SubstitutionOverview could start the team analyzer and some drag+drop action could create the man marking match order. But i don't have any idea how to implement that - up to now.

would be great if you could hel

[2020-08-11 18:03] wsbrenk opened #661 "[FEATURE] influence of man marking order on ratings"
Calculate the influence of the order on ratings

user should be able to
- simulate the effect of own man marking orders
  - in case his assumption is correct
  - in case the opponent does not fulfill this assumption
- simulate the effect of opponent man marking orders
  - same cases as above

[2020-08-13 18:09] dlfigueira opened #663 "[BUG] JRELoadError on MacOS"
When the application is executed, it immediatly returns the error 'JRELoadError'. No more information is given.

I have OpenJDK 11 installed on my machine.

java -version

echo $JAVA_HOME

**Screenshots**
<img width="425" alt="imagem" src="https://user-images.githubusercontent.com/1057223/90170449-f812c000-dd97-11ea-8aa9-afa65402b869.png">

I have tried installing OpenJDK 8, thinking this could be

[2020-08-17 07:20] Staut-Stefanita commented on #476
The matches analyzer module is a very useful comparison tool and easy to read. Please add to a future release, it's not available in 3.0 build.

Thank you,
Stefanita

[2020-08-17 08:43] #642 closed

[2020-08-17 08:50] akasolace commented on #632
@wsbrenk @tychobrailleur awesome ... this is a fantastic addition !

[2020-08-17 08:54] akasolace commented on #539
@wsbrenk sorry but I am not familiar at all with that part of the code... but I don't really understand why a function getHTSeason would return different values for HtSeason and HTWeek whether or not useTrainingCalendar is set to True

[2020-08-17 09:01] akasolace commented on #660
@wsbrenk I haven't followed everything regarding man marking order and it is a functionality I only used once or twice in game.
However, do we really need a new GUI for this? can't we not simply list the players in opponent team like what HT is doing? Relying on last position might be misleading, no?

[2020-08-17 09:03] akasolace commented on #661
this might be a tricky one to implement, I put it on the backlog to keep track of it ....

[2020-08-17 09:07] akasolace commented on #663
@dlfigueira can you share the content of the log file ?

[2020-08-17 16:36] wsbrenk commented on #654
@akasolace sorry - but i think we have to reopen this, because this part is still missing in #655. i didn't succeed in using the icon given above.

[2020-08-17 16:49] wsbrenk commented on #660
@akasolace it is not as easy as it looks like. in lineup panel, there is no access to opponents information until now. the idea is to use the existing team analyzer view. Editing the lineup (man marking order in substitution view) has to set lineup information in teamanalyzer and the rest of the man marking editing has to happen in team analyzer.

[2020-08-17 16:56] wsbrenk commented on #661
@akasolace absolute confirmative

[2020-08-17 20:03] dlfigueira commented on #663
Sure @akasolace. Can you tell me where the log file is located?

[2020-08-18 06:35] akasolace commented on #654
@wsbrenk ok issue reopened

[2020-08-18 06:46] akasolace commented on #660
@wsbrenk it sounds very complicated and I would have clearly taken a much simplified approach: I would have done it all in the order tabs, a new man marking order along substitution and replacement .... simply with a dropdown listing opponent players.

I think there are 2 ways to deal with it:

 1. at data download we fetch list of players for upcoming opponenent and that information is stored in

[2020-08-18 17:34] wsbrenk commented on #660
@akasolace up to now i really don't know what's the heavier way. as far as i understand you right, we have to double all or nearly all the download stuff that is already done by the team analyzer. the gui part proposed by you is easier to implement, that's right.

[2020-08-19 07:08] akasolace commented on #660
I might be wrong but I think it is quite straightforward: we can reuse the parser of players.xml but we will just need to store the list of opponent player last names (similar to HT).

[2020-08-19 07:13] akasolace commented on #660
Also more generally, we can't make assumption that the user will want to mark a player that was aligned in last lineup, I think it is more robust just to list them all.

[2020-08-19 17:29] wsbrenk commented on #660
@akasolace before you can download opponents player, you have to download and select the upcoming opponent teams. as we talked about man marking the very first time, half a year ago, i suggested to integrate the team analyzer to the lineup panel.

[2020-08-19 17:39] wsbrenk commented on #660
that'S of course correct. in team analyzer the user not only can investigate the last lineup of the opponent but all he selected to download. he very easily could see which player sits on the same position each match or if there is a pattern how the positions are swapped.

if there are new players in the team - fresh from the market/transfer list, those players are missed by the team analyzer appr

[2020-08-19 17:45] wsbrenk commented on #660
since i'm not the gui expert i asked @tychobrailleur if he wants to take over this issue, at least the gui part of it.

[2020-08-20 11:38] RobertRescue opened #664 "[BUG] No Download of Team Information After Training"
After Update to JAVA 8 - Update 261 there is an error when downloading team information.
![screenshot HO](https://user-images.githubusercontent.com/69968327/90765408-24739280-e2ea-11ea-9679-91acacf743f0.jpg)

MacOS 10.15.6
HO 3.0.2.2728

[2020-08-23 12:03] rivoluzione opened #666 "[BUG] Null pointer"
java.lang.NullPointerException
	at module.lineup.Lineup.UpdateLineupWithMatchOrder(Lineup.java:2014)
	at core.rating.RatingPredictionManager.setLineupEvolution(RatingPredictionManager.java:191)
	at core.rating.RatingPredictionManager.<init>(RatingPredictionManager.java:114)
	at core.rating.RatingPredictionManager.<init>(RatingPredictionManager.java:119)
	at module.lineup.Lineup.setRatings(Lineup.j

[2020-08-23 17:18] wsbrenk commented on #660
![image](https://user-images.githubusercontent.com/11821502/90984423-21400700-e575-11ea-8c00-ac2818a3faf0.png)

after one day of learning JComponent's positions and their parents positions i've got this. it is not nice and does still not work as expected (every time). my last commit is mentioned above.

[2020-08-24 07:45] #666 closed

[2020-08-26 06:40] akasolace opened #667 "[BUG] if not specified by user, the release channel should be based on version type"
**Describe the bug**
As noticed by @tychobrailleur a fresh build of HO! always default release channel to stable but it should be based on version type. A user downloading a DEV version would expect the releasechannel to point to DEV by default.

Quickly browsing the code, it seems the following need to be modified:

**DB initlization**
https://github.com/akasolace/HO/blob/23d8b3299ba3a773550bc019

[2020-08-27 11:01] akasolace commented on #521
closed by #653

[2020-08-27 19:11] #91 closed

[2020-08-27 19:11] #550 closed

[2020-08-27 19:11] #565 closed

[2020-08-27 19:11] #567 closed

[2020-08-27 19:11] #644 closed

[2020-08-27 19:15] akasolace commented on #663
@dlfigueira sorry for later answer, I was busy on something else ...
Which version are you trying to launch ? the latest stable or the latest dev ?

[2020-08-27 19:16] akasolace commented on #664
@RobertRescue are you still experiencing this issue ?

[2020-08-27 19:23] akasolace commented on #581
@tychobrailleur actually this one is here:

https://github.com/akasolace/HO/blob/master/utils/pythonScripts/UpdateLeagueStatusDetailsTable.py

[2020-08-27 20:58] wsbrenk opened #669 "[BUG] NPE when configuring future weeks"
i merged master. Downloaded team data and wanted to adjust future weeks: file->settings->diverse->future weeks->leave settings

![image](https://user-images.githubusercontent.com/11821502/91494488-32f91580-e8b9-11ea-9c6a-bed014c47699.png)

java.lang.NullPointerException
	at com.install4j.runtime.installer.helper.PreferencesUtil.replaceUnescaped(PreferencesUtil.java:42)
	at com.install4j.runtime.in

[2020-08-27 21:15] wsbrenk commented on #669
when i tried to copy my old db to the HO directory, the launch ended in an endless recursion:

toLowerCase:437, StringLatin1 (java.lang)
toLowerCase:2539, String (java.lang)
getParam:111, RatingPredictionParameter (core.rating)
getParam:106, RatingPredictionParameter (core.rating)
getAllPlayerWeights:682, RatingPredictionManager (core.rating)
calcPartialRating:301, RatingPredictionManager (core.ra

[2020-08-27 22:44] dlfigueira commented on #663
No problem @akasolace. I'm trying to launch latest stable (3.0).

[2020-08-28 06:20] akasolace commented on #669
@wsbrenk this is bad. I don't see how the commits I made yesterday could have broke this. I should not have touched any part of the code related to this. You have this when launching master from the IDE or also with the installed version?  I will try to reproduce.

[2020-08-28 06:34] akasolace commented on #663
This is strange but it is difficult for me to reproduce. If you can, I would suggest installing oracle jdk for Java 8. This is known to work for many users. Otherwise you can try the DEV version, it is requiring Java 14 but you can select one with JRE packaged. Be aware thought that the DEV version is still very unstable and has many known bugs.

[2020-08-28 07:16] #581 closed

[2020-08-28 07:20] akasolace commented on #599
@tychobrailleur  what do you think of https://github.com/akasolace/HO/issues/599#issuecomment-658713633 ?
I think this would close both #588 and #599 ...

[2020-08-28 09:25] akasolace commented on #124
@tychobrailleur I am really thinking of closing this one ... except if has you stated above it is something you want to look into .... I can also simply remove the 4.0 tag if it something you want to look after at some point .....

[2020-08-28 09:26] #521 closed

[2020-08-28 09:28] akasolace commented on #85
@tychobrailleur I think we can close this one, what do you think ?

[2020-08-28 09:32] akasolace commented on #610
should be closed once #611 merged => to be tested

[2020-08-28 10:46] RobertRescue commented on #664
Yes, it´s still the problem on MacOS. Now i check the team with a Win-Laptop, but without update on JAVA Update 261 and that´s work.

[2020-08-28 11:24] akasolace commented on #664
@dlfigueira could this be related to your issue (#663)? Could you try with a version of java 8 prior to u261 ?
@tychobrailleur Can you reproduce on macOS?

[2020-08-28 11:50] dlfigueira commented on #663
I do believe that to download oracle JDK you now need an oracle account, which I do not have.

In the meantime, I have created a linux VM and I have been using it there successfully.
I'll wait for the next release with a bundled JRE :)

[2020-08-28 14:06] akasolace commented on #663
ok I close the issue for now as it seems very specific to your install. Don't hesitate to reopen it in the future if needed

[2020-08-28 14:06] #663 closed

[2020-08-28 14:49] dlfigueira commented on #664
I don't believe so @akasolace. In my case the application would not load at all.

[2020-08-28 17:13] wsbrenk commented on #669
@akasolace i started from ide. and it was a merge of the master in my working branch - so i'm not quite sure if the merge has broken something. but before merging my branch worked fine.

the first thing that happened, was that my existing database was cleaned. i had to start with empty database and load initial data from hattrick. then i tried to adjust the future weeks and got the npe.

[2020-08-28 17:42] tychobrailleur commented on #664
I can't, but I would need to set up the same version of the JDK.  Is it the oracle version, or the openjdk one?

What is the full stacktrace for this error?

[2020-08-28 17:53] tychobrailleur commented on #85
Only outstanding thing on this are the icons, really.  We could track that with a separate ticket?

[2020-08-28 20:09] #610 closed

[2020-08-28 20:14] akasolace commented on #669
@wsbrenk I just tried on r3116 and I can't reproduce

[2020-08-28 20:17] akasolace commented on #85
Yes I would suggest a separate ticket listing the icons that still need to be created as svg, when this ticket is created I would ask help on the forum (dont know how many icons we are still mising really ...). @tychobrailleur Could you open that ticket and close this one when done?

[2020-08-29 09:24] tychobrailleur commented on #660
I have spent quite a while trying to do something similar with `JLayeredPane` but haven't made much progress – for some reason I keep getting errors.

I'll try a bit more, but I am still not convinced this approach is the way to go for this feature.  I was more envisioning:
- Either a simple list of all the players of the selected opposing team,
- Or porting the view above (match list + position o

[2020-08-29 09:55] tychobrailleur commented on #599
I haven't looked into integrating the DB repair tool to HO, especially given I had come to the conclusion that this should remain a standalone tool (in a comment which I cannot retrieve because I can't figure out how to search for them...).  One challenge I see for example is that the app very likely would not even start in the case of a db corruption.  But something I can investigate if you feel

[2020-08-29 12:59] wsbrenk commented on #660
lineups and opponent analysis fit together wonderfully in my opinion. my suggestion would be to pack them together - not to double their features, no new match panel or things like this.
i'm not happy with the idea, drawing a line to edit/display a man marking order. i thought kloppo would have used chalk lines twenty years ago to convey his ideas to his defender.

[2020-08-29 13:10] wsbrenk commented on #669
today i want to start again with the master branch. the first problem is in build.gradle:

Build file 'C:\Users\wolfgang\Documents\HO\build.gradle' line: 155

A problem occurred evaluating root project 'HO'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.GradleScriptException: A problem occurred evaluating roo

[2020-08-30 09:54] #651 closed

[2020-08-30 10:03] akasolace commented on #660
As I said before I think we should go for something really simply: a combo box like in HT. A complex GUI interface, as the one proposed, will not bring much in my opinion and will be error-prone and difficult to maintain. I think the support of man-marking is a great addition, let's make it simple and deliver it with 4.0.
@wsbrenk how much work would that be to have it finalized with a simple comb

[2020-08-30 10:18] akasolace commented on #599
@tychobrailleur Just to clarify what I had in mind.  I imagined some new entries in file/db:
     - an entry called db repair, how would have let the user call dbRepair tool on his corrupted database. Something like close HO and launch the tool with the rights command line options... It would have maybe in some case allow the user to recover a corrupted database. Something the user could do direct

[2020-08-30 10:19] akasolace commented on #669
@wsbrenk I am not sure I follow, does it mean I can close this issue ?

[2020-08-30 10:24] #608 closed

[2020-08-30 10:31] akasolace opened #671 "[FEATURE] determine gate opening for promotion/demotion on the server side"
HO should allow sending data for promotion/demotion on the Tuesday following the last match of the season. I am not sure how this is implemented. Maybe going forward, we could automtize this on the server side:
     - Tuesday at midnight: automatic reset of database, and allowing data push
     - HO would then not determine by itself if data can be putched it would fetch information from the serve

[2020-08-30 10:37] akasolace opened #672 "[FEATURE] create doc explaining transition from 3.0 to 4.0"
The doc should clearly explain step by step to the user how to move its data from 3.0 to 4.0.
@DavidatorusF  would be nice if you can help on this one ...

[2020-08-30 10:37] akasolace commented on #599
replaced by #672

[2020-08-30 10:38] #599 closed

[2020-08-30 10:39] akasolace commented on #558
@tychobrailleur  The tool exists so I close this issue. If at some point we decide to integrate the tool inside HO we would open a new ticket for this.

[2020-08-30 10:39] #558 closed

[2020-08-30 10:41] akasolace commented on #654
@wsbrenk should we consider this as part of #660 and close this ticket ?

[2020-08-30 14:34] wsbrenk commented on #669
@akasolace up to now i didn't manage to continue development with the master branch. is it the plan that i have to install install4j as part of the development environment? if not, then there is an error in the build.gradle.

[2020-08-30 14:42] wsbrenk commented on #654
@akasolace i agree

[2020-08-30 14:45] wsbrenk commented on #660
@akasolace good idea - i will continue with a simple combo box first.

[2020-08-30 14:46] akasolace commented on #669
No you do not have to install it. It is crazy how we are struggling to make this one working for both of us. Have you try to put the variable in your global gradle properties? It can point to a random folder.

[2020-08-30 14:52] wsbrenk commented on #669
i changed the OR to an AND:

`
install4j {
    if ((hasProperty('install4jHomeDir')) && ((install4jHomeDir != null) )) installDir = file(install4jHomeDir)
    else installDir = file("foo")
    disableSigning = true
`}``

[2020-08-30 14:59] wsbrenk commented on #669
today i started again from the ide
- no chance to start with my old database
- if i start with an empty database folder, i could reproduce the npe when i edit the settings

[2020-08-30 16:02] akasolace commented on #660
great, I really think this is the right approach

[2020-08-30 16:03] akasolace commented on #669
I will try it now ...

[2020-08-30 16:28] akasolace commented on #669
I just tested and I can confirm the behaviour ...

[2020-08-30 16:44] akasolace commented on #669
@wsbrenk I will push a commit now that fixes it ....

[2020-08-30 17:00] akasolace commented on #461
I tested it and it is working just fine ...

[2020-08-30 17:00] #461 closed

[2020-08-30 17:07] wsbrenk commented on #669
@akasolace found the reason for the recursion - will commit a fix soon

[2020-08-30 17:10] akasolace commented on #669
@wsbrenk  which recursion ? I fixed the NPE issue, have you seen my  PR ?

[2020-08-30 19:11] #669 closed

[2020-08-30 19:28] tychobrailleur opened #674 "[FEATURE] Create SVG icons compatible with new theming feature"
**Describe the solution you'd like**
Create new SVG icons replacing the existing ones so that they can match the different themes currently available in HO 4.0

**Additional context**
This completes the ticket #85

[2020-08-30 19:28] #85 closed

[2020-08-30 19:37] akasolace commented on #660
@wsbrenk for my info, do you have the icon you want to use for man marking order ? Otherwise you can list your need in #674 ...

[2020-08-30 19:48] wsbrenk commented on #660
@akasolace i found a svg file, but i do not know how to use it. the other icons in order overview are png file icons.

[2020-08-31 06:36] akasolace commented on #660
That is perfect if you already have a svg because as you know we are in the process to convert all png to svg. @tychobrailleur already made lots of commits to convert from png to svg, have you look at code sample?

Everytime you encounter a png file still in use in HO, do not hesitate to list it in #674, this ticket will be a tracker for svg icon request.

[2020-08-31 08:24] wsbrenk commented on #674
line 625 following of java/module/lineup/substitution/SubstitutionOverview.java uses png icons

a man marking icon is here: resources/img/icons/official/HTwebsite/svg/manmark.svg

[2020-08-31 08:28] wsbrenk commented on #669
the second lengthy note was a recursion that i see when i start with my old database. i'm still working on it.

[2020-08-31 09:46] akasolace commented on #669
this should be fixed with my last commit. It was the same source error, the issue with old database and error with fresh install when opening settings (in my case both were caused by the same install4j issue). Are you sure you are still experiencing it with latest master ?

[2020-08-31 11:12] steffanots commented on #609
I add links.
Link for player is from column Name

[2020-08-31 11:14] steffanots commented on #609
take

[2020-08-31 11:15] steffanots commented on #484
take

[2020-08-31 11:45] wsbrenk opened #677 "[BUG] column positions and width of player overview are not saved anymore"
every time i start HO, the colums are on their initial positions. all changes i did are resetted.

version: dev on master branch

[2020-08-31 11:52] akasolace commented on #677
this is intentional, change was made by @tychobrailleur in DBUpdater  (cf https://github.com/akasolace/HO/blob/76bf35dd060fc87a0fc0ac9dca27766e43d7a85a/src/main/java/core/db/DBUpdater.java#L119)
This was following upgrade to darklaf.  User will experience it just once, when they uprade.

If that is ok with you can close this issue ....

[2020-08-31 12:06] wsbrenk commented on #677
@akasolace i see - yes you can close it.

[2020-08-31 12:24] steffanots commented on #484
Proposal:

![image](https://user-images.githubusercontent.com/64475678/91719278-4a741f00-eb95-11ea-890e-51e92e83bba6.png)

[2020-08-31 12:25] steffanots commented on #484
Positioned has tooltip. Should I remove title or column :)

[2020-08-31 12:31] #677 closed

[2020-08-31 12:33] steffanots commented on #484
Column widths can be adjusted by the users themselves. Example for best position is also problematic.

My proposal is to move TSI before FO and attributes.

[2020-08-31 12:36] akasolace commented on #484
Yes I would remove column title

+1

Maybe (if not too difficult) we could merge MC and status, I mean put the MC symbol inside status to save some space, what do you think? Just an idea ...

[2020-08-31 13:08] steffanots commented on #484
Status is realtime data and MC static information. So, 👎

MC near flags?

[2020-08-31 13:08] akasolace commented on #671
- in HO!: replace isActive() by fetching the information from the server (https://github.com/akasolace/HO/blob/b006955587a154feddecce687e5bb55cec0a0376/src/main/java/module/series/promotion/LeaguePromotionHandler.java#L50)

`supportedLeagues`  => I think now all leagues are supported, we may remove this ----

  - on the server:
     - create the endpoint that return isactivestatus ....

[2020-08-31 14:06] akasolace commented on #484
you mean next to the specialty which are also static information?

[2020-08-31 14:33] steffanots commented on #484
near nationality or in one column for mother club like
![image](https://user-images.githubusercontent.com/64475678/91731814-a3e54980-eba7-11ea-8838-0f64de7bd7af.png)
:)

[2020-08-31 14:34] steffanots commented on #484
![image](https://user-images.githubusercontent.com/64475678/91731994-e60e8b00-eba7-11ea-958b-49cda8975658.png)

[2020-08-31 14:49] akasolace commented on #484
how are you generating those? are they svg ?

In order to save some space, we could either:
   - replace the nationality and MC column with the icons you are proposing (option 1)
   - put the mc heart next to the specialty and drop the dedicated column  (option 2)
   - put the MC heart in status even if this one is a static info (option 3)

@steffanots @tychobrailleur @wsbrenk @DavidatorusF  any p

[2020-08-31 17:12] tychobrailleur commented on #484
I am not sure I understand what the deal is with MC indicator?  it is not taking that much space, compared to the Status or Last Match fields.
If it really has to go I'd prefer option 3 but ny preference would be to keep it.

[2020-08-31 17:33] tychobrailleur commented on #484
(Especially since that column may be disabled by config, or even reordered by the user)

[2020-08-31 19:11] akasolace commented on #609
should be closed by #675  => needs test before closing

[2020-08-31 19:13] akasolace commented on #484
The idea was not to remove it but see if there was a more appropriate positioning of the column, but indeed I forgot option 4) leave it as it is in a dedicated column:-) .....

[2020-08-31 19:23] steffanots commented on #484
I am of the opinion that there is no need for one column because a foreigner is not a mother club. If someone sorts by nationality, they can immediately sort by MC.
We are creating additional work for me, but as far as I can see, we are not for that, let two columns remain. Maybe the suggestion that they stand next to each other is enough?

[2020-08-31 19:34] akasolace commented on #484
not true, you can be a player with same nationality as your club (for salary reason) but he will not have the MC bonus ....

[2020-08-31 19:36] steffanots commented on #484
of course.
I thought that when sorting by nationality to separate first MC then other from own country

[2020-08-31 19:52] steffanots commented on #484
![image](https://user-images.githubusercontent.com/64475678/91759774-84afe180-ebd2-11ea-8d2e-e6825c5268ac.png)

or  uglier i think :)

![image](https://user-images.githubusercontent.com/64475678/91760812-44e9f980-ebd4-11ea-92ca-78c92e422c59.png)

[2020-08-31 20:39] akasolace commented on #484
Yes I would stick with top version :-)

[2020-09-01 08:58] akasolace commented on #671
I think HTCalendar.java and HTCalendarFactory.java are not correctly implemented but touching that low-level part of the code might have some bad side effect

[2020-09-01 09:19] akasolace opened #678 "refactor HTCalendar.java and HTCalendarFactory.java"
_Originally posted by @akasolace in https://github.com/akasolace/HO/issues/671#issuecomment-684611311_

This is a prerequisite for #671

 - [ ] #679
 - [ ] a function that return HTWeek and HTSeason GregorianToHT (Globally and localy for the league)
 - [ ]  nb of training events between 2 dates (@wsbrenk would that be sufficient for training manager ?
 - [ ] nb of economic events between 2 dates (

[2020-09-01 09:27] akasolace commented on #678
Officialy, HTWeek start on Monday midnight, HTSeason depends of leagueOffset.
Then I guess we need the following:
     - a function that return HTWeek and HTSeason GregorianToHT (Globally and localy for the league)
     - nb of training events between 2 dates (@wsbrenk would that be sufficient for training manager ?
     - nb of economic events between 2 dates (not even sure if we need that, tbc ?

[2020-09-01 10:25] akasolace opened #679 "[FEATURE] leagueOffset need to be store in database"
- [ ] leagueOffset need to be store in database (XTRADATA) It needs to be retrieved only once from worlddetails.xml
might be part of misc.basics information, it will be accessed from HTCalendar

 - [ ] similarly at that time an offset for economy, match and training data need to be calculated

Training Date is used for Training Manager, @wsbrenk is matchdate also used or do you get that info somew

[2020-09-01 11:24] wsbrenk commented on #660
![image](https://user-images.githubusercontent.com/11821502/91843558-3cd29e00-ec56-11ea-8e79-b693f593cc9e.png)

progress report:
this is the man marking edit dialog.
the opponent team is selected by team analyzer

[2020-09-01 12:01] akasolace commented on #660
@wsbrenk I really like the combobox !!

- the position is the last played position?  can you get this one directly from players.xml or do you have to parse a lot of files ?
- you put age and experience, I don't think it impacts really the man marking effectiveness.  I think what could be more useful, is indication of the specialty (green (Tech) and red (Unpred) similar color than for weather penal

[2020-09-01 12:04] akasolace commented on #660
@wsbrenk I see you submitted your PR already so maybe the follow could be an open ticket for discussion for 5.0

you put age and experience, I don't think it impacts really the man marking effectiveness. I think what could be more useful, is indication of the specialty (green (Tech) and red (Unpred) similar color than for weather penalties/bonus) and maybe either a hoover message or a text somewhe

[2020-09-01 12:14] wsbrenk commented on #660
it is from players.xml

[2020-09-01 12:16] wsbrenk commented on #660
i put a lot of stuff into this line which is not viewable at all. i would like a discussion of what information should be displayed in this line and how.

[2020-09-01 12:18] wsbrenk commented on #660
the approach of displaying as arrow in team analyzer is still in place and i would like to go on with that the next time.

[2020-09-01 12:32] wsbrenk opened #681 "[BUG] edit group column of player overview"
select a line in player overview with group colored.
the group box in player detail view is colored as the overview line

now select a line in player overview with NO colored group
the group box in player detail view is still colored like the last selection. That is a bug!

you are not able to select the same color for the selected line. That is a bug, too!

Another point: i'm not really happy, th

[2020-09-01 13:36] akasolace commented on #660
ok do you want me to review/merge your PR already or do you want to discuss this first ?

[2020-09-01 13:38] akasolace commented on #681
I also liked the team name

[2020-09-01 18:32] wsbrenk commented on #660
i'm a friend of proposal number 1)

there are a lot of things, that can be done further on concerning the man marking.

[2020-09-01 18:51] akasolace opened #682 "follow up work on man marking support"
@wsbrenk I see you submitted your PR already so maybe the follow could be an open ticket for discussion for 5.0

you put age and experience, I don't think it impacts really the man marking effectiveness. I think what could be more useful, is indication of the specialty (green (Tech) and red (Unpred) similar color than for weather penalties/bonus) and maybe either a hoover message or a text somewhe

[2020-09-01 18:52] akasolace commented on #660
closed by #680

[2020-09-01 19:53] wsbrenk commented on #682
this is the line in combo box for opponent man marked players:

    @Override
    public String toString() {
        String buffer = getPosition(lastMatchPosition) +
                " " + name +
                ", age=" + age +
                ", experience=" + experience +
                ", form=" + form +
                ", rating=" + rating +
                ", status=" + status +

[2020-09-02 07:30] akasolace commented on #539
@wsbrenk for a different reason I was considering a refactoring of HTCalendar and HTCalendarFactory  ( #678).  I am planning to do that for v5.0.  It would be nice to have your inputs for what you would need for the training manager.
Also:
   - is OldTrainingManager still used somehere ?
   - Are you still planing to have a look at this issue during week 16?
   - if issue is confirmed during week

[2020-09-02 07:49] akasolace commented on #597
Hi @zigmond,

Sorry for the late feedback but I would like to have now a look at your issue as we are getting closer to a 4.0 releae.

First, just to clarify, could you please confirm or correct the following:
  - you still have a HO 2.1 version which is working fine ? Could you share again with me your db (I am sorry but all the links above have expired)
  - upgrading to HO 4.0 "works" but then y

[2020-09-02 07:55] wsbrenk commented on #539
yes, it is used in the training effect panel and in the player's training history view

yes, that is the plan. tomorrow i have to start a holiday trip to the north of germany, but i will smuggle the notebook into my luggage...

i hope i will met the interval when the error is reproducable and if so, he won't have a chance to survive

[2020-09-02 08:06] akasolace commented on #539
is the plan to merge them at some point? just that the name OldTrainingManager make it sounds marked as deprecated ...

ok great ... also if you have requirements or idea of improvements regarding HTCalendar don't hesitate to list them in #678, I will consider them when I reimplement the class (or maybe I will have a smooth approach and create first a NewHTCalendar and mark the other one as deprec

[2020-09-02 08:23] zigmond commented on #597
Hi :)

Yes on both.

Which d/b would you like :)

Zig

On Wed, 2 Sep 2020 at 08:50, akasolace <notifications@github.com> wrote:

[2020-09-02 09:26] akasolace commented on #597
I would need only a copy of the working 2.1 database ....

[2020-09-02 09:34] zigmond commented on #597
Firefox Send is temporarily unavailable while we work on product
improvements.

We appreciate your patience while we make the Firefox Send experience
better.

How else can I do it ?

On Wed, 2 Sep 2020 at 10:26, akasolace <notifications@github.com> wrote:

[2020-09-02 09:57] akasolace commented on #597
plenty of choice but for exampe:

 - https://send.tresorit.com/

 - https://gofile.io/

[2020-09-02 09:57] wsbrenk commented on #539
the error was observed on may 30th. i think that was the date, when season flipped from 74 to 75.

EffectDAO uses economy calendar to calculate the HTSeason ->

   public static HTCalendar createEconomyCalendar() {
    	HOModel model = HOVerwaltung.instance().getModel();
    	final Calendar calMark = Calendar.getInstance();
    	if (model == null || model.getXtraDaten() == null || model.getXtraDat

[2020-09-02 10:03] zigmond commented on #597
https://send.tresorit.com/a#XFoKGnR5uNo6juFHXTbfMw

Hope this is ok

On Wed, 2 Sep 2020 at 10:57, akasolace <notifications@github.com> wrote:

[2020-09-02 10:17] akasolace commented on #597
ok thank you ... I will have a first look later today

[2020-09-02 10:18] zigmond commented on #597
Let me know if there is anything else I can do :)

On Wed, 2 Sep 2020 at 11:17, akasolace <notifications@github.com> wrote:

[2020-09-02 10:23] zigmond commented on #597
Just noticed now that the Supporter Spec player (Mark Woaks) have the
problem now as well

java.lang.NullPointerException
at
module.playerOverview.SpielerDetailPanel.setLabels(SpielerDetailPanel.java:368)
at
module.playerOverview.SpielerDetailPanel.setSpieler(SpielerDetailPanel.java:275)
at
module.playerOverview.SpielerUebersichtsPanel.setPlayer(SpielerUebersichtsPanel.java:56)
at core.gui.HOMainF

[2020-09-02 10:27] wsbrenk commented on #539
createTrainingCalendar calculates the correction exactly the same way as the economy calendar. One of them must be wrong.

[2020-09-02 10:37] akasolace commented on #597
problem now as well

you have this as soon as you select him ?  if you click on the row on palyer overview for example.... ?

[2020-09-02 10:39] zigmond commented on #597
As soon as I click is line.
I can't change his "best position" manually for example :)
I can continue to other players, but I can't change him :)

On Wed, 2 Sep 2020 at 11:37, akasolace <notifications@github.com> wrote:

[2020-09-02 10:49] akasolace commented on #539
It might be best to avoid parsing this file everytime, also it is best to have correct week/season in HO even if user does not download new data....

this is my idea to fix that HTCalendar class, I now how to make reliable function to calculate HTSeason and HTWeek whic start on Monday. Now I need to check where to get the time for economy and traininng update per league (I hope it is listeed in on

[2020-09-02 10:50] wsbrenk commented on #539
economy date is NOT the date worldetails flips the season:

SELECT  datum, saison, seriesmatchdate, trainingdate, economydate FROM basics, XTRADATA WHERE basics.hrf_id=XTRADATA.hrf_id order by datum gives:

DATUM | SAISON | SERIESMATCHDATE | TRAININGDATE | ECONOMYDATE
-- | -- | -- | -- | --
2020-05-30 16:01:48.000000 | 74 | 2020-05-30 18:00:00.000000 | 2020-06-05 00:30:00.000000 | 2020-06-06 00:10

[2020-09-02 10:54] akasolace commented on #539
I would expect worldetails to switch season according to official calendar it means at the end of week 16, on Monday

[2020-09-02 10:56] wsbrenk commented on #539
if i investigate correctly, it's from worlddetails

[2020-09-02 11:03] wsbrenk commented on #539
for the season correction calculation we need the exact date time info, when worlddetails switches the season number.

the correction calculation could be done static, with a calendar matching this exact timestamp. not in each calendar with another fix point.

[2020-09-02 11:04] akasolace commented on #539
In all logic it should happen Monday midnight

[2020-09-02 11:06] akasolace commented on #539
yes you are right, it is from this table, I had quick look and I don't see when this is udpated. Do you know if this table is updated every time user downloan new data (i.e. world details downloded every time) ?

[2020-09-02 11:07] akasolace commented on #539
I updated #679 with new info

[2020-09-02 11:09] wsbrenk commented on #539
i don't think so. i added my downloads around the flip from 73 to 74. there you can see, that at 22 o'clock the season is already 74. i don't think that sweden has a time zone 2 hours in advance of MET

[2020-09-02 11:30] akasolace commented on #539
@wsbrenk  you are right, I asked to HT devs cause this might be a bug, the documentation said that HTweek flips Sunday midnight, so I would have expected the same for Season. For my info, you need the HTSeason flip for which part of the code? I guess it has not to do with the training ......

[2020-09-02 11:43] wsbrenk commented on #539
we need it to solve this issue. i think this is the reason, why in the time between the seasons the training effect panel will show wrong season number for at least one day.

[2020-09-02 11:59] akasolace commented on #539
@wsbrenk I am not sure of what are the need on your side, but I would suggest the following:

XTRATABLE:  store seasonoffset, training/ecoonomy/match League day and hour

a new class HTCalendarNew that will have methods

 - fromGregorianToHTCalendar(date) -> (Season, Week, Next Training, Next Economy)

Week: official rule start Monday 0 am
Season: waiting for confirmation of HTDevs

In that case,

[2020-09-02 12:32] steffanots commented on #484
![image](https://user-images.githubusercontent.com/64475678/91981438-25181a00-ed29-11ea-8d9a-77112ac3479e.png)

[2020-09-02 12:35] steffanots commented on #484
this feature for squad tab, but i think to do in lineup like :
![image](https://user-images.githubusercontent.com/64475678/91981665-788a6800-ed29-11ea-9460-9952a9f43353.png)

[2020-09-02 13:41] akasolace commented on #484
nice !
yes it clearly should be the same in lineup !

[2020-09-02 14:44] wsbrenk commented on #539
your plans concerning refactoring HTCalendar really sounds good. (But i would not keep the old version. I fear that it will continue to do misfortune for a long time to come.)

in my opinion we should store the whole stuff, we could get from the xml files. you never know if you could use it for anything in the future. it is much more harder to reload things you missed than storing some things you

[2020-09-02 15:02] wsbrenk commented on #597
@akasolace isn't commit 21ead5fb4000c559c7a94a4048a1acfc252e1b3e a solution of this issue?

[2020-09-02 17:52] wsbrenk commented on #678
training manager examines the list of matches between training dates, which are given in the different hrf records. HTCalendar is only used to map the date to the HT week.

[2020-09-02 18:36] steffanots commented on #484
smaller view. I am of the opinion not to put tsi for lineup...

we have player analysis table!?

[2020-09-02 19:24] akasolace commented on #539
@wsbrenk
I did some analysis and I think now it is finally clear to me:
   - HT week start on Monday
   - HT Season switch at the end of week 16
   - worlddetails HTSeason is misleading (might indicate which season is the coming game but I think we can discard it all together).
   - as a result most country have league game from week 1 to 14 but some county (e.g. Brazil) have league game from week

[2020-09-02 21:29] wsbrenk commented on #539
it depends - this issue was that for some days at the end of the season the user will see a complete wrong ht season information in training effect table. the changes of this pr will hopefully repair this.

Another thing is, that HTCalendarFactory could need a refactoring - i don't see any reason, why there should be different calendars for economy or training week. As you mention in the other iss

[2020-09-03 06:18] akasolace commented on #678
ok and how does training manager knows the training dates? it relies on worlddetails ? If that is the case what happenes if a user forget to download some data?  Won't it be more robust to have the training dates calculated by HO! ? We would not even need the training recalculation functionality ....

[2020-09-03 06:20] akasolace commented on #484
should be fixed by #684 => to be close after testing

[2020-09-03 06:22] akasolace commented on #539
ok let's merge this one hoping it fixes the issue and have a deeper analysy on HTCalendar refactoring

[2020-09-03 06:23] akasolace commented on #539
should be fixed by #683 => to be closed after testing

[2020-09-03 06:51] akasolace commented on #678
To summarize:

    - worldetails.xml always gives dates in Swedish time
   - Training tab implies local HT week and local HTSeason

    - matchdetails alreday display time in local time, using time lag preference set per user (ideally it could be done automatically using computer local but not too bad as it is now)
     - training tab relies on HT week and HT Season to do some display:  at the mom

[2020-09-03 06:54] akasolace commented on #597
@zigmond yesterday I had a first quick look, I can confirm the db seems to work fine in 2.1 and I can also confirm the upgrade to 4.0 is failing. I had error message when launching 4.0. I am not sure yet of what is happening but I don't think the issue is with the database. I will try to investigate further later today.

[2020-09-03 07:02] zigmond commented on #597
Thank you mate.

I have no problem launching and downloading database on 4.0 at all, it's
only when I click (stand on the line) of the former coach now regular
player (though eternally injured) and the Support player that I get those
errors

Saying that, I just relaunched it and the supporter player is ok, so it is
just the former coach.

Out of memory, I have 2 supporter players, and only the one

[2020-09-03 17:03] akasolace commented on #597
@zigmond this is strange me I can't even launch HO! 4.0 after the database upgrade ...

[2020-09-03 17:08] akasolace commented on #597
@zigmond with 2.1 it crashed if I click on Matches tab, you don't have the same ?

![image](https://user-images.githubusercontent.com/1136496/92145639-d053cc80-ee18-11ea-98f9-ce27bd7ed1de.png)

[2020-09-03 17:20] zigmond commented on #597
Never really used it for that, but, yes, it does bring the error, not with
4.0 though, it does get to the matches tab

On Thu, 3 Sep 2020 at 18:08, akasolace <notifications@github.com> wrote:

[2020-09-03 17:44] akasolace commented on #597
@zigmond  I think I fixed the issue
@tychobrailleur I could submit a PR but I have plenty of warnings from darklarf and I can't find what cause this. Do you have any clue ?

![image](https://user-images.githubusercontent.com/1136496/92149124-de581c00-ee1d-11ea-82a8-348b1cb7cb20.png)

[2020-09-03 18:29] tychobrailleur commented on #681
I'll look into these when I get some time!

[2020-09-04 11:50] akasolace commented on #664
without additonal info, I close this issue.  Especially that v4 is close.

[2020-09-04 11:50] #664 closed

[2020-09-04 17:07] steffanots commented on #530
Should I take this?
JavaFX tab ?
Do we have some designer or I'll prepare some review

[2020-09-04 19:07] akasolace commented on #530
@steffanots  yes, you can take this one.
Yes please prepare some preview/mockup before starting coding. This will be the landing page of HO!, we need a consensus of what is gonna look like.  Maybe @DavidatorusF could throw some design idea as well.

@tychobrailleur  what do you think of this? With the introduction of darklaf should we stick to plain swing also for that new tab ?

[2020-09-05 10:20] #597 closed

[2020-09-05 10:33] tychobrailleur commented on #681
I can't reproduce what you are describing:
![2020-09-05 11-29](https://user-images.githubusercontent.com/114285/92303287-5849eb80-ef6b-11ea-9ef4-0d08e86529e4.gif)

But maybe I misunderstood: are you saying that in the "Squad" dropdown, the colour of the group doesn't reflect the one of the player that is selected?  Or is it something else?

As far as I am aware only the icons were changed, not the

[2020-09-05 19:58] wsbrenk commented on #681
@tychobrailleur i can reproduce your film only with one of my players, who has NO group selected. Could it be that this player is the only one, which i select for no group. the others with whom it does not work, the selection stays with the group of the previous selected player, could be those who were never selected for any group.

[2020-09-06 14:45] #609 closed

[2020-09-06 14:46] #484 closed

[2020-09-06 14:49] #660 closed

[2020-09-07 07:07] akasolace commented on #629
Hi @RenosG

Press Start
Save hrf file in database folder

If you download file, you should not have to reimport the hrf just after ... this is not the intended workflow.

are you still experiencing this issue? If it is the case, may I ask you to share your database folder?

[2020-09-08 10:16] DavidatorusF opened #686 "[BUG] corrupted db on dev 4.0.0.3116"
**Describe the bug**
using db from stable 3.0 on fresh dev install give me this error:

java.lang.NullPointerException
at module.lineup.AufstellungsAssistentPanel.initComponents(AufstellungsAssistentPanel.java:555)
at module.lineup.AufstellungsAssistentPanel.<⁠init>(AufstellungsAssistentPanel.java:115)
at module.lineup.LineupPanel.initComponents(LineupPanel.java:164)
at module.lineup.LineupPanel.<

[2020-09-08 18:21] akasolace commented on #686
@DavidatorusF I just tried with latest HO! r3122 and I don't see any pbs. Can you please confirm it is also the case for you....

[2020-09-09 16:07] wsbrenk commented on #681
@tychobrailleur players showing the decribed problem have the "smilie" F-Team,png, which is no longer found in JComboBox.setSelectedItem.

[2020-09-09 19:25] akasolace opened #687 "[BUG]: improve support of multi teams"
**Describe the bug**

I now have a second team, so I tried it in HO and I found support should be improved:

3 things to be tackle

 - [x] The dialog is misleading: it should not offer location selection as this can't be modified by user, it should only ask for folder name.

![image](https://user-images.githubusercontent.com/1136496/92643643-676dc800-f2e2-11ea-83b5-3330283a58bd.png)

- [x] the str

[2020-09-10 19:44] #687 closed

[2020-09-10 20:57] aristodemos2008 opened #689 "[BUG] empty lineup"
**Describe the bug**
When I clear lineup it results in an java nullpointerexception

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Lineup
2. Click on clear lineup

**Screenshots**
[https://www.screencast.com/t/LWo4mz7TMV](https://www.screencast.com/t/LWo4mz7TMV)

**Platform information:**
 - OS: Windows
 - Version 3.0

[2020-09-11 07:36] jesuswasahovercraft opened #690 "[BUG] stopped working"
**Describe the bug**
 java.lang.NullPointerException

and then some lengthy gibberish

**To Reproduce**
Download HO!, latest 3.0 for Mac, unzip, start it, there you go

**Screenshots**
not available

**Platform information:**
 - OS: macOS
 - Version 10.15.6

**Additional context**
Anything about the Java version? Should I downgrade?

[2020-09-11 07:37] jesuswasahovercraft opened #691 "[BUG] java.lang.NullPointerException"
**Describe the bug**
 java.lang.NullPointerException

and then some lengthy gibberish

**To Reproduce**
Download HO!, latest 3.0 for Mac, unzip, start it, there you go

**Screenshots**
not available

**Platform information:**
 - OS: macOS
 - Version 10.15.6

**Additional context**
Anything about the Java version? Should I downgrade?

[2020-09-11 07:39] akasolace commented on #691
is HO 3.0 lauching at all? can you put a screenshot ?
was it working before? which version were sou using? Have you modified your java install ?

[2020-09-11 07:42] jesuswasahovercraft commented on #691
The error appears immediately after launching, at least there is the icon. It had been working before, just quit the job.

[2020-09-11 07:44] jesuswasahovercraft commented on #691
Mate, I am sorry, I just removed all fragments on my Mac manually, it resumed working. Thank you and sorry for wasting your time.

[2020-09-11 08:24] wsbrenk commented on #689
same as #573

[2020-09-11 08:35] wsbrenk commented on #661
[https://www85.hattrick.org/Forum/Read.aspx?t=17308544&n=14&v=0](url)

[2020-09-11 08:37] wsbrenk commented on #661
[info in unwritten manual](https://www85.hattrick.org/Forum/Read.aspx?t=17308544&n=14&v=0)

[2020-09-11 08:39] akasolace commented on #691
@jesuswasahovercraft  ok glad you manage to fix it. I close the issue then ...

[2020-09-11 08:39] #691 closed

[2020-09-11 08:40] akasolace commented on #689
@aristodemos2008 can you please check wheter or not you are still experiencing this bug with 4.0 development release ?

[2020-09-11 19:44] DavidatorusF commented on #686
@akasolace no problem on HO 3... the problem is on dev HO 4

[2020-09-11 19:46] akasolace commented on #686
@DavidatorusF je parle de la derniere version de HO 4.0.0.3122

[2020-09-11 21:59] DavidatorusF commented on #686
oh... ok

nice job ^^

well done... thread can be closed

[2020-09-12 12:15] tychobrailleur commented on #681
Ah, very likely, thanks for that, I'll investigate that!

I have finally settled on an approach for those icons, and it seems to work ok so far (still need to work on better contrast):

![Screenshot from 2020-09-12 13-14-33](https://user-images.githubusercontent.com/114285/92995263-f30d7180-f4f9-11ea-871b-18705db66fdf.png)

Still some cleanup to be done there, but at least I have a path forward.

[2020-09-12 17:07] tychobrailleur commented on #690
Hi @jesuswasahovercraft would you be able to send the lengthy gibberish, along with the Java version you use? (HO 3.x works on 1.8 only)

[2020-09-12 17:08] tychobrailleur commented on #681
Can the issue be closed, @wsbrenk ?

[2020-09-12 17:12] tychobrailleur commented on #530
This could be part of a POC to see whether the theming can be maintained even with JavaFX?

[2020-09-12 17:39] wsbrenk commented on #681
yes, i close it.

[2020-09-12 17:39] #681 closed

[2020-09-12 18:48] #686 closed

[2020-09-12 18:50] akasolace commented on #690
@tychobrailleur I think this issue can be closed, it was a duplicate and @jesuswasahovercraft confirmed he fixed it on his side

[2020-09-12 18:50] #690 closed

[2020-09-12 18:51] akasolace commented on #629
hi @RenosG, should I close this issue ?

[2020-09-13 05:33] aristodemos2008 commented on #689
Loaded my DB in HO-4.0.0.3122. Bug seems to be solved.

[2020-09-13 05:33] #689 closed

[2020-09-13 12:59] wsbrenk commented on #679
download of SeasonOffset from worldetails is done: same procedure as for Season (Saison). this info is in the BASICS part now:

[basics]
application=HO
appversion=0.0
date=2020-09-13 14:51:48
season=75
seasonOffset=0
matchround=16
teamID=520472
teamName=Juventus Brenk
activationDate=2004-09-25 02:57:00
owner=wsbrenk
ownerHomepage=
countryID=3
leagueID=3
regionID=238
hasSupporter=True

[2020-09-13 13:00] wsbrenk commented on #679
![image](https://user-images.githubusercontent.com/11821502/93018702-e8bea680-f5d1-11ea-8b4a-935e5042127c.png)

[2020-09-13 13:10] wsbrenk commented on #679
`    /*
    alternative to getHTSeasonCorrection based on worlddetails info SeasonOffset
    (not used up to now)
     */
    private static int getSeasonOffset(){
    	return HOVerwaltung.instance().getModel().getBasics().getSeasonOffset();
	}
`

[2020-09-13 13:35] akasolace commented on #679
@wsbrenk this is something you recently added ?

[2020-09-13 16:48] wsbrenk commented on #679
@akasolace yes, with the first item of this issue i'm just ready and i will push it soon. with the second one i'm still struggling. i could easily produce a static method that would examine the time difference of those dates to monday 0 AM. but i don't see any use of it!?!

- if those dates would change in the future, any calculation of those dates will be wrong
- estimations of future economy or

[2020-09-13 19:30] RenosG commented on #629
Hello,

I am experiencing this issue only with the NT Team database. When I press
start nothing happens, so I always needed to reimport the hrf and then it
worked. This time though the player names are blank. How do you want me to
share the database?

On Sat, Sep 12, 2020 at 9:51 PM akasolace <notifications@github.com> wrote:

[2020-09-14 07:43] akasolace commented on #629
@RenosG basic question but just to be sure, you are still an active NT coach?

https://wetransfer.com/

[2020-09-15 06:12] #679 closed

[2020-09-15 13:09] akasolace commented on #672
closed by recents commits (see https://ho.readthedocs.io/en/latest/installing_ho.html#how-to-upgrade-from-ho-3-0-to-ho-4-0)

[2020-09-15 13:09] #672 closed

[2020-09-16 06:54] RenosG commented on #629
Yes I am, Cyprus Nt Coach

On Mon, 14 Sep 2020, 10:43 akasolace, <notifications@github.com> wrote:

[2020-09-16 08:07] akasolace commented on #629
@RenosG ok can you please share your db via https://wetransfer.com/

[2020-09-17 14:08] DavidatorusF opened #694 "[BUG] new flags"
**Describe the bug**
4 flags missing and the one from Birmanie (Myanmar) is strange

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'IFA'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/93482267-d27d5700-f8ff-11ea-981f-034f85db9e0f.png)

**Platform information:**
 - OS: [Linux]
 - Version Ubuntu 16.04

**Additional context**
dev HO 4.0 r3164

[2020-09-17 15:13] DavidatorusF opened #695 "[BUG] IFA logo"
**Describe the bug**
12*12= 144... we have 145 flags now

we can adjust the number of flag per line till 12
but we can show only 12 lines, then, now, miss a flag on the logo

we need more lines

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'IFA'
2. Use logo creator
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/45043004/93490416-bdf18c80-f908-11ea-9f

[2020-09-19 11:47] wsbrenk commented on #539
![image](https://user-images.githubusercontent.com/11821502/93666445-a4725100-fa7e-11ea-846f-e92d69e164fa.png)

[2020-09-19 11:50] wsbrenk commented on #539
HO4 before download;-(

![image](https://user-images.githubusercontent.com/11821502/93666524-1e0a3f00-fa7f-11ea-8ba4-b5523ecebc26.png)

[2020-09-19 12:08] wsbrenk commented on #539
now HO4 display is fine!

[2020-09-20 14:21] #539 closed

[2020-09-20 14:38] akasolace commented on #695
please test again as I can't reproduce this one ...

[2020-09-20 14:40] #694 closed

[2020-09-20 18:01] DavidatorusF commented on #695
@akasolace no more problem on HO4 r3173
I think it was solved in the same time as #694

[2020-09-21 08:29] akasolace commented on #695
ok cool I close this one then ....

[2020-09-21 08:29] #695 closed

[2020-09-21 08:31] akasolace opened #698 "[DOC] controle/complete release notes for 4.0 release"
If all of us can spend 5 minutes in reading/completing the release notes, I will then publish the first beta version.

[2020-09-21 09:41] DavidatorusF commented on #698
https://ho.readthedocs.io/en/latest/installing_ho.html#latest-stable-version

replace last stable version link by latest release link, no ?
https://github.com/akasolace/HO/releases/tag/tag_stable

https://github.com/akasolace/HO/releases/latest

[2020-09-21 09:46] DavidatorusF commented on #698
don't forget to write this https://ho.readthedocs.io/en/latest/installing_ho.html#latest-stable-version in the first step on the forum thread

[2020-09-21 13:10] siweq86 opened #699 "[BUG] Can't see what is written behind frame"
**Describe the bug**
I can't see what is written behind "frame".

**To Reproduce**
Steps to reproduce the behavior:
1. Open Hattrick Organizer 3.0
2. Click on 'Squad'
3. Pick a footballer
4. Click "Best position"

**Screenshots**
[]https://i.imgur.com/VQMvz7P.png

**Platform information:**
 - OS: Windows 10
 - HO Version 3.000

[2020-09-21 16:21] akasolace commented on #698
good catch ... .just did it ...

[2020-09-21 16:21] akasolace commented on #699
@siweq86 can you please put a screenshot to help visualize the issue ... thank you !

[2020-09-21 16:39] siweq86 commented on #699
Done

[2020-09-21 17:01] tychobrailleur commented on #699
Hi @siweq86, I still don't get the issue: you seem to be showing the “Best Position” dropdown, which does hide table content until you have picked the correct position – is that your issue?

<img width="617" alt="Screenshot 2020-09-21 at 17 59 02" src="https://user-images.githubusercontent.com/114285/93797498-3f605c00-fc34-11ea-9a57-7fafea843c2a.png">

[2020-09-21 17:35] wsbrenk commented on #698
in chapter Rating is a [BUG], all other bugs are marked as [FIX]

[2020-09-21 19:56] tychobrailleur commented on #698
Other than the snag @wsbrenk it looks good to me.
The new icons for jerseys and groups, is it worth calling out separately?

[2020-09-21 20:01] akasolace commented on #699
@tychobrailleur on his screenshot, it seems the lines are truncated ... is that the issue @siweq86 ?

[2020-09-22 01:16] siweq86 commented on #699
Yes, that's true. Shame to admit but for the first time since i'm using HO i noticed that u can resize these windows and then this dropdown works correctly.

[]https://i.imgur.com/1mzE39p.png(url)
[]https://i.imgur.com/zZ3yUrh.png(url)

That's what i meant. So maybe it's not really a bug.

[2020-09-22 06:52] akasolace commented on #699
ok I close the issue then

[2020-09-22 06:52] #699 closed

[2020-09-22 13:37] akasolace commented on #698
@wsbrenk @tychobrailleur ok thank you !

[2020-09-22 13:50] #698 closed

[2020-09-22 13:51] akasolace commented on #629
@RenosG we can't work on this issue without db, for the time being I postpone it to next version.

[2020-09-23 19:45] akasolace opened #700 "[BUG] pb upgrade process to beta"
portable ->  zip file could not be deleted after update !: java.nio.file.FileSystemException: D:\Program Files\HattrickOrganizerDev\update.zip: The process cannot access the file because it is being used by another processSep 23, 2020 9:43:25 PM org.hsqldb.persist.Logger logInfoEvent

installed version => some link issues

[2020-09-26 08:36] akasolace commented on #700
installed version => should now be fixed
portable version =>  - need to adapt the logic to find updates.xml
                                  - still some strange behaviour when trying to delete updates.zip (not sure we can do much here..)

[2020-09-26 22:22] Lebron519 opened #701 "[Error Obtaining URL]"
Opening the Hattrick Organizer, there is a window that say "error obtaining URL". Error 503. How i can resolve?

[2020-09-27 07:36] miloszatko commented on #701
HTTP Error 503 - Service unavailable.
Probably on Hattrick's side

[2020-09-27 09:29] tychobrailleur commented on #701
It is possible, it looks like CHPP is experiencing issues:

![Screenshot from 2020-09-27 10-28-04](https://user-images.githubusercontent.com/114285/94361439-39430300-00ac-11eb-8938-f52f0f50a589.png)

[2020-09-27 09:31] Lebron519 commented on #701
Thank you guys!

[2020-09-27 16:28] akasolace opened #702 "[BUG] repair githubrelease task in build.gradle"
at the moment, it is needed to call the task multiple time ...

[2020-09-27 16:29] #701 closed

[2020-09-27 16:58] marcelomit opened #703 "Can not authorize CPHH"
Hi,  I installed HO! from scratch on new hard disk.
When I open the program the URL box is empty.
What URL I have to fill there?  In the sample that appear in docs there are a URL with part covered by a black line (I suppose that is unique for user).  How I can know which URL I have to fill?  Or how can it be filled automictically?

Thanks

[2020-09-27 17:05] #700 closed

[2020-09-28 02:11] lauko1 commented on #703
You're not alone, I've got the same issue :-/
I've already installed HO v3 and on my first installation, URL field was automatically filled.
It's not filled automatically anymore.

I've tried on HO v1.4 edition and I've got the same issue.

LauKo

[2020-09-28 10:03] markdoub opened #704 "Error after moving to a new series"
Hi, I get these errors every time I download my team data.
![err1](https://user-images.githubusercontent.com/16538045/94418919-f0598000-0179-11eb-970c-913dcb8bc635.png)
![err2](https://user-images.githubusercontent.com/16538045/94418930-f4859d80-0179-11eb-856b-1f40133b55db.png)

My team players are updated correctly. But the "League details" tab is empty.

I moved to a new series before the new se

[2020-09-28 11:31] akasolace commented on #703
@marcelomit you are on windows?

[2020-09-28 11:34] akasolace commented on #704
@markdoub  can you backup your db and test latest beta version ... this error should be gone.

[2020-09-28 12:18] marcelomit commented on #703
Hi.  today it give me the URL and start works. I receive 2-3 errors during download but most of the program works.  I am in windows 10.

[2020-09-28 12:50] akasolace commented on #703
@marcelomit fyi, since Friday, there has been a lot of CHPP errors reported on hattrick website .... tht could be the cause.
If you have other issues, please open ticket on github ...
cheers

[2020-09-28 12:50] #703 closed

[2020-09-28 14:33] Angelus2005 commented on #704
Same error here.... i also moving to a new series but diffrent OS: WIN10 but same Version: 3.0 (Build2728)

[2020-09-28 14:46] Angelus2005 commented on #704
latest beta also generate the same errors OS: win 10 version: 4.0 r3242 (Beta)
i don´t know why :/

[2020-09-28 14:48] tychobrailleur commented on #704
I have the same error here:

[code]

I will investigate later, but looks to me like either a CHPP (breaking) change, or there are still some funnies on CHPP side.

[2020-09-28 15:37] Staut-Stefanita commented on #476
Also add coach to best position drop down list in player profile.

[2020-09-28 18:52] markdoub commented on #704
I was ready to try v4.0 and thought I should try one more time with v3.0. It works! I didn't change anything (db or version)...
Could it be related to HT being down?
But my "League details" tab is still empty and it shows my old Series for season 61

[2020-09-28 19:02] tychobrailleur commented on #704
It is also working for me this evening on 4.0 – impossible to reproduce.  I suspect it was indeed funnies on CHPP that were fixed in the meantime.

[2020-09-28 19:58] akasolace opened #705 "[BUG] Release Channel not stored in userconfig table"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-09-29 08:00] akasolace commented on #704
I also tried and I could not reproduce it ... I am closing this one

[2020-09-29 08:00] #704 closed

[2020-09-30 17:42] wsbrenk opened #706 "[BUG] database administration dialog can not change team name and DB name"
i'm trying to install the beta:

- open database admin
- select edit or add entry
- change team name or db name
- save
- the old/standard values are displayed:

![image](https://user-images.githubusercontent.com/11821502/94720343-a5479480-0354-11eb-8f9e-7c39e0ddd0be.png)

[2020-09-30 17:57] wsbrenk opened #707 "[BUG] cannot start multiple instances of HO4 exe"
i used to start 3 instances of HO concurrently, one for each team i have. HO4 can only start single.

i start it by windows start menu.

[2020-10-01 18:52] akasolace commented on #705
it is actually not fixed

![bug705](https://user-images.githubusercontent.com/1136496/94850954-fd030000-0427-11eb-9660-dfd457d37122.gif)

[2020-10-01 20:17] wsbrenk commented on #705
OK, i thought it would be an update issue

[2020-10-02 08:17] #705 closed

[2020-10-02 17:57] dlfigueira commented on #641
Hello! I am also interested in this feature. Any news if this is allowed by CHPP developer license agreement?

[2020-10-02 19:03] Volker-brdb opened #710 "[BUG] HO-4.0.1.3242-portable-win-BETA nullpointer with 2nd-team"
**Describe the bug**
HO4 will not start with a 2nd-team and an database for the 2nd-team from HO3
For the 1st team everything works even with a DB from HO3

**To Reproduce**
Steps to reproduce the behavior:
1. start ho.exe
2. create second user via File>Database>Database/User administration
3. quit HO4
4. copy db-files from HO3 2nd-team db-folder to db-folder of HO4 2nd-team
5. start ho.exe
6. cho

[2020-10-02 19:38] akasolace commented on #641
@dlfigueira I asked and I had no answer I will ask them again

[2020-10-02 19:40] akasolace commented on #710
@Volker-brdb hello, could you please share a zip of your db ...

[2020-10-02 19:44] Volker-brdb commented on #710
@akasolace sure, here is the zip
[db2.zip](https://github.com/akasolace/HO/files/5319967/db2.zip)

[2020-10-02 21:07] akasolace opened #711 "[BUG] can't delete zip file after upgrade of archives"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-10-02 21:08] #711 closed

[2020-10-04 09:13] wsbrenk commented on #710
Gaspar Marquez has countryId 190

[2020-10-04 09:35] wsbrenk opened #713 "[FEATURE] add new leagues: Myanmar, Zambia, San Marino, Puerto Rico and Haiti"
#710 fixes a npe, if a HT country is not in HO table HT_WORLDDETAILS. this can happen, when Hattrick introduces new countries.

with the fix HO starts and does not show the flag of those countries.

- we should add the new HT countries
- eventually we should add a feature, that users could add new country information by their own. It could happen again, that hattrick adds new countries.

[2020-10-04 10:13] wsbrenk opened #714 "[BUG] HO4 does not show/calculate skillups in set pieces when training is shooting"
HO4 shows this
![image](https://user-images.githubusercontent.com/11821502/95012678-ce10a800-063a-11eb-9f93-42d89c58d304.png)

HO3
![image](https://user-images.githubusercontent.com/11821502/95012690-f3051b00-063a-11eb-93fd-656bc1110a88.png)

[2020-10-04 13:38] terwaan opened #715 "[BUG] Data new competition not available"
As of this season, I only get the data for my cup-games.
As you can see, my competition is blank. So
![HO_20201004](https://user-images.githubusercontent.com/5090206/95017114-9c5a0a00-0657-11eb-8ec1-7ad488176f3e.png)
 these data seem not to have been downloaded

[2020-10-04 15:49] #710 closed

[2020-10-04 15:51] akasolace commented on #713
+1

not sure if it worth the efforts now as I think this time HT has added almost every single country

[2020-10-04 15:54] akasolace commented on #714
@wsbrenk you have any idea what caused this ?

[2020-10-04 15:54] akasolace commented on #715
@terwaan which version of HO are you using ?

[2020-10-05 06:37] #667 closed

[2020-10-05 06:38] #713 closed

[2020-10-05 06:54] terwaan commented on #715
H.O. 3.000. How can I make a zio
[strandvoetbal_20201005.zip](https://github.com/akasolace/HO/files/5325717/strandvoetbal_20201005.zip)

[2020-10-05 10:43] akasolace commented on #715
@terwaan I am not sure of what you shared. I am expecting your db/ folder as a whole compressed as a .zip as well as your file user.xml.
Cheers

[2020-10-08 07:54] #714 closed

[2020-10-09 08:41] akasolace opened #719 "[BUG] HRF import for 2dn team are not properly listed"
**Describe the bug**
After downloading data for my 2 team, the file is not listed ...
Also it look strange that HO! ask again for the team to which the HRF file should be saved ? @wsbrenk is it also the case for 3.0 ?   Lastly I guess the HRF file name should have the team name otherwise we erase on each time. @wsbrenk I am very new to using HO! with 2nd team, looking forward for your inputs ?

**

[2020-10-09 09:58] akasolace commented on #719
@wsbrenk  ok I found the issue.  My first team had the proper BASICS table with the new column seasonoffset whereas for my 2nd team the coloumn was not here but dbversion was 400. I am not sure how I ended up in such state but I would assume it is only because I am most of the time using dev version.
To fix it I had to manually change the dbversion to 399 to make the upgrade happen again.

[2020-10-09 09:58] #719 closed

[2020-10-10 09:01] wsbrenk commented on #707
i think this is a feature of install4j, i don't want to have:

Configure Executable
[x]Allow only a single instance running

should be unmarked

[2020-10-10 22:08] wsbrenk opened #722 "[FEATURE] new progress bar"
i don't like this kind of progress bar:

![image](https://user-images.githubusercontent.com/11821502/95665941-2e30ae00-0b55-11eb-98b8-39ca85ce1247.png)

in the bottom part of the main window is a much better place for displaying a progress bar:

![Clipboard01](https://user-images.githubusercontent.com/11821502/95666003-caf34b80-0b55-11eb-99ec-161c5ce6f0c9.png)

[2020-10-11 08:32] wsbrenk commented on #715
@terwaan did you change your league this season. @akasolace maybe it is linked to #391

[2020-10-11 08:41] wsbrenk commented on #722
the plan is to reactivate the InfoPanel

[2020-10-11 15:51] wsbrenk commented on #715
Info per Hattrick-Mail:
Hello Wsbrenk,

Thanks for asking.
It turned out that both the previous and the current season. When I deleted the league of last season and reloaded the current season, the problem was fixed.

Greetz

Terwaan

[2020-10-11 15:53] wsbrenk commented on #715
i will have a look, why both leagues were saved again.

[2020-10-15 17:33] wsbrenk opened #724 "[BUG] Registration of HO installation in windows "Apps&features""
I ran the HO installation multiple times and updated the last one once. The result in Apps&Feature is this:

![image](https://user-images.githubusercontent.com/11821502/96165492-fb076980-0f1c-11eb-8392-cd2cfdd08a9f.png)

I would have expected a single entry.

maybe we have to remove the version information?!

[2020-10-16 13:06] #707 closed

[2020-10-16 13:12] akasolace commented on #724
normally it should detect previous installation .... me I can't reproduce ... I only have one entry and I did execute the installer maybe hundred time when I was debugging it ...

[2020-10-16 13:24] akasolace commented on #707
@wsbrenk I upgraded to r3260 and I can now start 2 instances at the same time.

[2020-10-16 16:37] wsbrenk commented on #707
👍

[2020-10-16 16:40] wsbrenk commented on #724
@akasolace update to 3260 overrides the last entry. So is the issue a relict of former versions.

[2020-10-16 16:41] #724 closed

[2020-10-16 16:45] wsbrenk commented on #715
@akasolace i think we can close this ticket. the user was able to fix his problem.
and i don't have any idea why a wrong league was stored in his database.

[2020-10-16 17:12] akasolace commented on #724
ok perfect

[2020-10-16 17:13] akasolace commented on #715
ok perfect
thank you

[2020-10-17 16:50] KlausAH-Hattrick opened #727 "[BUG] No DB creation for HO 4.0"
I have downloaded and installed "HOSetup-4.0.1.3260-BETA-JRE.exe".
When opening, I do get an error **"Could not create database folder"**
Installation went through for me, I have as well latest Java (on Win8.1Pro).
When searching the folder %appdata%HO it says Windows cannot find it.
HO is installed undr Program Files, has 3 directories which are:
.install4j        jre       prediction
(I'm logged

[2020-10-17 18:10] wsbrenk opened #728 "[BUG]HO4 NPE on new position swap in lineup panel"
java.lang.NullPointerException
	at core.util.Helper.markierenComboBox(Helper.java:216)
	at module.lineup.substitution.SubstitutionEditView.init(SubstitutionEditView.java:162)
	at module.lineup.substitution.SubstitutionEditDialog.init(SubstitutionEditDialog.java:48)
	at module.lineup.substitution.SubstitutionOverview.doNewOrder(SubstitutionOverview.java:292)
	at module.lineup.substitution.Substitut

[2020-10-17 21:55] wsbrenk opened #730 "[BUG]Lineup bench position is not resetted if player is selected for the first team"
in this example the goalkeeper at the bench position is selected as goalkeeper. He remains on the goalkeeper bench position

Expected is, that the goalkeeper bench position is cleared.

![image](https://user-images.githubusercontent.com/11821502/96354181-094bb600-10d4-11eb-9cd1-93112a8ecab8.png)

[2020-10-18 08:48] wsbrenk commented on #727
@akasolace isn't [this](https://www87.hattrick.org/Forum/Read.aspx?t=17366506&v=0&a=1&n=23) a workaround of this issue?

[2020-10-18 15:02] KlausAH-Hattrick commented on #727
[HO-2020-10-18.log](https://github.com/akasolace/HO/files/5397682/HO-2020-10-18.log)
Error messages when downloading ...

[2020-10-18 17:09] akasolace commented on #706
@wsbrenk Should we keep only one column out of the 2 Team Name / DB name ?  They are quite redundant .... what do you think ?

[2020-10-18 17:16] wsbrenk commented on #706
@akasolace if the restrictions to team and database names are identical (encodings, spaces) on all platforms, it would be a good idea to put them together.

[2020-10-18 17:45] akasolace commented on #706
yes in doubt I wont touch that ...

[2020-10-18 17:50] #728 closed

[2020-10-18 17:53] #730 closed

[2020-10-18 17:55] akasolace commented on #727
@wsbrenk I think this is only for Windows user, using adminstrator accounts.
I guess in that case HO! has no writting rights to %appdata%. If it is the case maybe I can force elevtion rights from installer. Otherwise, we need to put that additional information in the documentation.

[2020-10-18 18:00] wsbrenk opened #733 "[BUG] flickering box in the table header"
[HO! - Hattrick Organizer 0.0 - Juventus Brenk - 14.0.1 2020-09-12 19-19-26 (2).zip](https://github.com/akasolace/HO/files/5397921/HO.-.Hattrick.Organizer.0.0.-.Juventus.Brenk.-.14.0.1.2020-09-12.19-19-26.2.zip)

in the meantime i dispair at that problem.

what i found out:

- it looks like a mouse enter and mouse leave handler. the affected components are the header of the Tabbed panel.
- it only

[2020-10-18 18:08] akasolace commented on #733
@wsbrenk I think this only happen with Nimbus, right ?

[2020-10-18 18:09] akasolace commented on #733
Should we not focus on Darklag them going forward. Honestly I am not sure we have the ressources to support 2 differents L&F ...

[2020-10-18 18:19] wsbrenk commented on #727
@akasolace i do not have an idea concerning this. but i wonder that administrator should not be able to create a folder in roaming.
interactivly there was no problem to create it.

[2020-10-18 18:27] wsbrenk commented on #733
you are right, i'm on nimbus!

but i tried dark theme too and i think the issue is there too, but a lot more faster (the delay of box disappear is a lot shorter).

to be honest: i'm not a friend of dark themes - it is not so friendly for my old eyes.

[2020-10-18 21:44] wsbrenk commented on #733
again tried to verify it with darcula. Same issue as above, but not on mouse enter and leave, but mouse click in the header of HOTabbedPane

[2020-10-19 08:10] #706 closed

[2020-10-19 08:13] akasolace commented on #733
I am also no fan of dark theme but darklaf solarized is "fairly" close to nimbus look and feel, don't you think ?
My point is that it will be really simpler if we could support only darklaf going forward. If the bug exist on darklf we could ask the creator of darklf he has been very reponsive and helpful in the past.

[2020-10-19 15:27] akasolace commented on #727
@KlausAH-Hattrick I tried to reproduce but I can't.
You are using an account with admin rights. HO can't create the HO in appdata but you can create it manually and after that HO is working fine, is that correct? To create the HO directory, where you prompted for some password or could you simply do it via the explorer ?

[2020-10-19 15:45] akasolace commented on #727
@wsbrenk could you reproduce this bug? I mean if you delete HO folder is it recr

@KlausAH-Hattrick  If you still experience that issue, can you create a separated ticket for this one. And please include a copy of your db in the github ticket. Thank you

[2020-10-19 17:00] wsbrenk commented on #733
a OK - i will test solarized, thought that darklaf is same as darcula.

since i observe that kind of flickering in both themes (with little variations), i think that it is not caused by the theme, but on something that is common in player overview tables in the first two panes.

[2020-10-19 17:12] wsbrenk commented on #727
1. renamed %APPDATA%/HO to HO4
2. run installation HOSetup-4.0.1.3260-BETA.exe
3. started HO from start menu

=>

![image](https://user-images.githubusercontent.com/11821502/96488664-9f035480-123e-11eb-81ee-bf8c2324f1e6.png)

no new folder %APPDATA%/HO is created

[2020-10-19 17:16] wsbrenk commented on #727
i have no idea concerning the connection errors in @KlausAH-Hattrick  logs

[2020-10-19 17:30] wsbrenk commented on #733
solarized-light could be an alternative. Concerning this
- why are the decimals of the skills in the player overview below the number - looks strange

- if i resize a table header of those skill columns the flickering of menu and Name header happens

[2020-10-19 18:08] #727 closed

[2020-10-19 18:08] Caner26 commented on #727
This is correct. I had the same error ad the original poster. But after manually creating the HO dir in %Appdata% All went well

[2020-10-19 18:12] akasolace commented on #727
@KlausAH-Hattrick @Caner26 I think I fixed the issue please check with new BETA version 4.0.1.3261   Thank you for reporting the bug and providing information

[2020-10-19 19:15] KlausAH-Hattrick commented on #727
The database was ok with manual adding folder in %appdata%.
Now two more problems cropped up (after changing to Beta r3266).
While attempting download for main team:
![HO-P1](https://user-images.githubusercontent.com/73033385/96500976-fa8a0e00-124f-11eb-83ed-4ac0c12d2203.jpg)
While attempting download for 2nd team:
![HO-P2](https://user-images.githubusercontent.com/73033385/96500997-007fef00-1250-

[2020-10-19 19:37] akasolace opened #735 "Error team download"
The database was ok with manual adding folder in %appdata%.
Now two more problems cropped up (after changing to Beta r3266).
While attempting download for main team:
![HO-P1](https://user-images.githubusercontent.com/73033385/96500976-fa8a0e00-124f-11eb-83ed-4ac0c12d2203.jpg)
While attempting download for 2nd team:
![HO-P2](https://user-images.githubusercontent.com/73033385/96500997-007fef00-1250-

[2020-10-19 19:44] datatramp opened #736 "[BUG] Player Info Icon in Squad column not visible"
Player info Icons in Squad column are completly white in skins

When I use skins
Nimbus
Darcula
Solarized
Solarized white

The Player info Icons are just white blocks in column "Squad" and in the Player Information Pull Down Menu.

**Screenshots**
https://ibb.co/bvB0bzb
HO40r3266 skin solarized 2020-10-19 2138.jpg

Old Version to compare:
https://ibb.co/NW0d3f5
HO30 skin nimbus 2020-10-19 2159.jpg

[2020-10-19 19:46] KlausAH-Hattrick commented on #735
[HO.zip](https://github.com/akasolace/HO/files/5404316/HO.zip)

[2020-10-19 20:39] wsbrenk commented on #735
Database contains finished matches but no matchdetails (lineup infos) of them.

[2020-10-20 07:01] akasolace commented on #735
@wsbrenk If I understand correctly:
    1) when downloading data, calculation of training preview is made
    2) in his case match was finished but match details were not in the database and that throws an error

Now we still don't know why his database was not having match details.
I guess training preview only look for information from last played game, if this is correct can't we have something

[2020-10-20 07:02] akasolace commented on #736
@tychobrailleur is it something you could look at?

[2020-10-20 09:03] johari75 opened #738 "[BUG] HO 3.0 Missing next Cup opponent in the Lookup of TeamAnalyzer tab"
**Describe the bug**
My next CUP match is visible within the "Matches" tab but it isn´t visible in the lookup within the "TeamAnalyzer" tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tab 'Matches'
2. See my todays Cup Match at "1:FC Colonia"
3. Go to tab "TeamAnalyzer"
4. Open Lookup of teams
5. see error: team "1:FC Colonia" is not available

**Screenshots**
If applicable, add s

[2020-10-20 09:38] johari75 opened #739 "[BUG] Loading a saved lineup does not synchronize with TeamAnalyzer"
**Describe the bug**
I installed HO-4.0.1.3266-portable-win-BETA-JRE and followed your instruction to copy the db-files from HO 3.0 to HO 4.0.
Today I have a CUP match. Therefore I wanted to use the TeamAnalyzer to get the best lineup. But no changes in the LineUp are usable in TeamAnalyzer. I can only test the Actual LineUp which is saved on hattrick.org.

**To Reproduce**
Steps to reproduce the

[2020-10-20 13:48] akasolace commented on #738
@johari75 this was fixed in 4.0 so I close this issue

[2020-10-20 13:48] #738 closed

[2020-10-20 13:51] akasolace commented on #739
@johari75 to make the update you need to click on Analyze

[2020-10-20 13:53] johari75 commented on #739
@akasolace yes, I know and I did. But nothing changed.

[2020-10-20 14:02] akasolace commented on #739
then do you have this bug only with that specific team ?

[2020-10-20 14:08] johari75 commented on #739
no, i tried it a few seconds ago with my next League opponent (which isn´t marked in a different colour as in the past).
Same result.

[2020-10-20 14:17] johari75 commented on #739
@akasolace there is a strange behaviour
after a restart of HO 4.0 I changed 1 player in the lineup and turned to teamanalyzer. button analyze worked for that change.
afterwords I went back to LineUp and opened a saved lineup. Again to teamanalyzer, button analyze --> lineup not synchronized

[2020-10-20 14:32] tychobrailleur commented on #736
It'll probably be tail end of the week before I can, but no problem!

[2020-10-20 14:43] KlausAH-Hattrick commented on #735
The downloading - first window - seems to complete, when I click on 'Save' then the errors come up as shown in the first two screenshots at top. Can I do sth to assist or help to resolve ?

[2020-10-20 14:48] akasolace commented on #736
@tychobrailleur actually I did it. If you could just look at the PR ....

[2020-10-20 14:50] akasolace commented on #739
ah ok
@johari75 if lineup changed manually (by changing a player) it works fine but if lineup changed by loading saved lineup, this is not detected by teamAnalyser, right ?

[2020-10-20 14:51] akasolace commented on #739
I can confirm the bug

[2020-10-20 14:54] johari75 commented on #739
@akasolace in addition if you loaded a lineup manual lineup changes are ignored too

[2020-10-20 16:33] Synthespian opened #741 "[FEATURE] Total Cost Of Ownership (TCO)"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The Transfers page shows the list of transfers for players.  When selecting a player you've sold, it reflects on the total profit/loss of the transfer in (or free) and transfer out.  However, it does not take into account wages (obviously a regular download per week is required for absolute

[2020-10-20 17:09] wsbrenk commented on #735
@KlausAH-Hattrick gave us his logs [here](https://github.com/akasolace/HO/issues/727#issuecomment-711203590)

don't know why his connector logs problems while creating connection. if @KlausAH-Hattrick could give us the database of his first team we could try to debug.

@akasolace i think your idea to download match details could run into the same problems again

[2020-10-20 17:23] Synthespian opened #742 "[BUG] Unable to update beta version"
**Describe the bug**
Unable to use the in-application update from Help > Check for Updates

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Help > Check for Updates
2. See result

**Screenshots**
![image](https://user-images.githubusercontent.com/48737160/96622026-4fd22800-1301-11eb-9134-c59ea22024db.png)

**Platform information:**
 - OS: Windows 10
 - Version 4.0 (3257 JRE - Portable N

[2020-10-20 17:40] wsbrenk commented on #739
found the error

[2020-10-20 18:11] tychobrailleur commented on #736
Sure, let me do that before *not listening* to the Rennes match. ;-)

[2020-10-20 18:11] #739 closed

[2020-10-20 18:13] akasolace commented on #742
With JRE, right ?

[2020-10-20 18:26] KlausAH-Hattrick commented on #735
I have now first UNinstalled HO4 completely, also deleting the db in %appdata% (after saving a backup on external drive).
Then fresh re-installed all from scratch, no problem, db directory 'HO' was created in %appdata%. I needed to authorise with HT again and after that I could also do the change as well as adding of team names in HO4 window (Database/User Administration).
After that, when "downlo

[2020-10-20 20:25] wsbrenk commented on #735
@KlausAH-Hattrick if i started HO4 with your db folder, i could not reproduce your download problems. for me it looks like a net configuration problem. i'm not an expert on this, but could it be, that you may be suffering from a firewall or something like this?

[2020-10-20 21:00] wsbrenk commented on #735
in his logs i found this:
Caused by: java.net.ConnectException: Connection timed out: connect

[2020-10-21 06:26] akasolace commented on #735
@wsbrenk @KlausAH-Hattrick  the issue with downloading was it a one-time issue or is it recurring?

If it is recurring, do you have the same issue with a fresh install or only with the existing database?

[2020-10-21 13:15] johari75 opened #744 "[BUG] Best position and AutoLineup are not in sync when using darklaf theme"
**Describe the bug**
Activating or deactivating the autoLineUp flag for a player causes activation or deactivation the autoLineUp flag for another player.

**To Reproduce**
Steps to reproduce the behavior:
see clip in zip-file

**Screenshots**
[HO! - Hattrick Organizer 4.0 r3266 - Unterhose Kairo - 14.0.1 2020-10-21 15-11-27.zip](https://github.com/akasolace/HO/files/5416048/HO.-.Hattrick.Organize

[2020-10-21 14:36] akasolace commented on #742
@Synthespian I can't reproduce this. You still have the error ?

[2020-10-21 14:55] akasolace commented on #744
@johari75 I can't reproduce. Something should be wrong with your database. Can you share it?

[2020-10-21 15:00] KlausAH-Hattrick commented on #735
The problem still persists, even with the fresh installation. Also I need to launch as Administrator, else the App would not work. I do not use Antivirus which could cause this, and I also have disabled the Windows Firewall. No change, problem remains.
Getting really frusted now cos I cannot determine what's the problem or cause of it.
Any further good tips to try ?

[2020-10-21 16:53] akasolace commented on #735
are you using HO behind a proxy ?

[2020-10-21 16:55] akasolace commented on #735
@KlausAH-Hattrick
so you always have the same error `Caused by: java.net.ConnectException: Connection timed out: connect` even on a fresh install ?  Have you been succesfully using HO in the past ? If yes, do you know when your issues started?  are you using HO behind a proxy ?

[2020-10-22 07:50] #736 closed

[2020-10-22 07:53] #722 closed

[2020-10-22 07:54] akasolace commented on #744
@johari75 yes please as a zip file. You only have one team, right ?

[2020-10-22 07:57] johari75 commented on #744
@akasolace yes, I have only one team. My db folder is to big. 27 MB zipped

[2020-10-22 08:12] johari75 commented on #744
@akasolace Here you are
[20201022_UnterhoseKairo_db.zip](https://github.com/akasolace/HO/files/5421203/20201022_UnterhoseKairo_db.zip)

[2020-10-22 16:22] akasolace commented on #744
@tychobrailleur @weisJ  I checked this one and the error comes from darklaf. The mouse pressed events are not detected correctly (at least for boolean cells I am not sure for other). Events are not always detected sometime and the reported value is incorrect: https://github.com/akasolace/HO/blob/733405bb6404efeec3eeddd5a09045885bcaad88/src/main/java/module/lineup/AustellungSpielerTable.java#L51

*

[2020-10-22 18:12] KlausAH-Hattrick commented on #735
All previous HO installations uninstalled, registry cleaned, fresh installation now of r3276. Firewall disabled, no proxy. Authorised 3 teams again with HT. Opened as Administrator. With 1st team only 2 error messages, after that all players and squad can be seen. 2nd team after 1st error comes NullpointerException and program closed, no players available. 3rd team lots of error messages but all p

[2020-10-22 18:57] akasolace commented on #735
you had to do that because you started with fresh database ?

we will look into it. At the moment I am personnaly busy with other issues but this one is defintly on the list before next beta release ...

[2020-10-22 19:00] akasolace commented on #742
@Synthespian can you share your db please ... I would like to see what is going on ...

[2020-10-22 20:57] wsbrenk commented on #742
@akasolace until 3266 it worked for me - now i'm not able to update to 3276

changed to dev-channel

![image](https://user-images.githubusercontent.com/11821502/96929074-d893c400-14b9-11eb-80b6-e43902798368.png)

![image](https://user-images.githubusercontent.com/11821502/96929099-e5181c80-14b9-11eb-862d-8ef0874b4b59.png)

[2020-10-22 21:28] wsbrenk commented on #735
LastMatchDate=2021 is OK.

[2020-10-22 21:54] KlausAH-Hattrick commented on #735
Really appreciate your help. Wouldn't know what to do next to troubleshoot, as I'm not a programmer.
So have to trust your advice. Just tell me what to do next or what I can do to help finding out.

[2020-10-23 06:52] akasolace opened #746 "[BUG] misleading visual with darklaf"
With nimbus:
Editable and non-editable checkboxes are clearly distinguished

![image](https://user-images.githubusercontent.com/1136496/96965584-b11a1700-150c-11eb-9fad-602496cdb6d7.png)

![image](https://user-images.githubusercontent.com/1136496/96965609-baa37f00-150c-11eb-8d59-0fbcf7989116.png)

this is not the case with darklaf and this can be misleading:

editable => ok
![image](https://user-i

[2020-10-23 06:54] akasolace commented on #742
you tried 3266 -> 3276 by changing release channel to "DEV"?

you have an installed version, right ?

[2020-10-23 09:58] johari75 opened #747 "[BUG] java.lang.RuntimeException: com.kitfox.svg.SVGException: java.lang.IllegalArgumentException: User must specify at least 2 colors"
**Describe the bug**
While trying to run a second portable version on my laptop a RuntimeException occures while moving cursor.

**To Reproduce**
It occures while opening HO! 4.0
see attachment

**Screenshots**
[HO 40 runtimeError.txt](https://github.com/akasolace/HO/files/5428749/HO.40.runtimeError.txt)

**Platform information:**
 - OS: [Windows 10 pro (10.0.19041 Build 19041)]
 - Version (HO-4.0

[2020-10-23 10:06] akasolace commented on #747
you are launching twice the same portable version or do you have 2 different HO versions ?

[2020-10-23 10:08] johari75 commented on #747
twice the same version.

[2020-10-23 11:01] johari75 commented on #747
@akasolace  Now the same problem occures while starting HO for my team

[2020-10-23 12:52] johari75 commented on #747
@akasolace After HO restart it worked for my team again.
Very strange.

[2020-10-23 15:39] weisJ commented on #744
Relying on a mouse released event to be triggered isn't really the best option here. Lafs don't need to guarantee that the `mouseRelease` event will be send to the `JTable`. In fact almost all the time this event will be consumed by the editing component (which is happening in darklaf).

I would recommend to install a [`TableModelListener`](https://docs.oracle.com/javase/7/docs/api/javax/swing/eve

[2020-10-23 17:18] wsbrenk commented on #742
yes - i started with HOSetup-4.0.1.3242-BETA.exe

two times the update of beta channel worked perfectly
updating the beta says, that latest version is installed
so i changed to the dev-channel and got the message shown above

[2020-10-23 23:03] weisJ commented on #747
This was caused by an issue in darklaf which should be fixed now (don't know the specific version. Maybe `2.4.7` or so).
It is caused by the compact definition option for dynamic svg colours darklaf offers
i.e. instead of
[code]
one can only specify
[code]
The svg rendering library used by darklaf isn't happy though if the aren't at least 2 stop definitions.
Even though updating to the latest dark

[2020-10-24 11:43] wsbrenk commented on #715
![image](https://user-images.githubusercontent.com/11821502/97080824-91631b80-15fe-11eb-8d5a-3d3ab3b9c1fd.png)

sql join shows that the LeagueLevelUnitID can change in week 16 of a season. No fixtures should be loaded in such situations.

[2020-10-24 16:53] wsbrenk opened #749 "[BUG]player notes in trainings PlayerDetailPanel are not saved"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'training->prediction'
2. Select player
3. Edit notes
4. Select another player (notes are cleared)
5. Select previous player again
6. notes remains cleared (the edited value is not saved)

Notes are saved if Notes field looses focus (only then)

Selection of another

[2020-10-25 13:20] wsbrenk opened #750 "[FEATURE] calculate statistics on training prediction/plan"
![trainingstatistics](https://user-images.githubusercontent.com/11821502/97108336-292f3b00-16cd-11eb-9dc1-0ee259d059e2.png)

i would like to have an overview/aggregation of the training plan of the whole team

[2020-10-26 07:46] akasolace commented on #742
this is strange, I have to experience the issue myself to see what is going on and try to debug....

[2020-10-26 07:47] #715 closed

[2020-10-26 07:47] #749 closed

[2020-10-26 07:54] akasolace commented on #744
@tychobrailleur when you got a bit of free time again it could be nice if you can have a look at this one. It is a blocking one for 4.0 and so far I did not manage to fix it ....

[2020-10-26 15:31] akasolace commented on #746
@weisJ do you also think the visual is confusing? Should I open a feature request for darklaf?

[2020-10-26 15:43] weisJ commented on #746
No need for a feature request. I’m already working on it ;)

[2020-10-26 16:17] akasolace commented on #747
@weisJ we are using 2.4.5.   This issue has been reported only once and I personally never experienced it. I would apply the fix you suggested. Thank you

[2020-10-26 16:19] akasolace commented on #750
maybe this can be put in a new tab ? I am worry the exisiting tab would be too bloated if you had this new table into it.  What do you think ?

[2020-10-26 16:39] KlausAH-Hattrick commented on #735
Here some Logs from HO3 before.
[HO3 Logs.zip](https://github.com/akasolace/HO/files/5440114/HO3.Logs.zip)

[2020-10-26 18:08] wsbrenk commented on #750
good idea - i thought the player details are somewhat to big, but this place could be used to display the training history and future plans beneath the player training table, which could be prolonged to the complete screen width.

[2020-10-26 18:15] wsbrenk commented on #735
Was August 28th the date when download didn't succeed the first time? This log is extemly short. Do you remember anything that could have changed then?

[2020-10-26 20:32] wsbrenk opened #751 "[BUG] NumberFormatException on download of complete match history"
murko wrote:

In the log file with todays date I had a lot of these errors:
15:34:15 [Error] core.net.OnlineWorker: downloadMatchData: Error in downloading match: java.lang.NumberFormatException: null

[2020-10-27 06:52] weisJ commented on #746
Version 2.5.0 of darklaf should resolve this issue.

[2020-10-27 06:54] weisJ commented on #744
Version 2.5.0 of darklaf should resolve this issue as is (i.e. without further changes). Though I would still highly recommend to change the approach as suggested above.

[2020-10-27 07:27] akasolace commented on #744
@weisJ ok good to know cause I tried to do it via the TableModelListener but so far without success. Any idea when 2.5 will be released?

[2020-10-27 07:30] akasolace commented on #735
@wsbrenk have you try yourself with his DB? Are the downloads succesfull or do you have the same issue?

[2020-10-27 07:30] akasolace commented on #746
awesome

[2020-10-27 07:35] akasolace commented on #746
fixed by https://github.com/weisJ/darklaf/commit/1431f0e53a8f91439e9d2c1daf16042fabed7bf4

[2020-10-27 10:26] johari75 commented on #744
Is there anything I can do to support you or to test your solution anyhow?

[2020-10-27 10:26] johari75 commented on #747
Is there anything I can do to support you or to test your solution anyhow?

[2020-10-27 11:41] akasolace commented on #744
@johari75  you should be able to test with the next beta ...

[2020-10-27 11:41] akasolace commented on #747
@johari75 you should be able to test with the next beta ...

[2020-10-27 14:27] KlausAH-Hattrick commented on #735
[HO4-2710.zip](https://github.com/akasolace/HO/files/5445952/HO4-2710.zip)
Just tried again, now I get Nullpoint Exception with 1st team, the others download players but with several errors. Everytime things are different.

[2020-10-27 16:27] Synthespian commented on #742
Sorry, wasn't getting notifications.
Yes, still getting error, 3257 with JRE (portable not installed)

Can share folder, but it's 550mb and three databases (want it all??)

[2020-10-27 16:44] wsbrenk commented on #735
@akasolace @KlausAH-Hattrick could download match details without any problems

data from october 22th:

![image](https://user-images.githubusercontent.com/11821502/97333636-1018bc80-187c-11eb-805d-771f0ef3ca03.png)

[2020-10-27 16:51] wsbrenk commented on #751
yesterday i fixed the exception - now i see an endless recursion if i want to try to download my matches since the beginning.

[2020-10-27 20:39] KlausAH-Hattrick commented on #735
Was there anything or any error in the datalogs that could point to a particular issue ?

[2020-10-27 21:38] wsbrenk commented on #735
@KlausAH-Hattrick the logs were clean. everything was working as expected.

[2020-10-27 22:11] akasolace commented on #744
@weisJ @tychobrailleur  in this example the Jtable model is a TableSorter. AddingTableModelListener to the Jtable only captures changes on sorting (see below)

[code]

"Table Changed 1 !" is displayed if I change sorting of some columns
but "Table Changed 2 !" is never displayed

I am not sure if in such case I can use TableModelListener .... any ideas ?

[2020-10-27 22:25] akasolace commented on #746
@weisJ  just tested and with 2.5.0 nothing is displayed

![image](https://user-images.githubusercontent.com/1136496/97368607-97c9ef80-18ab-11eb-9f29-953ac8602a0d.png)

whereas nimbus

![image](https://user-images.githubusercontent.com/1136496/97368667-b4febe00-18ab-11eb-8b4a-9f831ff1a355.png)

[2020-10-27 22:31] akasolace opened #752 "changes in AutoLinueup checkboxes should (if possible) not be made via mouseListener"
see #744

maybe add something in ListSelectionListener of LineupPanel, or see how to cascade tableEvent rom sorter to model in AsutellungSpielerTable

from @weisJ

[2020-10-27 22:32] #744 closed

[2020-10-27 22:33] akasolace commented on #751
can I llok at it somewhere in your branch ?

[2020-10-27 22:33] akasolace commented on #742
@Synthespian we will see if the error reproduce, but at the moment still quite a lot of tickets opened ...

[2020-10-27 22:35] akasolace commented on #735
@wsbrenk  so it means it is a connexion issue from @KlausAH-Hattrick side?

[2020-10-28 06:43] KlausAH-Hattrick commented on #735
If it works on your side sure the logs have no error. I mean was there was any error in the logs that could point to the problem in the db **when I sent/uploaded** - from the unsuccessful tries I had.

[2020-10-28 07:34] akasolace commented on #735
@KlausAH-Hattrick are you using HO on your personal or on a corporate pc?

[2020-10-28 08:13] johari75 commented on #747
@akasolace great. Do you have an approximate date for next beta release?

[2020-10-28 08:49] weisJ commented on #744
Did you try this with the new darklaf version?

[2020-10-28 09:17] #747 closed

[2020-10-28 09:19] akasolace commented on #744
yes it fxed the issue !

yes I will try again to look at this in the future ... I opened a ticket for this (https://github.com/akasolace/HO/issues/752)

@weisJ  thank you for your help !

[2020-10-28 09:22] akasolace commented on #747
we still have some open tickets, but hopefully by the end of next week

[2020-10-28 11:38] weisJ commented on #746
The icon is displayed but the wrong icon is used (If you look closely you'll see the icon in white). Fixed in darklaf 2.5.1 (could take a bit until it is available on maven central).

[2020-10-28 14:43] akasolace commented on #746
@weisJ just check and 2.5.1 is already available on maven central, I will check tonight if this fix the issue. Thanks one more time for your reactivity! . Also, maybe you want to add HO! in the list of the project using darklaf  on your github page ?

[2020-10-28 17:07] KlausAH-Hattrick commented on #735
Using personal PC, no Firewall (have disabled Firewall and tried to run, same result with problems), no proxy, no antivirus programm (except for IO-Bit Malwarefighter). The program HT-History downloaded, installed, authorised and run - no problem. I can see all Tabs, means Players, Match Archive and Transfers. Absolutely problemfree and easy. Next ? .... :)

[2020-10-28 17:43] wsbrenk commented on #751
https://github.com/wsbrenk/HO/tree/%23751

no progress today;-(

[2020-10-28 17:45] akasolace commented on #735
could you try to run HO! without IO-Bit Malwarefighter ?
also you told me you already tried with fresh install (i.e resetting the token) and you still had the issue, right ?

[2020-10-28 18:51] Synthespian commented on #742
No worries.
g-drive link sent privately.

[2020-10-28 18:54] Synthespian commented on #742
Happy to stay on this version for now, otherwise can always create new portable version in another folder / over the top of this one.
Not sure of the easiest way. :)

[2020-10-28 19:54] #746 closed

[2020-10-28 20:40] akasolace opened #756 "[BUG] add match event 311"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-10-28 20:41] akasolace opened #757 "[BUG] ignore Match Event 471 and add bug if broken size > 0"
core/file/xml/XMLMatchdetailsParser.java

[2020-10-28 20:55] akasolace commented on #751
I just ran your branch, I downloaded new data and I did not experience the bug you are referring too. I just notice some missing/incorrect match event I opened tickets #756 and #757 for those

Otherwise I saw strange message like a lot of message like:
   -[Debug]   XMLMatchdetailsParser: XMLMatchdetailsParser[665979475]: Cannot parse matchreport from matchdetails, lineup MUST be available!

I did

[2020-10-28 22:26] wsbrenk commented on #751
"AWT-EventQueue-0@2042" prio=6 tid=0x15 nid=NA runnable
  java.lang.Thread.State: RUNNABLE
	  at core.net.OnlineWorker.downloadMatchData(OnlineWorker.java:279)
	  at core.net.OnlineWorker.downloadMatchData(OnlineWorker.java:261)
	  at core.model.match.Matchdetails.getHighlights(Matchdetails.java:888)
	  at core.file.xml.XMLMatchdetailsParser.parseMatchReport(XMLMatchdetailsParser.java:488)
	  at c

[2020-10-29 07:14] akasolace commented on #751
@wsbrenk to get this error you simply try to download new data ?

[2020-10-29 08:48] weisJ commented on #746
Added!

[2020-10-29 20:58] #757 closed

[2020-10-29 20:59] akasolace commented on #756
closed by #758

[2020-10-29 20:59] #756 closed

[2020-10-29 21:01] akasolace commented on #735
@KlausAH-Hattrick  also did you try with portable version ? Do you have the same result ?

[2020-10-29 21:20] akasolace commented on #751
@wsbrenk I looked at your log and it seems the following is happening (I can't reproduce cuase I do not have problematic game)

XMLMatchdetailsParser.java L50:  readHighlights(doc, md, matchLineup);
XMLMatchdetailsParser.java L51:  parseMatchReport(md);

this assumes that readHighlights will not set highlights == null or highlights.size == 0

so what I suggest is to replace the L51 by something li

[2020-10-29 23:38] wsbrenk commented on #751
there was a player without first name

[2020-10-30 00:15] wsbrenk commented on #751
this fixes it - downloaded my complete match history since 2004. a little bit beautify stuff and i will push the changes.

[2020-10-30 07:17] pc-partner opened #761 "[BUG] java.lang.NullPointerException at module.lineup.Lineup.UpdateLineupWithMatchOrder(Lineup.java:2013)"
When resetting the orders for the game (red icon, right bottom screen) we get this error:
It worked before for months:

java.lang.NullPointerException
	at module.lineup.Lineup.UpdateLineupWithMatchOrder(Lineup.java:2013)
	at core.rating.RatingPredictionManager.setLineupEvolution(RatingPredictionManager.java:191)
	at core.rating.RatingPredictionManager.<init>(RatingPredictionManager.java:114)
	at c

[2020-10-30 07:34] akasolace commented on #751
@wsbrenk sorry I did not follow that much but should PR #735 still be merged ?

[2020-10-30 07:36] akasolace commented on #761
@pc-partner which version of HO are you using? Could you share the problematic database in this post ?

[2020-10-30 07:40] pc-partner commented on #761
3.000

[db_singleUser-2020-10-30.zip](https://github.com/akasolace/HO/files/5463601/db_singleUser-2020-10-30.zip)

[2020-10-30 07:43] akasolace commented on #761
Because we are so closed from 4.0 release. Could you check if the error still occur with latest beta vesion? For safety please keep a backup of your existing db before upgrading it.
If the error still there, please edit your first post: remove the logs or keep only the first 2 lines and give the exact steps that throws the error.
Thank you

[2020-10-30 07:56] pc-partner commented on #761
That is the fix...now running 4.0
DOwnload the zip file and copy the files into existing folder.

[2020-10-30 09:50] akasolace commented on #761
ok so just to be sure, you are saying it works with 4.0 ? I can close this ticket ?

[2020-10-30 09:57] pc-partner commented on #761
Correct

[2020-10-30 09:58] #761 closed

[2020-10-30 18:14] KlausAH-Hattrick commented on #735
Disabled Windows Firewall, uninstalled IO-Bit Malware Fighter, uninstalled small programs of past two months, installed the HO4-Portable version - results are the same as before with permanent error messages.

[2020-10-30 18:30] wsbrenk commented on #751
@akasolace i assume that PR 735 could be a consequential error of KlausAhs "network problems". but i'm not sure about it. since it is a very small and easy to check request, i would merge it if you do not find some bad errors.

[2020-10-30 19:00] wsbrenk commented on #735
@akasolace i remember that @KlausAH-Hattrick  is running Windows 8.1 (see his logs). could it be, that openjdk14.01 has problems with such an old windows version?

[2020-10-30 20:23] #751 closed

[2020-10-30 20:28] akasolace commented on #735
@KlausAH-Hattrick are you running the portable version with the embedded JDK ?

[2020-10-30 20:48] KlausAH-Hattrick commented on #735
That's the one I used for installation: HO-4.0.1.3266-portable-win-BETA-JRE

[2020-10-30 21:01] akasolace commented on #735
@KlausAH-Hattrick

Just tried again, open your db and click download: I had no issue

![image](https://user-images.githubusercontent.com/1136496/97754979-ae18bb00-1af8-11eb-99a7-c069f56020e3.png)

we can't reproduce the bug so it is complicated to go further. As it works for me it means your token is valid, your db is not corrupted and HO! is working. It has to do with your system config but we ca

[2020-10-30 22:24] karlinonegool opened #762 "[BUG] No Numbers for Skills in TeamAnalyzer"
**Describe the bug**
In the preferences you can chose if you want to have the numbers next to the skills (eg. passable (6), solid (7) etc.). Even if this option is active, it is not shown in the module "TeamAnalyzer".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences.'
2. Make sure 'Show numbers for skills : passable (6)' is active
3. Open 'TeamAnalyzer'
4. Click on "Update"

[2020-10-31 09:16] akasolace commented on #762
@karlinonegool actually, I just realized there are specific settings for this module. You need to go to
Preference => Modules => Team Analyser (Options) => Select Numeric Ratings

[2020-10-31 09:16] #762 closed

[2020-10-31 13:13] wsbrenk commented on #367
the only thing i'm missing in chpp is the youth training information

according to chpp documentation, the following information is available
* player details
* match lineups

A youth panel could show
- player overview table
  - name
  - age
  - number of matches
  - specialty
  - skill estimations/potential
  - scouting information
  - promotion date/info
- player details view (of selection in ov

[2020-11-01 14:04] wsbrenk commented on #367
download youth team basic information:

![image](https://user-images.githubusercontent.com/11821502/97804978-7bcfa080-1c53-11eb-9039-190f72702f79.png)

[2020-11-01 15:58] akasolace commented on #367
@wsbrenk cool. This is a big one, let me know if you want me to help on some parts of this one ...

[2020-11-01 15:59] akasolace opened #763 "[BUG] coach icons is missing"
![image](https://user-images.githubusercontent.com/1136496/97807856-9a3d9800-1c63-11eb-9694-8a36b6d4c394.png)

[2020-11-01 16:06] #763 closed

[2020-11-01 16:58] datatramp commented on #763
the coach is missing and all icons are white blocks in some skins!
screenshot with all different icons
[https://ibb.co/Y0rgk94](url)

[2020-11-01 21:00] akasolace opened #764 "[BUG] smileys icons not rendered properly in overview table"
the coach is missing and all icons are white blocks in some skins!
screenshot with all different icons
[https://ibb.co/Y0rgk94](url)

_Originally posted by @datatramp in https://github.com/akasolace/HO/issues/763#issuecomment-720118730_

[2020-11-01 21:02] akasolace commented on #764
https://github.com/akasolace/HO/blob/085d5290fbf157683290c7fe50f4fa942cb2708f/src/main/java/core/gui/theme/ImageUtilities.java#L554

[2020-11-02 13:19] akasolace commented on #764
@datatramp, on master:

**Darkula:**
![image](https://user-images.githubusercontent.com/1136496/97871505-e72d7700-1d14-11eb-9c6c-2ced047aa03d.png)

**solarized:**
![image](https://user-images.githubusercontent.com/1136496/97871382-b77e6f00-1d14-11eb-9dac-0a0264a7a8da.png)

**solarized light:**
![image](https://user-images.githubusercontent.com/1136496/97871452-d1b84d00-1d14-11eb-9d18-3eadf76e9ce6.

[2020-11-02 13:24] #764 closed

[2020-11-02 15:16] akasolace opened #766 "[BUG] Thematize specialty icons"
**Describe the bug**
Specialty ions are at the moment not properly visible with dark themes

[2020-11-02 16:23] akasolace opened #767 "[BUG] clicking on Matches TAB should never throws a connexion error"
One might want to launch HO even without internet connexion. In that case he would expect everything to work except downloading data.
Clicking on match tab breaks that behaviour and enter into never-ending broken loop:

Proposal:
   - [ ] when clicking on match tab; if download error fails, it should exit loop silently,
   - [ ] match download should not be silent (information should be put in inf

[2020-11-02 18:00] wsbrenk commented on #767
Absolutely

[2020-11-02 20:13] akasolace opened #769 "[BUG] Thematize match events"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-11-03 08:00] akasolace opened #771 "Bad rendering of PlayersCB after upgrade of Darklaf 2.4 -> 2.5"
**Darklaf 2.4:**

![image](https://user-images.githubusercontent.com/1136496/97918709-d4d42d00-1d56-11eb-9980-73a7b60b71c9.png)

**Darklaf 2.5:**  -The bottom line is truncated
![image](https://user-images.githubusercontent.com/1136496/97918784-f503ec00-1d56-11eb-89b3-21fabae6f73b.png)

[2020-11-03 08:33] akasolace commented on #771
@weisJ any inputs would be very helpful...

[2020-11-03 11:20] weisJ commented on #771
Could you guide me to the renderer used for the combobox?

[2020-11-03 11:22] akasolace commented on #771
I guess it has something to https://github.com/weisJ/darklaf/commit/e1d0c3d9df95bafd374088209c69f0dfe9b4102f

[2020-11-03 11:41] akasolace commented on #771
(https://github.com/akasolace/HO/blob/23d8b3299ba3a773550bc01963cacd54c0c6ff01/src/main/java/module/lineup/PlayerPositionPanel.java#L57)

 m_clEntry = new SpielerLabelEntry(null, null, 0f, true, true, true, " ", true);

then it calls the following with m_bMultiLine = true
https://github.com/akasolace/HO/blob/373bc26ee9692f714b9aa79cd36a9f85d3003370/src/main/java/core/gui/comp/entry/SpielerLabelEnt

[2020-11-03 13:07] weisJ commented on #771
Could you please try to use the `latest.integration` version of darklaf? I wasn't able to reproduce the issue 100% but made some changes that may fix it.

[2020-11-03 14:02] akasolace commented on #769
https://gigabaseorgigabyte.wordpress.com/2017/11/15/resizing-and-combining-multiple-svg-images/
https://github.com/btel/svg_utils

[2020-11-03 14:14] akasolace commented on #771
@weisJ just tried it .. still resolves to 2.5.1

[2020-11-03 14:16] weisJ commented on #771
Have you added the snapshot repository?
[code]

[2020-11-03 14:18] akasolace commented on #771
just realized that sorry ....

[2020-11-03 14:26] akasolace commented on #771
@weisJ  It is better (the last line is now cropped just a bit)

![image](https://user-images.githubusercontent.com/1136496/97997058-da7a5300-1de8-11eb-8e97-1d99fd67e0b6.png)

[2020-11-03 14:29] weisJ commented on #771
https://github.com/akasolace/HO/blob/373bc26ee9692f714b9aa79cd36a9f85d3003370/src/main/java/core/gui/comp/entry/SpielerLabelEntry.java#L254

Are you sure this reserves enough space for the cell renderer? Why is the value even hardcoded?

[2020-11-03 14:36] akasolace commented on #771
strangely enough commenting this out does not change anything ....

[2020-11-03 14:38] weisJ commented on #771
The line exists at multiple places e.g. here too
https://github.com/akasolace/HO/blob/373bc26ee9692f714b9aa79cd36a9f85d3003370/src/main/java/core/gui/comp/entry/SpielerLabelEntry.java#L321

[2020-11-03 14:46] akasolace commented on #771
Yes I think I remove them all but does not change anything so far ...
what seems different is that before (top image) the dropbox was steping on the border (clearly visible on element with blue border) but now it seems this has been fixed so it leaves less place to the rendering

[2020-11-03 16:14] weisJ commented on #771
The problem is https://github.com/akasolace/HO/blob/373bc26ee9692f714b9aa79cd36a9f85d3003370/src/main/java/core/gui/comp/entry/SpielerLabelEntry.java#L88
Making the font bold results in a larger component. The preferred size is calculated while the font isn't bold resulting in the smaller size. This wasn't visible with darklaf <=2.4.* because the insets use insets were barely large enough to cover

[2020-11-03 16:53] akasolace commented on #771
@weisJ   I will have a careful read ... thank you !

[2020-11-03 20:28] wsbrenk commented on #367
youth player details have reached the hrf file:

[youthplayer262719284]
Name=Achim Knäppchen
Age=17
AgeDays=60
ArrivalDate=2020-06-27 09:05:00
CanBePromotedIn=-17
PlayerNumber=100
Statement=
OwnerNotes=
PlayerCategoryID=0
Cards=0
InjuryLevel=-1
Specialty=0
CareerGoals=1
CareerHattricks=0
LeagueGoals=0
FriendlyGoals=2
PlayerCategoryID=0
KeeperSkill=
KeeperSkillIsAvailable=False
KeeperSkillIsMaxReac

[2020-11-04 07:30] #766 closed

[2020-11-04 07:54] akasolace commented on #771
I think this line does not apply to the comboBox but to the entries in the table below:

![image](https://user-images.githubusercontent.com/1136496/98083887-4ad1b480-1e7b-11eb-92af-982993779d1e.png)

[2020-11-04 14:07] weisJ commented on #771
The font in fact doesn't affect the displayed value in the combobox. But it **does** apply to the values displayed in the popup, which makes for a weird rollover behaviour.
To be honest I wasn't able to reproduce the behaviour locally. But I didn't quite manage to replicate the exact icon setup, so there is that.

On a different note regarding

[code]

If there are custom colours (background or fo

[2020-11-04 17:42] akasolace commented on #771
Ok I will check that. Otherwise, I did not manage to have the checkbox properly rendered using darklaf. I played with all the parameters I could think of but nothing work. Everything work as expecting using Nimbus theme or darklaf < 2.5.0 .

If you launched HO! I guess you did not had anything displayed. If you are interested to reproduce locally to debug darklaf I can provide you with a test db.

[2020-11-04 19:17] weisJ commented on #771
Could you please elaborate what you mean with that?

That would be very helpful 👍🏻

[2020-11-04 19:58] akasolace commented on #771
with Nimbus:
![image](https://user-images.githubusercontent.com/1136496/98161147-8dc57380-1edf-11eb-9287-74a0bdfdaa14.png)

you can download the db here:
https://wetransfer.com/downloads/505448aeaeacd6c0c1bb6223d4d0c2fb20201104195641/38ba6b8ceb10df6f962fada9b29222d320201104195641/09204d

[2020-11-04 20:27] weisJ commented on #771
Sorry I wasn't clear enough. I was referring to the following part:

Thank you I'll have another look.

[2020-11-04 20:39] #767 closed

[2020-11-04 20:43] akasolace commented on #771
I meant that with either Nimbus **or with a version of darklaf in the 2.4.x serie those combobox are properly displayed** (not truncated)

Thank you ... let me know if I can help you in any ways !

[2020-11-04 20:45] weisJ commented on #771
I just checked with the db and I encounter no issues with the `latest.integration` darklaf version. Could you please verify it also works for you?

[2020-11-04 20:48] akasolace commented on #771
You made some changes since this morning, when I tried I had an improvement but was still slightly cropped.

https://github.com/akasolace/HO/issues/771#issuecomment-721147915

[2020-11-04 20:49] akasolace commented on #771
@weisJ I think the db I sent you is using nimbus by default .... have you tried with a darklaf theme ?  File -> Preference - > Misc -> Skin

[2020-11-04 20:56] weisJ commented on #771
I did use darklaf :D.  But the text isn't cropped for me... Have you checked that the actual latest snapshot is used. Either add
[code]
or run `gradlew --refresh-dependencies`

[2020-11-05 00:52] Crip1 opened #772 "[BUG] - Fatal Database Error"
**Describe the bug**
I get the message,

Fatal database error.   Exiting HO!
You should restore the db-folder from backup or delete that folder

**To Reproduce**

1. Start HO 3.0
2. I get error message above
3. Click on "OK"
4. Restore database window comes up
5. Selecting and of the files shown,  *2020-10-28.zip, *2020-10-30.zip, or *2020-11-4.zip and clicking on Restore
6.   Nothing happens, HO

[2020-11-05 01:23] Crip1 commented on #772
I deleted the .db folder, restored one of the .zip folder to a backup directory, copied the contents of the backup directory to the .db folder.     Same problem.     There was a .lck and .log file that I couldn't delete using windows file manager, which was saying Java was using them.     I got rid of the .lck and .log file another way, but still the same problem when I tried to run HO.

[2020-11-05 08:37] akasolace commented on #772
hi @Crip1,
you can use wetransfer service to share large documents. Paste here the downloable link of the zipped database.

[2020-11-05 08:58] akasolace commented on #771
I guess the snapshot changed in between. If I used the snapshot downloaded the 03/11 3.18 pm I got the screenshot I posted at the time (line still crop but much less) and no other visual changes.

I just refresh dependencies. A new snapshot of 2.5.2 was donwloded (different hash sum than the one on 03/11). This time:
   - no more cropping (problem solved)
   - brownish background (not sure if this

[2020-11-05 09:02] weisJ commented on #771
Great!
The brownish background comes from a change in darklaf where the background of the combobox adapts to the background of the current cell renderer. So I guess the brown background comes from HO.

[2020-11-05 12:19] akasolace commented on #771
![image](https://user-images.githubusercontent.com/1136496/98223254-27c60400-1f52-11eb-9c6e-61cc12969ea8.png)

Ok I see, indeed the background is set by HO! depending if the player is aligned or not. Until 2.5.2, this was only applied to the items in the list (but the selected item still had the theme background.  It might not have been very consistent but visually it is much nicer (by the way thi

[2020-11-05 12:32] weisJ commented on #771
The renderer for the value in the combobox is requested using `#getListCellRendererComponent(..., value, -1, false, false)` i.e. `index` will be `-1`. Based on this the you could apply the colour or not.

[2020-11-05 13:25] Crip1 commented on #772
Here's the we transfer link to the 3 zip folders

https://we.tl/t-pjtxiBa93O

And here's the link to the files currently in that folder (though they may have been based on what I extracted from one of the .zip folders last night).

<<<I've been trying to upload the files themselves in wetransfer, but it keeps hanging up in the wetransfer processs.    I will keep trying, but meanwhile, I will just

[2020-11-05 13:55] Crip1 commented on #772
Turned out I didn't completely remove the database.lck and database.log files.

Although they had disappeared from my file directory, the program I was using to remove them asked for a restart of the computer, which I didn't do.     This morning, the database.lck and database.log files were back in the db folder.      I removed them again, and this time, I did a hard re-boot of the computer.     T

[2020-11-05 14:24] akasolace commented on #772
ok glad your HO! is up and running
I close this ticket

[2020-11-05 14:24] #772 closed

[2020-11-05 14:33] akasolace commented on #771
@weisJ  last question, when do you think 2.5.2 will be released ?

[2020-11-05 18:41] weisJ commented on #771
Probably tomorrow or saturday.

[2020-11-07 11:03] wsbrenk commented on #367
youth player details have reached HO database:

![image](https://user-images.githubusercontent.com/11821502/98439291-3e569180-20f1-11eb-9c25-e24ef9c69482.png)

![image](https://user-images.githubusercontent.com/11821502/98439281-2b43c180-20f1-11eb-9a1a-bea35461ebe0.png)

[2020-11-07 12:49] wsbrenk commented on #367
@akasolace , @tychobrailleur
now we could easily split the further processing. If someone wants to take over the test of loading and realizing the display of the data in a new YOUTH Academy module, he is welcome.

[2020-11-07 15:11] akasolace commented on #367
@wsbrenk let's discuss this on slack... see exactly what is required and we can split the effort. Personally for 5.0 I had in mind to work on allowing theme for all icons (including match events) for this I imagine a dedicated tool that would allow external help from the forum. But we would have time as all of this is for 5.0.

[2020-11-07 15:14] akasolace commented on #769
@weisJ this might be a very stupid question but is darklaf compatible with JavaFX. I would like to know if creating a JavaFX panel within HO would be a possibility.

[2020-11-07 16:14] weisJ commented on #769
Darklaf is not compatible. JavaFx is a completely different UI framework and not based on Swing. I might port darklaf to JavaFX in the future but this will be a big undertaking. However mixing Swing and JavaFX is generally a bad idea and needs to done very carefully (see [this blog post](https://dlemmermann.wordpress.com/2014/07/17/javafx-tip-9-do-not-mix-swing-javafx/)).

[2020-11-07 16:57] wsbrenk opened #774 "[BUG]own team was removed from team analyzer's team combo box"
wettnetzer wrote per ht-mail:

 Is it intentional that the team analyzer has removed the possibility to analyze your own team? I've been using the HO for more than 10 years now and I've been using this option to see what the opponent sees when he analyzes my team. So I'd like if this would be possible again,..

[2020-11-08 09:30] wsbrenk commented on #774
@yaute74 i found you was working at last on the mentioned combo box. Could you have a look if that could easily be resetted?

[2020-11-08 09:40] emar9 opened #775 "Feedback Plugin not working"
I get an error message that says "The lineup in HO does not meet the requirements..." when I click on refresh.
I've checked all the points they are OK.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lineup'
2. Click on 'Help to improve rating prediction' button on the right side where you see the rating prediction
3. Copy the ratings from the hattrick lineup page by clicking on the '

[2020-11-08 10:00] emar9 commented on #775
Sorry I was checking the manual and now I think know how to do it.
I recommend to improve the instruction on point 1.

[2020-11-08 10:08] emar9 commented on #775
Well, now I did it according the manual and I get following error:

![image](https://user-images.githubusercontent.com/51410121/98462201-a325f080-21b2-11eb-986f-67566a73590a.png)

[2020-11-08 13:05] pc-partner opened #776 "New man marking[BUG]"
**Describe the bug**
When clicking on the botton "new man marking" I get the following java error.
Version 4 r 3276
![2020-11-08_14-03-32](https://user-images.githubusercontent.com/19971929/98465749-631f3780-21cb-11eb-97ce-7db156970ef6.png)

java.lang.NumberFormatException: For input string: ""
	at java.base/java.lang.NumberFormatException.forInputString(NumberFormatException.java:68)
	at java.bas

[2020-11-08 15:48] wsbrenk commented on #776
@pc-partner i'm a little bit confused concerning the HO version you mention. The latest beta i know is r3269 from last weekend. In this version the bug should be fixed ( see #743). Could you try to verify that?

[2020-11-08 16:01] wsbrenk commented on #367
chpp match details and lineup files are identical in hattrick and youth source system. I would like to introduce a column SourceSystem to the matchdetails and matchlineup tables and use the same download and database access methods in both systems.

[2020-11-08 16:05] pc-partner commented on #776
Hi, see pictures.
This is the one I downloaded after I logged an other case with another bug. Do I need to downgrade?
![2020-11-08_17-04-22](https://user-images.githubusercontent.com/19971929/98470213-830f2500-21e4-11eb-9dd1-1d1616690da9.png)

[2020-11-08 16:27] akasolace commented on #776
@pc-partner I will release a new version shortly. For the time being you should stick with your version. In the future I suggest you stick on BETA or STABLE channel. DEV channel is really intended for devs only.

[2020-11-08 16:27] akasolace commented on #775
@emar9 yes feedback plugin is broken for the time being....

[2020-11-08 16:30] wsbrenk commented on #776
@akasolace do you know if DEV r3276 is older than BETA r3269?

[2020-11-08 17:10] akasolace commented on #776
yes I think it is. When I was debugging the updater tool, I pushed a lot of dev version. Once I merged one of your branch with a lower version numbers. I did not bother to fix it once I realized because I thought only the 2 of us where using dev release.

[2020-11-08 17:10] akasolace commented on #367
yes make sense

[2020-11-08 17:12] pc-partner commented on #776
Sry guys. My bad

[2020-11-08 17:15] akasolace commented on #776
I close the issue then.  I might release a new dev version later today that you can upgrade to. After that you can put beta channel in your preferences

[2020-11-08 17:25] #370 closed

[2020-11-08 20:04] #771 closed

[2020-11-09 09:01] akasolace commented on #775
linked to #583

[2020-11-09 19:33] #742 closed

[2020-11-10 10:23] akasolace commented on #769
@weisJ I would like a tool to test icons versus the different install themes. The idea is to have a dedicated popup window, where one could choose an icon name using let say a combobox and the selected icon will be displayed against all backgroud colors. Something like:

`for themeName in ["Darcula", "Solarized", ....]:
       label.setBackground(XXX(themeName).getColor(HOColorName.TABLEENTRY_BG))

[2020-11-10 12:18] Synthespian commented on #742
No worries in switching to #777.
Happy to test when ready (still shows as latest version today)

[2020-11-10 18:57] weisJ commented on #769
I'm not quite sure I understand what this `XXX` function should return? What I understand is that (correct me here if I am wrong):
- You want to access the background colour of all themes, without changing the LaF,
- to display icons on top of the different backgrounds (side by side).

Should the icon also adapt to the colour of the respective theme?

Sidenote: There are predefined colours which a

[2020-11-11 07:46] #776 closed

[2020-11-11 08:46] #774 closed

[2020-11-11 08:46] akasolace commented on #774
@wsbrenk maybe you can have a quick look to confirm this is fixed by 2ee1a5f

[2020-11-11 10:25] akasolace commented on #769
Yes what you describe is correct. The idea is to include in HO! a tool allowing user to help customize our icons (we have ~100).

I imagine the tool something like a window, where user can select an icon using a dropbox which will list all our icons.
Let say user select Icon1.

In the window there would be on panel per available theme, and each panel would:
   - have a label e.g. "Darkula", "Solar

[2020-11-11 12:39] weisJ commented on #769
The easiest (and most memory efficient) approach would be the following:
[code]
The `"background"` property is guaranteed to be present in each theme. However this approach assumes that `"background"` doesn't change at a later stage of theme loading (e.g. when applying accent colours etc.). However this is very unlikely.

___

I'll have to see what the best strategy would be for something like thi

[2020-11-11 13:18] akasolace commented on #769
thank you @weisJ, I will use the approach you suggested to get the background color.

If I understand correctly, getting the available variable for a given svg and changing them on the fly might not be as easy as I thought and you will come back to me with a viable approach (with maybe new method in Darklaf), is that correct?

[2020-11-11 13:57] weisJ commented on #769
Yes.

[2020-11-11 18:06] wsbrenk commented on #774
@akasolace It works. Minor change: Could you put the own team to the end of the list, since the most likely selection would be the next opponent team which is now no longer preselected.

[2020-11-11 20:14] akasolace commented on #774
Arf I made in purpose to have it first as it was previously implemented. But if you think it is best to have it last I can do that.

[2020-11-11 21:39] wsbrenk commented on #774
@akasolace i would really prefer it on last position - hopefully the (most) other users will see it the same way

[2020-11-11 22:07] akasolace commented on #774
ok I will do that tomorrow

[2020-11-12 15:54] #160 closed

[2020-11-12 15:56] #3 closed

[2020-11-12 15:56] #65 closed

[2020-11-12 15:57] akasolace commented on #156
this would not be compatible with version comparison required by install4j

[2020-11-12 15:57] #156 closed

[2020-11-12 15:58] #260 closed

[2020-11-13 08:01] akasolace commented on #405
@wsbrenk what do you think about this one? Is it something we should offer ?

[2020-11-13 08:01] #594 closed

[2020-11-13 08:02] #735 closed

[2020-11-13 08:04] #702 closed

[2020-11-13 08:06] #775 closed

[2020-11-13 08:10] akasolace opened #779 "[RLS] 5.0"
**Tracking PRs and Issues**

[Open PRs](https://github.com/akasolace/HO/pulls?q=is%3Aopen+is%3Apr+milestone%3A5.0)
[Open Issues](https://github.com/akasolace/HO/issues?q=is%3Aopen+is%3Aissue+milestone%3A5.0)

** Release Process:**
 - [x] create release branch @akasolace
 - [x] update release note in [HO](src/main/resources/changelog.md) (up to date before BETA)
 - [x] terminate DEV Q&A, create 1st

[2020-11-13 08:21] akasolace commented on #530
In the meantime I received information from @weisJ that Darklaf is not compatible with JavaFX so we should stick with a Swing pannel.

[2020-11-13 12:42] akasolace opened #780 "[Enhancement] Redo statisctics modules"
- [ ] Add Club statistics (incl. ranking and power rating)
   - [ ] Clean up existing tab (labels, doublons ... )
   - [ ] Adjust graph colors for all themes

[2020-11-13 12:51] akasolace commented on #780
@weisJ in part of the application we are doing graphs and we are using a 10 colors palettes. This unique palette was designed for Nimbus theme and does not work for dark theme. I thought it might make sense to have something like this directly in DarkLaf (e.g. a new category in https://weisj.github.io/darklaf-docs/darcula/defaults_windows.html). What do you think?

[2020-11-13 13:40] akasolace commented on #780
@weisJ also I noticed that values in https://weisj.github.io/darklaf-docs/darcula/defaults_windows.html are incorrect. For example:

%background #21252B is in reality #0E3C4A https://github.com/weisJ/darklaf/blob/deae2142da257b048549f23a5edd3fceb578e50d/theme/src/main/resources/com/github/weisj/darklaf/theme/solarized_dark/solarized_dark_defaults.properties#L31

[2020-11-13 17:34] akasolace commented on #780
![image](https://user-images.githubusercontent.com/1136496/99102724-c8659500-25de-11eb-9247-4b93416ea658.png)

[2020-11-13 18:06] weisJ commented on #780
Sounds like a reasonable idea. Do you habe a list of the colours which are currently used? Are those colours fixed i.e do they need to have the hue they currently have? I am asking because if I add colour palettes to darklaf I would want to cover as many different colours (hues) with as few colours as possible (adding new colours always takes a bit of time and once they are added it's not that eas

[2020-11-13 18:39] akasolace commented on #780
@weisJ I started to create 5, 10 and 15 palettes for the various themes.
work is ongoing https://github.com/akasolace/HO/tree/bug/454

[2020-11-13 18:46] akasolace commented on #780
Matches Panel

![image](https://user-images.githubusercontent.com/1136496/99109294-e33d0700-25e8-11eb-86be-d914012078ae.png)

[2020-11-13 23:05] Synthespian commented on #733
I think it's a java issue.
I've got a similar "duplication of layers" with a mouseover with this and another application, so not something specific to HO.
Have dual screen setup.

Will grab a screenshot next time.

[2020-11-13 23:08] Synthespian opened #781 "[BUG] (Short) Passing not recognised in training update"
**Describe the bug**
Have just had a week of "short passing" or "passing" in the new training regime.
On loading the team, there has been no update to the subskills, nor the training estimation.

**To Reproduce**
Train "passing"
Complete the week.
download data

**Screenshots**
![image](https://user-images.githubusercontent.com/48737160/99129240-e645f080-2604-11eb-9b4b-c617b5293f73.png)

**Platfor

[2020-11-14 20:51] akasolace commented on #733
ah ok good to know, thank you @Synthespian

[2020-11-14 20:53] akasolace commented on #781
@wsbrenk can you look at this one ?

@Synthespian those issue should be close from now on but as the version you were using has this bug, you will need to do a manual download this time again:-(

[2020-11-14 22:53] wsbrenk commented on #781
if @Synthespian could make available his database i could try to reproduce this issue.

[2020-11-14 23:17] wsbrenk commented on #733
checked with openjdk15 and adopt-openjdk15. every time the same issue. i would be surprised if this is due to java.

[2020-11-15 09:38] wsbrenk commented on #781
Concerning context: at the morning of Nov 13th there was a devision battle match in which the opponent did not make a line-up. maybe this could cause the described problem!?

[2020-11-15 10:34] wsbrenk commented on #367
youth match lineup players have reached the database (SourceSystem==1):

![image](https://user-images.githubusercontent.com/11821502/99182656-6ddf4c80-2736-11eb-95d6-1dcee1a00589.png)

[2020-11-15 12:15] wsbrenk commented on #367
next, we need
- a youth match training table to store user input of primary and secondary trainings for each played match
- in this table of another one we could store info about future training plans for youth players (since matches are only available for a few future matches, we should manage this information per week)
- some skill estimation routines

[2020-11-15 15:45] wsbrenk commented on #733
some citations from web, i found:

"... I accidently put the Display.update() call in my game loop instead of the render loop so it was called too often."

[2020-11-15 16:23] datatramp opened #782 "[FEATURE] Adjust/ type digits in subskill player menu"
Minor issue or maybe I am doing something wrong:

HO! 4.0 BETA r3299
Win10 Pro Version 2004 Build 19041.630

I have to adjust player experience level due to a player participating in U20 Worldcup Matches (+0.35 each game Yay!)

Subskills in player menu can be adjusted by moving the bar next to skills.

Request:
I like to adjust the digits directly by marking and typing the numbers.

Currently numb

[2020-11-15 17:12] akasolace opened #783 "[ENHANCEMENT] League Tab"
What I would like is to have at each data download, those additional information downloaded:
      - team ranking of all teams in the league
      - Hatstats of all matches of the league

This might require a new table, like currently extra that would be reset at the end of each seasons. Then we would add:
   - in the league table, additional information like power ranking, max HatStats, (league r

[2020-11-15 18:04] Synthespian commented on #781
Logs sent.
And I did make the lineup for the division battle.  Won it 3-0. You made me check! 😛
Happy to upgrade and close #742/#777 but stuck on JRE non-install version so just need to know which files to overwrite or which files/folders to keep. 😄

[2020-11-15 18:12] Synthespian opened #784 "[FEATURE] Match Replay Calculation Tab"
**Is your feature request related to a problem? Please describe.**
Create the option to see suggested stats if you were to "replay" the game.

**Describe the solution you'd like**
https://haruspex.altervista.org/matches
Works really nicely.  Maybe an api call to the site's engine, or a collaboration of the logic?

**Additional context**
When you see how bad my luck is to lose 1-2 and concede two g

[2020-11-16 12:03] tychobrailleur commented on #783
I love the idea!  We could also maintain "historic data" regarding best games and most surprising games since beginning (this may require to fetch a lot of games, so this would need to be considered)

If we want to display more details, we probably need to look into "compacting" the current lower panel that displays all games?

[2020-11-16 14:22] akasolace commented on #783
for this we could do what was implemented by @wsbrenk for the match tab,  silent download of 10 historical games per HO launch in order to rebuild the historic. It allows to slowly recover data without being too painful for the user.  At some point we might let the user select via preference if he want to opt-in our out that functionality.  Also we might decide to make it part of the download func

[2020-11-17 10:23] dominiquelee opened #785 "[BUG] Pressing rating calculation is wrong"
The pressing rating calculation can be wildly off. For instance, in match 665920092, my team had a level 14 pressing while HO predicts it to be 9.37.

I was not able to find any definitive answer on the actual formula, but here are some information:
- from the rules:

Disadvantage: It will drain the stamina of your players faster than normal.
- the player impact is computed here: https://github.co

[2020-11-18 07:47] akasolace opened #786 "[BUG] Error when trying to download new data"
**Describe the bug**

Since yesterday, trying to download new data raise:

![image](https://user-images.githubusercontent.com/1136496/99500298-7031e880-297a-11eb-952a-65eb7fb5b513.png)

Some data are downloaded but not everything.

@wsbrenk are you experiencing it ?

[2020-11-18 08:12] johari75 commented on #786
I face that problem since beginning of this week.
Downloading matches does not work any more.
In the League Details tab I can see that my last match is downloaded but in the Matches tab there are no data about it.

Additionally the list of opponents in the TeamAnalyzer tab decreases by the last opponent (it is the only one I had both matches of this season)

[2020-11-18 08:16] tychobrailleur commented on #786
Same here

[2020-11-18 08:22] johari75 commented on #786
It works again. CHPP problems?

[2020-11-18 08:25] tychobrailleur commented on #786
Yes, it must be, although right now it is looking ok. (also works for me again)

![Screenshot from 2020-11-18 08-24-36](https://user-images.githubusercontent.com/114285/99504491-838f8480-2977-11eb-837a-3c7056504035.png)

[2020-11-18 08:26] johari75 commented on #786
I checked the status yesterday. It looked like this too but didn´t work.

[2020-11-18 14:54] akasolace commented on #786
looks like things are back to normal. It should have been a non reported issue on CHPP side.

[2020-11-18 14:54] #786 closed

[2020-11-18 14:55] akasolace commented on #781
@wsbrenk do we have an issue here? I waiting for your feedback before releasing 4.0 ...

[2020-11-18 18:10] wsbrenk commented on #781
@akasolace this were the logs from Nov. 13th:

22:54:28 [Info]    core.gui.HOMainFrame: This is HO! version 4.0 r3257, have fun!
22:54:28 [Info]    core.gui.HOMainFrame: Operating system found: Windows 10 on amd64 (10.0)
22:54:28 [Info]    core.gui.HOMainFrame: Using java: 14.0.1 (AdoptOpenJDK)
22:55:02 [Info]    core.model.match.Matchdetails: Reload Matchdetails id: -1 type:League match events:0

[2020-11-18 18:35] wsbrenk opened #787 "[BUG] looser cup matches are not loaded in team analyzer"
hattrick mail from wettnetzer:

In team analyzer you can filter all possible game types, which I like to use very much. Unfortunately, the games in the loser cups are not even loaded, so of course you can't analyse them. Normally I wouldn't have noticed that, with my next league opponent it is only the case that he flew out of the Deuschland Cup very early, but hasn't played any friendlies since t

[2020-11-18 18:36] wsbrenk commented on #787
Filter.java isAcceptedMatch should be fixed accordingly.

[2020-11-18 18:51] wsbrenk commented on #405
@akasolace I could imagine that some users would like this

[2020-11-18 19:06] akasolace opened #788 "[BUG] Refactoring of statistics tab"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-11-18 19:06] akasolace opened #789 "[FEATURE] create dedicated graphic tool"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-11-18 19:08] akasolace opened #790 "[BUG] move all usage of StaticksPanel to new graphic tool (lineup tab: graph of performance)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-11-18 19:08] akasolace commented on #788
linked to #789

[2020-11-18 19:10] akasolace commented on #780
linked to #788

[2020-11-18 19:11] akasolace commented on #781
@wsbrenk so I guess I can ignore this one for the time being and release 4.0, ok for you?

[2020-11-18 19:59] akasolace opened #791 "[BUG] allow to upgrade to stable from dev/beta channel"
**Describe the bug**
At the moment new version detection is managed by HO, it looks available upgrade as follow:
  stable -> stable
  beta -> newest between beta / stable
  dev -> newest between dev/beta/stable

however download is managed by install4J which only look for same channel:
   stable -> stable
   beta -> beta
   dev -> dev

which should allow upgrade to more stable channel.

[2020-11-18 21:20] Synthespian commented on #781
Have just gone to v 3308, HO-4.0.3308.2-portable-win-JRE
Still have short passes as the training type, but will re-test the training on Friday as well.

[2020-11-18 21:31] wsbrenk commented on #781
@akasolace i think it is a good idea to wait until friday. if the bug will happen again, we should ask @Synthespian to make his database available, to help us debugging this error.
if it will not happen again on friday, we should delay the work on this ticket until we again see such a constellation again and hopefully we will get a chance to debug it then.

[2020-11-18 21:33] weisJ commented on #769
Ok as promised I am back with a solution. After some evaluation I decided that creating an api which allows creating an icon editor would be very complex and would still need some information about implementation details. Instead I'm offering an own implementation of such an editor which handles all the pitfalls one would encounter while doing so themselves. Notably I still had to add some extensi

[2020-11-18 21:36] wsbrenk commented on #781
if @Synthespian still has a backup of the database from November 13th, we could also try to reproduce the error if he provides us this database.

[2020-11-18 22:41] Synthespian commented on #781
Can give you the db as it is now.
Don't have a backup specifically after 13th.

[2020-11-19 07:46] akasolace commented on #769
Hi @weisJ,
I am working on another issue at the moment but next week I will give this is a try !
Thank you !

[2020-11-19 07:47] akasolace commented on #781
@wsbrenk sorry but I did release 4.0 before I saw your message. If there is really a bug here we will release a 4.1 shortly.

[2020-11-19 09:29] paulreds opened #792 "Feedback Plugin[BUG]"
Windows 10
![Cattura](https://user-images.githubusercontent.com/74708272/99647479-23214580-2a52-11eb-887f-56484204e788.JPG)

[2020-11-19 12:43] akasolace commented on #792
@paulreds there is already an open ticket for this, I will close this one.
Thank you

[2020-11-19 12:43] #792 closed

[2020-11-19 12:48] paulreds commented on #792
May I have the reference please?

Inviato da iPhone

[2020-11-19 15:17] akasolace commented on #792
https://github.com/akasolace/HO/issues/583

[2020-11-19 16:52] akasolace opened #793 "[BUG] seems lot of data are not parsed in XMLEconomyParser"
**Describe the bug**
At first look it seems lot of information are not parsed from the Economy xml file (This is needed to finish #788 )

[2020-11-19 16:54] #478 closed

[2020-11-19 18:32] wsbrenk commented on #781
not a problem - i think and hope

[2020-11-19 22:11] wsbrenk commented on #787
![image](https://user-images.githubusercontent.com/11821502/99730288-79c36980-2abc-11eb-87c4-46111a78246f.png)

[2020-11-20 11:15] datatramp opened #795 "[BUG] error training updates"
For two weeks (= two training updates), my players Rudolf Saarow (443528008) and Per Olsson (437782720) playing friendlies in training positions did not get correct skill increase and XP in HO!, instead my goalie  Stefan Bilder (447501191) got the full playmaking skill plus, despite playing only in goal keeper position (-> should be osmosis training)

I am training playmaking and have not changed

[2020-11-20 13:52] Synthespian commented on #733
![image](https://user-images.githubusercontent.com/48737160/99807492-7faa6080-2b37-11eb-90f1-2ae37e9c0c2c.png)
visualisation of my dual-screen java overlap

[2020-11-20 14:09] Synthespian commented on #781
WELL ... specifically to Short Passing ... I got a good update today and it worked as expected.
Curiously none of the PM trainees in my 1st team got a training update (and I missed out a week of my hrf file downloads)
and the defenders who played in the friendly of my 2nd team didn't get training.

From a short passing specific perspective, this can be closed.
Happy to throw my 3x database (do you

[2020-11-20 14:33] akasolace commented on #781
@Synthespian I am not sure I follow. You are saying that you still have issue with training and skill update but nothing specific to Short Passing, is it correct?

[2020-11-20 19:46] weisJ commented on #780
@akasolace I'm currently working on a colour palette for darklaf. However I'm not sure I can reliably find a palette for 15 different colours as 10 are about the most I can comfortably create find fitting colours for all themes without colours starting to look too similar. Do you think you could work with that? e.g. by interpolating colours to fill up the palette?

[2020-11-20 19:48] akasolace opened #797 "[BUG] NPE when clicking on player compare"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-11-20 19:52] akasolace commented on #780
@weisJ I can confirm this is challenging, I gave it a try and I made 3 palettes for respectivly 5, 10 and 15 colors. Indeed some of the colors on the 15 palettes are close one from the other.
I am not super satisied with what I did so I will clearly utilize Darlak palette for 5 and 10 colors and I will work on improving the 15 colors palettes.
Thank you

[2020-11-20 21:49] weisJ commented on #780
I just pushed the first iteration of the colour palette (which should already be quite refined, so no drastic changes are to be expected). I managed to provide 13 colours:
[code]
The names are only suggestive (and based on the provided default values). This means specifically in the same "group" of colours in different themes the names won't match as good as in others. However they all should be f

[2020-11-20 22:46] rivoluzione opened #798 "[BUG]Analisi Giocatore - Confronti"
java.lang.NullPointerException
	at java.base/java.util.Objects.requireNonNull(Objects.java:222)
	at core.gui.theme.ImageUtilities.getSvgIcon(ImageUtilities.java:698)
	at module.playeranalysis.skillCompare.MyTableCellRenderer.getTableCellRendererComponent(MyTableCellRenderer.java:80)
	at java.desktop/javax.swing.JTable.prepareRenderer(JTable.java:5741)
	at java.desktop/javax.swing.plaf.synth.SynthT

[2020-11-20 22:54] Synthespian commented on #781
Correct.  It seemed to have two different issues from before but nothing specific to short passing.

[2020-11-21 10:11] wsbrenk commented on #367
YouthTraining classes are based on an estimate of what might happen in CHPP in the future.
For the time being, the data must be entered by the users.

[2020-11-21 10:19] #793 closed

[2020-11-21 10:20] akasolace commented on #798
duplicate of #797

[2020-11-21 10:21] akasolace commented on #781
@wsbrenk I looked at my last training and I also observed some very abnormal change in decimals

[2020-11-21 10:22] akasolace commented on #367
@wsbrenk ok, for the time being I can't really look at what you are doing on this one as I am fairly busy on other issues/bugs

[2020-11-21 10:39] wsbrenk commented on #781
@akasolace me too - one new idea i had concerning that, is that the observed chpp-error would leave some corrupt objects in our database which we do not handle correctly.

[2020-11-21 10:44] wsbrenk commented on #367
@akasolace no problem - than i would progress a little slower and i will learn a lot more about gui programming in java;-)

one idea concerning conventions about method naming:

MyConnector methods should start with "download" or "upload"
DBManager methods should start with "load" or "store"
only java classes should use "get" and "set"

[2020-11-21 11:01] #797 closed

[2020-11-21 12:01] akasolace commented on #798
closed by f08e419063f8031a04391166178871b04c50505d

[2020-11-21 12:01] #798 closed

[2020-11-21 12:02] akasolace commented on #367
fine for me ...

[2020-11-21 15:25] datatramp commented on #795
What kind of additional info do you need? I can zip the complete HO4.1 appdata, put it on google drive and give you a link ...

However I started my old HO!3.0 and after Hattrick download it showed ok skill increase for all relevant players. So the error in my HO!4.1 squad must be related to a recent corrupt download from Hattrick, right? And maybe it vanishes, if I delete recent download files an

[2020-11-21 19:43] #787 closed

[2020-11-21 19:44] weisJ commented on #769
Update: The editor can now be used with other lafs than darklaf. However the experience won't be as good as with darklaf itself.

[2020-11-25 09:17] #780 closed

[2020-11-25 09:17] #788 closed

[2020-11-25 09:17] #789 closed

[2020-11-27 15:59] Synthespian commented on #781
I'm definitely not seeing some training updates unless I recalculate again.

[2020-11-27 19:26] akasolace opened #806 "[BUG] Error loading themes Darcula and Solarized"
**Describe the bug**

Error loading themes Darcula and Solarized  with Darklaf 2.5.3  from generated artefacts  (Solarized Light does not have the error)

It works well from the IDE for all themes.

@weisJ Any idea what could cause this?

[2020-11-27 19:55] akasolace commented on #806
@weisJ I investigated and I noticed the following:
when upgrading my app it keeps previous version of libraries, hence in my installation folder I had couple of darklaf jars (this is the same for other librairies HO uses). Until 2.5.2 this never caused trouble. For 2.5.3 it cause dark themes not to load. The problem is solved by manually deleting the old jars. I don't know if this can help you fin

[2020-11-27 20:44] weisJ commented on #806
What do you mean exactly by this. If there is an exception could you provide a stacktrace?

[2020-11-27 21:04] Synthespian commented on #781
[link=https://drive.google.com/file/d/1qwKkuHzSC6UUCIdoXX03kWo98F2q9KTa/view?usp=sharing]

Database from two teams updated today.
Vernon (2) was the first one I noticed.

You've got day before and today databases, and two files downloaded today. :)

[2020-11-27 21:28] akasolace commented on #806
@weisJ stack trace is just a null pointer exception when calling this function https://github.com/akasolace/HO/blob/b82a37e347533401a73e46ece7387f7138cf8f95/src/main/java/core/gui/theme/dark/DarculaDarkTheme.java#L26

.  Tomorrow I will try to see which of the following line throws it:
`afManager.setTheme(new DarculaTheme());
            UIManager.setLookAndFeel(DarkLaf.class.getCanonicalName());

[2020-11-27 21:29] akasolace commented on #781
@Synthespian thank you, this is something we will look at but might take some time as we are busy with other part of the project at the moment.

[2020-11-27 23:38] Synthespian commented on #781
Absolutely.
The most important thing if someone asks a question is that it's instantly resolved by re-calculating the training, which instantly reduces the severity/priority of the issue.

[2020-11-28 14:00] tychobrailleur commented on #752
I am not sure I understand what is needed here.  Is this still relevant?

[2020-11-28 14:12] akasolace commented on #752
Yes it is still relevant but really not something urgent as it is working well as it is. I opened this ticket if someday there is really nothing else to do in HO! :-)

[2020-11-28 14:52] #806 closed

[2020-11-28 19:27] Vigneshr22 opened #808 "[BUG]"
**Describe the bug**
Hi,

I am already using HO 3.0 and it is working fine. I tried to download and install HO 4.0.. But When I tried to Install HO.. I am getting a error message.

"The version of this file is not compatible with the version of windows you're running. Check your computer's system information to see whether you need an x86 or x64 version of the program."

I have tried to install bo

[2020-11-28 23:43] wsbrenk commented on #781
thanks to the DB of @Synthespian I am now pretty sure why it happens.

if the user downloads only once per week, the download fetches training info and matches in one single run. Unfortunately the training effect calculation is then done before the matches were downloaded. without matches no training progress.

if the matches were downloaded before, then the download after training would find the

[2020-11-29 11:56] Vigneshr22 commented on #808
Hi,

Will I be able to use H.O 4.1 in my computer.. or should I wait for 5.0 to release..Please advise. Thank you.

[2020-11-29 14:26] tychobrailleur opened #811 "[BUG] OAuth Access token not preserved on macos"
**Describe the bug**
When restarting HO on Macos, some users are prompted with the OAuth challenge, which indicates that the OAuth access token doesn't seem to be stored in the `USERCONFIGURATION` table.

**To Reproduce**
Steps to reproduce the behavior:
1. Start HO
2. Download details from Hattrick, connect using OAuth
3. Shut down HO
4. Start HO again
5. Try downloading details again from Hattri

[2020-11-29 14:28] tychobrailleur commented on #811
<img width="440" alt="Screenshot 2020-11-29 at 14 27 52" src="https://user-images.githubusercontent.com/114285/100544641-1faa6d00-324f-11eb-9689-4c8ccef40eb7.png">

[2020-11-29 15:45] tychobrailleur commented on #811
That is quite a strange one – I thought that using the closing button in the titlebar was solving the problem, but it seems to be happening randomly, as if there was some sort of race condition between `windowClosed` and `windowClosing`?

[2020-11-29 18:40] akasolace commented on #781
should be closed by #809

[2020-11-29 18:41] akasolace commented on #781
#809 will need to be backported to 4.x branch

[2020-11-29 21:51] Synthespian commented on #781
Nice spot.  I have to say I generally have only ever done 1 download a week, each training update to get everything.  I think the idea to move the training calc post match download is sensible.

[2020-11-29 22:14] wsbrenk commented on #367
I've been at the gui programming for a few days now and I'm still having a bit of a hard time doing it. in addition, the merges of the master-branch are becoming more and more complicated.

do you think there would be a chance to merge this on master and you @akasolace  and @tychobrailleur would have a look on what i'm doing wrong. why the cells in my youth table view will not display what i expec

[2020-11-30 09:47] #785 closed

[2020-11-30 09:53] akasolace commented on #367
@wsbrenk ok go ahead and open a PR ....

[2020-11-30 18:30] wsbrenk opened #814 "[BUG] team analyzer shows incomplete lineups and no more info about played formation"
Feedback from wettnetzer  (HO 4.1):

In the team analyzer, the played formations are missing in the last column.

Blocked, transferred and injured players are not listed in the lineup of past matches. There are then only 9 or 10 players left on the lineup. In previous versions these players were marked in color, so you knew they weren't going to play in the next game. With the current variant, how

[2020-11-30 18:32] wsbrenk opened #815 "[BUG]Add teams to team analyzers team combo box"
Feedback from wettnetzer
...
Then perhaps a suggestion. I think it would be very handy if you could insert a team by hand that you would like to analyse. This is not absolutely necessary, but it would be a nice to have.

[2020-11-30 18:41] wsbrenk opened #816 "[BUG]Layout of the special events tab"
Feedback from wettnetzer (HO 4.1)

In the Special Events tab, you have made the line height significantly higher in one of the previous versions, which makes it more difficult to keep track, or can you set this as a user.
Perhaps a suggestion on the special events. I think it would be great if you could sort the table with a click on the column header, as is the case in the player overview.

[2020-11-30 20:05] akasolace commented on #814
@tychobrailleur I think it is related to what you commit recently, right ?

[2020-12-01 10:53] akasolace opened #819 "[BUG] various displays bugs in lineup Panel"
Since introduction of compact view, the overlay buttons are badly positioned...they could be moved on first row

![image](https://user-images.githubusercontent.com/1136496/100731277-76d54c80-33cb-11eb-95a8-9a599e507ed2.png)

not nice visual for empty playerpanel without swap capabilities:

![image](https://user-images.githubusercontent.com/1136496/100731484-bdc34200-33cb-11eb-9011-f2cd9e8c05bf.png

[2020-12-01 19:10] wsbrenk commented on #367
@akasolace @tychobrailleur any idea, what i'm doing wrong?

[2020-12-01 19:23] akasolace commented on #367
I asked you if you could share your dB

[2020-12-01 19:23] akasolace commented on #367
I can t test at the moment as I have no youth team

[2020-12-01 21:41] wsbrenk commented on #815
this is an ancient feature not working anymore

modules->team analyzer->favorites->add shows a little dialog box where you can enter a team id. if you save the team name ist shown in the dialog box but not visible elsewhere, even not in the team combo box.

[2020-12-01 22:53] wsbrenk commented on #814
there were some bugs in team analyzers config settings. isShowUnavailable was set randomly i think. now it  again can be set in module config settings.

still missing is the colored marking of unavailable players.
if the formation is displayed correctly, i could not test yet.

[2020-12-01 23:05] wsbrenk commented on #367
[db_Juventus Brenk 2-2020-12-01.zip](https://github.com/akasolace/HO/files/5625974/db_Juventus.Brenk.2-2020-12-01.zip)

[2020-12-02 11:13] akasolace commented on #367
@wsbrenk I made a commit fixing your issue

[2020-12-02 12:46] #819 closed

[2020-12-02 20:46] wsbrenk commented on #367
@akasolace thanks

[2020-12-02 20:56] paulreds opened #821 "[BUG] MacOS trouble with CHPP authorization code"
**Describe the bug**
Using version 4.1 on my Mac I'need to reinsert CHPP code each time I restart it trying to download .hrf file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'file'
2. Click on 'download'
3. Select dowload in the dialogue window
4. See error

**Screenshots**
![Schermata 2020-12-02 alle 21 41 12](https://user-images.githubusercontent.com/74708272/100930316-34099680-3

[2020-12-03 07:36] akasolace commented on #821
duplicate of #811

[2020-12-05 09:21] dtslvr commented on #811
I don't know if it's related, but besides adding the access token every time I also have to set the path of my `.hrf` files.

[2020-12-05 09:44] akasolace commented on #811
@tychobrailleur have you had time to look at this one ?

[2020-12-05 10:30] tychobrailleur commented on #811
Thanks @dtslvr, it *is* related: user preferences (incl. OAuth access token) don't get saved when HO exits.  Arguably we could save it right after we have retrieved from HT.

I haven't, but I am looking at it right now, hopefully I should have a fix soon.
As an aside, I am experiencing an NPE with `master` due Youth changes:

[code]
and line 148 in `ConvertXml2Hrf`:

[code]

[2020-12-05 11:41] tychobrailleur commented on #811
I am convinced there is a race condition here, as this takes the form of a “heisenbug”: when adding logging statements to debug (or simply debugging), the problem disappears...  What is unclear to me is whether something changed in HO or the JDK to cause this issue to emerge.  Or if the problem was always there but somehow now appears due some changes.

[2020-12-05 12:01] tychobrailleur commented on #811
I have created a PR with a fix that seems to work locally.  Having not been able to track down the cause of this, I am not fully convinced this fixes the issue for good, it would be great to have other people try out this fix (this may be challenging due to some NPEs on `master`).

[2020-12-05 12:02] tychobrailleur commented on #821
Closing as dupe of #811.

[2020-12-05 12:02] #821 closed

[2020-12-05 12:13] wsbrenk commented on #811
@tychobrailleur great to see you back. Concerning youth NPE. Thanks for that. Will fix this immediately. I guess you don't have an academy, which is a big mistake;-)

More concerning this, in my "youth-ticket" #367

[2020-12-05 12:27] wsbrenk commented on #367
beside the NPE discovered by @tychobrailleur there will be some kind of "weak" breaking changes in the current commits of my #367 branch(es).

i changed the youthplayer table for example and i will handle this by resetting my own development database by a current HO4 database, which will be updated to a new and correct HO5 candidate. I don't want to enable DbUpdater to take care of intermediate HO

[2020-12-05 14:09] wsbrenk commented on #814
@tychobrailleur commit e96d911f8edeabfb6b4cf9b18db1541281ae769b removed the player status colors. Could we reset this?

[2020-12-05 14:13] #811 closed

[2020-12-05 15:02] akasolace commented on #814
@wsbrenk the idea was to remove the color with clearer icons... not sure we want to step back on this one ....
don't you think?

[2020-12-05 16:04] wsbrenk commented on #814
@akasolace i agree - but i think we need some kind of displaying the information that a player will NOT occure in the lineup. This i understand is what wettnetzer is missing.

[2020-12-05 16:18] akasolace commented on #814
@wsbrenk but the injury icon should be sufficient, no? Personally, I preferer this than changing the font color ....

[2020-12-05 19:35] wsbrenk commented on #814
@akasolace i do not see those icons (injury, sold, red card) in team analyzers opponent team lineups.

[2020-12-06 10:42] wsbrenk commented on #814
în UserTeamPlayerPanel i found some icon magics. this is not used for opponent team lineups, isn't it.

[2020-12-06 11:27] wsbrenk commented on #367
![SkillInfoColumn](https://user-images.githubusercontent.com/11821502/101278783-1a54a180-37be-11eb-9917-8c74733958cd.png)

my next project could be some kind of SkillInfoColumn which displays a colored bar, presenting all the info about youth skill as shown above.

[2020-12-06 11:41] wsbrenk commented on #367
@akasolace @tychobrailleur Will one of you get that in half a day? If not, will I deal with it in the next few weeks.

[2020-12-06 11:43] wsbrenk opened #825 "[Feature] SkillInfoColumn showing colored bar for youth academy"
![SkillInfoColumn](https://user-images.githubusercontent.com/11821502/104838535-cd371580-58bb-11eb-81c2-faf8ce4e746f.png)

my next project could be some kind of SkillInfoColumn which displays a colored bar, presenting all the info about youth skill as shown above.

_Originally posted by @wsbrenk in https://github.com/akasolace/HO/issues/367#issuecomment-739489197_

@akasolace @tychobrailleur Will

[2020-12-06 12:13] wsbrenk commented on #825
that sounds promising: https://ernienotes.wordpress.com/2010/12/27/creating-a-java-swing-range-slider/

[2020-12-06 12:27] wsbrenk commented on #825
the implementation with slider offers the following options:

* readonly for only displaying the values (text shows decimals for at least the current value, if possible the start value too)
* readonly==false, to edit the start value (may not be in the table cell itself, but in a separate dialog)
  edit the current value could adjust the training speed, if there is some training available

[2020-12-06 19:23] akasolace commented on #825
@wsbrenk At the moment I am on the lineup tab. I want to reorganize it and make it more usefull. The code behind is quite a mess so I end up doing a lot of refactoring. When I am done with this I will be happy to help you. I might need another 2 weeks.

[2020-12-06 19:24] akasolace commented on #814
@wsbrenk not sure, I would need to have a look

[2020-12-11 00:37] cr0ssw1nd opened #827 "[BUG] Download/Upload matches in Lineuptab doesn't work with one of three teams"
[HO-2020-12-11.log](https://github.com/akasolace/HO/files/5676378/HO-2020-12-11.log)

**Describe the bug**
At Lineup tab, subtab Upload/Download, I hit the "Refresh list" button.
It takes about 10 secs, and the slider on the bottom slides multiple time from left to right.
Looking to the log file attached it seems that each time there is an error, the slider restarts.
In the end, after finishing, I

[2020-12-11 09:00] leschmuh opened #828 "[BUG] No subskill increase for friendlies"
Training for those players who played the friendly does not seem to be taken into account for subskill calvulations. For those having played in the league match everything is fine and subskill is ccorrectly calculated for full training, osmosis training and so on.

I am using 4.1 stable version with the JRE package provided on Windows 10 (Version 2004, Build 19041.630). Having this same problem on

[2020-12-12 12:59] akasolace opened #829 "[BUG]"
@weisJ   hello maybe, you can help me with the following issue I am struggling with.
I can't adjust the background of one column in a Jtable.

![image](https://user-images.githubusercontent.com/1136496/101984389-7bc6b580-3c81-11eb-9250-e9f75d506b60.png)

In case you wish to help and to save you time navigating the code.
The JTable is define here:

https://github.com/akasolace/HO/blob/8cd13ac282494

[2020-12-12 13:02] akasolace commented on #829
@weisJ actually I just tested with Nimbus, and it is working so it is a Darklaf bug .... arf spent so much time on this I should have tested Nimbus right away.

![image](https://user-images.githubusercontent.com/1136496/101984562-8766ac00-3c82-11eb-8f3e-fe0592747cdf.png)

[2020-12-12 13:06] akasolace commented on #829
@weisJ also would you be interested joigning our channel on Slack (not very active those days but still helpful to communicate)

[2020-12-12 20:39] weisJ commented on #829
Sure :) just send me the link and I'll join.

[2020-12-13 11:34] akasolace commented on #829
@weisJ     [HO channel](https://join.slack.com/t/ho-tle6272/shared_invite/zt-kcobqfz4-9pxK_GhpN3LL6h7rFQjRww)

[2020-12-13 16:52] wsbrenk commented on #825
Additional feature request:
- double click on skill column cell should start a skill edit dialog
- dialog should show bar with width increased by factor of 10
- the slider thumbs should be enabled to edit current value and start value
- additionally the dialog box shows edit fields for start and current values (constraints are startLevel and currentLevel if given)

[2020-12-14 07:48] johari75 opened #831 "CHPP Download Error"
**Describe the bug**
CHPP download doesn´t work correctly. See error messages in attachment.

**Screenshots**
![CHPP_Download](https://user-images.githubusercontent.com/67096604/102053666-64560c80-3de8-11eb-9a73-2674a0fe70c5.JPG)

![CHPP_Download_2](https://user-images.githubusercontent.com/67096604/102053831-ac752f00-3de8-11eb-8658-c382ce54db9e.JPG)

**Platform information:**

- OS: [Windows 10 p

[2020-12-14 11:06] akasolace commented on #831
@johari75 could you please share your db (for example using wetransfer)

[2020-12-14 13:39] akasolace commented on #829
@weisJ it seems this will be closed with 2.5.4 release, correct ?

[2020-12-14 19:07] johari75 commented on #831
@akasolace I don´t know what´s going on. A few minutes ago I tried the download again and it worked. So sorry for the inconvenience. I´ll have an eye on that issue.

[2020-12-14 22:16] weisJ commented on #829
Correct. But to be sure my fix actually solves your problem you might want to try out the snapshot version.

[2020-12-14 22:19] wsbrenk commented on #367
question to the experienced hsql experts: is it reasonable to include the line-ups of the youth players in the table matchlineupplayer? wiithout youth contents the rows count is around 124.000 records for my first team. Including the youth matches would increase this by 50% approximatly. Senior 2 matches per week, yuniors a little bit more than 1.
is that an amount that hsql can still withstand a

[2020-12-15 20:25] akasolace commented on #829
ok I will do that ...

[2020-12-16 07:59] wsbrenk commented on #828
maybe same as #781

[2020-12-16 15:10] leschmuh commented on #828
Yes, most probably the very same issue.

[2020-12-16 15:10] #828 closed

[2020-12-17 21:48] akasolace opened #832 "[BUG] weather and weather forecast not correctly fetch for non official game"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information:**
 - OS: [Windows / macOS / Linux]
 - Version (including build number)

**Additional context**
Add an

[2020-12-20 10:59] wsbrenk opened #833 "[FEATURE] New World Cup format"
Hattrick announced new NT formats (https://www.hattrick.org/Help/Rules/NewNationalTeams.aspx).

We have to adapt HO's NT support to those changes. A lot of chpp files would be affected. Further Infos see here https://www.hattrick.org/Forum/Read.aspx?n=1&nm=40&t=17380663&v=0

[2020-12-20 17:20] Volker-brdb opened #834 "[BUG] HO 4.1 not starting....start process hangs at step Load XtraDaten"
**Describe the bug**
HO 4.1 not starting....start process hangs at step Load XtraDaten

**To Reproduce**
- Start HO 4.1
- kill via TaskManager
- start HO 4.1 again

**Screenshots**
![Unbenannt](https://user-images.githubusercontent.com/72230479/102719698-bcf93e00-42ef-11eb-8cf9-25644ce800f5.JPG)

**Platform information:**
 - OS: Windows
 - Version HOSetup-4.1.3310.2 and HO-4.1.3310.2-portable-win

[2020-12-20 18:13] wsbrenk commented on #834
it is not a good idea to kill HO via TaskManager - you need to restore one of your previous database backups to start successfully again.

[2020-12-20 19:01] Volker-brdb commented on #834
It has never started successfully. This occurs since I installed it the first time.
Even putting a db-folder and a user.json into the ho-folder doesn't help

[2020-12-20 21:49] akasolace commented on #829
@weisJ sorry for the very late feedback but I can confirm 2.5.4 fixed the issue for me!
Thank you one more time for your amazing reactivity !

[2020-12-20 21:49] #829 closed

[2020-12-21 08:30] wsbrenk commented on #834
could you check if there is an error message logged in the log file in the folder %APPDATA%/HO/logs?

[2020-12-21 08:39] Volker-brdb commented on #834
Yes....

**output.log**
 [Info]    HO: VERSION: 4.1   versionType:  RELEASE   RevisionNumber: 3310

**error.log**
Dez. 21, 2020 9:38:01 AM org.hsqldb.persist.Logger logInfoEvent
INFORMATION: dataFileCache open start
Dez. 21, 2020 9:38:01 AM org.hsqldb.persist.Logger logInfoEvent
INFORMATION: dataFileCache open end
java.lang.ArrayIndexOutOfBoundsException: Index 49 out of bounds for length 49
	at c

[2020-12-21 11:49] wsbrenk commented on #834
@tychobrailleur @akasolace: looks like it's dealing with this #611

[2020-12-21 12:06] wsbrenk commented on #834
https://github.com/akasolace/HO/commit/7b681fa0d62837e494478197f1819e6f68b69a62 should fix the ArrayIndexOutOfBoundsException, but i have no idea what risks and side effects this has and if this would fix this issue completly.

[2020-12-22 10:04] Raidri opened #835 "[BUG] Can't download current matches and league data"
**Describe the bug**
If I go to "Download" and select "current matches" or "league data" and want to download it I get many errors.
The squad data download works as expected.

**Screenshots**
![part_1](https://user-images.githubusercontent.com/148783/102876160-1fb01e00-4445-11eb-98ad-4930ed358a3e.PNG)
![part_2](https://user-images.githubusercontent.com/148783/102876174-23dc3b80-4445-11eb-9b9e-4912

[2020-12-22 18:37] wwn opened #836 "[BUG] no subskill for Set Pieces in tabs Training and Squad"
Current state:
On tab Training in the top right corner the trainings are set well: week 9 Crossing(Winger), week 10...13 Set Pieces.

- In the left big pane the green/red bars are in column Winger.
- On tab Squad there are no fraction numbers in column Set Pieces. In column Winger are some.

Desired state:

- On tab training show green/red bars on the left big pane for Set Pieces as well.
- On tab

[2020-12-31 11:39] velikodsky opened #837 "[BUG] Button "Help improve rating prediction" doesn't work in other time zones"
**Describe the bug**
When pressing the button "Help improve rating prediction" in Lineup, the message is showed "Your data is not recent, last update is 31 груд. 2020 р. 12:11:59, please start by downloading new data from Hattrick". But I just downloaded the data. It is 31.12.2020 13:12 UTC+2 now.

The problem is in the time zone difference: Hattrick time is 12:12, but my local time is 13:12. When

[2020-12-31 11:56] velikodsky opened #838 "[BUG] Team spirit and confidence are incorrect for tournament venue"
**Describe the bug**
When selecting the Venue "neutral (Tournament/Non-official)" in Lineup, the fields "Team spirit", "Sub of team spirit", "Confidence" became disables and are set to content/wonderful. This is correct. However, the parameters are not really changed: the predicted ratings are calculated with previous values of the parameters. One need to set them manually:
1) set Venue to "derby

[2020-12-31 16:54] akasolace commented on #838
hello,

can you please check if this bug still exist with the latest development version ? Please install it separetly along your current install as this version is still notvery well tested.
But I can't reproduce the issue you are describing with this version.
Thank you

[2020-12-31 16:55] akasolace commented on #837
ok thank you.
At the moment unfortunatly this feature is not functioning.

[2020-12-31 19:18] velikodsky commented on #838
Yes, the bug is still exist in HO 5.0 DEV (r3351).

1. After "File -> Download" I have:
Venue = Home
Team spirit = irritated
Confidence = poor
Midfield = 4.27
Right/central/left attack = 8.51/3.59/6.38

2. Setting "Venue = Tournament" changes Midfield but not Attack:
Team spirit = content
Confidence = wonderful
Midfield = 3.60
Right/central/left attack = 8.51/3.59/6.38

3. Setting "Venue = Home" r

[2021-01-01 12:14] akasolace commented on #838
@velikodsky both bugs should be fixed (I mean also the bundled JRE). I will wait for your confirmation before closing this ticket.

[2021-01-01 14:09] velikodsky commented on #838
I confirm that both bugs are fixed in r3354. Thank you!

However, there is another problem now: when I go from Tournament venue to Home venue, Time spirit and Confidence are not changed and keep content/wonderful value. May be, they should reset to their current values. Or alternatively, there should be a way to reset them manually without downloading data.

[2021-01-01 17:03] wsbrenk commented on #367
![image](https://user-images.githubusercontent.com/11821502/103443038-74307600-4c5b-11eb-83d1-6e3fffc006c1.png)

edit youth training is working

[2021-01-01 17:06] wsbrenk commented on #367
![image](https://user-images.githubusercontent.com/11821502/103443075-d4bfb300-4c5b-11eb-9a4b-974a04ae732a.png)

youth player overview and details view.

i'm working on skill calculation now. View needs a lot of tuning (not fine tuning;-)

[2021-01-01 17:12] akasolace commented on #838
Yes this is exactly what I was planning to do. I will add a button "reset to current values"

[2021-01-01 17:12] #838 closed

[2021-01-01 17:15] akasolace commented on #367
@wsbrenk you are making good progress !

[2021-01-01 17:39] manfredberner opened #840 "[BUG] HO! can't access internet. proxy ? Firewall ?"
[HO-2021-01-01.log](https://github.com/akasolace/HO/files/5759214/HO-2021-01-01.log)
Hello,

I get multiple errors with new HO 4.1 especially when I try to download team data. Find log below.

**Platform information:**
 - Windows 10

[2021-01-01 18:09] akasolace commented on #840
@manfredberner those are annoying but nothing wrong here.
@wsbrenk one of this day, lets clean up those verbose debug message

[2021-01-01 18:24] wsbrenk commented on #840
@akasolace especially if they are declared as Errors. But to be honest, i didn't find the place, where the wrong position ids between scorer and bench positions were used.

[2021-01-01 19:32] manfredberner commented on #840
@akasolace thanks for quick reply. they are really annoying it takes some minutes for each update and I have to click on OK for each error message. I cannot download historical data as it would take hours me clicking on OK.

[2021-01-01 19:33] manfredberner commented on #840
[HO-2020-12-25.log](https://github.com/akasolace/HO/files/5759335/HO-2020-12-25.log)
 btw: some more errors I got the other day

[2021-01-01 19:34] akasolace commented on #838
@velikodsky

I made something like this

![image](https://user-images.githubusercontent.com/1136496/103445134-b9ab6e00-4c70-11eb-874a-6aef4ce331f1.png)

[2021-01-01 19:35] akasolace commented on #840
@manfredberner this is a different issue, not related to the logs you shared

[2021-01-01 19:36] akasolace commented on #840
ok this log is shows you have an issue.  Is this happening all the time or only on some occasions?

[2021-01-01 19:39] velikodsky commented on #838
@akasolace
Oh, good! It shall be convenient.

[2021-01-01 19:51] manfredberner commented on #840
Each time I download

[2021-01-01 20:50] akasolace commented on #840
could you share your database?  if you can paste here a downlable link, I will have a look

[2021-01-01 21:58] manfredberner commented on #840
[db.zip](https://github.com/akasolace/HO/files/5759485/db.zip)

here it is. can you delete when you have it so not everyone sees it?

[2021-01-02 09:03] elmero1 opened #842 "Change Language is not possible"
It's not possible to change the language. After restart the language is still in English.

[2021-01-02 10:39] akasolace commented on #842
which language did you try to select ?

[2021-01-02 11:50] elmero1 commented on #842
German.

[2021-01-10 10:53] #831 closed

[2021-01-10 10:55] #790 closed

[2021-01-10 18:41] wsbrenk commented on #733
@akasolace in HO V5.0 i don't observe this anymore. Your gui refactoring seems to repair it.

[2021-01-12 15:24] Coachalex1983 opened #852 "[BUG] I can't install the software..."
Hello,

after downloads some parts of the news HO 4.1...
Without and with Java integrated,

with this version :
-> HOSetup-4.0.3308.2.exe
-> HOSetup-4.0.3308.2-JRE.exe

I have the same mistake during installation try ->
"This software can't be execute on this computer"

Do you recognize this problem ? What sort of his this ?

Thanks !

[2021-01-12 15:26] akasolace commented on #852
never saw such error.  The software is not signed so maybe you have to authorise installation of unsigned software.

[2021-01-15 08:32] NaTakk3422 opened #853 "Training Calculation not working[BUG]"
**Describe the bug**
Players played on cup game on Wednesday and this is listed also in the last match colum. But in the skill table no green +0.10 or somethin like that is displayed. On Players playing in the friendly on saturday it counts.

**To Reproduce**
Sync new data

**Screenshots**
![grafik](https://user-images.githubusercontent.com/77483301/104700482-82c76480-5714-11eb-8786-7531112e200e.p

[2021-01-15 17:30] akasolace commented on #853
@wsbrenk not sure if this is still relevant in master ?

[2021-01-15 19:13] wsbrenk commented on #853
same as #781 i think.

[2021-01-16 12:23] NaTakk3422 commented on #853
maybe the same. but what is the solution?

[2021-01-16 21:51] wsbrenk commented on #853
#813 and #803 are the solutions. the first is on the master branch, the 2nd on release/4.x. both not yet released.

[2021-01-17 10:25] wsbrenk commented on #367
![image](https://user-images.githubusercontent.com/11821502/104837634-22702880-58b6-11eb-9a4f-6a56dde68872.png)

right now i'm quiet happy with the training history skill numbers  in youth player's details table

next steps to attack could be:
- skill info display in overview table
- start skill value editor to adjust player's start skills which are now all set to 0 if there are no messages from t

[2021-01-19 14:59] aristodemos2008 opened #856 "[BUG] too many player orders"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'lineup' -> 'upload/download'
2. Download formation
3. Go to 'lineup' -> 'match orders'
4. See error

**Screenshots**
[https://www.screencast.com/t/o90ZohhTXACc](https://www.screencast.com/t/o90ZohhTXACc)

**Platform information:**
 - OS: Windows
 - Version HO-4.1.33

[2021-01-21 06:42] wsbrenk commented on #856
i can reproduce this. in Hattrick it is allowed to create more than three substitutions, even if only three can be executed in one match.

[2021-01-21 07:43] akasolace commented on #827
I guess this has been fixed in master. However, I will wait for confirmation before closing this one.

[2021-01-21 07:46] akasolace commented on #842
@elmero1 I never heard of such issue. Also I tried to reproduce many time, never could.
Do you still experience that bug ?   Whic version of HO are you using and on which platform?  Also could you please give a try to the latest development version?

[2021-01-21 07:48] akasolace commented on #835
@Raidri do you still experience that bug ?  Could you please test if this bug still exist in latest development version?

[2021-01-21 07:50] akasolace commented on #836
@wwn could you please test if you still have this issue on latest development version ? (5.0 DEV)

[2021-01-21 07:53] akasolace commented on #840
@manfredberner sorry I had no time to look at your issue so far. Before I dig into it, could you please test if you still experience this issue in latest 5.0 dev version.  Please backup your database before testing it.  If issue still exist I will start working on it.

[2021-01-21 07:54] akasolace commented on #852
@Coachalex1983 have you find a solution to your problem?

[2021-01-21 07:54] #852 closed

[2021-01-21 08:01] akasolace commented on #837
An immediate solution is anyway to disable the button rating prediction.
However, this should be fixed because it might impact other area where the same code logic is applied.
@velikodsky could you please test latest dev version (5.0) and see if you have same kind of error on the lineup tab? A refresh of data is requested before allowing setting up lineup. I guess in your case you might experience

[2021-01-21 08:03] akasolace commented on #454
closed by e63f98edeafcc4f9aa79055b2ec04040721226d5

[2021-01-21 08:03] #454 closed

[2021-01-21 08:04] #733 closed

[2021-01-21 08:05] #674 closed

[2021-01-21 08:06] akasolace commented on #783
closed with e63f98edeafcc4f9aa79055b2ec04040721226d5

[2021-01-21 08:06] #783 closed

[2021-01-21 08:11] akasolace commented on #808
@Vigneshr22 building 32bits executable for all platform both with bundled and unbundled jre would be a big amount of work. Considering that 32bits OS would be generally gone from the market shortly, it is not ressources I want to invest into.
I suggest you to build HO for your architecture ....

[2021-01-21 08:11] #808 closed

[2021-01-21 08:17] Raidri commented on #835
@akasolace seems to be fixed in the new version.

[2021-01-21 08:19] akasolace commented on #835
awesome

[2021-01-21 08:19] #835 closed

[2021-01-21 11:10] wwn commented on #836
gonna give my best, maybe eo week

[2021-01-21 12:24] akasolace commented on #836
ok great ..

[2021-01-22 14:42] manfredberner commented on #840
Where can I download 5.0 dev zip portable? When I update via HO itself it does not start after update :-/

[2021-01-22 14:46] akasolace commented on #840
https://github.com/akasolace/HO/releases/tag/dev

[2021-01-22 14:57] manfredberner commented on #840
thanks. I unzipped it to a new folder and when I start I get the following error:

java.lang.NullPointerException: Cannot invoke "core.model.Team.getTeamSpirit()" because the return value of "core.model.HOModel.getTeam()" is null
	at module.lineup.LineupSettingsPanel.<init>(LineupSettingsPanel.java:103)
	at module.lineup.LineupRatingAssistantPanel.initComponents(LineupRatingAssistantPanel.java:36)

[2021-01-22 15:12] akasolace commented on #840
@manfredberner how do you obtain the error? You copy the database in HO! folder and then you launch the app, correct ?

[2021-01-22 15:27] manfredberner commented on #840
Downloaded zip (portable win with jre) and unzipped. Even deleted db to start fresh

[2021-01-22 15:37] akasolace commented on #840
so you have the crash even without a database ? just launching HO! ?

[2021-01-22 15:40] manfredberner commented on #840
Yes, removed db and user json to start from scratch

[2021-01-22 15:43] akasolace commented on #840
you are under windows ?

[2021-01-22 15:45] manfredberner commented on #840
Yes

[2021-01-22 15:51] akasolace opened #859 "[BUG] NPE on fresh install"
**Describe the bug**
NPE on fresh install

**To Reproduce**
Launch HO 5.0 dev

**Screenshots**

![image](https://user-images.githubusercontent.com/1136496/105513151-41b1f000-5cd2-11eb-8785-447662694636.png)

[2021-01-22 15:52] akasolace commented on #840
I just opened a ticket for this:  #859

[2021-01-22 20:57] #859 closed

[2021-01-22 21:01] akasolace commented on #840
@manfredberner I fixed the issue that was causing the crash on fresh install.
Please try now with latest DEV version (3389) and let me know if you still experience this issue.
thank you

[2021-01-23 09:10] wwn commented on #836
did on your master r.0.0 smthg, last commit is:
commit 060cab8458fad56e9c6f797b2e267f91ce1d567f
Author: akasolace <thisiakasolace@gmail.com>
Date:   Thu Jan 21 22:45:19 2021 +0100
fixes League module, when alltid return different array size for statistics

bug seams to remain open: no fractural digits in SP in Squad and no bars SP in Training

[2021-01-23 10:01] akasolace opened #860 "[BUG] Lineup: initialisation of Lineup setting Panel is incorrect"
Initial value should be reset after data downoald ......or reloaded each time

[2021-01-23 11:00] manfredberner commented on #840
Errors still occur with 5.0. First download took over 30 minutes due to multiple errors which needed an "OK" from my side. See log attached.
[HO-2021-01-23.log](https://github.com/akasolace/HO/files/5860061/HO-2021-01-23.log)

[2021-01-23 13:11] wsbrenk commented on #840
@akasolace initColumns of table AUFSTELLUNG doesn't init SOURCESYSTEM column

[2021-01-23 13:22] akasolace commented on #840
should be fixed by 688b4e43c973de6fd74120286a7e02297f8b9a95

[2021-01-23 13:23] akasolace commented on #840
@manfredberner I will soon release new dev version that you could test ....

[2021-01-24 22:09] wsbrenk commented on #856
@akasolace testing my changes i got this:

java.util.ConcurrentModificationException
	at java.base/java.util.ArrayList$Itr.checkForComodification(ArrayList.java:1013)
	at java.base/java.util.ArrayList$Itr.next(ArrayList.java:967)
	at module.lineup.lineup.MatchAndLineupSelectionPanel.update_jcbUpcomingGamesAfterSendingMatchOrders(MatchAndLineupSelectionPanel.java:540)
	at module.lineup.lineup.Match

[2021-01-24 22:31] wsbrenk commented on #856
@akasolace couldn't reproduce the concurrent modification error
but that doesn't sound good

[2021-01-24 22:46] wsbrenk opened #865 "[BUG]team analyzer simulation is very slow"
feedback from Hattrick forum

[2021-01-25 07:31] #856 closed

[2021-01-25 18:12] wsbrenk commented on #836
I'm afraid that's intentional. when HO see's an complete skillup in the Hattrick-Downloads, it reset it's own subskill calculations to 0. this is very likely if set pieces is trained.

[2021-01-25 18:16] wsbrenk commented on #825
TODOs:
* set column width
* sorting
* double click->open skill editor to change start skills

[2021-01-25 21:15] poteus opened #866 "[BUG] Upload lineup shows error when uploading for first time"
**Describe the bug**
Error message: An error occurred. java.util.ConcurrentModificationException
This error appears just after uploading lineup.
If you upload a 2nd time, the error will not appear.

I also noticed that the date and time of the game was wrong. I play on Wednesday at 19:30 (Central US).  It says Thursday at 02:30. Maybe time in GMT instead of Local?

**To Reproduce**
Steps to reprod

[2021-01-26 09:58] akasolace opened #868 "[BUG] Lineup Panel: incorrect display of match time when in different time zone"
as reported by @poteus

**Describe the bug**
I also noticed that the date and time of the game was wrong. I play on Wednesday at 19:30 (Central US). It says Thursday at 02:30. Maybe time in GMT instead of Local?

@poteus would you mind sharing your database here that I could do some testing ?

Thank you

[2021-01-26 09:59] akasolace commented on #866
@poteus  I will look into this. For the second issue you mentioned I created a dedicated ticket:  #868
Would be nice if you could share your database in there that I could do some testing.
Thank you

[2021-01-26 10:07] #865 closed

[2021-01-26 16:42] akasolace commented on #476
let's close this one and instead improve the display of ratings in match module

[2021-01-26 16:42] akasolace opened #869 "improve the display of ratings in match module"
let's close this one and instead improve the display of ratings in match module

_Originally posted by @akasolace in https://github.com/akasolace/HO/issues/476#issuecomment-767671834_

[2021-01-26 16:43] #476 closed

[2021-01-29 11:28] #869 closed

[2021-01-29 13:39] akasolace commented on #842
@wsbrenk could you reproduce this one ?

[2021-01-29 13:40] akasolace commented on #837
@velikodsky could you please test latest dev version (5.0) and see if you have same kind of error on the lineup tab? A refresh of data is requested before allowing setting up lineup. I guess in your case you might experience similar issue....

[2021-01-29 14:29] akasolace opened #872 "[BUG] function DBManager.areDataTooOld() returns incorrect value for non CET timezone"
**Describe the bug**
The function DBManager.areDataTooOld() returns incorrect value if user is in a different time zone than HT default

[code]

@wsbrenk  thinks he might have close it with #870

to be checked...

[2021-01-29 14:32] #837 closed

[2021-01-29 21:14] akasolace commented on #815
should be closed by #873

[2021-01-30 10:09] wsbrenk commented on #872
@akasolace this is again an example, that the way of downloading Hattrick's data is not handled very intuitively. It tooks a quiet long time to find out:

* ConvertXml2Hrf.java.CreateBasics appends the hattrick FetchedDate string to hrfstring
* HRFStringParser.java.createModel converts this first to a properties list
* which is given to HRFStringParser.createHOModel to create the new HOModel insta

[2021-01-30 10:27] wsbrenk commented on #842
@akasolace with HO 4.1 i did:

* Datei->Einstellungen->Sprache Deutsch->English ->Speichern ->restart HO -> HO display is the english one
* File->Preferences->Language English->Deutsch ->Save ->restart HO -> HO display is the german one

i could not reproduce @elmero1 issue - sorry

[2021-01-30 10:34] wsbrenk commented on #842
![Translation](https://user-images.githubusercontent.com/11821502/106354005-f1004f80-62ee-11eb-867a-0001cb2f7f53.png)

some german translations are still missing. but i don't think, that could be the reason for this issue!?

[2021-01-30 21:38] akasolace opened #874 "[BUG] no training prediction"
**Describe the bug**
as reported by a user on the forum ...

hello I started using HO 4.1 since 21 of November. But since I updated I have problem since I can see only the skill deteriotion subskill. But not the improving effects on subskill or the osmosis effects.
Here is the screenshot:
http://prntscr.com/w510at

I have downloaded all the matches of the season.

Is there any way to solve this is

[2021-01-31 14:32] manfredberner commented on #840
Unfortunately still lots of errors with HO-5.0.3392.0-portable-win-DEV-JRE. Log attached
[HO-2021-01-31.log](https://github.com/akasolace/HO/files/5899916/HO-2021-01-31.log)

[2021-01-31 14:34] akasolace opened #875 "[BUG] training"
@wsbrenk I create this ticket from a post on HT forum ....

**Describe the bug**

![image](https://user-images.githubusercontent.com/1136496/106387362-b45d5280-63d9-11eb-8427-e5adb451e1ed.png)

[2021-01-31 14:37] akasolace commented on #840
@manfredberner you have this when launching fresh new install ?

[2021-01-31 14:45] manfredberner commented on #840
yes

[2021-01-31 16:01] wsbrenk commented on #875
@akasolace my french is a lot more poor than my english is. You have to translate this. i fear the reporter is not happy with training prediction!?